﻿@model IEnumerable<CRFView.Adapters.ADJobViewStatus>
@{
    
    Layout = null;
}


<div>
    <table id="tblJobViewStatus" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Status Code</th>
                <th>Description</th>
                <th>Status Group</th>
                <th>Manual</th>
                <th>Notice</th>
                <th>Close</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.JobviewStatus</td>     
                    <td>@i.Description</td>   
                    <td>@i.StatusGroupDescription</td>   
                    <td>@i.IsManualStatus</td>   
                    <td>@i.IsNoticeRequestStatus</td>   
                    <td>@i.IsClosed</td>        
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
