﻿<div id="successMsg" class="alert alert-alt" role="alert" style="display:none;color:red;font-weight:500;width:25%">
    <button type="button" class="close" onclick="$('#successMsg').hide();">
        <span aria-hidden="true">×</span>
    </button>
    Record Saved Successfully.
</div>
<div id="errorMsg" class="alert alert-alt" role="alert" style="display:none;color:red;font-weight:500;width:25%">
    <button type="button" class="close" onclick="$('#errorMsg').hide();">
        <span aria-hidden="true">×</span>
    </button>
    Something Went Wrong.
</div>
<div id="deleteMsg" class="alert alert-alt" role="alert" style="display:none;color:red;font-weight:500;width:25%">
    <button type="button" class="close" onclick="$('#deleteMsg').hide();">
        <span aria-hidden="true">×</span>
    </button>
    Record Deleted.
</div>
<div id="EmailResendMsg" class="alert alert-alt" role="alert" style="display:none;color:red;font-weight:500;width:25%">
    <button type="button" class="close" onclick="$('#EmailResendMsg').hide();">
        <span aria-hidden="true">×</span>
    </button>
    Email resend is requested.
</div>
