﻿<div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-bottom:20px;padding-left:0px!important;padding-right:0px!important">
    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:0px!important">
        <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px!important">
            @Html.DropDownList("ddlFilter", new SelectList(ViewBag.FilterList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto ;background-color: #f3f7f9" })
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 input-search input-search-dark" style="padding-left: 0px!important;padding-right:0px!important"">
            <input type="text" id="txtSearch" class="form-control" placeholder="Search..." style="float: left; height:30%;border-radius:unset">
            <button onclick="Refresh()" class="btn btn-default btn-icon btn-pure input-search-close" style="color:black; margin-right:5px;">
                <i class="icon wb-close" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:left">
            <button onclick="return Search();" class="btn btn-primary modal-link">
                <i class="icon wb-search" aria-hidden="true"></i> Search
            </button>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:right; padding-right:0px">
        <button onclick="AddDetails();" class="btn btn-primary modal-link">
            <i class="icon wb-plus" aria-hidden="true"></i> Add
        </button>
        <button onclick="Refresh();" class="btn btn-primary">
            <i class="icon wb-refresh" aria-hidden="true"></i> Refresh
        </button>
    </div>

</div>