﻿<div class="col-xs-12" style="padding-bottom:20px;padding-left:0px!important;padding-right:0px!important">
    <div class="col-xs-9" style="padding-left:0px!important">
        <div class="col-xs-3" style="padding-left:0px!important">
            @Html.DropDownList("ddlFilter", new SelectList(ViewBag.FilterList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto ;background-color: #f3f7f9;width:152px" })

        </div>
        <div class="col-xs-6 input-search input-search-dark NopaddingLR" style="padding-left: 0px!important;padding-right:0px!important" ">
            <input type="text" id="txtSearch" class="form-control" placeholder="Search..." style="float: left; height:30%;border-radius:unset;width:152px">
            <select id="ddl2" class="form-control" style="width:152px;border-radius:unset; display:none"></select>
            <input type="text" id="txtDate" class="form-control" style="display:none;float: left; height:30%;border-radius:unset;width:152px;">
        </div>
        <div class="col-xs-3 NopaddingLR" style="text-align:left">
            <button onclick="return Search();" class="btn btn-primary modal-link pull-right">
                <i class="icon wb-search" aria-hidden="true"></i> Search
            </button>
        </div>
    </div>
    <div class="col-xs-3" style="text-align:right; padding-right:0px">
        <button onclick="AddDetails();" class="btn btn-primary modal-link">
            <i class="icon wb-plus" aria-hidden="true"></i> Add
        </button>
        <button onclick="Refresh();" class="btn btn-primary">
            <i class="icon wb-refresh" aria-hidden="true"></i> Refresh
        </button>
    </div>

</div>



