﻿@model IEnumerable<CRFView.Adapters.ADClientEDIInterface>
@{
    
    Layout = null;
}


<div>
    <table id="tblClientEDIInterface" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                
                <th>Client Code</th>
                <th>Interface Type</th>
                <th>Interface Name</th>
                <th>Interface Description</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.ClientCode</td>
                    <td>@i.InterfaceType</td>             
                    <td>@i.InterfaceName</td>
                    <td>@i.InterfaceDescr</td>
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
