﻿@model CRFView.Adapters.ADClientEDIInterface
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.Id)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize">Client:</lable>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.DropDownListFor(m => m.ClientId, new SelectList(Model.ClientList, "Id", "Name"), "Choose... ", new { onchange = "ddlClientListChange(this.value)", @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize">Interface Type:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                    @Html.RadioButtonFor(m => m.InterfaceType, "L",new {@id="radioLien" })
                    <label for="Liens">Liens</label>
                </div>
                <div class="radio-custom radio-sm col-md-5 col-sm-5 col-xs-5">
                    @Html.RadioButtonFor(m => m.InterfaceType, "C", new { @id = "radioCollection" })
                    <label for="Collections">Collections</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3"></lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.ContractId, new SelectList(Model.ClientContractList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })   
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Interface Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.InterfaceName, new { @class = "form-control" })
                <div id="ErrorInterfaceName" class="Invalid-feedback" style="display:none">
                    Please Enter Interface Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.InterfaceDescr, new { @class = "form-control" })
                <div id="ErrorInterfaceDescr" class="Invalid-feedback" style="display:none">
                    Please Enter Interface Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">EDI Instruction:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextAreaFor(m => m.EDIInfo, new { @class = "form-control" })
                <div id="ErrorEDIInfo" class="Invalid-feedback" style="display:none">
                    Please Enter EDI Instruction.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    $('input[type="radio"]').click(function () {
        debugger;
        if ($(this).attr('id') == "radioLien") {
            $("#ContractId").hide();
        }
        else if ($(this).attr('id') == "radioCollection") {
            $("#ContractId").show();
        }
        else {
            $("#ContractId").hide();
        }
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({

                url: '@Url.Action("ClientEDIInterfaceSave", "ClientEDIInterface")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientEDIInterface');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#InterfaceName").val().length <= 0) {
            $("#ErrorInterfaceName").show();
            return false;
        }
        else {
            $("#ErrorInterfaceName").hide();
        }
        if ($("#InterfaceDescr").val().length <= 0) {
            $("#ErrorInterfaceDescr").show();
            return false;
        }
        else {
            $("#ErrorInterfaceDescr").hide();
        }
        if ($("#EDIInfo").val().length <= 0) {
            $("#ErrorEDIInfo").show();
            return false;
        }
        else {
            $("#ErrorEDIInfo").hide();
        }

        return true;
    }





    function ddlClientListChange(selectedValue) {
        debugger;
        $.ajax({
            url: '@Url.Action("bindContractListByClientId", "ClientEDIInterface")',
            data: {
                ClientId: selectedValue
            },
            type: "POST",
            success: function (data) {

                var markup;
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Id + ">" + data[x].Name + "</option>";
                }
                $("#ContractId").html(markup);
            },
            fail: function (error) {

                $('#errorMsg').show();
            }

        })
    }
</script>



