﻿@model IEnumerable<CRFView.Adapters.ADLetters>
@{
    
    Layout = null;
}


<div>
    <table id="tblLetters" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Letter type</th>
                <th>Letter Code </th>
                <th>Letter Description </th>
                <th>Review Days</th>
                <th>Status Days</th>
                <th>Generate Invoice Num</th>
                <th>IsInactive</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.LetterType</td>     
                    <td>@i.LetterCode</td>
                    <td>@i.LetterDescr </td>  
                    <td>@i.ReviewDays</td> 
                    <td>@i.StatusDays</td>
                    <td>@i.GenerateInvoiceNum</td>
                    <td>@i.IsInactive </td>
                    <td>
                            <button onclick="ShowDetails(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
