﻿@model DAL.Portal_Users_VM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    th {
        font-weight: 500 !important;
        border: 1px solid black !important;
        background-color: #3a6dae !important;
        color: white !important;
    }

    table {
        color: black !important;
        border: 1px solid black;
    }

    td {
        border: 1px solid black !important;
        text-align: left;
    }

    lable {
        text-align: right;
    }

    tr:nth-child(even) {
        background: #e2f2fb;
        font-weight: 500;
    }

    tr:nth-child(odd) {
        background: #d0d49369;
        font-weight: 500;
    }

    .modal-content {
        width: 700px !important;
        margin: 30px auto !important;
        margin-top: 25% !important;
        height: 450px;
    }

    .modal-body {
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .modal-footer {
        height: 60px;
    }

    .modal-header {
        padding: 0px !important;
        background-color: #3a6dae !important;
    }

    .modal.fade .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 25%;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .modal.fade.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, -300px, 0);
        transform: translate3d(0, -300px, 0);
        opacity: 1;
    }
    .dataTables_length{
        padding-top:10px;
    }
    .dataTables_wrapper{
        width:100% !important;
    }
</style>

<div>
    <div class="panel-heading">
        @*<h3 style="text-shadow:none">List</h3>*@
    </div>
    <h3 style="text-transform: uppercase; text-align: left;color: darkblue;">Client Users</h3>
    <hr style="border-top: 5px solid #1161a8;" />
    <div class="panel-body">
        <div class="form-group" style="padding-bottom:50px">
            <div>
                <input type="text" id="txtSearch" class="form-control" onkeyup="Search();" placeholder="Search" style="width: 30%; float: left;">
            </div>
           
            <button onclick="location.href='@Url.Action("Index", "ClientUsers",new { Area = "Configuration"})'" class="btn btn-primary pull-right" style="margin-left:10px">
                <i class="icon wb-refresh" aria-hidden="true"></i> Refresh
            </button>
            <button onclick="AddDetails();" class="btn btn-primary pull-right modal-link">
            <i class="icon wb-plus" aria-hidden="true"></i> Add</button>
        </div>
        <div id="list">
            @*@{Html.RenderPartial("_partialList");}*@
            @{Html.RenderPartial("Pagging");}
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        var col =
        [{ "data": "id", "name": "id" },
        { "data": "ClientCode", "name": "ClientCode", "autowidth": true },
        { "data": "FullName", "name": "FullName", "autowidth": true },
        { "data": "UserName", "name": "UserName", "autowidth": true },
        { "data": "Email", "name": "Email", "autowidth": true },
        {
            "data": "LastLoginDate", "name": "LastLoginDate", "autowidth": true,
            "render": function (data) {
               return convertDate(data);
            }
        },
        { "data": "IsInactive", "name": "IsInactive", "autowidth": true },
        {
           "render": function (data, type, row) {
               var linkEdit = ' <button onclick="ShowDetails(' + row.id + ')" class="btn btn-default btn-icon btn-pure"><i class="icon wb-edit" aria-hidden="true"></i></button>';
               return linkEdit;
           }
       }];

        var url = "/ClientUsers/LoadData";
        makeDatatable(url,col);
      

    });
   
    function MaintainMenuOpen() {
        
        openSelectedMenu("Client Users");
    }


    function AddDetails() {
        $.ajax({
            url: '@Url.Action("Add", "ClientUsers")',
            data: {

            },
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
            },
            fail: function (error) {
                alert("some");
            }
        });

    }
    function ShowDetails(id) {
        $.ajax({
            url: '@Url.Action("Edit", "ClientUsers")',
            data: {
                id: id
            },
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
            },
            fail: function (error) {
                alert("some");
            }
        });

    }
    function Search() {
        var searchVal = $("#txtSearch").val();
        $.ajax({
            url: '@Url.Action("Search", "ClientUsers")',
            data: {
                value: searchVal
            },
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                makeDatatable();
            },
            fail: function (error) {
                alert("some");
            }
        });
    }
</script>



