﻿

@model CRFView.Adapters.Liens.DayEnds.PublicException.ViewModels.PublicExceptionVM
@{
    Layout = null;
}

<style>

    .rt{
        text-align: right;
    }

</style>


<form id="FormPublicException">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Public Exceptions
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12  form-group">

                <div class="col-xs-3 form-group">

                    <div class="col-xs-12">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-10">
                            @Html.RadioButtonFor(m => m.Rbtbtn, "optNoticeDate", new { @checked = true }) &nbsp;
                            <lable>By Notice Date</lable>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-10">
                            @Html.RadioButtonFor(m => m.Rbtbtn, "optTXRequest", new { }) &nbsp;
                            <lable>By TX Request</lable>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-left: 30px;">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-10">
                            @Html.RadioButtonFor(m => m.Rbtbtn, "optVerifiedSent", new { }) &nbsp;
                            <lable>By VerifiedSent Request</lable>
                        </div>
                    </div>

                </div>

                <div class="col-xs-9 form-group">

                    <div class="col-xs-12">
                        <div class="col-xs-2 rt">
                            <lable>From Date</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.DateTimePicker1, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                        </div>
                        <div class="col-xs-2 rt">
                            <lable>Thru Date</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.DateTimePicker2, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                        </div>
                        <div class="col-xs-2">
                            <input type="button" id="btnGetNonPublic" value="Get Non Public" class="btn btn-primary form-group" onclick="PublicExceptionLGetNonPubliclist();" />
                        </div>
                    </div>

                    <div class="col-xs-12">&nbsp;</div>

                    <div class="col-xs-12">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-3">&nbsp;</div>
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-3">&nbsp;</div>
                        <div class="col-xs-2" style="margin-left: -14px;">
                            <input type="button" id="btnGetPublic" value="Get Public" class="btn btn-primary form-group" style="width: 130px; margin-right: -34px; "onclick="PublicExceptionLGetPubliclist();" />
                        </div>
                    </div>

                </div>


            </div>



            <div class="col-xs-12  form-group">
                <div class="col-xs-12 NopaddingLR">
                    <br />
                    <div id="tabletblPublicException" style="height:350px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.NonPublicExceptionList.Count <= 0  ? "display:none" : "display:block")">
                        <table id="tblPublicException" class="table table-bordered dataTable table-hover grid " border="1" style="width:1840px;">
                            <thead>
                                <tr>
                                    <th class="no-sort" style="width: 13px;">Edit</th>
                                    <th style="width: 30px;">Public Job</th>
                                    <th style="width: 30px;">JobId</th>
                                    <th style="width: 82px;">Job Name</th>
                                    <th style="width: 82px;">Owner Name</th>
                                    <th style="width: 82px;">NCInfo</th>
                                    <th style="width: 82px;">Federal Job</th>
                                    <th style="width: 82px;">Client Code</th>
                                    <th style="width: 82px;">SendAsIsBox</th>
                                    <th style="width: 82px;">Placement Source</th>
                                    <th style="width: 100px;">Client Name</th>
                                    <th style="width: 100px;">Job Num</th>
                                    <th style="width: 30px;">Job Add1</th>
                                    <th style="width: 30px;">job City</th>
                                    <th style="width: 30px;">Desk Num</th>
                                    <th style="width: 30px;">Status Code</th>
                                    <th style="width: 30px;">Notice Sent</th>
                                    <th style="width: 30px;">Date Assigned</th>
                                    <th style="width: 30px;">Rev Date</th>
                                    <th style="width: 30px;">Job State</th>
                                    <th style="width: 30px;">Est Balance</th>
                                    <th style="width: 30px;">Start Date</th>
                                    <th style="width: 30px;">Branch Number</th>

                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.NonPublicExceptionList.Count >= 1)
                                {
                                    var j = 0;
                                    foreach (var i in Model.NonPublicExceptionList)
                                    {
                                        @*<tr>*@
                                        <tr id="tr@(j)">
                                            @*@Html.Hidden("jobidcheck", i.JobId)*@
                                            <td>
                                                <button type="button" onclick="ShowDetails(@i.JobId,@j)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                @*//@i.PublicJob*@
                                                <div class="col-xs-2 checkbox-sm">
                                                    @if(@i.PublicJob == true)
                                                    {
                                                    <input id=@i.JobId
                                                           name="chkIsPublicJob"
                                                           type="checkbox"
                                                           value=@i.PublicJob 
                                                           checked
                                                           />
                                                    }
                                                    else
                                                    {
                                                    <input id=@i.JobId
                                                           name="chkIsPublicJob"
                                                           type="checkbox"
                                                           value=@i.PublicJob 
                                                           
                                                           />
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                @i.JobId
                                                @*@i.DateRequested.ToShortDateString()*@
                                            </td>
                                            <td>
                                                @i.JobName
                                            </td>
                                            <td>
                                                @i.OwnerName
                                            </td>
                                            <td>
                                                @i.NCInfo
                                                @*<div class="col-xs-2 checkbox-sm">
            <input id=@i.NCInfo
                   name="chkIsNCInfo"
                   type="checkbox"
                   value=@i.NCInfo />
        </div>*@

                                            </td>
                                            <td>
                                                @i.FederalJob
                                                @*<div class="col-xs-2 checkbox-sm">
            <input id=@i.FederalJob
                   name="chkIsFederalJob"
                   type="checkbox"
                   value=@i.FederalJob />
        </div>*@

                                            </td>


                                            <td>
                                                @i.ClientCode
                                                @*@String.Format("{0:C}", i.EstBalance)*@
                                            </td>
                                            <td>
                                                @i.SendAsIsBox
                                                @*<div class="col-xs-2 checkbox-sm">
            <input id=@i.SendAsIsBox
                   name="chkIsSendAsIsBox"
                   type="checkbox"
                   value=@i.SendAsIsBox />
        </div>*@

                                            </td>
                                            <td>
                                                @i.PlacementSource
                                            </td>
                                            <td>
                                                @i.ClientName
                                            </td>
                                            <td>
                                                @i.JobNum
                                            </td>
                                            <td>
                                                @i.JobAdd1
                                            </td>
                                            <td>
                                                @i.jobCity
                                            </td>
                                            <td>
                                                @i.DeskNum
                                            </td>
                                            <td>
                                                @i.StatusCode
                                            </td>
                                            <td>
                                                @i.NoticeSent.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @i.DateAssigned.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @i.RevDate.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @i.JobState
                                            </td>
                                            <td>
                                                @i.EstBalance
                                            </td>
                                            <td>
                                                @i.StartDate.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @i.BranchNumber
                                            </td>
                                        </tr>
                                        j++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



        </div>


    </div>

    <div class="modal-footer">
        <div class="form-group col-xs-12">
            
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal"/>

        </div>
    </div>

</form>


<script>
    @*$("[name='chkIsPublicJob']").click(function () {

        debugger;
        if (this.checked == true) {
                var JobId = $(this).parents("tr").find("td").eq(2).html();
                //var Date = $("#DateTimePicker2").val();
                $.ajax({
                    url: '@Url.Action("UpdatePublicExceptionCheck", "PublicException")',
                    // data: { JobId },
                    data: { JobId: JobId},
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data == 1) {
                            //ChangeDateRequestedLoad();
                            hideLoadingImage();
                        }
                    },
                });
            }
        });*@

     function PublicExceptionLGetNonPubliclist() {
        debugger;

         var data = $('#FormPublicException').serialize();
        $.ajax({
            url: '@Url.Action("GetPublicExceptionNonPublic", "PublicException")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {

                  //  makeDatatable('tblPublicException');
                    makeDatatable('tblPublicException');
                    $('#myModal .modal-content').html(data);
                    
                    //ChangeDateRequestedMinDate();
                    console.log(data);
                }
                else {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }
    function PublicExceptionLGetPubliclist() {
        debugger;

         var data = $('#FormPublicException').serialize();
        $.ajax({
            url: '@Url.Action("GetPublicExceptionPublic", "PublicException")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {

                  //  makeDatatable('tblPublicException');
                    makeDatatable('tblPublicException');
                    $('#myModal .modal-content').html(data);

                    //ChangeDateRequestedMinDate();
                }
                else {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }

    function ShowDetails(JobId,j) {
        debugger;
        showLoadingImage();

       // var Date = $("#DateTimePicker2").val();
            $.ajax({
                url: '@Url.Action("LoadPublicException", "PublicException")',
                data: { JobId: JobId },
                //data: { JobId: JobId, Date: Date },
                type: "POST",
                success: function (data) {
                    debugger;
                   // $('#myModal').modal("hide");
                   // $('#myModalEditChangeDateRequested .modal-content').html(data);


                   //$('#myModalEditChangeDateRequested').modal("show");
                    $(".newtr").empty();
                    //$('<tr id="newtr"><td colspan="9">' + data + '</td></tr>').insertAfter($('#tr' + j).closest('tr'));
                    $('<tr id=' + j + ' class="newtr"><td id="testing763"colspan="23" height=400px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));

                    CheckMinDate();
                    hideLoadingImage();

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }

    @*$("[name='Rbtbtn']").click(function () {
          debugger;
        if (this.checked == true) {
            var data = $('#FormPublicException').serialize();
                $.ajax({
                    url: '@Url.Action("UpdatePublicExceptionCheck", "PublicException")',
                    // data: { JobId },
                    data: data,
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data == 1) {
                            //ChangeDateRequestedLoad();
                            hideLoadingImage();
                        }
                    },
                });
            }
    });*@

    $("[name='Rbtbtn']").click(function () {
        debugger;
        var chkAllStatus = $(this).val();

        if (chkAllStatus == "optNoticeDate") {
            $("#DateTimePicker1").prop('disabled', false);
            $("#DateTimePicker2").prop('disabled', false);
            //DateTimePicker2 = false;

        }
        else {
            $("#DateTimePicker1").prop('disabled', true);
            $("#DateTimePicker2").prop('disabled', true);
        }
    });



    @*$('body').on('change', '.nc', function () {
        debugger;
        if ($(this).is(':checked')) {
           // var id = $('.nc').val();
            var ids= ($(event.target).prop("checked"));
            // var theId = $(this).attr('NCInfo'); // The id of the checkbox
            // var theValue = $(this).checked(); // The value field of the checkbox
            // var id = $(this).prop('checked', true);
            console.log("checked");
            $("#check").val(ids);
        }
        else {
            var ids = ($(event.target).prop("checked"));
            $("#check").val(ids);

        }
    });


    function NCInfoCheckList() {
        debugger;

        var data = $('#FormNCInfoCheck').serialize();
        $.ajax({
            url: '@Url.Action("GetNCInfoCheck", "NCInfoCheck")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    //makeDatatable('tblNCInfoCheck');

                    $('#myModal .modal-content').html(data);

                    ClearDatatableState('tblNCInfoCheck');
                    makeDatatable('tblNCInfoCheck');

                    NCInfoCheckMinDate();

                }
                else {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }*@





    function PublicExceptionCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["DateTimePicker1", "DateTimePicker2", "DateAssigned", "StartDate","NoticeSent", "ObjNCInfoCheck.VerifiedDate"];
        //To set Current Date
        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());

        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "1/1/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }
            }
        });
    }



</script>
