﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientImageVM
@{
    Layout = null;
}

<form id="FormEditClientLogo">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Client Logo
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div id="hiddenFields">
            @Html.HiddenFor(m => m.Obj_ADCImage.Id)
            @Html.HiddenFor(m => m.Obj_ADCImage.ClientId)
            @Html.HiddenFor(m => m.Obj_ADCImage.ImageType)
            @Html.HiddenFor(m => m.Obj_ADCImage.ImageObject)
        </div>
        <div class="form-group col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Image:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="form-group col-md-6 col-sm-6 col-xs-6" style="padding:0">

                    <div class="form-group col-md-12 col-sm-12 col-xs-12 image-panel" style="padding:0">
                        <img id="imagefield" src="#" class="image-padding" />
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="file-upload">
                            <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                            <input id="uploadimage" class="file-upload__input" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg">
                        </div>

                        @*<button id="btnDeleteImage" class="btn btn-default" onclick="$('#imagefield').attr('src','@Url.Content("~/Content/Images/Noimage.png")'); $('#uploadimage').val(''); return false;">
                                <i class="wb-close"></i>
                                Delete
                            </button>*@
                        <button id="btnDeleteImage" class="btn btn-default" onclick="Delete();">
                            <i class="wb-close"></i>
                            Delete
                        </button>
                        @*<input type="button"  id="btnDeleteImage" class="btn btn-default" onclick="Delete();"/>*@
                    </div>
                    <div id="ErrorImage" class="Invalid-feedback" style="display:none">
                        Please Select Image.
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="customFieldset">
            <div class="form-group col-xs-12">
                <div class="col-xs-4" style="text-align:left">
                    <lable>Address Line</lable>
                </div>
                <div class="col-xs-8">
                    @Html.TextBoxFor(m => m.Obj_ADCImage.WaiverAddress1, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group col-xs-12">
                <div class="col-xs-4" style="text-align:left">
                    <lable>City/State/Zip</lable>
                </div>
                <div class="col-xs-8">
                    @Html.TextBoxFor(m => m.Obj_ADCImage.WaiverAddress2, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group col-xs-12">
                <div class="col-xs-4" style="text-align:left">
                    <lable>City/State/Zip</lable>
                </div>
                <div class="col-md-8 col-sm-5 col-xs-5">
                    <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.Obj_ADCImage.WaiverAddress2, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.Obj_ADCImage.WaiverAddress2, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.Obj_ADCImage.WaiverAddress2, new { @class = "form-control", @onblur = "formatZip(this)", @maxlength = "9" })
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="col-xs-4" style="text-align:left">
                    <lable>Phone</lable>
                </div>
                <div class="col-xs-8">
                    @Html.TextBoxFor(m => m.Obj_ADCImage.WaiverPhone, new { @class = "form-control",@onblur = "formatPhone(this)", maxlength = "10" })
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="col-xs-4" style="text-align:left">
                    <lable>Fax</lable>
                </div>
                <div class="col-xs-8">
                    @Html.TextBoxFor(m => m.Obj_ADCImage.WaiverFax, new { @class = "form-control", @onblur = "formatFax(this)", maxlength = "10" })
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="col-xs-4" style="text-align:left">
                    <lable>Waiver Folder</lable>
                </div>
                <div class="col-xs-8">
                    @Html.TextBoxFor(m => m.Obj_ADCImage.WaiverFolder, new { @class = "form-control" })
                </div>
            </div>
        </fieldset>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearModal(@Model.Obj_ADCImage.Id,@Model.Obj_ADCImage.ClientId);" />
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveLogo()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalClientLogo();" />
        </div>
    </div>
    </form>


    <script>

        function CloseModalClientLogo() {
            $('#myModal').modal("hide");
        }


        $("#uploadimage").change(function () {
            debugger;
            if ($('#uploadimage').val() != "") {
                readImage(this, "imagefield", "Obj_ADCImage_ImageObject");
            }

        });

        function ClearModal(id, ClientId) {
            $.ajax({
                url: '@Url.Action("ShowLogo", "ViewClients")',
                data: { id: id, ClientId: ClientId },
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#myModal .modal-content').html(data);
                    ConvertImagetoDataURL();
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

        function SaveLogo() {
            debugger;
            var temp = $("#Obj_ADCImage_ImageObject").val();
            $.ajax({
                url: '@Url.Action("CrUpLogo", "ViewClients")',
                data: $('#FormEditClientLogo').serialize(),
                type: "POST",
                success: function (data) {
                    //$('#list').html(data);
                    //makeDatatable('tblViewClients');
                    //$("#txtSearch").val("");
                    if (data == true)
                    {
                        hideLoadingImage();
                        $('#successMsg').show();
                        $('#myModal').modal("hide");
                    }
                    else
                    {
                        hideLoadingImage();
                        $('#errorMsg').show();
                        $('#myModal').modal("hide");
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#myModal').modal("hide");
                }

            });
        }

        function Delete() {
            $('#imagefield').attr('src', '@Url.Content("~/Content/Images/Noimage.png")');
            $('#uploadimage').val('');
            $("#Obj_ADCImage_ImageObject").val("");
            return false;
        }

    </script>

