﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientContractDocumentVM
@{
    Layout = null;
}

<form id="FormDoc">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Client Document
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div id="hiddenFields">
            @*///////////////////////////////////////////////////*@
            @Html.HiddenFor(m => m.Obj_Attachment.Id)
            @*///////////////////////////////////////////////////*@
            @Html.HiddenFor(m => m.ContractId)
        </div>
        <div class="form-group">
            <div class="col-xs-12 form-group">
                <div class="col-xs-3 text-left">
                    <lable>Document</lable> 
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.DocumentDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <div  class="col-xs-3 text-left">
                    <lable>Document Type</lable>
                </div>
                <div class="col-xs-4">
                        @Html.DropDownListFor(m => m.Obj_Attachment.DocumentType, new SelectList(Model.DocumentTypeList, "Text", "Value"), new { @class= "form-control"})
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <div class="col-xs-3 text-left">
                    <lable>Additional Note</lable>
                </div>
                <div class="col-xs-9">
                   @Html.TextAreaFor(m => m.Obj_Attachment.DocumentDescription, new { @class = "form-control", rows = "6" })
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <div class="col-xs-3">
                    
                </div>
                <div class="col-xs-3">
                    <div class="file-upload">
                        <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Browse Doc</label>
                        <input id="uploadFile" class="file-upload__input" type="file" name="file-upload" accept=".doc,.docx,.pdf,.txt">
                        @*<input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" />*@
                      </div>
                    <div id="uploadedFileName" class="col-xs-3">
                    </div>
                </div>

            </div>
        </div>    
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnOk" value="Save" class="btn btn-primary" onclick="SaveDoc();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalDocEdit();" />
        </div>
    </div>
</form>

<script>

    function CloseModalDocEdit()
    {
        $('#myModal').modal("hide");
    }

    $('#uploadFile').change(function (e) {
        debugger;
        var fileName = e.target.files[0].name;
        //alert('The file "' + fileName + '" has been selected.');
        $("#uploadedFileName").empty();
        $("#uploadedFileName").append(fileName);
    });



    function SaveDoc()
    {
        debugger;
        var AttachmentId = $("#Obj_Attachment_Id").val();
            
        if (AttachmentId == 0) {
            var formData = new FormData();
            var file = document.getElementById("uploadFile").files[0];
            formData.append("uploadFile", file);
            $.ajax({
                url: '@Url.Action("SaveDoc", "ViewClients")',
                type: "POST",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == true) {
                        SaveModalInputs();
                        $('#myModal').modal("hide");
                        $("#ContractModal").modal("hide");
                        $('#successMsg').show();
                    }
                    if(data==false)
                    {
                        alert("Something went wrong");
                    }
                    console.log(data);
                },
                fail: function (error) {
                    alert("Something went wrong fail function(error)");
                }
            });
        }
        else {
            UpdateModalInputs();
        }
    }
    function SaveModalInputs()
    {
        $.ajax({
            url: '@Url.Action("SaveDocInputs", "ViewClients")',
            data: $('#FormDoc').serialize(),
            type: "POST",
            success: function (data) {
                if (data == true) {
                    $('#myModal').modal("hide");
                    $("#ContractModal").modal("hide");
                    $('#successMsg').show();
                }
                else {
                    $('#myModal').modal("hide");
                    $("#ContractModal").modal("hide");
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $('#myModal').modal("hide");
                $("#ContractModal").modal("hide");
                $('#errorMsg').show();
            }

        });
    }
    
    function UpdateModalInputs()
    {
        $.ajax({
            url: '@Url.Action("UpdateDocumentProperties", "ViewClients")',
            data: $('#FormDoc').serialize(),
            type: "POST",
            success: function (data) {
                if (data == true) {
                    $('#myModal').modal("hide");
                    $("#ContractModal").modal("hide");
                    $('#successMsg').show();
                }
                else {
                    $('#myModal').modal("hide");
                    $("#ContractModal").modal("hide");
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $('#myModal').modal("hide");
                $("#ContractModal").modal("hide");
                $('#errorMsg').show();
            }

        });
    }
</script>
