﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.FilterVM
@{
    Layout = null;
}

<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client List Filter</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="form-group col-md-12 col-sm-12 col-xs-12 no-LeftRight-pad">

            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad ">
                <lable>Client Name:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
               
                @Html.RadioButtonFor(m => m.RbtClientNameValue,"SatrtsWith")
                <lable>Starts With</lable>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad Text-Left">
                
                @Html.RadioButtonFor(m => m.RbtClientNameValue,"Includes", new { @checked = true })
                <lable>Includes</lable>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12 no-LeftRight-pad">

            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad ">
                <lable>Client Code:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad ">
                
                @Html.RadioButtonFor(m => m.RbtClientCodeValue, "Main")
                <lable>Main<lable>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                
                @Html.RadioButtonFor(m => m.RbtClientCodeValue, "InEither", new { @checked = true })
                <lable>In Either</lable>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                @Html.TextBoxFor(m => m.ClientCode, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12 no-LeftRight-pad">

            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                <lable>Contact Name:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
                
                @Html.RadioButtonFor(m => m.RbtContactNameValue, "SatrtsWith")
                <lable>Starts With</lable>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                
                @Html.RadioButtonFor(m => m.RbtContactNameValue, "Includes", new { @checked = true })
                <lable>Includes</lable>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12 no-LeftRight-pad">

            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                <lable>Contact City:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
                
                @Html.RadioButtonFor(m => m.RbtContactCityValue, "SatrtsWith")
                <lable>Starts With</lable>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                
                @Html.RadioButtonFor(m => m.RbtContactCityValue, "Includes", new { @checked = true })
                <lable>Includes</lable>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                @Html.TextBoxFor(m => m.ContactCity, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12 no-LeftRight-pad">

            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                <lable>Contact State:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
                
                @Html.RadioButtonFor(m => m.RbtContactStateValue, "SatrtsWith")
                <lable>Starts With</lable>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                
                @Html.RadioButtonFor(m => m.RbtContactStateValue, "Includes")
                <lable>Includes</lable>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                @Html.TextBoxFor(m => m.ContactState, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group col-md-12 col-sm-12 col-xs-12 no-LeftRight-pad">

            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">      
                @Html.CheckBoxFor(m => m.ChkNextContactDate)   
                <lable>Next Review Date</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
                @Html.TextBoxFor(m => m.NextContactDateTO, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style="width:120px" })
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
                @Html.CheckBoxFor(m => m.ChkInactives)
                <lable>Include Inactives</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
                <lable>Service Team</lable>               
                @Html.TextBoxFor(m => m.TEAMCODE, new { @class = "form-control", Style="width:76px;display:inline" })
            </div>

        </div>

        <br/>

        <div class="form-group col-md-12 col-sm-12 col-xs-12 no-LeftRight-pad">
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
                @Html.CheckBoxFor(m => m.ChkNextContactDate)
                <lable>Evaluation Date</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 no-LeftRight-pad">
                @Html.TextBoxFor(m => m.EvaluationDateTO, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" , style = "width:120px" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12 no-LeftRight-pad">
            <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad pad-right-74">            
                @Html.RadioButtonFor(m=>m.IssueValue,"0", new { @checked = true })
                <lable>Bypass Issues</lable>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad pad-right-74">
                @Html.RadioButtonFor(m => m.IssueValue, "1")
                <lable>All Open Issues</lable>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad pad-right-74">
                @Html.RadioButtonFor(m => m.IssueValue, "2")
                <lable>My Open Issues</lable>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Search" class="btn btn-primary" onclick="filter()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalFilter()"/>
        </div>
    </div>

</form>

<script>

    function CloseModalFilter() {
        $('#myModal').modal("hide");
    }

    function filter() {
        debugger;

            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("ApplyFilter", "ViewClients")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblViewClients');
                    hideLoadingImage();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        
    }

    //Enter key pressed
    $("input").keypress(function (event) {
        debugger;
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            //alert('You pressed a "enter" key in somewhere');
            filter();
        }
    });
</script>

