﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientEditVM
@{
    Layout = null;
}

<style type='text/css'>

        .NopaddingLR {
            padding-right: 10px !important;
            padding-left: 0px !important;
        }
    </style>

<div class="form-group col-xs-12">
    @*<div class="col-xs-1">

    </div>*@
    <div class="col-xs-12" style="margin-left: 100px; margin-top: -100px;">
        @*<button id="BtnSaveBasicInfo" class="btn btn-primary pull-left" name="BtnSaveBasicInfo" onclick="Save();"> Save </button>*@
        <input type="button" id="BtnSaveBasicInfo" class="btn btn-primary pull-left" name="BtnSaveBasicInfo" onclick="SaveBasicInfo();" value="Save">
    </div>
</div>
<div class="example-wrap m-xl-0">
    <div class="nav-tabs-horizontal" data-plugin="tabs">
        @*<ul class="nav nav-tabs nav-tabs-line" role="tablist" id="mainNav">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#ContentMainInfo"
                   aria-controls="ContentMainInfo" role="tab" style="background-color:white !important;">Main Info</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#ContentAdditionalInfo"
                   aria-controls="ContentAdditionalInfo" role="tab" style="background-color:white !important;">Additional Info</a>
            </li>            
        </ul>*@



 <div class="form-group col-xs-12 lt NopaddingLR" style="margin-top: -43px;">
                <div class="col-xs-12 NopaddingLR">
                    <div class="col-xs-5 NopaddingLR">
                        <fieldset class="customFieldset">
                            <legend></legend>
                            <form id="FormEditBasicInfoCl">
                                <div id="hiddenFields">
                                    @Html.HiddenFor(m => m.Obj_ADClient.ClientId)
                                    @Html.HiddenFor(m => m.Obj_ADClient.ParentClientId)
                                </div>
                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                        <lable>Client Code</lable>
                                        @*<span class="ValidationStar">*</span>*@
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        @Html.TextBoxFor(m => m.Obj_ADClient.ClientCode, new { @class = "form-control" })
                                        <div id="ErrorClientCode" class="Invalid-feedback" style="display:none">
                                            Please Enter Client Code.
                                        </div>
                                        <div id="ErrorClientCodeDuplicate" class="Invalid-feedback" style="display:none">
                                            Client Code Already Exists.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                            <lable>Client Name</lable>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            @Html.TextBoxFor(m => m.Obj_ADClient.ClientName, new { @class = "form-control" })
                                            <div id="ErrorClientName" class="Invalid-feedback" style="display:none">Please Enter Client Name.</div>
                                        </div>
                                        </div>
                                    

                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                        <lable> Address 1</lable>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        @Html.TextBoxFor(m => m.Obj_ADClient.AddressLine1, new { @class = "form-control" })
                                        <div id="ErrorClientAddress" class="Invalid-feedback" style="display:none">Please Enter Client Address.</div>
                                    </div>

                                    </div>
                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                        <lable> Address 2</lable>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        @Html.TextBoxFor(m => m.Obj_ADClient.AddressLine2, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                        <lable>City/St/Zip<lable>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 ">
                                        <div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                                @Html.TextBoxFor(m => m.Obj_ADClient.City, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                                                @Html.TextBoxFor(m => m.Obj_ADClient.State, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                                                @Html.TextBoxFor(m => m.Obj_ADClient.PostalCode, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                        <lable>Phone</lable>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 ">
                                        <div>
                                            <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                                             
                                                @*@Html.TextBoxFor(m => m.Obj_ADClient.PhoneNo, new { @function = CRFView.Utility.GetFormattedPhoneNumber(Model.Obj_ADClient.PhoneNo),  @class = "form-control", type = "tel"})*@
                                                @Html.TextBoxFor(m => m.Obj_ADClient.PhoneNo, new { @class = "form-control", type = "tel", @onblur = "formatPhone(this)", maxlength = "10" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad LableAlign">
                                                <lable style="padding-right:10px">Ext</lable>
                                            </div>
                                            <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                                                @Html.TextBoxFor(m => m.Obj_ADClient.PhoneExt, new { @class = "form-control", @onblur = "formatPhone(this)", maxlength = "10" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                    <div class="form-group col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                            <lable>Fax<lable>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            <div>
                                                <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                                                  @Html.TextBoxFor(m => m.Obj_ADClient.Fax, new { @class = "form-control", type = "tel", @onblur = "formatFax(this)", @maxlength = "10" })
                                                 </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad LableAlign">
                                                    <lable style="padding-right:10px">Cell</lable>
                                                </div>
                                                <div class="col-md-5 col-sm-5 col-xs-5 no-LeftRight-pad">
                                                    @Html.TextBoxFor(m => m.Obj_ADClient.Mobile, new { @class = "form-control", type = "tel", @onblur = "formatFax(this)", @maxlength = "10" })
                                                </div>
                                            </div>
                                        </div>
                                        

                                        </div>
                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                        <lable>Email<lable>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        @Html.TextBoxFor(m => m.Obj_ADClient.Email, new { @class = "form-control", type = "email" })
                                    </div>
                                </div>
                                
                                    <div class="form-group col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                            <lable>Contact<lable>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            @Html.TextBoxFor(m => m.Obj_ADClient.ContactName, new { @class = "form-control" })
                                        </div>
                                        </div>
                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                                        <lable>Salutation<lable>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        @Html.TextBoxFor(m => m.Obj_ADClient.ContactSalutation, new { @class = "form-control" })
                                    </div>
                                </div>

                                    <div class="form-group col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                                            <lable>Title<lable>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            @Html.TextBoxFor(m => m.Obj_ADClient.ContactTitle, new { @class = "form-control" })
                                        </div>
                                        </div>
                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                                        <lable>Tax Id<lable>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        @Html.TextBoxFor(m => m.Obj_ADClient.TaxId, new { @class = "form-control" })
                                    </div>
                                </div>

                                    <div class="form-group col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                                            <lable>Birth Date<lable>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            @Html.TextBoxFor(m => m.Obj_ADClient.ContactDOB, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                        </div>
                                        </div>
                                 <div class="form-group col-xs-12">
                                        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                                            <lable>Setup Date<lable>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            @Html.TextBoxFor(m => m.Obj_ADClient.SetupDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker"})
                                        </div>
                                    </div>

                                <div class="form-group col-xs-12">
                                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign rt">
                                        <lable>Commission Date</lable>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        @*<div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">*@
                                            @Html.TextBoxFor(m => m.Obj_ADClient.CommissionDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker"})
                                        </div>
                                   

                                    </div>
                                        <div class="form-group col-xs-12">
                                            <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:right">
                                                @Html.CheckBoxFor(m => m.ChkFollowUp)
                                                <lable> Next Review Date</lable>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                @Html.TextBoxFor(m => m.Obj_ADClient.NextContactDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:181.45px;display:inline" })
                                            </div>
                                        </div>
                                       
                                  

                                <div class="form-group col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:right;margin-left:-12px">
                                        @Html.CheckBoxFor(m => m.ChkEvalDate)
                                        <lable>Evaluation Date</lable>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:12px;">
                @Html.TextBoxFor(m => m.Obj_ADClient.EvaluationDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:181.45px;display:inline" })
            </div>
                                </div>

                                <div class="form-group col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:right;margin-left:-20px">
                                        @Html.CheckBoxFor(m => m.Obj_ADClient.IsInactive)
                                        <lable>Inactive Client</lable>
                                    </div>
                                </div>


                                <br />&nbsp;
                                    <div class="form-group col-xs-12">
                                        <div class="col-md-2 col-sm-2 col-xs-2 LableAlign">

                                        </div>
                                        <div class="col-md-8 col-sm-4 col-xs-4" style="margin-left:-60px">
                                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                                @Html.CheckBoxFor(m => m.Obj_ADClient.IsLienClient) <lable>Lien Client</lable>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                                @Html.CheckBoxFor(m => m.Obj_ADClient.HasLienAgreement)  <lable>Lien Agreement</lable>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                                @Html.CheckBoxFor(m => m.Obj_ADClient.IsCollectionClient) <lable> Is Collection Client</lable>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                                @Html.CheckBoxFor(m => m.Obj_ADClient.HasPrelimAgreement) <lable>Prelim Agreement</lable>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                                @Html.CheckBoxFor(m => m.Obj_ADClient.IsRentalCo) <lable>Is Rental Company</lable>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                                @Html.CheckBoxFor(m => m.Obj_ADClient.HasCollectAgreement) <lable>Collection Agreement</lable>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                                @Html.CheckBoxFor(m => m.Obj_ADClient.HasCollectAgreement) <lable>Credit card on file</lable>
                                            </div>
                                        </div>
                                       
                                    </div>

                             

                                    @*<div class="form-group col-xs-12">
                                        <div class="col-xs-7">
                                        </div>
                                        <div class="col-xs-2" style="padding-left :53px">
                                            <button id="BtnSaveBasicInfo" class="btn btn-primary pull-left" name="BtnSaveBasicInfo" onclick="Save();"> Save </button>
                                            <input type="button" id="BtnSaveBasicInfo" class="btn btn-primary pull-left" name="BtnSaveBasicInfo" onclick="SaveBasicInfo();" value="Save">
                                        </div>
                                    </div>*@ 
</form>
                        </fieldset>

       
                    </div>
                    

         <div class="col-xs-7 NopaddingLR">
                        <fieldset class="customFieldset fieldset" >
                            <legend></legend>
                            <div class="tab-pane" id="ContentAdditionalInfo" role="tabpanel">
                                <div id="TabDiv" class="col-md-12 col-sm-12  col-xs-12">

                                    <div class="nav-tabs-horizontal" data-plugin="tabs">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li id="ClMainInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainInfo" aria-controls="TabMainInfo" role="tab" aria-selected="false">MainInfo</a></li>
                                            <li id="ClContract" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabContract" aria-controls="TabContract" role="tab" aria-selected="false">Contract</a></li>
                                            <li id="ClNotes" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabNotes" aria-controls="TabNotes" role="tab" aria-selected="false">Notes</a></li>
                                            @*<li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabIssues" aria-controls="TabIssues" role="tab" aria-selected="false">Open Issues</a></li>*@
                                            <li id="ClBranches" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabBranches" aria-controls="TabBranches" role="tab" aria-selected="false">Branches</a></li>
                                            <li id="ClUsers" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabUsers" aria-controls="TabUsers" role="tab" aria-selected="false">Users</a></li>
                                            <li id="ClContacts" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabContacts" aria-controls="TabContacts" role="tab" aria-selected="false">Contacts</a></li>
                                            <li id="ClSigners" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSigners" aria-controls="TabSigners" role="tab" aria-selected="false">Signers</a></li>
                                            @*<li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabScheduledReports" aria-controls="TabScheduledReports" role="tab" aria-selected="false">Scheduled Reports </a></li>*@
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane active " id="TabMainInfo" role="tabpanel">
                                            <br />
                                            <div id="tableDiv">
                                                <div class="form-group col-xs-12">
                                                    <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:right">
                                                        <lable>Client Contract</lable>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                        @Html.DropDownListFor(m => m.Obj_ADClient.ParentClientId, Model.MainClientList, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    <div class="col-md-3 col-sm-3 col-xs-3"  style="text-align:right">
                                                        <lable>Industry</lable>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6 LableAlign"> 
                                                        @Html.DropDownListFor(m => m.Obj_ADClient.ClientTypeId, Model.ClientTypeList, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-xs-12">
                                                    @*<div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">*@
                                                    <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:right">
                                                        <lable>Special Instructions</lable>
                                                    </div>
                                                        <div class="col-md-6 no-LeftRight-pad LableAlign"  style="margin-left:15px">
                                                            @Html.TextAreaFor(m => m.Obj_ADClient.Note, new { @class = "form-control", rows = "6" })
                                                        </div>
                                                    @*</div>*@
                                                </div>


                                                </div>
                                            
                                            <br />&nbsp;
                                            <br />
                                            <div class="form-group col-xs-12">
                                              
                                                    @*<button id="ADC_obj_IsLienClient" class="btn btn-primary"  name="ADC_obj_IsLienClient" onclick="ShowLienInfo(@Model.ClientLienInfoId)" value="LienInfo"  @(Model.Obj_ADClient.IsLienClient != true ? "disabled='disabled'" : "")> Lien Info </button>*@
                                                    <input type="button" id="ADC_obj_IsLienClient" class="btn btn-primary" name="ADC_obj_IsLienClient" value="Lien Info" @(Model.Obj_ADClient.IsLienClient != true ? "disabled='disabled'" : "") onclick="ShowLienInfo(@Model.ClientLienInfoId)" >


                                                    @*<button id="ADC_obj_IsCollectionClient" class="btn btn-primary" name="ADC_obj_IsCollectionClient" value="CollectionInfo" @(Model.Obj_ADClient.IsCollectionClient != true ? "disabled='disabled'" : "") onclick="ShowCollectionInfo(@Model.ClientCollectionInfoId)"> Collection Info </button>*@
                                                    <input type="button" id="ADC_obj_IsCollectionClient" class="btn btn-primary" name="ADC_obj_IsCollectionClient" value="Collection Info" @(Model.Obj_ADClient.IsCollectionClient != true ? "disabled='disabled'" : "") onclick="ShowCollectionInfo(@Model.ClientCollectionInfoId)">

 

                                                    @*<button id="Btnlogo" class="btn btn-primary" onclick="ShowLogoInfo(@Model.ClientImageId,@Model.Obj_ADClient.ClientId)">Logo</button>*@
                                                    <input type="button" id="Btnlogo" class="btn btn-primary" onclick="ShowLogoInfo(@Model.ClientImageId,@Model.Obj_ADClient.ClientId)" value="Logo">

                                                    <br />
                                                    <br />

                                                @*</div>*@
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="TabContract" role="tabpanel">
                                            <br />
                                            <div>
                                                <table id="tblClientCntracts" class="table table-bordered dataTable table-hover grid " border="1">

                                                    <thead>
                                                        <tr>
                                                            <th class="no-sort">Edit</th>
                                                            <th>Contract</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var i in Model.ContractList)
                                                        {
                                                        <tr>
                                                            <td>
                                                                <button onclick="ShowContractDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                                </button>
                                                            </td>
                                                            <td>@i.Title</td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div>
                                                <button id="BtnNewLienContract" class="btn btn-primary" onclick="ShowNewLienContractModal()">New Lien Contract</button>
                                                <button id="BtnNewCollectionContract" class="btn btn-primary" onclick="ShowNewCollectionContractModal()">New Collection Contract</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="TabNotes" role="tabpanel">
                                            <br />
                                            <div id="tableDiv">
                                                <table id="tblClientNotes" class="table table-bordered dataTable table-hover grid " border="1">
                                                    <thead>
                                                        <tr>
                                                            <th class="no-sort">Edit</th>
                                                            <th>Note</th>
                                                            <th>Date Created</th>
                                                            <th>Created By</th>
                                                            <th>Date Closed</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (Model.ClosedIssueList.Count >= 1)
                                                        {
                                                        foreach (var i in Model.ClosedIssueList)
                                                        {
                                                        <tr>
                                                            <td>
                                                                <button onclick="ShowNoteDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                                </button>
                                                            </td>
                                                            <td>
                                                                @i.IssueDescription
                                                            </td>
                                                            @{
                                                            if (i.DateCreated == DateTime.MinValue)
                                                            {
                                                            <td></td>
                                                            }
                                                            else
                                                            {
                                                            <td>@i.DateCreated.ToShortDateString()</td>
                                                            }
                                                            }
                                                            <td>
                                                                @i.CreatedBy
                                                            </td>
                                                            @{
                                                            if (i.DateClosed == DateTime.MinValue)
                                                            {
                                                            <td></td>
                                                            }
                                                            else
                                                            {
                                                            <td>@i.DateClosed.ToShortDateString()</td>
                                                            }
                                                            }
                                                        </tr>
                                                        }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>
                                                <button id="BtnNewNote" class="btn btn-primary" onclick="ShowNewNote();">New Note</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="TabIssues" role="tabpanel">
                                            <br />
                                            <table id="tblOpenIssues" class="table table-bordered dataTable table-hover grid " border="1">
                                                <thead>
                                                    <tr>
                                                        <th class="no-sort">Edit</th>
                                                        <th>Issue Description</th>
                                                        <th>Date Created</th>
                                                        <th>Created By</th>
                                                        <th>Assigned To</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (Model.OpenIssueList.Count >= 1)
                                                    {
                                                    foreach (var i in Model.OpenIssueList)
                                                    {
                                                    <tr>
                                                        <td>
                                                            <button onclick="ShowOpenIssueDetails(@i.Id);" class="btn btn-default btn-icon btn-pure">
                                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            @i.IssueDescription
                                                        </td>
                                                        @*<td>
                                                        @i.DateCreated
                                                        </td>*@
                                                        @{
                                                        if (i.DateCreated == DateTime.MinValue)
                                                        {
                                                        <td></td>
                                                        }
                                                        else
                                                        {
                                                        <td>@i.DateCreated.ToShortDateString()</td>
                                                        }
                                                        }
                                                        <td>
                                                            @i.CreatedBy
                                                        </td>
                                                        <td>
                                                            @i.AssignedTo
                                                        </td>
                                                    </tr>
                                                    }
                                                    }
                                                </tbody>
                                            </table>
                                            <div>
                                                <br />
                                                <button id="BtnNewOpenIssue" class="btn btn-primary" onclick="ShowNewOpenIssue();">New Open Issue</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="TabBranches" role="tabpanel">
                                            <br />
                                            <div>
                                                <table id="tblClientBranches" class="table table-bordered dataTable table-hover grid " border="1">
                                                    <thead>
                                                        <tr>
                                                            <th class="no-sort">Edit</th>
                                                            <th>Branch Number</th>
                                                            <th>Branch Name</th>
                                                            <th>Contact Name</th>
                                                            <th>Phone No.</th>
                                                            <th>Email</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (Model.BranchList.Count >= 1)
                                                        {
                                                        foreach (var i in Model.BranchList)
                                                        {
                                                        <tr>
                                                            <td>
                                                                <button onclick="ShowBranchDetails(@i.ClientId)" class="btn btn-default btn-icon btn-pure">
                                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                                </button>
                                                            </td>
                                                            <td>@i.BranchNumber</td>
                                                            <td>@i.ClientName</td>
                                                            <td>@i.ContactName</td>
                                                            <td>@i.PhoneNo</td>
                                                            <td>@i.Email</td>
                                                        </tr>
                                                        }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>
                                                <button id="BtnNewBranch" class="btn btn-primary" onclick="ShowNewBranch();">New Branch</button>
                                            </div>

                                        </div>
                                        <div class="tab-pane " id="TabUsers" role="tabpanel">
                                            <br />
                                            <div>
                                                <table id="tblClientUsers" class="table table-bordered dataTable table-hover grid " border="1" width: 100%;>
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%;" class="no-sort">Edit</th>
                                                            <th style="width: 12%;">Full Name</th>
                                                            <th style="width: 12%;">Login Name</th>
                                                            <th style="width: 12%;">Login Password</th>
                                                            <th style="width: 26%;">Email</th>
                                                            <th style="width: 10%;">Phone No.</th>
                                                            @*<th>DOB</th>*@
                                                            <th style="width: 7%;">Inactive</th>
                                                            <th style="width: 11%;">Last Login Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (Model.UserList.Count >= 1)
                                                        {
                                                        foreach (var i in Model.UserList)
                                                        {
                                                        <tr>
                                                            <td>
                                                                <button onclick="ShowUserDetails(@i.ID)" class="btn btn-default btn-icon btn-pure">
                                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                                </button>
                                                            </td>
                                                            <td>
                                                                @i.UserName
                                                            </td>
                                                            <td>
                                                                @i.LoginCode
                                                            </td>
                                                            <td>
                                                                @i.LoginPassword
                                                            </td>
                                                            <td>
                                                                @i.Email
                                                            </td>
                                                            <td>
                                                                @i.PhoneNo
                                                            </td>
                                                            @*<td>
        @i.DOB
        </td>*@
                                                            @*@{
                                                                if (i.DOB == DateTime.MinValue)
                                                                {
                                                                    <td></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@i.DOB.ToShortDateString()</td>
                                                                }
                                                            }*@
                                                            <td>
                                                                @i.isinactive
                                                            </td>
                                                          @{
                                                                if (i.LastLoginDate == DateTime.MinValue)
                                                                {
                                                                    <td></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@i.LastLoginDate.ToShortDateString()</td>
                                                                }
                                                            }
                                                        </tr>
                                                        }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>
                                                <button id="BtnNewUser" class="btn btn-primary" onclick="ShowNewUser();">New User</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="TabContacts" role="tabpanel">
                                            <br />
                                            <div>
                                                <table id="tblClientContacts" class="table table-bordered dataTable table-hover grid " border="1">
                                                    <thead>
                                                        <tr>
                                                            <th class="no-sort">Edit</th>
                                                            <th>Contact Name</th>
                                                            <th>Contact Title</th>
                                                            <th>Phone No.</th>
                                                            <th>Email</th>
                                                            <th>DOB</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (Model.ContactList.Count >= 1)
                                                        {
                                                        foreach (var i in Model.ContactList)
                                                        {
                                                        <tr>
                                                            <td>
                                                                <button onclick="ShowContactDetails(@i.ClientContactId)" class="btn btn-default btn-icon btn-pure">
                                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                                </button>
                                                            </td>
                                                            <td>
                                                                @i.ContactName
                                                            </td>
                                                            <td>
                                                                @i.ContactTitle
                                                            </td>
                                                            <td>
                                                                @i.Telephone1
                                                            </td>
                                                            <td>
                                                                @i.Email
                                                            </td>
                                                            @*<td>
                                                            @i.DOB
                                                            </td>*@
                                                            @{
                                                            if (i.DOB == DateTime.MinValue)
                                                            {
                                                            <td></td>
                                                            }
                                                            else
                                                            {
                                                            <td>@i.DOB.ToShortDateString()</td>
                                                            }
                                                            }
                                                        </tr>
                                                        }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>
                                                <br />
                                                <button id="BtnNewContact" class="btn btn-primary" onclick="ShowNewContact();">New Contact</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="TabSigners" role="tabpanel">
                                            <br />
                                            <table id="tblClientSigner" class="table table-bordered dataTable table-hover grid " border="1">
                                                <thead>
                                                    <tr>
                                                        <th class="no-sort">Edit</th>
                                                        <th>Signer</th>
                                                        <th>Signer Title</th>
                                                        <th>Signer Email</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (Model.SignersList.Count >= 1)
                                                    {
                                                    foreach (var i in Model.SignersList)
                                                    {
                                                    <tr>
                                                        <td>
                                                            <button onclick="ShowSignerDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            @i.Signer
                                                        </td>
                                                        <td>
                                                            @i.SignerTitle
                                                        </td>
                                                        <td>
                                                            @i.SignerEmail
                                                        </td>
                                                    </tr>
                                                    }
                                                    }
                                                </tbody>
                                            </table>

                                            <br />
                                            <div>
                                                <button id="BtnNewSigner" class="btn btn-primary" onclick="ShowNewSigner();">New Signer</button>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="TabScheduledReports" role="tabpanel">
                                            <br />
                                            <table id="tblClientReports" class="table table-bordered dataTable table-hover grid " border="1">
                                                <thead>
                                                    <tr>
                                                        <th class="no-sort">Edit</th>
                                                        <th class="no-sort">Delete</th>
                                                        <th>Report Name</th>
                                                        <th>Email To</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (Model.ReportList.Count >= 1)
                                                    {
                                                    foreach (var i in Model.ReportList)
                                                    {
                                                    <tr>
                                                        <td>
                                                            <button onclick="EditReport(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button onclick="DeleteReport(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                                <i class="icon wb-close" aria-hidden="true"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            @i.taskname
                                                        </td>
                                                        <td>
                                                            @i.EmailTo
                                                        </td>
                                                    </tr>
                                                    }
                                                    }
                                                </tbody>
                                            </table>
                                            <br />
                                            <div>
                                                <button id="BtnNewReport" class="btn btn-primary" onclick="ShowNewReport();">New Report</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
</div>                
                   

                </div>
            </div>

   
    </div>
</div>

<div class="modal modal-primary fade" id="InfoModalBranch" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="InfoModal2" role="dialog">
    <div class="modal-dialog" style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>

<div id="WideModal" class="modal modal-primary fade" role="dialog">
    <div class="modal-dialog" style="width:1200px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:1200px !important">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="ContractModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>

<script>

    function ConvertImagetoDataURL() {
        var imgsrc = 'data:image/jpeg;base64,' + $('#Obj_ADCImage_ImageObject').val();
        $('#imagefield').attr('src', imgsrc);
    }


    function ConvertImagetoDataURLBranchSignature() {
        var imgsrc = 'data:image/jpeg;base64,' + $('#ADC_BranchSigner_Signature').val();
        $('#Branchimagefield').attr('src', imgsrc);
    }

    function ConvertImagetoDataURLSignature() {
        var imgsrc = 'data:image/jpeg;base64,' + $('#Obj_ClientSigner_Signature').val();
        $('#imagefieldSignature').attr('src', imgsrc);
    }

    function ShowNoteDetails(id)
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowNoteDetails", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#ContractModal .modal-content').html(data);
                $('#Obj_Note_IssueDescription').summernote();
                $('#ContractModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
               
            }
        });
    }

    function ShowNewNote()
    {
        debugger;
        showLoadingImage();
        var ClientId = @Model.Obj_ADClient.ClientId;
        $.ajax({
            url: '@Url.Action("NewNote", "ViewClients")',
            data: {ClientId:ClientId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#ContractModal .modal-content').html(data);
                $('#Obj_Note_IssueDescription').summernote();
                $('#ContractModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowNewOpenIssue()
    {
        debugger;
        showLoadingImage();
        var ClientId = @Model.Obj_ADClient.ClientId;
        $.ajax({
            url: '@Url.Action("NewIssue", "ViewClients")',
            type: "POST",
            data: {ClientId:ClientId},
            success: function (data) {
                debugger;
                $('#ContractModal .modal-content').html(data);
                $('#Obj_Issue_IssueDescription').summernote();
                $('#ContractModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowOpenIssueDetails(id)
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowOpenIssueDetails", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#ContractModal .modal-content').html(data);
                //$('#Obj_Issue_IssueDescription').summernote();
                $('#ContractModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowNewBranch()
    {
        debugger;
        showLoadingImage();
        var ParentClientId = @Model.Obj_ADClient.ClientId;
        var ParentClientCode = '@Model.Obj_ADClient.ClientCode';
        $.ajax({
            url: '@Url.Action("ShowNewBranch", "ViewClients")',
            type: "POST",
            data : {ParentClientId:ParentClientId,ParentClientCode:ParentClientCode},
            success: function (data) {
                debugger;
                $('#WideModal .modal-content').html(data);
                $('#ADC_obj_ContactDOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#ADC_obj_ContactDOB2').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                CheckMinDate();
                $('#WideModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowNewUser()
    {
        debugger;
        var ClientId = @Model.Obj_ADClient.ClientId;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("NewUser", "ViewClients")',
            type: "POST",
            data : {ClientId:ClientId},
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                CheckMinDate();
                //$('#PortalUser_DOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#PortalUser_DOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');
                $('#InfoModalBranch').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowNewContact()
    {
        debugger;
        showLoadingImage();
        var ClientId = @Model.Obj_ADClient.ClientId;
        $.ajax({
            url: '@Url.Action("NewContact", "ViewClients")',
            type: "POST",
            data : {ClientId:ClientId},
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                CheckMinDate();
                $('#Obj_ClientContact_DOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#InfoModalBranch').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }



    function ShowContactDetails(id) {
        debugger;
        showLoadingImage();
        var ClientId = @Model.Obj_ADClient.ClientId;
        $.ajax({
            url: '@Url.Action("ShowContact", "ViewClients")',
            data: { id: id,ClientId:ClientId },
            type: "POST",
            async : true,
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                $('#Obj_ClientContact_DOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                CheckMinDate();
                $('#InfoModalBranch').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowNewSigner()
    {
        showLoadingImage();
        debugger;
        showLoadingImage();
        var ClientId = @Model.Obj_ADClient.ClientId;
        $.ajax({
            url: '@Url.Action("NewSigner", "ViewClients")',
            type: "POST",
            data : {ClientId:ClientId},
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                $('#InfoModalBranch').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function DeleteReport(Id) {
        var ClientId = @Model.Obj_ADClient.ClientId;
        debugger;
        if (confirm("Are You Sure?")) {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteReportWithId", "ViewClients")',
                data: { Id: Id },
                type: "POST",
                success: function (data) {
                    if(data==true)
                    {
                        hideLoadingImage();
                        $('#deleteMsg').show();
                        ShowDetails(ClientId);
                    }
                    if(data==false)
                    {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    function EditReport(Id)
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditReport", "ViewClients")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                $('#InfoModalBranch').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowNewReport()
    {
        var ClientId = @Model.Obj_ADClient.ClientId;
        debugger;
        $.ajax({
            url: '@Url.Action("NewReport", "ViewClients")',
            type: "POST",
            data : {ClientId:ClientId},
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                $('#InfoModalBranch').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


    function ShowSignerDetails(id)
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowSigner", "ViewClients")',
            data: { id: id },
            type: "POST",
            async : false,
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                ConvertImagetoDataURLSignature();
                $('#InfoModalBranch').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


    function ShowUserDetails(id) {
        showLoadingImage();
        debugger;
        $.ajax({
            url: '@Url.Action("ShowUser", "ViewClients")',
            data: { id: id },
            type: "POST",
            async : false,
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                $('#PortalUser_DOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                CheckMinDate();
                $('#InfoModalBranch').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowContractDetails(id) {
        showLoadingImage();
        debugger;
        $.ajax({
            url: '@Url.Action("EditContract", "ViewClients")',
            data: { id: id ,ClientId: @Model.Obj_ADClient.ClientId},
            type: "POST",
            async : true,
            success: function (data) {
                debugger;
                //$('#InfoModal2 .modal-content').html(data);
                $("#ContractModal .modal-content").html(data);
                ///////////////////////////////////////////////////////
                tableLr = $('#tblLienRates').DataTable();
                tableLr.destroy();

                tableD = $('#tblLienDocuments').DataTable();
                tableD.destroy();

                tableH = $('#tblLienHistory').DataTable();
                tableH.destroy();

                //////////////////////////////////////////////////////
                makeDatatable('tblLienRates');
                makeDatatable('tblLienDocuments');
                makeDatatable('tblLienHistory');
                $('#Obj_ClientContract_SetupDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#Obj_ClientContract_OwnershipDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                CheckMinDate();
                debugger;
                if ($("#Obj_ClientContract_IsTrustAccount").length)
                {
                    if($("#Obj_ClientContract_IsTrustAccount").prop('checked') == true){
                        $('#Groupbox2').show();
                        $('#Groupbox1').hide();
                    }
                    else
                    {
                        $('#Groupbox2').hide();
                        $('#Groupbox1').show();
                    }

                }
                //$('#InfoModal2').modal("show");
                $("#ContractModal").modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowNewLienContractModal()
    {
        debugger;
        var ClientId = @Model.Obj_ADClient.ClientId;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowNewLienContractModal", "ViewClients")',
            type: "GET",
            data : {ClientId:ClientId},
            success: function (data) {
                debugger;
                //$('#InfoModal .modal-content').html(data);
                $("#ContractModal .modal-content").html(data);
                ///////////////////////////////////////////////////////
                tableLr = $('#tblLienRates').DataTable();
                tableLr.destroy();

                tableLD = $('#tblLienDocuments').DataTable();
                tableLD.destroy();

                tableH = $('#tblLienHistory').DataTable();
                tableH.destroy();

                //////////////////////////////////////////////////////
                makeDatatable('tblLienRates');
                makeDatatable('tblLienDocuments');
                makeDatatable('tblLienHistory');
                $('#Obj_ClientContract_SetupDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#Obj_ClientContract_OwnershipDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                CheckMinDate();
                //$('#InfoModal').modal("show");
                $("#ContractModal").modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowNewCollectionContractModal()
    {
        debugger;
        var ClientId = @Model.Obj_ADClient.ClientId;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowNewCollectionContractModal", "ViewClients")',
            type: "GET",
            data : {ClientId:ClientId},
            success: function (data) {
                debugger;
                //$('#InfoModal .modal-content').html(data);
                $("#ContractModal .modal-content").html(data);
                ///////////////////////////////////////////////////////
                tableLr = $('#tblLienRates').DataTable();

                tableLr.destroy();
                tableD = $('#tblLienDocuments').DataTable();

                tableD.destroy();
                tableH = $('#tblLienHistory').DataTable();

                tableH.destroy();

                //////////////////////////////////////////////////////
                makeDatatable('tblLienDocuments');
                makeDatatable('tblLienHistory');
                $('#Obj_ClientContract_SetupDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#Obj_ClientContract_OwnershipDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                CheckMinDate();
                //$('#InfoModal').modal("show");
                $('#ContractModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    @*function ShowNewCollectionContract(id) {
        $.ajax({
            url: '@Url.Action("ShowNewCollectionContract", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                debugger;
                //$('#InfoModal .modal-content').html(data);
                //$('#InfoModal').modal("show");

                $("#ContractModal .modal-content").html(data);
                $("#ContractModal").modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }*@

    function ShowEmailBlast(id) {
        $.ajax({
            url: '@Url.Action("ShowEmailBlast", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function ShowLogoInfo(id,ClientId)
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowLogo", "ViewClients")',
            data: { id: id , ClientId:ClientId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal .modal-content').html(data);
                ConvertImagetoDataURL();
                $('#myModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


    function ShowLienInfo(id) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowLienInfo", "ViewClients")',
            data: { id: id},
            type: "POST",
            success: function (data) {
                debugger;
                $('#InfoModal .modal-content').html(data);
                $('#obj_ADClientLienInfo_ContactDOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#obj_ADClientLienInfo_ContactDOB2').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                if ($("#obj_ADClientLienInfo_EmailReports").prop("checked") == false) {
                    $("#obj_ADClientLienInfo_EmailReportsTo").hide();
                }
                if ($("#obj_ADClientLienInfo_EmailAck").prop("checked") == false) {
                    $("#obj_ADClientLienInfo_EmailAckTo").hide();
                }
                if ($("#obj_ADClientLienInfo_EmailLienAlerts").prop("checked") == false) {
                    $("#obj_ADClientLienInfo_EmailLienAlertsTo").hide();
                }
                CheckMinDate();
                $('#InfoModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }
    function ShowCollectionInfo(id) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowCollectionInfo", "ViewClients")',
            data: { id: id },
            type: "POST",
            async: false,
            success: function (data) {
                debugger;
                $('#InfoModal .modal-content').html(data);
                $('#Obj_ADCCI_ContactDOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#Obj_ADCCI_ContactDOB2').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#Obj_ADCCI_ExpireDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                CheckMinDate();
                $('#InfoModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function NewBranch() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowNewBranch", "ViewClients")',
            type: "GET",
            success: function (data) {
                debugger;

                $('#WideModal .modal-content').html(data);
                $('#ADC_obj_ContactDOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#ADC_obj_ContactDOB2').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#WideModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function ShowBranchDetails (id)
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowBranchDetails", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#WideModal .modal-content').html(data);
                $('#ADC_obj_ContactDOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                $('#ADC_obj_ContactDOB2').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                ConvertImagetoDataURLBranchSignature();
                CheckMinDate();
                $('#WideModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function SaveBasicInfo()
    {
        debugger;
        $.ajax({
            url: '@Url.Action("EditClient", "ViewClients")',
            data: $('#FormEditBasicInfoCl').serialize(),
            type: "POST",
            success: function (data) {
                debugger;
                //$('#list').html(data);
                //makeDatatable('tblViewClients');
                //$("#txtSearch").val("");
                if(data == true)
                {
                    hideLoadingImage();
                    $('#successMsg').show();
                }
                else
                {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }

        });
    }

    function ShowClientDetails()
    {
        $.ajax({
            url: '@Url.Action("LoadClient", "ViewClients")',
            data: { id: id},
            type: "POST",
            success: function (data) {
                $('#EditClient').html(data);
                CheckMinDate();
                $('#list').hide();
                $('#Obj_ADClient_NextContactDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                $('#Obj_ADClient_EvaluationDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                $('#Obj_ADClient_ContactDOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                $('#Obj_ADClient_SetupDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                $('#Obj_ADClient_CommissionDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                makeDatatable('tblClientCntracts');
                makeDatatable('tblClientNotes');
                makeDatatable('tblOpenIssues');
                makeDatatable('tblClientBranches');
                makeDatatable('tblClientUsers');
                makeDatatable('tblClientContacts');
                makeDatatable('tblClientSigner');
                makeDatatable('tblClientReports');
                if ($("#ChkFollowUp").prop("checked") == false) {
                    $("#Obj_ADClient_NextContactDate").hide();
                }
                if ($("#ChkEvalDate").prop("checked") == false) {
                    $("#Obj_ADClient_EvaluationDate").hide();
                }
            },
            fail: function (error) {

                $('#errorMsg').show();

            }
        });
    }

    $('#ChkFollowUp').click(function () {
        debugger;
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#Obj_ADClient_NextContactDate').show();
        }
        else {
            $('#Obj_ADClient_NextContactDate').hide();
        }
    });

    $('#ChkEvalDate').click(function () {
        debugger;
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#Obj_ADClient_EvaluationDate').show();
        }
        else {
            $('#Obj_ADClient_EvaluationDate').hide();
        }
    });



    function CheckMinDate()
    {
        debugger;
        var DateTextBoxArray = ["obj_ADClientLienInfo_ContactDOB",
                                "obj_ADClientLienInfo_ContactDOB2",
                                "Obj_ADCCI_ContactDOB",
                                "Obj_ADCCI_ContactDOB2",
                                "Obj_ADCCI_ExpireDate",
                                "Obj_ADClient_ContactDOB",
                                "Obj_ADClient_SetupDate",
                                "Obj_ADClient_CommissionDate",
                                "Obj_ADClient_NextContactDate",
                                "Obj_ClientContract_SetupDate",
                                "Obj_ClientContract_OwnershipDate",
                                "Obj_ClientContact_DOB",
                                "PortalUser_DOB",
                                "Obj_ADClient_EvaluationDate",
                                "ADC_obj_ContactDOB",
            "ADC_obj_ContactDOB2"];

        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                debugger;
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == undefined || date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }
                
            }
        });
    }


</script>