﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientScheduledReportsVM
@{
    Layout = null;
}

<form id="FormScheduledReport">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Scheduled Report</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div id="hiddenFields">
            @Html.HiddenFor(m => m.Obj_ScheduledReport.Id)
            @Html.HiddenFor(m => m.Obj_ScheduledReport.ClientId)
        </div>
            <div class="col-xs-12 form-group">
                <div class="col-xs-2 text-left">
                    <lable>Report</lable>
                </div>
                <div class="col-xs-6">
                    @Html.DropDownListFor(m => m.Obj_ScheduledReport.ScheduledReportId, Model.ReportTypeList, new { @class = "form-control"})
                </div>
                </div>
            <div class="col-xs-12 form-group">
                <div class="col-xs-2 text-left">
                    <lable>Email To</lable>
                </div>
                <div class="col-xs-6">
                    @Html.TextAreaFor(m => m.Obj_ScheduledReport.EmailTo, new { @class = "form-control", rows = "6" })
                </div>
            </div>
        
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveReport();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalReport()" />
        </div>
    </div>
</form>

<script>



    function SaveReport() {
        debugger;
            var id = @Model.Obj_ScheduledReport.ClientId;
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("SaveSceduledReport", "ViewClients")',
                data: $('#FormScheduledReport').serialize(),
                type: "POST",
                success: function (data) {
                    if (data == true) {
                        hideLoadingImage();
                        $('#successMsg').show();
                        $("#InfoModalBranch").modal("hide");
                        ShowDetails(id);
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                        $("#InfoModalBranch").modal("hide");
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#InfoModalBranch").modal("show");
                }
            });
    }
    function CloseModalReport() {
        $('#InfoModalBranch').modal("hide");
    }
</script>