﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientSignerVM
@{
    Layout = null;
}
<form id="FormSignerData">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client Signer</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div id="hiddenFields">
            @Html.HiddenFor(m => m.Obj_ClientSigner.Id)
            @Html.HiddenFor(m => m.Obj_ClientSigner.ClientId)
            </div>
      <div class="col-xs-12 form-group">
          <div class="col-xs-2 Text-Left">
              <lable>Signer</lable>
          </div>
          <div class="col-xs-7">
              @Html.TextBoxFor( m => m.Obj_ClientSigner.Signer, new {@class = "form-control" } )
          </div>
      </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Title</lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.Obj_ClientSigner.SignerTitle, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Email</lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.Obj_ClientSigner.SignerEmail, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Email</lable>
            </div>
            <div class="col-xs-7">
                @Html.HiddenFor(m => m.Obj_ClientSigner.Signature)
                @Html.HiddenFor(m => m.Obj_ClientSigner.Id)
                <div class="form-group col-md-12 col-sm-12 col-xs-12 image-panel" style="padding:0">
                    <img id="imagefieldSignature" src="#" class="image-padding" />
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="fileupload-btn-wrapper">
                        <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                        <input id="uploadimageSignature" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg">
                    </div>
                    <button id="btnDeleteImage" class="btn btn-default" style="margin-top:-36px" onclick="$('#imagefieldSignature').attr('src','@Url.Content("~/Content/Images/Noimage.png")'); $('#uploadimageSignature').val(''); return false;">
                        <i class="wb-close"></i>
                        Delete
                    </button>
                   
                </div>
                <div id="ErrorImage" class="Invalid-feedback" style="display:none">
                    Please Select Image.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnDelete" value="Delete" class="btn pull-left btn-primary" onclick="DeleteSigner(@Model.Obj_ClientSigner.Id)" />
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveSigner()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalSigner()" />
        </div>
    </div>
</form>

<script>
    $("#uploadimageSignature").change(function () {
        debugger;
        if ($('#uploadimageSignature').val() != "") {
            readImage(this, "imagefieldSignature", "Obj_ClientSigner_Signature");
        }

        function CloseModalSigner() {
            $('#InfoModalBranch').modal("hide");
        }

    });

    function CloseModalSigner() {
        $('#InfoModalBranch').modal("hide");
        hideLoadingImage();
    }
    function DeleteSigner(Id)
    {
        debugger;
        var id = @Model.Obj_ClientSigner.ClientId;
        showLoadingImage();
        if (confirm("Are You Sure?")) {
            $.ajax({
                url: '@Url.Action("DeleteSigner", "ViewClients")',
                data: { Id: Id },
                type: "POST",
                dataType: 'json',
                success: function (data) {
                    if (data == true) {
                        hideLoadingImage();
                        $('#deleteMsg').show();
                        $("#InfoModalBranch").modal("hide");
                        hideLoadingImage();
                        ShowDetails(id, "ClSigners", "TabSigners");
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                        $("#InfoModalBranch").modal("hide");
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#InfoModalBranch").modal("show");
                }
            });
        }
    }

    function Delete() {
        $('#imagefieldSignature').attr('src', '@Url.Content("~/Content/Images/Noimage.png")');
        $('#uploadimageSignature').val('');
        $("#Obj_ADCImage_ImageObject").val("");
        return false;
    }

    function SaveSigner() {
        var id = @Model.Obj_ClientSigner.ClientId;
        debugger;
        var data =  $('#FormSignerData').serialize();
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SaveSigner", "ViewClients")',
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $("#InfoModalBranch").modal("hide");
                    ShowDetails(id, "ClSigners", "TabSigners");
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#InfoModalBranch").modal("hide");
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#InfoModalBranch").modal("show");
            }
        });
    }
</script>
