﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.UserVM
@{
    Layout = null;
}

<form id="FormUserEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>User</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div id="hiddenFields">
            @Html.HiddenFor(m=>m.PortalUser.ID)
            @Html.HiddenFor(m=>m.PortalUser.ClientId)
        </div>    
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <lable>Full Name</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PortalUser.UserName,new { @class="form-control"})
            </div>
            <div class="col-xs-3">
                <lable>Is Inactive</lable>
                @Html.CheckBoxFor(m => m.PortalUser.isinactive)
            </div>
        </div> 
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <lable>Login Name</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PortalUser.LoginCode, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <lable>Login Password</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PortalUser.LoginPassword, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <lable>Phone</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.PortalUser.PhoneNo, new { @class = "form-control", type = "tel", @onblur = "formatPhone(this)", maxlength = "10" })
            </div>
            <div class="col-xs-1 NopaddingLR">
                <lable>Extension </lable>
            </div>
            <div class="col-xs-2">
                @*<input type="text" class = "form-control" />*@
                @Html.TextBoxFor(m => m.PortalUser.PhoneExt, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <lable>Email</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PortalUser.Email, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <lable>Birth Date</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.PortalUser.DOB, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:181.45px" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <lable>Roles</lable>
            </div>
            <div class="col-xs-6">
                @*@Html.CheckBoxFor(m => m.IsClientViewManagerView)*@
                @Html.RadioButtonFor(m => m.IsAdminManagerStaff,"Manager", new { @checked = true })
                <lable>Manager   </lable>
                @*@Html.CheckBoxFor(m => m.IsStaff)*@
                @Html.RadioButtonFor(m => m.IsAdminManagerStaff, "Staff")
                <lable>Staff   </lable>
                @*@Html.CheckBoxFor(m => m.IsClientViewAdminView)*@
                @Html.RadioButtonFor(m => m.IsAdminManagerStaff, "Admin")
                <lable>Admin</lable>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-3">
                <lable>Client View Group</lable>
            </div>
            <div class="col-xs-4">
                @Html.CheckBoxFor(m => m.HasGroupAccess)
                <lable>Has Group Access</lable>
            </div>
            <div class="col-xs-5">
                @{
                    if (Model.HasGroupAccess == true)
                    {
                        @Html.DropDownListFor(m => m.PortalUser.ClientViewGroupId, Model.ViewGroupList, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.PortalUser.ClientViewGroupId, Model.ViewGroupList, new { @class = "form-control", style="display:none" })
                    }
                }
                @*@Html.DropDownListFor(m => m.PortalUser.ClientViewGroupId,Model.ViewGroupList, new { @class="form-control"})*@
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClearUser" value="Clear" class="btn btn-primary pull-left" onclick="ClearUser(@Model.PortalUser.ID);" />
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveUpdateUser();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalUser()" />
        </div>
    </div>
</form>

<script>

    function CloseModalUser() {
        $('#InfoModalBranch').modal("hide");
    }

    $('#HasGroupAccess').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#PortalUser_ClientViewGroupId').show();
        }
        else {
            $('#PortalUser_ClientViewGroupId').hide();
        }
    });

    function ClearUser(ID)
    {
        $.ajax({
            url: '@Url.Action("ShowUser", "ViewClients")',
            data: { ID: ID },
            type: "POST",
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                $('#PortalUser_DOB').datepicker({ format: 'mm/dd/yy' }).datepicker();
                CheckMinDate();
                $('#InfoModalBranch').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function SaveUpdateUser()
    {
        debugger;
        var id = @Model.PortalUser.ClientId;
        var data = $('#FormUserEdit').serialize();
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SaveUpdateUser", "ViewClients")',
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $("#InfoModalBranch").modal("hide");
                    ShowDetails(id, "ClUsers","TabUsers");
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#InfoModalBranch").modal("hide");
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#InfoModalBranch").modal("show");
            }
        });
    }
</script>