﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ViewClientsVM
@{
    Layout = null;
}
<div id="list">
    <div id="filterDiv">
        @{Html.RenderPartial("~/Views/CRFViewClients/ClientManagement/View Clients/_FilterView.cshtml");}
    </div>
    @*@{Html.RenderPartial("~/Views/CRFViewClients/ClientManagement/View Clients/_ViewClientList.cshtml");}*@
</div>

<div>
    <table id="tblViewClients" class="table table-bordered dataTable table-hover grid "  style="width:100%;margin-left:-22px" border="1">

        <thead>
            <tr>
                @*<th class="no-sort" style="width:1%;">Edit</th>
        <th style="width: 95px;white-space:nowrap;">Main Client #</th>
        <th style="width: 140px;white-space:nowrap;">Client # / ClientId</th>
        <th style="width: 260px;white-space:nowrap;">Client Name</th>
        <th style="width: 160px;white-space:nowrap;">Contact Name</th>
        <th style="width: 90px;white-space:nowrap;">City</th>
        <th style="width: 50px;white-space:nowrap;">State</th>
        <th style="width: 82px;white-space:nowrap;">Last Account </th>
        <th style="width: 82px;white-space:nowrap;">Last Job </th>
        <th style="width: 95px;white-space:nowrap;">Phone #</th>
        <th style="width: 42px;white-space:nowrap;">Inactive</th>
        <th style="width: 42px;">Last Account Placed</th>
        <th style="width: 42px;">Last Job Placed</th>*@
                <th class="no-sort" style="width:1%;">Edit</th>
                <th>Main Client #</th>
                <th>Client # / ClientId</th>
                <th>Client Name</th>
                <th>Contact Name</th>
                <th>City</th>
                <th>State</th>
                <th>Last Account </th>
                <th>Last Job </th>
                <th>Phone #</th>
                <th>Inactive</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.ListADClient)
            {
            <tr>
                <td>
                    <button onclick="ShowDetails(@i.ClientId)" class="btn btn-default btn-icon btn-pure">
                        <i class="icon wb-edit" aria-hidden="true"></i>
                    </button>
                </td>
                <td>@i.MainClientCode</td>
                <td>@i.ClientCode/@i.ClientId</td>
                <td style="white-space:nowrap">@i.ClientName</td>
                <td>@i.ContactName</td>
                <td>@i.City</td>
                <td>@i.State</td>
                <td>
                    @{
                        if (i.LastAccountPlaced == DateTime.MinValue || i.LastAccountPlaced == null)
                        {
                        }
                        else
                        {@i.LastAccountPlaced.Value.ToShortDateString()}
                    }
                </td>

                <td>
                    @{
                        if (i.LastJobPlaced == DateTime.MinValue || i.LastJobPlaced == null) { }
                        else
                        {@i.LastJobPlaced.Value.ToShortDateString()}
                    }
                </td>

               @*<td>@i.LastAccountPlaced.Value.ToShortDateString()</td>
                <td>@i.LastJobPlaced.Value.ToShortDateString()</td>*@

                @*@{
            if (i.NextContactDate.Value == DateTime.MinValue)
            {
                <td></td>
            }
            else
            {
                <td>@i.NextContactDate.Value.ToShortDateString()</td>
            }
        }
        @{
            if (i.EvaluationDate.Value == DateTime.MinValue)
            {
                <td></td>
            }
            else
            {
                <td>@i.EvaluationDate.Value.ToShortDateString()</td>
            }
        }*@

                @*<td>@i.PhoneNo</td>*@

                <td style="white-space:nowrap">
                    @CRF.BLL.CRFView.CRFView.GetFormattedPhoneNumber(@i.PhoneNo)
                    @*@CRFView.Utility.GetFormattedPhoneNumber(@i.PhoneNo)*@
                </td>

                <td>@i.IsInactive</td>

            </tr>
            }
        </tbody>
    </table>
</div>

<script>


   



    function ShowDetails(id, ActiveList, ActiveTab) {
           debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("LoadClient", "ViewClients")',
            data: { id: id},
            type: "POST",
            success: function (data) {
                $('#EditClient').html(data);
                CheckMinDate();
                $('#list').hide();
                $('#Obj_ADClient_NextContactDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                $('#Obj_ADClient_EvaluationDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                $('#Obj_ADClient_ContactDOB').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                $('#Obj_ADClient_SetupDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");
                $('#Obj_ADClient_CommissionDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate");

                if ((typeof ActiveList !== 'undefined') && (typeof ActiveTab !== 'undefined')) {
                    debugger;
                    RemoveActiveClass_ViewClient();
                    AddActiveClass_ViewClient(ActiveList, ActiveTab);
                }

                makeDatatable('tblClientCntracts');
                makeDatatable('tblClientNotes');
                makeDatatable('tblOpenIssues');
                makeDatatable('tblClientBranches');
                makeDatatable('tblClientUsers');
                makeDatatable('tblClientContacts');
                makeDatatable('tblClientSigner');
                makeDatatable('tblClientReports');
                if ($("#ChkFollowUp").prop("checked") == false) {
                    $("#Obj_ADClient_NextContactDate").hide();
                }
                if ($("#ChkEvalDate").prop("checked") == false) {
                    $("#Obj_ADClient_EvaluationDate").hide();
                }
                hideLoadingImage();
                document.getElementById('btnBackToClientList').style.display = 'block';
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();

            }
        });
    }

    function AddActiveClass_ViewClient(ActiveList,ActiveTab) {
        debugger;
        var current = document.getElementById(ActiveList);
        current.className += " active";
        var currentTab = document.getElementById(ActiveTab);
        currentTab.className += " active";
    }

    function RemoveActiveClass_ViewClient() {
        debugger;
        var IdList = ["ClMainInfo",
            "ClContract",
            "ClNotes",
            "ClBranches",
            "ClUsers",
            "ClContacts",
            "ClSigners",
            "TabMainInfo",
            "TabContract",
            "TabNotes",
            "TabBranches",
            "TabUsers",
            "TabContacts",
            "TabSigners"];

        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                debugger;
                var element = document.getElementById(name);
                element.classList.remove("active");
            }
        });
    }
</script>
