﻿@model CRFView.Adapters.ADTeam
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Team Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.TeamName, new { @class = "form-control" })
                <div id="ErrorTeamName" class="Invalid-feedback" style="display:none">
                    Please Enter Team Name.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Team Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.TeamCode, new { @class = "form-control" , @maxlength = "4" , @style = "text-transform:uppercase" })
                <div id="ErrorTeamCode" class="Invalid-feedback" style="display:none">
                    Please Enter Team Code.
                </div>
            </div>           
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsSalesTeam)<lable class="Checkbox-lable">Sales Team</lable>
            </div>
            <div class="col-md-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsServiceTeam)<lable class="Checkbox-lable">Service Team</lable>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Team Manager:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              @Html.DropDownListFor(m => m.ManagerId, new SelectList(ViewBag.ManagerList, "Id", "Name"),"Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("TeamSave", "Team")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblTeam');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#TeamName").val().length <= 0) {
            $("#ErrorTeamName").show();
            return false;
        }
        else {
            $("#ErrorTeamName").hide();
        }
        if ($("#TeamCode").val().length <= 0) {
            $("#ErrorTeamCode").show();
            return false;
        }
        else {
            $("#ErrorTeamCode").hide();
        }
        return true;
    }
</script>



