﻿@model CRFView.Adapters.Collections.Management.DeskAssignment.ViewModels.DeskAssignmentVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }

        #tblDeskAssignmentGrid_wrapper .row:first-child {
        overflow-x: auto;
    }

</style>

<form id="FormDeskAssignment">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Mass Action and Desk Changes
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        
        <div class="col-xs-12 NopaddingLR">

            <div class="col-xs-2">
                <fieldset class="customFieldset">
                    <legend></legend>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtActionChangeOption, "Desk Change", new { @checked = true })
                        &nbsp;
                        <lable>Desk Change</lable>
                    </div>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtActionChangeOption, "Status Change")
                        &nbsp;
                        <lable>Status Change</lable>
                    </div>

                </fieldset>
            </div>

            <div class="col-xs-3" style="margin-top: 20px;">
                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Assigned From</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.AssignedFrom, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Assigned Thru</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.AssignedThru, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Debtor #</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.DebtAccountId,  new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>
                
                </div>

            <div class="col-xs-5" style="margin-top: 20px;">
                
                <div class="col-xs-12 form-group">
                    <div class="col-xs-4 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                        &nbsp;
                        <lable>All Clients</lable>
                    </div>
                    <div class="col-xs-8" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllClientId, Model.AllClientIdList, new { @class = "form-control" })
                    </div>
                </div> 

                <div class="col-xs-12 form-group">
                    <div class="col-xs-4 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllDesks, new { @checked = true })
                        &nbsp;
                        <lable>All Desks</lable>
                    </div>
                    <div class="col-xs-8" id="divAllDesks" style="@(Model.chkAllDesks == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllDeskId, Model.AllDeskIdList, new { @class = "form-control" })
                    </div>
                </div>


                <div class="col-xs-12 form-group">
                    <div class="col-xs-4 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllStatus, new { @checked = true })
                        &nbsp;
                        <lable>All Status</lable>
                    </div>
                    <div class="col-xs-3" id="divAllStatus" style="@(Model.chkAllStatus == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllStatusId, Model.AllStatusIdList, new { @class = "form-control" })
                    </div>

                    

                </div>

            </div>


            <div class="col-xs-2" style="margin-top: 20px;">
                <div class="col-xs-12 form-group">
                    <input type="button" id="btnDeskAssignmentGetList" value="GetList" class="btn btn-primary" onclick="DeskAssignmentGetList()" />
                    
                </div>



            </div>

           
        </div>

        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-12 form-group" style="text-align: right;">
                <b>
                    <lable style="font-weight: 1000; font-size: medium;">
                        @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                    </lable>
                </b>
            </div>
           
        </div>




        <div class="col-xs-12 NopaddingLR">
            <br />
            <div id="tableDeskAssignmentGridDiv" style="height: 450px; display: block; overflow-y: scroll; overflow-x: scroll;margin-top: -28px; @(Model.DeskAssignmentList.Count <= 0  ? "display:none" : "display:block")">
                <table id="tblDeskAssignmentGrid" class="table table-bordered dataTable table-hover grid " border="1" style="width:1840px;">
                    <thead>
                        <tr style="white-space:nowrap">
                            <th class="no-sort" style="width: 10px;">Edit</th>
                            <th style="width: 10px;">Debtor # </th>
                            <th style="width: 30px;">Client #</th>
                            <th style="width: 236px;">Client Name</th>
                            <th style="width: 82px;">Debtor Name</th>
                            <th style="width: 15px;">Desk #</th>
                            <th style="width: 80px;">Status </th>
                            <th style="width: 80px;">State</th>
                            <th style="width: 82px;">Assigned Amt</th>
                            <th style="width: 82px;">Referal Date</th>
                            <th style="width: 100px;">Next Contact Date</th>
                            <th style="width: 82px;">Last Service Date</th>
                            <th style="width: 100px;">Branch Num</th>
                           
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.DeskAssignmentList.Count >= 1)
                        {
                            foreach (var i in Model.DeskAssignmentList)
                            {
                                <tr style="white-space:nowrap">
                                    @*<td>
                                        <button type="button" onclick="ShowDeskAssignmentDetails(@i.DebtAccountId)" class="btn btn-default btn-icon btn-pure">
                                            <i class="icon wb-edit" aria-hidden="true"></i>
                                        </button>
                                    </td>*@
                                    <td>
                                        <div class="col-xs-2 checkbox-sm">
                                            <input id="chkIsChekedId"
                                                   name="chkIsCheked"
                                                   type="checkbox"
                                                   value=@i.DebtAccountId />
                                        </div>
                                    </td>
                                    <td>
                                        @i.DebtAccountId
                                    </td>
                                    <td>
                                        @i.ClientCode
                                    </td>
                                    <td>
                                        @i.ClientName
                                    </td>
                                    <td>
                                        @i.DebtorName
                                    </td>
                                    <td>
                                        @i.Location
                                    </td>
                                    <td>
                                        @i.CollectionStatus
                                    </td>
                                    <td>
                                        @i.State
                                    </td>
                                    <td>
                                        @String.Format("{0:C}", i.TotAsgAmt)
                                    </td>
                                    @{
                                        if (i.ReferalDate == DateTime.MinValue)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@i.ReferalDate.ToShortDateString()</td>
                                        }
                                    }
                                    @{
                                        if (i.NextContactDate == DateTime.MinValue)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@i.NextContactDate.ToShortDateString()</td>
                                        }
                                    }
                                    @{
                                        if (i.LastServiceDate == DateTime.MinValue)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@i.LastServiceDate.ToShortDateString()</td>
                                        }
                                    }
                                    <td>
                                        @i.BranchNum
                                    </td>

                                </tr>
                                            }
                                        }
                                </tbody>
                            </table>
                        </div>


        </div>
        @*<div class="col-xs-4 checkbox-sm" id="checkAllBox" style="display: none;">
            <input type="checkbox" id="checkAll" />
            &nbsp;
            <lable>Select All </lable>
        </div>*@
        <div class="form-group col-xs-12 lt NopaddingLR" id="radiobox" style="display: none;">

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-2 checkbox-sm" id="checkAllBox" style="display: none;">
                    <input type="checkbox" id="checkAll" />
                    &nbsp;
                    <lable>Select All </lable>
                </div>
                
                    <div class="col-xs-2">
                        @Html.RadioButtonFor(m => m.RbtNewOption, "New Desk")
                        &nbsp;
                        <lable>New Desk</lable>
                    </div>
                    <div class="col-xs-3" id="divNewDesk" style="@(Model.RbtNewOption == "New Desk" ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlNewDeskId, Model.AllDeskIdList, new { @class = "form-control" })
                    </div>
                

                
                    <div class="col-xs-2">
                        @Html.RadioButtonFor(m => m.RbtNewOption, "New Action")
                        &nbsp;
                        <lable>New Action</lable>
                    </div>
                    <div class="col-xs-3" id="divNewAction" style="@(Model.RbtNewOption == "New Action" ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlNewActionId, Model.NewActionIdList, new { @class = "form-control" })
                    </div>
                

            </div>
        </div>



    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.ddlNewDeskId)
        @Html.HiddenFor(m => m.ddlNewActionId)
    </div>

    <div class="modal-footer">
        @*<div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">*@
            <input type="button" id="btnUpdate" value="Update" class="btn btn-primary" onclick="UpdateDeskAssignment()" disabled />
            <input type="button" value="Cancel" id="btnMailReturnsCancel" class="btn btn-primary" data-dismiss="modal" /> </div>
    @*</div>*@
</form>

<script>
    $("[name='chkAllClients']").click(function () {
        debugger;
        var chkAllClients = $(this).val();

        if (this.checked) {
            $('#divAllClients').hide();
        }
        else {
            $('#divAllClients').show();

        }
    });

    $("[name='chkAllDesks']").click(function () {
        debugger;
        var chkAllDesks = $(this).val();

        if (this.checked) {
            $('#divAllDesks').hide();
        }
        else {
            $('#divAllDesks').show();
        }
    });

    $("[name='chkAllStatus']").click(function () {
        debugger;
        var chkAllStatus = $(this).val();

        if (this.checked) {
            $('#divAllStatus').hide();
        }
        else {
            $('#divAllStatus').show();
        }
    });


     $("[name='RbtNewOption']").click(function () {
        debugger;
        var RbtNewOption = $(this).val();

      // var ddlNewDeskId = @Model.ddlNewDeskId;
       // var ddlNewActionId = @Model.ddlNewActionId;
        // $("#ddlNewDeskId").val("ddlNewDeskId");
        //$("#ddlNewActionId").val("ddlNewActionId");


        if (RbtNewOption == "New Desk") {

            $('#divNewDesk').show();
            $('#divNewAction').hide();
        }
        else if (RbtNewOption == "New Action") {

            $('#divNewDesk').hide();
            $('#divNewAction').show();
        }
        else
        {
            $('#divNewDesk').hide();
            $('#divNewAction').hide();
        }

     });

    $("#checkAll").click(function () {
        debugger;
       // $('#chkAllClients').attr('checked', true);
       // $('#chkAllDesks').attr('checked', true);
       // $('#chkAllStatus').attr('checked', true);
        //$('input:checkbox').not(this).prop('checked', this.checked);
        $("input[name='chkIsCheked']:checkbox").not(this).prop('checked', this.checked);
        $("#btnUpdate").prop('disabled', false);
    });

    //$("[name='chkIsCheked']").click(function () {
    //    debugger;
    //    $("#btnUpdate").prop('disabled', false);
        
    //});
   

    function DeskAssignmentGetList() {
        debugger;


        var data = $('#FormDeskAssignment').serialize();


        $.ajax({
            url: '@Url.Action("GetDeskAssignmentList", "DeskAssignment")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    makeDatatable('tblDeskAssignmentGrid');

                    $('#myModal .modal-content').html(data);
                    //$('#test').show();
                    document.getElementById('radiobox').style.display = 'block';
                    document.getElementById('checkAllBox').style.display = 'block';
                    $("#btnUpdate").prop('disabled', false);

                    DeskAssignmentCheckMinDate();
                }
                else {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }

    function DeskAssignmentCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["AssignedFrom",
                                               "AssignedThru"];
        //To set Current Date
        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());

        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                }
                else {
                    $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }

    function ShowDeskAssignmentDetails(DebtAccountId)
    {
        debugger;
        //var searchIDs = $("#tableDeskAssignmentGridDiv input:checkbox:checked").map(function () {
        //    return $(this).val();
        //}).get();
        //debugger;
       
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("GetDeskAssignmentDetails", "DeskAssignment")',
            data: { DebtAccountId: DebtAccountId, searchIDs: searchIDs },
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModal').modal("hide");




                $('#myModalEditDeskAssignment .modal-content').html(data);
             

                $('#myModalEditDeskAssignment').modal("show");


                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function DeskAssignmentLoad() {
        debugger;
        var data = $('#FormDeskAssignment').serialize();
        $.ajax({
            url: '@Url.Action("DeskAssignmentLoad", "DeskAssignment")',
            data : data,
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                DeskAssignmentGetList();
                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }
    function UpdateDeskAssignment() {
        debugger;

        var checked = $("[name='chkIsCheked']:checked").length > 0;
        if (!checked) {
            alert("Please check at least one checkbox");
            return false;
        }
        var searchIDs = $("#tableDeskAssignmentGridDiv input:checkbox:checked").map(function () {
            return $(this).val();
        }).get();
        debugger;
        showLoadingImage();
        var RbtNewOption = $("input[name='RbtNewOption']:checked").val();
        var ddlNewDeskId = $('select#ddlNewDeskId option:selected').val();
        var ddlNewActionId = $('select#ddlNewActionId option:selected').val();
        var data = $('#FormEditDeskAssignment').serialize();
        $.ajax({
            url: '@Url.Action("UpdateDeskAssignment", "DeskAssignment")',
            data: { RbtNewOption: RbtNewOption, ddlNewDeskId: ddlNewDeskId, ddlNewActionId: ddlNewActionId,searchIDs: searchIDs },
           
            type: "POST",
            success: function (data) {
                debugger;
                $("#myModalEditDeskAssignment").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    DeskAssignmentPopup();
                    DeskAssignmentLoad();

                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditDeskAssignment").modal("hide");
            }
        });
    }


    function DeskAssignmentPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Desk Assignment Info Has Been Updated.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>






