﻿@model IEnumerable<CRFView.Adapters.ADJobDeskGroup>
@{
    
    Layout = null;
}


<div>
    <table id="tblJobDeskGroup" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                
                <th>Id</th>
                <th>DeskGroup Name</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.DeskGroupName</td>             
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
