﻿@model CRFView.Adapters.ADJobDeskRules
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.Id)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Desk Rule Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                <div id="ErrorDescription" class="Invalid-feedback" style="display:none">
                    Please Enter Desk Rule Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">From Balance:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 input-icon">
                @Html.TextBoxFor(m => m.FromBalance, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                <i>$</i>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Thru Balance:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 input-icon">
                @Html.TextBoxFor(m => m.ThruBalance, new { @class = "form-control" ,@onkeypress = "return isNumber(event)" })
                <i>$</i>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Desk Number:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.DeskNumId, new SelectList(ViewBag.JobDeskList, "Id", "Code"), "Choose... ", new { @class = "form-control", style = "height: auto;" })   
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({

                url: '@Url.Action("JobDeskRulesSave", "JobDeskRules")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "JobDeskRules")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblJobDeskRules');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        
        if ($("#Description").val().length <= 0) {
            $("#ErrorDescription").show();
            return false;
        }
        else {
            $("#ErrorDescription").hide();
        }
        return true;
    }

</script>



