﻿@model IEnumerable<CRFView.Adapters.ADNoticeRates>
@{
    
    Layout = null;
}

<style>
    .no-pad-top-bottom{
        padding-top:0px;
        padding-bottom:0px;
    }
</style>
<div>
    <table id="tblNoticeRates" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Price Code Name</th>
                <th>IsAllInclusivePrice</th>
                <th>Use Prelim Volume</th>
                @*<th>Prelim Percentage</th>
                <th>IsFreeFormPricing</th>*@
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.PriceCodeName</td>     
                    <td>@i.IsAllInclusivePrice</td>
                    <td>@i.UsePrelimVolume</td>
                    @*<td>@i.PrelimPercentage</td>
                    <td>@i.IsFreeFormPricing</td>*@
                   
                  <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
