﻿
@model CRFView.Adapters.Clients.ClientManagementViewModels.ContactListVM
@{

}
<style>
    .left-text {
        text-align: left;
    }
</style>
<div>
    <h3 class="page-header">Client Contact List</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        <form id="FormClientReports">
            <div id="Contactlist">
                <fieldset class="customFieldset">
                    <legend>Selection Info</legend>
                    <div class="form-group left-text">
                        <div class="col-xs-12">
                            <div class="col-xs-3">
                                @Html.CheckBoxFor(m => m.chkLiens)
                                <label> Lien Contacts</label>
                            </div>
                            <div class="col-xs-3">
                                @Html.CheckBoxFor(m => m.chkCollectView)
                                <label> CollectView Users</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-3">
                                @Html.CheckBoxFor(m => m.chkCollection)
                                <label> Collection Contacts</label>
                            </div>
                            <div class="col-xs-3">
                                @Html.CheckBoxFor(m => m.chkLienView)
                                <label> LienView Users</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-3">
                                @Html.CheckBoxFor(m => m.chkTexas)
                                <label> Texas Contacts</label>
                            </div>
                            <div class="col-xs-3">
                                @Html.CheckBoxFor(m => m.chkOther)
                                <label>Other Contacts</label>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="col-xs-3">

                            </div>
                            <div class="col-xs-3">
                                <input type="button" id="btnOKClientReports" value="OK" class="btn btn-primary" onclick="ShowClientReports();" />
                                <input type="button" value="Cancel" id="CancelClientReports" class="btn btn-primary" onclick="" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {

    }
    function ShowClientReports()
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowClientReportRecords", "ClientReport")',
            data: $('#FormClientReports').serialize(),
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    // $("#ContractModal").modal("hide");
                    DownLoadList();
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#ContractModal").modal("hide");
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
              //  $("#ContractModal").modal("hide");
            }
        });
    }

    function DownLoadList(Id)
    {
        debugger;
        var url = "/ClientReport/ViewEmailListCSV";
        @*debugger;
        $.ajax({
            url: '@Url.Action("ViewEmailListCSV", "ClientReport")',
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            type: "GET",
            success: function (data) {
                debugger;
                window.location = url;
            },
            fail: function (error) {
            }
        });*@
        window.location = url
    }
</script>