﻿@model CRFView.Adapters.Liens.Managements.TXUtility.ViewModels.TXUtilityVM
@{
    Layout = null;
}

<form id="FormTXUtility">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            United Rentals TX Utility
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>
    <div class="modal-body" style="text-align:left">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="col-xs-12">&nbsp;</div>

                <div class="form-group col-xs-12 lt">
                    <br />
                    <br />
                    <br />
                    <div class="col-xs-12" style="text-align:center">
                        @Html.RadioButtonFor(m => m.RbtBtn, "optUtility1")
                        &nbsp;
                        <lable>TX Cleanup 1 (15th - EOM)</lable>
                    </div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12" style="text-align:center; margin-left: -5px;">
                        @Html.RadioButtonFor(m => m.RbtBtn, "optUtility2")
                        &nbsp;
                        <lable>TX Cleanup 2 (1st - 15th)</lable>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

        </div>

    </div>

    @*<div id="hiddenFields">
        @Html.HiddenFor(m => m.Message)
    </div>*@

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" />
            <input type="button" id="btnOK" value="OK" class="btn btn-primary" onclick="TXUtilityDetails();" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>

    function TXUtilityDetails() {
        debugger;
        //var optUtility = $("#RbtBtn").val();

        showLoadingImage();
        var data = $('#FormTXUtility').serialize();
        if (data != "")
            {

        $.ajax({
            url: '@Url.Action("GetTXUtilityDetails", "TXUtility")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                $('.modal-backdrop').remove();
                if (data == 1) {
                    TXUtilitySuccessPoppup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    NoticeSentWarning();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
        }
        else {
            //divDetails.style.display = "none";
            NoticeSentWarning();
            hideLoadingImage();
        }
    }

    function TXUtilitySuccessPoppup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Processed Succesfully",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Select which cleanup",
            type: "error",
            confirmButtonText: "ok"
        });
    }

</script>