﻿@model IEnumerable<CRFView.Adapters.ADPortal_Employee>
@{
    
    Layout = null;
}


<div>
    <table id="tblEmployees" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                
                <th>fullname</th>
                <th>Title</th>
                <th>Management</th>
                <th>Sales</th>
                <th>DisplayOrder</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.fullname</td>
                    <td>@i.title</td>   
                    <td>@i.isvisible</td>   
                    <td>@i.IsMarketing</td>   
                    <td>@i.DisplayOrder</td>             
                    <td>
                            <button onclick="ShowDetails(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
