﻿@model CRFView.Adapters.ADPortal_Employee
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    @Html.HiddenFor(m => m.PKID)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Full Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.fullname, new { @class = "form-control" })
                <div id="Errorfullname" class="Invalid-feedback" style="display:none">
                    Please Enter Full Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Title:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                <div id="Errortitle" class="Invalid-feedback" style="display:none">
                    Please Enter Title.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Phone No.:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @onblur = "formatPhone(this)", @maxlength = "15" })
                <div id="Errorphone" class="Invalid-feedback" style="display:none">
                    Invalid Phone Number.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Fax:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.fax, new { @class = "form-control", @onblur = "formatPhone(this)", @maxlength = "15" })
                <div id="Errorfax" class="Invalid-feedback" style="display:none">
                    Invalid Fax.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Email :</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                <div id="Erroremail" class="Invalid-feedback" style="display:none">
                    Please Enter email.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Description :</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextAreaFor(m => m.description, new { @class = "form-control", @cols = "7", @rows = "5" })
                <div id="Errordescription" class="Invalid-feedback" style="display:none">
                    Please Enter Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>DisplayOrder :</lable>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Image:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="form-group col-md-6 col-sm-6 col-xs-6" style="padding:0">
                    @Html.HiddenFor(m => m.image)
                    @Html.HiddenFor(m => m.imageid)
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 image-panel" style="padding:0">
                        <img id="imagefield" src="#" class="image-padding" />
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="file-upload">
                            <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                            <input id="uploadimage" class="file-upload__input" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg">
                        </div>

                        <button id="btnDeleteImage" class="btn btn-default" onclick="$('#imagefield').attr('src','@Url.Content("~/Content/Images/Noimage.png")'); $('#uploadimage').val(''); return false;">
                            <i class="wb-close"></i>
                            Delete
                        </button>
                    </div>
                    <div id="ErrorImage" class="Invalid-feedback" style="display:none">
                        Please Select Image.
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6" style="padding:0">
                    <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.isvisible)<lable class="Checkbox-lable">Management</lable>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsMarketing)<lable class="Checkbox-lable">Sales</lable>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function ConvertImagetoDataURL() {
        var imgsrc = 'data:image/jpeg;base64,' + $('#image').val();
        $('#imagefield').attr('src', imgsrc);
    }

    $("#uploadimage").change(function () {
        debugger;
        if ($('#uploadimage').val() != "") {
            readImage(this, "imagefield", "image");
        }

    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            if ($('#uploadimage').val() != "") {
                readImage(this, "imagefield", "image");
            }
            debugger;
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("employeesSave", "employees")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "employees")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblEmployees');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        if ($("#fullname").val().length <= 0) {
            $("#Errorfullname").show();
            return false;
        }
        else {
            $("#Errorfullname").hide();
        }
        if ($("#title").val().length <= 0) {
            $("#Errortitle").show();
            return false;
        }
        else {
            $("#Errortitle").hide();
        }

        if (validatePhone($("#phone").val()) == false) {
            $("#Errorphone").show();
            return false;
        }
        else {
            $("#Errorphone").hide();
        }
        if (validatePhone($("#fax").val()) == false) {
            $("#Errorfax").show();
            return false;
        }
        else {
            $("#Errorfax").hide();
        }
        if ($("#email").val().length <= 0) {
            $("#Erroremail").show();
            return false;
        }
        else {
            $("#Erroremail").hide();
        }
        if ($("#description").val().length <= 0) {
            $("#Errordescription").show();
            return false;
        }
        else {
            $("#Errordescription").hide();
        }
        var imgsrc = $('#imagefield').prop('src');
        if (imgsrc.indexOf("Noimage") >= 0) {
            $("#ErrorImage").show();
            return false;
        }
        else {
            $("#ErrorImage").hide();
        }
        return true;
    }
</script>



