﻿@model IEnumerable<CRFView.Adapters.ADJobActions>
@{
    
    Layout = null;
}


<div>
    <table id="tblJobActions" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th >Id</th>
                <th style="min-width:150px;">Action </th>
                <th >Job View </th>
                <th >System</th>
                <th >Client Action</th>
                <th >Lien Verifier</th>
                <th >Verifier</th>
                <th >NB Action</th>
                <th >TX Action</th>
                <th >New Desk</th>
                <th >New Status</th>
                <th >Next Call</th>
                <th >Drop Review</th>
                @*<th >Job View Desk</th>
                <th >Job View Status</th>*@
                <th >Validate Notice Sent</th>
                <th >Auto Notate</th>
                <th  class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td >@i.Id</td>     
                    <td >@i.Description</td>
                    <td >@i.IsJobView</td>    
                    <td >@i.IsSystem</td>    
                    <td >@i.IsClient</td> 
                    <td >@i.IsLienVerifier</td> 
                    <td >@i.IsVerifier</td>   
                   <td >@i.IsDataEntry</td>  
                    <td >@i.IsTXJobAction</td>  
                    <td >@i.DeskNum</td>  
                    <td >@i.JobStatus</td>  
                    <td >@i.NextCall</td>  
                    <td >@i.IsDropReview</td>    
                    @*<td >@i.JobViewDesk</td>    
                    <td >@i.JobviewStatus</td>*@    
                    <td >@i.ValidateForNoticeSent</td>   
                    <td >@i.IsNotation</td>           
                    <td >
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
