﻿@model CRFView.Adapters.ADJobActions
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">
        <div class="col-md-12 col-sm-12 col-xs-12 NopaddingLR">
            <div class="col-md-9 col-sm-9 col-xs-9 NopaddingLR">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                        <lable class="Label-FontSize">Action Description:</lable>
                        <span class="ValidationStar">*</span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        <div id="ErrorDescription" class="Invalid-feedback" style="display:none">
                            Please Enter Action Description.
                        </div>
                    </div>

                </div>
              
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:left">
                        <lable class="Label-FontSize">Next Call (Days):</lable>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        @Html.TextBoxFor(m => m.NextCall, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12">

                    <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsBillableEvent)<lable class="Checkbox-lable">Billable Action</lable>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        @Html.DropDownListFor(m => m.EventTypeId, new SelectList(ViewBag.BillableEventTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" id="divChnageDesk">
                    <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsChangeDesk)<lable class="Checkbox-lable">New Desk</lable>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                        @Html.DropDownListFor(m => m.NewDeskId, new SelectList(ViewBag.JobDeskList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" id="divChnageStatus">

                    <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsChangeStatus)<lable class="Checkbox-lable">New Status</lable>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        @Html.DropDownListFor(m => m.NewStatusId, new SelectList(ViewBag.JobStatusList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" id="divChnageJVDesk">
                    <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsChangeJVDesk)<lable class="Checkbox-lable">New JV Desk</lable>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        @Html.DropDownListFor(m => m.NewJobViewDeskId, new SelectList(ViewBag.JobViewDesksList, "Id", "Code"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" id="divChnageJVStatus">
                    <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsChangeJVStatus)<lable class="Checkbox-lable">New JV Status</lable>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        @Html.DropDownListFor(m => m.NewJobViewStatusId, new SelectList(ViewBag.JobViewStatusList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">
                    <div class="col-md-5 col-sm-5 col-xs-5 checkbox-sm " style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsDropReview)<lable class="Checkbox-lable">Drop Review Date</lable>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4  checkbox-sm NopaddingLR" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsMailReturnAction)<lable class="Checkbox-lable">Mail Return Action</lable>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3  checkbox-sm NopaddingLR" style="text-align:left" id="divTXJobAction">
                        @Html.CheckBoxFor(m => m.IsTXJobAction)<lable class="Checkbox-lable">Is TX Job Action</lable>
                    </div>

                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-5 col-sm-5 col-xs-5 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.ValidateForNoticeSent)<lable class="Checkbox-lable">Validate for Notice Sent</lable>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4  checkbox-sm NopaddingLR" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsMailDeliveredAction)<lable class="Checkbox-lable">Mail Delivered Action</lable>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:  left;border-color:  black; border-style:  solid; border-width:  1px;padding-top: 10px;padding-bottom: 10px;">
                <lable class="col-md-12 col-sm-12 col-xs-12 Label-FontSize" style="text-align:  left">Action Type</lable>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12">
                    @Html.RadioButtonFor(m => m.ActionType, "IsVerifier", new { @id = "rdoIsVerifier" })<label>Verifier</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12">
                    @Html.RadioButtonFor(m => m.ActionType, "IsLienVerifier", new { @id = "rdoIsLienVerifier" })<label>Lien Verifier</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12">
                    @Html.RadioButtonFor(m => m.ActionType, "IsDataEntry", new { @id = "rdoIsDataEntry" })<label>Data Entry</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12">
                    @Html.RadioButtonFor(m => m.ActionType, "IsClient", new { @id = "rdoIsClient" })<label>Client</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12">
                    @Html.RadioButtonFor(m => m.ActionType, "IsSystem", new { @id = "rdoIsSystem" })<label>System Generated</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12">
                    @Html.RadioButtonFor(m => m.ActionType, "IsJobView", new { @id = "rdoIsJobView" })<label>JobView</label>
                </div>
                <lable class="col-md-12 col-sm-12 col-xs-12 Label-FontSize" style="text-align:  left" id="lblCategory">Category</lable>
                @Html.DropDownListFor(m => m.CategoryType, new SelectList(ViewBag.JobActionCategoriesList, "Code", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
           </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="nav-tabs-horizontal" data-plugin="tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabCheckBoxes" aria-controls="TabCheckBoxes" role="tab" aria-selected="false">CheckBoxes</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAutoNotation" aria-controls="TabAutoNotation" role="tab" aria-selected="false">Auto Notation</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabCancelSettings" aria-controls="TabCancelSettings" role="tab" aria-selected="false">Cancel Settings</a></li>
                </ul>
                <br />
                <br />
                <div class="tab-content pt-20">

                    <div class="tab-pane active" id="TabCheckBoxes" role="tabpanel">
                        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;padding-right:0px">
                            <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.PublicJobBox)<lable class="Checkbox-lable">Public Job</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.FederalJobBox)<lable class="Checkbox-lable">Federal Job</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.ClientRecBox)<lable class="Checkbox-lable">ClientRcvd</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.NOCBox)<lable class="Checkbox-lable">NOCBox</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.IsReviewed)<lable class="Checkbox-lable">Reviewed</lable>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;padding-right:0px">
                            <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.CustRecBox)<lable class="Checkbox-lable">CustRec</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.CustFaxRecBox)<lable class="Checkbox-lable">Cust Fax Rcvd</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.CustAutoFaxBox)<lable class="Checkbox-lable">Cust AutoFax</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.CustChangeBox)<lable class="Checkbox-lable">Cust Change</lable>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;padding-right:0px">
                            <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.GCRecBox)<lable class="Checkbox-lable">GC Recvd</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.GCFaxRecBox)<lable class="Checkbox-lable">GC Fax Recvd</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.GCAutoFaxBox)<lable class="Checkbox-lable">GC AutoFax</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.GCChangeBox)<lable class="Checkbox-lable">GC Change</lable>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;padding-right:0px">
                            <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.AccessorBox)<lable class="Checkbox-lable">Accessor Rcvd</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.OnlineRecBox)<lable class="Checkbox-lable">Online Rcvd</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.JobChangeBox)<lable class="Checkbox-lable">Job Change</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.LenderChangeBox)<lable class="Checkbox-lable">Lender Change</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.OwnerChangeBox)<lable class="Checkbox-lable">Owner Change</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.DesigneeChangeBox)<lable class="Checkbox-lable">Designee Change</lable>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.DeskChangeBox)<lable class="Checkbox-lable">Desk Change</lable>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="TabAutoNotation" role="tabpanel">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">

                            <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.IsNotation)<lable class="Checkbox-lable">Auto Populate</lable>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8" style="text-align:left">
                                @Html.TextAreaFor(m => m.HistoryNote, new { @cols = "50", @rows = "4", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="TabCancelSettings" role="tabpanel">
                        <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelLienRequestBox)<lable class="Checkbox-lable">Cancel Lien Request</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelLienReleaseBox)<lable class="Checkbox-lable">Cancel Lien Release Request</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelLienExtensionBox)<lable class="Checkbox-lable">Cancel Lien Extension</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelNOIBox)<lable class="Checkbox-lable">Cancel NOI Request</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelBondClaimBox)<lable class="Checkbox-lable">Cancel Bond Claim Request</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelBondReleaseBox)<lable class="Checkbox-lable">Cancel Bond Release Request</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelStopNoticeBox)<lable class="Checkbox-lable">Cancel Stop Notice</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelStopReleaseBox)<lable class="Checkbox-lable">Cancel Stop Notice Release</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.CancelNTOBox)<lable class="Checkbox-lable">Cancel NTO Request</lable>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("JobActionsSave", "JobActions")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "JobActions")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblJobActions');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
            }
        }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#Description").val().length <= 0) {
            $("#ErrorDescription").show();
            return false;
        }
        else {
            $("#ErrorDescription").hide();
        }


        return true;
    }

    $('#IsBillableEvent').change(function () {
        if (this.checked)
            $('#EventTypeId').show();
        else
            $('#EventTypeId').hide();

    });
    $('#IsChangeDesk').change(function () {
        if (this.checked)
            $('#NewDeskId').show();
        else
            $('#NewDeskId').hide();

    });
    $('#IsChangeStatus').change(function () {
        if (this.checked)
            $('#NewStatusId').show();
        else
            $('#NewStatusId').hide();

    });
    $('#IsChangeJVDesk').change(function () {
        if (this.checked)
            $('#NewJobViewDeskId').show();
        else
            $('#NewJobViewDeskId').hide();

    });
    $('#IsChangeJVStatus').change(function () {
        if (this.checked)
            $('#NewJobViewStatusId').show();
        else
            $('#NewJobViewStatusId').hide();

    });
    $('#IsNotation').change(function () {
        if (this.checked)
            $('#HistoryNote').show();
        else
            $('#HistoryNote').hide();

    });
    $("input[name='ActionType']").click(function () {
        var SelectedValue = $(this).val();
        if (SelectedValue == "IsVerifier") {
            $("#CategoryType").show();
            $("#lblCategory").show();
        }
        else {
            $("#CategoryType").hide();
            $("#lblCategory").hide();
        }
        if (SelectedValue == "IsDataEntry") {
            $("#divTXJobAction").show();
        }
        else {
            $("#divTXJobAction").hide();
        }
        if (SelectedValue == "IsJobView") {
            $("#divChnageJVDesk").show();
            $("#divChnageJVStatus").show();
            $("#divChnageDesk").hide();
            $("#divChnageStatus").hide();
        }
        else {
            $("#divChnageDesk").show();
            $("#divChnageStatus").show();
            $("#divChnageJVDesk").hide();
            $("#divChnageJVStatus").hide();
        }
    });

    function DisableFields() {
        debugger;
        if ($("#IsBillableEvent").prop('checked')) {
            $("#EventTypeId").show();
        }
        else {
            $("#EventTypeId").hide();
        }
        if ($("#IsChangeDesk").prop('checked')) {
            $("#NewDeskId").show();
        }
        else {
            $("#NewDeskId").hide();
        }
        if ($("#IsChangeStatus").prop('checked')) {
            $("#NewStatusId").show();
        }
        else {
            $("#NewStatusId").hide();
        }
        if ($("#IsChangeJVDesk").prop('checked')) {
            $("#NewJobViewDeskId").show();
        }
        else {
            $("#NewJobViewDeskId").hide();
        }
        if ($("#IsChangeJVStatus").prop('checked')) {
            $("#NewJobViewStatusId").show();
        }
        else {
            $("#NewJobViewStatusId").hide();
        }
        if ($("#IsNotation").prop('checked')) {
            $("#HistoryNote").show();
        }
        else {
            $("#HistoryNote").hide();
        }
        var SelectedValue = $("input[name='ActionType']:checked").val();
        if (SelectedValue == "IsVerifier") {
            $("#CategoryType").show();
            $("#lblCategory").show();
        }
        else {
            $("#CategoryType").hide();
            $("#lblCategory").hide();
        }
        if(SelectedValue == "IsDataEntry")
        {
            $("#divTXJobAction").show();
        }
        else {
            $("#divTXJobAction").hide();
        }
        if (SelectedValue == "IsJobView") {
            $("#divChnageJVDesk").show();
            $("#divChnageJVStatus").show();
            $("#divChnageDesk").hide();
            $("#divChnageStatus").hide();
        }
        else {
            $("#divChnageDesk").show();
            $("#divChnageStatus").show();
            $("#divChnageJVDesk").hide();
            $("#divChnageJVStatus").hide();
        }
       
    }
</script>



