﻿@model IEnumerable<CRFView.Adapters.ADInternalUser>
    @{

    }

    <div>

        <h3 class="page-header">Internal Users</h3>
        <hr />
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
                <div id="list">
                    @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/InternalUsers/_InternalUsersList.cshtml");}
                </div>
           
        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>


    <script type="text/javascript">

        function OnPartialLoad() {

        }

        function AddDetails() {
            $.ajax({
                url: '@Url.Action("InternalUserAdd", "InternalUsers")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            showLoadingImage();
            debugger;
            $.ajax({
                url: '@Url.Action("InternalUserDetails", "InternalUsers")',
                data: {
                    id: id
                },
                success: function (data) {
                    hideLoadingImage();
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                   
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            debugger;
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {
      
            $.ajax({
                url: '@Url.Action("Search", "InternalUsers")',
                data: {
                    value: searchVal,
                    Key: SearchKey
                },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblInternalUsers');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
            }
            return false;
        }

        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "InternalUsers")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblInternalUsers');
                    makeDatatable('tblInternalUsers');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

       
    </script>


