﻿@model CRFView.Adapters.Accounting.AccountingLiens.InvoiceRecaps.ViewModels.InvoiceRecapsVM
@{
    Layout = null;
}


<style>
    .rt {
        text-align: right;
    }
</style>


<form id="formInvoiceRecap">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Invoice Recaps</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-12 ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>
                    <br />
                    <br />

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-4 rt">
                            <lable>Invoice Cycle</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.DropDownListFor(m => m.FinDocCycle, Model.InvoiceCycleList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-4 rt">
                            <lable>Invoice From Date</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.DateTimePicker1, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline; width: 126px;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-4 rt">
                            <lable>Invoice Thru Date</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.DateTimePicker2, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline; width: 126px;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">&nbsp;</div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-5">&nbsp;</div>
                        <div class="col-xs-5">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "optToPrinter", new { @checked = true }) &nbsp;
                            <lable>Send to Printer</lable>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-5">&nbsp;</div>
                        <div class="col-xs-5">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "optToPDF", new { @checked = true }) &nbsp;
                            <lable>Send to PDF</lable>
                        </div>
                    </div>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </fieldset>
            </div>
            
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnInvoiceSummaryClear" value="Clear" class="btn btn-primary pull-left" style="margin-left: 14px;" onclick="Clear();" />
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="SaveInvoiceRecap();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" style="margin-right: 15px;" />
        </div>
    </div>
</form>

<script>


    function SaveInvoiceRecap() {

        debugger;
        showLoadingImage();
        var data = $('#formInvoiceRecap').serialize();
        $.ajax({
            url: '@Url.Action("InvoiceRecapDetails", "InvoiceRecaps")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                //$('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "optToPDF") {
                    //PrintCollectionReportSuccessPopup();
                    hideLoadingImage();
                    return false;
                }

                if (data != "error") {
                    window.open(data);
                    CreateInvoiceRecapSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }


    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#DateTimePicker1').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#DateTimePicker2').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

    }


    function CreateInvoiceRecapSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Invoice Recap Processed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>










