﻿@model IEnumerable<CRFView.Adapters.ADJobViewDeskState>
@{
    
    Layout = null;
}


<div>
    <table id="tblJobViewDeskState" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Desks Number</th>
                <th>Job State</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.JobViewDeskNum</td>     
                    <td>@i.JobState</td>        
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
