﻿@model CRFView.Adapters.ADLienReports
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.ReportId)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Report Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.ReportName, new { @class = "form-control" })
                <div id="ErrorReportName" class="Invalid-feedback" style="display:none">
                    Please Enter Report Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                <div id="ErrorDescription" class="Invalid-feedback" style="display:none">
                    Please Enter Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Report Category:</lable>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.DropDownListFor(m => m.ReportCategoryId, new SelectList(ViewBag.ReportCategoriesList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable>Print From:</lable>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                @Html.TextBoxFor(m => m.PrintFrom, new { @class = "form-control",@style="text-transform:Uppercase" })
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 NopaddingLR">
              <lable class="Label-FontSize">(R=Report Menu, V=Verifier Screen, B=Both)</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Report Filename:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.ReportFileId, new SelectList(ViewBag.ReportFileNamesList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Custom Sproc:</lable>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.CustomSPName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("LienReportsSave", "LienReports")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "LienReports")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblLienReports');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        if ($("#ReportName").val().length <= 0) {
            $("#ErrorReportName").show();
            return false;
        }
        else {
            $("#ErrorReportName").hide();
        }
        if ($("#Description").val().length <= 0) {
            $("#ErrorDescription").show();
            return false;
        }
        else {
            $("#ErrorDescription").hide();
        }
        return true;
    }
</script>



