﻿@model CRFView.Adapters.ADJobViewStatus
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
         <h3 class="Details-Heading">Details
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                 <span aria-hidden="true">×</span>
             </button></h3>
    </div>

    @Html.HiddenFor(m => m.Id)
  
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>JobView Status:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.JobviewStatus, new { @class = "form-control", @style = "text-transform:uppercase" })
                <div id="ErrorJobviewStatus" class="Invalid-feedback" style="display:none">
                    Please Enter Jobview Status.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @cols=4,@rows=4})
                <div id="ErrorDescription" class="Invalid-feedback" style="display:none">
                    Please Enter Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Status Group:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.StatusGroup, new SelectList(ViewBag.StatusGroupList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign"></div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.IsManualStatus)<lable class="Checkbox-lable">Is Manual Status</lable>
                </div> 
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.IsNoticeRequestStatus)<lable class="Checkbox-lable">Is Notice Request Status</lable>
                </div> 
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.IsClosed)<lable class="Checkbox-lable">Is Closed</lable>
                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            debugger;
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("JobViewStatusSave", "JobViewStatus")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "JobViewStatus")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblJobViewStatus');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($('#JobviewStatus').val() == "") {
            $("#ErrorJobviewStatus").show();
            return false;
        }
        else {
            $("#ErrorJobviewStatus").hide();
        }
        if ($('#Description').val() == "") {
            $("#ErrorDescription").show();
            return false;
        }
        else {
            $("#ErrorDescription").hide();
        }

        return true;
    }
</script>



