﻿@model IEnumerable<CRFView.Adapters.ADClientReportsLog>
@{
    
    Layout = null;
}


<div>
    <table id="tblClientReportsLog" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Task Name</th>
                <th>Batch Id</th>
                <th>Client Code</th>
                <th>Start Date</th>
                <th>Email Done</th>
                <th>Date Viewed</th>
                <th>Status</th>
                <th>Message</th>            
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.taskname</td>
                    <td>@i.batchid</td>       
                    <td>@i.clientcode</td>
                    @{
                        if (i.startdate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.startdate.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    @{
                        if (i.emaildate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.emaildate.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    @{
                        if (i.dateviewed.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.dateviewed.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    <td>@i.status</td>
                    <td>@i.message</td>         
                </tr>
            }
        </tbody>
    </table>
</div>
