﻿@model IEnumerable<CRFView.Adapters.ADInternalUser>
@{
    
    Layout = null;
}


<div>
    <table id="tblInternalUsers" class="table table-bordered dataTable table-hover grid  " border="1">

        <thead>
            <tr>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Role List</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>       
                    <td>@i.UserName</td>
                    <td>@i.UserName</td>
                    <td>@i.Email</td>
                    <td>@i.RoleList</td>
                    
                    <td>                     
                        <button onclick="ShowDetails(@i.ID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
