﻿@model CRFView.Adapters.ADInternalUser
@{
    
    Layout = null;

}

<div class="modal-header">
    <h3 class="Details-Heading">
        Details
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
            <span aria-hidden="true">×</span>
        </button>
    </h3>
</div>
<form id="FormEdit">
    <div class="modal-body">
        <input type="hidden" value="@Model.ID" id="hdnId" name="id" />


        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Full Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                <div id="ErrorUserName" class="Invalid-feedback" style="display:none">
                    Please Enter Full Name.
                </div>
            </div>
            
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Logincode:</lable>
                <span class="ValidationStar">*</span>
            </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.TextBoxFor(m => m.LoginCode, new { @class = "form-control" })
                    <div id="ErrorLoginCode" class="Invalid-feedback" style="display:none">
                        Please Enter LoginCode.
                    </div>
                </div>
            </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Password:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.LoginPassword, new { @class = "form-control" })
                <div id="ErrorPassword" class="Invalid-feedback" style="display:none">
                    Please Enter Password.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Phone No:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control", @onkeypress = "return isNumber(event)" })

            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Email:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Roles:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">

                    @Html.RadioButtonFor(m => m.RoleList, "ADMIN", new { @id = "rdoAdmin" })<label>ADMIN </label>
                </div>
                <div class="radio-custom radio-sm col-md-5  col-sm-5 col-xs-5">

                    @Html.RadioButtonFor(m => m.RoleList, "MANAGER", new { @id = "rdoManager" })<label>MANAGER</label>
                </div>
                <div class="radio-custom radio-sm col-md-3  col-sm-3 col-xs-3">

                    @Html.RadioButtonFor(m => m.RoleList, "STAFF", new { @id = "rdoStaff" })<label>STAFF</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">

            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Modules :</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <table class="bg-indigo-100 table-default" style="width:200px">
                    <tr>

                        <td style="text-align: left;" class="checkbox-sm">
                            @*<input type="checkbox" id="Configuration" name="Configuration" checked="@Model.Configuration" />*@
                            @Html.CheckBox("Configuration", (bool)ViewBag.Configuration)<label> Configuration</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;" class="checkbox-sm">
                            @*<input type="checkbox" id="Clients" name="Clients" checked="@Model.Clients" />*@
                            @Html.CheckBox("Clients", (bool)ViewBag.Clients)<label> Clients</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;" class="checkbox-sm">
                            @*<input type="checkbox" id="Accounting"  name="Accounting" checked="@Model.Accounting" />*@
                            @Html.CheckBox("Accounting", (bool)ViewBag.Accounting)<label> Accounting</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;" class="checkbox-sm">
                            @*<input type="checkbox" id="Liens" name="Liens" checked="@Model.Liens" />*@
                            @Html.CheckBox("Liens", (bool)ViewBag.Liens)<label> Liens</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;" class="checkbox-sm">
                            @*<input type="checkbox" id="Collections" name="Collections" checked="@Model.Collections" />*@
                            @Html.CheckBox("Collections", (bool)ViewBag.Collections)<label> Collections</label>
                        </td>

                    </tr>

                </table>
            </div>

        </div>

        @*<div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Signature 1:</lable>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" name="SignatureLine1" value="@Model.SignatureLine1" />
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Signature 2:</lable>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" name="SignatureLine2" value="@Model.SignatureLine2" />
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Signature 3:</lable>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" name="SignatureLine3" value="@Model.SignatureLine3" />
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Signature 4:</lable>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" name="SignatureLine4" value="@Model.SignatureLine4" />
            </div>
        </div>*@

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="return Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>
<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        debugger;
        if (Validate()) {

            $('#myModal').modal('hide');
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("InternalUserSave", "InternalUsers")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblInternalUsers');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }


    function Validate() {
        debugger;

        if ($("#UserName").val().length <= 0) {
            $("#ErrorUserName").show();
            return false;
        }
        else {
            $("#ErrorUserName").hide();
        }
        if ($("#LoginCode").val().length <= 0) {
            $("#ErrorLoginCode").show();
            return false;
        }
        else {
            $("#ErrorLoginCode").hide();
        }
        if ($("#LoginPassword").val().length <= 0) {
            $("#ErrorPassword").show();
            return false;
        }
        else {
            $("#ErrorPassword").hide();
        }
        return true;
    }
</script>



