﻿@model CRFView.Adapters.ADCompanyInfo
@{
    Layout = null;
}

<div>
    <h3 class="page-header">Company Info</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        <form id="FormEdit">

            @Html.HiddenFor(m => m.AgencyId)
            <div class="modal-body">
                <div class="example-wrap">
                    <div class="nav-tabs-horizontal" data-plugin="tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabClientReports" aria-controls="TabClientReports" role="tab" aria-selected="false">Client Reports</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabClientLetterLogo" aria-controls="TabClientLetterLogo" role="tab" aria-selected="false">Client Letter Logo</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLienDefaults" aria-controls="TabLienDefaults" role="tab" aria-selected="false">Lien Defaults</a></li>
                        </ul>
                        <br />
                        <br />
                        <div class="tab-content pt-20">
                           
                            <div class="tab-pane active" id="TabClientReports" role="tabpanel" style="padding-left:10%;padding-right:10%">
                                @Html.HiddenFor(m => m.AgencyLogo)
                                 <div class="form-group col-md-12 image-panel">
                                    <img id="imgClientReports" src="#" class="image-padding"  />
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="file-upload">
                                        <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                                        <input id="uploadClientReport" class="file-upload__input" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg" >
                                    </div>
                                        <button id="btnDeleteClientReport" class="btn btn-default" onclick="$('#imgClientReports').attr('src', '');return false;">
                                            <i class="wb-close"></i>
                                            Delete
                                        </button>
                                </div>
                            </div>

                            <div class="tab-pane" id="TabClientLetterLogo" role="tabpanel" style="padding-left:10%;padding-right:10%">
                                @Html.HiddenFor(m => m.AgencyClientLogo)
                                <div class="form-group col-md-12 image-panel">
                                    <img id="imgClientLetterLogo" src="#" class="image-padding" />
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="file-upload">
                                        <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                                        <input id="uploadClientLetterLogo" class="file-upload__input" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg">
                                    </div>
                                        <button id="btnDeleteClientLetterLogo" class="btn btn-default" onclick="$('#imgClientLetterLogo').attr('src', ''); return false;">
                                            <i class="wb-close"></i>
                                            Delete
                                        </button>
                                </div>
                            </div>

                            <div class="tab-pane" id="TabLienDefaults" role="tabpanel">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default PRELIM Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m=>m.NBPrelimActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default VERIFYONLY Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBVerifyOnlyActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default VERIFYONLY TX Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBVerifyOnlyTXActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default VERIFIEDASIS Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBVerifiedAsIsActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default VERIFIEDASIS TX Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBVerifiedAsIsTXActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default MECHLIEN Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBMechLienActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default STOPNOTICE Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBStopNoticeActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default LIENRELEASE Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBLienReleaseActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default BONDCLAIM Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBBondClaimActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default NOC Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBNOCActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default VERIFYOWONLY Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBVerifyOWOnlyActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default VERIFYOWONLYSEND Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBVerifyOWOnlySendActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <lable class="col-md-4 col-sm-4 col-xs-4">Default VERIFYOWONLY TX Action:</lable>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(m => m.NBVerifyOWOnlyTXActionId, new SelectList(ViewBag.JobActionTypeList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                    <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
                    <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="Cancel()" />
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function OnPartialLoad() {
        debugger;
        ConvertImagetoDataURL();
    }

   

    function ConvertImagetoDataURL()
    {
        var ClientReportlogo = 'data:image/jpeg;base64,' + $('#AgencyLogo').val();
        $('#imgClientReports').attr('src', ClientReportlogo);
        var ClientLetterLogo = 'data:image/jpeg;base64,' + $('#AgencyClientLogo').val();
        $('#imgClientLetterLogo').attr('src', ClientLetterLogo);
    }

    $("#uploadClientReport").change(function () {
        readImage(this, "imgClientReports", "AgencyLogo");
    });

    $("#uploadClientLetterLogo").change(function () {
        readImage(this, "imgClientLetterLogo", "AgencyClientLogo");
    });


    function Save() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("AgencySave", "CompanyInfo")',
            data: $("#FormEdit").serialize(),
            type: "POST",
            success: function (data) {
                $('#BindView').empty();
                $("#BindView").append(data);
                ConvertImagetoDataURL();
                hideLoadingImage();
                $('#successMsg').show();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }
    

  
    function Cancel() {

        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Index", "CompanyInfo")',
            type: "GET",
            success: function (data) {
                $('#BindView').empty();
                $("#BindView").append(data);
                ConvertImagetoDataURL();
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }
</script>
