﻿@model CRFView.Adapters.Liens.JVTXNoticeRequest.Extract.ViewModels.JVTXExtractLettersVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

        .rt {
        text-align: right;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormJVTXExtractLetters">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            JV Texas Letters / Extract Letters
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR" style="@(ViewBag.btnOK == "Hide OK" ? "display:initial" : "display:none")">
            <b>
                <lable style="font-weight: 1000; font-size: large;" >
                    @Html.Raw(@ViewBag.lblMessage.Replace(Environment.NewLine, "<br/>"))
                </lable>
            </b>
        </div>

        <div class="col-xs-12 form-group NopaddingLR" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")" >
  
            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-5 rt">
                    <lable>Date Requested Thru</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.ThruDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" , style = "display:inline; width:75%;" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-5 rt">
                    <lable>Job Id</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.JobId, new { @class = "form-control", style = "display:inline; width:75%;" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-5 rt checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkAssignCerts)
                    &nbsp;
                    <lable>Assign Cert Numbers From</lable>
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.LastCertNumber, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>

        </div>

    </div>


    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnJVTXExtractLettersOK" value="OK" class="btn btn-primary" onclick="OKJVTXExtractLetters()" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")" />
            <input type="button" value="Cancel" id="btnJVTXExtractLettersCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    //button OKJVTXExtractLetters
    function OKJVTXExtractLetters() {
        debugger;
        showLoadingImage();

        $("#myModal").modal("hide");
        debugger;
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        var data = $('#FormJVTXExtractLetters').serialize();

        $.ajax({
            url: '@Url.Action("JVTXExtractLetters", "JVTXExtract")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
               
                if (data >=0) {
                    CreateJVTXExtractLettersSuccessPopup(data);
                    hideLoadingImage();
                }
                else if (data < 0) {
                    alert('Error In Processing JV TX Extract Letters.');
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CreateJVTXExtractLettersSuccessPopup(data) {
        debugger;
        swal({
            title: "Successfully Extracted!",
            text: "Number of Notices Extracted (" + data + ")",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>





