﻿@model CRFView.Adapters.ADCountyRecorder
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.CountyRecorderID)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Recorder Number:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.CountyRecorderNum, new { @class = "form-control", @style = "text-transform:uppercase" })
                <div id="ErrorRecorderNum" class="Invalid-feedback" style="display:none">
                    Please Enter Recorder Number.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Recorder Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.RecorderName, new { @class = "form-control" })
                <div id="ErrorRecorderName" class="Invalid-feedback" style="display:none">
                    Please Enter Recorder Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Recorder Name 2:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.RecorderName2, new { @class = "form-control" })
                <div id="ErrorRecorderName2" class="Invalid-feedback" style="display:none">
                    Please Enter Recorder Name 2.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Address:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.RecorderAdd, new { @class = "form-control" })
                <div id="ErrorRecorderAdd" class="Invalid-feedback" style="display:none">
                    Please Enter Address.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">City/State/Zip:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="col-md-5 col-sm-5 col-xs-5 NopaddingLR" >
                    @Html.TextBoxFor(m => m.RecorderCity, new { @class = "form-control" })
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @Html.TextBoxFor(m => m.RecorderState, new { @class = "form-control" })
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 NopaddingLR" >
                    @Html.TextBoxFor(m => m.RecorderZip, new { @class = "form-control" })
                </div>
                <div id="ErrorRecorderCity" class="Invalid-feedback" style="display:none">
                    Please Enter City.
                </div>
                <div id="ErrorRecorderState" class="Invalid-feedback" style="display:none">
                    Please Enter State.
                </div>
                <div id="ErrorRecorderZip" class="Invalid-feedback" style="display:none">
                    Please Enter Zip.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">County:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.RecorderCounty, new { @class = "form-control" })
                <div id="ErrorRecorderCounty" class="Invalid-feedback" style="display:none">
                    Please Enter County.
                </div>
            </div>

        </div>
   
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            <lable class="Label-FontSize">Phone Number:</lable>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            @Html.TextBoxFor(m => m.RecorderPhone, new { @class = "form-control", @onkeyup = "formatPhone(this)", @maxlength = "12" })
            <div id="ErrorRecorderPhone" class="Invalid-feedback" style="display:none">
              Invalid Phone Number.
            </div>
         </div>
        <div class="col-md-6 col-sm-6 col-xs-6 NopaddingLR">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign padding-left-0">
                <lable class="Label-FontSize">Web:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.RecorderWeb, new { @class = "form-control" })
                <div id="ErrorRecorderWeb" class="Invalid-feedback" style="display:none">
                    Please Enter Web.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            <lable class="Label-FontSize">Fax Number:</lable>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            @Html.TextBoxFor(m => m.RecorderFax, new { @class = "form-control", @onkeyup = "formatPhone(this)", @maxlength = "12" })
            <div id="ErrorRecorderFax" class="Invalid-feedback" style="display:none">
                Invalid Fax Number.
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 NopaddingLR">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign padding-left-0">
                <lable class="Label-FontSize">Email:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.RecorderEmail, new { @class = "form-control" })
                <div id="ErrorRecorderEmail" class="Invalid-feedback" style="display:none">
                    Please Enter Email.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            <lable class="Label-FontSize">Lien Filing Fee:</lable>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 input-icon">
            @Html.TextBoxFor(m => m.RecorderLienFee, new { @class = "form-control" })
            <i>$</i>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 NopaddingLR">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign padding-left-0">
                <lable class="Label-FontSize">APN Format:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" >
                @Html.TextBoxFor(m => m.APNFormat, new { @class = "form-control" })
                <div id="ErrorAPNFormat" class="Invalid-feedback" style="display:none">
                    Please Enter APNFormat.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            <lable class="Label-FontSize">Lien Release Fee:</lable>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 input-icon">
            @Html.TextBoxFor(m => m.RecorderLienReleaseFee, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            <i>$</i>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            <lable class="Label-FontSize">Add'l Page Fee:</lable>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 input-icon">
            @Html.TextBoxFor(m => m.RecorderPageFee, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            <i>$</i>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
            @Html.CheckBoxFor(m => m.RecorderCourier)<lable class="Checkbox-lable">Record via Courier</lable>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            <lable class="Label-FontSize">Notice Copy Fee:</lable>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 input-icon">
            @Html.TextBoxFor(m => m.RecorderNoticeFee,  new { @class = "form-control" , @onkeypress = "return isNumber(event)" })
            <i>$</i>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
            @Html.CheckBoxFor(m => m.RecorderOvernight)<lable class="Checkbox-lable">Recorder via Overnight</lable>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            <lable class="Label-FontSize">Copy Fee:</lable>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 input-icon">
            @Html.TextBoxFor(m => m.RecorderCopyFee, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            <i>$</i>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            <lable class="Label-FontSize">Important Info:</lable>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9">
            @Html.TextBoxFor(m => m.RecorderInfo, new { @class = "form-control", @style= "height: 50px;" })
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("CountyRecorderSave", "CountyRecorder")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "CountyRecorder")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblCountyRecorder');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        if (validatePhone($("#RecorderFax").val()) == false) {
            $("#ErrorRecorderFax").show();
            return false;
        }
        else {
            $("#ErrorRecorderFax").hide();
        }
        if (validatePhone($("#RecorderPhone").val()) == false) {
            $("#ErrorRecorderPhone").show();
            return false;
        }
        else {
            $("#ErrorRecorderPhone").hide();
        }
        if ($("#CountyRecorderNum").val().length <= 0) {
            $("#ErrorRecorderNum").show();
            return false;
        }
        else {
            $("#ErrorRecorderNum").hide();
        }
        if ($("#RecorderName").val().length <= 0) {
            $("#ErrorRecorderName").show();
            return false;
        }
        else {
            $("#ErrorRecorderName").hide();
        }
        if ($("#RecorderName2").val().length <= 0) {
            $("#ErrorRecorderName2").show();
            return false;
        }
        else {
            $("#ErrorRecorderName2").hide();
        }
        if ($("#RecorderAdd").val().length <= 0) {
            $("#ErrorRecorderAdd").show();
            return false;
        }
        else {
            $("#ErrorRecorderAdd").hide();
        }
        if ($("#RecorderCity").val().length <= 0) {
            $("#ErrorRecorderCity").show();
            return false;
        }
        else {
            $("#ErrorRecorderCity").hide();
        }
        if ($("#RecorderState").val().length <= 0) {
            $("#ErrorRecorderState").show();
            return false;
        }
        else {
            $("#ErrorRecorderState").hide();
        }
        if ($("#RecorderZip").val().length <= 0) {
            $("#ErrorRecorderZip").show();
            return false;
        }
        else {
            $("#ErrorRecorderZip").hide();
        }
        if ($("#RecorderCounty").val().length <= 0) {
            $("#ErrorRecorderCounty").show();
            return false;
        }
        else {
            $("#ErrorRecorderCounty").hide();
        }
        if ($("#RecorderWeb").val().length <= 0) {
            $("#ErrorRecorderWeb").show();
            return false;
        }
        else {
            $("#ErrorRecorderWeb").hide();
        }
        if ($("#RecorderEmail").val().length <= 0) {
            $("#ErrorRecorderEmail").show();
            return false;
        }
        else {
            $("#ErrorRecorderEmail").hide();
        }
        if ($("#APNFormat").val().length <= 0) {
            $("#ErrorAPNFormat").show();
            return false;
        }
        else {
            $("#ErrorAPNFormat").hide();
        }
     
        return true;
    }
</script>



