﻿
@model CRFView.Adapters.Liens.JVTXNoticeRequest.PrintLetters.ViewModels.JVTXPrintLettersVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .rt {
        text-align: right;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormTXNoticePrintLetters">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Texas Letters / Print Letters
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR" style="@(ViewBag.btnOK == "Hide OK" ? "display:initial" : "display:none")">
            <b>
                <lable style="font-weight: 1000; font-size: large;">
                    @Html.Raw(@ViewBag.lblMessage.Replace(Environment.NewLine, "<br/>"))
                </lable>
            </b>
        </div>

        <div class="col-xs-12 form-group NopaddingLR" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")">

            <div class="col-xs-12">
                <fieldset class="customFieldset">
                    <legend>Print Filter</legend>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-4">
                            @Html.RadioButtonFor(m => m.RbtPrintAction, "Print All", new { @checked = true })
                            &nbsp;
                            <lable>Print All</lable>
                        </div>

                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-4">
                            @Html.RadioButtonFor(m => m.RbtPrintAction, "Print Remaning")
                            &nbsp;
                            <lable>Print Remaning</lable>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            @Html.RadioButtonFor(m => m.RbtPrintAction, "Reprint Job")
                            &nbsp;
                            <lable>Reprint Job</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.JobId, new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-12 form-group lt">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-4 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkNoMailLog)
                            &nbsp;
                            <lable>No Mail Log</lable>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-4 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkSendToPrinter)
                            &nbsp;
                            <lable>Send To Printer</lable>


                        </div>
                    </div>
                </fieldset>
            </div>

        </div>

    </div>


    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnJVTXPrintLettersOK" value="OK" class="btn btn-primary" onclick="OKTXNoticePrintLetters()" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")" />
            <input type="button" value="Cancel" id="btnJVTXPrintLettersCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='RbtPrintAction']").click(function () {
        debugger;
        var RadioButtonValue = $(this).val();

        if (RadioButtonValue == "Reprint Job") {
            document.getElementById("chkNoMailLog").checked = true;
            }

    });


    //button OKJVTXPrintLetters
    function OKTXNoticePrintLetters() {
        debugger;
        showLoadingImage();

        $("#myModal").modal("hide");
        debugger;
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        var data = $('#FormTXNoticePrintLetters').serialize();

        $.ajax({
            url: '@Url.Action("TXNoticeLettersPrint", "TXNoticePrintLetters")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;

                if (data >= 0) {
                    CreateTXNoticePrintLettersSuccessPopup(data);
                    hideLoadingImage();
                }
                else if (data < 0) {
                    alert('Error In Processing TX Notice Print Letters.');
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CreateTXNoticePrintLettersSuccessPopup(data) {
        debugger;
        swal({
            title: "Successfully Extracted!",
            text: "Number of Notices Processed (" + data + ")",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>






