﻿
@{
    Layout = null;
}

<style>
    #tblCollectionInvoices_wrapper .row:first-child {
        overflow-x: auto;
    }

    #tblLedgerList_wrapper .row:first-child {
        overflow-x: auto;
    }

    .left-text {
        text-align: left;
    }

    .w-130 {
        width: 130px;
    }
</style>

<div>
    <h3 class="page-header">Audit List</h3>
    <hr/>
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        Hello
        <div id="AuditDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "AuditList")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#TrxFromDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#TrxThruDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#RemitFromDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#RemitThruDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                CheckMinDate();
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["RemitFromDate",
                                "RemitThruDate",
                                  "TrxFromDate",
                                  "TrxThruDate"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }
</script>