﻿@model CRFView.Adapters.Accounting.AccountingCollections.PaymentEntry.ADvwAccountList
@{
    Layout = null;
}

<style>
    lable {
        text-align: left;
    }

    .margin-r {
        margin-right: 80px;
    }

    .margin-r222 {
        margin-right: 240px;
    }

    .LR {
        text-align: right;
    }
    
</style>

<div class="form-group">

    <div class="col-xs-12 form-group">


        <div class="col-xs-6 form-group">

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Debtor #</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.FileNumber, new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-3 LR">
                    <lable>Client #</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.ClientCode, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Ref Number</lable>
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.AccountNo, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Name</lable>
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.DebtorName, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Contact</lable>
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.ContactName, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Address</lable>
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.AddressLine1, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3">
                    &nbsp;
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.AddressLine2, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    C/S/Zip
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.City, new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(m => m.State, new { @readonly = "readonly", @class = "form-control ", style = "width:60px; margin-left: -24px;" })
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.PostalCode, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Phone</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.PhoneNo, new { @readonly = "readonly", @class = "form-control ", style = "width:124px" })
                </div>
                <div class="col-xs-3 LR">
                    <lable>Ext</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.PhoneNoExt, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Cell</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.CellPhone, new { @readonly = "readonly", @class = "form-control ", style = "width:124px" })
                </div>
                <div class="col-xs-3 LR">
                    <lable>Fax</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.Fax, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>


            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Email</lable>
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-3 LR">
                    <lable>Tax ID</lable>
                </div>
                <div class="col-xs-9">
                    @Html.TextBoxFor(m => m.TaxId, new { @readonly = "readonly", @class = "form-control " })
                </div>
            </div>


        </div>

        <div class="col-xs-6 form-group">

            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Date Assigned</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.ReferalDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Assigned:</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotAsgAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotAsgAmt), @class = "form-control " })
                </div>
            </div>


            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Last Change Date</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.LastServiceDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Collection Fees:</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotCollFeeAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotCollFeeAmt), @class = "form-control " })
                </div>
            </div>


            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Last Pay Date</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.LastPaymentDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Adjusted:</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotAdjAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotAdjAmt), @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Last Trust Date</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.LastTrustDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Payments:</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotPmtAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotPmtAmt), @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Close Date</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.CloseDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Remain Prin: </lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotBalAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotBalAmt), @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Review Date</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.NextContactDate, "{0:MM/dd/yyyy}", new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Legal Costs: </lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotAttyExpAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotAttyExpAmt), @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Comm Rate</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.FeeCode, new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>SC Costs: </lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotCostExpAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotCostExpAmt), @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Status</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.CollectionStatus, new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Reviewed Costs: </lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotCostRcvAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotCostRcvAmt), @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Desk#</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.Location, new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Interrests: </lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotIntAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotIntAmt), @class = "form-control " })
                </div>
            </div>


            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Age</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.Age, new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-4 LR">
                    <lable>Interrest Paid: </lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.TotIntRcvAmt, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotIntRcvAmt), @class = "form-control " })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-4 LR">
                    <lable>Misc</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.DebtAccountNote, new { @readonly = "readonly", @class = "form-control " })
                </div>
                <div class="col-xs-6 NopaddingLR">
                    <hr style="border-top: 1px solid #000000 !important;margin-bottom: 1px !important;">
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-6">
                    &nbsp;
                </div>

                <div class="col-xs-4 LR">
                    <lable>Total Due :</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    @Html.TextBoxFor(m => m.TotalDue, new { @readonly = "readonly", Value = String.Format("{0:C}", Model.TotalDue), @class = "form-control " })
                </div>
            </div>


        </div>


    </div>




   




    @*<div class="col-xs-12 NopaddingLR text-left form-group">
            <div class="col-xs-5 NopaddingLR">
                <lable>Tax Id</lable>
                @Html.TextBoxFor(m => m.TaxId, new { @class = "pull-right form-control ", style = "width:270px;margin-right:120px;" })
            </div>
            <div class="col-xs-4 NopaddingLR text-left ">
                <lable>Misc</lable>
                @Html.TextBoxFor(m => m.DebtAccountNote, new { @class = "pull-right margin-r form-control ", style = "width:150px" })
            </div>
            <div class="col-xs-3 NopaddingLR">
                <hr style="border-top: 1px solid #000000 !important;margin-bottom: 1px !important;">
            </div>
        </div>
        <div class="col-xs-12 NopaddingLR text-left form-group">
            <div class="col-xs-5 NopaddingLR">

            </div>
            <div class="col-xs-4 NopaddingLR">

            </div>
            <div class="col-xs-3 NopaddingLR text-left">
                <lable>Total Due :</lable>
                @Html.TextBoxFor(m => m.TotalDue, new { @class = "pull-right form-control ", style = "width:150px" })
            </div>
        </div>*@



    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="width:650px !important;margin-top: 15% !important;">

            <!-- Modal content-->
            <div class="modal-content" style="width:550px !important;margin-top: 10% !important;">

            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModalNewPayment" role="dialog">
        <div class="modal-dialog" style="width:1100px !important;margin-top: 7% !important;">

            <!-- Modal content-->
            <div class="modal-content" style="width:1210px !important;margin-top: 8% !important;">

            </div>

        </div>
    </div>





    <div class="col-xs-12 NopaddingLR text-left form-group">
        <input type="button" id="btnNewPayment" value="New Payment" class="btn btn-primary" onclick="NewPayment(@Model.FileNumber)" />
        <input type="button" id="btnNewAdjustment" value="New Adjustment" class="btn btn-primary" onclick="NewAdjustment(@Model.FileNumber, @Model.TotBalAmt)" />
    </div>
</div>






<script>

    function NewAdjustment(FileNumber, TotBalAmt) {
        debugger;
        $.ajax({
            url: '@Url.Action("LoadNewAdjustment", "PaymentEntry")',
            type: "POST",
            data: { FileNumber: FileNumber,TotBalAmt: TotBalAmt },

            success: function (data) {
                debugger;
                var $response = $(data);
                $('#myModal .modal-content').html(data);

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#TrxDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

                $('#myModal').modal("show");
                var IsAdjustmentDelete = $response.find('#btnAdjustmentDelete').val();
              
                    if (IsAdjustmentDelete == "True") {
                        $('#btnAdjmentDelete').show();
                    }
                    else {
                        $('#btnAdjmentDelete').hide();
                    }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function NewPayment(FileNumber) {
        debugger;
        var location = $('#Location').val();

        $.ajax({
            url: '@Url.Action("LoadNewPayment", "PaymentEntry")',
            type: "POST",
            data: { FileNumber: FileNumber, location: location, DebtAccountLedgerId: 0, IsEdit:false},

            success: function (data) {
                debugger;
                var $response = $(data);
                var IsShowExchangeRate = $response.find('#ShowExchangeRate').val();
                var IsshowRemitDate = $response.find('#showRemitDate').val();
                $('#myModalNewPayment .modal-content').html(data);
                $('#myModalNewPayment').modal("show");
                $('#btnDeletePayment').hide();
                $('#btnNSF').hide();
                $('#btnReverse').hide();
                if (IsShowExchangeRate == "True") {
                    
                    $('#ExchngRate').show();
                    }
                    else {
                    $('#ExchngRate').hide();
                    }
                if (IsshowRemitDate == "True") {

                    $('#objAdDedtAccountLedger_RemitDate').show();
                }
                else {
                    $('#objAdDedtAccountLedger_RemitDate').hide();
                }
                
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }



</script>