﻿@model IEnumerable<CRFView.Adapters.Accounting.AccountingCollections.PaymentEntry.PaymentEntryVM.LedgerVM>
@{
    Layout = null;
}

<div>
    <div class="col-xs-12">
       
        <table id="tblLedgerList" class="table table-bordered dataTable table-hover grid " border="1">

            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Pay Date</th>
                    <th style="white-space:nowrap">Remit Date</th>
                    <th style="white-space:nowrap">Type</th>
                    <th style="white-space:nowrap">Trx Amt</th>
                    <th style="white-space:nowrap">Asg Amt</th>
                    <th style="white-space:nowrap">Adj Amt</th>
                    <th style="white-space:nowrap">Asg Rcv</th>
                    <th style="white-space:nowrap">coll Free Rcv</th>
                    <th style="white-space:nowrap">Int Rcv</th>
                    <th style="white-space:nowrap">Cost Rcv</th>
                    <th style="white-space:nowrap">AttyRcv</th>
                    <th style="white-space:nowrap">AttyOwed</th>
                    <th style="white-space:nowrap">Cost Rcv PIF</th>
                    <th style="white-space:nowrap">Overpayment</th>
                    <th style="white-space:nowrap">Rebate Amt</th>
                    <th style="white-space:nowrap">Rate</th>
                    <th style="white-space:nowrap">Exch Rate</th>
                    <th style="white-space:nowrap">Pmt Amt</th>
                    <th style="white-space:nowrap">Agc FeeAmt</th>
                    <th style="white-space:nowrap">PrincDue Amt</th>
                    <th style="white-space:nowrap">AdvCC</th>
                    <th style="white-space:nowrap">Invoiced</th>
                    <th style="white-space:nowrap">SubType</th>
                    <th style="white-space:nowrap">PaySts</th>
                    <th style="white-space:nowrap">Desk</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {

                   

                <tr>
                    <td>
                        <button onclick="EditDetails(@i.DebtAccountLedgerId,'@i.DebtorAccountId')" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" style="display: block" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        @i.TrxDate
                    </td>
                    <td>
                        @i.RemitDate
                    </td>
                    <td>
                        @i.LedgerType
                    </td>


                    @{
                        if (i.TrxAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.TrxAmt))</td>
                        }
                    }


                    @{
                        if (i.AsgAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.AsgAmt))</td>
                        }
                    }
                    @{
                        if (i.AdjAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.AdjAmt))</td>
                        }
                    }
                    @{
                        if (i.AsgRcvAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.AsgRcvAmt))</td>
                        }
                    }
                    @{
                        if (i.FeeRcvAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.FeeRcvAmt))</td>
                        }
                    }
                    @{
                        if (i.IntRcvAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.IntRcvAmt))</td>
                        }
                    }
                    @{
                        if (i.CostRcvAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.CostRcvAmt))</td>
                        }
                    }
                    @{
                        if (i.AttyRcvAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.AttyRcvAmt))</td>
                        }
                    }
                    @{
                        if (i.AttyOwedAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.AttyOwedAmt))</td>
                        }
                    }
                    @{
                        if (i.CostRcvAmtOnPIF == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.CostRcvAmtOnPIF))</td>
                        }
                    }
                    @{
                        if (i.OvrPmtAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.OvrPmtAmt))</td>
                        }
                    }

                    @{
                        if (i.RebateAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.RebateAmt))</td>
                        }
                    }




                    <td style="white-space:nowrap">
                        @*@i.Rate*@
                        @String.Format("{0:P2}.", Convert.ToDecimal(i.Rate) / 100)

                    </td>
                    <td>
                        @*@i.ExchangeRate*@
                        @String.Format("{0:P2}.", Convert.ToDouble(i.ExchangeRate) / 100)
                    </td>
                    @{
                        if (i.PmtAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.PmtAmt))</td>
                        }
                    }
                    @{
                        if (i.FeeAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.FeeAmt))</td>
                        }
                    }
                    @{
                        if (i.PrincDueAmt == "")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td> @String.Format("{0:C}", Convert.ToDecimal(i.PrincDueAmt))</td>
                        }
                    }
                    <td>
                        @i.IsAdvanceCC
                    </td>
                    <td>
                        @i.InvoicedDate
                    </td>
                    <td>
                        @i.SubLedgerType
                    </td>
                    <td>
                        @i.CollectionStatus
                    </td>
                    <td>
                        @i.DeskNum
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    
    function EditDetails(DebtAccountLedgerId, DebtAccountId) {
        debugger;
        $.ajax({
            url: '@Url.Action("EditDetails", "PaymentEntry")',
            data: { FileNumber: DebtAccountId, location: "", DebtAccountLedgerId: DebtAccountLedgerId, IsEdit: true },
            type: "POST",
            success: function (data) {
                debugger;
                var $response = $(data);
                var IsEditNewPayment = $response.find('#EditNewPayment').val();
                var IsEditNewAdjustment = $response.find('#EditNewAdjustment').val();
                var IsAdjustmentDelete = $response.find('#btnAdjustmentDelete').val();
                var IsShowExchangeRate = $response.find('#ShowExchangeRate').val();
                var IsshowRemitDate = $response.find('#showRemitDate').val();
                $('#btnDeletePayment').show();
                if (data == 0) {
                    alert("Is Remiited,Try Another");
                }
                if (data == -1) {
                    alert("Can't edit this transaction");
                }
                if (IsEditNewPayment == "True") {
                    $('#myModalNewPayment .modal-content').html(data);
                    $('#myModalNewPayment').modal("show");

                    if (IsShowExchangeRate == "True") {

                        $('#ExchngRate').show();
                    }
                    else {
                        $('#ExchngRate').hide();
                    }
                    if (IsshowRemitDate == "True") {

                        $('#objAdDedtAccountLedger_RemitDate').show();
                    }
                    else {
                        $('#objAdDedtAccountLedger_RemitDate').hide();
                    }
                   
                }
                if (IsEditNewAdjustment == "True") {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    if (IsAdjustmentDelete == "True") {
                        $('#btnAdjmentDelete').show();
                    }
                    else {
                        $('#btnAdjmentDelete').hide();
                    }
                }
            }

        })
    }
</script>