﻿
@model CRFView.Adapters.Accounting.AccountingCollections.PaymentEntry.PaymentEntryVM.NewPaymentVM
@{
    Layout = null;
}

<style>

    .rt {
        text-align: right;
    }
</style>

<form id="formNewPayment">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Payments(New Entry)</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">

            <div class="col-xs-12 form-group ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Payment Info</legend>

                    <div class="col-xs-6 ">


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Pay Type</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.RadioButtonFor(m => m.rbtVal, "rbtPMTA",  new { @checked = true, })&nbsp;
                                <lable>Pay to Agency</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.RadioButtonFor(m => m.rbtVal, "rbtPMTC")&nbsp;
                                <lable>Pay to Client</lable>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Check #/Ref #</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.objAdDedtAccountLedger.Reference, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Bank Name</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.objAdDedtAccountLedger.BankName, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Bank Acct #</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objAdDedtAccountLedger.BankAcctNum, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Check Maker</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.objAdDedtAccountLedger.CheckMaker, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Pay Amount</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objAdDedtAccountLedger.TrxAmt, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 ">

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Entry Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.objAdDedtAccountLedger.ReceiptDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>





                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Remit Date</lable>
                            </div>


                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.objAdDedtAccountLedger.RemitDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objAdDedtAccountLedger.IsOmitFromStmt, new { })
                                &nbsp;
                                <lable>Do not Remit</lable>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Desk #</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.DropDownListFor(m => m.objAdDedtAccountLedger.DeskNumId, Model.Locationlist.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; " })
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objAdDedtAccountLedger.IsAdvanceCC, new { })
                                &nbsp;
                                <lable>Advance CC</lable>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group" id="ExchngRate">
            <div class="col-xs-4 rt"  style="margin-left: -39px;">
                <lable>Exchange Rate</lable>
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.objAdDedtAccountLedger.ExchangeRate, new { @class = "form-control", style = "display:inline;" })
            </div>
        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-12">&nbsp;</div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-12">&nbsp;</div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-4">
                                <input type="button" id="btAutoDistribute" value="Auto Distribute" class="btn btn-primary" onclick="AutoDistribute()" />
                            </div>
                            @*<div class="col-xs-4">
                <input type="button" id="btnClear" value="Clear" class="btn btn-primary" />
            </div>*@
                        </div>

                    </div>

                </fieldset>

            </div>

            <div class="col-xs-12 form-group ">&nbsp;</div>

            <div class="col-xs-12 form-group ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Distribution</legend>

                    <div class="col-xs-8 ">

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-3 rt">
                                <lable>Due</lable>
                            </div>
                            <div class="col-xs-3 rt">
                                <lable>Applied</lable>
                            </div>
                            <div class="col-xs-3 rt">
                                <lable>New</lable>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Principal</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.currPrincDue, new { @readonly = "readonly", Value = String.Format("{0:C}",Convert.ToDecimal(Model.currPrincDue)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.distAsgRcvAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.distAsgRcvAmt)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.newPrincDue, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.newPrincDue)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Collection Fees</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.currFeeDue, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.currFeeDue)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.distFeeRcv, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.distFeeRcv)),@class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.newFeeDue, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.newFeeDue)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Cost</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.currCostDue, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.currCostDue)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.distCostAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.distCostAmt)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.newCostDue, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.newCostDue)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3 rt">
                                <lable>Interest</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.currIntDue, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.currIntDue)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.DistIntAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.DistIntAmt)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.newIntDue, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.newIntDue)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-3 rt">
                                <lable>Atty Rcv</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.distAttyRcv, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.distAttyRcv)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">&nbsp;</div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-3 rt">
                                <lable>Atty Owed</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.AttOwedAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.AttOwedAmt)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">&nbsp;</div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-3 rt">
                                <lable>Cost Rcv on PIF</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.CostRcvAmtOnPIF, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.CostRcvAmtOnPIF)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">&nbsp;</div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-3 rt">
                                <lable>Overpayment</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.OvrPmtAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.OvrPmtAmt)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">&nbsp;</div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-3 rt">
                                <lable>Rebate Amt</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.RebateAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.RebateAmt)), @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-3">&nbsp;</div>
                        </div>


                    </div>

                    <div class="col-xs-4 ">

                        <div class="col-xs-12">&nbsp;</div>


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5 rt">
                                <lable>New Due</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.NewBalance, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.NewBalance)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5 rt">
                                <lable>Applied</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.applied, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.applied)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5 rt">
                                <lable>Undistributed</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.undistributed, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.undistributed)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>


                        <div class="col-xs-12">&nbsp;</div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5 rt">
                                <lable>Comm Rate</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.feerate, new { Value = String.Format("{0}", Convert.ToDecimal(Model.feerate)), @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5 rt">
                                <lable>Billable</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.billable, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.billable)), @readonly = "readonly", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5 rt">
                                <lable>Agency Fee</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.feeearned, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.feeearned)), @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                    </div>

                </fieldset>

            </div>

            <div class="col-xs-12 form-group ">&nbsp;</div>

            <div class="col-xs-12 form-group ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Statement Status</legend>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-1 rt">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtPAY", new { @checked = true })&nbsp;
                            <lable>PAY</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtPCF")&nbsp;
                            <lable>PCF</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtPIF")&nbsp;
                            <lable>PIF</lable>
                        </div>
                        <div class="col-xs-1 rt">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtPPF")&nbsp;
                            <lable>PPF</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtPPO")&nbsp;
                            <lable>PPO</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtPTD")&nbsp;
                            <lable>PTD</lable>
                        </div>
                        <div class="col-xs-1 rt">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtLIF")&nbsp;
                            <lable>LIF</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtLPP")&nbsp;
                            <lable>LPP</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtSIF")&nbsp;
                            <lable>SIF</lable>
                        </div>
                        <div class="col-xs-1 rt">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtCC")&nbsp;
                            <lable>CC</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtINT")&nbsp;
                            <lable>INT</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.RadioButtonFor(m => m.rbtStatementStatus, "rbtNSF")&nbsp;
                            <lable>NSF</lable>
                        </div>
                    </div>


                </fieldset>
            </div>



        </div>
    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.DebtAccountLedgerId)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Location)
        @Html.HiddenFor(m => m.EditNewPayment)
        @Html.HiddenFor(m => m.ShowExchangeRate)
        @Html.HiddenFor(m => m.showRemitDate)
        @Html.HiddenFor(m => m.IsAutodistribute)


    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <input type="button" id="btnDeletePayment" value="Delete" class="btn btn-primary pull-left" style="margin-left:15px;" onclick="DeletePayment();" />
            <input type="button" id="btnNSF" value="NSF" class="btn btn-primary pull-left" style="float:left" onclick="NSF();" />
            <input type="button" id="btnReverse" value="Reverse" class="btn btn-primary pull-left" style="float:left" onclick="Reverse();" />
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="SaveNewPayment();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" style="margin-right: 38px;" />

        </div>
    </div>
</form>

<script>
    $("input[name=rbtVal][value=rbtPMTA]").click(function () {
        debugger;
        $("input[name=rbtVal][value=rbtPMTA]").prop("checked", true);
        $("input[name=rbtVal][value=rbtPMTC]").prop("checked", false);
       // $('#rbtPMTC').prop("checked", false);
        //$('#rbtPMTA').val(true);
        //$('#rbtPMTC').val(false);
        if (@Model.Id < 1) {
            if (($("input[name=rbtVal][value=rbtPMTA]").is(':checked')) && (!$("#objAdDedtAccountLedger_IsOmitFromStmt").is(':checked'))) {
                var date = new Date();
                newdate = new Date(date.setDate(date.getDate() + 14));
                $('#objAdDedtAccountLedger_RemitDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', newdate);

            }
        }
    });
    $("input[name=rbtVal][value=rbtPMTC]").click(function () {
        debugger;
        $("input[name=rbtVal][value=rbtPMTC]").prop("checked", true);
        $("input[name=rbtVal][value=rbtPMTA]").prop("checked", false);
        //$('#rbtPMTA').val(false);
        //$('#rbtPMTC').val(true);
        if (@Model.Id < 1) {
            if (($("input[name=rbtVal][value=rbtPMTC]").is(':checked')) && (!$("#objAdDedtAccountLedger_IsOmitFromStmt").is(':checked'))) {
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                $('#objAdDedtAccountLedger_RemitDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

            }
        }
    });


    $("[name='objAdDedtAccountLedger.IsOmitFromStmt']").click(function () {
        debugger;

        if (this.checked) {
            $('#objAdDedtAccountLedger_RemitDate').hide();
        }
        else {
            $('#objAdDedtAccountLedger_RemitDate').show();
        }
    });



    function SaveNewPayment() {

            debugger;
            showLoadingImage();
        var data = $('#formNewPayment').serialize();
            $.ajax({
                url: '@Url.Action("SaveNewPayment", "PaymentEntry")',
                data: data,
                type: "POST",

                success: function (data) {
                    debugger;

                    $("#myModalNewPayment").modal("hide");
                    $('.modal-backdrop').remove();
                    if (data == 1) {
                        hideLoadingImage();
                        NewPaymentSuccessPopup();
                        Search();
                    }
                    else if (data == 0) {
                        //NoticeSentWarning();
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModalNewPayment").modal("hide");
                    hideLoadingImage();
                }
            });
    }

    function AutoDistribute() {
        debugger;
        showLoadingImage();
        var DebtAccId = @Model.DebtAccountId;
        var DebtAccountLedgerId = @Model.DebtAccountLedgerId;
        var IsAutodistribute = '@Model.IsAutodistribute';
        var TrxAmt = $('#objAdDedtAccountLedger_TrxAmt').val();

        var location = $('#Location').val();;

         $.ajax({
                url: '@Url.Action("AutoDistribute", "PaymentEntry")',
             //data: { DebtAccountId: DebtAccId, TrxAmt: TrxAmt, },
             data: $('#formNewPayment').serialize() + "&DebtAccountId=" + DebtAccId + "&TrxAmt=" + TrxAmt + "&location=" + location + "&DebtAccountLedgerId=" + DebtAccountLedgerId + "&IsAutodistribute=" + IsAutodistribute,
             type: "POST",
            success: function (data) {
                debugger;
                var $response = $(data);
                var IsShowExchangeRate = $response.find('#ShowExchangeRate').val();
                var IsshowRemitDate = $response.find('#showRemitDate').val();
                var IsAutodistribute = $response.find('#IsAutodistribute').val();
                $('#myModalNewPayment .modal-content').html(data);
                $('#myModalNewPayment').modal("show");
                if (IsShowExchangeRate == "True") {

                    $('#ExchngRate').show();
                }
                else {
                    $('#ExchngRate').hide();
                }
                if (IsshowRemitDate == "True") {

                    $('#objAdDedtAccountLedger_RemitDate').show();
                }
                else {
                    $('#objAdDedtAccountLedger_RemitDate').hide();
                }

                if (IsAutodistribute == "True") {
                    $('#btnDeletePayment').show();
                }
                else {
                    $('#btnDeletePayment').hide();
                }

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalNewPayment").modal("hide");
                hideLoadingImage();
            }
        });

    }
    function DeletePayment() {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        var DebtAccountLedgerId = @Model.DebtAccountLedgerId;
        $.ajax({
            url: '@Url.Action("DeleteAdjustment", "PaymentEntry")',
            data: { DebtAccountId:DebtAccountId,DebtAccountLedgerId: DebtAccountLedgerId },
            type: "POST",

             success: function (data) {
                 debugger;

                 GetLedger(DebtAccountId);
                 $("#myModalNewPayment").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == 1) {
                    debugger;
                    PaymentDeletedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalNewPayment").modal("hide");
                hideLoadingImage();
            }
        })

    }

    function NSF() {
        debugger;
           showLoadingImage();

        var DebtAccountLedgerId = @Model.DebtAccountLedgerId;
        var DebtAccountId = @Model.DebtAccountId;
        $.ajax({
            url: '@Url.Action("NsfORReverse", "PaymentEntry")',
            data: { DebtAccountLedgerId: DebtAccountLedgerId, IsNSF: true, IsReverse: false },
            type: "POST",

             success: function (data) {
                 debugger;
                 if (data == 0) {
                     alert("NSF is not allowed on this transaction");
                 }
                 if (data == 1) {
                     GetLedger(DebtAccountId);
                     $("#myModalNewPayment").modal("hide");
                     $('body').removeClass('modal-open');
                     $('.modal-backdrop').remove();
                     hideLoadingImage();
                 }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalNewPayment").modal("hide");
                hideLoadingImage();
            }
        })

    }

    function Reverse() {
        debugger;
           showLoadingImage();

        var DebtAccountLedgerId = @Model.DebtAccountLedgerId;
        var DebtAccountId = @Model.DebtAccountId;
        $.ajax({
            url: '@Url.Action("NsfORReverse", "PaymentEntry")',
            data: { DebtAccountLedgerId: DebtAccountLedgerId, IsNSF: false, IsReverse: true },
            type: "POST",

             success: function (data) {
                 debugger;
                 if (data == 0) {
                     alert("Reversal is not allowed on this transaction");
                 }
                 if (data == 1) {
                     GetLedger(DebtAccountId);
                     $("#myModalNewPayment").modal("hide");
                     $('body').removeClass('modal-open');
                     $('.modal-backdrop').remove();
                     hideLoadingImage();
                 }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditBatchDebtAccount").modal("hide");
                hideLoadingImage();
            }
        })

    }

    function PaymentDeletedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Payment Details Has Been Deleted.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function NewPaymentSuccessPopup() {
        debugger;
        swal({
            title: "Successfully",
            text: "Updated Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }






</script>