﻿@model CRFView.Adapters.Accounting.AccountingCollections.PaymentEntry.PaymentEntryVM.NewAdjustmentVM
@{
    Layout = null;
}

<style>

    .rt{
        text-align:right;
    }

</style>

<form id="formNewAdjustment">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>New Adjustment</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-12 ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>

                    <br />

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-3 rt">
                            <lable>Balance</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.RemainingBal, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.RemainingBal)), @readonly = "readonly" , @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-3 rt">
                            <lable>Entry Date</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.TrxDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>


                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-3 rt">
                            <lable>Adj Type</lable>
                        </div>

                        <div class="col-xs-5">
                            @Html.DropDownListFor(m => m.SubLedgerTypeId, Model.SubLedgerTypelist.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; " })
                        </div>

                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-3 rt">
                            <lable>Adj Amount</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.distAdjAmt, new { Value = String.Format("{0:C}", Model.distAdjAmt), @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>


                    <br />

                </fieldset>
            </div>
        </div>
    </div>



    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.EditNewAdjustment)
        @Html.HiddenFor(m => m.btnAdjustmentDelete)
        @Html.HiddenFor(m => m.DebtAccountLedgerId)

    </div>


    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnAdjmentDelete" value="Delete" class="btn btn-primary pull-left" style="margin-left: 14px;" onclick="AdjmentDelete();" />
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="SaveNewAdjustment();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" style="margin-right: 15px;" />

        </div>
    </div>
</form>

<script>


    function SaveNewAdjustment() {

            debugger;
            showLoadingImage();
            var data = $('#formNewAdjustment').serialize();
            $.ajax({
                url: '@Url.Action("SaveNewAdjustment", "PaymentEntry")',
                data: data,
                type: "POST",

                success: function (data) {
                    debugger;

                    $("#myModal").modal("hide");
                    $('.modal-backdrop').remove();
                    if (data == 1) {
                        hideLoadingImage();
                        NewAdjustmentSuccessPopup();
                        Search();
                    }
                    else if (data == 0) {
                        //NoticeSentWarning();
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModal").modal("hide");
                    hideLoadingImage();
                }
            });
    }

    function AdjmentDelete() {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        var DebtAccountLedgerId = @Model.DebtAccountLedgerId;
        $.ajax({
            url: '@Url.Action("DeleteAdjustment", "PaymentEntry")',
            data: { DebtAccountId:DebtAccountId,DebtAccountLedgerId: DebtAccountLedgerId },
            type: "POST",

             success: function (data) {
                 debugger;
                  
                 GetLedger(DebtAccountId);
                 $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == 1) {
                    debugger;
                    AdjustmentDeletedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        })

    }
    function NewAdjustmentSuccessPopup() {
        debugger;
        swal({
            title: "Successfully",
            text: "Updated Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function AdjustmentDeletedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Adjustment Details Has Been Deleted.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>