﻿<form id="SearchForm">
    <div id="OuterDiv" style="padding-bottom:20px;padding-left:0px!important;padding-right:0px!important">
        <div class="col-xs-12">
            <div class="col-xs-2" style="margin-right: -66px; margin-left: 19px;">
                Enter Debtor #
            </div>
            <div class="col-xs-1">
                <input type="text" id="txtItemId" name="txtItemId" class="form-control" style="width: 103px;">
            </div>
            <div class="col-xs-2">
                <button onclick="return Search();" class="btn btn-primary modal-link" style="float:left">
                    <i class="icon wb-search" aria-hidden="true"></i> Search
                </button>
            </div>
        </div>
    </div>
</form>


