﻿@model CRFView.Adapters.Collections.Management.DeskAssignment.ViewModels.DeskAssignmentVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }

        #tblDeskAssignmentGrid_wrapper .row:first-child {
        overflow-x: auto;
    }

</style>

<form id="FormDeskAssignment">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Mass Action and Desk Changes
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        
        <div class="col-xs-12 NopaddingLR">

            <div class="col-xs-3" style="margin-left:-40px">
                @*<fieldset class="customFieldset">
                    <legend></legend>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtActionChangeOption, "Desk Change", new { @checked = true })
                        &nbsp;
                        <lable>Desk Change</lable>
                    </div>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtActionChangeOption, "Status Change")
                        &nbsp;
                        <lable>Status Change</lable>
                    </div>

                </fieldset>*@
                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Assigned From</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.AssignedFrom, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })

                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Assigned Thru</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.AssignedThru, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Job Name</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.Jobname, new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Job Add 1</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.JobAdd1, new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Client Group</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.ClientGroup, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

            </div>

            <div class="col-xs-3" @*style="margin-top: 20px;"*@>
                @* <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Assigned From</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.AssignedFrom, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                    </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Assigned Thru</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.AssignedThru, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Debtor #</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.DebtAccountId,  new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>*@
                <div class="col-xs-12 form-group">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                        &nbsp;
                        <lable>All Clients</lable>
                    </div>
                    <div class="col-xs-7" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllClientId, Model.AllClientIdList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllDesks, new { @checked = true })
                        &nbsp;
                        <lable>All Desks</lable>
                    </div>
                    <div class="col-xs-7" id="divAllDesks" style="@(Model.chkAllDesks == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllDeskId, Model.AllDeskIdList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-6 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllStatusGroup, new { @checked = true })
                        &nbsp;
                        <lable>All Status Grp</lable>
                    </div>
                    <div class="col-xs-6" id="divAllStatusGroup" style="@(Model.chkAllStatusGroup == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllStatusGroupId, Model.AllStatusGroupIdList, new { @class = "form-control" })
                    </div>



                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllStatus, new { @checked = true })
                        &nbsp;
                        <lable>All Status</lable>
                    </div>
                    <div class="col-xs-7" id="divAllStatus" style="@(Model.chkAllStatus == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllStatusId, Model.AllStatusIdList, new { @class = "form-control", style = "left:-26px; width: 182px" })
                    </div>



                </div>
                @*<div class="col-xs-12 form-group">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                        &nbsp;
                        <lable>Balance</lable>
                    </div>
                    <div class="col-xs-7" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllClientId, Model.AllClientIdList, new { @class = "form-control" })
                    </div>
                </div>*@



            </div>

            <div class="col-xs-3" @*style="margin-top: 20px;"*@>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-6 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkNoticeDeadline, new { @checked = true })
                        &nbsp;
                        <lable>Notice Deadline</lable>
                    </div>
                    <div class="form-group col-xs-6 lt">
                        @Html.TextBoxFor(m => m.NoticeDeadline, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                          </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-6 checkbox-sm">
                        @*@Html.CheckBoxFor(m => m.chkAllDesks, new { @checked = true })*@
                        &nbsp;
                        @*<lable>All Desks</lable>*@
                    </div>
                    <div class="form-group col-xs-6 lt">
                        @Html.TextBoxFor(m => m.NDDateThru, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>


                <div class="col-xs-12 form-group">
                    <div class="col-xs-6 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkStartDate, new { @checked = true })
                        &nbsp;
                        <lable><lable>Start Date</lable></lable>
                    </div>
                    <div class="form-group col-xs-6 lt">
                        @Html.TextBoxFor(m => m.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-6 checkbox-sm">
                        @*@Html.CheckBoxFor(m => m.chkStartDate, new { @checked = true })*@
                        &nbsp;
                        @*<lable>Start Date</lable>*@
                    </div>
                    <div class="form-group col-xs-6 lt">
                        @Html.TextBoxFor(m => m.StartDateThru, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>


                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-6 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkFromBalance, new { @checked = true })
                        &nbsp;
                        <lable>Balance</lable>
                    </div>
                    <div class="form-group col-xs-6 lt">
                        @Html.TextBoxFor(m => m.FromBalance, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

            </div>

            <div class="col-xs-3" @*style="margin-top: 20px;"*@>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Customer</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.ClientCustomer, new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>General Contractor</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.GeneralContractor, new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Owner</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.OwnerName, new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        @*<lable>Owner</lable>*@
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.ThruBalance, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-8 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkNotLateNoticeState, new { @checked = true })
                        &nbsp;
                        <lable>Not Late Notice State</lable>
                    </div>
                    @*<div class="col-xs-4" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllClientId, Model.AllClientIdList, new { @class = "form-control" })
                    </div>*@
                </div>
            </div>


            @*<div class="col-xs-1" style="margin-top: 20px;">

                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Client Group</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.ClientCustomer, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                        &nbsp;
                        <lable>Balance</lable>
                    </div>
                    <div class="col-xs-7" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllClientId, Model.AllClientIdList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-7">
                        <lable>Customer</lable>
                    </div>
                    <div class="form-group col-xs-5 lt">
                        @Html.TextBoxFor(m => m.ClientCustomer, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center; width:120%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                        &nbsp;
                        <lable>Not Late Notice State</lable>
                    </div>
                    <div class="col-xs-7" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlAllClientId, Model.AllClientIdList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <input type="button" id="btnDeskAssignmentGetList" value="GetList" class="btn btn-primary"   onclick="DeskAssignmentGetList()"/>
                </div>



            </div>*@
            <div class="col-xs-2" style="margin-top: 20px;margin-left: 317px;;">
            <div class="col-xs-12 form-group">
                <input type="button" id="btnDeskAssignmentGetList" value="GetList" class="btn btn-primary" onclick="LiensDeskAssignmentGetList()" style="margin-left: 1104px;" />
            </div>



        </div>
            <br /><br />&nbsp;
        </div>

        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-12 form-group" style="text-align: right;">
                <b>
                    <lable style="font-weight: 1000; font-size: medium;">
                        @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                    </lable>
                </b>
            </div> 
            <br />&nbsp;
        </div>


        

                <div class="col-xs-12 NopaddingLR">
                    <br />
                    <div id="tableDeskAssignmentGridDiv" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.LiensDeskAssignmentList.Count <= 0  ? "display:none" : "display:block")">
                            <table id="tblLiensDeskAssignmentGrid" class="table table-bordered dataTable table-hover grid " border="1" style="width:1840px;">
                                <thead>
                                    <tr>
                                        <th class="no-sort" style="width: 13px;">Edit</th>
                                        @*<th style="width: 30px;">Select</th>*@
                                        <th style="width: 30px;">JobId</th>
                                        <th style="width: 30px;">Client Code</th>
                                        <th style="width: 82px;">JobName</th>
                                        <th style="width: 82px;">JobAdd1</th>
                                        <th style="width: 82px;">JobCity</th>
                                        <th style="width: 82px;">JobState</th>
                                        @*<th style="width: 82px;">State</th>*@
                                        <th style="width: 82px;">DeskNum</th>
                                        <th style="width: 82px;">Status</th>
                                        <th style="width: 100px;">DateAssigned</th>
                                        @*<th style="width: 82px;">RevDate</th>*@
                                        @*<th style="width: 100px;">Branch Num</th>*@
                                        <th style="width: 82px;">RevDate</th>
                                        <th style="width: 100px;">EstBalance</th>
                                        <th style="width: 82px;">JobBalance</th>
                                        <th style="width: 100px;">StartDate</th>
                                        <th style="width: 82px;">BranchNumber</th>
                                        <th style="width: 100px;">ClientCustomer</th>
                                        <th style="width: 100px;">GeneralContractor</th>
                                        <th style="width: 100px;">OwnerName</th>
                                        <th style="width: 100px;">Document</th>
                                        <th style="width: 100px;">NoticeDeadlineDate</th>
                                        <th style="width: 100px;">LateNotice</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.LiensDeskAssignmentList.Count >= 1)
                                    {
                                        foreach (var i in Model.LiensDeskAssignmentList)
                                        {
                                <tr>
                                    <td>
                                        <button type="button" onclick="ShowDeskAssignmentDetails(@i.JobId)" class="btn btn-default btn-icon btn-pure">
                                            <i class="icon wb-edit" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    @*<td>
                                        <div class="col-xs-2 checkbox-sm">
                                            <input id=@i.Select
                                                   name="chkIsSelect"
                                                   type="checkbox"
                                                   value=@i.Select />
                                        </div>
                                    </td>*@
                                    @*<td>
                                        @*//@i.PublicJob
                                        <div class="col-xs-2 checkbox-sm">
                                            @if (@i.Select == true)
                                            {
                                                <input id=@i.JobId
                                                       name="chkIsSelect"
                                                       type="checkbox"
                                                       value=@i.Select
                                                       checked />
                                            }
                                            else
                                            {
                                                <input id=@i.JobId
                                                       name="chkIsSelect"
                                                       type="checkbox"
                                                       value=@i.Select />
                                            }
                                        </div>
                                    </td>*@
                                    <td>
                                        @i.JobId
                                    </td>
                                    <td>
                                        @i.ClientCode
                                    </td>
                                    <td>
                                        @i.JobName
                                    </td>
                                    <td>
                                        @i.JobAdd1
                                    </td>
                                    <td>
                                        @i.JobCity
                                    </td>
                                    <td>
                                        @i.JobState
                                    </td>
                                    <td>
                                        @i.DeskNum
                                    </td>
                                    <td>
                                        @i.StatusCode
                                    </td>
                                    @{
                                        if (i.DateAssigned == DateTime.MinValue)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@i.DateAssigned.ToShortDateString()</td>
                                        }
                                    }
                                    @*<td>
                                        @i.BranchNumber
                                    </td>*@
                                    @{
                                        if (i.RevDate == DateTime.MinValue)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@i.RevDate.ToShortDateString()</td>
                                        }
                                    }
                                    <td>
                                        @String.Format("{0:C}", i.EstBalance)
                                    </td>

                                    <td>
                                        @String.Format("{0:C}", i.JobBalance)
                                    </td>
                                  
                                    @{
                                        if (i.StartDate == DateTime.MinValue)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@i.StartDate.ToShortDateString()</td>
                                        }
                                    }
                                    <td>
                                        @i.BranchNumber
                                    </td>

                                    <td>
                                        @i.ClientCustomer
                                    </td>

                                    <td>
                                        @i.GeneralContractor
                                    </td>

                                    <td>
                                        @i.OwnerName
                                    </td>
                                    @*<td>
                                        <div class="col-xs-2 checkbox-sm">
                                            <input id=@i.Document
                                                   name="chkIsDocument"
                                                   type="checkbox"
                                                   value=@i.Document />
                                        </div>
                                    </td>*@
                                    <td>
                                        @*//@i.PublicJob*@
                                        <div class="col-xs-2 checkbox-sm">
                                            @if (@i.Document == true)
                                            {
                                                <input id=@i.JobId
                                                       name="chkIsDocument"
                                                       type="checkbox"
                                                       value=@i.Document
                                                       checked />
                                            }
                                            else
                                            {
                                                <input id=@i.JobId
                                                       name="chkIsDocument"
                                                       type="checkbox"
                                                       value=@i.Document />
                                            }
                                        </div>
                                    </td>



                                    <td>
                                        @i.NoticeDeadlineDate.ToShortDateString()
                                    </td>
                                    @*<td>
                                        <div class="col-xs-2 checkbox-sm">
                                            <input id=@i.LateNotice
                                                   name="chkIsDocument"
                                                   type="checkbox"
                                                   value=@i.LateNotice />
                                        </div>
                                    </td>*@
                                     <td>
                                        @*//@i.PublicJob*@
                                        <div class="col-xs-2 checkbox-sm">
                                            @if (@i.LateNotice == true)
                                            {
                                                <input id=@i.JobId
                                                       name="chkIsLateNotice"
                                                       type="checkbox"
                                                       value=@i.LateNotice
                                                       checked />
                                            }
                                            else
                                            {
                                                <input id=@i.JobId
                                                       name="chkIsLateNotice"
                                                       type="checkbox"
                                                       value=@i.LateNotice />
                                            }
                                        </div>
                                    </td>

                                </tr>
                                            }
                                        }
                                </tbody>
                            </table>
                        </div>


                    </div>

  


        </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.ddlLiensNewDeskId)
        @Html.HiddenFor(m => m.ddlLiensNewActionId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btnDeskAssignmentOK" value="Update" class="btn btn-primary" onclick="UpdateChangeAccountInfo()" />*@
            <input type="button" value="Cancel" id="btnDeskAssignmentCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>
    $("[name='chkAllClients']").click(function () {
        debugger;
        var chkAllClients = $(this).val();

        if (this.checked) {
            $('#divAllClients').hide();
        }
        else {
            $('#divAllClients').show();

        }
    });

    $("[name='chkAllDesks']").click(function () {
        debugger;
        var chkAllDesks = $(this).val();

        if (this.checked) {
            $('#divAllDesks').hide();
        }
        else {
            $('#divAllDesks').show();
        }
    });

    $("[name='chkAllStatus']").click(function () {
        debugger;
        var chkAllStatus = $(this).val();

        if (this.checked) {
            $('#divAllStatus').hide();
        }
        else {
            $('#divAllStatus').show();
        }
    });

    $("[name='chkAllStatusGroup']").click(function () {
        debugger;
        var chkAllStatus = $(this).val();

        if (this.checked) {
            $('#divAllStatusGroup').hide();
        }
        else {
            $('#divAllStatusGroup').show();
        }
    });

    function LiensDeskAssignmentGetList() {
        debugger;


        var data = $('#FormDeskAssignment').serialize();


        $.ajax({
            url: '@Url.Action("LiensDeskAssignmentList", "LiensDeskAssignment")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    makeDatatable('tblLiensDeskAssignmentGrid');

                    $('#myModal .modal-content').html(data);


                    DeskAssignmentCheckMinDate();
                }
                else {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }

    function DeskAssignmentCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["AssignedFrom",
                                               "AssignedThru"];
        //To set Current Date
        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());

        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                }
                else {
                    $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }

    function ShowDeskAssignmentDetails(JobId)
    {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("GetDeskAssignmentDetails", "LiensDeskAssignment")',
            data: { JobId: JobId },
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModal').modal("hide");




                $('#myModalEditDeskAssignment .modal-content').html(data);
             

                $('#myModalEditDeskAssignment').modal("show");


                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function DeskAssignmentLoad() {
        debugger;
        var data = $('#FormDeskAssignment').serialize();
        $.ajax({
            url: '@Url.Action("DeskAssignmentLoad", "LiensDeskAssignment")',
            data : data,
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);
                LiensDeskAssignmentGetList();
               
                //DeskAssignmentGetList();
                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

</script>
