﻿
@model CRFView.Adapters.Collections.Management.DeskAssignment.ViewModels.DeskAssignmentVM
@{
    Layout = null;
}

<form id="FormEditDeskAssignment">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Edit Desk Assignment
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">*@
            <button type="button" class="close" onclick="CancelDeskAssignment()" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="col-xs-12 form-group">
                    <div class="col-xs-4">
                        @Html.RadioButtonFor(m => m.RbtNewOption, "New Desk")
                        &nbsp;
                        <lable>New Desk</lable>
                    </div>
                    <div class="col-xs-8" id="divNewDesk" style="@(Model.RbtNewOption == "New Desk" ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlLiensNewDeskId, Model.LiensNewDeskIdList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-4">
                        @Html.RadioButtonFor(m => m.RbtNewOption, "New Action")
                        &nbsp;
                        <lable>New Action</lable>
                    </div>
                    <div class="col-xs-8" id="divNewAction" style="@(Model.RbtNewOption == "New Action" ? "display:block" : "display:none")">
                        @Html.DropDownListFor(m => m.ddlLiensNewActionId, Model.LiensNewDeskIdList, new { @class = "form-control" })
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.ddlLiensNewDeskId)
        @Html.HiddenFor(m => m.ddlLiensNewActionId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveSCLegalCost" value="OK" class="btn btn-primary" onclick="UpdateDeskAssignment()" />
            <input type="button" value="Cancel" id="CancelModalSCLegalCost" class="btn btn-primary" onclick="CancelDeskAssignment()" />
        </div>
    </div>
</form>


<script>

    $("[name='RbtNewOption']").click(function () {
        debugger;
        var RbtNewOption = $(this).val();

       var ddlNewDeskId = @Model.ddlLiensNewDeskId;
        var ddlNewActionId = @Model.ddlLiensNewActionId;
        // $("#ddlNewDeskId").val("ddlNewDeskId");
        //$("#ddlNewActionId").val("ddlNewActionId");


        if (RbtNewOption == "New Desk") {

            $('#divNewDesk').show();
            $('#divNewAction').hide();
        }
        else if (RbtNewOption == "New Action") {

            $('#divNewDesk').hide();
            $('#divNewAction').show();
        }
        else
        {
            $('#divNewDesk').hide();
            $('#divNewAction').hide();
        }

    });


    function CancelDeskAssignment()
    {
        $("#myModalEditDeskAssignment").modal("hide");
        DeskAssignmentLoad();
    }

    function UpdateDeskAssignment() {
        debugger;
        showLoadingImage();

        var data = $('#FormEditDeskAssignment').serialize();
        $.ajax({
            url: '@Url.Action("UpdateDeskAssignment", "LiensDeskAssignment")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                $("#myModalEditDeskAssignment").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    DeskAssignmentLoad();

                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditDeskAssignment").modal("hide");
            }
        });
    }



</script>




