﻿@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Desk Assignment</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="AuditDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:1315px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:1585px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditDeskAssignment" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModal", "LiensDeskAssignment")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#AssignedFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#AssignedThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#NoticeDeadline').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#NDDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#StartDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#StartDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
               
              

                document.getElementById("chkAllClients").checked = true;
                document.getElementById("chkAllDesks").checked = true;
                document.getElementById("chkAllStatus").checked = true;
                document.getElementById("chkAllStatusGroup").checked = true;

                $('#divAllClients').hide();
                $('#divAllDesks').hide();
                $('#divAllStatus').hide();
                $('#divAllStatusGroup').hide();

                //makeDatatable('tblDeskAssignmentGrid');

                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


</script>





