﻿@model CRFView.Adapters.ADJobNoticeGroup
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.Id)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Print Group:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.PrintGroup, new { @class = "form-control" })
                <div id="ErrorPrintGroup" class="Invalid-feedback" style="display:none">
                    Please Enter Print Group .
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsTXNotice)<lable class="Checkbox-lable">TX Group</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Postage Rate:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.PostageRateId, new SelectList(ViewBag.MailDeliveredResultList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">      
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm"  style="text-align:left">
               @Html.CheckBoxFor(m => m.IsGreencard)<lable class="Checkbox-lable">Greencard</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="text-align:left">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.PrintMailingLog)<lable class="Checkbox-lable">Print Mailing Log</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsCertifiedMail)<lable class="Checkbox-lable">Certified Mail</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm"  style="text-align:left">
                @Html.CheckBoxFor(m => m.IsMailingLogPostage)<lable class="Checkbox-lable">Mailing Log Postage</lable>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({

                url: '@Url.Action("JobNoticeGroupSave", "JobNoticeGroup")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "JobNoticeGroup")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblJobNoticeGroup');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        
        if ($("#PrintGroup").val().length <= 0) {
            $("#ErrorPrintGroup").show();
            return false;
        }
        else {
            $("#ErrorPrintGroup").hide();
        }

        return true;
    }

</script>



