﻿
@model CRFView.Adapters.Accounting.ClientFollowUp.LienInvoices.LienInvoicesVM.LienInvoicesListVM
@{

    Layout = null;
}


<div class="col-xs-12">
    <table id="tblLienInvoices" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>

                <th class="no-sort" style="width:1%;">Edit</th>
                <th style="width: 5%;white-space:nowrap;">Invoice #</th>
                <th style="width: 5%;white-space:nowrap;">Client #</th>
                <th style="width: 37%;white-space:nowrap;">Client Name</th>
                <th style="width: 5%;white-space:nowrap;">Invoice Date</th>
                <th style="width: 5%;white-space:nowrap;">Email Flag</th>
                <th style="width: 5%;white-space:nowrap;">Review Date</th>
                <th style="width: 5%;white-space:nowrap;">Invoice Amt </th>
                <th style="width: 5%;white-space:nowrap;">Total Due</th>
                <th style="width: 5%;white-space:nowrap;">Paid</th>
                <th style="width: 5%;white-space:nowrap;">Email Date</th>
                <th style="width: 5%;white-space:nowrap;">Date Viewed</th>
                <th style="width: 12%;white-space:nowrap;">Invoice Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.LienInvoices)
            {
                <tr>
                    <td>
                        <button onclick="ShowDetails(@i.ClientFinDocId,@i.HistoryId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        @i.ClientFinDocId
                    </td>
                    <td>
                        @i.ClientCode
                    </td>
                    <td style="white-space:nowrap">
                        @i.ClientName
                    </td>

                    @{
                        if (i.DocumentDate == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.DocumentDate.ToShortDateString()</td>
                        }
                    }

                    <td>
                        @i.IsEmailInvoice
                    </td>
                    @{
                        if (i.ReviewDate == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.ReviewDate.ToShortDateString()</td>
                        }
                    }

                    <td>
                        @string.Format("{0:C}", i.DocumentAmt)
                    </td>
                    <td>
                        @String.Format("{0:C}", i.TotalDue)
                    </td>
                    <td>
                        @i.IsPaid
                    </td>
                    @{
                        if (i.emaildate == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.emaildate.ToShortDateString()</td>
                        }
                    }
                    @{
                        if (i.dateviewed == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.dateviewed.ToShortDateString()</td>
                        }
                    }
                    <td>
                        @i.InvoiceEmail
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
