﻿@model CRFView.Adapters.Accounting.ClientFollowUp.LienInvoices.LienInvoicesVM.LienInvoiceDetailsVM
@{
    Layout = null;
}
<form id="FormPaymentAdjustment">

    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Payment/Adjustment
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;" onclick="Cancle()">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body" style="max-height:1000px">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <lable>&nbsp;Payment</lable>
                    </div>
                    <div class="col-xs-1" style="text-align: left;">

                        @Html.RadioButtonFor(m => m.RdbBtn, " Payment", new { @checked = true })

                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="col-xs-4">
                        <b>Payment Type:</b>
                    </div>
                    <div class="col-xs-3" style="text-align: left;">
                        @Html.RadioButtonFor(m => m.PTypeRdbBtn, "Check", new { @checked = true })
                        <lable>&nbsp;Check</lable>


                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <lable style="margin-left:-16px;">&nbsp;Adjustment</lable>
                    </div>
                    <div class="col-xs-1" style="text-align: left;">

                        @Html.RadioButtonFor(m => m.RdbBtn, "Adjustment")

                    </div>
                </div>

                <div class="col-xs-7">
                    <div class="col-xs-3">

                    </div>
                    <div class="col-xs-4" style="text-align: left; margin-left:32px; ">
                        @Html.RadioButtonFor(m => m.PTypeRdbBtn, "CreditCard")
                        <lable>&nbsp;Credit Card</lable>


                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <lable>&nbsp;</lable>
                    </div>
                    <div class="col-xs-1" style="text-align: left;">

                       

                    </div>
                </div>

                <div class="col-xs-7">
                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-3" style="text-align: left;">
                        @Html.RadioButtonFor(m => m.PTypeRdbBtn, "ACH")
                        <lable>&nbsp;ACH</lable>




                    </div>
                        </div>
            </div>


        </div>

            <div class="form-group col-xs-12  NopaddingLR">
                <div class="col-xs-12 NopaddingLR">
                    <div class="col-xs-10 NopaddingLR">


                        <div class="col-xs-12 form-group  NopaddingLR">

                            <div class="col-xs-3" style="text-align:right">
                                <lable>Invoice#</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.ObjClientFinDoc.Id, new { @class = "form-control", @readonly = true, style = "display:inline;" })

                            </div>

                        </div>

                        <div class="col-xs-12 form-group  NopaddingLR">
                            <div class="col-xs-3" style="text-align:right">
                                <lable>Invoice Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.ObjClientFinDoc.DocumentDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = true, style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group  NopaddingLR" style="margin-top: 4px;">
                            <div class="col-xs-3" style="text-align:right">
                                <lable>Invoice Amt</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.ObjClientFinDoc.DocumentAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.ObjClientFinDoc.DocumentAmt)), @class = "form-control", @readonly = true, rows = "3", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group  NopaddingLR">

                            <div class="col-xs-3" style="text-align:right">
                                <lable>Payment Amt</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.LienRcvAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.LienRcvAmt)), @class = "form-control", style = "display:inline;" })

                            </div>

                        </div>

                        <div class="col-xs-12 form-group  NopaddingLR">
                            <div class="col-xs-3" style="text-align:right">
                                <lable>Adjustment Amt</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.LienAdjAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.LienAdjAmt)), @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group  NopaddingLR" style="margin-top: 4px;">
                            <div class="col-xs-3" style="text-align:right">
                                <lable>CC Fee Amt</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.objADClientFinDocLedger.CCFeeAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.objADClientFinDocLedger.CCFeeAmt)), @class = "form-control", rows = "3", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group  NopaddingLR" style="margin-top: 4px;">
                            <div class="col-xs-3" style="text-align:right">
                                <lable>Note</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextAreaFor(m => m.objADClientFinDocLedger.Note, new { @class = "form-control",rows = "3", style = "display:inline;width: 568px;" })
                                
                            </div>
                        </div>











                    </div>


                </div>
            </div>
        </div>


    <div id="hiddenFields">

        @Html.HiddenFor(m => m.ClntFinId)
        @Html.HiddenFor(m => m.ClientFinDocId)
        @Html.HiddenFor(m => m.HistoryId)


    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            
            <input type="button" value="Save" id="SaveDetails" class="btn btn-primary" onclick="SavePaymentORAdjustment()" />
            <input type="button" value="Cancel" id="CancelModalTexasRequst" class="btn btn-primary" data-dismiss="modal" style="margin-right: -13px;" onclick="Cancle()" />

        </div>
    </div>
</form>

<script type="text/javascript">
    function Cancle() {
        debugger;
        var ClientFinDocId = @Model.ClientFinDocId;
        var HistoryId = @Model.HistoryId;
        $('#PaymentAdjustmentModal').modal("hide");
        hideLoadingImage();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        ShowDetails(ClientFinDocId, HistoryId)
    }


    function SavePaymentORAdjustment()
    {
        debugger;
        var ClientFinDocId = @Model.ClientFinDocId;
         var HistoryId = @Model.HistoryId;
        var data = $('#FormPaymentAdjustment').serialize();
        $.ajax({
            url: '@Url.Action("SavePaymentORAdjustmentDetails", "LienInvoices")',
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    //$('#successMsg').show();
                    NewPaymentORAdjustmentSuccessPopup();
                    $("#PaymentAdjustmentModal").modal("hide");
                    ShowDetails(ClientFinDocId, HistoryId)
                    //$("#myModal").modal("hide");
                }
                else {
                    $('#errorMsg').show();
                    $("#PaymentAdjustmentModal").modal("hide");
                   // $("#myModal").modal("hide");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#PaymentAdjustmentModal").modal("hide");
                //$("#myModal").modal("hide");
            }
        });
    }

    function NewPaymentORAdjustmentSuccessPopup() {
        debugger;
        swal({
            title: "Successfully",
            text: "Payment/Adjustment Created Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>