﻿
@model  CRFView.Adapters.Liens.LiensDayEnd.AutoFax.ViewModels.AutoFaxVM
@{
    Layout = null;
}

<style>
    .rt {
        text-align: right;
    }

   
</style>
<form id="FormAutoFax">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Auto Fax Cust/GC</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
           
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-4 rt checkbox-sm" style="margin-left: 40px;">
                            @Html.CheckBoxFor(m => m.chkAllClient)
                            &nbsp;
                            <lable>All Clients</lable>
                        </div>
                        <div class="col-xs-5 NopaddingLR" style="width: 274px;">
                            <div class="col-xs-12" id="divAllClient" style="@(Model.chkAllClient == false ? "display:block" : "display:none")">
                                @Html.DropDownListFor(m => m.ClientId, Model.GetClientList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;margin-left:-6px; " })
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt">
                            <lable> From Date</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.DateTimePicker1, "{0:MM/dd/yyyy}", new { style = "width:87px;" })
                        </div>
                    </div>
                    <br />
                 
                        <div class="col-xs-10 form-group">
                            <div class="col-xs-6 rt">
                                <lable> Thru Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.DateTimePicker2, "{0:MM/dd/yyyy}", new { style = "width:87px" })
                            </div>
                        </div>
                
                    <br />
                    <br />

                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Printer")
                            &nbsp;
                            <lable>Printer</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "PDF", new { @checked = true })
                            &nbsp;
                            <lable>PDF</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Fax")
                            &nbsp;
                            <lable>Fax</lable>
                        </div>
                    </div>

            
            </div>
        </div>
    </div>

    <hr style="width:100%;text-align:left;margin-left:0;border-width:thin">
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="margin-left: 16px;" />
            @*<input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="Delete()" />*@
            <input type="button" id="btnPrintLienRevenueOK" value="OK" class="btn btn-primary" onclick="OKAutoFax()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>
</form>
<script>



    

    $("[name='chkAllClient']").click(function () {
        debugger;
        //var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllClient').hide();
        }
        else {
            $('#divAllClient').show();
        }
    });




    function OKAutoFax() {
        debugger;
        showLoadingImage();


        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormAutoFax').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("AutoFaxPrint", "AutoFax")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintAutoFaxSuccessPopup();
                    hideLoadingImage();
                    return false;
                }

                if (data != "error") {
                    window.open(data);
                    CreateAutoFaxSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');

                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function PrintAutoFaxSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Auto Fax Printed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function CreateAutoFaxSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Auto Fax Processed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
         $('#objADvwJobInfo_FromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
         $('#objADvwJobInfo_ThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

    }


</script>