﻿@model IEnumerable<CRFView.Adapters.ADStateFormNotices>
@{
    
    Layout = null;
}


<div>
    <table id="tblStateFormNotices" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>State Code</th>
                <th>Report Name</th>
                <th>Friendly Name</th>
                <th>FormType</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.StateCode</td>
                    <td>@i.ReportName</td>
                    <td>@i.FriendlyName</td>  
                    <td>@i.FormType</td>             
                    <td>
                            <button onclick="ShowDetails(@i.StateFormNoticeId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
