﻿@model CRFView.Adapters.ADCourtVenues
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.PKID)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Court Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.CourtId, new { @class = "form-control",@style= "text-transform:uppercase" })
                <div id="ErrorCourtId" class="Invalid-feedback" style="display:none">
                    Please Enter Court Code.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Venue:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.Venue, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Address:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.VenueAdd, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">City:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.VenueCity, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">State:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0px">
                    @Html.TextBoxFor(m => m.VenueState, new { @class = "form-control" })
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0px">
                    @Html.TextBoxFor(m => m.VenueZip, new { @class = "form-control" })
                </div>
            </div>

        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Phone Number:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.VenuePhone, new { @class = "form-control",@onblur= "formatPhone(this)", @maxlength = "10" })
                <div id="ErrorVenuePhone" class="Invalid-feedback" style="display:none">
                    Invalid Phone number.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Web:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.VenueWeb, new { @class = "form-control" })
            </div>
        </div>
      
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
           
            showLoadingImage();
            $('#myModal').modal('hide');

            $.ajax({
                url: '@Url.Action("CourtVenuesSave", "CourtVenues")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblCourtVenues');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#CourtId").val().length <= 0) {
            $("#ErrorCourtId").show();
            return false;
        }
        else {
            $("#ErrorCourtId").hide();
        }
        if (validatePhone($("#VenuePhone").val()) == false) {
            $("#ErrorVenuePhone").show();
            return false;
        }
        else {
            $("#ErrorVenuePhone").hide();
        }
        return true;
    }


</script>



