﻿@model CRFView.Adapters.Liens.DataEntry.BatchReport.ViewModels.BatchReportOptionsVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormBatchReportsOptions">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Batch Report
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                &nbsp;
                <lable>All Clients</lable>
            </div>
            <div class="col-xs-9 NopaddingLR">
                <div class="col-xs-12" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                    @Html.DropDownListFor(m => m.ddlClientId, new SelectList(Model.ClientIdList, "Id", "Name"), "--Select--", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.chkAllUsers, new { @checked = true })
                &nbsp;
                <lable>All Users</lable>
            </div>
            <div class="col-xs-9 NopaddingLR">
                <div class="col-xs-12" id="divAllUsers" style="@(Model.chkAllUsers == false ? "display:block" : "display:none")">
                    @Html.DropDownListFor(m => m.ddlUserId, new SelectList(Model.UserIdList, "Id", "Name"), "--Select--", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.chkByBatchDate)
                &nbsp;
                <lable>By Batch Date</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.FromBatchDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-1">
                <lable>To</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ThruBatchDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.chkByBatchNo)
                &nbsp;
                <lable>By Batch Number</lable>
            </div>

            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.FromBatchNo, new { @class = "form-control", style = "display:inline;", Value = "0", @type = "number", @min = "0" })
            </div>
            <div class="col-xs-1">
                <lable>To</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ThruBatchNo, new { @class = "form-control", style = "display:inline;", Value = "999999", @type = "number", @min = "0" })
            </div>
            <br /><br />&nbsp;
        </div>



        <div class="col-xs-12 form-group lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-8 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Batch Status</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-6">
                                @Html.RadioButtonFor(m => m.RbtBatchStatus, "All Open Batches", new { @checked = true })
                                &nbsp;
                                <lable>All Open Batches</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.RadioButtonFor(m => m.RbtBatchStatus, "Released")
                                &nbsp;
                                <lable>Released</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-6">
                                @Html.RadioButtonFor(m => m.RbtBatchStatus, "Web Open")
                                &nbsp;
                                <lable>Web Open</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.RadioButtonFor(m => m.RbtBatchStatus, "Posted")
                                &nbsp;
                                <lable>Posted</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-6">
                                @Html.RadioButtonFor(m => m.RbtBatchStatus, "Internal Open")
                                &nbsp;
                                <lable>Internal Open</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.RadioButtonFor(m => m.RbtBatchStatus, "All Batches")
                                &nbsp;
                                <lable>All Batches</lable>
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>
            <br />&nbsp;
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-4 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Select Report Type</legend>
                        <div class="form-group col-xs-12 lt checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkBatchList, new { @checked = true })
                                &nbsp;
                                <lable>Batch List</lable>
                        </div>

                        <div class="form-group col-xs-12 lt checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkBatchJobInfo)
                            &nbsp;
                            <lable>Batch Job Info</lable>
                        </div>

                        <div class="form-group col-xs-12 lt checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkErrors)
                            &nbsp;
                            <lable>Errors Only</lable>
                        </div>

                    </fieldset>
                </div>

                <div class="col-xs-4 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Print Option</legend>
                        <div class="form-group col-xs-12 lt">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To Printer")
                            &nbsp;
                            <lable>Send To Printer</lable>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
                            &nbsp;
                            <lable>Send To PDF</lable>
                        </div>
                    </fieldset>
                </div>

            </div>
            <br />&nbsp;
        </div>

    </div>


    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearModal();" />
            <input type="button" id="btnBatchReportsOptionsOK" value="OK" class="btn btn-primary" onclick="OKBatchReportsOptions()" />
            <input type="button" value="Cancel" id="btnBatchReportsOptionsCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>
    $("[name='chkAllClients']").click(function () {
        debugger;
        var chkAllClients = $(this).val();

        if (this.checked) {
            $('#divAllClients').hide();
        }
        else {
            $('#divAllClients').show();
        }
    });

    $("[name='chkAllUsers']").click(function () {
        debugger;
        var chkAllUsers = $(this).val();

        if (this.checked) {
            $('#divAllUsers').hide();
        }
        else {
            $('#divAllUsers').show();
        }
    });



    //button OKBatchReportsOptions
    function OKBatchReportsOptions() {
        debugger;
        showLoadingImage();
        $('#myModal').modal("hide");
        var ClientId = $("#ddlClientId").val();

        if (document.getElementById("chkAllClients").checked == false)
        {
            if(ClientId <= 0)
            {
                alert("Please select Client Name.");
                hideLoadingImage();
                return false;
            }
        }

        var UserId = $("#ddlUserId").val();

        if (document.getElementById("chkAllUsers").checked == false)
        {
            if (UserId <= 0) {
                alert("Please select User Name.");
                hideLoadingImage();
                return false;
            }
        }

        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();

        var data = $('#FormBatchReportsOptions').serialize();

            $.ajax({
                url: '@Url.Action("PrintBatchReportsOptions", "BatchReport")',
                data: data,
                type: "POST",
                success: function (data) {
                    debugger;

                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    if (RbtPrintOption == "Send To Printer") {
                        PrintLienBatchReportSuccessPopup();
                        hideLoadingImage();
                        return false;
                    }

                    if (data != "error") {
                        $('#myModal').modal("hide");
                        window.open(data);
                        BatchReportSuccessPopup();
                        hideLoadingImage();
                    }
                    else {
                        hideLoadingImage();
                        alert('Report Not Found !!');
                    }
                    return false;
                },

                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });


    }

    function BatchReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Generated!",
            text: "Your Batch Report Generated Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function PrintLienBatchReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Batch Report Printed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function ClearModal()
    {
        document.getElementById("chkAllClients").checked = false;
        document.getElementById("chkAllUsers").checked = false;
        document.getElementById("chkByBatchDate").checked = false;
        document.getElementById("chkByBatchNo").checked = false;
        document.getElementById("chkBatchList").checked = false;
        document.getElementById("chkBatchJobInfo").checked = false;
        document.getElementById("chkErrors").checked = false;
 
        $("#ddlClientId").val('');
        $("#ddlUserId").val('');

        $("#FromBatchNo").val('');
        $("#ThruBatchNo").val('');

        //To set Current Date
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#FromBatchDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
        $('#ThruBatchDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
    }



</script>


