﻿@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Batch Reports</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="AuditDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModal", "BatchReport")',
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal .modal-content').html(data);

                document.getElementById("chkAllClients").checked = true;
              
                //$('#FromBatchDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                //$('#ThruBatchDate').datepicker({ format: 'mm/dd/yy' }).datepicker();

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#FromBatchDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                $('#ThruBatchDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

                CheckMinDate();

                document.getElementById("chkAllClients").checked = true;
                document.getElementById("chkAllUsers").checked = true;
                document.getElementById("chkByBatchDate").checked = true;
                document.getElementById("chkBatchList").checked = true;

                $('#divAllClients').hide();
                $('#divAllUsers').hide();
                
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["FromBatchDate",
                                "ThruBatchDate"];

        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }
</script>

