﻿@model CRFView.Adapters.Accounting.AccountingLiens.SmanCommission.ViewModels.SmanCommissionVM
@{
    Layout = null;
}

<style>
    /*.rt{
        text-align:right;
    }*/
</style>


<form id="FormSmanCommission">

    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Sman Commission</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-12 ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>
                    

                    <div class="col-xs-12 form-group">


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-4 rt checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkAllSman, new { @checked = true })
                                &nbsp;
                                <lable>All Sman</lable>
                            </div>

                            <div class="col-xs-5" id="divAllSman" style="@(Model.chkAllSman == false ? "display:block" : "display:none")">
                                @Html.DropDownListFor(m => m.TeamId, Model.GetTeamList.OrderBy(m => m.Text), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-4 rt checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkAllClient)
                                &nbsp;
                                <lable>All Clients</lable>
                            </div>
                            <div class="col-xs-5" id="divAllClient" style="@(Model.chkAllClient == false ? "display:block" : "display:none")">
                                @Html.DropDownListFor(m => m.ClientId, Model.GetClientList.OrderBy(m => m.Text), new { @class = "form-control"})
                            </div>
                        </div>



                        <div class="col-xs-12 form-group">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-4 rt">
                                <lable>Invoice From Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.objADClientFinDoc.InvoiceFromDate, "{0:MM/dd/yyyy", new { @class = "form-control", style = "width:120px;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-4 rt">
                                <lable>Invoice Thru Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.objADClientFinDoc.InvoiceThruDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "width:120px" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">&nbsp;</div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5">&nbsp;</div>
                            <div class="col-xs-5">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "optToPrinter", new { }) &nbsp;
                                <lable>Send to Printer</lable>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5">&nbsp;</div>
                            <div class="col-xs-5">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "optToPDF", new { @checked = true }) &nbsp;
                                <lable>Send to PDF</lable>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5">&nbsp;</div>
                            <div class="col-xs-5">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "Create CSV File")&nbsp;
                                <lable>Create CSV File</lable>
                            </div>
                        </div>



                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
            </fieldset>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <div class="form-group col-xs-12">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="margin-left: 16px;" />
            <input type="button" id="btnPrintLienRevenueOK" value="OK" class="btn btn-primary" onclick="OKPrintLienRevenue()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" style="margin-right: 15px;" />

        </div>
    </div>
</form>


<script>

    $("[name='chkAllSman']").click(function () {
        debugger;
     
        if (this.checked) {
            $('#divAllSman').hide();
        }
        else {
            $('#divAllSman').show();
        }
    });

    $("[name='chkAllClient']").click(function () {
        debugger;2
    
        if (this.checked) {
            $('#divAllClient').hide();
        }
        else {
            $('#divAllClient').show();
        }
    });




    function OKPrintLienRevenue() {
        debugger;
        showLoadingImage();


        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormSmanCommission').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("SmanCommissionDetails", "SmanCommission")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintSmanCommissionSuccessPopup();
                    hideLoadingImage();
                    return false;
                }

                if (data != "error") {
                    window.open(data);
                    CreateSmanCommissionSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');

                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function PrintSmanCommissionSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Sman Commission Printed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function CreateSmanCommissionSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Sman Commission Processed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#objADClientFinDoc_InvoiceFromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#objADClientFinDoc_InvoiceThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

    }


</script>
