﻿@model IEnumerable<CRFView.Adapters.ADJobNoticeGroup>
@{
    
    Layout = null;
}


<div>
    <table id="tblJobNoticeGroup" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                
                <th>Print Group</th>
                <th>TX</th>
                <th>Postage Rate</th>
                <th>Print Mailing Log</th>
                <th>Certified Mail</th>
                <th>Green Card</th>
                <th>Mailing Log Postage</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.PrintGroup</td>
                    <td>@i.IsTXNotice</td>  
                    <td>@i.PostageRate</td>  
                    <td>@i.PrintMailingLog</td>  
                    <td>@i.IsCertifiedMail</td>  
                    <td>@i.IsGreencard</td>  
                    <td>@i.IsMailingLogPostage</td>             
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
