﻿@model CRFView.Adapters.Liens.TXNoticeCycle.PrintStatements.ViewModels.TXNoticePrintStatementsVM

@{
    Layout = null;
}

<style>
    /*.rt{
        text-align:right;
    }*/
</style>


<form id="FormTXNoticePrintStatements">

    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Texas Letters / Print Statement</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-12 ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>


                    <div class="col-xs-12 form-group">
                        <br />

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-4 rt checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkAllClient)
                                &nbsp;
                                <lable>All Clients</lable>
                            </div>
                            <div class="col-xs-5" id="divAllClient" style="@(Model.chkAllClient == false ? "display:block" : "display:none")">
                                @Html.DropDownListFor(m => m.ClientId, Model.GetClientList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-4 rt">
                                <lable>From Print Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.DateTimePicker1, "{0:MM/dd/yyyy", new { @class = "form-control", style = "width:120px;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-4 rt">
                                <lable>Thru Print Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.DateTimePicker2, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "width:120px" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">&nbsp;</div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5">&nbsp;</div>
                            <div class="col-xs-5">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "optToPrinter", new { }) &nbsp;
                                <lable>Send to Printer</lable>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-5">&nbsp;</div>
                            <div class="col-xs-5">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "optToPDF", new { @checked = true }) &nbsp;
                                <lable>Send to PDF</lable>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </fieldset>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <div class="form-group col-xs-12">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="margin-left: 16px;" />
            <input type="button" id="btnPrintLienRevenueOK" value="OK" class="btn btn-primary" onclick="OKTXNoticePrintStatements()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" style="margin-right: 15px;" />

        </div>
    </div>
</form>


<script>

    $("[name='chkAllSman']").click(function () {
        debugger;

        if (this.checked) {
            $('#divAllSman').hide();
        }
        else {
            $('#divAllSman').show();
        }
    });



    function OKTXNoticePrintStatements() {
        debugger;
        showLoadingImage();


        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormTXNoticePrintStatements').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("PrintTXNoticePrintStatementsDetails", "TXNoticePrintStatements")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintTXNoticePrintStatementsSuccessPopup();
                    hideLoadingImage();
                    return false;
                }

                if (data = "CSVFilesuccess") {
                    CreateSmanCommissionsSuccessPopup();
                    hideLoadingImage();
                }


                else if (data != "error" && data != "success") {
                    window.open(data);
                    CreateTXNoticePrintStatementsSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');

                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function PrintTXNoticePrintStatementsSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "TXNotice PrintStatements Printed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function CreateTXNoticePrintStatementsSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "TXNotice PrintStatements Processed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#objADClientFinDoc_InvoiceFromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#objADClientFinDoc_InvoiceThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

    }


</script>


