﻿@model IEnumerable<CRFView.Adapters.ADClientTypes>
@{
    
    Layout = null;
}

<div>
    <table id="tblClientType" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>ClientType Code</th>
                <th>ClientType Name</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.ClientTypeCode</td>     
                    <td>@i.ClientTypeName</td>             
                    <td>
                            <button onclick="ShowDetails(@i.ClientTypeId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
