﻿@model CRFView.Adapters.ADClientUser

@{
   
    Layout = null;

}



<form id="FormEdit" >
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="min-height: 300px">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">User Name:</lable>
                <span class="ValidationStar">*</span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.HiddenFor(m => m.ID)           
                @Html.Hidden("HasGroupAccessHdn", Model.HasGroupAccess)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })                                   
                <div id="ErrorUserName" class="Invalid-feedback" style="display:none">
                    Please Enter User Name.
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 checkbox-sm" style="padding:0px">
            @Html.CheckBoxFor(m => m.isinactive)
                Is Inactive
                </div>
        </div>



        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Logincode:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.LoginCode, new { @class = "form-control" })                
                <div id="ErrorLoginCode" class="Invalid-feedback" style="display:none">
                    Please Enter LoginCode.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Password:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.LoginPassword, new { @class = "form-control" })                
                <div id="ErrorPassword" class="Invalid-feedback" style="display:none">
                    Please Enter Password.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize">PhoneNo:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Email:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <div id="ErrorEmail" class="Invalid-feedback" style="display:none">
                    Please Enter Email ID.
                </div>
             </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize">Client:</lable>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.DropDownListFor(m=>m.ClientId, new SelectList(Model.ClientList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize">User Security:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                    @Html.RadioButtonFor(m => m.UserSecurity,"Manager")
                    <label for="Manager">Manager</label>
                </div>
                <div class="radio-custom radio-sm col-md-5 col-sm-5 col-xs-5">
                    @Html.RadioButtonFor(m => m.UserSecurity, "Staff")
                    <label for="Staff">Staff</label>
                </div>
                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                    @Html.RadioButtonFor(m => m.UserSecurity, "Admin")
                    <label for="Admin">Admin</label>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize">ClientView Group:</lable>
            <div class="col-md-4  checkbox-sm" style="text-align:left">
                   @Html.CheckBoxFor(m=>m.HasGroupAccess)  Has Group Access
            </div>
        </div>

        <div id="DivClientGroup" class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3"></lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.ClientViewGroupId, new SelectList(Model.ClientViewGroupList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>



    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });


    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("ClientUserSave", "ClientUsers")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientUsers');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    
    }

    //validation for null records
    function Validate() {
        debugger;

        if ($("#UserName").val().length <= 0) {
            $("#ErrorUserName").show();
            return false;
        }
        else {
            $("#ErrorUserName").hide();
        }
        if ($("#LoginCode").val().length <= 0) {
            $("#ErrorLoginCode").show();
            return false;
        }
        else {
            $("#ErrorLoginCode").hide();
        }
        if ($("#LoginPassword").val().length <= 0) {
            $("#ErrorPassword").show();
            return false;
        }
        else {
            $("#ErrorPassword").hide();
        }
        if ($("#Email").val().length <= 0) {
            $("#ErrorEmail").show();
            return false;
        }
        else {
            $("#ErrorEmail").hide();
        }
        return true;
    }



    $('#HasGroupAccess').on('click', function () {
        if ($(this).is(":checked")) {
            $("#DivClientGroup").show();
        } else {
            $("#DivClientGroup").hide();
        }
    }
)
</script>



