﻿@model IEnumerable<CRFView.Adapters.ADClientUser>

<div>

    <h3 class="page-header">Client Users</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/ClientUsers/_ClientUsersList.cshtml");}
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-width">

        <!-- Modal content-->
        <div class="modal-content modal-width">

        </div>

    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {

    }
    function AddDetails() {
        $.ajax({
            url: '@Url.Action("ClientUserAdd", "ClientUsers")',

            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                    $('#DivClientGroup').hide();
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });

    }
    function ShowDetails(id) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ClientUserDetails", "ClientUsers")',
            data: {
                id: id
            },
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                debugger;
           
                var ShowDropDown = $("#HasGroupAccessHdn").val();
                if(ShowDropDown=='True')
                {
                    $('#DivClientGroup').show();
                }
                else
                {
                    $('#DivClientGroup').hide();
                }
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
              
            }
        });

    }
    function Search() {
        var searchVal = $("#txtSearch").val().trim();
        var SearchKey = $("#ddlFilter").val();
        if (searchVal != "" && SearchKey != "") {
        $.ajax({
            url: '@Url.Action("Search", "ClientUsers")',
            data: {
                value: searchVal,
                Key: SearchKey
            },
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                makeDatatable('tblClientUsers');
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
        }
        return false;
    }

    function Refresh() {
        $("#txtSearch").val("");
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Refresh", "ClientUsers")',
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                ClearDatatableState('tblClientUsers');
                makeDatatable('tblClientUsers');
                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }
</script>



