﻿@{
    Layout = null;
}

<style>
    #tblCollectionInvoices_wrapper .row:first-child {
        overflow-x: auto;
    }

    #tblLedgerList_wrapper .row:first-child {
        overflow-x: auto;
    }

    .left-text {
        text-align: left;
    }

    .w-130 {
        width: 130px;
    }
</style>

<div>
    <h3 class="page-header">Create Invoices</h3>
    <hr />
    <div class="panel-body">
        @*@{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}*@
        Create Invoices Page called
        <div id="InvoiceDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "CreateInvoices")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }
</script>