﻿@model IEnumerable<CRFView.Adapters.ADStateInfoHistory>
@{

}
    <table id="tblStateInfoHistory" class="table table-bordered dataTable table-hover grid " border="1">
        <thead>
            <tr>
                <th class="no-sort" width="6%">View</th>
                <th width="12%">User Name</th>
                <th width="10%">Date Created</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        <button onclick="ShowNoteDetails(@i.Id);return false;" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-eye" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>@i.UserName</td>
                    @if (i.DateCreated.Year == 0001)
                {

                        <td></td>
                    }
                    else
                    {
                        <td>@i.DateCreated.ToString("MM/dd/yyyy")</td>
                    }

                    <td>@i.Note</td>
                </tr>
            }
        </tbody>
    </table>

