﻿@model IEnumerable<CRFView.Adapters.ADStateInfo>
@{

}
<h3 class="page-header" >State Info</h3>
<hr />
<div id="divStateInfoList">
  
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewConfiguration/Liens/StateInfo/_StateInfoList.cshtml");}
        </div>

    </div>
</div>


<div id="divStateInfoDetails" style="display:none"></div>

<style>
   .row {
        overflow-x: auto;
    }

   td{
           white-space: nowrap;
    overflow-x: auto;
   }
</style>



<script type="text/javascript">
    function OnPartialLoad() {
        //add functions onload
      
    }

    function AddDetails() {
        debugger;
        $.ajax({
            url: '@Url.Action("StateInfoAdd", "StateInfo")',
            success: function (data) {
                //$('#myModal .modal-content').html(data);
                //$('#myModal').modal("show");
                $('#divStateInfoDetails').html(data);
                $('#divStateInfoList').fadeOut(100);
                $('#divStateInfoDetails').fadeIn(100);
                makeDatatable('tblStateInfoHistory', { "lengthMenu": [5, 10, 20, 30, 40, 50, 100] });
                SetDatePicker();
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });

    }
    function ShowDetails(id) {
        showLoadingImage();
        debugger;
        $.ajax({
            url: '@Url.Action("StateInfoDetails", "StateInfo")',
            data: {
                id: id
            },
            success: function (data) {
                debugger;
                hideLoadingImage();
           
                $('#divStateInfoDetails').html(data);
                $('#divStateInfoList').fadeOut(100);
                $('#divStateInfoDetails').fadeIn(100);
                makeDatatable('tblStateInfoHistory', { "lengthMenu": [5,10, 20, 30, 40, 50, 100] });
                $('#LastUpdatedOn').datepicker();
                $('#NTOUpdateDate').datepicker();
                $('#LienUpdateDate').datepicker();
                $('#BondUpdateDate').datepicker();
                $('#StopNoticeUpdateDat').datepicker();
                $('#NOIUpdateDate').datepicker();
                $('#hdnStateId').val(id);
              
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });

    }
    function Search() {
        var searchVal = $("#txtSearch").val().trim();
        var SearchKey = $("#ddlFilter").val();
        if (searchVal != "" && SearchKey != "") {

            $.ajax({
                url: '@Url.Action("Search", "StateInfo")',
                data: {
                    value: searchVal,
                    Key: SearchKey
                },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblStateInfo');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }
        return false;
    }
    function Refresh() {
        debugger;
        $("#txtSearch").val("");
        $.ajax({
            url: '@Url.Action("Refresh", "StateInfo")',
            success: function (data) {
                $('#list').html(data);
                ClearDatatableState('tblStateInfo');
                makeDatatable('tblStateInfo');
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function SetDatePicker()
    {
        $('#LastUpdatedOn').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
        $('#NTOUpdateDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
        $('#LienUpdateDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
        $('#BondUpdateDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
        $('#StopNoticeUpdateDat').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
        $('#NOIUpdateDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
    }

</script>


