﻿@model CRFView.Adapters.Accounting.AccountingCollections.PaymentEntry.ADvwAccountList
@{
    Layout = null;
}

<style>
    lable {
    text-align: left;
}
    .margin-r{
        margin-right:80px;
    }
    .margin-r222{
        margin-right:240px;
    }
</style>

<div class="form-group">
    <div class="col-md-12 col-sm-12 col-xs-12 NopaddingLR text-left form-group">
        <div class="col-md-5 col-sm-5 col-xs-5 NopaddingLR">
            <lable>Debtor #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</lable>
            @Html.TextBoxFor(m => m.FileNumber,new { @class="form-control ",style= "display:inline;width:150px;" })
            <lable>&nbsp;&nbsp;Client #</lable>
            @Html.TextBoxFor(m => m.ClientCode, new { @class = "form-control pull-right ", style = "display:inline;width:150px;margin-right:20px;" })
           
          </div>
        <div class="col-md-4 col-sm-4 col-xs-4 NopaddingLR ">
            <lable>Date Assigned</lable>
            @Html.TextBoxFor(m => m.ReferalDate, "{0:MM/dd/yy}", new { @class = "pull-right margin-r form-control ", style="width:150px" })
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 NopaddingLR">
            <lable>Assigned: </lable>
            @Html.TextBoxFor(m => m.TotAsgAmt, new { @class = "pull-right form-control ", style = "width:150px" })
        </div>
    </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
        <div class="col-xs-5 NopaddingLR">
            <lable>Ref Number</lable>
            @Html.TextBoxFor(m => m.AccountNo,new { @class= "pull-right form-control margin-r222", style = "width:150px" })
        </div>
        <div class="col-xs-4 NopaddingLR ">
            <lable>Last Change Date</lable>
            @Html.TextBoxFor(m => m.LastServiceDate, "{0:MM/dd/yy}", new { @class = "pull-right margin-r form-control ", style = "width:150px" })
        </div>
        <div class="col-xs-3 NopaddingLR">
            <lable>Collection Fees: </lable>
            @Html.TextBoxFor(m => m.TotCollFeeAmt, new { @class = "pull-right form-control ", style = "width:150px" })
        </div>
    </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
        <div class="col-xs-5 NopaddingLR">
            <lable>Name</lable>
            @Html.TextBoxFor(m => m.DebtorName, new { @class = "pull-right form-control", style = "width:270px;margin-right:120px;" })
        </div>
        <div class="col-xs-4 NopaddingLR">
            <lable>Last Pay Date</lable>
            @Html.TextBoxFor(m => m.LastPaymentDate, "{0:MM/dd/yy}", new { @class = "form-control margin-r pull-right", style = "width:150px" })
        </div>
        <div class="col-xs-3 NopaddingLR">
            <lable>Adjusted: </lable>
            @Html.TextBoxFor(m => m.TotAdjAmt, new { @class = "pull-right form-control ", style = "width:150px" })
        </div>
    </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
        <div class="col-xs-5 NopaddingLR">
            <lable>Contact</lable>
            @Html.TextBoxFor(m => m.ContactName, new { @class = "pull-right form-control", style = "width:270px;margin-right:120px;" })
        </div>
        <div class="col-xs-4 NopaddingLR ">
            <lable>Last Trust Date</lable>
            @Html.TextBoxFor(m => m.LastTrustDate, "{0:MM/dd/yy}", new { @class = "pull-right margin-r form-control ", style = "width:150px" })
        </div>
        <div class="col-xs-3 NopaddingLR">
            <lable>Payments: </lable>
            @Html.TextBoxFor(m => m.TotPmtAmt, new { @class = "pull-right form-control ", style = "width:150px" })
        </div>
    </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
        <div class="col-xs-5 NopaddingLR">
            <lable>Address</lable>
            @Html.TextBoxFor(m => m.AddressLine1, new { @class = "pull-right form-control ", style = "width:270px;margin-right:120px;" })
        </div>
        <div class="col-xs-4 NopaddingLR ">
            <lable>Close Date</lable>
            @Html.TextBoxFor(m => m.CloseDate, "{0:MM/dd/yy}", new { @class = "pull-right margin-r form-control ", style = "width:150px" })
        </div>
        <div class="col-xs-3 NopaddingLR">
            <lable>Remain Prin: </lable>
            @Html.TextBoxFor(m => m.TotBalAmt, new { @class = "pull-right form-control ", style = "width:150px" })
        </div>
    </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
        <div class="col-xs-5 NopaddingLR">
            @Html.TextBoxFor(m => m.AddressLine2, new { @class = "pull-right form-control", style = "width:270px;margin-right:120px;" })
        </div>
        <div class="col-xs-4 NopaddingLR ">
            <lable>Review Date</lable>
            @Html.TextBoxFor(m => m.NextContactDate, "{0:MM/dd/yy}", new { @class = "pull-right margin-r form-control", style = "width:150px;display:inline" })
        </div>
        <div class="col-xs-3 NopaddingLR">
            <lable>Legal Costs: </lable>
            @Html.TextBoxFor(m => m.TotAttyExpAmt, new { @class = "pull-right form-control ", style = "width:150px;display:inline" })
        </div>
    </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
        <div class="col-xs-5 NopaddingLR">
            <lable>C/S/Zip&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</lable>
            @Html.TextBoxFor(m => m.City,new {@class="form-control", style="display:inline;width:109px;"})@Html.TextBoxFor(m => m.State, new {@class="form-control", style = "display:inline;width:80px;" })@Html.TextBoxFor(m => m.PostalCode, new { @class= "form-control  ", style = "display:inline; width:80px;" })
        </div>
        <div class="col-xs-4 NopaddingLR">
            <lable>Comm Rate</lable>
            @Html.TextBoxFor(m => m.FeeCode, new { @class = "pull-right form-control margin-r", style = "width:150px" })
        </div>
        <div class="col-xs-3 NopaddingLR">
            <lable>SC Costs: </lable>
            @Html.TextBoxFor(m => m.TotCostExpAmt, new { @class = "pull-right form-control ", style = "width:150px" })
        </div>
    </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
        <div class="col-xs-5 NopaddingLR">
            <lable>Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</lable>
            @Html.TextBoxFor(m => m.PhoneNo,new {@class= "form-control ", style="display:inline;width:150px" })
            <lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ext</lable>
           @Html.TextBoxFor(m => m.PhoneNoExt, new { @class = "form-control pull-right ", style = "display:inline;width:150px;margin-right:20px" })
        </div>
        <div class="col-xs-4 NopaddingLR">
            <lable>Status</lable>
            @Html.TextBoxFor(m => m.CollectionStatus, new { @class = "pull-right form-control margin-r", style = "width:150px" })
        </div>
        <div class="col-xs-3 NopaddingLR">
            <lable>Reviewed Costs: </lable>
            @Html.TextBoxFor(m => m.TotCostRcvAmt, new { @class = "pull-right form-control ", style = "width:150px" })
        </div>
        </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
            <div class="col-xs-5 NopaddingLR">
                <lable>Cell&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</lable>
                @Html.TextBoxFor(m => m.CellPhone, new { @class = "form-control ", style = "display:inline;width:150px" })
                <lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax</lable>
                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control pull-right ", style = "display:inline;width:150px;margin-right:20px" })
            </div>
            <div class="col-xs-4 NopaddingLR text-left">
                <lable>Desk#</lable>
                @Html.TextBoxFor(m => m.Location, new { @class = "pull-right form-control margin-r", style = "width:150px" })
            </div>
            <div class="col-xs-3 NopaddingLR text-left">
                <lable>Interrests: </lable>
                @Html.TextBoxFor(m => m.TotIntAmt, new { @class = "pull-right form-control ", style = "width:150px" })
            </div>
        </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
            <div class="col-xs-5 NopaddingLR">
                <lable>Email</lable>
                @Html.TextBoxFor(m => m.Email, new { @class = "pull-right form-control ", style = "width:270px;margin-right:120px;" })
            </div>
            <div class="col-xs-4 NopaddingLR text-left">
                <lable>Age</lable>
                @Html.TextBoxFor(m => m.Age, new { @class = "pull-right form-control margin-r", style = "width:150px" })
            </div>
            <div class="col-xs-3 NopaddingLR text-left">
                <lable>Interrest Paid: </lable>
                @Html.TextBoxFor(m => m.TotIntRcvAmt, new { @class = "pull-right form-control ", style = "width:150px" })
            </div>
        </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
            <div class="col-xs-5 NopaddingLR">
                <lable>Tax Id</lable>
                @Html.TextBoxFor(m => m.TaxId, new { @class = "pull-right form-control ", style = "width:270px;margin-right:120px;" })
            </div>
            <div class="col-xs-4 NopaddingLR text-left ">
                <lable>Misc</lable>
                @Html.TextBoxFor(m => m.DebtAccountNote, new { @class = "pull-right margin-r form-control ", style = "width:150px" })
            </div>
            <div class="col-xs-3 NopaddingLR">
                <hr style="border-top: 1px solid #000000 !important;margin-bottom: 1px !important;">
            </div>
        </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
            <div class="col-xs-5 NopaddingLR">

            </div>
            <div class="col-xs-4 NopaddingLR">

            </div>
            <div class="col-xs-3 NopaddingLR text-left">
                <lable>Total Due :</lable>
                @Html.TextBoxFor(m => m.TotalDue, new { @class = "pull-right form-control ", style = "width:150px" })
            </div>
        </div>
    <div class="col-xs-12 NopaddingLR text-left form-group">
            <input type="button" id="btnNewPayment" value="New Payment" class="btn btn-primary" onclick="NewPayment()" />
            <input type="button" id="btnNewAdjustment" value="New Adjustment" class="btn btn-primary" onclick="NewAdjustment()" />
    </div>  
</div>
