﻿@model IEnumerable<CRFView.Adapters.Accounting.AccountingCollections.PaymentEntry.PaymentEntryVM.LedgerVM>
@{
    Layout = null;
}

<div>
    <div class="col-xs-12">
        <table id="tblLedgerList" class="table table-bordered dataTable table-hover grid " border="1">

            <thead>
                <tr>
                    <th>Pay Date</th>
                    <th>Remit Date</th>
                    <th>Type</th>
                    <th>TrxAmt</th>
                    <th>AsgAmt</th>
                    <th>AdjAmt</th>
                    <th>AsgRcv</th>
                    <th>collFreeRcv</th>
                    <th>IntRcv</th>
                    <th>CostRcv</th>
                    <th>AttyRcv</th>
                    <th>AttyOwed</th>
                    <th>CostRcvPIF</th>
                    <th>Overpayment</th>
                    <th>RebateAmt</th>
                    <th>Rate</th>
                    <th>ExchRate</th>
                    <th>PmtAmt</th>
                    <th>AgcFeeAmt</th>
                    <th>PrincDueAmt</th>
                    <th>AdvCC</th>
                    <th>Invoiced</th>
                    <th>SubType</th>
                    <th>PaySts</th>
                    <th>Desk</th>
                </tr>
            </thead>
            <tbody>
      @foreach (var i in Model)
      {
                    <tr>
                        <td>
                            @i.TrxDate
                        </td>
                        <td>
                            @i.RemitDate
                        </td>
                        <td>
                            @i.LedgerType
                        </td>
                        <td>
                            @i.TrxAmt
                        </td>
                        <td>
                            @i.AsgAmt
                        </td>
                        <td>
                            @i.AdjAmt
                        </td>
                        <td>
                            @i.AsgRcvAmt
                        </td>
                        <td>
                            @i.FeeRcvAmt
                        </td>
                        <td>
                            @i.IntRcvAmt
                        </td>
                        <td>
                            @i.CostRcvAmt
                        </td>
                        <td>
                            @i.AttyRcvAmt
                        </td>
                        <td>
                            @i.AttyOwedAmt
                        </td>
                        <td>
                            @i.CostRcvAmtOnPIF
                        </td>
                        <td>
                            @i.OvrPmtAmt
                        </td>
                        <td>
                            @i.RebateAmt
                        </td>
                        <td>
                            @i.Rate
                        </td>
                        <td>
                            @i.ExchangeRate
                        </td>
                        <td>
                            @i.PmtAmt
                        </td>
                        <td>
                            @i.FeeAmt
                        </td>
                        <td>
                            @i.PrincDueAmt
                        </td>
                        <td>
                            @i.IsAdvanceCC
                        </td>
                        <td>
                            @i.InvoicedDate
                        </td>
                        <td>
                            @i.SubLedgerType
                        </td>
                        <td>
                            @i.CollectionStatus
                        </td>
                        <td>
                            @i.DeskNum
                        </td>
                    </tr>
       }
            </tbody>
        </table>
    </div>
</div>