﻿<form id="SearchForm">
    <div id="OuterDiv" style="padding-bottom:20px;padding-left:0px!important;padding-right:0px!important">
        <div class="col-xs-12">
            <div class="col-xs-2 ">
                Enter Debtor #
            </div>
            <div class="col-xs-2">
                <input type="text" id="txtItemId" name="txtItemId" class="form-control">
            </div>
            <div class="col-xs-2">
                <button onclick="return Search();" class="btn btn-primary modal-link">
                    <i class="icon wb-search" aria-hidden="true"></i> Search
                </button>
            </div>
        </div>
    </div>
</form>


