﻿@{
    Layout = null;
}

<style>
    #tblCollectionInvoices_wrapper .row:first-child {
        overflow-x: auto;
    }

    #tblLedgerList_wrapper .row:first-child {
        overflow-x: auto;
    }

    .left-text {
        text-align: left;
    }

    .w-130 {
        width: 130px;
    }
</style>

<div>
    <h3 class="page-header"></h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/CRFViewAccounting/AccountingCollections/PaymentEntry/_SearchDiv.cshtml");}
        <br/>
        <br />
        <div id="PaymentEntryDetail">
        </div>
        <br/>
        <br/>
        <div id="list">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="NoteModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {

    }

    function Search()
    {
        debugger;
        var AccountId = parseInt(document.getElementById("txtItemId").value);
        if (isNaN(AccountId) == false)
        {
            $.ajax({
                url: '@Url.Action("CheckAccount", "PaymentEntry")',
                data: { AccountId: AccountId },
                type: "POST",
                success: function (data) {
                    if(data == true)
                    {
                        GetAccountDetail(AccountId);    
                    }
                    else
                    {
                        alert("No Such Record Exists.");
                    }
                    
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
                });
            }
            
        else
        {
                alert("Please Enter a Valid Number");
        }

        return false;
    }

    function GetAccountDetail(AccountId)
    {

        $.ajax({
            url: '@Url.Action("Search", "PaymentEntry")',
            data: { AccountId: AccountId },
            type: "POST",
            success: function (data) {
                $('#PaymentEntryDetail').html(data);
                GetLedger(AccountId);
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function GetLedger(AccountId)
    {
        debugger;

            $.ajax({
                url: '@Url.Action("GetLedger", "PaymentEntry")',
                data: { AccountId: AccountId },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblLedgerList');
                
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });      

        return false;
    }
</script>