﻿@model IEnumerable<CRFView.Adapters.ADCollectionRateItems>
@{
    
    Layout = null;
}


<div>
    <table id="tblCollectionRateItems" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Comm  Code </th>
                <th>Second Rate</th>
                <th>Skip Rate</th>
                <th>AsgBal Rate</th>
                <th>Age  Threshold</th>
                <th>Age  Rate</th>
                <th>AsgBal  Threshold</th>
                <th>Judgment Rate</th>
                <th>Initial Rate</th>
                <th>Comm  Type</th>
                <th>Balance From</th>
                <th>Balance  Thru</th>
                <th>Comm  Rate</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.CommCode</td>     
                    <td>@i.SecondRate%</td>
                    <td>@i.SkipRate%</td>    
                    <td>@i.AsgBalRate%</td>    
                    <td>$@i.AgeThreshold</td> 
                    <td>@i.AgeRate%</td> 
                    <td>@i.AsgBalThreshold</td>   
                    <td>@i.JudgmentRate%</td>  
                    <td>@i.IntlRate%</td>  
                    <td>@i.CommType</td>  
                    <td>$@i.BalFrom</td>  
                    <td>$@i.BalThru</td>  
                    <td>@i.CommRate%</td>    
                    <td>
                            <button onclick="ShowDetails(@i.CollectionRateItemId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
