﻿@model CRFView.Adapters.ADCollectionRateItems
@{
    Layout = null;
}

<style>
    .custom-width{
        width:90px;
    }
</style>

<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.CollectionRateItemId)
    @Html.HiddenFor(m => m.CommCode)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>CommCode:</lable>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.DropDownListFor(m => m.CollectionRateId,new SelectList(ViewBag.CollectionRateList, "Id","Name") ,new { @class = "form-control custom-width" })
           
            </div>           
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>Second Rate:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.SecondRate, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" })
                <div id="ErrorSecondRate" class="Invalid-feedback" style="display:none">
                    Please Enter SecondRate.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>Skip Rate:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.SkipRate, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" })
                <div id="ErrorSkipRate" class="Invalid-feedback" style="display:none">
                    Please Enter SkipRate.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>AsgBal Rate:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.AsgBalRate, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" } )
                <div id="ErrorAsgBalRate" class="Invalid-feedback" style="display:none">
                    Please Enter AsgBalRate.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>AgeThreshold:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.AgeThreshold, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" } )
                <div id="ErrorAgeThreshold" class="Invalid-feedback" style="display:none">
                    Please Enter AgeThreshold.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>AgeRate:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.AgeRate, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" } )
                <div id="ErrorAgeRate" class="Invalid-feedback" style="display:none">
                    Please Enter AgeRate.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>AsgBalThreshold:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.AsgBalThreshold, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" } )
                <div id="ErrorAsgBalThreshold" class="Invalid-feedback" style="display:none">
                    Please Enter AsgBalThreshold.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>JudgmentRate:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.JudgmentRate, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" })
                <div id="ErrorJudgmentRate" class="Invalid-feedback" style="display:none">
                    Please Enter JudgmentRate.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>IntlRate:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.IntlRate, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" })
                <div id="ErrorIntlRate" class="Invalid-feedback" style="display:none">
                    Please Enter IntlRate.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>CommType:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                @Html.TextBoxFor(m => m.CommType, new { @class = "form-control custom-width" } )
                <div id="ErrorCommType" class="Invalid-feedback" style="display:none">
                    Please Enter CommType .
                </div>
            </div>
            <div class="col-xs-4 NopaddingLR">
                <lable>A=Asg Bal, P= Pmt Amt</lable>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>BalFrom:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.BalFrom, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" })
                <div id="ErrorBalFrom" class="Invalid-feedback" style="display:none">
                    Please Enter BalFrom.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>BalThru:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.BalThru, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" } )
                <div id="ErrorBalThru" class="Invalid-feedback" style="display:none">
                    Please Enter BalThru.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-5 col-sm-5 col-xs-5 LableAlign">
                <lable>CommRate:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.CommRate, new { @class = "form-control custom-width", @onkeypress = "return isNumber(event)" })
                <div id="ErrorCommRate" class="Invalid-feedback" style="display:none">
                    Please Enter CommRate.
                </div>
            </div>
        </div>
        
    
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        debugger;
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            var Commacode = $('#CollectionRateId option:selected').text();
            $('#CommCode').val(Commacode);
            $.ajax({
                url: '@Url.Action("CollectionRateItemsSave", "CollectionRateItems")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblCollectionRateItems');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#SecondRate").val().length <= 0) {
            $("#ErrorSecondRate").show();
            return false;
        }
        else {
            $("#ErrorSecondRate").hide();
        }
        if ($("#SkipRate").val().length <= 0) {
            $("#ErrorSkipRate").show();
            return false;
        }
        else {
            $("#ErrorSkipRate").hide();
        }
        if ($("#AsgBalRate").val().length <= 0) {
            $("#ErrorAsgBalRate").show();
            return false;
        }
        else {
            $("#ErrorAsgBalRate").hide();
        }
        if ($("#AgeThreshold").val().length <= 0) {
            $("#ErrorAgeThreshold").show();
            return false;
        }
        else {
            $("#ErrorAgeThreshold").hide();
        }
        if ($("#AgeRate").val().length <= 0) {
            $("#ErrorAgeRate").show();
            return false;
        }
        else {
            $("#ErrorAgeRate").hide();
        }
        if ($("#AsgBalThreshold").val().length <= 0) {
            $("#ErrorAsgBalThreshold").show();
            return false;
        }
        else {
            $("#ErrorAsgBalThreshold").hide();
        }
        if ($("#JudgmentRate").val().length <= 0) {
            $("#ErrorJudgmentRate").show();
            return false;
        }
        else {
            $("#ErrorJudgmentRate").hide();
        }
        if ($("#IntlRate").val().length <= 0) {
            $("#ErrorIntlRate").show();
            return false;
        }
        else {
            $("#ErrorIntlRate").hide();
        }
        if ($("#CommType").val().length <= 0) {
            $("#ErrorCommType").show();
            return false;
        }
        else {
            $("#ErrorCommType").hide();
        }
        if ($("#BalFrom").val().length <= 0) {
            $("#ErrorBalFrom").show();
            return false;
        }
        else {
            $("#ErrorBalFrom").hide();

        }
        if ($("#BalThru").val().length <= 0) {
            $("#ErrorBalThru").show();
            return false;
        }
        else {
            $("#ErrorBalThru").hide();
        }
        if ($("#CommRate").val().length <= 0) {
            $("#ErrorCommRate").show();
            return false;
        }
        else {
            $("#ErrorCommRate").hide();
        }
       
        return true;
    }
</script>



