﻿@model IEnumerable<CRFView.Adapters.ADActions>
@{
    
    Layout = null;
}


<div>
    <table id="tblActions" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th style="min-width: 300px;">Action Description</th>
                <th>Action Code </th>
                <th>System </th>
                <th>Collection</th>
                <th>Forwarding</th>
                <th>Small Claims</th>
                <th>New Desk</th>
                <th>New/To Desk</th>
                <th>New Status</th>
                <th>Next Call</th>
                <th>Priority</th>
                <th>Drop Review</th>
                <th>Account Change</th>
                <th>RevDate Change</th>
                <th>Desk Change</th>
                <th>Auto Notate</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.Description</td>     
                    <td>@i.ActionCode</td>
                    <td>@i.IsSystem</td>    
                    <td>@i.IsCollection</td>    
                    <td>@i.IsForwarding</td> 
                    <td>@i.IsSmallClaims</td> 
                    <td>@i.Location</td>   
                   <td>@i.NewToDesk</td>  
                    <td>@i.CollectionStatus</td>  
                    <td>@i.NextCall</td>  
                    <td>@i.PriorityCode</td>  
                    <td>@i.IsDropReviewDate</td>  
                    <td>@i.AccountChangeBox</td>    
                    <td>@i.RevDateChangeBox</td>    
                    <td>@i.DeskChangeBox</td>    
                    <td>@i.IsAutoNotate</td>      
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
