﻿@model CRFView.Adapters.ADActions
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:left">
                <lable class="Label-FontSize">Action Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                <div id="ErrorDescription" class="Invalid-feedback" style="display:none">
                    Please Enter Action Description.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:left">
                <lable class="Label-FontSize">Action Code:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.ActionCode, new { @class = "form-control"  , @style = "text-transform:uppercase" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">

            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize" style="text-align:left">Action Type:</lable>
            <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left: 0px;">
                    <div class="col-md-6 col-sm-6 col-xs-6 radio-sm" style="text-align:left">
                        @Html.RadioButtonFor(m => m.ActionType, "1")<label> Collection</label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0px;">
                        @Html.DropDownListFor(m => m.CategoryType, new SelectList(ViewBag.CategoryTypeList, "Code", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                    </div>

                <div class="col-md-12 col-sm-12 col-xs-12 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.ActionType, "2")<label> Forwarding</label>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.ActionType, "3")<label> SmallClaims</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.ActionType, "4")<label> System Generated</label>
                </div>

            </div>

        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsChangeDesk)<lable class="Checkbox-lable">New Desk</lable>
            </div>
           
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.DropDownListFor(m => m.NewDeskId, new SelectList(ViewBag.NewDeskList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
       
            <div class="col-md-3 col-sm-3 col-xs-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsChangeToDesk)<lable class="Checkbox-lable">New To Desk</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.DropDownListFor(m => m.NewToDeskId, new SelectList(ViewBag.NewToDeskList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          
            <div class="col-md-3 col-sm-3 col-xs-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsChangeStatus)<lable class="Checkbox-lable">New Status</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.DropDownListFor(m => m.NewStatusId, new SelectList(ViewBag.StatusList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsChangePriority)<lable class="Checkbox-lable">New Priority</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.DropDownListFor(m => m.NewPriorityId, new SelectList(ViewBag.PriorityList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>

        
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:left">
                <lable class="Label-FontSize">Next Call (Days):</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.NextCall, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left: 0px;">
                <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.IsDropReviewDate)<lable class="Checkbox-lable">Drop Review Schedule</lable>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.IsDropLetterSeries)<lable class="Checkbox-lable">Drop Letter Series</lable>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.AccountChangeBox)<lable class="Checkbox-lable">Account Change</lable>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.RevDateChangeBox)<lable class="Checkbox-lable">Review Date Change</lable>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.DeskChangeBox)<lable class="Checkbox-lable">Desk Change</lable>
                </div>
                </div>

            </div>
        
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
           
            <div class="col-md-3 col-sm-3 col-xs-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsAutoNotate)<lable class="Checkbox-lable">Auto Notate</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" style="text-align:left">
                @Html.TextAreaFor(m => m.HistoryNote,new { @cols ="50",@rows="4", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("ActionSave", "Actions")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblActions');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#Description").val().length <= 0) {
            $("#ErrorDescription").show();
            return false;
        }
        else {
            $("#ErrorDescription").hide();
        }
       

        return true;
    }

    $('#IsChangeDesk').change(function () {
        if (this.checked)
            $('#NewDeskId').show();
        else
            $('#NewDeskId').hide();

    });
    $('#IsChangeToDesk').change(function () {
        if (this.checked)
            $('#NewToDeskId').show();
        else
            $('#NewToDeskId').hide();

    });
    $('#IsChangeStatus').change(function () {
        if (this.checked)
            $('#NewStatusId').show();
        else
            $('#NewStatusId').hide();

    });
    $('#IsChangePriority').change(function () {
        if (this.checked)
            $('#NewPriorityId').show();
        else
            $('#NewPriorityId').hide();

    });
    $('#IsAutoNotate').change(function () {
        if (this.checked)
            $('#HistoryNote').show();
        else
            $('#HistoryNote').hide();

    });
    $("input[name='ActionType']").click(function () {
        var SelectedValue = $(this).val();
        if (SelectedValue == "1") {
            $("#CategoryType").show();
        }
        else {
            $("#CategoryType").hide();
        }
    });

    function DisableFields() {
        debugger;
        if ($("#IsChangeDesk").prop('checked')) {
            $("#NewDeskId").show();
        }
        else {
            $("#NewDeskId").hide();
        }
        if ($("#IsChangeToDesk").prop('checked')) {
            $("#NewToDeskId").show();
        }
        else {
            $("#NewToDeskId").hide();
        }
        if ($("#IsChangeStatus").prop('checked')) {
            $("#NewStatusId").show();
        }
        else {
            $("#NewStatusId").hide();
        }
        if ($("#IsAutoNotate").prop('checked')) {
            $("#HistoryNote").show();
        }
        else {
            $("#HistoryNote").hide();
        }
        if ($("#IsChangePriority").prop('checked')) {
            $("#NewPriorityId").show();
        }
        else {
            $("#NewPriorityId").hide();
        }
        var SelectedValue = $("input[name='ActionType']:checked").val();
        if (SelectedValue == "1") {
            $("#CategoryType").show();
        }
        else {
            $("#CategoryType").hide();
        }

    }
</script>



