﻿@model IEnumerable<CRFView.Adapters.ADActions>
    @{
   
    }


    <div>   
        <h3 class="page-header">Actions</h3>
        <hr/>
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Collections/Actions/_ActionsList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-width">

            <!-- Modal content-->
            <div class="modal-content modal-width">

            </div>

        </div>
    </div>

<style>
     #tblActions_wrapper .row:first-child{
        overflow-x: auto;
    }
</style>
    <script type="text/javascript">

        function OnPartialLoad() {
         
        }

        function AddDetails() {
            $.ajax({
                url: '@Url.Action("ActionAdd", "Actions")',
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    DisableFields();
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("ActionDetails", "Actions")',
                data: {
                    id: id
                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    DisableFields();
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            debugger;
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {
            $.ajax({
                url: '@Url.Action("Search", "Actions")',
                data: {
                    value: searchVal,
                    Key: SearchKey
                },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblActions');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }

            });
            }
            return false;
        }

        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "Actions")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblActions');
                    makeDatatable('tblActions');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


