﻿@model IEnumerable<CRFView.Adapters.ADMailDelivered>
@{
    
    Layout = null;
}


<div>
    <table id="tblMailDelivered" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                
                <th>Id</th>
                <th>Description</th>
                <th>Legal Party Type</th>
                <th>Result</th>
                <th>Action Description</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Description</td>             
                    <td>@i.LegalPartyType</td>
                    <td>@i.ResultDescription</td>
                    <td>@i.ActionDescription</td>
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
