﻿@model CRFView.Adapters.Collections.DayEnd.ExperianCom.ViewModels.ExperianComVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormExperianCom">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Commercial Credit Report Extract
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">
            <b>
                <lable style="font-weight: 1000; font-size: large;">
                    @Html.Raw(@ViewBag.lblMessage.Replace(Environment.NewLine, "<br/>"))
                </lable>
            </b>
        </div>

    </div>


    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnExperianComOK" value="OK" class="btn btn-primary" onclick="OKExperianCom()" />
            <input type="button" value="Cancel" id="btnExperianComCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    //button OKExperianCom
    function OKExperianCom() {
        debugger;
        showLoadingImage();
        var data = $('#FormExperianCom').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("ExtractCommercialCreditReportFile", "ExperianCom")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data != "error") {
                    window.open(data);
                    CreateExtractCommercialCreditReportSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');
                    hideLoadingImage();
                }
                return false;

            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CreateExtractCommercialCreditReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Extracted!",
            text: "Commercial Credit Report Extracted Successfully",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }



</script>





