﻿@model CRFView.Adapters.Liens.Managements.ChangeJobInfo.ViewModels.ChangeJobInfoVM
@{
    Layout = null;
}

<style>

    .rt{
        text-align:right;
    }

   


</style>

<form id="FormChangeJobInfo">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            Change Job Info
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>
    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-1" style="margin-left: 60px;">
                <lable>Job Id</lable>
            </div>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.JobId, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-2">
                <input type="button" id="btnFindJobInfo" value="Find" class="btn btn-primary" onclick="FindChangeJobInfo()" />

            </div>
            <br /><br />&nbsp;
        </div>

        <div id="divDetails" style="@(string.IsNullOrEmpty(Model.JobId)   ? "display:none" : "display:block")">
            <div class="form-group col-xs-12 lt NopaddingLR">
                <div class="col-xs-12 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>JobInfo</legend>



                        <div class="col-xs-8 NopaddingLR">

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>Job Id</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.JobId, new { @class = "form-control", style = "display:inline; width:110px;", @readonly = true })
                                </div>
                                <div class="col-xs-4 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.objvwJobsList.NCInfo, new { style = "display:inline;", @disabled = "disabled" })
                                    <lable>NCInfo</lable>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>Client #</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.ClientCode, new { @class = "form-control", style = "display:inline; width:110px;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                   @Html.TextBoxFor(m => m.objvwJobsList.ClientName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Asg Date</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.DateAssigned, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>Job #</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.objvwJobsList.JobNum, new { @class = "form-control", style = "display:inline; width:242px;", @readonly = true })
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.EstBalance, new { Value = String.Format("{0:C}", Model.objvwJobsList.EstBalance), @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Desk</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.DeskNum, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>Job Name</lable>
                                </div>
                                <div class="col-xs-6">
                                    @Html.TextBoxFor(m => m.objvwJobsList.JobName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Status</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.StatusCode, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>Address</lable>
                                </div>
                                <div class="col-xs-6">
                                    @Html.TextBoxFor(m => m.objvwJobsList.JobAdd1, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Start Date</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    &nbsp;
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.objvwJobsList.JobCity, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-1">
                                    @Html.TextBoxFor(m => m.objvwJobsList.JobState, new { @class = "form-control", style = "display:inline; width: 72px; margin-left: -20px;", @readonly = true })
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.JobZip, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Verified Date</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.objvwJobsList.VerifiedDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                        </div>


                        <div class="col-xs-4 NopaddingLR">

                            <div class="form-group col-xs-12 lt">
                                &nbsp;
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>Cust</lable>
                                </div>
                                <div class="col-xs-10">
                                    @Html.TextBoxFor(m => m.objvwJobsList.CustName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>GC</lable>
                                </div>
                                <div class="col-xs-10">
                                    @Html.TextBoxFor(m => m.objvwJobsList.GCName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>Owner</lable>
                                </div>
                                <div class="col-xs-10">
                                    @Html.TextBoxFor(m => m.objvwJobsList.OwnerName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    <lable>Lender</lable>
                                </div>
                                <div class="col-xs-10">
                                    @Html.TextBoxFor(m => m.objvwJobsList.LenderName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    &nbsp;
                                </div>
                                <div class="col-xs-4 checkbox-sm">
                                        @Html.CheckBoxFor(m => m.objvwJobsList.JointCk, new { style = "display:inline;", @disabled = "disabled" })
                                        <lable>JointCk</lable>
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Branch</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.objvwJobsList.BranchNumber, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-2 rt">
                                    &nbsp;
                                </div>
                                <div class="col-xs-4 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.objvwJobsList.GreenCard, new { style = "display:inline;", @disabled = "disabled" })
                                    <lable>Greencard</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.objvwJobsList.IsJobView, new { style = "display:inline;", @disabled = "disabled" })
                                    <lable style="color:cadetblue">RentalView Job</lable>
                                </div>
                            </div>

                        </div>



                    </fieldset>
                </div>

                <div class="col-xs-12">&nbsp;</div>

                <div class="col-xs-12 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend></legend>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkStartDate, new { style = "display:inline;" })
                               &nbsp;
                                <lable>Start Date To:</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -175px;">
                                @Html.TextBoxFor(m => m.DateTimePicker1, new { @class = "form-control", style = "display:inline; width:100px;" })
                            </div>
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            @*<div class="col-xs-3 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkIsJobview, new { style = "display:inline;" })
                                &nbsp;
                                <lable style="color:cadetblue">RentalView Job</lable>
                            </div>*@
                            <div class="col-xs-4">
                                <input type="button" id="btnUpdateClientCodeJob" value="Update" class="btn btn-primary pull-right" onclick="UpdateChangeJobInfo()" />
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkJointCk, new { style = "display:inline;" })
                                &nbsp;
                                <lable>JointCk</lable>
                            </div>

                            <div class="col-xs-3 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkDeleteTODesk, new { style = "display:inline;" })
                                &nbsp;
                                <lable style="color:cadetblue">Delete TODesk</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkGreencard, new { style = "display:inline;" })
                                &nbsp;
                                <lable>Greencard</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkBranchNum, new { style = "display:inline;" })
                                &nbsp;
                                <lable>Branch Num To:</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -175px;">
                                @Html.TextBoxFor(m => m.txtBranchNum, new { @class = "form-control", style = "display:inline; width:100px;"})
                            </div>
                       </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkDeleteVerifiedDate, new { style = "display:inline;" })
                                &nbsp;
                                <lable>Delete Verified Date</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                &nbsp;
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkDeleteNoticeHistory, new { style = "display:inline;" })
                                &nbsp;
                                <lable>Delete Notice History</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -175px;">
                                @Html.TextBoxFor(m => m.DateTimePicker2, new { @class = "form-control", style = "display:inline; width:100px;" })
                            </div>
                        </div>

                 </fieldset>
              </div>


            </div>


        </div>

    </div>



    <div id="hiddenFields">
        @Html.HiddenFor(m => m.JobId) 
        @Html.HiddenFor(m => m.Message)
    </div>

    <div class="modal-footer" tabindex="-1">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

    </div>
</form>


<script>

    function FindChangeJobInfo() {
        debugger;

        var JobId = $("#JobId").val();
        var divDetails = document.getElementById("divDetails");

        if (JobId > 0) {
            $.ajax({
                url: '@Url.Action("GetChangeJobInfoByJobId", "ChangeJobInfo")',
                data: { JobId: JobId },
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data) {

                        $('#myModal .modal-content').html(data);
                        var message = $("#Message").val();
                        if (message == "Success") {

                            $('#DateTimePicker1').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                            $('#DateTimePicker2').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());

                            //To set Current Date
                            //var date = new Date();
                            //var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                            //$('#NewAssignDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                            //$('#NewLastChgDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                            //$('#NewLastPayDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

                            EditChangeJobInfoCheckMinDate();
                            divDetails.style.display = "block";
                        }
                        else {
                            $("#myModal").modal("hide");
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();

                            alert('Requested JOb is not found.');
                            divDetails.style.display = "none";
                        }

                    }
                    else {
                        $("#myModal").modal("hide");
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            });
        }
        else {
            divDetails.style.display = "none";
            alert('Please Enter Valid JobId.');
        }

    }


    //button UpdateChangeJobInfo
    function UpdateChangeJobInfo() {
        debugger;
        showLoadingImage();

        var JobId = $("#JobId").val();

        var data = $('#FormChangeJobInfo').serialize();

        $.ajax({
            url: '@Url.Action("UpdateChangeJobInfo", "ChangeJobInfo")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {

                    UpdateChangeJobInfoSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }


    function EditChangeJobInfoCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objvwJobsList_DateAssigned",
                                                "objvwJobsList_StartDate",
                                               "objvwJobsList_VerifiedDate"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    //$("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }

    function UpdateChangeJobInfoSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Change Job Info Updated Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>
