﻿@model IEnumerable<CRFView.Adapters.ADDesk>
@{
    
    Layout = null;
}


<div>
    <table id="tblDesk" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Location </th>
                <th>Description</th>
                <th>InActive</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.Location</td>     
                    <td>@i.LocationDescr </td>  
                    <td>@i.IsInactive </td>  
                    <td>
                            <button onclick="ShowDetails(@i.LocationId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
