﻿@model CRFView.Adapters.ADClientTypes
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.ClientTypeId)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>ClientType Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.ClientTypeName, new { @class = "form-control" })
                <div id="ErrorClientTypeName" class="Invalid-feedback" style="display:none">
                    Please Enter ClientType Name.
                </div>
            </div>
        </div>
        <div class="hiddenContent">
            @Html.HiddenFor(m => m.ClientTypeCode)
        </div>
        @*<div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>ClientType Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.ClientTypeCode, new { @class = "form-control" , @maxlength = "5" , @style = "text-transform:uppercase" })
                <div id="ErrorClientTypeCode" class="Invalid-feedback" style="display:none">
                    Please Enter ClientType Code.
                </div>
            </div>
        </div>*@
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
            <input type="button" value="test" class="btn btn-primary" onclick="test()">
        </div>
    </div>

</form>

<script>
    function test()
    {
        var myArray = ["Sam", "Mark", "Tim", "Sam"];

        var uniqueItems = myArray.filter(function (v, i, a) { return a.indexOf(v) == i });

        alert(uniqueItems);
        alert(myArray.indexOf("Sam"))
    }

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("ClientTypeSave", "ClientTypes")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientTypes');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#ClientTypeName").val().length <= 0) {
            $("#ErrorClientTypeName").show();
            return false;
        }
        else {
            $("#ErrorClientTypeName").hide();
        }
        //if ($("#ClientTypeCode").val().length <= 0) {
        //    $("#ErrorClientTypeCode").show();
        //    return false;
        //}
        //else {
        //    $("#ErrorClientTypeCode").hide();
        //}
        return true;
    }
</script>



