﻿@model CRFView.Adapters.ADClientReportsDefinations
@{
    Layout = null;
}

<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.PKID)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Report Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.taskname, new { @class = "form-control" })
                <div id="ErrorReportCode" class="Invalid-feedback" style="display:none">
                    Please Enter Report Code.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Next Run Date:</lable>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.nextrundate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })

            </div>


            <div class="col-md-3 col-sm-3 col-xs-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.isdisabled)<lable class="Checkbox-lable">IsDisabled</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Date Interval:</lable>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                    @Html.RadioButtonFor(m => m.frequency, "1")
                    <label for="Hourly">Hourly</label>
                </div>
                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                    @Html.RadioButtonFor(m => m.frequency, "3")
                    <label for="Weekly">Weekly</label>
                </div>
                <div class="col-md-5  col-sm-5 col-xs-5" style="margin-top:10px;padding-left:0px;padding-right:0px;">
                    <lable class="col-md-5 col-sm-5 col-xs-5">Increment</lable>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        @Html.TextBoxFor(m => m.number, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4"></lable>
            <div class="col-md-8 col-sm-8 col-xs-8">

                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                    @Html.RadioButtonFor(m => m.frequency, "2")
                    <label for="Daily">Daily</label>
                </div>
                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                    @Html.RadioButtonFor(m => m.frequency, "4")
                    <label for="Monthly">Monthly</label>
                </div>
                <div class="col-md-5  col-sm-5 col-xs-5" style="margin-top:10px;padding-left:0px;padding-right:0px;">
                    <lable class="col-md-5 col-sm-5 col-xs-5">FromHour</lable>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        @Html.TextBoxFor(m => m.runfromhour, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4"></lable>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="col-md-3 col-sm-3 col-xs-3"> </div>
                <div class="col-md-3 col-sm-3 col-xs-3"></div>           
                <div class="col-md-5 col-sm-5 col-xs-5" style="margin-top:10px;padding-left:0px;padding-right:0px;">
                    <lable class="col-md-5 col-sm-5 col-xs-5">ToHour</lable>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        @Html.TextBoxFor(m => m.runuptohour, new { @class = "form-control" })
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Assembly Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.assemblyfile, new { @class = "form-control" })
                <div id="ErrorAssemblyName" class="Invalid-feedback" style="display:none">
                    Please Enter Assembly Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Assembly Type:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.type, new { @class = "form-control" })
                <div id="ErrorAssemblyType" class="Invalid-feedback" style="display:none">
                    Please Enter Assembly Type.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Report Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                <div id="ErrorReportName" class="Invalid-feedback" style="display:none">
                    Please Enter Report Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Special Note:</lable>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextAreaFor(m => m.description, new { @class = "form-control" , @rows="8" })

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        debugger;
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("ClientReportsDefinationsSave", "ClientReportsDefinations")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientReportsDefinations');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    function Validate() {

        taskname
        if ($("#taskname").val().length <= 0) {
            $("#ErrorReportCode").show();
            return false;
        }
        else {
            $("#ErrorReportCode").hide();
        }
        if ($("#assemblyfile").val().length <= 0) {
            $("#ErrorAssemblyName").show();
            return false;
        }
        else {
            $("#ErrorAssemblyName").hide();
        }
        if ($("#type").val().length <= 0) {
            $("#ErrorAssemblyType").show();
            return false;
        }
        else {
            $("#ErrorAssemblyType").hide();
        }
        if ($("#title").val().length <= 0) {
            $("#ErrorReportName").show();
            return false;
        }
        else {
            $("#ErrorReportName").hide();
        }



        return true;
    }
</script>



