﻿@model CRFView.Adapters.Accounting.AccountingCollections.AuditList.AuditListVM.AuditOptionsVM
@{
    Layout = null;
}
<style>
    .left-pad{
        padding-left:10px;
    }
</style>

<form id="FormLAuditList">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Audit List</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">
               <fieldset class="customFieldset">             
                       <legend>Client Filter</legend>
                   <div class="col-xs-8 Text-Left ">

                       @*<div class="left-pad">*@
                           @Html.RadioButtonFor(m => m.AllOrIndvdClient, "AllClients", new { @checked = true, style = "left-pad" })
                           <lable>All Clients</lable>
                           &nbsp;
                           &nbsp;
                           @Html.RadioButtonFor(m => m.AllOrIndvdClient, "ByClients")
                           <lable>By Clients</lable>
                       @*</div>*@
                       </div>
                   <br />
                       <div class="left-pad">
                           @Html.DropDownListFor(m => m.ClientId, Model.ServiceCodes, new { @class = "form-control", style = "display:none; width:400px;" })
                       </div>

                   <br />
                   <br />
                   <br />
                   <div class="col-xs-8">
                       <div class="col-xs-4 NopaddingLR left-pad">
                           @Html.CheckBoxFor(m => m.ChkInvoiceCycle)
                           <lable>Invoice Cycle</lable>
                       </div>
                       <div class="col-xs-4 NopaddingLR">
                           @Html.DropDownListFor(m => m.InvoiceCycle, Model.InvoiceCycleList, new { @class = "form-control", style = "display:none; width:195px;" })
                       </div>
                   </div>
                        
</fieldset>
            </div>
            <div class="col-xs-4 Text-Left ">
                <fieldset class="customFieldset">
                    <legend>Print Options</legend>
                    <div class="left-pad">
                        @Html.RadioButtonFor(m => m.PrintOptions,"SendToPrinter")
                        <lable>Send To Printer</lable>
                    </div>
                    <div class="left-pad">
                        @Html.RadioButtonFor(m => m.PrintOptions, "SendToPDF", new { @checked = true })
                        <lable>Send To PDF</lable>
                    </div>
                    <div class="left-pad">
                        @Html.RadioButtonFor(m => m.PrintOptions, "NoReport")
                        <lable>No Report</lable>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            &nbsp;
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-8 Text-Left">
                <fieldset class="customFieldset">
                    <legend>Date Filter</legend>
                    <div class="left-pad" >
                        <div class="col-xs-12 NopaddingLR left-pad">
                            <div class="col-xs-4 NopaddingLR">
                                @Html.CheckBoxFor(m => m.ChkRemitDate)
                                <lable>Remit Date</lable>
                            </div>
                            @Html.TextBoxFor(m => m.RemitFromDate, "{0:MM/dd/yyyy}", new { style = "width:150px;" })
                            <lable>To</lable>
                            @Html.TextBoxFor(m => m.RemitThruDate, "{0:MM/dd/yyyy}", new { style = "width:150px;" })
                        </div>
                    </div>
                    <div class="left-pad">
                        <div class="col-xs-12 NopaddingLR left-pad" style="padding-top:10px">
                            <div class="col-xs-4 NopaddingLR">
                                @Html.CheckBoxFor(m => m.ChkTrxDate)
                                <lable>Trx Date</lable>
                             </div>
                                @Html.TextBoxFor(m => m.TrxFromDate, "{0:MM/dd/yyyy}", new { style = "width:150px;" })
                                <lable>To</lable>
                                @Html.TextBoxFor(m => m.TrxThruDate, "{0:MM/dd/yyyy}", new { style = "width:150px;" })
                            </div>
                    </div>
                </fieldset>
                <br/>
                <fieldset class="customFieldset" >
                    <legend>State Filter</legend>
                    <div class="left-pad">
                        @Html.CheckBoxFor(m => m.ChkDebtorState)
                        <lable>Debtor State </lable>
                        @Html.DropDownListFor(m => m.DebtorState, Model.States, new { @class = "form-control", style = "display:none; width:400px;" })
                    </div>
                </fieldset>
             </div>
            <div class="col-xs-4 Text-Left">
                <fieldset class="customFieldset">
                    <legend>Report Type</legend>
                    <div class="left-pad">
                        @Html.RadioButtonFor(m => m.ReportType, "AllUnbilled", new { @checked = true })
                        <lable>AllUnbilled</lable>
                        <br/>
                        @Html.RadioButtonFor(m => m.ReportType, "BillingReport")
                        <lable>Billing Report</lable>
                        <br/>
                        @Html.RadioButtonFor(m => m.ReportType, "CombineDeductInternal")
                        <lable>Combine Deduct Internal</lable>
                        <br/>
                        @Html.RadioButtonFor(m => m.ReportType, "GrossRemit")
                        <lable>Gross Remit</lable>
                        <br/>
                        @Html.RadioButtonFor(m => m.ReportType, "NSF")
                        <lable>NSF</lable>
                        <br/>
                        @Html.RadioButtonFor(m => m.ReportType, "Remit Report")
                        <lable>Remit Report</lable>
                        <br/>
                        @Html.RadioButtonFor(m => m.ReportType, "TrustJournal")
                        <lable>Trust Journal</lable>
                        <br/>
                        @Html.RadioButtonFor(m => m.ReportType, "TrustLiability")
                        <lable>Trust Liability</lable>
                        <br/>
                        @Html.RadioButtonFor(m => m.ReportType, "TrustLiabilityGross")
                        <lable>Trust Liability Gross</lable>
                        <br/>
                    </div>
                </fieldset>
            </div>
        </div>    
        <div class="col-xs-12 form-group">
            <div class="col-xs-8 Text-Left">
    
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnAuditListClear" value="Clear" class="btn btn-primary pull-left" style="margin-left: 14px;" onclick="Clear();" />
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="OK()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModal()" />
        </div>
    </div>
</form>

<script>

    function CloseModal() {
        $('#myModal').modal("hide");
    }
    $('#ChkInvoiceCycle').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#InvoiceCycle').show();
        }
        else {
            $('#InvoiceCycle').hide();
        }
    });

    $('#ChkDebtorState').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#DebtorState').show();
        }
        else {
            $('#DebtorState').hide();
        }
    });
    $("input[name='AllOrIndvdClient']").click(function () {
        debugger;
        var radioValue = $("input[name='AllOrIndvdClient']:checked").val();
        if (radioValue == "AllClients") {
            $("#ClientId").hide();
        }
        if (radioValue == "ByClients") {
            $("#ClientId").show();
        }
    });

    function OK() {
            showLoadingImage();
            var ReportType = $("input[name='ReportType']:checked").val();
            var data = $('#FormLAuditList').serialize();
            $("#myModal").modal("hide");
            $.ajax({
                url: '@Url.Action("ProcessAuditList", "AuditList")',
                data: $('#FormLAuditList').serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    if (ReportType == "Send To Printer") {
                        PrintAuditListSuccessPopup();
                        hideLoadingImage();
                        return false;
                    }

                    //if (data = "CSVFilesuccess") {
                    //    CreateAuditListSuccessPopup();
                    //    hideLoadingImage();
                    //}


                   if (data != "error" && data != "success") {
                        window.open(data);
                        CreateAuditListSuccessPopup();
                        hideLoadingImage();
                    }
                    else {
                        alert('Report Not Found !!');

                        hideLoadingImage();
                    }
                    return false;
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModal").modal("hide");
                    hideLoadingImage();
                }
            });
    }

    function PrintAuditListSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Audit List Printed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function CreateAuditListSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Audit List Processed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#RemitFromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#RemitThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#TrxFromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#TrxThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
       
    }
</script>