﻿@model CRFView.Adapters.ADJobViewDeskState
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
         <h3 class="Details-Heading">Details
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                 <span aria-hidden="true">×</span>
             </button></h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.JobState)
    @Html.HiddenFor(m => m.JobViewDeskNum)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Desk Number:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.JobViewDeskId, new SelectList(ViewBag.DeskList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                <div id="ErrorJobViewDeskId" class="Invalid-feedback" style="display:none">
                    Please Select Desk Number.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Job State:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.JobStateId, new SelectList(ViewBag.JobStateList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                <div id="ErrorJobStateId" class="Invalid-feedback" style="display:none">
                    Please Select Job State.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            debugger;
            showLoadingImage();
            $('#JobState').val($('#JobStateId option:selected').text());
            $('#JobViewDeskNum').val($('#JobViewDeskId option:selected').text());

            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("JobViewDeskStateSave", "JobViewDeskState")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "JobViewDeskState")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblJobViewDeskState');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($('#JobViewDeskId').val() == "") {
            $("#ErrorJobViewDeskId").show();
            return false;
        }
        else {
            $("#ErrorJobViewDeskId").hide();
        }
        if ($('#JobStateId').val() == "") {
            $("#ErrorJobStateId").show();
            return false;
        }
        else {
            $("#ErrorJobStateId").hide();
        }

        return true;
    }
</script>



