﻿


@model CRFView.Adapters.Clients.ClientManagementViewModels.EmailBlastsVM
@{
    Layout = null;
}




<form id="FormEmailBlasts">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>Email Blasts List</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group ">

            <fieldset>
                <div class="col-xs-12 form-group ">

                    <div>
                        <table id="tblEmailBlast" class="table table-bordered dataTable table-hover grid " border="1" style="width:1000px !important;">

                            <thead>
                                <tr>
                                    <th class="no-sort" style="width: 13px;">BatchClientEmailBlastId</th>
                                    <th style="width: 30px;">BatchId</th>
                                    <th style="width: 250px;">ClientId</th>
                                    <th style="width: 250px;">ClientCode</th>
                                    <th style="width: 250px;">Type</th>
                                    <th style="width: 250px;">ContactName</th>
                                    <th style="width: 150px;">ContactTitle</th>
                                    <th style="width: 100px;">PhoneNo</th>
                                    <th style="width: 100px;">Email</th>
                                    <th style="width: 100px;">DateSent</th>
                                    <th style="width: 100px;">Status</th>
                                    <th style="width: 150px;">Skip</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var i in Model.EmailBlastsList)
                                {
                                    <tr>
                                        <td>
                                            @i.BatchClientEmailBlastId
                                        </td>
                                        <td>
                                            @i.BatchId
                                        </td>
                                        <td>
                                            @i.ClientId
                                        </td>
                                        <td>
                                            @i.ClientCode
                                        </td>
                                        <td>
                                            @i.Type
                                        </td>
                                        <td>
                                            @i.ContactName
                                        </td>
                                        <td>
                                            @i.ContactTitle
                                        </td>
                                        <td>
                                            @i.PhoneNo
                                        </td>
                                        <td>
                                            @i.Email
                                        </td>
                                        <td>
                                            @i.Status
                                        </td>
                                        <td>
                                            @i.Skip
                                        </td>
                                        @if (i.DateSent == DateTime.MinValue)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>@i.DateSent.ToShortDateString()</td>
                                        }
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>

                </div>
            </fieldset>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>



</form>


<script>


</script>






