﻿


@model CRFView.Adapters.Clients.ClientManagementViewModels.EmailBlastsVM
@{
    Layout = null;
}




<form id="FormEmailBlasts">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>Email Blasts</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="nav-tabs-horizontal" data-plugin="tabs">

            <ul class="nav nav-tabs" role="tablist">
                <li id="Message" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMessage" aria-controls="TabMessage" role="tab" aria-selected="false">Message</a></li>
                <li id="Attachments" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAttachments" aria-controls="TabAttachments" role="tab" aria-selected="false">Attachments</a></li>
                <li id="Recipients" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabRecipients" aria-controls="TabRecipients" role="tab" aria-selected="false">Recipients</a></li>
            </ul>
        </div>

        <fieldset>

            <div class="tab-content">

                <div class="tab-pane active" id="TabMessage" role="tabpanel">
                    <br />
                    <div>
                        <fieldset class="customFieldset">
                            <legend></legend>

                            <div class="col-xs-12 form-group">

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-3 rt">
                                        <lable>From Name</lable>
                                    </div>
                                    <div class="col-xs-5 ">
                                        @Html.TextBoxFor(m => m.FromName, new { @class = "form-control", style = "display:inline;" })
                                    </div>
                                    <div class="col-xs-1">&nbsp;</div>
                                    <div class="col-xs-3 checkbox-sm">
                                        @Html.CheckBoxFor(m => m.chkOutLook, "OutLook")&nbsp;
                                        <lable>Use OutLook</lable>
                                    </div>

                                </div>

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-3 rt">
                                        <lable>From Email Address</lable>
                                    </div>
                                    <div class="col-xs-5 ">
                                        @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", style = "display:inline;" })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-3 rt">
                                        <lable>Email AccountUser Id</lable>
                                    </div>
                                    <div class="col-xs-5 ">
                                        @Html.TextBoxFor(m => m.SMTPUserId, new { @class = "form-control", style = "display:inline;" })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-3 rt">
                                        <lable>Email Account Pwd</lable>
                                    </div>
                                    <div class="col-xs-5 ">
                                        @Html.TextBoxFor(m => m.SMTPPassword, new { @class = "form-control", style = "display:inline;" })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group">&nbsp;</div>

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-3 rt">
                                        <lable>Subject</lable>
                                    </div>
                                    <div class="col-xs-9 ">
                                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", style = "display:inline;" })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-8 ">
                                        @Html.TextAreaFor(m => m.Body, new { rows = "7", cols = "94" })

                                    </div>
                                </div>

                            </div>

                        </fieldset>

                    </div>
                </div>

                <div class="tab-pane" id="TabAttachments" role="tabpanel">
                    <br />
                    <div>
                        <fieldset class="customFieldset">
                            <legend></legend>

                            <div class="col-xs-12 form-group">

                                <div class="col-xs-12 form-group">

                                    <div class="col-xs-12 form-group">
                                        <div class="col-xs-8 ">
                                            @Html.TextAreaFor(m => m.DocumentsListBox1, new { rows = "12", cols = "94" })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 form-group"> &nbsp;</div>

                                    <div class="col-xs-12 form-group">

                                        <div class="fileupload-btn-wrapper col-xs-3">
                                            <button type="button" class="btn btn-primary" @*class="btn btn-dark"><i class="icon wb-upload"></i*@> Add</button>
                                            <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" multiple />
                                        </div>

                                        @*<input type="button" id="btnOK" value="Add" class="btn btn-primary" style="margin-left: 18px;" />*@

                                        <div class="fileupload-btn-wrapper col-xs-3">
                                            <input type="button" id="btnOK" value="Remove" class="btn btn-primary" />
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </fieldset>

                    </div>
                </div>



                <div class="tab-pane" id="TabRecipients" role="tabpanel">
                    <br />
                    <div>
                        <fieldset class="customFieldset">
                            <legend></legend>

                            <div class="col-xs-12 form-group">

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-3">
                                        <input type="button" id="btnCheckAll" value="CheckAll" class="btn btn-primary" />
                                    </div>

                                    <div class="col-xs-3">
                                        <input type="button" id="btnUnCheckAll" value="UnCheckAll" class="btn btn-primary" />
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group">



                                    @*<div class="col-xs-12 NopaddingLR">
                                            <br />
                                            <div id="tabletblEmailBlast" style="height:600px;display:block;overflow-x: scroll; @(Model.EmailBlastsList.Count <= 0  ? "display:none" : "display:block")">
                                                <table id="tblEmailBlast" class="table table-bordered dataTable table-hover grid " border="1" style="width:3400px;">
                                                    <thead>
                                                        <tr>
                                                            <th class="no-sort" style="width: 13px;">BatchClientEmailBlastId</th>
                                                            <th style="width: 30px;">BatchId</th>
                                                            <th style="width: 250px;">ClientId</th>
                                                            <th style="width: 250px;">ClientCode</th>
                                                            <th style="width: 250px;">Type</th>
                                                            <th style="width: 250px;">ContactName</th>
                                                            <th style="width: 150px;">ContactTitle</th>
                                                            <th style="width: 100px;">PhoneNo</th>
                                                            <th style="width: 100px;">Email</th>
                                                            <th style="width: 100px;">DateSent</th>
                                                            <th style="width: 100px;">Status</th>
                                                            <th style="width: 150px;">Skip</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (Model.EmailBlastsList.Count >= 1)
                                                        {
                                                            foreach (var i in Model.EmailBlastsList)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @i.BatchClientEmailBlastId
                                                                    </td>
                                                                    <td>
                                                                        @i.BatchId
                                                                    </td>
                                                                    <td>
                                                                        @i.ClientId
                                                                    </td>
                                                                    <td>
                                                                        @i.ClientCode
                                                                    </td>
                                                                    <td>
                                                                        @i.Type
                                                                    </td>
                                                                    <td>
                                                                        @i.ContactName
                                                                    </td>
                                                                    <td>
                                                                        @i.ContactTitle
                                                                    </td>
                                                                    <td>
                                                                        @i.PhoneNo
                                                                    </td>
                                                                    <td>
                                                                        @i.Email
                                                                    </td>
                                                                    <td>
                                                                        @i.Status
                                                                    </td>
                                                                    <td>
                                                                        @i.Skip
                                                                    </td>
                                                                    @if (i.DateSent == DateTime.MinValue)
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@i.DateSent.ToShortDateString()</td>
                                                                    }
                                                                </tr>

                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>*@








                                </div>

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-3 checkbox-sm">
                                        @Html.CheckBoxFor(m => m.chkLiens, "chkLiens")&nbsp;
                                        <lable>Lien Clients</lable>
                                    </div>
                                    <div class="col-xs-3 checkbox-sm">
                                        @Html.CheckBoxFor(m => m.chkLVUsers, "chkLiens")&nbsp;
                                        <lable>LienView Users</lable>
                                    </div>
                                    <div class="col-xs-3 checkbox-sm">
                                        @Html.CheckBoxFor(m => m.chkTexas, "chkLiens")&nbsp;
                                        <lable>Texas Approved</lable>
                                    </div>
                                    <div class="col-xs-1">&nbsp;</div>
                                    <div class="col-xs-2">
                                        <input type="button" id="btnBuildList" value="Build List" onclick="EmailBlastsList();" class="btn btn-primary" />
                                    </div>

                                </div>

                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-3 checkbox-sm">
                                        @Html.CheckBoxFor(m => m.chkCollection, "chkLiens")&nbsp;
                                        <lable>Collection Clients</lable>
                                    </div>
                                    <div class="col-xs-3 checkbox-sm">
                                        @Html.CheckBoxFor(m => m.chkCVUsers, "chkLiens")&nbsp;
                                        <lable>CollectView Users</lable>
                                    </div>
                                    <div class="col-xs-3 checkbox-sm">
                                        @Html.CheckBoxFor(m => m.chkOther, "chkLiens")&nbsp;
                                        <lable>Other Contacts</lable>
                                    </div>
                                </div>

                            </div>

                        </fieldset>

                    </div>
                </div>



            </div>
        </fieldset>
    </div>




    <div class="modal modal-primary fade" id="myModalList" role="dialog">
        <div class="modal-dialog" style="width:850px !important;margin-top: 10% !important;">

            <!-- Modal content-->
            <div class="modal-content" style="width:1200px !important;margin-top: 10% !important;">

            </div>

        </div>
    </div>



    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" style="margin-left: 16px;" />
            <input type="button" id="btnOK" value="OK" onclick="SaveEmailBlasts()" class="btn btn-primary" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>

</form>


<script>

    $('#uploadFile').change(function (e) {
        debugger;
        var fileName = e.target.files[0].name;
        //alert('The file "' + fileName + '" has been selected.');
        $("#DocumentsListBox1").empty();
        $("#DocumentsListBox1").append(fileName);

        //for (var i = 0; i < inputFiles[0].files.length; i++)
        //    formData.append("files[" + i + "]", inputFiles[0].files[i])

    });

     function SaveEmailBlasts() {

            debugger;
            showLoadingImage();
         var data = $('#FormEmailBlasts').serialize();
            $.ajax({
                url: '@Url.Action("SaveEmailBlast", "EmailBlasts")',
                data: data,
                type: "POST",

                success: function (data) {
                    debugger;

                    $("#myModal").modal("hide");
                    $('.modal-backdrop').remove();
                    if (data == 1) {
                        hideLoadingImage();
                        EmailBlastsSuccessPopup();
                        Search();
                    }
                    else if (data == 0) {
                        //NoticeSentWarning();
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModalNewPayment").modal("hide");
                    hideLoadingImage();
                }
            });
    }


    function EmailBlastsList() {
        debugger;

        var data = $('#FormEmailBlasts').serialize();
        $.ajax({
            url: '@Url.Action("GetEmailBlastList", "EmailBlasts")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    //makeDatatable('tblNCInfoCheck');

                    $('#myModal .modal-content').html(data);

                    ClearDatatableState('tblEmailBlast');
                    makeDatatable('tblEmailBlast');

                   // NCInfoCheckMinDate();

                }
                else {
                    //$("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                //$("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }


    function EmailBlastsSuccessPopup() {
        debugger;
        swal({
            title: "Successfully",
            text: "Email Blasts Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>





