﻿
@model CRFView.Adapters.Collections.DataEntry.ImportEDI.ViewModels.ImportEDIVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormEndDateUpdate">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            EDI EndDate Update
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>File Location</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.FileName, new { @class = "form-control", style = "display:inline;", @readonly = true })
            </div>
            <div class="col-xs-3">
                <div class="fileupload-btn-wrapper">
                    <button type="button" class="btn btn-dark"><i class="icon wb-upload"></i> Browse Doc</button>
                    @*<input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" />*@
                    <input id="uploadFile" name="uploadFile" type="file" accept=".csv,.xls,.xlsx" />
                </div>
            </div>
            @*<div id="uploadedFileName" class="col-xs-3" >
                </div>*@
        </div>


    </div>

    @*<div id="hiddenFields">
            @Html.HiddenFor(m => m.ClientInterfaceId)
        </div>*@

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btnImportEDIClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearEndDateUpdate();" />*@
            <input type="button" id="btnImportEDIOK" value="OK" class="btn btn-primary" onclick="OKEndDateUpdate()" />
            <input type="button" value="Cancel" id="btnImportEDICancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    //Clear ClearEndDateUpdate
    function ClearEndDateUpdate() {
        //$("#uploadedFileName").empty();
        //$("#FileName").val('');
        $("#ClientBatch").val('');
        $("#EDIInstruction").val('');
    }

    $('#uploadFile').change(function (e) {
        debugger;
        var fileName = e.target.files[0].name;
        //alert('The file "' + fileName + '" has been selected.');
        $("#uploadFile").empty();
        $("#uploadFile").append(fileName);
        $("#FileName").val('');
        $("#FileName").val(fileName);

        SaveEndDateUpdate();
    });

    function hasExtension(inputID, exts) {
        var fileName = document.getElementById(inputID).value;
        return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test(fileName);
    }

    function SaveEndDateUpdate() {
        debugger;
        //showLoadingImage();
        //var data = $('#FormImportEDI').serialize();

        var formData = new FormData();
        var file = document.getElementById("uploadFile").files[0];
        formData.append("uploadFile", file);

        if (document.getElementById('uploadFile').value === '') {
            alert('Please attach file.');
            //hideLoadingImage();
            return false;
        }

        if (!hasExtension('uploadFile', ['.csv', '.xls', '.xlsx'])) {
            alert('Please attach CSV or XLS/XLSX file.');
            $("#uploadFile").empty();
            $("#FileName").val('');
            return false;
        }

        $.ajax({
            url: '@Url.Action("SaveEndDateUpdate", "EndDateUpdate")',
            type: "POST",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (data) {
                //if (data == true) {
                //    ImportEDI();
                //}
                if (data == false) {
                    alert("Something went wrong");
                }
                console.log(data);
            },
            fail: function (error) {
                alert("Something went wrong fail function(error)");
            }
        });
    }

    //button OKEndDateUpdate
    function OKEndDateUpdate() {
        debugger;
        if (document.getElementById('FileName').value === '') {
            alert('Please attach file.');
            return false;
        }

        var ClientInterfaceId = $("#ddlClientInterface").val();
        if (ClientInterfaceId <= 0) {
            alert("Please select Client Interface.");
            //hideLoadingImage();
            return false;
        }

        showLoadingImage();
        var data = $('#FormEndDateUpdate').serialize();
        debugger;
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("EDIEndDateUpdate", "EndDateUpdate")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                //if (data == 1) {
                //    CreateImportEDISuccessPopup();
                //    hideLoadingImage();
                //}
                //else if (data == 0) {
                //    alert('Error In ImportEDI.');
                //    hideLoadingImage();
                //}

                if (data != -1) {
                    //window.open(data);
                    CreateEndDateEDISuccessPopup();
                    hideLoadingImage();
                }
                else {
                    hideLoadingImage();
                    alert('No Accounts are imported.');
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CreateEndDateEDISuccessPopup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "EndDate Successfully Updated.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>