﻿@model CRFView.Adapters.Collections.DataEntry.CreateWebBatch.ViewModels.BatchWebPlacementsVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormBatchWebPlacements">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Batch Web Placements
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">
            <b>
            <lable style="font-weight: 1000; font-size: large;">
                @Html.Raw(@ViewBag.lblMessage.Replace(Environment.NewLine, "<br/>"))
                </lable>
            </b>
        </div> 

    </div>


    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnBatchWebPlacementsOK" value="OK" class="btn btn-primary" onclick="OKBatchWebPlacements()" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")"/>
            <input type="button" value="Cancel" id="btnBatchWebPlacementsCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    //button OKBatchWebPlacements
    function OKBatchWebPlacements() {
        debugger;
        showLoadingImage();
        var data = $('#FormBatchWebPlacements').serialize();

        $.ajax({
            url: '@Url.Action("BatchWebPlacements", "CreateWebBatch")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $("#myModal").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    CreateWebBatchSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert('Error In Batching Web Placements.');
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CreateWebBatchSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Batched!",
            text: "Web Placements Batched Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    

</script>


