﻿@model IEnumerable<CRFView.Adapters.ADEventPricing>
@{
    
    Layout = null;
}


<div>
    <table id="tblEventPricing" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Price Description</th>
                <th>Qty From</th>
                <th>Qty Thru</th>
                <th>Price</th>
                <th>IsDefaultPrice</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.PriceCodeName</td>     
                    <td>@i.QtyFrom</td>
                    <td>@i.QtyThru</td>
                    <td>$@i.Price</td>
                    <td>@i.IsDefaultPrice</td>
                   
                  <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
