﻿@model CRFView.Adapters.ADEventPricing
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Price Description:</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.DropDownListFor(m => m.PriceCodeId, new SelectList(ViewBag.PriceCodeList, "Id", "Name"), new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>From Quantity :</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.QtyFrom, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                <div id="ErrorQtyFrom" class="Invalid-feedback" style="display:none">
                    Please Enter From Quantity.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Thru Quantity :</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.QtyThru, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                <div id="ErrorQtyThru" class="Invalid-feedback" style="display:none">
                    Please Enter Thru Quantity.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Price :</lable>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.Price, "{0:C}", new { @class = "form-control" })
            </div>
        </div>
    
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-8 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsDefaultPrice)<lable class="Checkbox-lable">Is Default Price</lable>
            </div>
        </div>
       
      
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"   id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    //$('#Price').blur(function () {
    //    debugger;
    //    var value = $('#Price').val();
    //    $('#Price').val('$' + value);
    //})

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("EventPricingSave", "EventPricing")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblEventPricing');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#QtyFrom").val().length <= 0) {
            $("#ErrorQtyFrom").show();
            return false;
        }
        else {
            $("#ErrorQtyFrom").hide();
        }
        if ($("#QtyThru").val().length <= 0) {
            $("#ErrorQtyThru").show();
            return false;
        }
        else {
            $("#ErrorQtyThru").hide();
        }
      
        return true;
    }
</script>



