﻿
@model CRFView.Adapters.Liens.DayEnd.ClientAcknowledgments.ViewModels.ClientAcknowledgmentsVM

@{
    Layout = null;
}

<style>
    .rt {
        text-align: right;
    }

    .Setfieldset {
        width: 606px;
        height: 285px;
    }
</style>
<form id="FormClientAcknowledgments">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client Acknowledgments</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>
                    <br />

                    @*<div class="col-xs-10 form-group">
                            <div class="col-xs-4 rt checkbox-sm" style="margin-left: 34px;">
                                @Html.CheckBoxFor(m => m.chkAllSman, new { @checked = true })
                                &nbsp;
                                <lable>All Sman</lable>
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                <div class="col-xs-12" id="divAllSman" style="@(Model.chkAllSman == false ? "display:block" : "display:none")">
                                    @Html.DropDownListFor(m => m.TeamId, Model.GetTeamList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                                </div>
                            </div>
                        </div>*@

                    <br />
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-4 rt checkbox-sm" style="margin-left: 40px;">
                            @Html.CheckBoxFor(m => m.chkAllClient)
                            &nbsp;
                            <lable>All Clients</lable>
                        </div>
                        <div class="col-xs-5 NopaddingLR" style="width: 274px;">
                            <div class="col-xs-12" id="divAllClient" style="@(Model.chkAllClient == false ? "display:block" : "display:none")">
                                @Html.DropDownListFor(m => m.ClientId, Model.GetClientList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;margin-left:-6px; " })
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt">
                            <lable>Invoice From Date</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.InvoiceFromDate, new { style = "width:128px;" })
                        </div>
                    </div>
                    <br />
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-10 form-group">
                            <div class="col-xs-6 rt" style="margin-right:-4px">
                                <lable>Invoice Thru Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.InvoiceThruDate, new { style = "width:128px;margin-left: 1px;" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To Printer")
                            &nbsp;
                            <lable>Send to Printer</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
                            &nbsp;
                            <lable>Send to PDF</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Fax")
                            &nbsp;
                            <lable>Create CSV File</lable>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="margin-left: 16px;" />
            @*<input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="Delete()" />*@
            <input type="button" id="btnPrintLienRevenueOK" value="OK" class="btn btn-primary" onclick="OKPrintClientAcknowledgments()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>
</form>
<script>



    //$("[name='chkAllSman']").click(function () {
    //    debugger;
    //   // var chkAllIndustryTypes = $(this).val();

    //    if (this.checked) {
    //        $('#divAllSman').hide();
    //    }
    //    else {
    //        $('#divAllSman').show();
    //    }
    //});

    $("[name='chkAllClient']").click(function () {
        debugger;
        //var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllClient').hide();
        }
        else {
            $('#divAllClient').show();
        }
    });




    function OKPrintClientAcknowledgments() {
        debugger;
        showLoadingImage();


        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormClientAcknowledgments').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("ClientAcknowledgmentsPrint", "ClientAcknowledgments")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintClientAcknowledgmentsSuccessPopup();
                    hideLoadingImage();
                    return false;
                }

                if (data != "error") {
                    window.open(data);
                    CreateClientAcknowledgmentsSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');

                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function PrintClientAcknowledgmentsSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Client Acknowledgments Printed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function CreateClientAcknowledgmentsSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: " Client Acknowledgments Processed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#InvoiceFromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#InvoiceThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

    }


</script>