﻿@{
    Layout = null;
}

<style>
    #tblCollectionInvoices_wrapper .row:first-child {
        overflow-x: auto;
    }

    #tblLedgerList_wrapper .row:first-child {
        overflow-x: auto;
    }

    .left-text {
        text-align: left;
    }

    .w-130 {
        width: 130px;
    }
</style>

<div>
    <h3 class="page-header">Client Acknowledgments</h3>
    <hr />
    <div class="panel-body">
        @*@{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}*@

        <div id="InvoiceDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:800px !important;margin-top: 11% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:700px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModal", "ClientAcknowledgments")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);
                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#InvoiceFromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#InvoiceThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

                //document.getElementById("chkAllSman").checked = true;
                //$('#divAllSman').hide();

                document.getElementById("chkAllClient").checked = true;
                $('#divAllClient').hide();


                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }
</script>
