﻿@model CRFView.Adapters.Accounting.AccountingCollections.PrintInvoice.ViewModels.PrintInvoiceVM
@{
    Layout = null;
}

<style>
    .rt {
        text-align: right;
    }

    .Setfieldset {
        width: 500px;
        height: 300px;
        margin-left: -16px;
    }
    .SetPrintfieldset{
        width:200px;
        height:200px;
        margin-left: 20px;
    }
</style>

<form id="FormPrintInvoice">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Trust Invoice/Statements</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-4 rt checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkAllClient)
                            &nbsp;
                            <lable>All Clients</lable>
                        </div>
                        <div class="col-xs-6 NopaddingLR" style="width: 274px;">
                            <div class="col-xs-12" id="divAllClient" style="@(Model.chkAllClient == false ? "display:block" : "display:none")">
                                @Html.DropDownListFor(m => m.ClientId, Model.GetClientList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;margin-left:-6px; " })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-4 rt">
                            <lable>Invoice Cycle</lable>
                        </div>
                        <div class="col-xs-6">

                            @Html.DropDownListFor(m => m.ClientId, Model.InvoiceCycleList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;margin-left:-5px;width:126px;" })

                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-4 rt">
                            <lable>Remittance From</lable>
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.objADvwClientCollFinDocEmail.InvoiceFromDate, "{0:MM/dd/yyyy", new { style = "width:126px;margin-left: -5px;" })
                        </div>
                    </div>
                    <br />
                    <div class="col-xs-12 form-group">
                        @*<div class="col-xs-10 form-group">*@
                        <div class="col-xs-4 rt">
                            <lable>Remittance Thru</lable>
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.objADvwClientCollFinDocEmail.InvoiceThruDate, "{0:MM/dd/yyyy}", new { style = "width:126px;margin-left: -5px;" })
                        </div>
                        @*</div>*@
                    </div>

                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt checkbox-sm" style="margin-left: 94px;">
                            @Html.CheckBoxFor(m => m.chkInvoiceOnly)
                            &nbsp;
                            <lable>Invoice Only</lable>
                        </div>

                    </div>

                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt checkbox-sm" style="margin-left: 115px;">
                            @Html.CheckBoxFor(m => m.chkExcludeInvoice)
                            &nbsp;
                            <lable>Exclude Invoice</lable>
                        </div>

                    </div>
                    <br />
                    <br />

                </fieldset>
            </div>
                <div class="col-xs-4 text-right ">
                    <fieldset class="customFieldset SetPrintfieldset">
                        <legend>Print Options</legend>

                        @*<div class="col-xs-10 form-group">*@
                            <div class="col-xs-10">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To Printer")
                                &nbsp;
                                <lable>Send to Printer</lable>
                            </div>
                        @*</div>*@
                        @*<div class="col-xs-10 form-group">*@
                            <div class="col-xs-10" style="margin-left: -16px;">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
                                &nbsp;
                                <lable>Send to PDF</lable>
                            </div>
                        @*</div>*@
                        @*<div class="col-xs-10 form-group">*@
                            <div class="col-xs-10" style="margin-left: -31px;">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "No Report")
                                &nbsp;
                                <lable>No Report</lable>
                            </div>
                        
                        @*</div>*@
                        @*<div class="col-xs-10 form-group">*@
                            <div class="col-xs-10"  style="margin-left: -58px;">
                                @Html.RadioButtonFor(m => m.RbtPrintOptionEmail, "Email")
                                &nbsp;
                                <lable>Email</lable>
                            </div>
                        @*</div>*@

                    </fieldset>
                    </div>
                </div>
       
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="margin-left: 16px;" />
            @*<input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="Delete()" />*@
            <input type="button" id="btnPrintLienRevenueOK" value="OK" class="btn btn-primary" onclick="OKPrintInvoices()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>
</form>

<script>

    $("[name='chkAllClient']").click(function () {
        debugger;
        //var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllClient').hide();
        }
        else {
            $('#divAllClient').show();
        }
    });




    function OKPrintInvoices() {
        debugger;
        showLoadingImage();
   var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormPrintInvoice').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("PrintTrustInvoice", "PrintInvoice")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintLienRevenueSuccessPopup();
                    hideLoadingImage();
                    return false;
                }

                if (data != "error") {
                    window.open(data);
                    CreateLienRevenueSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');

                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function PrintInvoiceSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Invoice Printed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function CreatePrintInvoiceSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Trust Invoice/Statements Processed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function Clear() {
        debugger;
        //$("#chkInvoiceOnly").
        $("#chkInvoiceOnly").prop("checked", false);
        $("#chkExcludeInvoice").prop("checked", false);
        $("#chkAllClient").prop("checked", false);
        $('#divAllClient').show();
        
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#objADvwClientCollFinDocEmail_InvoiceFromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#objADvwClientCollFinDocEmail_InvoiceThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

    }


</script>