﻿@model CRFView.Adapters.Liens.Managements.DeleteGC.ViewModels.DeleteGCVM
   @{

       Layout = null;
}


<style>
    .rt {
        text-align: right;
    }
</style>


<form id="FormDeleteGC">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            Delete GC
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>




    <div class="modal-body" style="text-align:left">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="col-xs-12">&nbsp;</div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Client Number</lable>
                    </div>
                    <div class="col-xs-8">

                        @Html.DropDownListFor(m => m.ClientCode, Model.ChangeClientCodeList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;margin" })

                    </div>
                </div>
            </div>

            <div class="col-xs-12">&nbsp;</div>

            <div class="col-xs-12 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Select General Contractor to DELETE</legend>
                    <div class="col-xs-12 NopaddingLR">

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.DelGCName, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">
                                <button type="button" class="btn btn-default btn-icon" id="btnDeleteGCSearch" onclick="DeleteGCSearch()">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>

                            </div>

                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.DelRefNum, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-5">&nbsp;</div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.DelAdd1, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">&nbsp;</div>
                            @*<div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.ObjDeleteGC.DelGenId, new { @class = "form-control", style = "display:inline;width:90%" })
                                </div>*@
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.DelAdd2, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">&nbsp;</div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.DelCity, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.DelState, new { @class = "form-control", style = "display:inline; width:71px; margin-left: -22px;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.DelZip, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">&nbsp;</div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col-xs-12">&nbsp;</div>


            <div class="col-xs-12 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Select General Contractor to Replace With</legend>
                    <div class="col-xs-12 NopaddingLR">

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.RepGCName, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">
                                @*<button type="button" onclick="SearchCityStateZip(@Model.objBatchJob.Id, '@Model.objBatchJob.JobCity', '@Model.objBatchJob.JobState', '@Model.objBatchJob.JobZip')" class="btn btn-default btn-icon">
                                        <i class="icon wb-search" aria-hidden="true"></i>
                                    </button>*@
                                <button type="button" class="btn btn-default btn-icon" id="btnReplaceGCSearch" onclick="DeleteGCRepSearch()">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.RepRefNum, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-5">&nbsp;</div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.RepAdd1, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1"></div>
                            @*<div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.ObjDeleteGC.RepGenId, new { @class = "form-control", style = "display:inline;width:90%" })
                                </div>*@
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.RepAdd2, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1"></div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.RepCity, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.RepState, new { @class = "form-control", style = "display:inline; width:71px; margin-left: -22px;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDeleteGC.RepZip, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1"></div>
                        </div>

                    </div>

                </fieldset>
            </div>

        </div>



    </div>










  

    <div id="hiddenfields">
        @Html.HiddenFor(m => m.message)
        @Html.HiddenFor(m => m.ObjDeleteGC.DelGenId)
        @Html.HiddenFor(m => m.ObjDeleteGC.RepGenId)
    </div>

    <div class="modal-footer" tabindex="-1">
        <button type="button" class="btn btn-primary" onclick="DeleteGC()">OK</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
    @*<div class="modal-footer" tabindex="-1" >
        <input type="button" id="btnDeleteGC" value="Ok" class="btn btn-primary form-group" onclick="DeleteGC()" />
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

    </div>*@

</form>


<script>
    function DeleteGCSearch() {
        debugger;
        showLoadingImage();

        var ClientCode = $("#ClientCode").val();

        $.ajax({
            url: '@Url.Action("LoadDeleteGCLookup", "DeleteGC")',
            //data: { JobId: JobId },
            data: { ClientCode: ClientCode},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal').modal("hide");
                $('#myModalDeleteGC .modal-content').html(data);


                $('#myModalDeleteGC').modal("show");

               // CheckMinDate();
                hideLoadingImage();

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }
    function DeleteGCRepSearch() {
        debugger;
        showLoadingImage();

        var ClientCode = $("#ClientCode").val();

        $.ajax({
            url: '@Url.Action("LoadDeleteGCRepLookup", "DeleteGC")',
            //data: { JobId: JobId },
            data: { ClientCode: ClientCode },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal').modal("hide");
                $('#myModalDeleteGCRep .modal-content').html(data);


                $('#myModalDeleteGCRep').modal("show");

                // CheckMinDate();
                hideLoadingImage();

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function DeleteGC() {
        debugger;
        showLoadingImage();
        //var JobId = $("#JobId").val();
        var data = $('#FormDeleteGC').serialize();
        $.ajax({
            url: '@Url.Action("DeleteGC", "DeleteGC")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                $('.modal-backdrop').remove();
                if (data == 1) {

                    DeleteGCSuccessPoppup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    NoticeSentWarning();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }


    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }

    function DeleteGCSuccessPoppup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Process Completed",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>
