﻿@model CRFView.Adapters.Liens.Managements.DeleteGC.ViewModels.DeleteGCVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    /*.txtDigits {
            text-align: right;
        }*/

    .rt {
        text-align: right;
    }

  
</style>
<form id="FormDeleteGCLookup">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            General Contractor Lookup
            <button type="button" class="close"  onclick="CancelDeleteGCLookUpModel()" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>
    <div class="modal-body" style="text-align:left">
<br />
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-12 form-group">
                <div class="col-xs-10 form-group NopaddingLR">
                    
                
                    <div class="col-xs-3" style="margin-left: 2px;">

                        <lable>Client Name</lable>
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="text-align:left;margin-left: -30px;" @*style="text-align: left;"*@>
                        @Html.TextBoxFor(m => m.GeneralContractor, new { @class = "form-control", style = "display:inline;text-align:left;width:200%;" })
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="text-align:left;margin-left: 170px;">
                        <input type="button" id="btDeleteGCLookupsearch" value="Search" class="btn btn-primary form-group" onclick="DeleteGCLookupsearch()" />
                    </div>
                </div>

            </div>

       
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-12 form-group" style="text-align: right; margin-bottom: -2%;margin-left: -3%;">
                    <b>
                        <lable style="font-weight: 1000; font-size: medium;">
                            @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                        </lable>
                    </b>
                </div>
               
            </div>

            <div class="col-xs-12  form-group">


                <div class="col-xs-12 NopaddingLR">
                    <br />
                    <div id="tblDeleteGCGrid" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.DeleteGCList.Count <= 0  ? "display:none" : "display:block")">
                        <table id="tblDeleteGCGrid" class="table table-bordered dataTable table-hover grid " border="1" style="width:946px;">
                            <thead>
                                <tr>
                                    <th class="no-sort" style="width: 2%;">View</th>
                                    <th style="width: 8%;">Client Id</th>
                                    <th style="width: 8%;"> Id</th>
                                    <th style="width: 32%;">Client Name</th>

                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.DeleteGCList.Count >= 1)
                                {
                                    foreach (var i in Model.DeleteGCList)
                                    {
                                        <tr>
                                            @*@Html.Hidden("jobidcheck", i.JobId)*@
                                            <td>
                                                <button type="button" onclick="ShowDetails('@i.Id')" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-eye" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                @i.ClientId
                                            </td>
                                            <td>
                                                @i.Id
                                            </td>
                                            <td>
                                                @i.GeneralContractor
                                            </td>
                                           
                                          </tr>
                                                    }
                                                }
                            </tbody>
                        </table>
                    </div>


                </div>




            </div>

        </div>
       

        <div id="hiddenfields">
            @Html.HiddenFor(m => m.ClientCode)
        </div>

    </div>
    <div class="modal-footer" tabindex="-1" style="margin-right: 12px;" >
       

        <input type="button" value="Cancel" id="CancelModalCtomerLokkUp" class="btn btn-primary" data-dismiss="modal" onclick="CancelDeleteGCLookUpModel();" />


    </div>
   
</form>
<script>

    function CancelDeleteGCLookUpModel() {
        $('#FormDeleteGCLookup').modal("hide");
        $('#myModal').modal("show");
    }
    function DeleteGCLookupsearch() {
        debugger;
        var data = $('#FormDeleteGCLookup').serialize();
        $.ajax({

            url: '@Url.Action("GetDeleteGC", "DeleteGC")',
            data: data,
            type: "POST",
            success: function (data){
                debugger;
                if (data) {
                  
                    //makeDatatable('tblDeleteGCGrid');
                  
                    $('#myModalDeleteGC .modal-content').html(data);
                   // ChangeDateRequestedMinDate();
                }
                else {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }
    function ShowDetails(Id) {
        debugger;
        showLoadingImage();
        Id = Id.substring(1);
       
      //  var Date = $("#DateTimePicker2").val();
            $.ajax({
                url: '@Url.Action("LoadDeleteGC", "DeleteGC")',
                //data: { JobId: JobId },
                data: { Id: Id },
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#myModalDeleteGC').modal("hide");
                    $('#myModal .modal-content').html(data);


                    $('#myModal').modal("show");
                    var message = $("#message").val();
                    if (message != "") {
                        NoticeSentWarning();
                    }
                   // CheckMinDate();
                    hideLoadingImage();

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Replacing General contractor cannot be the same deleting General contractor",
            type: "error",
            confirmButtonText: "ok"
        });
    }

</script>

