﻿
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Delete GC</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="DeleteGC">
        </div>
    </div>
</div>


<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:750px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:750px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalDeleteGC" role="dialog">
    <div class="modal-dialog" style="width:950px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:800px !important;margin-top: 10% !important;">

        </div>
        `
    </div>
</div>
<div class="modal modal-primary fade" id="myModalDeleteGCRep" role="dialog">
    <div class="modal-dialog" style="width:950px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:800px !important;margin-top: 10% !important;">

        </div>
        `
    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "DeleteGC")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);


                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }



</script>
