﻿@model CRFView.Adapters.ADStateFormNotices
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.StateFormNoticeId)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2" style="text-align: left;">
                <lable class="Label-FontSize">State Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.StateCode, new { @class = "form-control",@style="text-transform:uppercase" })
                <div id="ErrorStateCode" class="Invalid-feedback" style="display:none">
                    Please Enter State Code.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2" style="text-align: left;">
                <lable class="Label-FontSize">Report Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.ReportName, new { @class = "form-control" })
                <div id="ErrorReportName" class="Invalid-feedback" style="display:none">
                    Please Enter Report Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2" style="text-align: left;">
                <lable class="Label-FontSize">Friendly Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.FriendlyName, new { @class = "form-control" })
                <div id="ErrorFriendlyName" class="Invalid-feedback" style="display:none">
                    Please Enter Friendly Name.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2" style="text-align: left;">
                <lable class="Label-FontSize">Form Type:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.FormType, new { @class = "form-control", @style = "text-transform:uppercase"})
                <div id="ErrorFormType" class="Invalid-feedback" style="display:none">
                    Please Enter Form Type.
                </div>
            </div>
        </div><br /><br />
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">
            <div class="col-md-3 col-sm-3 col-xs-3 NopaddingLR">
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.ClientView) <label for="ClientView">ClientView</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AlternateSigner) <label for="AlternateSigner">Alternate Signer</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.BalanceDueAmt) <label for="BalanceDueAmt">Balance Due Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.ContractAmt) <label for="ContractAmt">Contract Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.PaymentAmt) <label for="PaymentAmt">Payment Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.FinanceChargeAmt) <label for="FinanceChargeAmt">Finance Charge Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.ExtrasToContractAmt) <label for="ExtrasToContractAmt">Extras To Contract</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AgreedChangeOrdersAmt) <label for="AgreedChangeOrdersAmt">Agreed Change Orders Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.PendingChangeOrdersAmt) <label for="PendingChangeOrdersAmt">Pending Change Orders Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.BookNum) <label for="BookNum">Book Num</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 NopaddingLR">
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.FileDate) <label for="FileDate">Bond File Date</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.SuiteFileDate) <label for="SuiteFileDate">Suit File Date</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.ContractDate) <label for="ContractDate">Contract Date</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.NOISendDate) <label for="NOISendDate">NOI Send Date</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.WorkPerformedMMYY) <label for="WorkPerformedMMYY">Work Performed MMYY</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.StructureType) <label for="StructureType">Structure Type</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AmendmentsToContractAmt) <label for="AmendmentsToContractAmt">Amendments To Contract Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AgreedUponCreditsAmt) <label for="AgreedUponCreditsAmt">Agreed Upon Credits Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.ContractPaymentsAmt) <label for="ContractPaymentsAmt">Contract Payments Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.RecorderNum) <label for="RecorderNum">Recorder #</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 NopaddingLR">
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AmendmentPaymentsAmt) <label for="AmendmentPaymentsAmt">Amendment Payments Amt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.BlockNumber) <label for="BlockNumber">Block Number</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.LotNumber) <label for="LotNumber">Lot Number</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.DueDate) <label for="DueDate">Due Date</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.DescribePublicContract) <label for="DescribePublicContract">Describe Public Contract</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.DaysCreditIsExtended) <label for="DaysCreditIsExtended">DaysCreditIsExtended</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.NoticeofContractDate) <label for="NoticeofContractDate">Notice of Contract Date</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.JobCounty) <label for="JobCounty">JobCounty</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.DateNoticeSent) <label for="DateNoticeSent">Date Notice Sent</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.EndDate) <label for="EndDate">End Date</label>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 NopaddingLR">
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.PageNum) <label for="PageNum">Page Num</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.BondNumber) <label for="BondNumber">Bond Number</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.RegisteredAgent) <label for="RegisteredAgent">Registered Agent</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AltClaimantContact) <label for="AltClaimantContact">Alternate Claimant Contact</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AltClaimantAdd1) <label for="AltClaimantAdd1">Alternate Claimant Add1</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AltClaimantAdd2) <label for="AltClaimantAdd2">Alternate Claimant Add2</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AltClaimantCity) <label for="AltClaimantCity">Alternate Claimant City</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AltClaimantState) <label for="AltClaimantState">Alternate Claimant State</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.AltClaimantZip) <label for="AltClaimantZip">Alternate Claimant Zip</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.CRFView) <label for="CRFView">CRFView</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.APNNum) <label for="APNNum">APN Num</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("StateFormNoticesSave", "StateFormNotices")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "StateFormNotices")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblStateFormNotices');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        if ($("#StateCode").val().length <= 0) {
            $("#ErrorStateCode").show();
            return false;
        }
        else {
            $("#ErrorStateCode").hide();
        }
        if ($("#ReportName").val().length <= 0) {
            $("#ErrorReportName").show();
            return false;
        }
        else {
            $("#ErrorReportName").hide();
        }
        if ($("#FriendlyName").val().length <= 0) {
            $("#ErrorFriendlyName").show();
            return false;
        }
        else {
            $("#ErrorFriendlyName").hide();
        }
        if ($("#FormType").val().length <= 0) {
            $("#ErrorFormType").show();
            return false;
        }
        else {
            $("#ErrorFormType").hide();
        }
        return true;
    }
</script>



