﻿@model CRFView.Adapters.Liens.Managements.NCInfoCheck.ViewModels.NCInfoCheckVM
@{
    Layout = null;
}

<form id="FormEditNCInfoCheck">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Edit NC Info Check
            <button type="button" class="close" onclick="CancelChangeDateRequested()" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div id="divDetails">

            <div class="col-xs-12  form-group" id="JobInfo">

                <fieldset class="customFieldset">
                    <legend>Job Info</legend>
                    
                    <div class="col-xs-8 NopaddingLR">

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>Job Id</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.JobId, new { @class = "form-control", @readonly = "readonly", style = "display:inline;width: 115Px;" })
                            </div>

                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.ObjNCInfoCheck.NCInfo, new { style = "display:inline;", @disabled = "disabled" })
                                <lable>NCInfo</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>Client #</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.ClientCode, new { @class = "form-control", @readonly = "readonly", style = "display:inline;width: 115Px;" })
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.ClientName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Asg Date</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.DateAssigned, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>Job #</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.JobNum, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.EstBalance, new { Value = String.Format("{0:C}", Model.ObjNCInfoCheck.EstBalance), @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Desk</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.DeskNum, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>Job Name</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.JobName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Status</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.StatusCode, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>Address</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.JobAdd1, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Start Date</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                &nbsp;
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.JobCity, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.JobState, new { @class = "form-control", style = "display:inline; width: 72px; margin-left: -20px;", @readonly = true })
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.JobZip, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Verified Date</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.VerifiedDate, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-4 NopaddingLR">

                        <div class="form-group col-xs-12 lt">
                            &nbsp;
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>Cust</lable>
                            </div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.CustName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>GC</lable>
                            </div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.GCName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>Owner</lable>
                            </div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.OwnerName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                <lable>Lender</lable>
                            </div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.LenderName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                &nbsp;
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                <input type="checkbox" disabled />
                                <lable>JointCk</lable>
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Branch</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.ObjNCInfoCheck.BranchNumber, new { @class = "form-control", @readonly = "readonly", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2 rt">
                                &nbsp;
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                <input type="checkbox" disabled />
                                <lable>Greencard</lable>
                            </div>
                            <div class="col-xs-6 checkbox-sm">
                                <input type="checkbox" disabled />
                                <lable style="color:cadetblue">RentalView Job</lable>
                            </div>
                        </div>


                    </div>


                </fieldset>
            </div>
        </div>
    </div>
    <div id="hiddenFields">
      
        @Html.HiddenFor(m =>m.chkNCInfo)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnNCInfoCheck" value="Update" class="btn btn-primary form-group" onclick="UpdateNCInfoCheck()" />

            <input type="button" value="Cancel" id="CancelModalSCLegalCost" class="btn btn-primary" onclick="CancelNCInfoCheck()" />
        </div>
    </div>
</form>


<script>

    function formatZip(Zipfield) {
        var Zip = Zipfield.value.replace(/[^0-9]/g, '');
        $(Zipfield).val(Zip.replace(/^(\d{5})(\d{4})+$/, "$1-$2"));
    }


    function CancelNCInfoCheck()
    {
        $("#myModalEditNCInfoCheck").modal("hide");
        $('#myModal').modal("show");
    }

    function UpdateNCInfoCheck() {
        debugger;
        showLoadingImage();

        var JobId = $("#JobId").val();

        var data = $('#FormEditNCInfoCheck').serialize();

        $.ajax({
            url: '@Url.Action("UpdateNCInfoCheck", "NCInfoCheck")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModalEditNCInfoCheck").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    $('#myModal').modal("show");
                    UpdateNCInfoSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["ObjNCInfoCheck_VerifiedDate",
                                "ObjNCInfoCheck_DateAssigned",
                                 "ObjNCInfoCheck_StartDate"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }

    function UpdateNCInfoSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "NC Info Updated Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }



</script>




