﻿
@model CRFView.Adapters.Liens.Managements.NCInfoCheck.ViewModels.NCInfoCheckVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    /*.txtDigits {
            text-align: right;
        }*/

    .rt {
        text-align: right;
    }

       #tblNCInfoCheck .row:first-child {
        overflow-x: auto;
    }


    .customFieldset {
        border-color: #e6e6e6;
    }
</style>
<form id="FormNCInfoCheck">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
           NC Info Check
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>
    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-12 form-group">
                <div class="col-xs-10 form-group NopaddingLR">
                    <div class="col-xs-2  rt">
                        <lable>Date Range:</lable>
                    </div>
                    <div class="col-xs-1 NopaddingLR" style="width:180px;" @*style="text-align: left;"*@>
                        @Html.TextBoxFor(m => m.DateTimePicker1, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align:left; width:60%;" })
                    </div>
                    <div class="col-xs-2" style="margin-left: -60px;">
                        <lable>To</lable>
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="text-align:left;margin-left: -80px;width:180px;" @*style="text-align: left;"*@>
                       @Html.TextBoxFor(m => m.DateTimePicker2, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align:left;width:60%;" })


                    </div>
                    <div class="col-xs-3 NopaddingLR" style="text-align:left">
                        <input type="button" id="btnNCInfoCheckList" value="Get List" class="btn btn-primary form-group" onclick="NCInfoCheckList()" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-10 form-group NopaddingLR">
                    <div class="col-xs-2  rt">
                        <lable>Job State:</lable>
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="width:180px;">
                        @Html.TextBoxFor(m => m.ByJobState, new { @class = "form-control", style = "display:inline;text-align:left;width:60%;" })


                    </div>
                    <div class="col-xs-2" style="margin-left: 2px;">
                        <lable></lable>
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="text-align:left;margin-left: -50px;">
                    </div>
                </div>
                <br />&nbsp;
            </div>
            <div class="col-xs-12 form-group">
                <div class="col-xs-10 form-group NopaddingLR">
                   
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-4 checkbox-sm" style="margin-left:148px">
                            @Html.CheckBoxFor(m => m.chkAllClient)
                            &nbsp;
                            <lable>All Clients</lable>
                        </div>
                        <div class="col-xs-8" id="divAllClient" style="@(Model.chkAllClient == false ? "display:block" : "display:none")">
                            @Html.DropDownListFor(m => m.ddlAllClientId, Model.AllClientIdList, new { @class = "form-control", style = "display:inline; width: 360px; margin-left: 150px;" })    
                        </div>
                    </div>
             
                        <br /><br />&nbsp;

                    </div>
            <div class="col-xs-12 NopaddingLR">
                    <div class="col-xs-12 form-group" style="text-align: right; margin-bottom: -2%;margin-left: 0%;"">
                        <b>
                            <lable style="font-weight: 1000; font-size: medium;">
                                @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                            </lable>
                        </b>
                    </div>
                    
                </div>

            <div class="col-xs-12  form-group">
                <div class="col-xs-12 NopaddingLR">
                    <br />
                    <div id="tabletblNCInfoCheck" style="height:600px;display:block;overflow-x: scroll; @(Model.NCInfoCheckList.Count <= 0  ? "display:none" : "display:block")">
                        <table id="tblNCInfoCheck" class="table table-bordered dataTable table-hover grid " border="1" style="width:3400px;">
                            <thead>
                                <tr>
                                    <th class="no-sort" style="width: 13px;">Edit</th>
                                    <th class="no-sort" style="width: 13px;">NCInfo</th>
                                    <th style="width: 30px;">Job Id</th>
                                    <th style="width: 250px;">Job Num</th>
                                    <th style="width: 250px;">Job Name</th>
                                    <th style="width: 250px;">Job Add1</th>
                                    <th style="width: 250px;">Job Add2</th>
                                    <th style="width: 150px;">Job City</th>
                                    <th style="width: 100px;">Job State</th>
                                    <th style="width: 100px;">Job Zip</th>
                                    <th style="width: 100px;">Est Balance</th>
                                    <th style="width: 100px;">Client Code</th>
                                    <th style="width: 150px;">Client Name</th>
                                    <th style="width: 100px;">Desk Num</th>
                                    <th style="width: 100px;">Status Code</th>
                                    <th style="width: 100px;">Date Assigned</th>
                                    <th style="width: 100px;">Notice Sent</th>
                                    <th style="width: 100px;">RevDate</th>
                                   

                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.NCInfoCheckList.Count >= 1)
                                {
                                    foreach (var i in Model.NCInfoCheckList)
                                    { 
                                        <tr>
                                            @*@Html.Hidden("jobidcheck", i.JobId)*@
                                            <td>
                                                <button type="button" id="edit" onclick="ShowDetails(@i.JobId)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <div class="checkbox-sm">
                                                   @if (@i.NCInfo == true)
                                                   {
                                                       <input checked="checked"
                                                              class="nc"
                                                              id=@i.NCInfo
                                                              name="chkNCInfo"
                                                              type="checkbox"
                                                              value=@i.NCInfo />
                                                   }
                                                   else
                                                   {
                                                       <input class="nc"
                                                              id=@i.NCInfo
                                                              name="chkNCInfo"
                                                              type="checkbox"
                                                              value=@i.NCInfo />
                                                   }
                                                 </div>

                                              </td>
                                            
                                            <td>
                                                @i.JobId
                                            </td>
                                            <td>
                                                @i.JobNum
                                            </td>
                                            <td>
                                                @i.JobName
                                            </td>
                                            <td>
                                                @i.JobAdd1
                                            </td>
                                            <td>
                                                @i.JobAdd2
                                            </td>
                                            <td>
                                                @i.JobCity
                                            </td>
                                            <td>
                                                @i.JobState
                                            </td>
                                            <td>
                                                @i.JobZip
                                            </td>
                                            <td>
                                                @*@i.EstBalance*@
                                                @String.Format("{0:C}", i.EstBalance)
                                            </td>
                                            <td>
                                                @i.ClientCode
                                            </td>
                                            <td>
                                                @i.ClientName
                                            </td>
                                            <td>
                                                @i.DeskNum
                                            </td>
                                            <td>
                                                @i.StatusCode
                                            </td>

                                           
                                       
                                             @if (i.DateAssigned == DateTime.MinValue)
                                             {
                                                 <td></td>
                                             }
                                             else
                                             {
                                                 <td>@i.DateAssigned.ToShortDateString()</td>
                                             }
                                            
                                            @if (i.NoticeSent == DateTime.MinValue)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@i.NoticeSent.ToShortDateString()</td>
                                            }
                                            @if (i.RevDate == DateTime.MinValue)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@i.RevDate.ToShortDateString()</td>
                                            }
                                           
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        &nbsp;

    </div>
   

        <div id="hiddenFields">
          
            @Html.HiddenFor(m => m.check)
        </div>
     <div class="modal-footer" tabindex="-1" style="margin-right: 8px;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

    </div>
   </div>

</form>
<script>

  

    $("[name='chkAllClient']").click(function () {
        debugger;
        var chkAllClient = $(this).val();

        if (this.checked) {
            $('#divAllClient').hide();
        }
        else {
            $('#divAllClient').show();
        }
    });

 


    $('body').on('change', '.nc', function () {
        debugger;
        if ($(this).is(':checked')) {
           // var id = $('.nc').val();
            var ids= ($(event.target).prop("checked"));
            // var theId = $(this).attr('NCInfo'); // The id of the checkbox
            // var theValue = $(this).checked(); // The value field of the checkbox
            // var id = $(this).prop('checked', true);
            console.log("checked");
            $("#check").val(ids);
        }
        else {
            var ids = ($(event.target).prop("checked"));
            $("#check").val(ids);

        }
    });
   

    function NCInfoCheckList() {
        debugger;

        var data = $('#FormNCInfoCheck').serialize();
        $.ajax({
            url: '@Url.Action("GetNCInfoCheck", "NCInfoCheck")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    //makeDatatable('tblNCInfoCheck');

                    $('#myModal .modal-content').html(data);

                    ClearDatatableState('tblNCInfoCheck');
                    makeDatatable('tblNCInfoCheck');

                    NCInfoCheckMinDate();

                }
                else {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }
  

    function ShowDetails(JobId) {
            debugger;
            showLoadingImage();
            var NCInfo = $("#check").val();

            if (NCInfo == "")
            {
                var NCInfo = "FALSE"
            }
           
        
            $.ajax({
                url: '@Url.Action("LoadNCInfoCheck", "NCInfoCheck")',
                data: { JobId: JobId, NCInfo: NCInfo },
               
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#myModal').modal("hide");
                    $('#myModalEditNCInfoCheck .modal-content').html(data);


                    $('#myModalEditNCInfoCheck').modal("show");

                    CheckMinDate();
                    hideLoadingImage();

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
   



    function NCInfoCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["DateTimePicker1", "DateTimePicker2", "DateAssigned", "StartDate","NoticeSent", "ObjNCInfoCheck.VerifiedDate"];
        //To set Current Date
        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());

        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "1/1/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }
            }
        });
    }



</script>
