﻿@model IEnumerable<CRFView.Adapters.ADStateFormFields>
@{
    
    Layout = null;
}


<div>
    <table id="tblStateFormFields" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Id</th>
                <th>Field Name</th>
                <th>Friendly Name</th>
                <th>DataType</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.StateFormFieldID</td>
                    <td>@i.FieldName</td>
                    <td>@i.FriendlyName</td>  
                    <td>@i.DataType</td>             
                    <td>
                            <button onclick="ShowDetails(@i.StateFormFieldID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
