﻿@model CRFView.Adapters.Liens.Reports.LienReports.ViewModels.LienReportsVM

@{
    Layout = null;
}

<style>

</style>

<form id="FormPrintLienReports">

    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Lien Reports
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 NopaddingLR">

            <div class="col-xs-4 NopaddingLR">
                <div class="col-xs-12 NopaddingLR">

                    @Html.ListBoxFor(m => m.ddlReportId, new List<SelectListItem> { }, new { @class = "form-control", size = 22 })

                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>

                    <div class="col-xs-12">
                        <fieldset class="customFieldset">
                            <legend>Report Category to Display</legend>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtReportCategoryOption, "NB")
                                &nbsp;
                                <lable>New Business</lable>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtReportCategoryOption, "Production", new { @checked = true })
                                &nbsp;
                                <lable>Production</lable>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtReportCategoryOption, "QA")
                                &nbsp;
                                <lable>QA</lable>
                            </div>

                        </fieldset>
                    </div>

                </div>
            </div>

            <div class="col-xs-8 NopaddingLR">

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                            &nbsp;
                            <lable>All Clients</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-12" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                                @Html.DropDownList("ddlClientId", Model.ClientIdList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkAllJobIds, new { @checked = true })
                            &nbsp;
                            <lable>All JobIds</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-5" id="divAllJobIds" style="@(Model.chkAllJobIds == false ? "display:block" : "display:none")">
                                @Html.TextBoxFor(m => m.JobId, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkAllDesks, new { @checked = true })
                            &nbsp;
                            <lable>All Desks</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-12" id="divAllDesks" style="@(Model.chkAllDesks == false ? "display:block" : "display:none")">
                                @Html.DropDownList("ddlDeskId", Model.JobDeskList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllDesksGroup, new { @checked = true })
                        &nbsp;
                        <lable>All Desk Groups</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-12" id="divAllDesksGroup" style="@(Model.chkAllDesksGroup == false ? "display:block" : "display:none")">
                            @Html.DropDownList("ddlDeskGroupId", Model.JobDeskGroupList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllSman, new { @checked = true })
                        &nbsp;
                        <lable>All Sman</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-12" id="divAllSman" style="@(Model.chkAllSman == false ? "display:block" : "display:none")">
                            @Html.DropDownList("ddlSalesTeamId", Model.SalesTeamIdList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkByAssignDate)
                            &nbsp;
                            <lable>By Assign Date</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.AssignDateFrom, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                            <div class="col-xs-2">
                                <lable>To</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.AssignDateThru, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkByLienAssignDate)
                            &nbsp;
                            <lable>By Lien Assign Date</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.LienAssignDateFrom, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                            <div class="col-xs-2">
                                <lable>To</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.LienAssignDateThru, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkByNoticeSentDate)
                            &nbsp;
                            <lable>By Notice Sent Date</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.NoticeSentDateFrom, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                            <div class="col-xs-2">
                                <lable>To</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.NoticeSentDateThru, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkByLienDate)
                            &nbsp;
                            <lable>By Lien Date</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.LienDateFrom, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                            <div class="col-xs-2">
                                <lable>To</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.LienDateThru, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkByTrxDate)
                            &nbsp;
                            <lable>By Transaction Date</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.TrxDateFrom, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                            <div class="col-xs-2">
                                <lable>To</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.TrxDateThru, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkByJobState, new { @checked = true })
                            &nbsp;
                            <lable>All Job States</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-5" id="divJobState" style="@(Model.chkByJobState == false ? "display:block" : "display:none")">
                                @Html.TextBoxFor(m => m.JobState, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkAllStatusGroup, new { @checked = true })
                            &nbsp;
                            <lable>All Status Groups</lable>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-12" id="divAllStatusGroup" style="@(Model.chkAllStatusGroup == false ? "display:block" : "display:none")">
                                @Html.DropDownList("JobStatusGroupId", Model.StatusGroupList, new { @class = "form-control" })

                            </div>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-5 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkAllStatus, new { @checked = true })
                            &nbsp;
                            <lable>All Status</lable>

                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">
                                <fieldset class="customFieldset">
                                    <legend>Print Option</legend>
                                    <div class="form-group col-xs-12 lt">
                                        @Html.RadioButtonFor(m => m.RbtPrintOption, "Send to Printer")
                                        &nbsp;
                                        <lable>Send to Printer</lable>
                                    </div>

                                    <div class="form-group col-xs-12 lt">
                                        @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
                                        &nbsp;
                                        <lable>Send To PDF</lable>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                        <div class="col-xs-7 NopaddingLR">
                            <div class="col-xs-12" id="divAllStatus" style="@(Model.chkAllStatus == false ? "display:block" : "display:none")">
                                @*@Html.DropDownList("Status", Model.AllStatusList, new { @class = "form-control" })*@

                                @Html.ListBoxFor(m => m.ddlStatusId, Model.AllStatusList, new { @class = "form-control", size = 12 })

                                @*@Html.ListBoxFor(m => m.AllStatusList, new List<SelectListItem> { }, new { @class = "form-control", size = 12 })*@
                            </div>
                        </div>
                    </div>


                </div>
           
        </div>

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px; margin-left: -12px;">
            <input type="button" id="btnPrintCollectionReportsClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearPrintLienReports();" />
            <input type="button" id="btnPrintCollectionReportsOK" value="OK" class="btn btn-primary" onclick="OKPrintLienReports();" />
            <input type="button" value="Cancel" id="btnPrintCollectionReportsCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
               
                
 </form>


<script>

    $("[name='chkAllClients']").click(function () {
        debugger;
        var chkAllClients = $(this).val();

        if (this.checked) {
            $('#divAllClients').hide();
        }
        else {
            $('#divAllClients').show();
        }
    });

    $("[name='chkAllDesks']").click(function () {
        debugger;
        var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllDesks').hide();
        }
        else {
            $('#divAllDesks').show();
        }
    });

    $("[name='chkAllDesksGroup']").click(function () {
        debugger;
        var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllDesksGroup').hide();
        }
        else {
            $('#divAllDesksGroup').show();
        }
    });

    $("[name='chkAllJobIds']").click(function () {
        debugger;
        var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllJobIds').hide();
        }
        else {
            $('#divAllJobIds').show();
        }
    });

    $("[name='chkAllSman']").click(function () {
        debugger;
        var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllSman').hide();
        }
        else {
            $('#divAllSman').show();
        }
    });

    $("[name='chkByJobState']").click(function () {
        debugger;
        var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divJobState').hide();
        }
        else {
            $('#divJobState').show();
        }
    });

    $("[name='chkAllStatusGroup']").click(function () {
        debugger;
        var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllStatusGroup').hide();
        }
        else {
            $('#divAllStatusGroup').show();
        }
    });

    $("[name='chkAllStatus']").click(function () {
        debugger;
        var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllStatus').hide();
        }
        else {
            $('#divAllStatus').show();
        }
    });


    $("[name='RbtReportCategoryOption']").click(function () {
        debugger;
        var ReportCategoryValue = $(this).val();
        fillReportListByCategoryType(ReportCategoryValue);
    });

    function fillReportListByCategoryType(ReportCategoryValue) {
        debugger;
        var ddlId = $("#ddlReportId");
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetReportIdList", "LienReportsAll")',
            data: { ReportCategoryValue: ReportCategoryValue },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                ddlId.html("");
                //var selectvalue = "";
                //ddlId.append($('<option></option>').val(-1).html("--Select--"));
                for (var i = 0; i < data.length; i++) {
                    ddlId.append($('<option></option>').val(data[i].Id).html(data[i].Name));
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve Reports.');
            }
        });
    }


    //button OKPrintCollectionReports
    function OKPrintLienReports() {
        debugger;
        showLoadingImage();

        var ReportId = $("#ddlReportId").val();

        if (ReportId < 0 || ReportId == null) {
            alert('Select Report.');
            hideLoadingImage();
            return false;
        }

        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormPrintLienReports').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("LienReportsPrint", "LienReportsAll")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintCollectionReportSuccessPopup();
                    hideLoadingImage();
                    return false;
                }

                if (data != "error") {
                    window.open(data);
                    CreateLienReportSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }


    function ClearPrintLienReports() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#AssignDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#AssignDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

        $('#LienAssignDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#LienAssignDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

        $('#NoticeSentDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#NoticeSentDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

        $('#LienDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#LienDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

        $('#TrxDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#TrxDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

        document.getElementById("chkAllClients").checked = false;
        document.getElementById("chkAllJobIds").checked = false;
        document.getElementById("chkAllDesks").checked = false;
        document.getElementById("chkAllSman").checked = false;
        document.getElementById("chkByJobState").checked = false;
        document.getElementById("chkAllStatusGroup").checked = false;
        document.getElementById("chkAllStatus").checked = false;

        $('#divAllClients').show();
        $('#divAllJobIds').show();
        $('#divAllDesks').show();
        $('#divAllSman').show();
        $('#divJobState').show();
        $('#divAllStatusGroup').show();
        $('#divAllStatus').show();
    }


    function CreateLienReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Lien Report Processed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>




