﻿
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Lien Reports</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="LienDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "LienReportsAll")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#AssignDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#AssignDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

                $('#LienAssignDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#LienAssignDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

                $('#NoticeSentDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#NoticeSentDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

                $('#LienDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#LienDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

                $('#TrxDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                $('#TrxDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

                document.getElementById("chkAllClients").checked = true;
                document.getElementById("chkAllJobIds").checked = true;
                document.getElementById("chkAllDesks").checked = true;
                document.getElementById("chkAllDesksGroup").checked = true;
                document.getElementById("chkAllSman").checked = true;
                document.getElementById("chkByJobState").checked = true;
                document.getElementById("chkAllStatusGroup").checked = true;
                document.getElementById("chkAllStatus").checked = true;


                $('#divAllClients').hide();
                $('#divAllJobIds').hide();
                $('#divAllDesks').hide();
                $('#divAllDesksGroup').hide();
                $('#divAllSman').hide();
                $('#divJobState').hide();
                $('#divAllStatusGroup').hide();
                $('#divAllStatus').hide();

                fillReportListByCategoryType('Production'); //Bind ReportList ddl

                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


</script>