﻿@model IEnumerable<CRFView.Adapters.ADPostageRates>
    @{
   
    }

    <div>
        <h3 class="page-header">Postage Rates</h3>
        <hr />
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Liens/PostageRates/_PostageRatesList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>


    <script type="text/javascript">
        function OnPartialLoad() {
        //add functions onload
        }

        function AddDetails() {

            $.ajax({
                url: '@Url.Action("PostageRatesAdd", "PostageRates")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                   
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            showLoadingImage();
            debugger;
            $.ajax({
                url: '@Url.Action("PostageRatesDetails", "PostageRates")',
                data: {
                    id: id
                },
                success: function (data) {
                    hideLoadingImage();
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                   
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {

                $.ajax({
                    url: '@Url.Action("Search", "PostageRates")',
                    data: {
                        value: searchVal,
                        Key: SearchKey
                    },
                    type: "POST",
                    success: function (data) {
                        $('#list').html(data);
                        makeDatatable('tblPostageRates');
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
            return false;
        }
        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "PostageRates")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblPostageRates');
                    makeDatatable('tblPostageRates');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


