﻿@model CRFView.Adapters.Liens.TXNoticeCycle.SmartMailerUpdate.ViewModels.SmartMailerUpdateVM
@{
    Layout = null;
}


<form id="formSmartMailerUpdate">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Smart Mailer Update</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-12 ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>

                    <br />
                    <br />
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-3 rt">
                            <lable>File Location</lable>
                        </div>
                        <div class="col-xs-6">
                            @Html.TextAreaFor(m => m.DocumentDescription, new { @class = "form-control ht", rows = "2" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-3">

                        </div>
                        <div class="col-xs-3">
                            @*<div class="file-upload">
                    <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt"/>
                </div>*@
                            <div class="fileupload-btn-wrapper">
                                <button type="button" class="btn btn-dark"><i class="icon wb-upload"></i> Browse Doc</button>
                                <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" />
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group NopaddingLR">
                        <div id="uploadedFileName" class="col-xs-12">
                        </div>
                    </div>


                    <br />
                    <br />
                    <br />
                    <br />


                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnVoidInvoiceClear" value="Clear" class="btn btn-primary pull-left" style="margin-left: 14px;" onclick="Clear();" />
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="SaveDocument();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" style="margin-right: 15px;" />

        </div>
    </div>
</form>


<script>





    $('#uploadFile').change(function (e) {
        debugger;
        var fileName = e.target.files[0].name;
        //alert('The file "' + fileName + '" has been selected.');
        $("#uploadedFileName").empty();
        $("#uploadedFileName").append(fileName);
    });



        function SaveDocument()
        {
            debugger;

            var formData = new FormData();
            var file = document.getElementById("uploadFile").files[0];
            formData.append("uploadFile", file);
            if (document.getElementById('uploadFile').value !== '')
            {
                $.ajax({
                    url: '@Url.Action("SaveDocument", "SmartMailerUpdate")',
                    type: "POST",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data == true) {
                            SaveDocumentInputsSmartMailerUpdate();
                        }
                        if(data==false)
                        {
                            alert("Something went wrong");
                        }
                        console.log(data);
                    },
                    fail: function (error) {
                        alert("Something went wrong fail function(error)");
                    }
                });
            }
            else
            {
                alert('Please attach file.');
            }
    }




    function SaveDocumentInputsSmartMailerUpdate()
    {
        debugger;

        showLoadingImage();
       
        $.ajax({
            url: '@Url.Action("SaveSmartMailerUpdate", "SmartMailerUpdate")',
            data: $('#formSmartMailerUpdate').serialize(),
            type: "POST",
            success: function (data) {
                debugger;
                $("#myModal").modal("hide");
                $('.modal-backdrop').remove();
                if (data == "True") {
                    DocumentAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == "False"){
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function DocumentAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "SmartMailer Update Processed Successfully.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }





</script>


