﻿@model CRFView.Adapters.Liens.Managements.ChangeCustInfo.ViewModels.ChangeCustInfoVM
@{

    Layout = null;
}


<style>
    .rt {
        text-align: right;
    }
</style>
<form id="FormChangeCustInfo">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            Change Customer Info
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>




    <div class="modal-body" style="text-align:left">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="col-xs-12">&nbsp;</div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Client Number</lable>
                    </div>
                    <div class="col-xs-8">

                        @Html.DropDownListFor(m => m.ClientCode, Model.ChangeClientCodeList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;margin" })

                    </div>
                </div>
            </div>

            <div class="col-xs-12">&nbsp;</div>

            <div class="col-xs-12 NopaddingLR">
    <fieldset class="customFieldset">
        <legend>Select Customer to Update</legend>
        <div class="col-xs-12 NopaddingLR">

            <div class="form-group col-xs-12 lt">
                @*<div class="col-xs-1"></div>*@
                @*<div class="col-xs-10">*@
                    <div class="col-xs-3 rt">
                        <lable>Customer Name</lable>
                          </div>
                    <div class="col-xs-8">

                        @Html.TextBoxFor(m => m.ObjChangeCustInfo.ClientCustomer, new { @class = "form-control", style = "display:inline;" })
                    </div>
                    @*</div>*@
                 <div class="col-xs-1">
                    <button type="button" class="btn btn-default btn-icon" id="btnChangeCustInfo" onclick="ChangeCustInfo()">
                        <i class="icon wb-search" aria-hidden="true"></i>
                    </button>

                </div>

            </div>
            <div class="form-group col-xs-12 lt">
                @*<div class="col-xs-1"></div>*@
                @*<div class="col-xs-10">*@
                    <div class="col-xs-3 rt">
                        <lable>Ref Num</lable>
                        </div>
                    <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.ObjChangeCustInfo.RefNum, new { @class = "form-control", style = "display:inline;" })
                        </div>
                    @*</div>*@
                <div class="col-xs-3"></div>
            </div>
                <div class="form-group col-xs-12 lt">
                    @*<div class="col-xs-1">&nbsp;</div>*@
                    @*<div class="col-xs-10">*@
                    <div class="col-xs-3 rt">
                        <lable>Contact Name</lable>
                    </div>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(m => m.ObjChangeCustInfo.ContactName, new { @class = "form-control", style = "display:inline;" })
                    </div>
                    @*</div>*@
                    <div class="col-xs-3"></div>
                </div>
               
                 <div class="form-group col-xs-12 lt">
                @*<div class="col-xs-1"></div>*@
                @*<div class="col-xs-10">*@
                <div class="col-xs-3 rt">
                    <lable>Address</lable>
                </div>
                <div class="col-xs-8">
                    @Html.TextBoxFor(m => m.ObjChangeCustInfo.AddressLine1, new { @class = "form-control", style = "display:inline;" })
                </div>
                     <div class="col-xs-3"></div>
                @*</div>*@
                
            </div>

            <div class="form-group col-xs-12 lt">
                @*<div class="col-xs-1"></div>*@
                @*<div class="col-xs-10">*@
                <div class="col-xs-3 rt">
                    <lable></lable>
                </div>
                <div class="col-xs-8">
                    @Html.TextBoxFor(m => m.ObjChangeCustInfo.AddressLine2, new { @class = "form-control", style = "display:inline;" })
                </div>
                <div class="col-xs-3"></div>
                @*</div>*@
              
            </div>

            <div class="form-group col-xs-12 lt">
                @*<div class="col-xs-1"></div>*@
                <div class="col-xs-3 rt">
                    <lable></lable>
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.ObjChangeCustInfo.City, new { @class = "form-control", style = "display:inline;" })
                </div>
                <div class="col-xs-1">
                    @Html.TextBoxFor(m => m.ObjChangeCustInfo.State, new { @class = "form-control", style = "display:inline; width:71px; margin-left: -24px;" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.ObjChangeCustInfo.PostalCode, new { @class = "form-control", style = "display:inline;" })
                </div>
                <div class="col-xs-1"></div>
            </div>

            <div class="form-group col-xs-12 lt">
                @*<div class="col-xs-1"></div>*@
                @*<div class="col-xs-10">*@
                <div class="col-xs-3 rt">
                    <lable>Phone</lable>
                </div>
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.ObjChangeCustInfo.Telephone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;" })
                </div>
                @*</div>*@
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group col-xs-12 lt">
                @*<div class="col-xs-1"></div>*@
                @*<div class="col-xs-10">*@
                <div class="col-xs-3 rt">
                    <lable>Fax</lable>
                </div>
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.ObjChangeCustInfo.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;" })
                </div>
                @*</div>*@
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group col-xs-12 lt">
                @*<div class="col-xs-1"></div>*@
                @*<div class="col-xs-10">*@
                <div class="col-xs-3 rt">
                    <lable>Email</lable>
                </div>
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.ObjChangeCustInfo.Email, new { @class = "form-control", style = "display:inline;" })
                </div>
                <div class="col-xs-4"></div>
                @*</div>*@
                
            </div>
            &nbsp;
            <div class="form-group col-xs-12 lt">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 checkbox-sm">
                 
                    @Html.CheckBoxFor(m => m.ObjChangeCustInfo.NoNTO)
                    <lable>NoNTO</lable>
                </div>
                <div class="col-xs-2 checkbox-sm">
                    
                    @Html.CheckBoxFor(m => m.ObjChangeCustInfo.NoCallCust, "R")
                    <lable>NoCall</lable>
                </div>
                <div class="col-xs-2 checkbox-sm">
                   
                    @Html.CheckBoxFor(m => m.ObjChangeCustInfo.CustAllSend, "R")
                    <lable>AllSend</lable>
                </div>
                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.ObjChangeCustInfo.CustNoSend, "R")
                    <lable>NoSend</lable>
                </div>
                <div class="col-xs-3 checkbox-sm">
                     @Html.CheckBoxFor(m => m.ObjChangeCustInfo.NoJointCk, "R")
                    <lable>NoJointCK</lable>
                                </div>
                
            </div>

            
           
               
            </div>

        </fieldset>
    </div>

        </div>
 </div>


    <div id="hiddenfields">
    
        @Html.HiddenFor(m => m.ClientCode)
        @Html.HiddenFor(m => m.ObjChangeCustInfo.CustId)

       
    </div>

    <div class="modal-footer" tabindex="-1">
        <button type="button" class="btn btn-primary" onclick="UpdateCustomerInfo()">OK</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
  

</form>
<script>
    function ChangeCustInfo() {
        debugger;
        showLoadingImage();

        var ClientCode = $("#ClientCode").val();

        $.ajax({
            url: '@Url.Action("LoadChangeCustLookup", "ChangeCustInfo")',
            data: { ClientCode: ClientCode },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal').modal("hide");
                $('#myChangeCustLookUpModel .modal-content').html(data);


                $('#myChangeCustLookUpModel').modal("show");

                // CheckMinDate();
                hideLoadingImage();

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function UpdateCustomerInfo() {
        debugger;
        showLoadingImage();
        var data = $('#FormChangeCustInfo').serialize();
        $.ajax({
            url: '@Url.Action("UpdateChangeCustInfo", "ChangeCustInfo")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                $('.modal-backdrop').remove();
                if (data == 1) {

                    UpdateCustomerInfoSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    NoticeSentWarning();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function UpdateCustomerInfoSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Process Completed",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }

</script>