﻿
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Change Cust Info </h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="ChangeCustInfo">
        </div>
    </div>

</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:750px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width: 720px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>
<div class="modal modal-primary fade" id="myChangeCustLookUpModel" role="dialog">
    <div class="modal-dialog" style="width:950px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:800px !important;margin-top: 10% !important;">

        </div>
        `
    </div>
</div>
<script type="text/javascript">
    function OnPartialLoad() {
        debugger;
        $.ajax({

            url: '@Url.Action("ShowModal", "ChangeCustInfo")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                //$('#DateTimePicker1').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                //$('#DateTimePicker2').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                //$('#DateAssigned').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                //$('#StartDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                //$('#VerifiedDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);


                $('#myModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();

            }
        });
    }

</script>

