﻿@model IEnumerable<CRFView.Adapters.ADClientUser>

@{
    Layout = null;
}



<div>
    <table id="tblClientUsersClient" class="table table-bordered dataTable table-hover grid" border="1">

        <thead>
            <tr>
                <th>Client Code</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Last Login Date</th>
                <th class="no-sort">Is Inactive</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.ClientCode</td>
                    <td>@i.FName @i.LName</td>
                    <td>@i.UserName</td>
                    <td>@i.Email</td>
                    @{
                        if (i.LastLoginDate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.LastLoginDate.ToString("MM/dd/yyyy")</td>
                        }
                    }
                    <td>@i.isinactive</td>
                    <td>
                        @*@Html.ActionLink(" ", "Edit", new { id = i.id }, new { id = "myLink", @class = "btn btn-default btn-icon btn-pure icon wb-edit modal-link" })*@
                        <button onclick="ShowDetails(@i.ID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                        }
      
        </tbody>
    </table>
   
</div>
