﻿@model IEnumerable<CRFView.Adapters.ADClientUser>

<div>

    <h3 class="page-header">Client Users</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @*@{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}*@
        @{Html.RenderPartial("~/Views/Shared/_SearchDivClientUsers.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewClients/ClientConfigurations/ClientUsers/_ClientUsersList.cshtml");}
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {

    }
    function AddDetails() {
        $.ajax({
            url: '@Url.Action("ClientUserAdd", "ClientUsersClient")',

            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                    $('#DivClientGroup').hide();
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });

    }
    function ShowDetails(id) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ClientUserDetails", "ClientUsersClient")',
            data: {
                id: id
            },
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                debugger;
           
                var ShowDropDown = $("#HasGroupAccessHdn").val();
                if(ShowDropDown=='True')
                {
                    $('#DivClientGroup').show();
                }
                else
                {
                    $('#DivClientGroup').hide();
                }
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
              
            }
        });

    }
    function Search() {
        debugger;
        var searchVal = $("#txtSearch").val().trim();
        var SearchKey = $("#ddlFilter").val();
        var ddl2Val;
        if ($('#ddlFilter').val() == "5" || $('#ddlFilter').val() == "6")
        {
            ddl2Val = $('#ddl2').val();
        }
        if (($('#ddlFilter').val() == "5") || ($('#ddlFilter').val() == "6"))
        {
            $.ajax({
                url: '@Url.Action("Search", "ClientUsersClient")',
                data: { value: searchVal, Key: SearchKey, ddl2Val: ddl2Val },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientUsersClient');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }
        else
        {
            if (searchVal != "" && SearchKey != "") {
                $.ajax({
                    url: '@Url.Action("Search", "ClientUsersClient")',
                    data: { value: searchVal, Key: SearchKey },
                    type: "POST",
                    success: function (data) {
                        $('#list').html(data);
                        makeDatatable('tblClientUsersClient');
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
        }
        
        return false;
    }

    function Refresh() {
        $("#txtSearch").val("");
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Refresh", "ClientUsersClient")',
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                ClearDatatableState('tblClientUsersClient');
                makeDatatable('tblClientUsersClient');
                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }


    $("#ddlFilter").change(function () {
        debugger;
        if($('option:selected', this).text()=='IsInactive')
        {
            $('#ddl2').empty();
            $("#ddl2").append(new Option("True", "1"));
            $("#ddl2").append(new Option("False", "0"));
            $('#ddl2').val("0");
            $("#ddl2").show();
            $('#txtSearch').val('');
            $("#txtDate").hide();
            $('#txtSearch').hide();
            $('#btnCross').hide();
        }
        else if ($('option:selected', this).text() == 'LastLoginDate')
        {
            $('#ddl2').empty();
            $("#ddl2").append(new Option("On", "1"));
            $("#ddl2").append(new Option("Not On", "2"));
            $("#ddl2").append(new Option("After", "3"));
            $("#ddl2").append(new Option("On or After", "4"));
            $("#ddl2").append(new Option("Before", "5"));
            $("#ddl2").append(new Option("On or Before", "6"));
            $('#ddl2').val("5");
            $("#ddl2").show();
            $('#txtDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
            $('#txtDate').show();
            $('#txtSearch').hide();
            $('#btnCross').hide();
        }
        else
        {
            $("#ddl2").hide();
            $('#txtSearch').val('');
            $("#txtDate").hide();
            $('#txtSearch').show();
            $('#btnCross').show();
        }
    });
</script>



