﻿@model IEnumerable<CRFView.Adapters.ADLawLists>
@{
    
    Layout = null;
}


<div>
    <table id="tblLawLists" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>LawList Code </th>
                <th>LawList</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.LawListCode</td>     
                    <td>@i.LawList </td>  
                    <td>
                            <button onclick="ShowDetails(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
