﻿@model CRFView.Adapters.ADJobViewDesks
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
         <h3 class="Details-Heading">Details
             <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                 <span aria-hidden="true">×</span>
             </button></h3>
    </div>

    @Html.HiddenFor(m => m.DeskId)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Desk Number:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.DeskNum, new { @class = "form-control", @style="text-transform:uppercase"})
                <div id="ErrorDeskNum" class="Invalid-feedback" style="display:none">
                    Please Enter Desk Number.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Desk Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.DeskName, new { @class = "form-control" })
                <div id="ErrorDeskName" class="Invalid-feedback" style="display:none">
                    Please Enter Desk Name.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("JobViewDesksSave", "JobViewDesks")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "JobViewDesks")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblJobViewDesks');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#DeskNum").val().length <= 0) {
            $("#ErrorDeskNum").show();
            return false;
        }
        else {
            $("#ErrorDeskNum").hide();
        }
        if ($("#DeskName").val().length <= 0) {
            $("#ErrorDeskName").show();
            return false;
        }
        else {
            $("#ErrorDeskName").hide();
        }

        return true;
    }
</script>



