﻿@model CRFView.Adapters.Liens.JVTXNoticeRequest.CloseCycle.ViewModels.JVTXCloseCycleVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .rt {
        text-align: right;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormJVTXCloseCycle">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Texas Requests / Close Cycle
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">
            <b>
                <lable style="font-weight: 1000; font-size: large;">
                    @Html.Raw(@ViewBag.lblMessage.Replace(Environment.NewLine, "<br/>"))
                </lable>
            </b>
        </div>

    </div>


    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnJVTXCloseCycleOK" value="OK" class="btn btn-primary" onclick="OKJVTXCloseCycle()" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")" />
            <input type="button" value="Cancel" id="btnJVTXCloseCycleCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    //button OKJVTXCloseCycle
    function OKJVTXCloseCycle() {
        debugger;
        showLoadingImage();

        $("#myModal").modal("hide");
        debugger;
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        var data = $('#FormJVTXCloseCycle').serialize();

        $.ajax({
            url: '@Url.Action("JVTXRequestCloseCycle", "JVTXCloseCycle")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;

                if (data == 1) {
                    CreateJVTXRequestCloseCycleSuccessPopup();
                    hideLoadingImage();
                }
                else if (data < 0) {
                    alert('Error In Processing JV Texas Request Close Cycle.');
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CreateJVTXRequestCloseCycleSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Requested!",
            text: "JV Texas Close Cycle Requested Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>






