﻿@model CRFView.Adapters.Liens.Managements.DeleteCustomer.ViewModels.DeleteCustomerVM
@{
    Layout = null;
}


<style>

    .btn{
        padding: 4px;
    }

</style>



<form id="FormCustomerLookUp">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>
                 Customer LookUp
            </label>
            <button type="button" class="close" onclick="CancelCustomerLookUpModel();" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">

                <div class="col-xs-12 NopaddingLR">
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-4 rt" style="margin-left: -148px;">
                        @*@Html.RadioButtonFor(m => m.RdbBtn, "N", new { @checked = true })&nbsp;*@
                     
                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-4 rt" style="margin-left: -170px;">
                        @Html.RadioButtonFor(m => m.RdbBtn, "N" ,new { @checked = true })
                        <lable>&nbsp;By Name</lable>
                        &nbsp; &nbsp; &nbsp;
                        @Html.RadioButtonFor(m => m.RdbBtn, "R")
                        <lable>&nbsp;By Reference</lable>
                    </div>
                </div>

                <div class="col-xs-12">&nbsp;</div>

                <div class="col-xs-12 NopaddingLR">
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-6 rt">
                        @Html.TextBoxFor(m => m.cboCustName, new { @class = "form-control", style = "display:inline;" })
                    </div>
                    <div class="col-xs-2">
                        <input type="button" id="btnFind" value="Search" class="btn btn-primary" onclick="CustomerLookUpList();"/>
                    </div>
                </div>

             <div class="col-xs-12">&nbsp;</div>
               <div class="col-xs-12  form-group">
                    <div class="col-xs-12 NopaddingLR">
                        <br />
                        <div id="tblCustomerLookUp" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.ClientCustomerList.Count <= 0  ? "display:none" : "display:block")">
                            <table id="tblCustomerLookUp" class="table table-bordered dataTable table-hover grid " border="1" style="width:946px;">
                                <thead>
                                    <tr>
                                        <th class="no-sort" style="width: 13px;">View</th>
                                         @if (Model.RdbBtn == "N")
                                         {
                                            <th style="width: 30px;">Name</th>
                                            <th style="width: 82px;">Ref Num</th>
                                         }
                                         else
                                         {
                                            <th style="width: 82px;">Ref Num</th>
                                            <th style="width: 30px;">Name</th>
                                         }

                                        <th style="width: 82px;">Address</th>
                                        <th style="width: 82px;">Id</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.ClientCustomerList.Count >= 1)
                                    {
                                       foreach (var i in Model.ClientCustomerList)
                                       {
                                         <tr>
                                             <td>
                                                 <button type="button" class="btn btn-default btn-icon btn-pure" onclick="ShowDetails('@i.Id', @Model.Delvalue, @Model.Repvalue)">
                                                     <i class="icon wb-eye" aria-hidden="true"></i>
                                                 </button>
                                             </td>
                                             @if (Model.RdbBtn == "N")
                                             {
                                                <td>
                                                    @i.Name
                                                </td>
                                                <td>
                                                    @i.Ref
                                                </td>
                                             }
                                             else if (Model.RdbBtn == "R")
                                             {
                                                <td>
                                                    @i.Ref
                                                </td>
                                                <td>
                                                    @i.Name
                                                </td>
                                             }
                                             <td>
                                                 @i.Address
                                             </td>
                                             <td>
                                                 @i.Id
                                             </td>
                                         </tr>
                                       }
                                } 
                                </tbody>
                            </table>
                        </div>
                    </div>
               </div>
            </div>
        </div>

        <div id="hiddenFields">
            @Html.HiddenFor(m => m.Message)
            @Html.HiddenFor(m => m.Delvalue)
            @Html.HiddenFor(m => m.Repvalue)
            @Html.HiddenFor(m => m.ClientId)
        </div>

     </div>

             <div class="modal-footer">
                 <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                     <input type="button" value="Cancel" id="CancelModalCtomerLokkUp" class="btn btn-primary" data-dismiss="modal" onclick="CancelCustomerLookUpModel();" />
                 </div>
             </div>
</form>


<script type="text/javascript">

    $("[name='RdbBtn']").click(function () {
        debugger;
        $('#cboCustName').val("");
    });

    function CancelCustomerLookUpModel() {
        $('#myCustomerLookUpModel').modal("hide");
        $('#myModal').modal("show");
    }

    function CustomerLookUpList() {
        debugger;
        var data = $('#FormCustomerLookUp').serialize();
        $.ajax({
            url: '@Url.Action("GetCustomerLookUpList", "DeleteCustomer")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    $('#myCustomerLookUpModel .modal-content').html(data);
                }
                else {
                    $("#myCustomerLookUpModel").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myCustomerLookUpModel").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }


    function ShowDetails(Id, Delvalue) {
        debugger;
        showLoadingImage();
        Id = Id.substring(1);
       
        $.ajax({
            url: '@Url.Action("LoadDeleteCustomer", "DeleteCustomer")',
            //data: { JobId: JobId },
            data: { Id: Id, Delvalue: Delvalue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myCustomerLookUpModel').modal("hide");
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                var message = $("#Message").val();
                if (message != "") {
                    NoticeSentWarningRep();
                }
             

                hideLoadingImage();

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function NoticeSentWarningRep() {
        debugger;

        swal({
            title: "Replacing customer cannot be the same deleting customer",
            type: "error",
            confirmButtonText: "ok"
        });
    }


</script>