﻿@model CRFView.Adapters.Liens.Managements.DeleteCustomer.ViewModels.DeleteCustomerVM
@{
    Layout = null;
}


<style>
    .rt {
        text-align: right;
    }
</style>


<form id="FormDeleteCustomer">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            Delete Customer
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>
    <div class="modal-body" style="text-align:left">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                
                <div class="col-xs-12">&nbsp;</div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Client Number</lable>
                    </div>
                    <div class="col-xs-8">
                        @Html.DropDownListFor(m => m.ClientId, Model.ChangeClientCodeList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                    </div>
                </div>
             </div>

            <div class="col-xs-12">&nbsp;</div>

                        <div class="col-xs-12 NopaddingLR">
                            <fieldset class="customFieldset">
                                <legend>Select Customer to DELETE</legend>
                                <div class="col-xs-12 NopaddingLR">

                                    <div class="form-group col-xs-12 lt">
                                        <div class="col-xs-1">&nbsp;</div>
                                        <div class="col-xs-10">
                                            @Html.TextBoxFor(m => m.DelCustName, new { @class = "form-control", style = "display:inline;" })
                                        </div>
                                        <div class="col-xs-1">
                                            <button type="button" onclick="SearchDelCustomerLokkUp(@Model.objADClient.ClientId, @Model.DelCustId)" class="btn btn-default btn-icon">
                                                <i class="icon wb-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 lt">                                        
                                        <div class="col-xs-1">&nbsp;</div>
                                        <div class="col-xs-6">
                                            @Html.TextBoxFor(m => m.DelRefNum, new { @class = "form-control", style = "display:inline;" })
                                        </div>
                                        <div class="col-xs-5">&nbsp;</div>
                                    </div>
                                    <div class="form-group col-xs-12 lt">
                                        <div class="col-xs-1">&nbsp;</div>
                                        <div class="col-xs-10">
                                            @Html.TextBoxFor(m => m.DelAddr1, new { @class = "form-control", style = "display:inline;" })
                                        </div>
                                        <div class="col-xs-1">&nbsp;</div>
                                    </div>
                                    <div class="form-group col-xs-12 lt">
                                        <div class="col-xs-1">&nbsp;</div>
                                        <div class="col-xs-10">
                                            @Html.TextBoxFor(m => m.DelAddr2, new { @class = "form-control", style = "display:inline;" })
                                        </div>
                                        <div class="col-xs-1">&nbsp;</div>
                                    </div>
                                    <div class="form-group col-xs-12 lt">
                                        <div class="col-xs-1">&nbsp;</div>
                                        <div class="col-xs-6">
                                            @Html.TextBoxFor(m => m.DelCity, new { @class = "form-control", style = "display:inline;" })
                                        </div>
                                        <div class="col-xs-1">
                                            @Html.TextBoxFor(m => m.DelState, new { @class = "form-control", style = "display:inline; width:71px; margin-left: -22px;" })
                                        </div>
                                        <div class="col-xs-3">
                                            @Html.TextBoxFor(m => m.DelZip, new { @class = "form-control", style = "display:inline;" })
                                        </div>
                                        <div class="col-xs-1">&nbsp;</div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>

                        <div class="col-xs-12">&nbsp;</div>


            <div class="col-xs-12 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Select Customer to Replace With</legend>
                    <div class="col-xs-12 NopaddingLR">

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.RepCustName, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">
                                <button type="button" onclick="SearchRepCustomerLokkUp(@Model.objADClient.ClientId, @Model.DelCustId)" class="btn btn-default btn-icon">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.RepRefNum, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-5">&nbsp;</div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.RepAddr1, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">&nbsp;</div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.RepAddr2, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">&nbsp;</div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">&nbsp;</div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.RepCity, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.RepState, new { @class = "form-control", style = "display:inline; width:71px; margin-left: -22px;" })
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.RepZip, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1">&nbsp;</div>
                        </div>

                    </div>

                </fieldset>
            </div>



                  

                    </div>

            </div>

           <div id="hiddenFields">
               @Html.HiddenFor(m => m.Message)
               @Html.HiddenFor(m => m.DelCustId)
               @Html.HiddenFor(m => m.RepCustId)
               @Html.HiddenFor(m => m.Delvalue)
               @Html.HiddenFor(m => m.Repvalue)
           </div>

            <div class="modal-footer" tabindex="-1">
                <button type="button" class="btn btn-primary" onclick="DeleCustomerDetails()">OK</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
</form>



<script type="text/javascript">

    function SearchRepCustomerLokkUp() {
        var ClientId = $("#ClientId").val();``
  
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModalRepCustomerLookup", "DeleteCustomer")',
            data: { ClientId: ClientId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal').modal("hide");
                $('#myCustomerLookUpModel .modal-content').html(data);


                $('#myCustomerLookUpModel').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function SearchDelCustomerLokkUp() {
        var ClientId = $("#ClientId").val();
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModalCustomerLookup", "DeleteCustomer")',
            data: { ClientId: ClientId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal').modal("hide");
                $('#myCustomerLookUpModel .modal-content').html(data);


                $('#myCustomerLookUpModel').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function DeleCustomerDetails() {
        debugger;
        showLoadingImage();
        var data = $('#FormDeleteCustomer').serialize();
        $.ajax({
            url: '@Url.Action("DeleteCustomerDetails", "DeleteCustomer")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                $('.modal-backdrop').remove();
                if (data == 1) {

                    DeleteCustomerSuccessPoppup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    NoticeSentWarning();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function DeleteCustomerSuccessPoppup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Process Completed",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }


</script>


