﻿@model CRFView.Adapters.ADTeam
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Team Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.TeamName, new { @class = "form-control" })
                <div id="ErrorTeamName" class="Invalid-feedback" style="display:none">
                    Please Enter Team Name.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Team Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.TeamCode, new { @class = "form-control" , @maxlength = "4" , @style = "text-transform:uppercase" })
                <div id="ErrorTeamCode" class="Invalid-feedback" style="display:none">
                    Please Enter Team Code.
                </div>
            </div>           
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsSalesTeam)<lable class="Checkbox-lable">Sales Team</lable>
            </div>
            <div class="col-md-3 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsServiceTeam)<lable class="Checkbox-lable">Service Team</lable>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Team Manager:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              @Html.DropDownListFor(m => m.ManagerId, new SelectList(ViewBag.ManagerList, "Id", "Name"),"Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>

        <div class="form-group col-xs-12">
            <div class="col-xs-5">
                temp
               
                @Html.DropDownList("ddlAvailableList", new SelectList(ViewBag.AllInternalUsersList, "Id", "Name"), new { @class = "form-control", style = "height: auto;" })
            </div>

            <div class="col-xs-2">

                <button type="button" id="rightSelected" class="btn btn-block" onclick="addSelectedClientList();"><i class=""></i>Add</button>
                <button type="button" id="leftSelected" class="btn btn-block" onclick="removeSelectedClientList();"><i class=""></i>Remove</button>

            </div>

            <div class="col-xs-5">
               temp
                @Html.ListBox("ddlSelectedList", new SelectList(ViewBag.SelectedUsersList, "Id", "Name"), new { @class = "form-control", style = "height: auto;" })
            </div>
            <div id="hiddentContent">
                @Html.HiddenFor(m => m.UserList)
             </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnDelete" value="Delete" class="btn btn-primary pull-left" onclick="Delete(@Model.Id)" />
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Delete(Id)
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("DeleteTeam", "ClientTeams")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                if(data==true)
                {
                    $('#myModal').modal("hide");
                    $('#deleteMsg').show();
                    hideLoadingImage();
                    Refresh();
                }
                else{
                    $('#WideModal').modal("hide");
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#WideModal').modal("hide");
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function Save() {
        if (Validate()) {
            showLoadingImage();

            var SelectedList = "";
            $("#ddlSelectedList option").each(function () {
                SelectedList += $(this).val() + ",";
            });
            $('#UserList').val(SelectedList);

            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("TeamSave", "ClientTeams")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientTeams');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    function addSelectedClientList() {
        debugger;
        var flag = false;
        var selectedText = $('#ddlAvailableList').find("option:selected").text();
        var selectedValue = $('#ddlAvailableList').val();
        if ($('#ddlSelectedList option').length > 0) {
            $("#ddlSelectedList option").each(function () {
                if ($(this).val() == selectedValue) {
                    flag = true;
                }
            });
            if (flag == false) {
                $('#ddlSelectedList').prepend('<option value="' + selectedValue + '">' + selectedText + '</option>');
            }
        }
        else {
            $('#ddlSelectedList').prepend('<option value="' + selectedValue + '">' + selectedText + '</option>');
        }

    }

    function removeSelectedClientList() {
        debugger;
        var selectedValue = $('#ddlSelectedList').val();
        $('#ddlSelectedList option[value="' + selectedValue + '"]').remove();

    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#TeamName").val().length <= 0) {
            $("#ErrorTeamName").show();
            return false;
        }
        else {
            $("#ErrorTeamName").hide();
        }
        if ($("#TeamCode").val().length <= 0) {
            $("#ErrorTeamCode").show();
            return false;
        }
        else {
            $("#ErrorTeamCode").hide();
        }
        return true;
    }
</script>



