﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.NewClientVM
@{
    Layout = null;
}

<form id="FormBranchEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client Branch Signer</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div id="hiddenFieldsBranch">
            @Html.HiddenFor(m => m.ADC_obj.ClientId)
            @Html.HiddenFor(m => m.ADC_obj.ParentClientId)
            @Html.HiddenFor(m => m.ADC_obj.ClientCode)
        </div>

        <div id="BasicInfo" class="col-xs-6 NopaddingLR">
            <div class="col-xs-12 NopaddingLR  form-group">
                <div class="col-xs-4 text-left NopaddingLR">
                    <lable>Branch Number</lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    @Html.TextBoxFor(m => m.ADC_obj.BranchNumber,new { @class= "form-control" })
                </div>
            </div>
            <div class="col-xs-12 NopaddingLR  form-group">
                <div class="col-xs-4 text-left NopaddingLR">
                    <lable>Branch Naame</lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    @Html.TextBoxFor(m => m.ADC_obj.ClientName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 NopaddingLR  form-group">
                <div class="col-xs-4 text-left NopaddingLR">
                    <lable>Address 1</lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    @Html.TextBoxFor(m => m.ADC_obj.AddressLine1, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 NopaddingLR  form-group">
                <div class="col-xs-4 text-left NopaddingLR">
                    <lable>Address 2</lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    @Html.TextBoxFor(m => m.ADC_obj.AddressLine2, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 NopaddingLR form-group">
                <div class="col-xs-4 text-left NopaddingLR">
                    <lable> City/St/Zip </lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.ADC_obj.City, new { @class = "form-control" })
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.ADC_obj.State, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.ADC_obj.PostalCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 NopaddingLR form-group">
                <div class="col-xs-4 text-left NopaddingLR">
                    <lable> Phone </lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    <div class="col-xs-5 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.ADC_obj.PhoneNo, new { @class = "form-control", type = "tel", maxlength = "10" })
                    </div>
                    <div class="col-xs-3 no-LeftRight-pad">
                       <lable >Extension</lable>
                    </div>
                    <div class="col-xs-4 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.ADC_obj.PhoneExt, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 NopaddingLR form-group">
                <div class="col-xs-4 text-left NopaddingLR">
                    <lable> Fax </lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    <div class="col-xs-5 no-LeftRight-pad">
                        @Html.TextBoxFor(m => m.ADC_obj.Fax, new { @class = "form-control", type = "tel", maxlength = "10" })
                    </div>
                    <div class="col-xs-4 no-LeftRight-pad">
                        
                    </div>
                    <div class="col-xs-3 no-LeftRight-pad">
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 NopaddingLR  form-group">
                <div class="col-xs-4 text-left NopaddingLR">
                    <lable>Email</lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    @Html.TextAreaFor(m => m.ADC_obj.Email, new { @class = "form-control" ,rows="5"})
                </div>
            </div>
        </div>
        <div id="BranchTabs" class="col-xs-6">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainContact" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainContact" aria-controls="TabMainContact" role="tab" aria-selected="false">Main Contract</a></li>
                <li id="SecondaryContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSecondaryContact" aria-controls="TabSecondaryContact" role="tab" aria-selected="false">Secondary Contact</a></li>
                <li id="Memo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMemo" aria-controls="TabMemo" role="tab" aria-selected="false">Memo</a></li>
                <li id="SignatureImage" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSignatureImage" aria-controls="TabSignatureImage" role="tab" aria-selected="false">Signature Image</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="TabMainContact" role="tabpanel">
                <br />
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-4 NopaddingLR">
                        <lable>Contact</lable>
                    </div>
                    <div class="col-xs-8 NopaddingLR">
                        @Html.TextBoxFor(m => m.ADC_obj.ContactName,new { @class="form-control"})
                    </div>
                    <div id="ErrorContactNameSign" class="Invalid-feedback" style="display:none">
                        Please enter the Contact Name. You can't save signature without the Contact Name.
                    </div>
                </div>
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-4 NopaddingLR">
                        <lable>As</lable>
                    </div>
                    <div class="col-xs-8 NopaddingLR">
                        @Html.TextBoxFor(m => m.ADC_obj.ContactSalutation, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-4 NopaddingLR">
                        <lable>Title</lable>
                    </div>
                    <div class="col-xs-8 NopaddingLR">
                        @Html.TextBoxFor(m => m.ADC_obj.ContactTitle, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-4 NopaddingLR">
                        <lable>Birth Date</lable>
                    </div>
                    <div class="col-xs-8 NopaddingLR">

                        @Html.TextBoxFor(m => m.ADC_obj.ContactDOB, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:117px" })
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TabSecondaryContact" role="tabpanel">
                <br />
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>Contact</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR">
                        @Html.TextBoxFor(m => m.ADC_obj.ContactName2, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>As</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR">
                        @Html.TextBoxFor(m => m.ADC_obj.ContactSalutation2, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>Title</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR">
                        @Html.TextBoxFor(m => m.ADC_obj.ContactTitle2, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>Email</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR">
                        @Html.TextBoxFor(m => m.ADC_obj.ContactEmail2, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>Phone</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR">
                        <div class="col-xs-5 no-LeftRight-pad">
                            @Html.TextBoxFor(m => m.ADC_obj.ContactPhoneNo2, new { @class = "form-control", type = "tel", maxlength = "10" })
                        </div>
                        <div class="col-xs-3 no-LeftRight-pad">
                            <lable>Extension</lable>
                        </div>
                        <div class="col-xs-4 no-LeftRight-pad">
                            @Html.TextBoxFor(m => m.ADC_obj.ContractPhoneNo2Ext, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 NopaddingLR form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>Birth Date</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR">
                        @Html.TextBoxFor(m => m.ADC_obj.ContactDOB2, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:117px" })
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TabMemo" role="tabpanel">
                <br />
                <div class="col-xs-12">
                    @Html.TextAreaFor(m => m.ADC_obj.Note, new { @class="form-control",rows="11"} )
                </div>
            </div>
            <div class="tab-pane" id="TabSignatureImage" role="tabpanel">
                <br />
                <div class="col-xs12">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6" style="padding:0">
                        @Html.HiddenFor(m => m.ADC_BranchSigner.Signature)
                        @Html.HiddenFor(m => m.ADC_BranchSigner.Id)
                        @Html.HiddenFor(m => m.ADC_BranchSigner.ClientId)
                        <div class="form-group col-md-12 col-sm-12 col-xs-12 image-panel" style="padding:0">
                            <img id="Branchimagefield" src="#" class="image-padding" />
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="file-upload">
                                <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                                <input id="uploadimageBranch" class="file-upload__input" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg">
                            </div>
                            <button id="btnDeleteImage" class="btn btn-default" onclick="$('#Branchimagefield').attr('src','@Url.Content("~/Content/Images/Noimage.png")'); $('#uploadimageBranch').val(''); return false;">
                                <i class="wb-close"></i>
                                Delete
                            </button>
                        </div>
                        <div id="ErrorImage" class="Invalid-feedback" style="display:none">
                            Please Select Image.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClearBranch" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalBranch(@Model.ADC_obj.ClientId)" />
            <input type="button" id="btnDeleteBranch" value="Delete" class="btn btn-primary" onclick="DeleteBranch(@Model.ADC_obj.ClientId);" />
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveBranchInformation();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalBranch();" />
        </div>
    </div>
</form>

<script>

    function CloseModalBranch() {
        $('#WideModal').modal("hide");
    }

    $("#uploadimageBranch").change(function () {
        debugger;
        if ($('#uploadimageBranch').val() != "") {
            readImage(this, "Branchimagefield", "ADC_BranchSigner_Signature");
        }
    });

    function ClearModalBranch(id)
    {
        $.ajax({
            url: '@Url.Action("ShowBranchDetails", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#WideModal .modal-content').html(data);
                $('#ADC_obj_ContactDOB').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#ADC_obj_ContactDOB2').datepicker({ format: 'mm/dd/yy' }).datepicker();
                ConvertImagetoDataURLBranchSignature();
                CheckMinDate();
                $('#WideModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function DeleteBranch(Id)
    {
        debugger;
        var ClientId = @Model.ADC_obj.ParentClientId;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("DeleteBranch", "ViewClients")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                if(data==true)
                {
                    $('#WideModal').modal("hide");
                    $('#deleteMsg').show();
                    hideLoadingImage();
                    ShowDetails(ClientId);
                }
                else{
                    $('#WideModal').modal("hide");
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#WideModal').modal("hide");
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function SaveBranchInformation()
    {
        debugger;
        var id = @Model.ADC_obj.ParentClientId;
        if (Validate())
        {
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("SaveBranch", "ViewClients")',
                data: $('#FormBranchEdit').serialize(),
                type: "POST",
                success: function (data) {
                    if (data == true) {
                        hideLoadingImage();
                        $('#successMsg').show();
                        $('#WideModal').modal("hide");
                        ShowDetails(id);
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                        $('#WideModal').modal("hide");
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#WideModal').modal("hide");
                }

            });
        }
    }
    function Validate()
    {
        debugger;
        if ($('#uploadimageBranch').val() )
        {
            if ($("#ADC_obj_ContactName").val().length <= 0)
            {
                $("#ErrorContactNameSign").show();
                RemoveActiveClassBranch();
                $("#MainContact").addClass("active");
                $("#TabMainContact").addClass("active");
                return false;
            }
            else
            {
                $("#ErrorContactNameSign").hide();
            }
        }
        return true;
    }

    function RemoveActiveClassBranch() {
        var IdList = ["MainContact",
                        "SecondaryContact",
                        "Memo",
                        "SignatureImage",
                        "TabMainContact",
                        "TabSecondaryContact",
                        "TabMemo",
                        "TabSignatureImage"];
        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                $("#" + name).removeClass("active");
            }
        });
    }
</script>
