﻿
@model CRFView.Adapters.Clients.ClientManagementViewModels.NewClientVM
@{
    Layout = null;
}

<form id="FormBranchEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client Contact List</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="form-group">
            <div class="col-xs-12 ">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnOKClientReport" value="OK" class="btn btn-primary" onclick="" />
            <input type="button" value="Cancel" id="CancelClientReport" class="btn btn-primary" onclick="" />
        </div>
    </div>
</form>