﻿@using CRFView.Adapters.Clients.Client_Management;
@using System.Reflection; 
@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientCollectionInfoVM
@{
    Layout = null;
}

<form id="FormEditCollectionInfo">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client Collection Info</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainContact" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainContact" aria-controls="TabMainContact" role="tab" aria-selected="false">Main Contact</a></li>
                <li id="SecondaryContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSecondaryContact" aria-controls="TabSecondaryContact" role="tab" aria-selected="false">Secondary Contact</a></li>
                <li id="MiscInfo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMiscInfo" aria-controls="TabMiscInfo" role="tab" aria-selected="false">Misc Info</a></li>
                <li id="Billing" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabBilling" aria-controls="TabBilling" role="tab" aria-selected="false">Billing</a></li>
                <li id="Reporting" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabReporting" aria-controls="TabReporting" role="tab" aria-selected="false">Reporting</a></li>
                <li id="LegalInfo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLegalInfo" aria-controls="TabLegalInfo" role="tab" aria-selected="false">Legal Info</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="hiddenFields">
                @Html.HiddenFor(m => m.Obj_ADCCI.ClientId)
                @Html.HiddenFor(m => m.Obj_ADCCI.Id)
                @Html.HiddenFor(m => m.Obj_ADCCI.ServiceTeamId)
                @Html.HiddenFor(m => m.Obj_ADCCI.SalesTeamId)
                @Html.HiddenFor(m => m.Obj_ADCCI.ProdTeamId)
                @Html.HiddenFor(m => m.Obj_ADCCI.IsActive)
                @Html.HiddenFor(m => m.Obj_ADCCI.ContactPlanId)
                @Html.HiddenFor(m => m.Obj_ADCCI.CBRDays)
                @Html.HiddenFor(m => m.Obj_ADCCI.EmailNotifyPlacements)
                @Html.HiddenFor(m => m.Obj_ADCCI.ITDAvgAge)
                @Html.HiddenFor(m => m.Obj_ADCCI.LastUpdatedBy)
                @Html.HiddenFor(m => m.Obj_ADCCI.LastUpdateDate)
                @Html.HiddenFor(m => m.Obj_ADCCI.InvoiceContactTitle)
                @Html.HiddenFor(m => m.Obj_ADCCI.RemitContactTitle)
                @Html.HiddenFor(m => m.Obj_ADCCI.SetupDate)
                @Html.HiddenFor(m => m.Obj_ADCCI.Venue)
                @Html.HiddenFor(m => m.Obj_ADCCI.ContactAddr1)
                @Html.HiddenFor(m => m.Obj_ADCCI.ContactAddr2)
                @Html.HiddenFor(m => m.Obj_ADCCI.ContactCity)
                @Html.HiddenFor(m => m.Obj_ADCCI.ContactState)
                @Html.HiddenFor(m => m.Obj_ADCCI.ContactZip)                
            </div>
            <div class="tab-pane active" id="TabMainContact" role="tabpanel">
                <br/>
                <div>
                    <fieldset class="customFieldset">
                        <legend>Main Contact</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Contact</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>As</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactSalutation, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Title</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactTitle, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Email</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactEmail, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>CC Email</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactCCEmail, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactPhone, new { @class = "form-control", type = "tel", maxlength = "10" })
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <lable>Ext</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactPhoneExt, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactFax, new { @class = "form-control", type = "tel", maxlength = "10" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Birth Date</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactDOB, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                    </fieldset>
                </div>      
            </div>
            <div class="tab-pane" id="TabSecondaryContact" role="tabpanel">
                <br/>
                <div>
                    <fieldset class="customFieldset">
                        <legend>Secondary Contact</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Contact</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactName2, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>As</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactSalutation2, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Title</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactTitle2, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Email</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactEmail2, new { @class = "form-control" })
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactPhone2, new { @class = "form-control", type = "tel", maxlength = "10" })
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <lable>Ext</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactPhone2Ext, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactFax2, new { @class = "form-control", type = "tel", maxlength = "10" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Birth Date</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.ContactDOB2, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="tab-pane" id="TabMiscInfo" role="tabpanel">
                <br/>
                <div>
                    <div class="col-xs-12">
                        <fieldset class="customFieldset">
                            <legend>Misc Checkboxes</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.NewBusVar) <lable>New Bus Var</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.ClientAgentCode)<lable> Agent Code</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.IsStatusRpt)<lable> 30 Day Status Report</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.BranchBox)<lable> Branch Box</lable>
                                </div>
                             </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.MiscVar) <lable>Misc Var</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.IsNoCBR)<lable> No Credit Reporting</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.IsStatusGroup)<lable> 30 Day Group Status</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.WebNoteAccess)<lable> Web Notes</lable>
                                </div>
                                <div id="ErrorStatus" class="Invalid-feedback" style="display:none">
                                    You are not allowed to check both Status Rpt and Group Status.
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.NoEmail) <lable> No Email</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.EmailBackup)<lable> Email Backup</lable>
                                </div>
                                <div class="col-xs-3">
                                   @Html.CheckBoxFor(m => m.Obj_ADCCI.IsCloseReturn)<lable> Close/Return Report</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.CheckBoxFor(m => m.Obj_ADCCI.AttachDocsOnWeb)<lable> Web/Attach Docs</lable>
                                </div>
                                <div class="Invalid-feedback" id="ErrorStatusGroupReport" style="display:none">
                                    You are not allowed to check both Close/Return and Status Rpt.
                                </div>
                                <div class="Invalid-feedback" id="ErrorCloseReturnStatusRpt" style="display:none">
                                    You are not allowed to check both Close/Return and Group Status.
                                </div>
                                <div class="Invalid-feedback" id="ErrorCloseReturnStatusGroup" style="display:none">
                                    You are not allowed to check both Close/Return and Group Status.
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    &nbsp;<br/>
                    <div class="col-xs-4">
                        <fieldset class="customFieldset">
                            <legend>Credit Cards Accepted </legend>
                            <div class="col-xs-12 form-group">
                                @Html.CheckBoxFor(m => m.Obj_ADCCI.Visa) <lable>Visa</lable>
                            </div>
                            <div class="col-xs-12 form-group">
                                @Html.CheckBoxFor(m => m.Obj_ADCCI.CCMC) <lable>Master Card</lable>
                            </div>
                            <div class="col-xs-12 form-group">
                                @Html.CheckBoxFor(m => m.Obj_ADCCI.Amex) <lable>Amex</lable> 
                            </div>
                            <div class="col-xs-12 form-group">
                                @Html.CheckBoxFor(m => m.Obj_ADCCI.Discover)<lable> Discover</lable>
                            </div>
                            <div class="col-xs-12 form-group">
                                @Html.CheckBoxFor(m => m.Obj_ADCCI.IsCCNone) <lable>None </lable>
                            </div>
                        </fieldset>
                        </div>
                    <div class="col-xs-8">
                        <fieldset class="customFieldset">
                            <legend>Vars</legend>
                            <div class="col-xs-12 form-group">
                            <lable>Legals</lable> @Html.TextAreaFor(m => m.Obj_ADCCI.LegalVars, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-12 form-group">
                                <lable>Report</lable>  @Html.TextAreaFor(m => m.Obj_ADCCI.ReportVars, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-12 form-group">
                                <lable>Misc</lable> @Html.TextAreaFor(m => m.Obj_ADCCI.MscVars, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-12 form-group">
                                <lable>New Bus</lable> @Html.TextAreaFor(m => m.Obj_ADCCI.NBVar, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-12 form-group">
                                <lable>SIF Athority</lable> @Html.TextBoxFor(m => m.Obj_ADCCI.SIFAuthority, new { @class = "form-control" })
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TabBilling" role="tabpanel">
                <div>
                &nbsp;<br/>
                <fieldset class="customFieldset">
                    <legend>Billing Address</legend>
                    <div class="col-xs-12 form-group">
                       <div class="col-xs-2"> 
                           <lable> Name</lable>
                        </div>
                        <div class="col-xs-4">
                             @Html.TextBoxFor(m => m.Obj_ADCCI.InvoiceName, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Phone </lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.InvoicePhone, new { @class = "form-control", maxlength = "10", type = "tel" })
                        </div>
                        </div>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>Attn</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.InvoiceAttn, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Fax </lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.InvoiceFax, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>Address 1 </lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.InvoiceAddr1, new { @class = "form-control" })
                        </div>
                        <div class="Invalid-feedback" id="ErrorInvoiceAddr1" style="display:none">
                            Please enter the Invoice Address.
                        </div>
                        <div class="col-xs-2">
                            <lable>Vendor#</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.VendorNumber, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>Address 2</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.InvoiceAddr2, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-3">

                        </div>
                    </div>


                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>City/St/Zip</lable>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-6 NopaddingLR">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.InvoiceCity, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-2 NopaddingLR">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.InvoiceState, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-4 NopaddingLR">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.InvoiceZip, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-3">

                        </div>
                    </div>
                    
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>Email </lable>
                        </div>
                        <div class="col-xs-10">
                            @Html.TextAreaFor(m => m.Obj_ADCCI.InvoiceEmail, new { @class = "form-control" })
                        </div>
                    </div>     
                   
                 
                </fieldset>
                </div>
                &nbsp;<br/>
            <div>
                <fieldset class="customFieldset">
                    <legend>Remit Address</legend>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable> Name</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.RemitName, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Phone </lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.RemitPhone, new { @class = "form-control", maxlength = "10", type = "tel" })
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>Attn</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.RemitAttn, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Fax </lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.RemitFax, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>Address 1 </lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.RemitAddr1, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            
                        </div>
                        <div class="col-xs-3">
                         
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>Address 2</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.Obj_ADCCI.RemitAddr2, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-3">

                        </div>
                    </div>


                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>City/St/Zip</lable>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-6 NopaddingLR">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.RemitCity, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-2 NopaddingLR">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.RemitState, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-4 NopaddingLR">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.RemitZip, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-3">

                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">
                            <lable>Email </lable>
                        </div>
                        <div class="col-xs-10">
                            @Html.TextAreaFor(m => m.Obj_ADCCI.RemitEmail, new { @class = "form-control" })
                        </div>
                    </div>


                </fieldset>                
            </div>
           </div>
            <div class="tab-pane" id="TabReporting" role="tabpanel">
                &nbsp;<br/>
                <div class="col-xs-12">
                    @Html.CheckBoxFor(m => m.Obj_ADCCI.IsRegAck) <lable> Send Ack</lable>
                </div>
                <div class="col-xs-12">
                    @Html.CheckBoxFor(m => m.Obj_ADCCI.IsIndAck) <lable> Send Individual Ack</lable>        
                </div>
                <div class="col-xs-12">
                    @Html.CheckBoxFor(m => m.Obj_ADCCI.EmailReports) <lable> Email Reports</lable>
                </div>
                <div class="col-xs-12">
                    @Html.TextAreaFor(m => m.Obj_ADCCI.EmailRptTo, new { @class = "form-control" })
                </div>
            </div>
            <div class="tab-pane" id="TabLegalInfo" role="tabpanel">
                &nbsp;<br/>
                <div>
                    <div class="col-xs-6">
                        <fieldset class="customFieldset">
                            <legend>Legal Info</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3">
                                    <lable>Legal</lable>
                                </div>
                                <div class="col-xs-9">
                                     @Html.TextBoxFor(m => m.Obj_ADCCI.LegalName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3">
                                    <lable>Entity</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.Entity, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3">
                                    <lable>DBA</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.DBA, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 ">
                                    <lable>FBN</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.FBN, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3">
                                    <lable>FBN Cnty</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.FBNCounty, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3">
                                    <lable>Expire</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.ExpireDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                                </div>
                            </div>
                            
                        </fieldset>
                    </div>
                    <div class="col-xs-6">
                        <fieldset class="customFieldset">
                            <legend>Physical Address</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <lable>Address 1</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.LegalAddr1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <lable>Address 2</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.LegalAddr2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <lable>City/St/Zip</lable>
                                </div>
                                <div class="col-xs-8">
                                    <div class="col-xs-6 NopaddingLR">
                                      @Html.TextBoxFor(m => m.Obj_ADCCI.LegalCity, new { @class = "form-control" })
                                    </div>
                                    <div class="col-xs-2 NopaddingLR">
                                        @Html.TextBoxFor(m => m.Obj_ADCCI.LegalState, new { @class = "form-control" })
                                    </div>
                                    <div class="col-xs-4 NopaddingLR">
                                        @Html.TextBoxFor(m => m.Obj_ADCCI.LegalZip, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            
                            </fieldset>
                    </div>
                    <div class="col-xs-6">
                       <lable>SC Agreement</lable> @Html.CheckBoxFor(m => m.Obj_ADCCI.SCAgreement)
                    </div>    
                </div>
                &nbsp;<br/>
                <div class="col-xs-12"> 
                    &nbsp;<br />
                    <fieldset class="customFieldset">
                    <legend> Claims Info </legend>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2">
                                <lable>Contact</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.SCContactName, new { @class="form-control"})
                            </div>
                            <div class="col-xs-1">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.SCPhone, new { @class = "form-control" })                  
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2">
                                <lable>As</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.SCContactAs,new { @class="form-control"})
                            </div>
                            <div class="col-xs-1">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.SCFax, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2">
                                <lable>Title</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.SCContactTitle, new { @class = "form-control" })                         
                            </div>
                            <div class="col-xs-1">
                                <lable>Email</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.SCEmail, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2">
                                <lable>Address 1</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.SCAddr1, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-1">

                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2">
                                <lable>Address 2</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.Obj_ADCCI.SCAddr2, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-1">

                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2">
                                <lable> City/St/Zip</lable>
                            </div>
                            <div class="col-xs-5">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.SCCity, new { @class = "form-control" })
                                </div>
                                <div class="col-xs-2 NopaddingLR">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.SCState, new { @class = "form-control" })
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.Obj_ADCCI.SCZip, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-1">

                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>
                   
                     
          
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearModal(@Model.Obj_ADCCI.Id);" />
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveCollectionInfo();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalCollectionInfo();" />
        </div>
    </div>
</form>

<script>

    function ClearModal(id) {
        $.ajax({
            url: '@Url.Action("ShowCollectionInfo", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#InfoModal .modal-content').html(data);
                $('#Obj_ADCCI_ContactDOB').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#Obj_ADCCI_ContactDOB2').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#Obj_ADCCI_ExpireDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                CheckMinDate();
                $('#InfoModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function CloseModalCollectionInfo()
    {
        $('#InfoModal').modal("hide");
    }

    function SaveCollectionInfo() {
        debugger;
        if (Validate()) {
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("SaveCollectionInfo", "ViewClients")',
                data: $('#FormEditCollectionInfo').serialize(),
                type: "POST",
                success: function (data) {
                    //$('#list').html(data);
                    //makeDatatable('tblViewClients');
                    //$("#txtSearch").val("");
                    if(data== true)
                    {
                        hideLoadingImage();
                        $('#successMsg').show();
                        $('#InfoModal').modal("hide");
                    }
                    else
                    {
                        hideLoadingImage();
                        $('#errorMsg').show();
                        $('#InfoModal').modal("hide");
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#InfoModal').modal("hide");
                }

            });

        }
    }

    function Validate()
    {
        if ($("#Obj_ADCCI_InvoiceAddr1").val().length <= 0)
        {
            $("#ErrorInvoiceAddr1").show();
            RemoveActiveClass();
            $("#Billing").addClass("active");
            $("#TabBilling").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorInvoiceAddr1").hide();
        }
        var IsStatusGroup = document.getElementById('Obj_ADCCI_IsStatusGroup').checked;
        var IsStatusRpt = document.getElementById('Obj_ADCCI_IsStatusRpt').checked;
        var IsCloseReturn = document.getElementById('Obj_ADCCI_IsCloseReturn').checked;

        if (IsStatusGroup == true && IsStatusRpt == true)
        {
            $("#ErrorStatusGroupReport").show();
            RemoveActiveClass();
            $("#TabMiscInfo").addClass("active");
            $("#MiscInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorStatusGroupReport").hide();
        }

        if (IsCloseReturn == true && IsStatusRpt == true)
        {
            $("#ErrorCloseReturnStatusRpt").show();
            RemoveActiveClass();
            $("#TabMiscInfo").addClass("active");
            $("#MiscInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorCloseReturnStatusRpt").hide();
        }

        if (IsCloseReturn == true && IsStatusGroup == true) {
            $("#ErrorCloseReturnStatusGroup").show();
            RemoveActiveClass();
            $("#TabMiscInfo").addClass("active");
            $("#MiscInfo").addClass("active");
            return false;
        }
        else {
            $("#ErrorCloseReturnStatusGroup").hide();
        }
        return true;

    }

    function RemoveActiveClass() {
        var IdList = ["MainContact",
                        "SecondaryContact",
                        "MiscInfo",
                        "Billing",
                        "Reporting",
                        "LegalInfo",
                        "TabMainContact",
                        "TabSecondaryContact",
                        "TabMiscInfo",
                        "TabBilling",
                        "TabReporting",
                        "TabLegalInfo"];
        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                $("#" + name).removeClass("active");
            }
        });
    }
 </script>

