﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientContactVM
@{
    Layout = null;
}
<form id="FormLClientContact">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client Contact</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div id="hiddenFields">
            @Html.HiddenFor(m => m.Obj_ClientContact.ClientContactId)
            @Html.HiddenFor(m => m.Obj_ClientContact.ClientId)
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Contact</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Obj_ClientContact.ContactName,new { @class="form-control"})
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Title</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Obj_ClientContact.ContactTitle, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Phone</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.Obj_ClientContact.Telephone1, new { @class = "form-control", type = "tel", maxlength = "10" })
            </div>
            <div class="col-xs-1 NopaddingLR">
                <lable>Extension </lable>
             </div>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.Obj_ClientContact.TelePhone1Ext,new { @class = "form-control"})
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Email</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Obj_ClientContact.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Birth Date</lable>
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.Obj_ClientContact.DOB, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:181.45px" })
             </div>
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 Text-Left">
                <lable>Memo</lable>
            </div>
            <div class="col-xs-10">
                @Html.TextAreaFor(m => m.Obj_ClientContact.Note, new { @class = "form-control", rows = "6" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalContact(@Model.Obj_ClientContact.ClientContactId)" />
            <input type="button" value="Delete" id="btnDelete" class="btn btn-primary pull-left" @(Model.Obj_ClientContact.ClientContactId == 0 ? "disabled='disabled'" : "") onclick="deleteContact(@Model.Obj_ClientContact.ClientContactId)" />
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveContactDetail(@Model.Obj_ClientContact.ClientContactId)" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalContact()" />
        </div>
    </div>
</form>

<script>
    function CloseModalContact() {
        $('#InfoModalBranch').modal("hide");
    }

    function deleteContact(Id)
    {
        debugger;
        var id = @Model.Obj_ClientContact.ClientId;
        $.ajax({
            url: '@Url.Action("DeleteContact", "ViewClients")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                if(data==true)
                {
                    $('#InfoModalBranch').modal("hide");
                    $('#deleteMsg').show();
                    ShowDetails(id);
                }
                else{
                    $('#InfoModalBranch').modal("hide");
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $('#InfoModalBranch').modal("hide");
                $('#errorMsg').show();
            }
        });
    }

    function SaveContactDetail(Id)
    {
        debugger;
        var id = @Model.Obj_ClientContact.ClientId;
        var data = $('#FormLClientContact').serialize();
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SaveUpdateContact", "ViewClients")',
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $("#InfoModalBranch").modal("hide");
                    ShowDetails(id);
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#InfoModalBranch").modal("hide");
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#InfoModalBranch").modal("show");
            }
        });
    }

    function ClearModalContact(id)
    {
        debugger;
        showLoadingImage();
        var ClientId = @Model.Obj_ClientContact.ClientId;
        $.ajax({
            url: '@Url.Action("ShowContact", "ViewClients")',
            data: { id: id,ClientId:ClientId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#InfoModalBranch .modal-content').html(data);
                $('#Obj_ClientContact_DOB').datepicker({ format: 'mm/dd/yy' }).datepicker();
                CheckMinDate();
                $('#InfoModalBranch').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }
</script>



