﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.NewClientVM
@{
    Layout = null;
}

<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client(New Entry)</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body">
        <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
            <div class="form-group row">
                <div class="col-md-4">
                    <lable>Client Code</lable>
                    <span class="ValidationStar">*</span>
                </div>
                <div class="col-md-8">
                @Html.TextBoxFor(m => m.ADC_obj.ClientCode, new { @class = "form-control" })
                    <div id="ErrorClientCode" class="Invalid-feedback" style="display:none">
                        Please Enter Client Code.
                    </div>
                    <div id="ErrorClientCodeDuplicate" class="Invalid-feedback" style="display:none">
                        Client Code Already Exists.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Client Name</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.ClientName, new { @class = "form-control" }) 
                    <div id="ErrorClientName" class="Invalid-feedback" style="display:none">Please Enter Client Name.</div>                                                                                                                         
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable> Address 1</lable> 
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.AddressLine1, new { @class = "form-control" })
                    <div id="ErrorClientAddress" class="Invalid-feedback" style="display:none">Please Enter Client Address.</div>                                                                                                                         
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable> Address 2</lable> 
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.AddressLine2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>City/St/Zip<lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 " style="padding-right:41px">
                    @Html.TextBoxFor(m => m.ADC_obj.City, new { Style = "width:100px" })@Html.TextBoxFor(m => m.ADC_obj.State, new { Style = "width:30px" })@Html.TextBoxFor(m => m.ADC_obj.PostalCode, new { Style = "width:50px" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Phone</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 pad-right-62">
                    @Html.TextBoxFor(m => m.ADC_obj.PhoneNo,new { style="width:90px", type = "tel", maxlength = "10" })
                    <lable>Ext</lable>            
                    @Html.TextBoxFor(m => m.ADC_obj.PhoneExt, new { style = "width:40px" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Fax<lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.Fax, new { @class = "form-control", type ="tel", maxlength = "10", style = "width:90px" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Email<lable>                      
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.Email, new { @class = "form-control", type = "email"})
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Contact<lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.ContactName, new { @class = "form-control"})
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Salutation<lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.ContactSalutation, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Title<lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.ContactTitle, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Tax Id<lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.TaxId,new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Birth Date<lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.ContactDOB, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker",style="width:100px" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <lable>Setup Date<lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ADC_obj.SetupDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:100px" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                    <lable>Commission Date<lable>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.TextBoxFor(m => m.ADC_obj.CommissionDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:100px" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">                    
                </div>
                <div class="col-md-8 col-sm-6 col-xs-8 pad-right-125">
                    @Html.CheckBoxFor(m => m.ADC_obj.IsLienClient) <lable>Lien Client</lable>                
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.CheckBoxFor(m => m.ADC_obj.IsCollectionClient) <lable> Is Collection Client</lable>
                    <div id="ErrorClientLienCollection" class="Invalid-feedback" style="display:none">Please check Lien or Collection Client.</div>                                                                                                                            
            </div>
        </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.CheckBoxFor(m => m.ADC_obj.IsRentalCo) <lable>Is Rental Company</lable>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                    <lable>Main Client</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 no-LeftRight-pad">
                  @Html.DropDownListFor(m => m.ADC_obj.ParentClientId, Model.MainClientList, new { @class = "form-control no-LeftRight-pad" })
                  <div id="ErrorMainClient" class="Invalid-feedback" style="display:none">Please select the Main Client</div> 
                </div>
                </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                    <lable>Sales Team</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 no-LeftRight-pad">
                    @Html.DropDownListFor(m => m.ADC_obj.SalesTeamId, Model.SalesTeamList,"Select", new { @class = "form-control no-LeftRight-pad" })                   
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                    <lable>Service Team</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 no-LeftRight-pad">
                    @Html.DropDownListFor(m => m.ADC_obj.ServiceTeamId, Model.ServiceTeamList, "Select", new { @class = "form-control no-LeftRight-pad" })
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                    <lable>Industry</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 no-LeftRight-pad">
                    @Html.DropDownListFor(m => m.ADC_obj.ClientTypeId, Model.ClientTypeList, "Select", new { @class = "form-control no-LeftRight-pad" })
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                    <lable>Instructions</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 no-LeftRight-pad">
                    @Html.TextAreaFor(m => m.ADC_obj.Note,new {@class="no-LeftRight-pad", rows="13"})
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                    @Html.CheckBoxFor(m => m.ChkFollowUp)
                    <lable> Next Review Date</lable>
                 </div>
                <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                    @Html.TextBoxFor(m => m.ADC_obj.NextContactDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:100px;display: none;" })
                </div>               
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad pad-right-12">
                    @Html.CheckBoxFor(m => m.ChkEvalDate)
                    <lable>Evaluation Date</lable>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                    @Html.TextBoxFor(m => m.ADC_obj.EvaluationDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:100px;" })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad pad-right-12">                    
                    @Html.CheckBoxFor(m => m.ADC_obj.HasLienAgreement)
                    <lable>Lien Agreement</lable>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                   
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad pad-left-2">
                    @Html.CheckBoxFor(m => m.ADC_obj.HasPrelimAgreement)
                    <lable>Prelim Agreement</lable>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">

                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-8 col-sm-8 col-xs-8 no-LeftRight-pad pad-right-27">
                    @Html.CheckBoxFor(m => m.ADC_obj.HasCollectAgreement)
                    <lable>Collection Agreement</lable>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="OK" class="btn btn-primary" onclick="SaveClient()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalClientNew()" />
        </div>
    </div>
</form>

<script>

    function CloseModalClientNew() {
        $('#myModal').modal("hide");
    }

    $('#ChkFollowUp').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#ADC_obj_NextContactDate').show();
        }
        else
        {
            $('#ADC_obj_NextContactDate').hide();
        }
    });

    $('#ChkEvalDate').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#ADC_obj_EvaluationDate').show();
        }
        else {
            $('#ADC_obj_EvaluationDate').hide();
        }
    });

    function SaveClient() {
        debugger;
        if (Validate())
        {
            if (ChechkDuplicateClientCode())
            {
                showLoadingImage();
                    $.ajax({
                        url: '@Url.Action("CreateNewClient", "ViewClients")',
                        data: $('#FormEdit').serialize(),
                        type: "POST",
                        success: function (data) {
                            //$('#list').html(data);
                            //makeDatatable('tblViewClients');
                            //$("#txtSearch").val("");
                            //hideLoadingImage();
                            //$('#successMsg').show();
                            ///////////////////////////////
                            $('#myModal').modal("hide");
                            $('#EditClient').html(data);
                            CheckMinDate();
                            $('#list').hide();
                            $('#Obj_ADClient_NextContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                            $('#Obj_ADClient_EvaluationDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                            $('#Obj_ADClient_ContactDOB').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                            $('#Obj_ADClient_SetupDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                            $('#Obj_ADClient_CommissionDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                            makeDatatable('tblClientCntracts');
                            makeDatatable('tblClientNotes');
                            makeDatatable('tblOpenIssues');
                            makeDatatable('tblClientBranches');
                            makeDatatable('tblClientUsers');
                            makeDatatable('tblClientContacts');
                            makeDatatable('tblClientSigner');
                            makeDatatable('tblClientReports');
                            if ($("#ChkFollowUp").prop("checked") == false) {
                                $("#Obj_ADClient_NextContactDate").hide();
                            }
                            if ($("#ChkEvalDate").prop("checked") == false) {
                                $("#Obj_ADClient_EvaluationDate").hide();
                            }
                            hideLoadingImage();
                            ///////////////////////////////
                        },
                        fail: function (error) {
                            hideLoadingImage();
                            $('#errorMsg').show();
                        }

                    });
                }
        }
    }


    function Validate() {
        debugger;
        if ($("#ADC_obj_ClientCode").val().length <= 0) {
            $("#ErrorClientCode").show();
            return false;
        }
        else {
            $("#ErrorClientCode").hide();
        }
        if ($("#ADC_obj_ClientName").val().length <= 0) {
            $("#ErrorClientName").show();
            return false;
        }
        else {
            $("#ErrorClientName").hide();
        }
        if ($("#ADC_obj_AddressLine1").val().length <= 0) {
            $("#ErrorClientAddress").show();
            return false;
        }
        else {
            $("#ErrorClientAddress").hide();
        }
        if ($("#ADC_obj_IsLienClient").prop('checked') == false && $("#ADC_obj_IsCollectionClient").prop('checked') == false)
        {
            $("#ErrorClientLienCollection").show();
            return false;
        }
        else
        {
            $("#ErrorClientLienCollection").hide();
        }
        //var MainClient = $('#ADC_obj_ParentClientId').val();
        //if (MainClient==null || MainClient=="0")
        //{
        //    $("#ErrorMainClient").show();
        //    return false;
        //}
        // else
        //{
        //    $("#ErrorMainClient").hide();

        //}
        return true;
    }

    function ChechkDuplicateClientCode()
    {
        var result;
        debugger;
        $.ajax({
            async: false,
            url: '@Url.Action("ChechkDuplicateClient", "ViewClients")',
            data: { 'ClientCode': $("#ADC_obj_ClientCode").val() },
            type: "POST",
            success: function (data) {
                debugger;
                console.log(data);
                if(data)
                {
                    $("#ErrorClientCodeDuplicate").show();
                    result = false;                   
                }
                else
                {
                    $("#ErrorClientCodeDuplicate").hide();
                    result = true;
                }
            },
            fail: function (error) {
                debugger;
                result = false;
            }
        });
        return result;
    }
    </script>
