﻿@{ 
    Layout = null;
}

<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Email Blast This Client</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMessages" aria-controls="TabMessages" role="tab" aria-selected="false">Messages</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAttachments" aria-controls="TabAttachments" role="tab" aria-selected="false">Attachments</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabRecepients" aria-controls="TabRecepients" role="tab" aria-selected="false">Recepients</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="TabMessages" role="tabpanel">
                <br/>
               <div class="col-xs-12 form-group">
                   <div class="col-xs-3 NopaddingLR">
                       <lable>From Name</lable>
                   </div>
                   <div class="col-xs-5 NopaddingLR">
                       <input type="tel" class="form-control">
                   </div>
                   <div class="col-xs-4">
                       <input type="checkbox"><lable> Use Outlook</lable>
                   </div>
               </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>From Email Address</lable>
                    </div>
                    <div class="col-xs-5 NopaddingLR">
                        <input type="tel" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>Email Account User ID</lable>
                    </div>
                    <div class="col-xs-5 NopaddingLR">
                        <input type="tel" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>Email Account Pwd</lable>
                    </div>
                    <div class="col-xs-5 NopaddingLR">
                        <input type="tel" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3 NopaddingLR">
                        <lable>Subject</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR">
                        <input type="tel" class="form-control">
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <textarea rows="8" class="form-control">
                        At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                    </textarea>
                </div>
            </div>
            <div class="tab-pane" id="TabAttachments" role="tabpanel">
                <br/>
                <input id="fileList" type="file" onchange="temp()">
            </div>
            <div class="tab-pane" id="TabRecepients" role="tabpanel">
                     
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModal()" />
        </div>
    </div>
</form>

<script>

    function temp()
    {
        
        debugger;
        var files = $("#fileList")[0].files;
        var abc = files.length;
        var output = [];
        var fileIdCounter = 0;

        var fi = document.getElementById('fileList');
        var temp = $("#fileList");
        var Allfiles = $("#fileList").get(0).files;
        var totlaFiles = fi.files.length;
        if (totlaFiles > 0) {


            // RUN A LOOP TO CHECK EACH SELECTED FILE.
            for (var i = 0; i <= fi.files.length - 1; i++) {

                var fname = fi.files.item(i).name;      // THE NAME OF THE FILE.
                var fsize = fi.files.item(i).size;      // THE SIZE OF THE FILE.

            }
        }
        else {
            alert('Please select a file.')
        }

        for (var i = 0; i < files.length; i++)
        {
            fileIdCounter++;
           // var file = $("#fileList").files[i];
            //var fileId =  fileIdCounter;
        };

        $("#FormEdit").find("input[type=file]").each(function (index, field) {
            for (var i = 0; i < field.files.length; i++) {
                const file = field.files[i];
                if (file.size > 5242880 || file.fileSize > 5242880) {
                    errorMessage = 'Files must be less than 5MB.';
                    alert(errorMessage);
                }
            }
        });
    }

    //$("#fileList").change(function () {
    //    debugger;
    //    var files = $("fileList")[0].files;

    //    for (var i = 0; i < files.length; i++) {
    //        //alert(files[i].name);
    //        files.re
    //    }
    //});

</script>