﻿<div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-bottom:20px;padding-left:0px!important;padding-right:0px!important">
    <div class="col-md-4 col-sm-4 col-xs-4 pull-right" style="text-align:right; padding-right:0px">
        <button onclick="AddClient();" class="btn btn-primary modal-link"> Add Client</button>
        <button onclick="FilterClients();" class="btn btn-primary modal-link"> Filter</button>&nbsp
        <button onclick="Refresh();" class="btn btn-primary pull-right" >
            <i class="icon wb-refresh" aria-hidden="true"></i> Refresh
        </button>
    </div>

</div>
