﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientLienInfoVM
@{
    Layout = null;
}

<form id="FormEditLienInfo">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Client Lien Info</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainContact" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainContact" aria-controls="TabMainContact" role="tab" aria-selected="false">Main Contract</a></li>
                <li id="Configuration" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabConfigurations" aria-controls="TabConfigurations" role="tab" aria-selected="false">Configuration</a></li>
                <li id="Reports" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabReports" aria-controls="TabReports" role="tab" aria-selected="false">Reports</a></li>
                <li id="MiscInfo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMiscInfo" aria-controls="TabMiscInfo" role="tab" aria-selected="false">Misc Info</a></li>
                <li id="SecondaryContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSecondaryContact" aria-controls="TabSecondaryContact" role="tab" aria-selected="false">Secondary Contact</a></li>
                <li id="Billing" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabBilling" aria-controls="TabBilling" role="tab" aria-selected="false">Billing</a></li>
                <li id="LienInfo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLienInfo" aria-controls="TabLienInfo" role="tab" aria-selected="false">Lien Info</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="hiddenFields">
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.Id)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ClientId)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ServiceTeamId)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.SalesTeamId)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ProdTeamId)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.IsActive)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.NoEmail)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.SendOIR)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.PhoneExt)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.LienContactTitle)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.LienEmail)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.LienSalutation)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.LastUpdatedBy)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.LastUpdateDate)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.InvoiceContactTitle)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.SetupDate)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.Note)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ContactAddr1)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ContactAddr2)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ContactCity)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ContactState)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ContactZip)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.TXCopy)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.FLCertBox)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.KYNonStatBox)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.TXPrelimGrp)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.ReportEmail)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.TXCustSendReg)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.NoTitleSearch)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.JobAlertReqBox)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.IsFATExclude)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.NoticePhoneNoWeb)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.IsCustomCoverLetter)
                @Html.HiddenFor(m => m.obj_ADClientLienInfo.IsIndividualNTO)
            </div>
            <div class="tab-pane active" id="TabMainContact" role="tabpanel">
                <br/>
                <div>
                <fieldset class="customFieldset">
                <legend>Main Contact</legend> 
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">    
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <lable>Contact</lable>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                         @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactName, new { @class="form-control"}) 
                    </div>
                </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>As</lable>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactSalutation, new { @class = "form-control" })
                        </div>
                    </div>
                
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Title</lable>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                              @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactTitle, new { @class = "form-control" }) 
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactPhone, new { @class = "form-control", type = "tel", maxlength = "10" })
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <lable>Ext</lable>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactPhoneExt, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactFax, new { @class = "form-control", type = "tel", maxlength = "10" })
                        </div>
                   </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Birth Date</lable>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactDOB, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                        </div>
                    </div>
                      
</fieldset>
                </div>
            </div>
            <div class="tab-pane" id="TabConfigurations" role="tabpanel">
                <br/>
                <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <fieldset class="customFieldset">
                        <legend>Notice Config </legend>
                        <div style="padding-left:10px">
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.BranchBox) Branch Box<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.GreenCard) Return Receipt<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.CustSend) Cus Send Cert<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.CustSendReg) Cus Send Req<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.AZCert) AZ Cert<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.JointCK) Joint Check<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.IsCustomCoverLetter) Custom Cover Letter<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.UseBranchSignature) Use Branch Signature<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.IsNOCApproved) NOC Approved<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.GCSendReg) GC Send Req<br />
                            <div id="ErrorCustSend" class="Invalid-feedback" style="display:none">
                                Customer Send cannot be both Certified and Regular Mail.
                                <br />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <fieldset class="customFieldset">
                        <legend>Misc Config </legend>
                        <div style="padding-left:10px">

                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.NOGCCall) No GC Call<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.NOCustCall) No Cust Call<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.NoDupValidation) No Duplicate Validation<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.DataEntryFee) Data Entry Fee<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.SearchCustByRef) Search Cust By Ref<br />
                            </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <fieldset class="customFieldset">
                        <legend>Tx Config </legend>
                        <div style="padding-left:10px">
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.TXApproved) TX Approved<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.TXCustSend) TX Cust Send<br />
                            @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.TXPublicOwner) TX Public Owner<br />
                        </div>
                    </fieldset>
                </div>
                </div>
            </div>
            <div class="tab-pane" id="TabReports" role="tabpanel">
                <br/>
                <div id="DivNotices">
                    <fieldset class="customFieldset">
                        <legend>Notices</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.SendNTO) Send Notice
                            </div>
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.EmailReports,new { onClick="onEmailReportClick()"}) Email Notice
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.SendNTOList) Send Prelim Report<br />
                                @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.UseBranchNTO) Send Branch Notice
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.obj_ADClientLienInfo.EmailReportsTo, new { @class="form-control"})
                            </div>
                        </div>                                
                    </fieldset>
</div>
                <br/>
                <div id="DivAcknowlegments">
                    <fieldset class="customFieldset">
                        <legend>Acknowlegments</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.SendAck) Send Ack
                            </div>
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.EmailAck,new { onClick="onEmailAckClick()" }) Email Ack
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.UseBranchAck) Send Branch Ack             
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.obj_ADClientLienInfo.EmailAckTo, new { @class = "form-control" })
                            </div>
                            </div>
                    </fieldset>
</div>
                <br/>
                <div id="DivAlerts">
                 
                    <fieldset class="customFieldset">
                        <legend>Lien Alerts</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3">
                                @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.SendAlert) Send Lien Alert
                            </div>
                            <div class="col-md-3">
                               @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.EmailLienAlerts, new { onClick = "onEmailLienClick()" }) Email Lien Alert
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3">
                   
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.obj_ADClientLienInfo.EmailLienAlertsTo, new { @class="form-control"})
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="tab-pane" id="TabMiscInfo" role="tabpanel">
                <br/>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">               
                <div class="col-md-3 col-sm-3 col-x-3"><lable> Labour Type</lable>
                </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                          @Html.TextAreaFor(m => m.obj_ADClientLienInfo.LaborType, new { @class="form-control"})
                    </div>
                    <div class="Invalid-feedback" id="ErrorlabourType" style="display:none">
                        Please enter the Labor Type.
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-md-3 col-sm-3 col-x-3">
                        <lable>Other Lgl Threshold</lable>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        @Html.TextBoxFor(m => m.obj_ADClientLienInfo.OtherLglThreshold, new { @class="form-control"})
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-md-3 col-sm-3 col-x-3">
                        <lable>Notice Phone</lable>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                       @Html.TextBoxFor(m => m.obj_ADClientLienInfo.NoticePhoneNo, new { @class = "form-control", type = "tel", maxlength = "10" })
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-md-3 col-sm-3 col-x-3">
                        <lable>Legal Interest</lable>
                    </div>
                    <div class="col-md-4 col-sm-4 ">
                        @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LegalInterest, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <lable>VAR</lable>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        @Html.TextAreaFor(m => m.obj_ADClientLienInfo.LienSpecialInstruction,new { @class = "form-control" })
                    </div>
                </div>
               
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-md-3 col-sm-3 col-x-3">
                        <lable>VAR Information</lable>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        @Html.TextAreaFor(m => m.obj_ADClientLienInfo.VAInfo, new { @class = "form-control" })
                    </div>
                </div>
                
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-md-3 col-sm-3 col-x-3">
                        <lable>Custom Prelim Group</lable>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <input type="tel" />
                    </div>
                </div>
                

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-md-4 col-sm-4 col-x-4">
                        @Html.CheckBoxFor(m => m.obj_ADClientLienInfo.IsCustomReportFile)Custom Report File
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="col-md-3 col-sm-3 col-x-3">
                       <lable>No Aoto Fax State</lable>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.obj_ADClientLienInfo.NoAutoFaxState)
                    </div>
                </div>
                
                @*<lable> Name</lable> @Html.TextBoxFor(m => m.obj_ADClientLienInfo.CustomReportFile)<br />*@

</div>
            <div class="tab-pane" id="TabSecondaryContact" role="tabpanel">
                <br/>
              
                    <div class="form-group">
                        <fieldset class="customFieldset">
                            <legend>Secondary Contact</legend>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <lable>Contact</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactName2, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <lable>As</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactSalutation2, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <lable>Title</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactTitle2, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <lable>Phone</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactPhone2, new { @class = "form-control", type = "tel", maxlength = "10" })
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <lable>Ext</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactPhone2Ext, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <lable>Fax</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactFax2, new { @class = "form-control", type = "tel", maxlength = "10" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <lable>Birth Date</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ADClientLienInfo.ContactDOB2, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                                </div>
                            </div>



                        </fieldset>
                        </div>
               
                     </div>
            <div class="tab-pane" id="TabBilling" role="tabpanel">
                <br/>
                
                <fieldset class="customFieldset">
                 
                        <legend>Billing Address</legend>
                  
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Name</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoiceName, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Attn</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoiceAttn, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable> Address  </lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoiceAddr1, new { @class = "form-control" })
                            </div>
                            <div class="Invalid-feedback" id="ErrorInvoiceAddr1" style="display:none">
                                Please enter the Invoice Address.
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <lable>Address  2 </lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoiceAddr2, new { @class = "form-control" })
                            </div>
                        </div>


                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable> City/St/Zip </lable>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                           <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                               @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoiceCity,new { @class="form-control"})
                           </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoiceState, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoiceZip, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoicePhoneNo, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.InvoiceFax, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Email</lable>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            @Html.TextAreaFor(m => m.obj_ADClientLienInfo.InvoiceEmail, new { @class = "form-control" })
                        </div>
                    </div>     
                                  
</fieldset>
                
            </div>
            <div class="tab-pane" id="TabLienInfo" role="tabpanel">
            <br/>

                <fieldset class="customFieldset">

                    <legend>Lien Address</legend>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Name</lable>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LienContactName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable> Address 1</lable>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LienAddressLine1, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Address 2</lable>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LienAddressLine2, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable> City/St/Zip </lable>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="col-md-6 col-sm-6 col-xs-6 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LienCity, new { @class = "form-control" })
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LienState, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LienZip, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LienPhoneNo, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            @Html.TextBoxFor(m => m.obj_ADClientLienInfo.LienFax, new { @class = "form-control" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearModal(@Model.obj_ADClientLienInfo.Id);" />
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveLienInfo();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalLienInfo()" />
        </div>
    </div>
</form>

<script>
    function onEmailReportClick() {
        if ($("#obj_ADClientLienInfo_EmailReports").prop("checked") == true) {
            $("#obj_ADClientLienInfo_EmailReportsTo").show();
        }
        else {
            $("#obj_ADClientLienInfo_EmailReportsTo").hide();
        }
    }

    function onEmailAckClick() {
        if ($("#obj_ADClientLienInfo_EmailAck").prop("checked") == true) {
            $("#obj_ADClientLienInfo_EmailAckTo").show();
        }
        else {
            $("#obj_ADClientLienInfo_EmailAckTo").hide();
        }
    }

    function onEmailLienClick() {
        if ($("#obj_ADClientLienInfo_EmailLienAlerts").prop("checked") == true) {
            $("#obj_ADClientLienInfo_EmailLienAlertsTo").show();
        }
        else {
            $("#obj_ADClientLienInfo_EmailLienAlertsTo").hide();
        }
    }

    function CloseModalLienInfo() {
        $('#InfoModal').modal("hide");
    }

    function ClearModal(id)
    {
        $.ajax({
            url: '@Url.Action("ShowLienInfo", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#InfoModal .modal-content').html(data);
                $('#obj_ADClientLienInfo_ContactDOB').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#obj_ADClientLienInfo_ContactDOB2').datepicker({ format: 'mm/dd/yy' }).datepicker();
                if ($("#obj_ADClientLienInfo_EmailReports").prop("checked") == false) {
                    $("#obj_ADClientLienInfo_EmailReportsTo").hide();
                }
                if ($("#obj_ADClientLienInfo_EmailAck").prop("checked") == false) {
                    $("#obj_ADClientLienInfo_EmailAckTo").hide();
                }
                if ($("#obj_ADClientLienInfo_EmailLienAlerts").prop("checked") == false) {
                    $("#obj_ADClientLienInfo_EmailLienAlertsTo").hide();
                }
                CheckMinDate();
                $('#InfoModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function SaveLienInfo()
    {
        debugger;
        if (Validate()) {
                showLoadingImage();
                $.ajax({
                    url: '@Url.Action("SaveLienInfo", "ViewClients")',
                    data: $('#FormEditLienInfo').serialize(),
                    type: "POST",
                    success: function (data) {
                        //$('#list').html(data);
                        //makeDatatable('tblViewClients');
                        //$("#txtSearch").val("");
                        //hideLoadingImage();
                        if (data == true)
                        {
                            hideLoadingImage();
                            $('#successMsg').show();
                        }
                        else
                        {
                            hideLoadingImage();
                            $('#errorMsg').show();
                        }
                       
                        $('#InfoModal').modal("hide");
                    },
                    fail: function (error) {
                        hideLoadingImage();
                        $('#errorMsg').show();
                        $('#InfoModal').modal("hide");
                    }
                });            
        }
    }

    function Validate()
    {
        if ($("#obj_ADClientLienInfo_LaborType").val().length <= 0) 
        {
            $("#ErrorlabourType").show();
            RemoveActiveClass();
            $("#MiscInfo").addClass("active");
            $("#TabMiscInfo").addClass("active");
            return false;
        }        
        else 
        {
            $("#ErrorlabourType").hide();
            $("#ErrorInvoiceAddr1").hide();
            $("#ErrorCustSend").hide();
        }
        if($("#obj_ADClientLienInfo_InvoiceAddr1").val().length <= 0)
        {
            $("#ErrorInvoiceAddr1").show();
            RemoveActiveClass();
            $("#Billing").addClass("active");
            $("#TabBilling").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorlabourType").hide();
            $("#ErrorInvoiceAddr1").hide();
            $("#ErrorCustSend").hide();
        }
        var CustSend = document.getElementById('obj_ADClientLienInfo_CustSend').checked;
        var CustSendReg = document.getElementById('obj_ADClientLienInfo_CustSendReg').checked;
        if (CustSend == true && CustSendReg == true)
        {
            $("#ErrorCustSend").show();
            RemoveActiveClass();
            $("#TabConfigurations").addClass("active");
            $("#Configuration").addClass("active");
            return false;
        }
       else
       {
            $("#ErrorlabourType").hide();
            $("#ErrorInvoiceAddr1").hide();
            $("#ErrorCustSend").hide();
       }
        return true;
        
    }

    function RemoveActiveClass()
    {
        var IdList = ["MainContact",
                        "Reports",
                        "Configuration",
                        "MiscInfo",
                        "SecondaryContact",
                        "Billing",
                        "LienInfo",
                        "TabMainContact",
                        "TabConfigurations",
                        "TabReports",
                        "TabMiscInfo",
                        "TabSecondaryContact",
                        "TabBilling",
                        "TabLienInfo"];
        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                $("#" + name).removeClass("active");
            }
        });
    }

    </script>

