﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientContractVM
@{
    Layout = null;
}

<form id="FormLienContract">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Client Contract 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainInfo" aria-controls="TabMainInfo" role="tab" aria-selected="false">Main Info</a></li>
                <li id="LienRates" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLienRates" aria-controls="TabLienRates" role="tab" aria-selected="false">Lien Rates</a></li>
                <li id="Documents" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabDocuments" aria-controls="TabDocuments" role="tab" aria-selected="false">Documents</a></li>
                <li id="History" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabHistory" aria-controls="TabHistory" role="tab" aria-selected="false">History</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="hiddenFields">
                @Html.HiddenFor(m => m.Obj_ClientContract.Id)
                @Html.HiddenFor(m => m.Obj_ClientContract.BillingClientId)
            </div>
            <div class="tab-pane active" id="TabMainInfo" role="tabpanel">
                <br/>
                <div class="col-xs-6">
                    <div>
                        <div class="col-xs-12 form-group">
                                <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                    <lable>Title</lable>
                                </div>
                                <div class="col-xs-8 no-LeftRight-pad">
                                   @Html.TextBoxFor(m => m.Obj_ClientContract.Title, new { @class = "form-control" })
                                </div>
                            </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Language</lable>
                            </div>
                            <div class="col-xs-8 no-LeftRight-pad">
                                @Html.TextAreaFor(m => m.Obj_ClientContract.ContractLanguage, new { @class = "form-control", rows = 4 })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Contract Type</lable>
                            </div>
                            <div class="col-xs-8 no-LeftRight-pad">
                                @Html.DropDownListFor(m => m.Obj_ClientContract.ContractTypeId, Model.ContractTypeList, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Service Type</lable>
                            </div>
                            <div class="col-xs-8 no-LeftRight-pad">
                                @Html.DropDownListFor(m => m.Obj_ClientContract.ProductId, Model.ProductTypeList, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Association</lable>
                            </div>
                            <div class="col-xs-8 no-LeftRight-pad">
                                @Html.DropDownListFor(m => m.Obj_ClientContract.AssociationId, Model.AssociationList, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad">
                               
                            </div>
                            <div class="col-xs-8 no-LeftRight-pad">
                                <div class="col-xs-12 no-LeftRight-pad">
                               <div class="col-xs-6 no-LeftRight-pad">
                                  @Html.CheckBoxFor(m => m.Obj_ClientContract.IsClientViewLiens) <lable>Lien ClientView</lable>
                               </div>
                              <div class="col-xs-6 no-LeftRight-pad">
                                  @Html.CheckBoxFor(m => m.Obj_ClientContract.IsClientViewJob) <lable>JobView</lable>
                              </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Sales Team</lable>
                            </div>
                            <div class="col-xs-8 no-LeftRight-pad">
                                @Html.DropDownListFor(m => m.Obj_ClientContract.SalesTeamId, Model.SalesTeamsList, "Select", new { @class = "form-control" })
                                <div id="ErrorSalesTeam" style="display:none">
                                    Please select the Sales Team
                                </div> 
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Service Team</lable>
                            </div>
                            <div class="col-xs-8 no-LeftRight-pad">
                                @Html.DropDownListFor(m => m.Obj_ClientContract.ServiceTeamId, Model.ServiceTeamsList, "Select", new { @class = "form-control" })
                                <div id="ErrorServiceTeam" class="Invalid-feedback" style="display:none">
                                    Please select the Service Team
                                </div>
                             </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Product Team</lable>
                            </div>
                            <div class="col-xs-8 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.Obj_ClientContract.ProdTeam, new { @class = "form-control" })
                            </div>
                        </div>
                       
                      </div>
                </div>
                <div class="col-xs-6">
                    <div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Setup Date</lable>
                            </div>
                            <div class="col-xs-4 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.Obj_ClientContract.SetupDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                <lable>Ownership Date</lable>
                            </div>
                            <div class="col-xs-4 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.Obj_ClientContract.OwnershipDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                        &nbsp;<br/>
                        &nbsp;<br />
                        <div class="col-xs-12 form-group">
                            <fieldset class="customFieldset">
                                <legend>Invoice Setting</legend> 
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                        <lable>Invoice Type</lable>
                                    </div>
                                    <div class="col-xs-8 no-LeftRight-pad">
                                        @Html.DropDownListFor(m => m.Obj_ClientContract.FinDocTypeId, Model.FinDocTypeList, "Select", new { @class = "form-control" })
                                    </div>
                                      <div id="ErrorFinDocType" class="Invalid-feedback" style="display:none">
                                        Please select the Invoice Type
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                        <lable>Invoice Cycle</lable>
                                    </div>
                                    <div class="col-xs-8 no-LeftRight-pad">
                                        @Html.DropDownListFor(m => m.Obj_ClientContract.FinDocCycleId, Model.FinDocCycleList, "Select", new { @class = "form-control" })
                                        <div id="ErrorFinDocCycle" class="Invalid-feedback" style="display:none">
                                            Please select the Invoice Cycle
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                    </div>
                                    <div class="col-xs-8 no-LeftRight-pad Text-Left">
                                        @Html.CheckBoxFor(m => m.Obj_ClientContract.IsEmailInvoice) <lable>Email Invoice</lable>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                    </div>
                                    <div class="col-xs-8 no-LeftRight-pad Text-Left">
                                        @Html.CheckBoxFor(m => m.Obj_ClientContract.IsAllInclusivePrice) <lable>All Inclusive Pricing</lable>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                    </div>
                                    <div class="col-xs-8 no-LeftRight-pad Text-Left">
                                        @Html.CheckBoxFor(m => m.Obj_ClientContract.ExportToCSV) <lable>Statement Detail To CSV File</lable>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                    </div>
                                    <div class="col-xs-8 no-LeftRight-pad Text-Left">
                                        @Html.CheckBoxFor(m => m.Obj_ClientContract.UseBranchSummary) <lable>Statement In Branch Summary</lable>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4 no-LeftRight-pad Text-Left">
                                    </div>
                                    <div class="col-xs-8 no-LeftRight-pad Text-Left">
                                        @Html.CheckBoxFor(m => m.Obj_ClientContract.UseClientSummary) <lable>Statement In Client Summary</lable>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TabLienRates" role="tabpanel">
                <br />
                <div>
                    <div class="col-xs-12">
                    <table id="tblLienRates" class="table table-bordered dataTable table-hover grid " border="1">
                        <thead>
                            <tr>
                                <th class="no-sort">Edit</th>
                                <th>Event Type</th>
                                <th>Price Code Name</th>
                                <th>Is All Inclusive</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.LienRatesList != null && Model.LienRatesList.Count >= 1)
                            {
                                var counter = 0;

                                foreach (var i in Model.LienRatesList)
                                {
                                    counter++;
                                    <tr>
                                        <td>
                                            <button type="button" onclick="ShowChangeLienRate(@i.Id,@i.BillableEventId,@i.IsAllInclusivePrice.ToString().ToLower(),@counter)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                            </button>
                                            @*<input type="button" onclick="ShowChangeLienRate(@i.Id,@i.BillableEventId,@i.IsAllInclusivePrice.ToString().ToLower(),@counter)">*@
                                           
                                            <div id="code"> 
                                            <input type="hidden" id="@counter" value="@i.PriceCodeName">
                                            </div>
                                         </td>
                                        <td>
                                            @i.BillableEventName
                                        </td>
                                        <td>
                                            @i.PriceCodeName
                                        </td>
                                        <td>
                                            @i.IsAllInclusivePrice
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <br/>
                        <div id="DivNewRate" class="col-xs-12" style="display:none">
                            <div class="col-xs-5 NopaddingLR">
                            @Html.DropDownList("NewRateId", new SelectList(string.Empty, "Value", "Text"), new { @class = "pull-left form-control" })
                           </div>
                            <div class="col-xs-1 "> 
                                 <input type="button" value="Apply New Rate" class="btn btn-primary pull-left" onclick="ChangeRate()">
                            </div>    
                         </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TabDocuments" role="tabpanel">
                <br />
                <div>
                    <div class="col-xs-12">
                        <table id="tblLienDocuments" class="table table-bordered dataTable table-hover grid " border="1">
                            <thead>
                                <tr>
                                    <th class="no-sort">Edit</th>
                                    <th class="no-sort">View</th>
                                    <th class="no-sort">Delete</th>
                                    <th>Date Created</th>
                                    <th>User Code</th>
                                    <th>Document Type</th>
                                    <th>Document Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DocumentList != null && Model.DocumentList.Count >= 1)
                                {
                                    foreach (var i in Model.DocumentList)
                                    {
                                        <tr>
                                            <td>
                                                <button type="button" onclick="EditDoc(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                @i.Id
                                                <button type="button" onclick="ViewDownloadDoc(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-download" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" onclick="DeleteDoc(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-close" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                @i.DateCreated
                                            </td>
                                            <td>
                                                @i.UserCode
                                            </td>
                                            <td>
                                                @i.DocumentType
                                            </td>
                                            <td>
                                                @i.DocumentDescription
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div>
                    <br/>
                    <input type="button" id="btnNewDoc" class="btn btn-primary pull-left" value="New Document" onclick="ShowNewDoc();" />
                </div>
            </div>
            <div class="tab-pane" id="TabHistory" role="tabpanel">
                <br/>
                    <div>
                        <div class="col-xs-12">
                            <table id="tblLienHistory" class="table table-bordered dataTable table-hover grid " border="1">
                                <thead>
                                    <tr>
                                        <th>Date Created</th>
                                        <th>User Name</th>
                                        <th>Change Type</th>
                                        <th>From</th>
                                        <th>To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ContractHistoryList != null && Model.ContractHistoryList.Count >= 1)
                                    {
                                        foreach (var i in Model.ContractHistoryList)
                                        {
                                            <tr>
                                                <td>
                                                    @i.DateChanged
                                                </td>
                                                <td>
                                                    @i.UserName
                                                </td>
                                                <td>
                                                    @i.ChangeType
                                                </td>
                                                <td>
                                                    @i.ChangeFrom
                                                </td>
                                                <td>
                                                    @i.ChangeTo
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnOk" value="Save" class="btn btn-primary" onclick="SaveLienContract();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalLienContract();" />
        </div>
    </div>
</form>

<script>
    function CloseModalLienContract() {
        //$('#InfoModal2').modal("hide");
        $("#ContractModal").modal("hide");
    }

    function ShowChangeLienRate(Id, BillableEventId, IsAllInclusivePrice, counterVar)
    {
        debugger;
        $('#NewRateId').empty();
        var PriceCodeName = $("#" + counterVar).val();

        $.ajax({
            url: '@Url.Action("LienDropdown", "ViewClients")',
            data: { Id: Id,PriceCodeName: PriceCodeName, BillableEventId: BillableEventId, IsAllInclusivePrice: IsAllInclusivePrice },
            type: "POST",
            success: function (data) {
                $.each(data, function (index, value) {
                    $('#NewRateId').append('<option value="' + value.Id + '">' + value.descr + '</option>');
                });
                $("#DivNewRate").show();

            },
            fail: function (error) {


            }
        });
       // return false;
    }

    function ChangeRate()
    {
        var ContractId = @Model.Obj_ClientContract.Id;
        debugger;
        var value = $("#NewRateId option:selected").val();
        var text = $("#NewRateId option:selected").text();
        $.ajax({
            url: '@Url.Action("ChangeRate", "ViewClients")',
            data: { text:text,value: value,ContractId:ContractId },
            type: "POST",
            success: function (data) {
                $("#DivNewRate").hide();
                if(data==true)
                {
                    $("#ContractModal").modal("hide");
                    $('#successMsg').show();
                }
                else{
                    $("#ContractModal").modal("hide");
                    $('#errorMsg').show();
                }

            },
            fail: function (error) {
                $("#ContractModal").modal("hide");
                $('#errorMsg').show();
            }
        });
    }

    function ShowNewDoc()
    {
        var ContractId  = @Model.Obj_ClientContract.Id;
        debugger;
        $.ajax({
            url: '@Url.Action("ShowNewDoc", "ViewClients")',
            data : {ContractId:ContractId},
            type: "POST",
            success: function (data) {
                hideLoadingImage();
                $('#myModal .modal-content').html(data);
                $('#DocumentDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                CheckMinDate();
                $('#myModal').modal("show");
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $('#myModal').modal("hide");
            }
        });
    }

    function EditDoc(Id)
    {
        debugger;
        var ContractId  = @Model.Obj_ClientContract.Id;
        $.ajax({
            url: '@Url.Action("EditAttachment", "ViewClients")',
            data : {Id:Id,ContractId:ContractId},
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#DocumentDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                CheckMinDate();
                $('#uploadFile').prop('disabled', true);
                $('#myModal').modal("show");
            },
            fail: function (error) {

            }
        });
    }

    function DeleteDoc(Id)
    {
        debugger;
        if(confirm("Are You Sure?"))
        {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteDoc", "ViewClients")',
                data : {id:Id},
                type: "POST",
                success: function (data) {
                    if(data==true)
                    {
                        $("#ContractModal").modal("hide");
                        $('#deleteMsg').show();
                    }
                    else
                    {
                        $("#ContractModal").modal("hide");
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $("#ContractModal").modal("hide");
                    $('#errorMsg').show();
                }
            });
        }
    }

    function SaveLienContract()
    {
        debugger;
        var ClientId = @Model.Obj_ClientContract.BillingClientId;
        if (Validate()) {
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("SaveLienContract", "ViewClients")',
                data: $('#FormLienContract').serialize(),
                type: "POST",
                success: function (data) {
                    if (data == true) {
                        hideLoadingImage();
                        $('#successMsg').show();
                       // $('#InfoModal2').modal("hide");
                        $("#ContractModal").modal("hide");
                        ShowDetails(ClientId);
                    }
                    else
                    {
                        hideLoadingImage();
                        $('#errorMsg').show();
                        //$('#InfoModal2').modal("hide");
                        $("#ContractModal").modal("hide");
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    //$('#InfoModal2').modal("hide");
                    $("#ContractModal").modal("show");
                }
            });
        }

    }

    function ViewDownloadDoc(Id)
    {
        debugger;
        CheckFileExtension(Id);
        var AttachmentId = Id;
        var url = "/ViewClients/ViewDownloadDoc/"+Id;

    }

    function temp1(Id)
    {
        debugger;
        var AttachmentId = Id;
        var url = "/ViewClients/ViewDownloadDoc/"+Id;
        //var url = "/CRFView/ViewClients/ViewDownloadDoc/"+Id;

        debugger;
        $.ajax({
            url: '@Url.Action("ViewDownloadDoc", "ViewClients")',
            data : {Id:Id},
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            type: "GET",
            success: function (data) {
                debugger;
                @*window.location = '@Url.Action("ViewDownloadDoc", "ViewClients", new { Id = "5" })';*@
                window.location = url;
            },
            fail: function (error) {
            }
        });
    }


    function temp2(Id)
    {
        debugger;
        var AttachmentId = Id;
        var url = "/ViewClients/ViewDownloadDoc/"+Id;
        //var url = "/CRFView/ViewClients/ViewDownloadDoc/"+Id;

        debugger;
        $.ajax({
            url: '@Url.Action("ViewDownloadDoc", "ViewClients")',
            data : {Id:Id},
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            type: "GET",
            success: function (data) {
                debugger;
                @*window.location = '@Url.Action("ViewDownloadDoc", "ViewClients", new { Id = "5" })';*@
                //window.location = url;
                window.open(url);
            },
            fail: function (error) {
            }
        });
    }

    function CheckFileExtension(Id)
    {
        debugger
        $.ajax({
            url: '@Url.Action("CheckFileExtension", "ViewClients")',
            data : {Id:Id},
            type: "POST",
            success: function (data) {
                debugger;
                if(data == "pdf")
                {
                    temp2(Id)
                }
                else
                {
                    temp1(Id);
                }
                console.log(data);
            },
            fail: function (error) {
                console.log(error);
            }
        });
    }

    function Validate()
    {
        if ($("#Obj_ClientContract_SalesTeamId").val() === "") {
            $("#ErrorSalesTeam").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorFinDocType").hide();
            $("#ErrorFinDocCycle").hide();
            $("#ErrorServiceTeam").hide();
        }
        if ($("#Obj_ClientContract_ServiceTeamId").val() === "") {
            $("#ErrorServiceTeam").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorFinDocType").hide();
            $("#ErrorFinDocCycle").hide();
            $("#ErrorServiceTeam").hide();
        }
        if ($("#Obj_ClientContract_FinDocTypeId").val() === "") {
            $("#ErrorFinDocType").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorFinDocType").hide();
            $("#ErrorFinDocCycle").hide();
            $("#ErrorServiceTeam").hide();
        }
        if ($("#Obj_ClientContract_FinDocCycleId").val() === "") {
            $("#ErrorFinDocCycle").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorFinDocType").hide();
            $("#ErrorFinDocCycle").hide();
            $("#ErrorServiceTeam").hide();
        }
        return true;
    }

    function RemoveActiveClass() {
        var IdList = ["MainInfo",
                        "LienRates",
                        "Documents",
                        "History",
                        "TabDocuments",
                        "TabLienRates",
                        "TabHistory",
                        "TabMainInfo"];
        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                $("#" + name).removeClass("active");
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["obj_ADClientLienInfo_ContactDOB",
                                "obj_ADClientLienInfo_ContactDOB2",
                                "Obj_ADCCI_ContactDOB",
                                "Obj_ADCCI_ContactDOB2",
                                "Obj_ADCCI_ExpireDate",
                                "Obj_ADClient_ContactDOB",
                                "Obj_ADClient_SetupDate",
                                "Obj_ADClient_CommissionDate",
                                "Obj_ADClient_NextContactDate",
                                "Obj_ClientContract_SetupDate",
                                "Obj_ClientContract_OwnershipDate",
                                "Obj_ClientContact_DOB",
                                "PortalUser_DOB",
                                "Obj_ADClient_EvaluationDate",
                                "DocumentDate"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }

</script>


