﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ClientContractVM
@{
    Layout = null;
}

<form id="FormCollectionContract">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Client Contract 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainInfo" aria-controls="TabMainInfo" role="tab" aria-selected="false">Main Info</a></li>
                <li id="Documents" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabDocuments" aria-controls="TabDocuments" role="tab" aria-selected="false">Documents</a></li>
                <li id="History" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabHistory" aria-controls="TabHistory" role="tab" aria-selected="false">History</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="hiddenFields">
                @Html.HiddenFor(m => m.Obj_ClientContract.Id)
                @Html.HiddenFor(m => m.Obj_ClientContract.BillingClientId)
            </div>
            <div class="tab-pane active" id="TabMainInfo" role="tabpanel">
                <br />
                <div>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-3 no-LeftRight-pad Text-Left">
                            <lable>Description</lable>
                        </div>
                        <div class="col-xs-4 no-LeftRight-pad">
                            @Html.TextBoxFor(m => m.Obj_ClientContract.Title, new { @class="form-control"})
                        </div>
                        <div class="col-xs-5 pull-left Text-Left">
                            @Html.CheckBoxFor(m => m.Obj_ClientContract.IsTrustAccount)
                            <lable> Include In Trust Accounting</lable>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-3 no-LeftRight-pad Text-Left">
                            <lable>Sales Team</lable>
                        </div>
                        <div class="col-xs-4 no-LeftRight-pad">
                            @Html.DropDownListFor(m => m.Obj_ClientContract.SalesTeamId, Model.SalesTeamsList, "Select", new { @class = "form-control" })
                            <div id="ErrorSalesTeam" class="Invalid-feedback" style="display:none">
                                Please select the Sales Team
                            </div>
                        </div>
                        <div class="col-xs-5 Text-Left">
                            <div class="col-xs-6 no-LeftRight-pad">
                                <lable>Setup Date </lable>
                            </div>
                            <div class="col-xs-6 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.Obj_ClientContract.SetupDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker", style="display:inline" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-3 no-LeftRight-pad Text-Left">
                            <lable>Service Team</lable>
                        </div>
                        <div class="col-xs-4 no-LeftRight-pad">
                            @Html.DropDownListFor(m => m.Obj_ClientContract.ServiceTeamId, Model.ServiceTeamsList, "Select", new { @class = "form-control" })
                            <div id="ErrorServiceTeam" class="Invalid-feedback" style="display:none">
                                Please select the Service Team
                            </div>
                        </div>
                        <div class="col-xs-5 Text-Left">
                            <div class="col-xs-6 no-LeftRight-pad">
                                <lable>Ownership Date </lable>
                            </div>
                            <div class="col-xs-6 no-LeftRight-pad">
                                @Html.TextBoxFor(m => m.Obj_ClientContract.OwnershipDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-3 no-LeftRight-pad Text-Left">
                            <lable>Contact Plan</lable>
                        </div>
                        <div class="col-xs-4 no-LeftRight-pad">
                            @Html.DropDownListFor(m => m.Obj_ClientContract.ContactPlanId, Model.ContactPlanList, "Select", new { @class = "form-control" })
                            <div id="ErrorContactPlan" class="Invalid-feedback" style="display:none">
                                Please select the Contact Plan
                            </div>
                        </div>
                        <div class="col-xs-5 Text-Left">
                            @Html.CheckBoxFor(m => m.Obj_ClientContract.IsClientViewCollection)
                            <lable>Client View  </lable>
                            @Html.CheckBoxFor(m => m.Obj_ClientContract.IsIntlClient)
                            <lable> International Currency </lable>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-3 no-LeftRight-pad Text-Left">
                            @Html.CheckBoxFor(m => m.Obj_ClientContract.IsTenDayContactPlan)
                            <lable>10 Day Contact Plan</lable>
                        </div>
                        <div class="col-xs-4 no-LeftRight-pad">
                            @Html.DropDownListFor(m => m.Obj_ClientContract.TenDayContactPlanId, Model.TenDayContactPlanList, "Select", new { @class = "form-control" })
                        </div>
                        <div id="ErrorTenDayContact" class="Invalid-feedback" style="display:none">
                            Please select the 10Day Contact Plan
                        </div>
                    </div>

                </div>
                <div id="GroupBoxes">
                    <div id="Groupbox1">
                        <fieldset class="customFieldset">
                            <legend>PreCollect Settings</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    <lable>Days To Rollover  </lable>
                                </div>
                                <div class="col-xs-4 no-LeftRight-pad">
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.Duration,new { @class="form-control",style="width:75px"})
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsRolloverList)
                                    <lable>Rollover List Days</lable>
                                </div>
                                <div class="=col-xs-4 no-LeftRight-pad">
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.RolloverListDays, new { @class = "form-control", style = "width:75px" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsRollover)
                                    <lable>Rollover To Contract</lable>
                                </div>
                                <div class="col-xs-3 no-LeftRight-pad">
                                    @Html.DropDownListFor(m => m.Obj_ClientContract.RolloverContractid,Model.RollOverToContractList,"Select", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsLetterSetPrice)
                                    <lable>Letter Set Price</lable>
                                </div>
                                <div class="col-xs-3 no-LeftRight-pad">
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.LetterSeriesPrice, new { @class = "form-control", style = "width:75px" })
                                </div>
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    <Lable>Or Rate  </Lable>@Html.TextBoxFor(m => m.Obj_ClientContract.PreCollRate, new { @class = "form-control", style = "width:75px;display:inline" })
                                </div>
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    <lable>After Letter #  </lable>@Html.TextBoxFor(m => m.Obj_ClientContract.PreCollRateOnLtrNo, new { @class = "form-control", style = "width:75px;display:inline" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div id="Groupbox2" style="display:none">
                        <fieldset class="customFieldset">
                            <legend>Trust Settings</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    <lable>Commission Rate</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.DropDownListFor(m => m.Obj_ClientContract.CollectionRateId, Model.CommissionRateList,"Select",new { @class="form-control"})
                                    <div id="ErrorCollectionRate" style="display:none">
                                        Please select the Commission Rate.
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    <lable>Hold Days On Payments</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.HoldDaysOnPmts,new { @class="form-control"})
                                </div>
                                <div class="col-xs-3 no-LeftRight-pad">
                                    <lable>Out Of State Hold Days</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.HoldDaysOnPmtsOutState, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    <lable>Invoice Type</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.DropDownListFor(m => m.Obj_ClientContract.FinDocTypeId,Model.FinDocTypeList,"Select", new { @class = "form-control" })
                                </div>
                                <div class="col-xs-3 Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsCustomInvoice)
                                    <lable>Custom Invoice</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    <lable>Invoice Cycle</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.DropDownListFor(m => m.Obj_ClientContract.FinDocCycleId, Model.FinDocCycleList, "Select", new { @class = "form-control" })
                                </div>
                                <div class="col-xs-3 Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsEmailInvoice)
                                    <lable>Email Invoice</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsGrossRemit)
                                    <lable>Gross Remit</lable>
                                </div>
                                <div class="col-xs-3 Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IncludeAdvCCGross)
                                    <lable>Include Advance CC</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsSeparateStmt)
                                    <lable>Separate Statement</lable>
                                </div>
                                <div class="col-xs-9 Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsIndStmt)
                                    <lable>Individual Stmt    </lable>
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsIndPaidAgencyStmt)
                                    <lable>Individual Remit Stmt    </lable>
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsIndPaidClientStmt)
                                    <lable>Individual invoice Stmt    </lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 no-LeftRight-pad  Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsShowAttyFeesOnStmt)
                                    <lable>Show Atty Fees on Statement</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 no-LeftRight-pad  Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsSeparateLegalStmt)
                                    <lable>Separate Legal Statement</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 no-LeftRight-pad  Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsNoInterest)
                                    <lable>No Interest</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad  Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsInterestShared)
                                    <lable>Shared Interest</lable>
                                </div>
                                <div class="col-xs-3 Text-Left">
                                    <lable>Shared %</lable>
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.InterestShareRate, new {@class="form-control" ,style="width:75px;display:inline"})
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 no-LeftRight-pad  Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsInterestSharedAsPrinc)
                                    <lable>Shared Interest as Principal</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 no-LeftRight-pad  Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.AdvanceCC)
                                    <lable>Advanced Count Cost</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 no-LeftRight-pad Text-Left">
                                    @Html.CheckBoxFor(m => m.Obj_ClientContract.IsAddCollectionFee)
                                    <lable>Add Collection Fee</lable>
                                </div>
                                <div class="col-xs-9 Text-Left">
                                    <lable>Fixed Fee  </lable>
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.ClientCostAmt,new { @class="form-control", style = "width:75px;display:inline" })
                                    <lable>&nbsp;&nbsp; Fixed Rate</lable>
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.CollectionFeeRate, new { @class = "form-control", style = "width:75px;display:inline" })
                                    <lable>&nbsp;&nbsp; Balance From</lable>
                                    @Html.TextBoxFor(m => m.Obj_ClientContract.CollectionFeeFromBal, new { @class = "form-control", style = "width:75px;display:inline" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TabDocuments" role="tabpanel">
                <br />
                <div>
                    <div class="col-xs-12">
                        <table id="tblLienDocuments" class="table table-bordered dataTable table-hover grid " border="1">
                            <thead>
                                <tr>
                                    <th class="no-sort">Edit</th>
                                    <th class="no-sort">View</th>
                                    <th class="no-sort">Delete</th>
                                    <th>Date Created</th>
                                    <th>User Code</th>
                                    <th>Document Type</th>
                                    <th>Document Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @if (Model.DocumentList != null && Model.DocumentList.Count >= 1)
                                {
                                    foreach (var i in Model.DocumentList)
                                    {
                                        <tr>
                                            <td>
                                                <button type="button" onclick="EditDoc(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                @i.Id
                                                <button type="button" onclick="ViewDownloadDoc(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-download" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" onclick="DeleteDoc(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-close" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td>
                                                @i.DateCreated
                                            </td>
                                            <td>
                                                @i.UserCode
                                            </td>
                                            <td>
                                                @i.DocumentType
                                            </td>
                                            <td>
                                                @i.DocumentDescription
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div>
                    <br />
                    <input type="button" id="btnNewDoc" class="btn btn-primary pull-left" value="New Document" onclick="ShowNewDoc();" />
                </div>
            </div>
            <div class="tab-pane" id="TabHistory" role="tabpanel">
                <br />
                <div>
                    <div class="col-xs-12">
                        <table id="tblLienHistory" class="table table-bordered dataTable table-hover grid " border="1">
                            <thead>
                                <tr>
                                    <th>Date Created</th>
                                    <th>User Name</th>
                                    <th>Change Type</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ContractHistoryList != null && Model.ContractHistoryList.Count >= 1)
                                {
                                    foreach (var i in Model.ContractHistoryList)
                                    {
                                        <tr>
                                            <td>
                                                @i.DateChanged
                                            </td>
                                            <td>
                                                @i.UserName
                                            </td>
                                            <td>
                                                @i.ChangeType
                                            </td>
                                            <td>
                                                @i.ChangeFrom
                                            </td>
                                            <td>
                                                @i.ChangeTo
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnOk" value="Save" class="btn btn-primary" onclick="SaveCollectionContract();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalCollectionModal();"/>
        </div>
    </div>
</form>

<script>

    function CloseModalCollectionModal() {
        //$('#InfoModal').modal("hide");
        $("#ContractModal").modal("hide");
    }

    $('#Obj_ClientContract_IsTrustAccount').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#Groupbox2').show();
            $('#Groupbox1').hide();
        }
        else {
            $('#Groupbox2').hide();
            $('#Groupbox1').show();
        }
    });


    function Validate() {
        debugger
        if ($("#Obj_ClientContract_SalesTeamId").val() === "") {
            $("#ErrorSalesTeam").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorServiceTeam").hide();
            $("#ErrorContactPlan").hide();
            $("#ErrorTenDayContact").hide();
            $("#ErrorCollectionRate").hide();
            $("#ErrorCollectionRate").hide();
        }
        if ($("#Obj_ClientContract_ServiceTeamId").val() === "") {
            $("#ErrorServiceTeam").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorServiceTeam").hide();
            $("#ErrorContactPlan").hide();
            $("#ErrorTenDayContact").hide();
            $("#ErrorCollectionRate").hide();
            $("#ErrorCollectionRate").hide();
        }
        if ($("#Obj_ClientContract_ContactPlanId").val() === "") {
            $("#ErrorContactPlan").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorServiceTeam").hide();
            $("#ErrorContactPlan").hide();
            $("#ErrorTenDayContact").hide();
            $("#ErrorCollectionRate").hide();
            $("#ErrorCollectionRate").hide();
        }
        var IsTenDayContactPlan = document.getElementById('Obj_ClientContract_IsTenDayContactPlan').checked;
        if (IsTenDayContactPlan == true && $("#Obj_ClientContract_TenDayContactPlanId").val() === "") {
            $("#ErrorTenDayContact").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorServiceTeam").hide();
            $("#ErrorContactPlan").hide();
            $("#ErrorTenDayContact").hide();
            $("#ErrorCollectionRate").hide();
            $("#ErrorCollectionRate").hide();
        }
        if ($("#Obj_ClientContract_CollectionRateId").val() === "")
        {
            $("#ErrorCollectionRate").show();
            RemoveActiveClass();
            $("#TabMainInfo").addClass("active");
            $("#MainInfo").addClass("active");
            return false;
        }
        else
        {
            $("#ErrorSalesTeam").hide();
            $("#ErrorServiceTeam").hide();
            $("#ErrorContactPlan").hide();
            $("#ErrorTenDayContact").hide();
            $("#ErrorCollectionRate").hide();
            $("#ErrorCollectionRate").hide();
        }
        return true;
    }

    function ShowNewDoc()
    {
        var ContractId  = @Model.Obj_ClientContract.Id;
        debugger;
        $.ajax({
            url: '@Url.Action("ShowNewDocCollection", "ViewClients")',
            data : {ContractId:ContractId},
            type: "POST",
            success: function (data) {
                hideLoadingImage();
                $('#myModal .modal-content').html(data);
                $('#DocumentDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                CheckMinDate();
                $('#myModal').modal("show");
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $('#myModal').modal("hide");
            }
        });
    }



    function DeleteDoc(Id)
    {
        debugger;
        if(confirm("Are You Sure?"))
        {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteDoc", "ViewClients")',
                data : {id:Id},
                type: "POST",
                success: function (data) {
                    if(data==true)
                    {
                        $("#ContractModal").modal("hide");
                        $('#deleteMsg').show();
                    }
                    else
                    {
                        $("#ContractModal").modal("hide");
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $("#ContractModal").modal("hide");
                    $('#errorMsg').show();
                }
            });
        }
    }

    function EditDoc(Id)
    {
        debugger;
        var ContractId  = @Model.Obj_ClientContract.Id;
        $.ajax({
            url: '@Url.Action("EditAttachment", "ViewClients")',
            data : {Id:Id,ContractId:ContractId},
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#DocumentDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                CheckMinDate();
                $('#uploadFile').prop('disabled', true);
                $('#myModal').modal("show");
            },
            fail: function (error) {

            }
        });
    }

    function SaveCollectionContract() {
        debugger;
        var ClientId = @Model.Obj_ClientContract.BillingClientId;
        if (Validate()) {
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("SaveCollectionContract", "ViewClients")',
                data: $('#FormCollectionContract').serialize(),
                type: "POST",
                success: function (data) {
                    if (data == true) {
                        hideLoadingImage();
                        $('#successMsg').show();
                        //$('#InfoModal2').modal("hide");
                        $("#ContractModal").modal("hide");
                        ShowDetails(ClientId);
                    }
                    else
                    {
                        hideLoadingImage();
                        $('#errorMsg').show();
                        //$('#InfoModal2').modal("hide");
                        $("#ContractModal").modal("hide");
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    //$('#InfoModal').modal("hide");
                    $("#ContractModal").modal();
                }
            });
        }

    }

    function ViewDownloadDoc(Id)
    {
        debugger;
        CheckFileExtension(Id);
        var AttachmentId = Id;
        var url = "/ViewClients/ViewDownloadDoc/"+Id;

    }

    function temp1(Id)
    {
        debugger;
        var AttachmentId = Id;
        var url = "/ViewClients/ViewDownloadDoc/"+Id;
        //var url = "/CRFView/ViewClients/ViewDownloadDoc/"+Id;

        debugger;
        $.ajax({
            url: '@Url.Action("ViewDownloadDoc", "ViewClients")',
            data : {Id:Id},
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            type: "GET",
            success: function (data) {
                debugger;
                @*window.location = '@Url.Action("ViewDownloadDoc", "ViewClients", new { Id = "5" })';*@
                window.location = url;
            },
            fail: function (error) {
            }
        });
    }


    function temp2(Id)
    {
        debugger;
        var AttachmentId = Id;
        var url = "/ViewClients/ViewDownloadDoc/"+Id;
        //var url = "/CRFView/ViewClients/ViewDownloadDoc/"+Id;

        debugger;
        $.ajax({
            url: '@Url.Action("ViewDownloadDoc", "ViewClients")',
            data : {Id:Id},
            contentType: 'application/json; charset=utf-8',
            datatype: 'json',
            type: "GET",
            success: function (data) {
                debugger;
                @*window.location = '@Url.Action("ViewDownloadDoc", "ViewClients", new { Id = "5" })';*@
                //window.location = url;
                window.open(url);
            },
            fail: function (error) {
            }
        });
    }

    function CheckFileExtension(Id)
    {
        debugger
        $.ajax({
            url: '@Url.Action("CheckFileExtension", "ViewClients")',
            data : {Id:Id},
            type: "POST",
            success: function (data) {
                debugger;
                if(data == "pdf")
                {
                    temp2(Id)
                }
                else
                {
                    temp1(Id);
                }
                console.log(data);
            },
            fail: function (error) {
                console.log(error);
            }
        });
    }


    function RemoveActiveClass() {
        var IdList = ["MainInfo",
                        "Documents",
                        "History",
                        "TabMainInfo",
                        "TabDocuments",
                        "TabHistory"];
        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                $("#" + name).removeClass("active");
            }
        });
    }
</script>