﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.NoteVM
@{
    Layout = null;
}

<form id="FormClosedIssueNote">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Client Note
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div id="hiddenFieldsNotes">
            @Html.HiddenFor(m => m.Obj_Note.Id)
            @Html.HiddenFor(m => m.Obj_Note.ClientId)
        </div>
        <div class="col-xs-12 form-group">
            @Html.TextAreaFor(m => m.Obj_Note.IssueDescription)
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btClearNote" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalNote(@Model.Obj_Note.Id);" />
            <input type="button" id="btDeleteNote" value="Delete" class="btn btn-primary pull-left" onclick="DeleteModalNote(@Model.Obj_Note.Id);" />
            <input type="button" id="btnsaveNote" value="Save" class="btn btn-primary" onclick="SaveNote()" />
            <input type="button" value="Cancel" id="CancelModalNote" class="btn btn-primary" onclick="CloseModalNote();" />
        </div>
    </div>
</form>


<script>
    function CloseModalNote()
    {
        $("#ContractModal").modal("hide");
    }
    function SaveNote()
    {
        debugger;
        var id = @Model.Obj_Note.ClientId;
        var data = $('#FormClosedIssueNote').serialize();
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SaveNote", "ViewClients")',
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $("#ContractModal").modal("hide");
                    ShowDetails(id);
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#ContractModal").modal("hide");
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#ContractModal").modal("hide");
            }
        });
    }

    function ClearModalNote(id)
    {
        $.ajax({
            url: '@Url.Action("ShowNoteDetails", "ViewClients")',
            data: { id: id },
            type: "POST",
            async : false,
            success: function (data) {
                debugger;
                $('#ContractModal .modal-content').html(data);
                $('#Obj_Note_IssueDescription').summernote();
                $('#ContractModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function DeleteModalNote(id) {
        debugger;
        var ClientId = @Model.Obj_Note.ClientId;
        $.ajax({
            url: '@Url.Action("DeleteNote", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                if (data == true) {
                    $('#ContractModal').modal("hide");
                    $('#deleteMsg').show();
                    ShowDetails(ClientId);
                }
                else {
                    $('#ContractModal').modal("hide");
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $('#ContractModal').modal("hide");
                $('#errorMsg').show();
            }
        });
    }
</script>


