﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.IssueVM
@{
    Layout = null;
}

<form id="FormOpenIssue">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Open Issue
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div id="hiddenFieldsNotes">
            @Html.HiddenFor(m => m.Obj_Issue.Id)
            @Html.HiddenFor(m => m.Obj_Issue.ClientId)
        </div>
        <div class="col-xs-12 form-group">
            <div class="col-xs-2">
                <lable>Assign To:</lable>
            </div>
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.Obj_Issue.IssueAssignedId, Model.InternalUserList,"Select", new { @class = "form-control" })
            </div>

        </div>
        <div class="col-xs-12 form-group">
            @Html.TextAreaFor(m => m.Obj_Issue.IssueDescription)
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btClearOpenIssue" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalOpenIssues(@Model.Obj_Issue.Id);" />
            <input type="button" id="btDeleteNote" value="Delete" class="btn btn-primary pull-left" onclick="DeleteModalIssue(@Model.Obj_Issue.Id);" />
            <input type="button" id="btnCloseOpenIssue" value="Close" class="btn btn-primary" onclick="CloseOpenIssue();" />
            <input type="button" id="btnsaveOpenIssue" value="Save" class="btn btn-primary" onclick="SaveIssue();" />
            <input type="button" value="Cancel" id="CancelModalOpenIssue" class="btn btn-primary" onclick="CloseModalOpenIssue();" />
        </div>
    </div>
</form>

<script>
    function CloseModalOpenIssue()
    {
        $("#ContractModal").modal("hide");
    }

    function CloseOpenIssue()
    {
        debugger;
        var id = @Model.Obj_Issue.ClientId;
        var data = $('#FormOpenIssue').serialize();
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("CloseOpenIssue", "ViewClients")',
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $("#ContractModal").modal("hide");
                    ShowDetails(id);
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#ContractModal").modal("hide");
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#ContractModal").modal("hide");
            }
        });
    }

    function DeleteModalIssue(id)
    {
        debugger;
        showLoadingImage();
        var ClientId = @Model.Obj_Issue.ClientId;
        $.ajax({
            url: '@Url.Action("DeleteIssue", "ViewClients")',
            data: { id: id },
            type: "POST",
            success: function (data) {
                if (data == true) {
                    $('#ContractModal').modal("hide");
                    hideLoadingImage();
                    ShowDetails(id);
                    $('#deleteMsg').show();
                    ShowDetails(ClientId);
                    //alert("Issue Closed");
                }
                else {
                    $('#ContractModal').modal("hide");
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#ContractModal').modal("hide");
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function SaveIssue() {
        debugger;
        var id = @Model.Obj_Issue.ClientId;
        var data = $('#FormOpenIssue').serialize();
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SaveIssue", "ViewClients")',
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $("#ContractModal").modal("hide");
                    ShowDetails(id);
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $("#ContractModal").modal("hide");
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#ContractModal").modal("hide");
            }
        });
    }

    function ClearModalOpenIssues(id) {
        $.ajax({
            url: '@Url.Action("ShowOpenIssueDetails", "ViewClients")',
            data: { id: id },
            type: "POST",
            async: false,
            success: function (data) {
                debugger;
                $('#ContractModal .modal-content').html(data);
                $('#Obj_Issue_IssueDescription').summernote();
                $('#ContractModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }
</script>

