﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ViewClientsVM
@{

    Layout = null;
}


<div>
    <table id="tblViewClients" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th class="no-sort">Edit</th>
                <th>Main Client Code</th>
                <th>Client Code</th>
                <th>Client Name</th>
                <th>Contact Name</th>
                <th>City</th>
                <th>State</th>
                <th>Review Date</th>
                <th>Evaluation Date</th>
                <th>Phone</th>
                <th>Inactive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.ListADClient)
            {
                <tr>
                    <td>
                        <button onclick="ShowDetails(@i.ClientId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>@i.MainClientCode</td>
                    <td>@i.ClientCode</td>
                    <td>@i.ClientName</td>
                    <td>@i.ContactName</td>
                    <td>@i.City</td>
                    <td>@i.State</td>
                    @{
                        if (i.NextContactDate.Value == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.NextContactDate.Value.ToShortDateString()</td>
                        }
                    }
                    @{
                        if (i.EvaluationDate.Value == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.EvaluationDate.Value.ToShortDateString()</td>
                        }
                    }
                    <td>@i.PhoneNo</td>
                    <td>@i.IsInactive</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
       function ShowDetails(id) {
           debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("LoadClient", "ViewClients")',
            data: { id: id},
            type: "POST",
            success: function (data) {
                $('#EditClient').html(data);
                CheckMinDate();
                $('#list').hide();
                $('#Obj_ADClient_NextContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                $('#Obj_ADClient_EvaluationDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                $('#Obj_ADClient_ContactDOB').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                $('#Obj_ADClient_SetupDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                $('#Obj_ADClient_CommissionDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate");
                makeDatatable('tblClientCntracts');
                makeDatatable('tblClientNotes');
                makeDatatable('tblOpenIssues');
                makeDatatable('tblClientBranches');
                makeDatatable('tblClientUsers');
                makeDatatable('tblClientContacts');
                makeDatatable('tblClientSigner');
                makeDatatable('tblClientReports');
                if ($("#ChkFollowUp").prop("checked") == false) {
                    $("#Obj_ADClient_NextContactDate").hide();
                }
                if ($("#ChkEvalDate").prop("checked") == false) {
                    $("#Obj_ADClient_EvaluationDate").hide();
                }
                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();

            }
        });
    }
</script>
