﻿@model CRFView.Adapters.Clients.ClientManagementViewModels.ViewClientsVM
@{

}

<div>
    <h3 class="page-header">View Clients</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
 
        <div id="list">
            <div id="filterDiv">
                @{Html.RenderPartial("~/Views/CRFViewClients/ClientManagement/View Clients/_FilterView.cshtml");}
            </div>
            @{Html.RenderPartial("~/Views/CRFViewClients/ClientManagement/View Clients/_ViewClientList.cshtml");}
        </div>
        <div id="EditClient">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            
        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="InfoModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;" >

        </div>

    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {

    }

    function FilterClients() {

        $.ajax({
            url: '@Url.Action("ShowFilterModal", "ViewClients")',
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                $('#NextContactDateTO').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                $('#EvaluationDateTO').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


    function AddClient() {
        debugger;
        var now = new Date();
        now.setDate(now.getDate() + 90);
        $.ajax({
            url: '@Url.Action("ShowCreateNewClientModal", "ViewClients")',
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                $('#ADC_obj_NextContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                $('#ADC_obj_EvaluationDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", now);
                $('#ADC_obj_ContactDOB').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#ADC_obj_SetupDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#ADC_obj_CommissionDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function Refresh() {
        debugger;
        
          $.ajax({
            url: '@Url.Action("RefreshList", "ViewClients")',            
              success: function (data) {
                  debugger;
                $('#list').html(data);
                ClearDatatableState('tblViewClients');
                makeDatatable('tblViewClients');
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

</script>

<style type="text/css">
    .no-LeftRight-pad{
        padding-left:0px;
        padding-right:0px;
    }
    .pad-leftRight-15{
        padding-left:15px;
        padding-right:15px;
    }
    .no-right-pad{
    padding-right:0px;
    }
    .no-left-pad{
        padding-left:0px;
    }
    .pad-right-38{
        padding-right:38px;
    }
    .pad-right-13{
        padding-right:13px;
    }
    .pad-right-74{
        padding-right:74px;
    }
    .pad-right-40{
        padding-right:40px;
    }
    .pad-right-62{
        padding-right:62px;
    }
    .pad-right-70{
        padding-right:70px;
    }
    .pad-right-125{
        padding-right:125px;
    }    
    .pad-right-12{
        padding-right:12px;
    }
    .pad-left-2{
        padding-left:2px;
    }
    .pad-right-27{
        padding-right:27px;
    }
    .Text-Left{
        text-align:left;
    }       
</style>


