﻿@model CRFView.Adapters.ADStatus
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.CollectionStatusId)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Status Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.CollectionStatus, new { @class = "form-control",@style= "text-transform:uppercase" })
                <div id="ErrorCollectionStatus" class="Invalid-feedback" style="display:none">
                    Please Enter Status Code.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Description:</lable>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.CollectionStatusDescr, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Status Group:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              @Html.DropDownListFor(m => m.StatusGroup, new SelectList(ViewBag.StatusGroupList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>

      
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
           
            showLoadingImage();
            $('#myModal').modal('hide');

            $.ajax({
                url: '@Url.Action("StatusSave", "Status")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblStatus');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#CollectionStatus").val().length <= 0) {
            $("#ErrorCollectionStatus").show();
            return false;
        }
        else {
            $("#ErrorCollectionStatus").hide();
        }

        return true;
    }


</script>



