﻿@model CRFView.Adapters.ADNoticeRates
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Price Code :</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.PriceCodeName, new { @class = "form-control" })
                <div id="ErrorPriceCodeName" class="Invalid-feedback" style="display:none">
                    Please Enter Price Code.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Billing Event Type:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.BillableEventId, new SelectList(ViewBag.BillableEventTypeList, "Id", "Name"), new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-8 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsAllInclusivePrice)<lable class="Checkbox-lable">Is All Inclusive Price</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-8 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.UsePrelimVolume)<lable class="Checkbox-lable">Use Prelim Volume</lable>
            </div>
        </div>
        
      
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("NoticeRatesSave", "NoticeRates")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblNoticeRates');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#PriceCodeName").val().length <= 0) {
            $("#ErrorPriceCodeName").show();
            return false;
        }
        else {
            $("#ErrorPriceCodeName").hide();
        } 
      
        return true;
    }
</script>



