﻿@model CRFView.Adapters.ADLetters
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.PKID)
    <div class="modal-body">

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Letter Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.LetterCode, new { @class = "form-control", @style = "text-transform:uppercase" })
                <div id="ErrorLetterCode" class="Invalid-feedback" style="display:none">
                    Please Enter Letter Code.
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:right">
                @Html.CheckBoxFor(m => m.IsInactive)<lable class="Checkbox-lable">IsInactive</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7">
                @Html.TextBoxFor(m => m.LetterDescr, new { @class = "form-control" })
                <div id="ErrorDescription" class="Invalid-feedback" style="display:none">
                    Please Enter Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Letter Type:</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="col-md-6 col-sm-6 col-xs-6 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.LetterType, "D")<label> Collection</label>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.LetterType, "C")<label> Client</label>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.LetterType, "L")<label> Fordwarding</label>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.LetterType, "S")<label> Legal</label>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.LetterType, "M")<label> Other</label>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 radio-sm" style="text-align:left">
                    @Html.RadioButtonFor(m => m.LetterType, "CL")<label> Close</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Status Days:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.StatusDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Review Days:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.ReviewDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.GenerateInvoiceNum)<lable class="Checkbox-lable">Generate Invoice Number</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">

            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Preview Letter:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.DebtorId, new { @class = "form-control" })
                <lable id="lblerror" style="text-align: left;color: red;"></lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="button" value="Preview" class="btn-round btn" onclick="Preview()" />

            </div>


        </div>
       
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>
    $('#CancelModal').on('click', function () {
        debugger;
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {

            showLoadingImage();
            $('#myModal').modal('hide');

            $.ajax({
                url: '@Url.Action("LettersSave", "Letters")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if(data=="True")
                    {
                        $.ajax({
                            url: '@Url.Action("Refresh", "Letters")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblLetters');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //letter preview
    function Preview() {
        debugger;
        showLoadingImage();
        $('#lblerror').val('');
        var debtorId = $('#DebtorId').val();
        //var debtorId='11773';
        if (Validate()) {
            if (debtorId.length > 0) {
                $.ajax({
                    url: '@Url.Action("LettersPreview", "Letters")',
                    data: $('#FormEdit').serialize(),
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data != "error") {
                            $('#lblerror').text('');
                            window.open(data);
                            hideLoadingImage();
                        }
                        else
                        {
                            hideLoadingImage();
                            $('#lblerror').text('Report Not Found !!');
                           
                        }
                        return false;
                    },

                    fail: function (error) {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                });
            }
            else {
                hideLoadingImage();
                return false;
            }
        }
    }



    //validation for null record
    function Validate() {
        debugger;

        if ($("#LetterCode").val().length <= 0) {
            $("#ErrorLetterCode").show();
            return false;
        }
        else {
            $("#ErrorLetterCode").hide();
        }
        if ($("#LetterDescr").val().length <= 0) {
            $("#ErrorDescription").show();
            return false;
        }
        else {
            $("#ErrorDescription").hide();
        }
        return true;
    }

</script>
