﻿@model IEnumerable<CRFView.Adapters.ADClientReportsDefinations>
@{
    
    Layout = null;
}


<div>
    <table id="tblClientReportsDefinations" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Id</th>
                <th width="150px">Task Name</th>
                <th  class="no-sort">Description</th>
                <th>Last Run</th>
                <th>Next Run</th>
                <th  class="no-sort">IsDisabled</th>
                <th>Last Message</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.PKID</td>
                    <td>@i.taskname</td>     
                    <td>@i.description</td>  
                   
                    @{
                        if (i.lastrundate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.lastrundate.ToString("MM/dd/yyyy")</td>
                        }
                    }
                    @{
                        if (i.nextrundate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.nextrundate.ToString("MM/dd/yyyy")</td>
                       
                        }
                    }

                    <td>@i.isdisabled</td> 
                    <td>@i.lastmessage</td> 
                    <td>
                            <button onclick="ShowDetails(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
