﻿@model IEnumerable<CRFView.Adapters.ADClientReportsDefinations>
    @{
   
    }

    <div>
    
        <h3 class="page-header">ClientReports Definitions</h3>
        <hr/>
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/ClientReportsDefinations/_ClientReportsDefinationsList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>


    <script type="text/javascript">

        function OnPartialLoad() {

        }

        function AddDetails() {
            $.ajax({
                url: '@Url.Action("ClientReportsDefinationsAdd", "ClientReportsDefinations")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    $('#nextrundate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('input:radio[value=3]').attr('checked', true);
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("ClientReportsDefinationsDetails", "ClientReportsDefinations")',
                data: {
                    id: id
                },
                success: function (data) {
                  
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    $('#nextrundate').datepicker();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {
                $.ajax({
                    url: '@Url.Action("Search", "ClientReportsDefinations")',
                    data: {
                        value: searchVal,
                        Key: SearchKey
                    },
                    type: "POST",
                    success: function (data) {
                        $('#list').html(data);
                        makeDatatable('tblClientReportsDefinations');
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
            return false;
        }

        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "ClientReportsDefinations")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblClientReportsDefinations');
                    makeDatatable('tblClientReportsDefinations');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


