﻿
@model CRFView.Adapters.Liens.DayEnds.AutoEmail.ViewModels.AutoEmailVM
    @{
    Layout = null;
}

<style>
    .rt {
        text-align: right;
    }

    .Setfieldset {
        width: 606px;
        height: 285px;
    }
</style>
<form id="FormAutoEmail">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Auto Email Cust/GC</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">


                <br />
                <div class="col-xs-10 form-group">
                    <div class="col-xs-6 rt">
                        <lable>From Date</lable>
                    </div>
                    <div class="col-xs-4">
                        @Html.TextBoxFor(m => m.FromDate, "{0:MM/dd/yyyy}", new { style = "width:128px" })
                    </div>
                </div>
                <br />
                <div class="col-xs-10 form-group">
                    <div class="col-xs-6 rt">
                        <lable>Thru Date</lable>
                    </div>
                    <div class="col-xs-4">
                        @Html.TextBoxFor(m => m.ThruDate, "{0:MM/dd/yyyy}", new { style = "width:128px" })
                    </div>
                </div>
                <br />


            </div>
        </div>
    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Message)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">

            @*<input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="Delete()" />*@
            <input type="button" id="btnPrintLienRevenueOK" value="OK" class="btn btn-primary" onclick="OKPrintAutoEmail()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>
</form>



<script>

    function OKPrintAutoEmail() {
        debugger;
        showLoadingImage();


        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormAutoEmail').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("AutoEmailPrint", "AutoEmail")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == "Completed") {
                    AutoEmailSuccessPopup();
                    hideLoadingImage();
                }

              
                //return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function PrintAutoEmailSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Auto Email Printed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function AutoEmailSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Auto Email Processed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function AutoEmailWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }
    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#objADvwJobInfo_FromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#objADvwJobInfo_ThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

    }

    function AutoEmailPrintCSuccessPoppup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Process Completed",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>