﻿@model CRFView.Adapters.ADJobStatus
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.Id)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Status Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.TextBoxFor(m => m.JobStatus, new { @class = "form-control", @style="text-transform:uppercase"})
                <div id="ErrorJobStatus" class="Invalid-feedback" style="display:none">
                    Please Enter Job Status.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.TextBoxFor(m => m.JobStatusDescr, new { @class = "form-control" })
                <div id="ErrorJobStatusDescr" class="Invalid-feedback" style="display:none">
                    Please Enter Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Status Group:</lable>
                </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                @Html.DropDownListFor(m => m.StatusGroup,new SelectList(ViewBag.StatusGroupList,"Id","Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Status Group:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.IsClosed) <label for="IsClosed">Is Closed Status</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.IsLienAlert) <label for="IsLienAlert">Is Lien Alert Status</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.IsNoticeRequestStatus) <label for="IsNoticeRequestStatus">Is Notice Request Status</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm NopaddingLR" style="text-align: left">
                    @Html.CheckBoxFor(m => m.IsReviewStatus) <label for="IsReviewStatus">Is Review Status </label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Long Description:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextAreaFor(m => m.LongDescription, new { @class = "form-control",@rows="6",@cols="10" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("JobStatusSave", "JobStatus")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "JobStatus")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblJobStatus');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        if ($("#JobStatus").val().length <= 0) {
            $("#ErrorJobStatus").show();
            return false;
        }
        else {
            $("#ErrorJobStatus").hide();
        }
        if ($("#JobStatusDescr").val().length <= 0) {
            $("#ErrorJobStatusDescr").show();
            return false;
        }
        else {
            $("#ErrorJobStatusDescr").hide();
        }
        return true;
    }
</script>



