﻿@model IEnumerable<CRFView.Adapters.ADContactPlans>
@{
    
    Layout = null;
}


<div>
    <table id="tblContactPlans" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Contact Plan Code</th>
                <th>Contact Plan</th>
                <th>10 Day Contact Plan</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.ContactPlanCode</td>     
                    <td>@i.ContactPlan</td>     
                    <td>@i.IsTenDayContactPlan</td>     
                    <td>
                            <button onclick="ShowDetails(@i.ContactPlanId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
