﻿@model CRFView.Adapters.ADContactPlans
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.ContactPlanId)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Contact Plan Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.ContactPlanCode , new { @class = "form-control",@style="text-transform:uppercase" })
                <div id="ErrorContactPlanCode" class="Invalid-feedback" style="display:none">
                    Please Enter Contact Plan Code.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.ContactPlan, new { @class = "form-control" })
                <div id="ErrorContactPlan" class="Invalid-feedback" style="display:none">
                    Please Enter Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign"> </div>
            <div class="col-md-8 col-sm-8 col-xs-8 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsTenDayContactPlan)<lable class="Checkbox-lable">10 Day Contact Plan</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Default Location:</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.DropDownListFor(m => m.DefaultLocationId, new SelectList(ViewBag.LocationList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Default Status:</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.DropDownListFor(m => m.DefaultStatusId, new SelectList(ViewBag.StatusList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:right">
                @Html.CheckBoxFor(m => m.HasPhoneCalls)<lable class="Checkbox-lable">Has Phone Calls</lable>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" id="DivEnablePhoneCall">
                @Html.TextBoxFor(m => m.InitialCallDelay, new { @class = "form-control", @onkeypress = "return isNumber(event)" }) 
            </div>
            <lable id="lblEnablePhoneCall" class="Label-FontSize"># of Days to First Call</lable>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:right">
                @Html.CheckBoxFor(m => m.HasLetterSeries)<lable class="Checkbox-lable">Has Letter Series</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" id="DivEnableLetterSeries">
               <div class="form-group col-md-12 col-sm-12 col-xs-12 padding-0LR">
                   <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;padding-right:0px">
                       <lable class="Label-FontSize">Letter Delays</lable>
                   </div>
                   <div class="form-group col-md-3 col-sm-3 col-xs-3">
                       <lable class="Label-FontSize">(Days)</lable>
                   </div>
                   <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;padding-right:0px">
                       <lable class="Label-FontSize">Letter code</lable>
                   </div>
                   <div class="form-group col-md-3 col-sm-3 col-xs-3">
                       <lable class="Label-FontSize">Price</lable>
                   </div>
               </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12 padding-0LR">
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        <lable class="Label-FontSize">1st</lable>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter1Days, new { @class = "form-control" ,@onkeypress= "return isNumber(event)" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter1Code, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-right: 0px;">
                        @Html.TextBoxFor(m => m.Letter1Price, new { @class = "form-control",@onkeypress = "return isNumber(event)" })
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12 padding-0LR">
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        <lable class="Label-FontSize">2nd</lable>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter2Days, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter2Code, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3"  style="padding-right: 0px;">
                        @Html.TextBoxFor(m => m.Letter2Price, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12 padding-0LR">
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        <lable class="Label-FontSize">3rd</lable>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter3Days, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter3Code, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-right: 0px;">
                        @Html.TextBoxFor(m => m.Letter3Price, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12 padding-0LR" >
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        <lable class="Label-FontSize">4th</lable>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter4Days, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter4Code, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-right: 0px;">
                        @Html.TextBoxFor(m => m.Letter4Price, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12 padding-0LR">
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        <lable class="Label-FontSize">5th</lable>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter5Days, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter5Code, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-right: 0px;">
                        @Html.TextBoxFor(m => m.Letter5Price, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 col-xs-12 padding-0LR">
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        <lable class="Label-FontSize">6th</lable>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter6Days, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.Letter6Code, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-3" style="padding-right: 0px;">
                        @Html.TextBoxFor(m => m.Letter6Price, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("ContactPlansSave", "ContactPlans")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblContactPlans');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#ContactPlanCode").val().length <= 0) {
            $("#ErrorContactPlanCode").show();
            return false;
        }
        else {
            $("#ErrorContactPlanCode").hide();
        }
        if ($("#ContactPlan").val().length <= 0) {
            $("#ErrorContactPlan").show();
            return false;
        }
        else {
            $("#ErrorContactPlan").hide();
        }

        return true;
    }

    $('#HasPhoneCalls').change(function () {
        if (this.checked) {
            $('#DivEnablePhoneCall').show();
            $('#lblEnablePhoneCall').show();
        }
        else {
            $('#DivEnablePhoneCall').hide();
            $('#lblEnablePhoneCall').hide();
        }
    });
    $('#HasLetterSeries').change(function () {
        if (this.checked)
            $('#DivEnableLetterSeries').show();
        else
            $('#DivEnableLetterSeries').hide();

    });

    function DisableFields() {
        debugger;
        if ($("#HasPhoneCalls").prop('checked')) {
            $("#DivEnablePhoneCall").show();
        }
        else {
            $("#DivEnablePhoneCall").hide();
        }
        if ($("#HasLetterSeries").prop('checked')) {
            $("#DivEnableLetterSeries").show();
        }
        else {
            $("#DivEnableLetterSeries").hide();
        }
    }
</script>



