﻿@model IEnumerable<CRFView.Adapters.ADReportFileName>
@{
    
    Layout = null;
}


<div>
    <table id="tblReportFileNames" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th class="no-sort">FileName</th>
                <th class="no-sort">Lien / Collections</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.ReportFileName</td>
                    <td>@i.ReportType</td>             
                    <td>
                            <button onclick="ShowDetails(@i.ReportFileId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
