﻿@model CRFView.Adapters.Collections.DayEnd.MatchReport.ViewModels.MatchReportVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormMatchReport">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Matching Report
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">


        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-8 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Assign Date Range</legend>
                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-3">
                            <lable>From Date</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.FromDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-3">
                            <lable>Thru Date</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.ThruDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                        </div>
                    </div>
                     
                </fieldset>
            </div>

            <div class="col-xs-4 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Print Option</legend>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To Printer")
                        &nbsp;
                        <lable>Send To Printer</lable>
                    </div>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
                        &nbsp;
                        <lable>Send To PDF</lable>
                    </div>
          
                </fieldset>
            </div>

            <br /><br />&nbsp;
        </div>
         
    </div>


    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnMatchReportOK" value="OK" class="btn btn-primary" onclick="OKMatchReport()" />
            <input type="button" value="Cancel" id="btnMatchReportCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>
 
    //button OKMatchReport
    function OKMatchReport() {
        debugger;
        showLoadingImage();
        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormMatchReport').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("MatchReportPrint", "MatchReport")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintMatchReportSuccessPopup();
                    hideLoadingImage();
                    return false;
                } 

                if (data != "error") {
                    window.open(data);
                    CreateMatchReportSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function CreateMatchReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Report Processed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function PrintMatchReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Report Printed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>






