﻿
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Match Report</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="AuditDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "MatchReport")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#FromDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                $('#ThruDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


</script>



