﻿@model IEnumerable<CRFView.Adapters.ADInvoiceTypes>
@{
    
    Layout = null;
}


<div>
    <table id="tblInvoiceTypes" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Invoice Type</th>
                <th>Branch Grouping</th>
                <th>Available In Collection</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.FinDocTypeName</td>     
                    <td>@i.BranchBreak</td>
                    <td>@i.IsAvailableInColl</td>
                    <td>
                            <button onclick="ShowDetails(@i.FinDocTypeId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
