﻿@model CRFView.Adapters.ADDesk
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.LocationId)
    <div class="modal-body  col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Desk:</lable>
                    <span class="ValidationStar">*</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                    <div id="ErrorLocation" class="Invalid-feedback" style="display:none">
                        Please Enter Desk.
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 checkbox-sm" style="text-align:left">
                    @Html.CheckBoxFor(m => m.IsInactive)<lable class="Checkbox-lable">InActive</lable>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Initials:</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.LocationInitials, new { @class = "form-control", @style = "text-transform:uppercase" })
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Name:</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.LocationDescr, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Debtor Alias:</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.DebtorAlias, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Client Alias:</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.ClientAlias, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Title:</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.LocationTitle, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Phone No:</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.LocationPhone, new { @class = "form-control", @onkeyup = "formatPhone(this)", @maxlength = "12" })
                    <div id="ErrorLocationPhone" class="Invalid-feedback" style="display:none">
                        Invalid Phone number.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Email:</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.TextBoxFor(m => m.LocationEmail, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                    <lable class="Label-FontSize">Primary:</lable>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @Html.DropDownListFor(m => m.PrimaryOwnerId, new SelectList(ViewBag.CollectionUsers, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign"> </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsDropContact)<lable class="Checkbox-lable">Drop Review Schedule</lable>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.IsDropLetter)<lable class="Checkbox-lable">Drop Letter Series</lable>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                <lable class="Label-FontSize">Signature:</lable>
            </div>
            @Html.HiddenFor(m => m.Signature)
            <div class="form-group col-md-12 col-sm-12 col-xs-12 image-panel" style="height: 150px!important">
                <img id="imgSignature" src="#" class="image-padding" />
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                <div class="file-upload">
                    <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                    <input id="uploadSignature" class="file-upload__input" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg">
                </div>
                <button id="btnDeleteSignature" class="btn btn-default">
                    <i class="wb-close"></i>
                    Delete
                </button>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 " style="text-align:left">
                <lable class="Label-FontSize">Collector Photo:</lable>
            </div>
            @Html.HiddenFor(m => m.CollectorPhoto)
            <div class="form-group col-md-12 col-sm-12 col-xs-12 image-panel" style="height: 150px!important">
                <img id="imgCollectorPhoto" src="#" class="image-padding" />
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                <div class="file-upload">
                    <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                    <input id="uploadCollectorPhoto" class="file-upload__input" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg">
                </div>
                <button id="btnDeleteCollectorPhoto" class="btn btn-default">
                    <i class="wb-close"></i>
                    Delete
                </button>
            </div>
        </div>
        @*<div class="col-md-12 col-sm-12 col-xs-12 " style="text-align:left">
            <lable class="Label-FontSize">Secondary/Temp Owners:</lable>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="border-width:1px;border-style:solid;padding: 15px 15px 15px 15px;border-color:darkgrey">
            @Html.Partial("~/Views/Shared/_GroupSelection.cshtml")
            @Html.HiddenFor(m => m.LocationUsersList)
        </div>*@
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });



    function Save() {
        if (Validate()) {

            showLoadingImage();
            var SelectedList = "";
            $("#ddlSelectedList option").each(function () {
                SelectedList += $(this).val() + ",";
            });
            $('#LocationUsersList').val(SelectedList);
            $('#myModal').modal('hide');

            $.ajax({
                url: '@Url.Action("DeskSave", "Desk")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblDesk');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#Location").val().length <= 0) {
            $("#ErrorLocation").show();
            return false;
        }
        else {
            $("#ErrorLocation").hide();
        }
        if (validatePhone($("#LocationPhone").val()) == false) {
            $("#ErrorLocationPhone").show();
            return false;
        }
        else {
            $("#ErrorLocationPhone").hide();
        }
        return true;
    }

    //image display and read and write
    function readImage(input, imageid, hiddenid) {
        //Read image and set the base64 value in hidden field.
        debugger;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#' + imageid).attr('src', e.target.result);
                $('#' + hiddenid).val(e.target.result.replace(/^data:image\/(bitmap|jpeg|gif);base64,/, ""));
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#btnDeleteCollectorPhoto').on('click', function () {
        $('#imgCollectorPhoto').attr('src', '');
        $('#CollectorPhoto').val('');
        return false;

    });
    $('#btnDeleteSignature').on('click', function () {
        $('#imgSignature').attr('src', '');
        $('#Signature').val('');
        return false;

    });



    function ConvertImagetoDataURL() {
        var CollectorPhoto = 'data:image/jpeg;base64,' + $('#CollectorPhoto').val();
        $('#imgCollectorPhoto').attr('src', CollectorPhoto);
        var Signature = 'data:image/jpeg;base64,' + $('#Signature').val();
        $('#imgSignature').attr('src', Signature);
    }
    $("#uploadCollectorPhoto").change(function () {
        readImage(this, "imgCollectorPhoto", "CollectorPhoto");
    });

    $("#uploadSignature").change(function () {
        readImage(this, "imgSignature", "Signature");
    });

    //Available and selected owner list
    function addSelectedClientList() {
        debugger;
        var flag = false;
        var selectedText = $('#ddlAvailableList').find("option:selected").text();
        var selectedValue = $('#ddlAvailableList').val();
        if ($('#ddlSelectedList option').length > 0) {
            $("#ddlSelectedList option").each(function () {
                if ($(this).val() == selectedValue) {
                    flag = true;
                }
            });
            if (flag == false) {
                $('#ddlSelectedList').prepend('<option value="' + selectedValue + '">' + selectedText + '</option>');
            }
        }
        else {
            $('#ddlSelectedList').prepend('<option value="' + selectedValue + '">' + selectedText + '</option>');
        }

    }

    function removeSelectedClientList() {
        debugger;
        var selectedValue = $('#ddlSelectedList').val();
        $('#ddlSelectedList option[value="' + selectedValue + '"]').remove();

    }


</script>



