﻿@model CRFView.Adapters.ADClientViewGroup
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    @Html.HiddenFor(m => m.Id)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Group Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.ClientViewGroupName, new { @class = "form-control" })
                <div id="ErrorGroupName" class="Invalid-feedback" style="display:none">
                    Please Enter Group Name.
                </div>
            </div>
        </div><br /><br /><br /><br />
        @Html.Partial("~/Views/Shared/_GroupSelection.cshtml")
        @Html.HiddenFor(m => m.ClientCodeList)
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>

     $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        debugger;
        if (Validate()) {
            var SelectedList = "";
            $("#ddlSelectedList option").each(function () {
                SelectedList += $(this).val() + ",";
            });
            $('#ClientCodeList').val(SelectedList);

            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("ClientViewGroupSave", "ClientViewGroup")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientViewGroup');
                    $("#txtSearch").val("");
                    $('#successMsg').show();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#ClientViewGroupName").val().length <= 0) {
            $("#ErrorGroupName").show();
            return false;
        }
        else {
            $("#ErrorGroupName").hide();
        }

        return true;
    }

    function addSelectedClientList() {
        debugger;
        var flag = false;
        var selectedText = $('#ddlAvailableList').find("option:selected").text();
        var selectedValue = $('#ddlAvailableList').val();
        if ($('#ddlSelectedList option').length > 0) {
            $("#ddlSelectedList option").each(function () {
                if ($(this).val() == selectedValue) {
                    flag = true;
                }
            });
            if (flag == false) {
                $('#ddlSelectedList').prepend('<option value="' + selectedValue + '">' + selectedText + '</option>');
            }
        }
        else {
            $('#ddlSelectedList').prepend('<option value="' + selectedValue + '">' + selectedText + '</option>');
        }

    }

    function removeSelectedClientList() {
        debugger;
        var selectedValue = $('#ddlSelectedList').val();
        $('#ddlSelectedList option[value="' + selectedValue + '"]').remove();

    }
</script>



