﻿@model IEnumerable<CRFView.Adapters.ADClientViewGroup>
    @{

    }

    <div>

        <h3 class="page-header">ClientView Group</h3>
        <hr /> 
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/ClientViewGroup/_ClientViewGroupList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-width">

            <!-- Modal content-->
            <div class="modal-content modal-width">

            </div>

        </div>
    </div>


    <script type="text/javascript">
        function OnPartialLoad() {

        }

        function AddDetails() {
            $.ajax({
                url: '@Url.Action("ClientViewGroupAdd", "ClientViewGroup")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                   
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("ClientViewGroupDetails", "ClientViewGroup")',
                data: {
                    id: id
                },
                success: function (data) {
                  
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                  
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {
                $.ajax({
                    url: '@Url.Action("Search", "ClientViewGroup")',
                    data: {
                        value: searchVal,
                        Key: SearchKey
                    },
                    type: "POST",
                    success: function (data) {
                        $('#list').html(data);
                        makeDatatable('tblClientViewGroup');
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
            return false;
        }
        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "ClientViewGroup")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblClientViewGroup');
                    makeDatatable('tblClientViewGroup');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


