﻿@model CRFView.Adapters.Liens.DataEntry.ClearErrorFlag.ViewModels.ClearErrorFlagVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormClearErrorFlag">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Clear Error Flag
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Temp Id</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ByBatchJobId, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-2">
                <input type="button" id="btnFindJobDetails" value="Find" class="btn btn-primary" onclick="FindJobDetails()" />
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />

        <div id="divDetails" style="@(string.IsNullOrEmpty(Model.ByBatchJobId) ? "display:none" : "display:block")">

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-3">
                    <lable>Client #</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.ClientCode, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
                <div class="col-xs-2">
                    <lable>Batch Id</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.BatchId, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
             
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-3">
                    <lable>Customer</lable>
                </div>
                <div class="col-xs-7">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.CustName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-3">
                    <lable>Job Name</lable>
                </div>
                <div class="col-xs-7">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.JobName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-3">
                    <lable>Address 1</lable>
                </div>
                <div class="col-xs-7">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.JobAdd1, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
                <div class="col-xs-2">

                </div>
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-3">
                    <lable>Address 2</lable>
                </div>
                <div class="col-xs-7">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.JobAdd2, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
                <div class="col-xs-2">

                </div>
            </div> 

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-3">
                    <lable>City/State/Zip</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.JobCity, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
                <div class="col-xs-1" style="margin-left: -4%;width: 14%;">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.JobState, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
                <div class="col-xs-2" style="margin-left: -4%;width: 19%;">
                    @Html.TextBoxFor(m => m.ObjADvwBatchJobExport.JobZip, new { @class = "form-control", style = "display:inline;", @readonly = true })
                </div>
                <div class="col-xs-3">
                </div>
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.ObjADvwBatchJobExport.IsError)
                    &nbsp;
                    <lable>Has Error</lable>
                </div>
                
            </div>
    
        </div>


    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ByBatchJobId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClearErrorFlagUpdate" value="Update" class="btn btn-primary" onclick="UpdateClearErrorFlag()" />
            <input type="button" value="Cancel" id="btnClearErrorFlagCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>


    function FindJobDetails() {
        debugger;

        var BatchJobId = $("#ByBatchJobId").val();

        var divDetails = document.getElementById("divDetails");
        if (BatchJobId > 0) {
            divDetails.style.display = "block";
            $.ajax({
                url: '@Url.Action("GetBatchJobDetailsByBatchJobId", "ClearErrorFlag")',
                data: { BatchJobId: BatchJobId },
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data) {
                        $('#myModal .modal-content').html(data);

                        var BatchId = $("#ObjADvwBatchJobExport_BatchId").val();

                        if (BatchId <= 0)
                        {
                            alert('Item Not Found, Try Again.');
                            $("#ByBatchJobId").val('');
                            document.getElementById("ByBatchJobId").focus();
                        }
                    }
                    else {
                        alert('Item Not Found, Try Again.');
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        else {
            divDetails.style.display = "none";
            alert('Please Enter Valid Batch Job Id.');
        }

    }

    //button UpdateClearErrorFlag
    function UpdateClearErrorFlag() {
        debugger;
        showLoadingImage();

        var txtByBatchJobId = document.getElementById("ByBatchJobId");
        if (txtByBatchJobId.value == "") {
            alert('Enter valid Batch Job Id.');
            txtByBatchJobId.focus();
            hideLoadingImage();
            return false;
        }

        var data = $('#FormClearErrorFlag').serialize();
        var BatchId = $("#ByBatchJobId").val();

        $.ajax({
            url: '@Url.Action("UpdateClearErrorFlag", "ClearErrorFlag")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('#myModal').modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    UpdatedClearErrorFlagSuccessPopup(BatchId);
                    hideLoadingImage();
                }
                else  {
                    alert("Error occured. Try again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }


    function UpdatedClearErrorFlagSuccessPopup(BatchId) {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Clear Error Flag Updated Successfully for Batch Id - " + BatchId + ".",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>



