﻿@model IEnumerable<CRFView.Adapters.ADPortal_News>
@{
    
    Layout = null;
}


<div>
    <table id="tblNews" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                
                <th>Title</th>
                <th>Description</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.title</td>
                    <td>@i.shortdescription</td>             
                    <td>
                            <button onclick="ShowDetails(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
