﻿@model CRFView.Adapters.ADPortal_News
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.PKID)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2 LableAlign">
                <lable>Title:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                <div id="Errortitle" class="Invalid-feedback" style="display:none">
                    Please Enter Title.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2 LableAlign">
                <lable>Short Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                @Html.TextAreaFor(m => m.shortdescription, new { @class = "form-control",@rows="4",@cols="8" })
                <div id="Errorshortdescription" class="Invalid-feedback" style="display:none">
                    Please Enter Shortdescription.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2 LableAlign">
                <lable>Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                @Html.TextAreaFor(m => m.description, new { @class = "form-control", @rows = "6", @cols = "8" })
                <div id="Errorshortdescription" class="Invalid-feedback" style="display:none">
                    Please Enter Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-2 LableAlign">
                <lable>Image:</lable>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="form-group col-md-6 col-sm-6 col-xs-6" style="padding:0">
                    @Html.HiddenFor(m => m.image)
                    @Html.HiddenFor(m => m.imageid)
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 image-panel"  style="padding:0">
                        <img id="imagefield" src="#" class="image-padding" />
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="file-upload">
                            <label for="upload" class="file-upload__label btn-success"><i class="icon wb-upload"></i> Upload</label>
                            <input id="uploadimage" class="file-upload__input" type="file" name="file-upload" accept="image/bitmap,image/gif,image/jpeg">
                        </div>
                        
                        <button id="btnDeleteImage" class="btn btn-default" onclick="$('#imagefield').attr('src','@Url.Content("~/Content/Images/Noimage.png")'); $('#uploadimage').val(''); return false;">
                            <i class="wb-close"></i>
                            Delete
                        </button>
                    </div>
		      <div id="ErrorImage" class="Invalid-feedback" style="display:none">
                        Please Select Image.
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6" style="padding:0">
                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                        <lable>Date Created:</lable>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0">
                            @Html.TextBoxFor(m => m.datecreated, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                        <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.isvisible)<lable class="Checkbox-lable">Visible</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.isclientview)<lable class="Checkbox-lable">ClientView News</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.ismainsite)<lable class="Checkbox-lable">MainSite News</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.isemployeeprofile)<lable class="Checkbox-lable">Employee Profile</lable>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 checkbox-sm" style="text-align:left">
                            @Html.CheckBoxFor(m => m.ishomepage)<lable class="Checkbox-lable">Home Page News</lable>
                        </div>
                     </div>
                </div>
                </div>
            </div>
        </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function ConvertImagetoDataURL() {
        var imgsrc = 'data:image/jpeg;base64,' + $('#image').val();
        $('#imagefield').attr('src', imgsrc);
    }

    $("#uploadimage").change(function () {
        debugger;
        if ($('#uploadimage').val() != "") {
            readImage(this, "imagefield", "image");
        }

    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            if ($('#uploadimage').val() != "") {
                readImage(this, "imagefield", "image");
            }
            debugger;
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("NewsSave", "News")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "News")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblNews');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        if ($("#title").val().length <= 0) {
            $("#Errortitle").show();
            return false;
        }
        else {
            $("#Errortitle").hide();
        }
        if ($("#shortdescription").val().length <= 0) {
            $("#Errorshortdescription").show();
            return false;
        }
        else {
            $("#Errorshortdescription").hide();
        }
        if ($("#description").val().length <= 0) {
            $("#Errordescription").show();
            return false;
        }
        else {
            $("#Errordescription").hide();
        }
        var imgsrc = $('#imagefield').prop('src');
        if (imgsrc.indexOf("Noimage") >= 0) {
            $("#ErrorImage").show();
            return false;
        }
        else {
            $("#ErrorImage").hide();
        }
        return true;
    }
</script>



