﻿@model CRFView.Adapters.Collections.Management.ChangeAccountInfo.ViewModels.ChangeAccountInfoVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormChangeAccountInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Change Account Info
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2">
                <lable>Debtor #</lable>
            </div>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.DebtAccountId, new { @class = "form-control", style = "display:inline;"})
            </div>
            <div class="col-xs-2">
                <input type="button" id="btnFindDebtAccountInfo" value="Find" class="btn btn-primary" onclick="FindDebtAccountInfo()" />

            </div>
            <br /><br />&nbsp;
        </div>

        <div id="divDetails" style="@(string.IsNullOrEmpty(Model.DebtAccountId)   ? "display:none" : "display:block")">


            <div class="col-xs-12 NopaddingLR">
             
                    <fieldset class="customFieldset">
                        <legend>Account Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Client #</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.objDebtAccount.ClientCode, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>

                            <div class="col-xs-4">
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkNoCollectFee, new { @disabled = "disabled" })
                                &nbsp;
                                <lable> No Collect Fee </lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Client Name</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.TextBoxFor(m => m.objDebtAccount.ClientName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>

                            <div class="col-xs-4 checkbox-sm">
                            </div>
                        </div>


                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Debtor #</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.objDebtAccount.DebtAccountId, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>

                            <div class="col-xs-4">
                            </div>
                            <div class="col-xs-2">
                                <lable>Date Assigned</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.objDebtAccount.ReferalDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Ref #</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.objDebtAccount.AccountNo, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>

                            <div class="col-xs-4">
                            </div>
                            <div class="col-xs-2">
                                <lable>Last Charge</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.objDebtAccount.LastServiceDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Debtor Name</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objDebtAccount.DebtorName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>

                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-2">
                                <lable>Last Payment</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.objDebtAccount.LastPaymentDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objDebtAccount.ContactName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>

                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-2">
                                <lable>Assigned</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.objDebtAccount.TotAsgAmt, new { @class = "form-control", style = "display:inline;text-align: right;", @readonly = true , Value = String.Format("{0:C}", Model.objDebtAccount.TotAsgAmt) })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Address</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objDebtAccount.AddressLine1, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>

                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-2">
                                <lable>Payments</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.objDebtAccount.TotPmtAmt, new { @class = "form-control", style = "display:inline;text-align: right;", @readonly = true, Value = String.Format("{0:C}", Model.objDebtAccount.TotPmtAmt) })
                            </div>
                        </div>


                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable></lable>
                            </div>
                            <div class="col-xs-5">
                                <div class="col-xs-5 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objDebtAccount.City, new { @class = "form-control", @readonly = true })
                                </div>
                                <div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
                                    @Html.TextBoxFor(m => m.objDebtAccount.State, new { @class = "form-control", @readonly = true })
                                </div>
                                <div class="col-xs-5" style="padding-right: 0px;">
                                    @Html.TextBoxFor(m => m.objDebtAccount.PostalCode, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-2">
                                <lable>Special Rate</lable>
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBoxFor(m => m.CollectionRateCode, new { @class = "form-control", style = "display:inline;text-align: right;", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                             
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkClientTenDayContactPlan, new { @disabled = "disabled" })
                                &nbsp;
                                <lable>Client 10Day Contact Plan </lable>
                            </div>
                            
                            <div class="col-xs-2">
                                
                            </div>

                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.chkTenDayContactPlan, new { @disabled = "disabled" })
                                &nbsp;
                                <lable> 10Day Contact Plan </lable>
                            </div>

                        </div>

                        @*<div class="form-group col-xs-12 lt">
                            <div class="col-xs-12" id="divClientList">
                                @Html.DropDownListFor(m => m.ddlClientId, Model.ClientIdList, new { @class = "form-control" })
                           </div>
                        </div>*@

                    </fieldset>
 



                <br /><br />&nbsp;
            </div>


            <div class="col-xs-12  form-group NopaddingLR">
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkDebtorNameTo)
                    &nbsp;
                    <lable> Debtor Name To</lable>
                </div>

                <div class="col-xs-5" id="divNewDebtorName" style="@(Model.chkDebtorNameTo == false ? "display:none" : "display:block")">
                    @Html.TextBoxFor(m => m.NewDebtorName, new { @class = "form-control", style = "display:inline;" })
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkAccountNo)
                    &nbsp;
                    <lable> Ref # To</lable>
                </div>

                <div class="col-xs-2"  id="divNewAccountNo" style="@(Model.chkAccountNo == false ? "display:none" : "display:block")">
                    @Html.TextBoxFor(m => m.NewAccountNo, new { @class = "form-control", style = "display:inline;" })
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkAssignDate)
                    &nbsp;
                    <lable> Assign Date To</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    <div class="col-xs-12" id="divNewAssignDate" style="@(Model.chkAssignDate == false ? "display:none" : "display:block")">
                        @Html.TextBoxFor(m => m.NewAssignDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center; width:119%;" })
                    </div>
                    </div>
                    <div class="col-xs-1">
                    </div>

                    <div class="col-xs-3 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkSpecialRate)
                        &nbsp;
                        <lable> Special Rate To</lable>
                    </div>

                    <div class="col-xs-2" id="divNewCommRateId" style="@(Model.chkSpecialRate == false ? "display:none" : "display:block")">
                        @Html.DropDownListFor(m => m.ddlNewCommRateId, Model.NewCommRateIdList, new { @class = "form-control" })
                    </div>

                </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkLastChgDate)
                    &nbsp;
                    <lable>Last Chg Date To</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    <div class="col-xs-12" id="divNewLastChgDate" style="@(Model.chkLastChgDate == false ? "display:none" : "display:block")">
                        @Html.TextBoxFor(m => m.NewLastChgDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center; width:119%;" })
                    </div>
                </div>
                <div class="col-xs-1">
                </div>

                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkIsNoCollectFee)
                    &nbsp;
                    <lable>No Collect Fee</lable>
                </div>
                 
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkLastPayDate)
                    &nbsp;
                    <lable>Last Pay Date To</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    <div class="col-xs-12" id="divNewLastPayDate" style="@(Model.chkLastPayDate == false ? "display:none" : "display:block")">
                        @Html.TextBoxFor(m => m.NewLastPayDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center; width:119%;" })
                    </div>
                </div>
                <div class="col-xs-1">
                </div>

                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkClientNumber)
                    &nbsp;
                    <lable>Client # To</lable>
                </div>

                <div class="col-xs-3" id="divNewClientId" style="@(Model.chkClientNumber == false ? "display:none" : "display:block")">
                    @Html.DropDownListFor(m => m.ddlNewClientId, Model.NewClientIdList, new { @class = "form-control" })
                </div>

            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkAssignAmt)
                    &nbsp;
                    <lable>Assign Amount To</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    <div class="col-xs-12" id="divNewAssignAmt" style="@(Model.chkAssignAmt == false ? "display:none" : "display:block")">
                        @Html.TextBoxFor(m => m.NewAssignAmt, new { @onblur = "formatCurrency(this)", @class = "form-control", style = "display:inline;", Value = String.Format("{0:C}", Model.NewAssignAmt) })
                    </div>
                </div>
                <div class="col-xs-1">
                </div>

                <div class="col-xs-4 checkbox-sm" style="display:none;">
                    @Html.CheckBoxFor(m => m.chkIsTenDayContactPlan)
                    &nbsp;
                    <lable>Set to 10Day Contact Plan</lable>
                </div>

            </div>

            </div>
         

        </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.Message)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnChangeAccountInfoOK" value="Update" class="btn btn-primary" onclick="UpdateChangeAccountInfo()" />
            <input type="button" value="Cancel" id="btnChangeAccountInfoCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='chkDebtorNameTo']").click(function () {
        debugger;
        var chkDebtorNameTo = $(this).val();

        if (this.checked) {
            $('#divNewDebtorName').show();
        }
        else {
            $('#divNewDebtorName').hide();

        }
    });

    $("[name='chkAccountNo']").click(function () {
        debugger;
        var chkAccountNo = $(this).val();

        if (this.checked) {
            $('#divNewAccountNo').show();
        }
        else {
            $('#divNewAccountNo').hide();

        }
    });

    $("[name='chkAssignDate']").click(function () {
        debugger;
        var chkAssignDate = $(this).val();

        if (this.checked) {
            $('#divNewAssignDate').show();
        }
        else {
            $('#divNewAssignDate').hide();

        }
    });

    $("[name='chkSpecialRate']").click(function () {
        debugger;
        var chkSpecialRate = $(this).val();

        if (this.checked) {
            $('#divNewCommRateId').show();
        }
        else {
            $('#divNewCommRateId').hide();

        }
    });

    $("[name='chkLastChgDate']").click(function () {
        debugger;
        var chkLastChgDate = $(this).val();

        if (this.checked) {
            $('#divNewLastChgDate').show();
        }
        else {
            $('#divNewLastChgDate').hide();

        }
    });

    $("[name='chkLastPayDate']").click(function () {
        debugger;
        var chkLastPayDate = $(this).val();

        if (this.checked) {
            $('#divNewLastPayDate').show();
        }
        else {
            $('#divNewLastPayDate').hide();

        }
    });

    $("[name='chkClientNumber']").click(function () {
        debugger;
        var chkClientNumber = $(this).val();

        if (this.checked) {
            $('#divNewClientId').show();
        }
        else {
            $('#divNewClientId').hide();

        }
    });

    $("[name='chkAssignAmt']").click(function () {
        debugger;
        var chkAssignAmt = $(this).val();

        if (this.checked) {
            $('#divNewAssignAmt').show();
        }
        else {
            $('#divNewAssignAmt').hide();

        }
    });

    function FindDebtAccountInfo() {
        debugger;

        var DebtAccountId = $("#DebtAccountId").val();
        var divDetails = document.getElementById("divDetails");

        if (DebtAccountId > 0)
        {
            $.ajax({
                url: '@Url.Action("GetDebtAccountDetailsByDebtAccountId", "ChangeAccountInfo")',
                data: {DebtAccountId:  DebtAccountId},
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data) {
                        $('#myModal .modal-content').html(data);
                        var message = $("#Message").val();
                        if (message == "Success")
                        {
                            //To set Current Date
                            var date = new Date();
                            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                            $('#NewAssignDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                            $('#NewLastChgDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                            $('#NewLastPayDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

                            EditChangeAccountInfoCheckMinDate();
                            divDetails.style.display = "block";
                        }
                        else
                        {
                            $("#divDetails").hide();
                            var txtDebtAccountId = document.getElementById("DebtAccountId");
                            txtDebtAccountId.value = "";
                            alert('Requested Debtor is not found.');
                            txtDebtAccountId.focus();
                        }
                    }
                    else {
                        $("#myModal").modal("hide");
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            });
        }
        else {
            divDetails.style.display = "none";
            var txtDebtAccountId = document.getElementById("DebtAccountId");

            if (txtDebtAccountId.value == "" || txtDebtAccountId.value == null) {
                alert("Please Enter Valid DebtAccountId.");
                txtDebtAccountId.focus();
                return false;
            }
        }
     
    }

    function EditChangeAccountInfoCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objDebtAccount_ReferalDate",
                                                "objDebtAccount_LastServiceDate",
                                               "objDebtAccount_LastPaymentDate"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    //$("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }

    //button UpdateChangeAccountInfo
    function UpdateChangeAccountInfo() {
         debugger;
         showLoadingImage();

         var DebtAccountId = $("#DebtAccountId").val();

         if (DebtAccountId < 0 || DebtAccountId == "") {
             alert('Select DebtAccount.');
             hideLoadingImage();
             return false;
         }

         var txtNewAssignAmt = document.getElementById("NewAssignAmt");
         var NewAssignAmt = txtNewAssignAmt.value;
         NewAssignAmt = NewAssignAmt.replace("$", "");
         NewAssignAmt = NewAssignAmt.replace(",", "");
         if (isNaN(NewAssignAmt)) {
             alert('NewAssign  Amt is invalid.');
             txtNewAssignAmt.focus();
             hideLoadingImage();
             return false;
         }
         $("#NewAssignAmt").val(NewAssignAmt);

        var data = $('#FormChangeAccountInfo').serialize();

        $.ajax({
            url: '@Url.Action("UpdateDebtAccountInfo", "ChangeAccountInfo")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;
          
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                   
                    UpdateDebtAccountInfoSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function UpdateDebtAccountInfoSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "DebtAccount Info Updated Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
 
    //Enter key pressed
    $("input").keypress(function (event) {
        debugger;
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            //alert('You pressed a "enter" key in somewhere');
            FindDebtAccountInfo();
        }
    });

  

</script>





