﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.AccountFilterListVM
@{
    Layout = null;
}


<style>
    #tblWorkCard_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<div>
    <input type="hidden" id="Jvalue" />
    <table id="tblWorkCard" class="table table-bordered table-hover grid table-responsive" border="1" style="width:104% !important;">


        <thead>
            <tr id="th">
                <th style="width:3%;" class="no-sort">View</th>
                <th style="width:22%;">Debtor Name<br />Contact<br />Debtor Address</th>
                <th style="width:8%;">Debtor#<br />Client Ref#<br /> Client Code</th>
                <th style="width:8%;vertical-align: top;">Desk #<br />TO Desk #<br />Status Code</th>
                <th style="width:8%;vertical-align: top;">Date Assigned<br />Review Date</th>
                <th style="width:9%;vertical-align: top;"> Last Payment<br />Close Date</th>
                <th style="width:23%;">Accounting</th>
                <th style="width:9%;">SC Rev Date<br />SC Trial Date<br />SC Judge Date</th>
                <th style="width:10%; vertical-align: top;">FWD Court Date<br />FWD Judge Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                var j = 0;
                foreach (var i in Model.ObjAccounts)
                {
                    <tr id="tr@(j)">
                        @*<tr >*@
                        <td>
                            <button onclick="ShowDetailsNew(@i.DebtAccountId,@j)" class="btn btn-default btn-icon btn-pure" id="btnShowDetailsNew">
                                <i class="icon wb-edit" aria-hidden="true"></i>

                            </button>
                        </td>
                        <td>@i.DebtorName<br />@i.ContactName<br />@i.AddressLine1, <text>@i.City</text>, <text>@i.State</text></td>
                        <td>@i.DebtAccountId <br /> @i.AccountNo <br />@i.ClientCode@*i.CollectionStatus*@</td>
                        <td>@i.Location<br />@i.TempOwner<br />@i.CollectionStatus</td>
                        <td>
                            @{if (i.ReferalDate == DateTime.MinValue) { }
                                else
                                {@i.ReferalDate.ToShortDateString()}} <br />
                            <text style="color:blue">
                                @{if (i.NextContactDate == DateTime.MinValue) { }
                                    else
                                    {@i.NextContactDate.ToShortDateString()}}
                            </text>
                        </td>
                        <td>
                            @{if (i.LastPaymentDate == DateTime.MinValue) { }
                                else
                                {@i.LastPaymentDate.ToShortDateString()}} <br />@{if (i.CloseDate == DateTime.MinValue) { }
                                else
                                {@i.CloseDate.ToShortDateString()}}
                            </td>
                            <td>
                                @*<text>Assigned - </text>@String.Format("{0:C}", i.TotAsgAmt)   <text>| Payments - </text>@String.Format("{0:C}", i.TotPmtAmt)<br />
                                    <text>Collect Fees - </text>@String.Format("{0:C}", i.TotCollFeeAmt) <text>| Balance - </text>@String.Format("{0:C}", i.TotBalAmt)<br />
                                    <text>Interest - </text>@String.Format("{0:C}", i.TotIntAmt)*@

                                    @*<table id="tblAccounting" rules="all">
                                        <tr>
                                            <td><text>Assigned - </text>@String.Format("{0:C}", i.TotAsgAmt)</td>
                                            <td><text>Payments - </text>@String.Format("{0:C}", i.TotPmtAmt)</td>
                                        </tr>
                                        <tr>
                                           <td><text>Collect Fees - </text>@String.Format("{0:C}", i.TotCollFeeAmt) <text></td>
                                            <td><text>Balance - </text>@String.Format("{0:C}", i.TotBalAmt)</td>
                                        </tr>
                                        <tr>
                                            <td><text>Interest - </text>@String.Format("{0:C}", i.TotIntAmt)</td>
                                        </tr>
                                    </table>*@
                                    <table id="tblAccounting" rules="all" style="width:100%;">
                                        <tr style="background:none !important;">
                                            <td style="width: 50%;">
                                                <text>Assigned - </text>@String.Format("{0:C}", i.TotAsgAmt) <br />
                                                <text>Collect Fees - </text>@String.Format("{0:C}", i.TotCollFeeAmt) <br />
                                                <text>Interest - </text>@String.Format("{0:C}", i.TotIntAmt)
                                            </td>
                                            <td>
                                                <text style="margin-left: 10px;"> Payments - </text>@String.Format("{0:C}", i.TotPmtAmt) <br />
                                                <text style="margin-left: 10px;"> Balance - </text> <text style="color:blue">@String.Format("{0:C}", i.TotBalAmt)</text><br />
                                                <text>   </text>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td>
                                    @{if (i.SCReviewDate == DateTime.MinValue) { }
                                        else
                                        {@i.SCReviewDate.ToShortDateString()}} <br />@{if (i.TrialDate == DateTime.MinValue) { }
                                            else
                                            {@i.TrialDate.ToShortDateString()}} <br />@{if (i.JudgmentDate == DateTime.MinValue) { }
                                                else
                                                {@i.JudgmentDate.ToShortDateString()}}
                                        </td>
                                        <td>
                                            @{if (i.FwdCourtDate == DateTime.MinValue) { }
                                                else
                                                {@i.FwdCourtDate.ToShortDateString()}} <br />@{if (i.FwdJudgmentDate == DateTime.MinValue) { }
                                                    else
                                                    {@i.FwdJudgmentDate.ToShortDateString()}}
                                            </td>
                                        </tr>
                                        @*<div id='EditAccount' @j>

                                        </div>*@
                                                    @*<tr>
                                                        <td>
                                                            <div id="EditAccount" @j>

                                                            </div>
                                                        </td>
                                                    </tr>*@

                                @*<div id="EditAccount@(j)" class="EditAccountHide">
                                    @*<div id="EditAccount1">
                                    @*</div>*@
                                j++;
                            }
            }
        </tbody>
    </table>
</div>

@Html.HiddenFor(m => m.listCount)


<script type="text/javascript">

    @*function ShowDetails(DebtAccountId) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadDebtAccount", "WorkCard")',
            data: { DebtAccountId: DebtAccountId },
            type: "POST",
            success: function (data) {
                debugger;
               // $('#EditAccount').html(data);
                var j = $(".newtr").attr('id');
                $(".newtr").empty();

                $('<tr id=' + j + ' class="newtr"><td  colspan="9" height=600px><span style="line-height: 35px !important">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));

                CheckMinDate();

                $('#list').hide();

                $('#NewContactDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', new Date());
                makeDatatable('tblNotes');
                makeDatatable('tblActionHistory');
                makeDatatable('tblLedger');
                makeDatatable('tblAddresses');
                makeDatatable('tblLetters');
                makeDatatable('tblCreditReport');
                makeDatatable('tblDebtDocuments');

                hideLoadingImage();

                document.getElementById('divFilter').style.display = 'none';
                document.getElementById('btnBackToFilter').style.display = 'block';
                document.getElementById('btnBackToAccountList').style.display = 'block';
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }


    function ShowDetails(DebtAccountId, ActiveList, ActiveTab,j) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadDebtAccount", "WorkCard")',
            data: { DebtAccountId: DebtAccountId },
            type: "POST",
            success: function (data) {
                debugger;
                //$('#EditAccount1').html(data);

                //$('[id^=newtr]').empty();
                var j = $(".newtr").attr('id');
                $(".newtr").empty();
               
                $('<tr id=' + j + ' class="newtr"><td  colspan="9" height=600px><span style="line-height: 35px !important">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));

                CheckMinDate();

                if ((typeof ActiveList !== 'undefined') && (typeof ActiveTab !== 'undefined'))
                {
                    RemoveActiveClass_WorkCard();
                    AddActiveClass_WorkCard(ActiveList, ActiveTab);
                }


                //$('#list').hide();

                $('#NewContactDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', new Date());
                makeDatatable('tblNotes');
                makeDatatable('tblActionHistory');
                makeDatatable('tblLedger');
                makeDatatable('tblAddresses');
                makeDatatable('tblLetters');
                makeDatatable('tblCreditReport');
                makeDatatable('tblDebtDocuments');

                hideLoadingImage();

                document.getElementById('divFilter').style.display = 'none';
                document.getElementById('btnBackToFilter').style.display = 'block';
                document.getElementById('btnBackToAccountList').style.display = 'block';

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }*@

    function ShowDetailsNew(DebtAccountId, j,ActiveList, ActiveTab) {
        debugger;


        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadDebtAccount", "WorkCard")',
            data: { DebtAccountId: DebtAccountId },
            type: "POST",
            success: function (data) {
                debugger;
               
                $('#Jvalue').val(j);
                //$('[id^=newtr]').empty();
                $(".newtr").empty();
                //$('<tr id="newtr"><td colspan="9">' + data + '</td></tr>').insertAfter($('#tr' + j).closest('tr'));
                $('<tr id=' + j + ' class="newtr"><td  colspan="9" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));

                var a = parseInt(j);
                var b = a - 1;
                if (b < 0) {

                    location.href = "#";
                    location.href = "#th";

                }
                else {
                    location.href = "#";
                    location.href = "#tr" + b.toString();
                }
                

               
                
               
                //$('#EditAccount+' + j).html(data);
                // $('#EditAccount1').html(data);
                //$('#part' + number).html(text);
                CheckMinDate();

                if ((typeof ActiveList !== 'undefined') && (typeof ActiveTab !== 'undefined')) {
                    RemoveActiveClass_WorkCard();
                    AddActiveClass_WorkCard(ActiveList, ActiveTab);
                }

                if (ActiveList == "TabDocuments") {
                    $('#TabJobInfo').hide();
                    $('#TabOtherNotices').hide();
                }
                //$('#list').hide();

                $('#NewContactDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', new Date());
                makeDatatable('tblNotes');
                makeDatatable('tblActionHistory');
                makeDatatable('tblLedger');
                makeDatatable('tblAddresses');
                makeDatatable('tblLetters');
                makeDatatable('tblCreditReport');
                makeDatatable('tblDebtDocuments');

                hideLoadingImage();

                document.getElementById('divFilter').style.display = 'block';
                //document.getElementById('btnBackToFilter').style.display = 'block';
                //document.getElementById('btnBackToAccountList').style.display = 'block';

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }


    function AddActiveClass_WorkCard(ActiveList, ActiveTab)
    {
        debugger;
        var current = document.getElementById(ActiveList);
        current.className += " active";
        var currentTab = document.getElementById(ActiveTab);
        currentTab.className += " active";
    }


    function RemoveActiveClass_WorkCard() {
        debugger;
        var IdList = ["MainInfo",
                        "Notes",
                        "ActionHistory",
                        "Ledger",
                        "Addresses",
                        "Letter",
                        "CreditReport",
                        "Misc",
                         "Documents",
                        "Forwarding",
                        "SmallClaims",
                        "TabMainInfo",
                        "TabActionHistory",
                        "TabLedger",
                        "TabAddresses",
                        "TabLetters",
                        "TabCreditReport",
                        "TabMisc",
                        "TabDocuments",
                        "TabForwarding",
                        "TabSmallClaims"];
        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                debugger;
                var element = document.getElementById(name);
                element.classList.remove("active");
            }
        });
    }

         function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "WorkCard")',
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#list').html(data);
                    ClearDatatableState('tblWorkCard');
                    makeDatatable('tblWorkCard');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }


    function CheckLoadMinDate() {
        debugger;
        var DateTextBoxArray = ["obj_DebtAccount_ReferalDate",
                                "obj_DebtAccount_LastServiceDate",
                                "obj_DebtAccount_NextContactDate",
                                "obj_DebtAccount_LastPaymentDate",
                                "obj_DebtAccount_LastTrustDate",
                                "obj_DebtAccount_CloseDate",
                                "obj_DebtAccount_NextStatusDate",
                                "obj_DebtAccount_PaymentDueDate"

];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }





</script>

