﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.CreditReportVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

    .rt{
        text-align:right;
    }

</style>



<form id="FormIndividualCreditReportInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Credit Report Entry(New Entry) 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body"  style=" overflow-y: inherit !important;">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Select Name</lable>
            </div>
            <div class="col-xs-7">
                    @Html.DropDownListFor(m => m.ddlSelectNames, Model.SelectNamesList , "--Select--", new { @class = "form-control" })
              </div>
            <div class="col-xs-2">
                <input type="button" id="btnSelectName" value="Select" class="btn btn-primary" onclick="SelectName()" />
            </div>
        </div>

        <br/>
        <br/>
        <br />
        <br />
     
            <div id="divDetails" style="@(string.IsNullOrEmpty(Model.ddlSelectNames)   ? "display:none" : "display:block")">

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3">

                    </div>
                    <div class="col-xs-3" style="text-align: center;">
                        <lable>First</lable>
                    </div>
                    <div class="col-xs-2" style="text-align: center;">
                        <lable>Middle</lable>
                    </div>
                    <div class="col-xs-3" style="text-align: center;">
                        <lable>Last</lable>
                    </div>
                    <div class="col-xs-1" style="text-align: center; margin-left: -15px;">
                        <lable>Suffix</lable>
                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Name</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.FirstName, new { @class = "form-control" , style = "display:inline;" })
                    </div>
                    <div class="col-xs-2" style="margin-left: -20px;">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.MiddleName, new { @class = "form-control" , style = "width: 140%; display:inline;" })
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.LastName, new { @class = "form-control", style = "margin-left: 10px; display:inline;" })
                    </div>
                    <div class="col-xs-1" style="margin-left: -10px;">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.SuffixName, new { @class = "form-control" , style = "width: 300%; display:inline;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Address 1</lable>
                    </div>
                    <div class="col-xs-7">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.AddressLine1, new { @class = "form-control" , style = "display:inline;" })
                    </div>
                    <div class="col-xs-2">

                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Address 2</lable>
                    </div>
                    <div class="col-xs-7">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.AddressLine2, new { @class = "form-control", style = "display:inline;" })
                    </div>
                    <div class="col-xs-2">

                    </div>
                </div>


                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>City/State/Zip</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.City, new { @class = "form-control", style = "display:inline;" })
                    </div>
                    <div class="col-xs-1" style="margin-left: -4%;width: 14%;">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.State, new { @class = "form-control", style = "display:inline;" })
                    </div>
                    <div class="col-xs-2" style="margin-left: -4%;width: 19%;">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.Zip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;" })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>SSN</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.SSN, new
                            {
                                @onblur = "formatSSN(this)",
                                @maxlength = "9",
                                @class = "form-control",
                                style = "display:inline;text-align: center;",
                                Value = string.IsNullOrEmpty(Model.ObjDebtAccountIndividualCreditReport.SSN) ? "" :
                                         Model.ObjDebtAccountIndividualCreditReport.SSN.Contains("-") ? Model.ObjDebtAccountIndividualCreditReport.SSN :
                                       String.Format("{0}-{1}-{2}"
                            , Model.ObjDebtAccountIndividualCreditReport.SSN.Substring(0, 3)
                             , Model.ObjDebtAccountIndividualCreditReport.SSN.Substring(3, 4)
                                 , Model.ObjDebtAccountIndividualCreditReport.SSN.Substring(5, Model.ObjDebtAccountIndividualCreditReport.SSN.Length - 6))
                            })
                        @*@Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.SSN, new { @class = "form-control", style = "display:inline;" })*@
                    </div>
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Birth Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                     </div>
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Creditor</lable>
                    </div>
                    <div class="col-xs-7">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.OriginalCreditor, new { @class = "form-control", style = "display:inline;", @readonly = true })
                    </div>
                    <div class="col-xs-2">

                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Balance</lable>
                    </div>
                    <div class="col-xs-3">
                        @*@Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.CurrentBalance, new { @class = "form-control", style = "display:inline;", @readonly = true })*@
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.CurrentBalance, new { Value = String.Format("{0:C}",  Model.ObjDebtAccountIndividualCreditReport.CurrentBalance), @class = "form-control", style = "display:inline;", @readonly = true })
                    </div>
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Date Opened</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.DateOpened, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
                    </div>
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Billing Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountIndividualCreditReport.BillingDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
                    </div>
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>


                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt">
                        <lable>Status</lable>
                    </div>
                    <div class="col-xs-7">
                        @Html.DropDownListFor(m => m.ddlAccountStatus, Model.AccountStatusList, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2">

                    </div>
                </div>

                <br />
                <div class="col-xs-12 form-group lt NopaddingLR">
                    <div class="col-xs-3 rt checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkDispute)
                        &nbsp;
                        <lable>Dispute</lable>
                    </div>
                    <div id="divDisputeCode" class="col-xs-9" style="margin-top: 10px; display:none;">
                        <fieldset class="customFieldset">
                            <legend>Dispute Code</legend>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtDisputeCode, "1", new { @checked = true })<lable>XB - Account Information Disputed By Consumer</lable>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtDisputeCode, "2")<lable>XH - Account Previously Disputed - Now Resolved</lable>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
     
                </div>
            

                <div id="hiddenFields">
                    @Html.HiddenFor(m => m.DebtAddressId)
                    @Html.HiddenFor(m => m.DebtAccountId)
                    @Html.HiddenFor(m=>m.AccountStatus)
                    @Html.HiddenFor(m => m.DebtAddressTypeId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveAddress" value="Save" class="btn btn-primary" onclick="SaveIndividual(@Model.DebtAccountId)"/>
              <input type="button" value="Cancel" id="CancelModalAddress" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    function formatSSN(ssnfield) {
        var ssn = ssnfield.value.replace(/[^0-9]/g, '');
        $(ssnfield).val(ssn.replace(/^(\d{3})(\d{2})(\d{4})+$/, "$1-$2-$3"));
    }

    function SelectName() {
        debugger;

        var DebtAddressId = $("#ddlSelectNames").val();
        var DebtAccountId = @Model.DebtAccountId;
        var divDetails = document.getElementById("divDetails");
        if(DebtAddressId > 0)
        {
           // if (divDetails.style.display === "none") {
                divDetails.style.display = "block";
                $.ajax({
                    url: '@Url.Action("GetAddressDetailsByDebtAddressId", "WorkCard")',
                    data: { DebtAddressId: DebtAddressId , DebtAccountId:  DebtAccountId},
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data) {
                            //$('#FormIndividualCreditReportInfo').html(data);
                            $('#myModalAddCreditReportIndividual .modal-content').html(data);

                            $('#ObjDebtAccountIndividualCreditReport_BirthDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                            //$('#ObjDebtAccountIndividualCreditReport_DateOpened').datepicker({ format: 'mm/dd/yy' }).datepicker();
                            //$('#ObjDebtAccountIndividualCreditReport_BillingDate').datepicker({ format: 'mm/dd/yy' }).datepicker();

                            EditIndividualCreditReportCheckMinDate();
                        }
                        else {
                            $('#errorMsg').show();
                        }
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });

           // }
        }
        else {
            divDetails.style.display = "none";
            alert('Please Select Name.');
            }

    }


    //$("[name='chkDispute']").click(function() {
    //    debugger;
    //    var chkDisputeValue = $(this).val();

    //    if (this.checked) {
    //        $('#divDisputeCode').show();
    //    }
    //    else {
    //        $('#divDisputeCode').hide();
    //    }
    //});

    function SaveIndividual(DebtAccountId) {
        debugger;
        showLoadingImage();

        var DebtAddressId = $("#ddlSelectNames").val();
        var AccountStatusId = $("#ddlAccountStatus").val();
        var AccountStatus =  $("#ddlAccountStatus option:selected").text();
        $("#AccountStatus").val(AccountStatus);
        $("#DebtAddressId").val(DebtAddressId);
        var DebtAccountId = @Model.DebtAccountId;


        if(DebtAddressId < 0 || DebtAddressId == "")
        {
            alert('Select Name.');
            hideLoadingImage();
            return false;
        }

        var txtFirstName = document.getElementById("ObjDebtAccountIndividualCreditReport_FirstName");
        if(txtFirstName.value == "")
        {
            alert('FirstName is required.');
            txtFirstName.focus();
            hideLoadingImage();
            return false;
        }

        var txtLastName = document.getElementById("ObjDebtAccountIndividualCreditReport_LastName");
        if(txtLastName.value == "")
        {
            alert('LastName is required.');
            txtLastName.focus();
            hideLoadingImage();
            return false;
        }

        var txtAddressLine1 = document.getElementById("ObjDebtAccountIndividualCreditReport_AddressLine1");
        if(txtAddressLine1.value == "")
        {
            alert('AddressLine1 is required.');
            txtAddressLine1.focus();
            hideLoadingImage();
            return false;
        }

        var txtCity = document.getElementById("ObjDebtAccountIndividualCreditReport_City");
        if(txtCity.value == "")
        {
            alert('City is required.');
            txtCity.focus();
            hideLoadingImage();
            return false;
        }

        var txtState = document.getElementById("ObjDebtAccountIndividualCreditReport_State");
        if(txtState.value == "")
        {
            alert('State is required.');
            txtState.focus();
            hideLoadingImage();
            return false;
        }

        var txtZip = document.getElementById("ObjDebtAccountIndividualCreditReport_Zip");
        if(txtZip.value == "")
        {
            alert('Zip is required.');
            txtZip.focus();
            hideLoadingImage();
            return false;
        }

        var txtSSN = document.getElementById("ObjDebtAccountIndividualCreditReport_SSN");
        if(txtSSN.value.length > -1 && txtSSN.value.length < 9)
        {
            alert('Invalid SSN.');
            txtSSN.focus();
            hideLoadingImage();
            return false;
        }

        debugger;

        var CurrentBalance = $("#ObjDebtAccountIndividualCreditReport_CurrentBalance").val();
        CurrentBalance = CurrentBalance.replace("$","");
        CurrentBalance = CurrentBalance.replace(",","");

        var data = $('#FormIndividualCreditReportInfo').serialize();
        var j = $('#Jvalue').val();
        //"ddlSelectNames=192968&ObjDebtAccountCreditReport.FirstName=1ss&ObjDebtAccountCreditReport.MiddleName=&ObjDebtAccountCreditReport.LastName=sss&ObjDebtAccountCreditReport.SuffixName=&ObjDebtAccountCreditReport.AddressLine1=4321+Plaza&ObjDebtAccountCreditReport.AddressLine2=Crystal+Tower&ObjDebtAccountCreditReport.City=Ventura&ObjDebtAccountCreditReport.State=CA&ObjDebtAccountCreditReport.Zip=93001&ObjDebtAccountCreditReport.SSN=432141234&ObjDebtAccountCreditReport.BirthDate=01%2F01%2F01&ObjDebtAccountCreditReport.OriginalCreditor=Prudential+Overall+Supply&ObjDebtAccountCreditReport.CurrentBalance=5622.28&ObjDebtAccountCreditReport.DateOpened=04%2F27%2F11&ObjDebtAccountCreditReport.BillingDate=12%2F20%2F10&ddlAccountStatus=1&chkDispute=false&RbtDisputeCode=XB+-+Account+Information+Disputed+By+Consumer&DebtAddressId=192968&DebtAccountId=150702"
        $.ajax({
            url: '@Url.Action("SaveIndividual", "WorkCard")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j, "CreditReport", "TabCreditReport");
                $("#myModalAddCreditReportIndividual").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    IndividualAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddCreditReportIndividual").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function IndividualAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Individual Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function EditIndividualCreditReportCheckMinDate() {
        debugger;
        //var DateTextBoxArray = ["ObjDebtAccountIndividualCreditReport_BirthDate" ,
        //                                        "ObjDebtAccountIndividualCreditReport_DateOpened",
        //                                        "ObjDebtAccountIndividualCreditReport_BillingDate"];
        var DateTextBoxArray = ["ObjDebtAccountIndividualCreditReport_BirthDate"];
        $.each(DateTextBoxArray, function(idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "01/01/0001" || date == "")
                {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }
            }
        });
    }
</script>