﻿@model CRFView.Adapters.Collections.Collectors.@WorkCard.ViewModels.DocumentVM
@{
    Layout = null;
}
<style>

    .ht{
        margin-bottom: 5px !important;
    }
    .lt {
        text-align: left;
    }
    
      .rt {
        text-align:right;
    }
</style>

   <form id="FormAddDocument">
        <div class="modal-header">
            <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
                Account Document (New Entry)
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                    <span aria-hidden="true">×</span>
                </button>
            </h3>
        </div>

        <div class="modal-body">

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3 rt">
                    <lable>Document</lable>
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.ObjDebtAccountAttachment.DateCreated, "{0:MM/dd/yyyy}", new { @class = "form-control ht", data_plugin = "datepicker" })
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3 rt">
                    <lable>Document Type</lable>
                </div>
                <div class="col-xs-4">
                    @Html.DropDownListFor(m => m.ddlDocumentType, Model.DocumentTypeList, new { @class = "form-control ht" })
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3 rt">
                    <lable>Additional Note</lable>
                </div>
                <div class="col-xs-6">
                    @Html.TextAreaFor(m => m.ObjDebtAccountAttachment.DocumentDescription, new { @class = "form-control ht", rows = "6" })
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-3">

                </div>
                <div class="col-xs-3">
                    @*<div class="file-upload">
                        <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt"/>
                    </div>*@
                        <div class="fileupload-btn-wrapper">
                            <button type="button" class="btn btn-dark"><i class="icon wb-upload"></i> Browse Doc</button>
                            <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" />
                        </div>
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                    <div id="uploadedFileName" class="col-xs-12">
                    </div>
            </div>

        </div>

        <div id="hiddenFields">
            @Html.HiddenFor(m => m.DebtAccountId)
            @Html.HiddenFor(m => m.DocumentType)
        </div>

        <div class="modal-footer">
            <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                <input type="button" id="btnSaveDocument" value="Save" class="btn btn-primary"  onclick="SaveDocument();" />
                 <input type="button" value="Cancel" id="CancelModalDocument" class="btn btn-primary" data-dismiss="modal" />
            </div>
        </div>
    </form>





   <script>

    $('#uploadFile').change(function (e) {
        debugger;
        var fileName = e.target.files[0].name;
        
        //if (fileName.search(/[<>'\s+\"\/;`%,#$&@@]/) > 0) {
            if (fileName.search(/[<>'\+\"\/;`%,#$&@@]/) > 0) {
            alert('Please upload the file without special characters');
            //$(':input[type="submit"]').prop('disabled', true);
                $('#btnSaveDocument').prop('disabled', true);

            return false;
        }
        else {
            //alert('The file "' + fileName + '" has been selected.');
                $('#btnSaveDocument').prop('disabled', false);
            //$(':input[type="submit"]').prop('disabled', false);
            $("#uploadedFileName").empty();
            $("#uploadedFileName").append(fileName);
        }

    });



    function SaveDocument()
    {
        debugger;
     
            var formData = new FormData();
            var file = document.getElementById("uploadFile").files[0];
            formData.append("uploadFile", file);
            if (document.getElementById('uploadFile').value !== '') 
            {
                $.ajax({
                    url: '@Url.Action("SaveDocument", "WorkCard")',
                    type: "POST",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data == true) {
                            SaveDocumentInputs();
                        }
                        if(data==false)
                        {
                            alert("Something went wrong");
                        }
                        console.log(data);
                    },
                    fail: function (error) {
                        alert("Something went wrong fail function(error)");
                    }
                });
            }
            else
            {
                alert('Please attach file.');
            }
    }

    function SaveDocumentInputs()
    {      
        debugger;

        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        var DocumentType = $("#ddlDocumentType option:selected").text();
        $("#DocumentType").val(DocumentType);
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveDocumentInputs", "WorkCard")',
            data: $('#FormAddDocument').serialize(),
            type: "POST",
            success: function (data) {
                ShowDetailsNew(DebtAccountId,j, "Documents", "TabDocuments");
                $("#myModalAddDocument").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                debugger;
                if (data == 1) {
                    DocumentAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == -1){
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddDocument").modal("hide");           
                hideLoadingImage();
            }
        });
    }
    
    function DocumentAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Document Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>


