﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.LetterVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
        #tblDebtAddressListGrid_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<form id="FormAddRequestLetterInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Letter Request
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div id="divLetterSelection">
                        <fieldset class="customFieldset">
                            <legend>Letter Selection</legend>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-12">
                                    @Html.RadioButtonFor(m => m.RbtLetterType, "", new { @checked = true })<lable>All</lable>
                                    &nbsp; &nbsp;
                                    @Html.RadioButtonFor(m => m.RbtLetterType, "D")<lable>Debtor</lable>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.RbtLetterType, "DA")<lable>Debtor Attorney</lable>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.RbtLetterType, "C")<lable>Client</lable>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.RbtLetterType, "CL")<lable>Close</lable>
                                    &nbsp; &nbsp;
                                    @Html.RadioButtonFor(m => m.RbtLetterType, "L")<lable>Forwarding</lable>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.RbtLetterType, "S")<lable>Small Claims</lable>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.RbtLetterType, "M")<lable>Others</lable>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-12">
                                    @Html.DropDownList("ddlLetterTypeId", new List<SelectListItem> { }, "--Select--", new { required = "required", @class = "form-control", style = "width:95%;", @onchange = "ddlLetterTypeIdChange(this.value)" })
                                </div>
                            </div>

                        </fieldset>
                        <br />&nbsp;
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div id="divDebtAddressList">
                        <fieldset class="customFieldset">
                            <legend></legend>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-12 checkbox-sm">

                                    <div id="tableDebtAddressListDiv" style="height:200px;display:block;overflow-y: scroll;overflow-x: hidden; @(Model.ObjDebtAccountAddressList.Count <= 0  ? "display:none" : "display:block")">
                                        <table id="tblDebtAddressListGrid" class="table table-bordered dataTable table-hover grid " border="1" style="width:700px;">
                                            <thead>
                                                <tr>
                                                    <th class="no-sort"  style="width: 1px;">Check</th>
                                                    <th style="width: 32px;">Add Req</th>
                                                    <th style="width: 27px;">Main</th>
                                                    <th style="width: 82px;">Contact Name</th>
                                                    <th style="width: 125px;">Address Line1</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model.ObjDebtAccountAddressList.Count >= 1)
                                                {
                                                    foreach (var i in Model.ObjDebtAccountAddressList)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input checked="checked"
                                                                       id=@i.DebtAddressId
                                                                       name="chkDebtAccountAddress"
                                                                       type="checkbox"
                                                                       value=@i.DebtAddressId />
                                                            </td>
                                                            <td>
                                                                @i.DebtAddressTypeId
                                                            </td>
                                                            @{
                                                                if (i.IsMainAddress)
                                                                {
                                                                    <td>YES</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>NO</td>
                                                                }
                                                            }
                                                            <td>
                                                              @i.ContactName
                                                            </td>
                                                            <td>
                                                                @i.AddressLine1
                                                            </td>
                                                        </tr>
                                                                    }
                                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>


            </div>
        </div>



    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.DebtId)
        @Html.HiddenFor(m => m.LetterType)
        @Html.HiddenFor(m => m.RbtLetterType)
        @Html.HiddenFor(m => m.PKID)
        @Html.HiddenFor(m=>m.selectedDebtAddress)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnSaveRequestLetterInfo" value="Save" class="btn btn-primary" onclick="SaveLetterRequest()" />
            <input type="button" value="Cancel" id="CancelModalRequestLetterInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='RbtLetterType']").click(function () {
        debugger;
        var LetterTypeValue = $(this).val();
        fillLetterTypeDdl(LetterTypeValue);

        var divDebtAddressList = document.getElementById("divDebtAddressList");

        switch (LetterTypeValue)
        {
            case "":
                divDebtAddressList.style.display = "block";
                break;
            case "D":
                divDebtAddressList.style.display = "block";
                break;
            case "DA":
                divDebtAddressList.style.display = "block";
                break;
            case "C":
                divDebtAddressList.style.display = "none";
                break;
            case "CL":
                divDebtAddressList.style.display = "none";
                break;
            case "L":
                divDebtAddressList.style.display = "none";
                break;
            case "S":
                divDebtAddressList.style.display = "none";
                break;
            case "M":
                divDebtAddressList.style.display = "none";
                break;
            default:
                divDebtAddressList.style.display = "block";
                break;
        }
    });

    function fillLetterTypeDdl(LetterTypeValue) {
        debugger;
        var ddlId = $("#ddlLetterTypeId");
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetLetterType", "WorkCard")',
            data: { LetterTypeValue: LetterTypeValue },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                ddlId.html("");
                //var selectvalue = "";
                ddlId.append($('<option></option>').val(-1).html( "--Select--"));
                for (var i = 0; i < data.length; i++) {
                    ddlId.append($('<option></option>').val(data[i].Id).html(data[i].Name));
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve ID Numbers');
            }
        });
    }

    function getRadioVal(form, name) {
        var val;
        // get list of radio buttons with specified name
        var radios = form.elements[name];

        // loop through list of radio buttons
        for (var i=0, len=radios.length; i<len; i++) {
            if ( radios[i].checked ) { // radio checked?
                val = radios[i].value; // if so, hold its value in val
                break; // and break out of for loop
            }
        }
        return val; // return value of checked radio or undefined if none checked
    }

    function ddlLetterTypeIdChange(Id){
        debugger;
        var DebtAccountId = @Model.DebtAccountId;

        // get value of selected ' radio button in 'Form'
        var LetterTypeValue = getRadioVal( document.getElementById('FormAddRequestLetterInfo'), 'RbtLetterType' );
       
       

        var divDebtAddressList = document.getElementById("divDebtAddressList");

        switch (LetterTypeValue)
        {
            case "":
                divDebtAddressList.style.display = "none";
                break;
            case "D":
                divDebtAddressList.style.display = "block";
                break;
            default:
                divDebtAddressList.style.display = "none";
                break;
        }

    }



    function SaveLetterRequest()
    {
        $('#btnSaveRequestLetterInfo').prop('disabled', true);
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        var DebtLetterTypeId = $("#ddlLetterTypeId").val();

        var LetterType =  $("#ddlLetterTypeId option:selected").text();
        $("#LetterType").val(LetterType);

        if(DebtLetterTypeId < 0 || DebtLetterTypeId == "")
        {
            alert('Select Letter Type.');
            $('#btnSaveRequestLetterInfo').prop('disabled', false);
            hideLoadingImage();
            return false;
        }

        var LetterTypeValue = getRadioVal( document.getElementById('FormAddRequestLetterInfo'), 'RbtLetterType' );
        $("#RbtLetterType").val(LetterTypeValue);

        var selectedDebtAddress = new Array();
 
        //Reference the CheckBoxes and insert the checked CheckBox value in Array.
        $("#tblDebtAddressListGrid input[type=checkbox]:checked").each(function () {
            selectedDebtAddress.push(this.value);
        });
 
        //Display the selected CheckBox values.
        if (selectedDebtAddress.length > 0) {
            //alert("Selected values: " + selected.join(","));
            selectedDebtAddress =  selectedDebtAddress.join(",");
        }

        $("#selectedDebtAddress").val(selectedDebtAddress);

        var data = $('#FormAddRequestLetterInfo').serialize();
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveLetterRequest", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j,"Letter","TabLetters");
                $("#myModalAddRequestLetter").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == 1) {
                    debugger;
                    //ShowDetailsNew(DebtAccountId, j, "Letter", "TabLetters");
                    LetterRequestAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddRequestLetter").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function LetterRequestAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Letter Request Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>