﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.CostsSpentVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

    .rt{
        text-align:right;
    }
            .wt{
        width:100% !important;
    }

    #tblLedgersGrid_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<form id="FormLegalInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Cost Spent
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <br />
                <input type="button" id="btnNewCostSpent" class="btn btn-primary pull-left" value="Add" onclick="AddLegalCost()">
                <br />
                <br />

                <div id="tableLedgersGridDiv" style="height:200px;display:block;overflow-y: scroll;overflow-x: hidden; @(Model.ObjDebtAccountLegalCostList.Count <= 0  ? "display:none" : "display:block")">
                    <table id="tblLedgersGrid" class="table table-bordered dataTable table-hover grid " border="1" style="width:970px;">
                        <thead>
                            <tr>
                                <th class="no-sort" style="width: 13px;">Edit</th>
                                <th style="width: 30px;">Date</th>
                                <th style="width: 30px;">Type</th>
                                <th style="width: 82px;">Suit Fee Amt</th>
                                <th style="width: 91px;">Court Cost Amt</th>
                                <th style="width: 30px;">Total</th>
                                <th style="width: 100px;">Reference</th>
                                <th style="width: 200px;">Note</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.ObjDebtAccountLegalCostList.Count >= 1)
                            {
                                foreach (var i in Model.ObjDebtAccountLegalCostList)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" onclick="ShowDebtAccountLegalCostDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        @{
                                            if (i.DateCreated == DateTime.MinValue)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@i.DateCreated.ToShortDateString()</td>
                                            }
                                        }
                                        <td>
                                            @i.LedgerType
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.SuitFeeAmt)
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.CourtCostAmt)
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.AttyExpAmt)
                                        </td>
                                        <td>
                                            @i.Reference
                                        </td>
                                        <td>
                                            @i.Note
                                        </td>
                                    </tr>
                                                }
                                            }
                        </tbody>
                    </table>
                </div>


            </div>

            <br />&nbsp;

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">

                    <div id="divTotalCosts">
                        <fieldset class="customFieldset">
                            <legend>Total Costs</legend>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-5 rt">
                                    <lable>Client CC:</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.CLCC, new { Value = String.Format("{0:C}", Model.CLCC), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-5 rt">
                                    <lable>Client SF:</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.CLSF, new { Value = String.Format("{0:C}", Model.CLSF), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-5 rt">
                                    <lable>Client Costs::</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.TOTCL, new { Value = String.Format("{0:C}", Model.TOTCL), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2">

                                </div>
                                <br />
                                <br />
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-5 rt">
                                    <lable>Agency CC:</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.AGCC, new { Value = String.Format("{0:C}", Model.AGCC), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-5 rt">
                                    <lable>Agency SF:</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.AGSF, new { Value = String.Format("{0:C}", Model.AGSF), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-5 rt">
                                    <lable>Agency Costs::</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.TOTAG, new { Value = String.Format("{0:C}", Model.TOTAG), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2">

                                </div>
                                <br />
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-5">
                                </div>
                                <div class="col-xs-5">
                                    <hr size="1" style="border: 1.0px solid black !important;">
                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-5 rt">
                                    <lable>Total Costs:</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.TOTCOST, new { Value = String.Format("{0:C}", Model.TOTCOST), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2">

                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>
                <div class="col-xs-3">
                </div>
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveCostSpent" value="Save" class="btn btn-primary" data-dismiss="modal" />
            <input type="button" value="Cancel" id="CancelModalCostSpent" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>

    function AddLegalCost()
    {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        $.ajax({
            url: '@Url.Action("AddLegalCost", "WorkCard")',
            type: "POST",
            data: { DebtAccountId: DebtAccountId},
            success: function(data) {
                debugger;
                $('#myModalAddEditCostsSpent').modal("hide");
                $('#myModalAddNewLegalCost .modal-content').html(data);
                $('#myModalAddNewLegalCost').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#objDebtAccountLegalCost_DateCreated').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);

                AddLegalCostCheckMinDate();

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


    function AddLegalCostCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objDebtAccountLegalCost_DateCreated"];
        $.each(DateTextBoxArray, function(idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "")
                {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }

    function ShowDebtAccountLegalCostDetails(Id)
    {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        $.ajax({
            url: '@Url.Action("GetDebtAccountLegalCostDetails", "WorkCard")',
            data: { Id: Id },
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModalAddEditCostsSpent').modal("hide");
                $('#myModalEditLegalCost .modal-content').html(data);
                $('#myModalEditLegalCost').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                //$('#objDebtAccountLegalCostEdit_DateCreated').datepicker({ format: 'mm/dd/yy'}).datepicker('setDate', today);

                $('#objDebtAccountLegalCostEdit_DateCreated').datepicker({ format: 'mm/dd/yyyy' }).datepicker();

                AddLegalCostCheckMinDate();

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

</script>