﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.MiscInfoVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

    .wt{
        width:100% !important;
    }
</style>

<form id="FormMiscInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            Misc Info Entry
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
 
        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-6 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Payment/NSF</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Bank Name</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.BankName, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Check Amt</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objMiscEdit.CheckAmt, new { @onblur = "txtCheckAmt_Leave(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.objMiscEdit.CheckAmt) })
                            </div>
                            <div class="col-xs-3 rt">
                                <lable>Check #</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objMiscEdit.CheckNo, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Damages</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objMiscEdit.Damages, new { @onblur = "txtDamages_Leave(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.objMiscEdit.Damages) })
                            </div>
                            <div class="col-xs-3 rt">
                                <lable>Payment Amt</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objMiscEdit.PymntAmt, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.objMiscEdit.PymntAmt) })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Total Damages</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objMiscEdit.TotDamages, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", @readonly = true, Value = String.Format("{0:C}", Model.objMiscEdit.TotDamages) })
                            </div>
                            <div class="col-xs-3 rt">
                                <lable>Settlement Amt</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objMiscEdit.SettlementAmt, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.objMiscEdit.SettlementAmt) })
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-xs-6 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Escrow Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Escrow #</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.EscrowNo, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Escrow Company</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.EscrowCompany, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Escrow Addr</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.EscrowAdd, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Escrow City</lable>
                            </div>
                            <div class="col-xs-9">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.EscrowCity, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-2 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.EscrowSt, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.EscrowZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control wt" })
                                </div>

                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>
            <br />&nbsp;
        </div>

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-6 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Bank Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Bank</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.Bank, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Address</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.BankAddress, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>City</lable>
                            </div>
                            <div class="col-xs-9">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.BankCity, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-2 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.BankState, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.BankZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control wt" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Account #</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.AccountNum, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-xs-6 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Bankruptcy Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Bank Case #</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.BKCaseNo, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Bank Name</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.DebtorBKName, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Bank Addr</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.BKAdd, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Bank City</lable>
                            </div>
                            <div class="col-xs-9">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.BKCity, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-2 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.BKSt, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.BKZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control wt" })
                                </div>

                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>
            <br />&nbsp;
        </div>

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-6 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Debtor Attorney</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Firm Name</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.DebtorFirmName, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Debtor Atty</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.DebtorAttyName, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Address</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.DebtorAttyAddress, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>City</lable>
                            </div>
                            <div class="col-xs-9">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.DebtorAttyCity, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-2 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.DebtorAttyState, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.DebtorAttyZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control wt" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.objMiscEdit.DebtorAttyPhone, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control wt", style = "display:inline;width: 130px;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Email</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.DebtorAttyEmail, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                            <br />
                            <br />
                        </div>
                    </fieldset>
                </div>

                <div class="col-xs-6 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Property Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Address</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.PropertyAddress, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>City</lable>
                            </div>
                            <div class="col-xs-9">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.PropertyCity, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-2 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.PropertyState, new { @class = "form-control wt" })
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objMiscEdit.PropertyZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control wt" })
                                </div>

                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>APN #</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.APNNum, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                    </fieldset>

                    <br />

                    <fieldset class="customFieldset">
                        <legend>Misc</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Client Batch #</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.DunHist, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt">
                                <lable>Web Addr</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objMiscEdit.DebtorWebAdd, new { @class = "form-control wt", style = "display:inline;"  })
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>
            <br />&nbsp;
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.PKID) 
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveMiscInfo" value="Save" class="btn btn-primary" onclick="SaveMiscInfo()" />
            <input type="button" value="Cancel" id="CancelModalMiscInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>

    function SaveMiscInfo()
    {
        debugger;
        showLoadingImage();

        var txtCheckAmt = document.getElementById("objMiscEdit_CheckAmt");
        var CheckAmt = txtCheckAmt.value;
        CheckAmt = CheckAmt.replace("$",""); 
        CheckAmt = CheckAmt.replace(",","");
        if(isNaN(CheckAmt))
        {
            alert('Check Amt is invalid.');
            txtCheckAmt.focus();
            return false;
        }
        $("#objMiscEdit_CheckAmt").val(CheckAmt);   

        var txtDamages = document.getElementById("objMiscEdit_Damages");
        var Damages = txtDamages.value;
        Damages = Damages.replace("$",""); 
        Damages = Damages.replace(",","");
        if(isNaN(Damages))
        {
            alert('Damages Amt is invalid.');
            txtDamages.focus();
            return false;
        }
        $("#objMiscEdit_Damages").val(Damages);   

        var txtTotDamages = document.getElementById("objMiscEdit_TotDamages");
        var TotDamages = txtTotDamages.value;
        TotDamages = TotDamages.replace("$",""); 
        TotDamages = TotDamages.replace(",","");
        if(isNaN(TotDamages))
        {
            alert('TotDamages Amt is invalid.');
            txtTotDamages.focus();
            return false;
        }
        $("#objMiscEdit_TotDamages").val(TotDamages);   

        var txtPymntAmt = document.getElementById("objMiscEdit_PymntAmt");
        var PymntAmt = txtPymntAmt.value;
        PymntAmt = PymntAmt.replace("$",""); 
        PymntAmt = PymntAmt.replace(",","");
        if(isNaN(PymntAmt))
        {
            alert('Payment Amt is invalid.');
            txtPymntAmt.focus();
            return false;
        }
        $("#objMiscEdit_PymntAmt").val(PymntAmt);   

        var txtSettlementAmt = document.getElementById("objMiscEdit_SettlementAmt");
        var SettlementAmt = txtSettlementAmt.value;
        SettlementAmt = SettlementAmt.replace("$",""); 
        SettlementAmt = SettlementAmt.replace(",","");
        if(isNaN(SettlementAmt))
        {
            alert('Settlement Amt is invalid.');
            txtSettlementAmt.focus();
            return false;
        }
        $("#objMiscEdit_SettlementAmt").val(SettlementAmt);   

        var data = $('#FormMiscInfo').serialize();
        var DebtAccountId = @Model.DebtAccountId;
        var State = '@Model.State';
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveMiscInfo", "WorkCard")',
            data: data,
            type: "POST",
          //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j, "Misc", "TabMisc");
                $("#myModalAddEditMiscInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //$('#successMsg').show();                    
                    MiscInfoAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddEditMiscInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function MiscInfoAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Misc Info Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function txtCheckAmt_Leave(txtCheckAmt)
    {
        debugger;
        formatCurrency(txtCheckAmt);

        var dcheckamt;
        var dDamages;
        var State = '@Model.State';
 
        dcheckamt = document.getElementById("objMiscEdit_CheckAmt").value;
        dcheckamt = dcheckamt.replace("$",""); 
        dcheckamt = dcheckamt.replace(",",""); 

        dDamages = Number(dcheckamt) * 3

        if(State == 'CA')
        {
            if(dDamages <= 100)
            {
                var i1 = new Intl.NumberFormat('en-US', { 
                    style: 'currency', 
                    currency: 'USD' 
                }).format(100); 
                $("#objMiscEdit_Damages").val(i1);  
            }
            else if(dDamages >= 1500)
            {
                var i2 = new Intl.NumberFormat('en-US', { 
                    style: 'currency', 
                    currency: 'USD' 
                }).format(1500); 
                $("#objMiscEdit_Damages").val(i2);  
            }
            else
            {
                  var i2 = new Intl.NumberFormat('en-US', { 
                    style: 'currency', 
                    currency: 'USD' 
                  }).format(dDamages); 
                  $("#objMiscEdit_Damages").val(i2);   
            }
        }
    }

    function txtDamages_Leave(txtDamages)
    {
        debugger;
        formatCurrency(txtDamages);
        var dtotdamages;
        var dcheckamt;
        var ddamages;

      
        dcheckamt = document.getElementById("objMiscEdit_CheckAmt").value;
        dcheckamt = dcheckamt.replace("$",""); 
        dcheckamt = dcheckamt.replace(",",""); 
 
        ddamages = document.getElementById("objMiscEdit_Damages").value;
        ddamages = ddamages.replace("$",""); 
        ddamages = ddamages.replace(",",""); 

        dtotdamages = Number(dcheckamt) + Number(ddamages) + 5.54;

        var i = new Intl.NumberFormat('en-US', { 
            style: 'currency', 
            currency: 'USD' 
        }).format(dtotdamages); 
        $("#objMiscEdit_TotDamages").val(i);   
    }
    
</script>


