﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.NoteVM
@{
    Layout = null;
}

<form id="FormAccountNote">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Account Note (New Entry)
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group">
            Note Type
            &nbsp; &nbsp;
        
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "1", new { @checked = true })<lable>Misc</lable>
      
            &nbsp; &nbsp;

          
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "2")<lable>Research</lable>
            &nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "3")<lable>Internal</lable>
         
            &nbsp;&nbsp;

           
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "4")<lable>Asset</lable>
           
            &nbsp;&nbsp;

                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "5")<lable>Web</lable>
          &nbsp;&nbsp;

                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "6")<lable>Status</lable>
          

        </div>

        <div class="col-xs-12 form-group">
            @Html.TextAreaFor(m => m.obj_note.Note, new { rows = "10", cols = "80" })
        </div>
    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_note.DebtAccountId)
        @Html.HiddenFor(m => m.obj_noteDebtAccountId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveNote" value="OK" class="btn btn-primary" onclick="SaveNote(@Model.obj_noteDebtAccountId)" />
            <input type="button" value="Cancel" id="CancelModalNote" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>

    function SaveNote(DebtAccountId)
    {
        debugger;
        showLoadingImage();
        var data = $('#FormAccountNote').serialize();
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveNote", "WorkCard")',
            data: data,
            type: "POST",
            //dataType: 'json',
            success: function (data) {
                debugger;
               
                $("#myModalAddNewNote").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if(data == 1)
                {
                    ShowDetailsNew(DebtAccountId, j, "Notes", "TabNotes");
                    NoteAddedSuccessPopup();
                   // $('#successMsg').show();
                    hideLoadingImage();
                }
                else if (data == 0)
                {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
               $("#myModalAddNewNote").modal("hide");
            }
        });
    }

    function NoteAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Note Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>

