﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.SmallClaimsVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
    .rt{
        text-align:right;
    }
</style>

<form id="FormAddSmallClaims">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Add Small Claims
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Court #</lable>
            </div>
            <div class="col-xs-6">
                @Html.DropDownListFor(m => m.ddlCourtId, Model.CourtIdList, "--Select--", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Venue Type</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaims.SCVenue, new { @class = "form-control", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Server #</lable>
            </div>
            <div class="col-xs-6">
                @Html.DropDownListFor(m => m.ddlProcessServerId, Model.ProcessServerIdList, "--Select--", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Entity Name</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaims.EntityName1, new { @class = "form-control", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Suit Amt</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaims.SuitAmt, new { @class = "form-control", style = "display:inline;", @type = "number", @min = "0" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>SC Review Date</lable>
            </div>
            <div class="col-xs-3">
                @*@Html.TextBoxFor(m => m.ObjDebtAccountSmallClaims.SCReviewDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })*@
                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaims.SCReviewDate,  new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true, Value = DateTime.Now.ToString("MM/dd/yyyy") })
             </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>SC Assign Date</lable>
            </div>
            <div class="col-xs-3">
                @*@Html.TextBoxFor(m => m.ObjDebtAccountSmallClaims.AssignDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })*@
                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaims.AssignDate, new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true, Value = DateTime.Now.ToString("MM/dd/yyyy") })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.State)
        @Html.HiddenFor(m => m.DebtId)
        @Html.HiddenFor(m => m.CourtId)        
        @Html.HiddenFor(m => m.ProcessServerId) 
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnSaveSmallClaims" value="Save" class="btn btn-primary" onclick="SaveSmallClaims()" />
            <input type="button" value="Cancel" id="CancelModalSmallClaims" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    function SaveSmallClaims()
    {
        debugger;
        showLoadingImage();

        var CourtId = $("#ddlCourtId").val();
        $("#CourtId").val(CourtId);

        var ProcessServerId = $("#ddlProcessServerId").val();
        $("#ProcessServerId").val(ProcessServerId);

        var data = $('#FormAddSmallClaims').serialize();
        var DebtAccountId = @Model.DebtAccountId;
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveSmallClaims", "WorkCard")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j,"SmallClaims","TabSmallClaims");
                $("#myModalAddSmallClaims").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    SmallClaimsAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddSmallClaims").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function SmallClaimsAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Small Claims Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
     
</script>




