﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.AddressVM
@{
    Layout = null;
}
<style>
    .wt{
        width:100% !important;
    }
    .lt {
        text-align: left;
    }
</style>

<form id="FormAddressInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Address Info
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Add Seq</lable>
            </div>
            <div class="col-xs-3" style="margin-left: 5px;font-size: larger;">
                @Html.DisplayFor(m => m.ObjAddress.DebtAddressTypeId, new { @class = "form-control wt" })
                @*@Html.TextBoxFor(m=>m.ObjAddress.DebtAddressTypeId,new { @class="form-control",disabled = "disabled", @readonly = "readonly" })*@
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Contact Name</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.ContactName, new { @class = "form-control  wt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Address Line</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.AddressLine1, new { @class = "form-control  wt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Address Line2</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.AddressLine2, new { @class = "form-control  wt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>City</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.City, new { @class = "form-control wt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>State</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.State, new { @class = "form-control", style = "width: 55px;"})
            </div>
                
            <div class="col-xs-1 rt" style="margin-left: -22px;">
                <lable>Zip</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.PostalCode, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control ", style= "width: 98px;" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Ph1</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.PhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control wt", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-1 rt" style="margin-left: -22px;">
                <lable>Ext</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.PhoneNoExt, new { @class = "form-control ", style = "width: 98px;" })
            </div>
        </div>


        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Ph2</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.PhoneNo2, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control wt", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-1 lt">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Ph3</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.CellPhone, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control wt", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-1 lt">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Fax</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.Fax, new { @onblur = "formatFax(this)", @maxlength = "10", @class = "form-control wt", style = "display:inline;text-align: center;"})
            </div>
            <div class="col-xs-1 lt">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Email</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.Email, new { @class = "form-control  wt" })
            </div>
        </div>


        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>SSN</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.SSN, new {@onblur = "formatSSN(this)",@maxlength = "9",@class = "form-control wt" })
            </div>
            <div class="col-xs-1 lt">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Note</lable>
            </div>
            <div class="col-xs-9">
                @Html.TextAreaFor(m => m.ObjAddress.Note, new { @class = "form-control wt", rows = "3" })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_addressDebtId)
        @Html.HiddenFor(m => m.obj_addressTypeId)  
        @Html.HiddenFor(m => m.obj_addressId)      
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btClearNote" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalNote(@Model.Obj_Note.Id);" />
                <input type="button" id="btDeleteNote" value="Delete" class="btn btn-primary pull-left" onclick="DeleteModalNote(@Model.Obj_Note.Id);" />*@
            <input type="button" id="btnsaveAddress" value="Save" class="btn btn-primary" onclick="SaveAddress(@Model.ObjAddress.DebtId)" />
            <input type="button" value="Cancel" id="CancelModalAddress" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>

    function SaveAddress(DebtId)
    {
        debugger;
        showLoadingImage();
        var data = $('#FormAddressInfo').serialize();
        var DebtAccountId = DebtId;
        $.ajax({
            url: '@Url.Action("SaveAddress", "WorkCard")',
            data: data,
            type: "POST",
          //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j, "Addresses", "TabAddresses");
                $("#myModalAddress").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //$('#successMsg').show();                    
                    AddressAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddress").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function AddressAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Address Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

  

</script>

