﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.CreditReportVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormCommercialCreditReportInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Business Credit Report Entry(New Entry)
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="overflow-y: inherit !important;">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Consigner Name</lable>
            </div>
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerName, new { @class = "form-control", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Address 1</lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerAddressLine1, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-2">

            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Address 2</lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerAddressLine2, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-2">

            </div>
        </div>


        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>City/State/Zip</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerCity, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-1" style="margin-left: -4%;width: 14%;">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerState, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-2" style="margin-left: -4%;width: 19%;">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Tax Id</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerSSN, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Birth Date</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Creditor</lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.OriginalCreditor, new { @class = "form-control", style = "display:inline;", @readonly = true })
            </div>
            <div class="col-xs-2">

            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Balance</lable>
            </div>
            <div class="col-xs-3">
                @*@Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CurrentBalance, new { @class = "form-control", style = "display:inline;", @readonly = true })*@
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CurrentBalance, new { Value = String.Format("{0:C}", Model.ObjDebtAccountCommercialCreditReport.CurrentBalance), @class = "form-control", style = "display:inline;", @readonly = true })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Date Opened</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.DateOpened, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Billing Date</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.BillingDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>


        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Status</lable>
            </div>
            <div class="col-xs-7">
                @Html.DropDownListFor(m => m.ddlAccountStatus, Model.AccountStatusList, new { @class = "form-control" })
            </div>
            <div class="col-xs-2">

            </div>
        </div>

        <br />
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt checkbox-sm">
                @Html.CheckBoxFor(m => m.chkDispute)
                &nbsp;
                <lable>Dispute</lable>
            </div>
            <div id="divDisputeCode" class="col-xs-9" style="margin-top: 10px; display:none;">
                <fieldset class="customFieldset">
                    <legend>Dispute Code</legend>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtDisputeCode, "1", new { @checked = true })<lable>XB - Account Information Disputed By Consumer</lable>
                    </div>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtDisputeCode, "2")<lable>XH - Account Previously Disputed - Now Resolved</lable>
                    </div>
                </fieldset>
            </div>
        </div>



    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAddressId)
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.AccountStatus)
        @Html.HiddenFor(m => m.DebtAddressTypeId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveAddress" value="Save" class="btn btn-primary" onclick="SaveCommercial(@Model.DebtAccountId)" />
            <input type="button" value="Cancel" id="CancelModalAddress" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>
    function SaveCommercial(DebtAccountId) {
        debugger;
        showLoadingImage();
        var AccountStatusId = $("#ddlAccountStatus").val();
        var AccountStatus =  $("#ddlAccountStatus option:selected").text();
        $("#AccountStatus").val(AccountStatus);

        var DebtAccountId = @Model.DebtAccountId;

        var txtCosignerName = document.getElementById("ObjDebtAccountCommercialCreditReport_CosignerName");
        if(txtCosignerName.value == "")
        {
            alert('Debtor Name is required.');
            txtCosignerName.focus();
            hideLoadingImage();
            return false;
        }
        
        var txtCosignerAddressLine1 = document.getElementById("ObjDebtAccountCommercialCreditReport_CosignerAddressLine1");
        if(txtCosignerAddressLine1.value == "")
        {
            alert('AddressLine1 is required.');
            txtCosignerAddressLine1.focus();
            hideLoadingImage();
            return false;
        }

        var txtCosignerCity = document.getElementById("ObjDebtAccountCommercialCreditReport_CosignerCity");
        if(txtCosignerCity.value == "")
        {
            alert('City is required.');
            txtCosignerCity.focus();
            hideLoadingImage();
            return false;
        }

        var txtCosignerState = document.getElementById("ObjDebtAccountCommercialCreditReport_CosignerState");
        if(txtCosignerState.value == "")
        {
            alert('State is required.');
            txtCosignerState.focus();
            hideLoadingImage();
            return false;
        }

        if(txtCosignerState.value == "BU" || txtCosignerState.value == "ON" || txtCosignerState.value == "BC" || txtCosignerState.value == "SP" || txtCosignerState.value == "QC" || txtCosignerState.value == "MB" ||txtCosignerState.value == "AB" || txtCosignerState.value == "GT" || txtCosignerState.value == "NI" || txtCosignerState.value == "NS" || txtCosignerState.value == "AN" || txtCosignerState.value == "MX" ||txtCosignerState.value == "BR")
        {
            alert('Canadian Accounts are not allowed');
            txtCosignerState.focus();
            hideLoadingImage();
            return false;
        }

        var txtCosignerZip = document.getElementById("ObjDebtAccountCommercialCreditReport_CosignerZip");
        if(txtCosignerZip.value == "")
        {
            alert('Zip is required.');
            txtCosignerZip.focus();
            hideLoadingImage();
            return false;
        }

        debugger;

        var data = $('#FormCommercialCreditReportInfo').serialize();
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveCommercial", "WorkCard")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j, "CreditReport", "TabCreditReport");
                $("#myModalAddCreditReportCommercial").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    CommercialAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddCreditReportCommercial").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CommercialAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Commercial Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>