﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.LegalCostVM
@{
    Layout = null;
}

<style>

    .rt{
        text-align:right;
    }
       .wt{
         width:100%
     }
</style>

<form id="FormAddSCLegalCost">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            Small Claims Legal Costs (New Entry)
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">*@
            <button type="button" class="close" onclick="CancelSCLegalCost()" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Entry Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.DateCreated, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Paid By</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.RadioButtonFor(m => m.objDebtAccountLegalCost.LedgerType, "CRTA", new { @checked = true })&nbsp;<lable>Agency</lable>
                        &nbsp;&nbsp;
                        @Html.RadioButtonFor(m => m.objDebtAccountLegalCost.LedgerType, "CRTC")&nbsp;<lable>Client</lable>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Filing Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.FilingFee, new { @onblur = "txt_Leave(this)", @class = "form-control wt", style = "display:inline;" })
                   </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Service Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.ServiceFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control wt", style = "display:inline;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Writ Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.WritFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control wt", style = "display:inline;"})
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Levy Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.LevyFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control wt", style = "display:inline;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Abstract Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.AbstractFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control wt", style = "display:inline;"})
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Recording Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.RecordingFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control wt", style = "display:inline;"})
                    </div>
                </div>


                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-3">
                        <hr size="1" style="border: 0.5px solid black !important;">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Total Expended</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.CostExpAmt,  new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                    </div>
                    <br />
                    <br />
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Reference</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCost.Reference, new { @class = "form-control", style = "display:inline;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Note</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.TextAreaFor(m => m.objDebtAccountLegalCost.Note, new { rows = "2", @class = "form-control", style = "margin: 0px -0.5px 0px 0px; height: 54px;" })
                    </div>
                </div>

            </div>
        </div>



    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveLegalCost" value="OK" class="btn btn-primary" onclick="SaveSCLegalCost()" />
            @*<input type="button" value="Cancel" id="CancelModalLegalCost" class="btn btn-primary" data-dismiss="modal" />*@
            <input type="button" value="Cancel" id="CancelModalLegalCost" class="btn btn-primary" onclick="CancelSCLegalCost()" />
        </div>
    </div>
</form>


<script>

    function CancelSCLegalCost()
    {
        $("#myModalAddNewSCCostSpent").modal("hide");
        EditCostsSpentInfo();
    }

    function SaveSCLegalCost() {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;

        var txtFilingFee= document.getElementById("objDebtAccountLegalCost_FilingFee");
        var FilingFee = txtFilingFee.value;
        FilingFee = FilingFee.replace("$",""); 
        FilingFee = FilingFee.replace(",","");
        if(isNaN(FilingFee))
        {
            alert('FilingFee Amt is invalid.');
            txtFilingFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCost_FilingFee").val(FilingFee);   

        var txtServiceFeeAmt = document.getElementById("objDebtAccountLegalCost_ServiceFeeAmt");
        var ServiceFeeAmt = txtServiceFeeAmt.value;
        ServiceFeeAmt = ServiceFeeAmt.replace("$",""); 
        ServiceFeeAmt = ServiceFeeAmt.replace(",","");
        if(isNaN(ServiceFeeAmt))
        {
            alert('ServiceFee Amt is invalid.');
            txtServiceFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCost_ServiceFeeAmt").val(ServiceFeeAmt);   

        var txtWritFeeAmt = document.getElementById("objDebtAccountLegalCost_WritFeeAmt");
        var WritFeeAmt = txtWritFeeAmt.value;
        WritFeeAmt = WritFeeAmt.replace("$",""); 
        WritFeeAmt = WritFeeAmt.replace(",","");
        if(isNaN(WritFeeAmt))
        {
            alert('WritFee Amt is invalid.');
            txtWritFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCost_WritFeeAmt").val(WritFeeAmt);   

        var txtLevyFeeAmt = document.getElementById("objDebtAccountLegalCost_LevyFeeAmt");
        var LevyFeeAmt = txtLevyFeeAmt.value;
        LevyFeeAmt = LevyFeeAmt.replace("$",""); 
        LevyFeeAmt = LevyFeeAmt.replace(",","");
        if(isNaN(LevyFeeAmt))
        {
            alert('LevyFee Amt is invalid.');
            txtLevyFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCost_LevyFeeAmt").val(LevyFeeAmt);   
        
        var txtAbstractFeeAmt = document.getElementById("objDebtAccountLegalCost_AbstractFeeAmt");
        var AbstractFeeAmt = txtAbstractFeeAmt.value;
        AbstractFeeAmt = AbstractFeeAmt.replace("$",""); 
        AbstractFeeAmt = AbstractFeeAmt.replace(",","");
        if(isNaN(AbstractFeeAmt))
        {
            alert('AbstractFee Amt is invalid.');
            txtAbstractFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCost_AbstractFeeAmt").val(AbstractFeeAmt);   

        var txtRecordingFeeAmt = document.getElementById("objDebtAccountLegalCost_RecordingFeeAmt");
        var RecordingFeeAmt = txtRecordingFeeAmt.value;
        RecordingFeeAmt = RecordingFeeAmt.replace("$",""); 
        RecordingFeeAmt = RecordingFeeAmt.replace(",","");
        if(isNaN(RecordingFeeAmt))
        {
            alert('RecordingFee Amt is invalid.');
            txtRecordingFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCost_RecordingFeeAmt").val(RecordingFeeAmt);   

        var txtCostExpAmt= document.getElementById("objDebtAccountLegalCost_CostExpAmt");
        var CostExpAmt = txtCostExpAmt.value;
        CostExpAmt = CostExpAmt.replace("$",""); 
        CostExpAmt = CostExpAmt.replace(",","");
        //if(isNaN(CostExpAmt))
        //{
        //    alert('CostExp Amt is invalid.');
        //    txtCostExpAmt.focus();
        //    return false;
        //}
        $("#objDebtAccountLegalCost_CostExpAmt").val(CostExpAmt);   
    
 

        var data = $('#FormAddSCLegalCost').serialize();
        $.ajax({
            url: '@Url.Action("SaveSCLegalCost", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                $("#myModalAddNewSCCostSpent").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //SCLegalCostAddedSuccessPopup();
                    EditCostsSpentInfo();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalAddNewSCCostSpent").modal("hide");
            }
        });
    }

    function SCLegalCostAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Small Claims Legal Cost Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function txt_Leave(txt)
    {
        debugger;
        formatCurrency(txt);
        var CostExpAmt;
        var FilingFee;
        var ServiceFeeAmt;
        var WritFeeAmt;
        var LevyFeeAmt;
        var AbstractFeeAmt;
        var RecordingFeeAmt;

 
        FilingFee = document.getElementById("objDebtAccountLegalCost_FilingFee").value;
        FilingFee = FilingFee.replace("$",""); 
        FilingFee = FilingFee.replace(",","");
  
        ServiceFeeAmt = document.getElementById("objDebtAccountLegalCost_ServiceFeeAmt").value;
        ServiceFeeAmt = ServiceFeeAmt.replace("$",""); 
        ServiceFeeAmt = ServiceFeeAmt.replace(",","");

        WritFeeAmt = document.getElementById("objDebtAccountLegalCost_WritFeeAmt").value;
        WritFeeAmt = WritFeeAmt.replace("$",""); 
        WritFeeAmt = WritFeeAmt.replace(",","");

        LevyFeeAmt = document.getElementById("objDebtAccountLegalCost_LevyFeeAmt").value;
        LevyFeeAmt = LevyFeeAmt.replace("$",""); 
        LevyFeeAmt = LevyFeeAmt.replace(",","");


        AbstractFeeAmt = document.getElementById("objDebtAccountLegalCost_AbstractFeeAmt").value;
        AbstractFeeAmt = AbstractFeeAmt.replace("$",""); 
        AbstractFeeAmt = AbstractFeeAmt.replace(",","");
         
        RecordingFeeAmt = document.getElementById("objDebtAccountLegalCost_RecordingFeeAmt").value;
        RecordingFeeAmt = RecordingFeeAmt.replace("$",""); 
        RecordingFeeAmt = RecordingFeeAmt.replace(",",""); 

        CostExpAmt = Number(FilingFee) 
            + Number(ServiceFeeAmt) 
            + Number(WritFeeAmt) 
            + Number(LevyFeeAmt) 
            + Number(AbstractFeeAmt) 
            + Number(RecordingFeeAmt);
       
        var i = new Intl.NumberFormat('en-US', { 
            style: 'currency', 
            currency: 'USD' 
        }).format(CostExpAmt); 
        $("#objDebtAccountLegalCost_CostExpAmt").val(i);  

    }



</script>


