﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.LegalInfoVM
@{
    Layout = null;
}
<style>
     .ht{
        margin-bottom: 5px !important;
    }
     .wt{
         width:100%
     }
    .rt{
        text-align:right;
    }

    .lt {
        text-align: left;
    }
</style>

<form id="FormLegalInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Forwarding
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR ht">

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-6 NopaddingLR">
                    <div id="divAttorneyInfo">
                        <fieldset class="customFieldset">
                            <legend>Attorney Info</legend>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Atty #</lable>
                                </div>
                                <div class="col-xs-6">
                                    @Html.DropDownListFor(m => m.ddlAttyNo, Model.AttyNoList, "--Select--", new { @class = "form-control wt", @onchange = "ddlChange(this.value)" })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Firm Name</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.FirmName, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Attorney Name</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttorneyName, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Attorney As</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttyAs, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Address</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttyAddress, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>City</lable>
                                </div>
                                <div class="col-xs-9">
                                    <div class="col-xs-6 NopaddingLR">
                                        @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttyCity, new { @class = "form-control wt", @readonly = true })
                                    </div>
                                    <div class="col-xs-2 NopaddingLR">
                                        @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttyState, new { @class = "form-control wt", @readonly = true, style = "width: 80%;" })
                                    </div>
                                    <div class="col-xs-4 NopaddingLR">
                                        @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttyZip, new { @class = "form-control wt", @readonly = true, style = "width: 94px;" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Phone No</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttyPhoneNo, new
                               {
                                   @onblur = "formatPhone(this)",
                                   @maxlength = "10",
                                   @class = "form-control wt",
                                   style = "display:inline;",
                                   @readonly = true,
                                   Value = string.IsNullOrEmpty(Model.objAttorneyInfoEdit.AttyPhoneNo) ? "" :
                                   Model.objAttorneyInfoEdit.AttyPhoneNo.Contains("-") ? Model.objAttorneyInfoEdit.AttyPhoneNo :
                                   String.Format("{0}-{1}-{2}"
                            , Model.objAttorneyInfoEdit.AttyPhoneNo.Substring(0, 3)
                             , Model.objAttorneyInfoEdit.AttyPhoneNo.Substring(3, 3)
                                 , Model.objAttorneyInfoEdit.AttyPhoneNo.Substring(6, Model.objAttorneyInfoEdit.AttyPhoneNo.Length - 6))
                               })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Fax</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttyFax, new { @onblur = "formatFax(this)", @maxlength = "10", @class = "form-control wt", style = "display:inline;", @readonly = true,
                                   Value = string.IsNullOrEmpty(Model.objAttorneyInfoEdit.AttyFax) ? "" :
                                     Model.objAttorneyInfoEdit.AttyFax.Contains("-") ? Model.objAttorneyInfoEdit.AttyFax :
                                   String.Format("{0}-{1}-{2}"
                            , Model.objAttorneyInfoEdit.AttyFax.Substring(0, 3)
                             , Model.objAttorneyInfoEdit.AttyFax.Substring(3, 3)
                                 , Model.objAttorneyInfoEdit.AttyFax.Substring(6, Model.objAttorneyInfoEdit.AttyFax.Length - 6))
                               })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Email</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.EMail, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Atty Memo</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.AttyNote, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Tax Id</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.objAttorneyInfoEdit.TaxID, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <br />&nbsp;

                    <div id="divLetterMergeInfo"   style="@(Model.PKID == "0" ? "display:none" : "display:block")">
                        <fieldset class="customFieldset">
                            <legend>Letter Merge Info</legend>

                            @*<div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 input-icon">
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.CourtCostAmt, new { @onblur = "txtCourtCostAmt_Leave(this)", @class = "form-control", style = "display:inline;", @type = "number", @min = "0" })
                                    <i>$</i>
                                 </div>
                                <div class="col-xs-4 input-icon">
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.SuitFeeAmt, new { @onblur = "txtSuitFeeAmt_Leave(this)", @class = "form-control", style = "display:inline;", @type = "number", @min = "0" })
                                    <i>$</i>
                                 </div>
                                <div class="col-xs-4 input-icon">
                                    @Html.TextBoxFor(m => m.TotalCosts, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    <i>$</i>
                                </div>
                            </div>*@

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt" style="margin-left: -36px;">
                                    <lable>Court Cost</lable>
                                </div>
                                <div class="col-xs-1 ">
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.CourtCostAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;width: 430%;", Value = String.Format("{0:C}", Model.objLegalInfoEdit.CourtCostAmt) })
                                </div>
                                <div class="col-xs-3 rt">
                                    <lable>Suit Fee</lable>
                                </div>
                                <div class="col-xs-1">
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.SuitFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;width: 430%;", Value = String.Format("{0:C}", Model.objLegalInfoEdit.SuitFeeAmt) })
                                </div>
                                <div class="col-xs-3 rt">
                                    <lable>Total</lable>
                                </div>
                                <div class="col-xs-1">
                                    @Html.TextBoxFor(m => m.TotalCosts, new { @class = "form-control", style = "display:inline;width: 430%;", @readonly = true, Value = String.Format("{0:C}", Model.TotalCosts) })
                                </div>
                            </div>

                        </fieldset>
                    </div>

                </div>

                <div class="col-xs-6 NopaddingLR">
                    <div id="divLawListInfo">
                        <fieldset class="customFieldset">
                            <legend>Law List Info</legend>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Law List Code</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.DropDownListFor(m => m.ddlLawListCode, Model.LawListCodeList, "--Select--", new { @class = "form-control wt", @onchange = "ddlChange(this.value)" })
                                </div>
                            </div>
                            
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Law List</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.objLawListInfoEdit.LawList, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Law Address</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.objLawListInfoEdit.LawAdd, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>
                            
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>City</lable>
                                </div>
                                <div class="col-xs-9">
                                    <div class="col-xs-6 NopaddingLR">
                                        @Html.TextBoxFor(m => m.objLawListInfoEdit.LawCity, new { @class = "form-control wt", @readonly = true })
                                    </div>
                                    <div class="col-xs-2 NopaddingLR">
                                        @Html.TextBoxFor(m => m.objLawListInfoEdit.LawSt, new { @class = "form-control wt", @readonly = true , style = "width: 80%;" })
                                    </div>
                                     <div class="col-xs-4 NopaddingLR">
                                        @Html.TextBoxFor(m => m.objLawListInfoEdit.LawZip, new { @class = "form-control wt", @readonly = true, style = "width: 94px;" })
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <br />&nbsp;

                    <div id="divFowardingInfo">
                        <fieldset class="customFieldset">
                            <legend>Fowarding Info</legend>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Setup Date</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.LegalSetupDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;width: 92%;" })
                                </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Legal Fee %</lable>
                                </div>
                                <div class="col-xs-2">
                                    @*@Html.TextBoxFor(m => m.objLegalInfoEdit.LegalRate, new { @class = "form-control", @type = "number", @min = "0", style = "width:120%;" })*@
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.LegalRate, new { @onblur = "formatPercentage(this)", @class = "form-control wt", Value = String.Format("{0}%", Model.objLegalInfoEdit.LegalRate), style = "Width:100%" })
                                   </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Attorney Fee %</lable>
                                </div>
                                <div class="col-xs-2">
                                    @*@Html.TextBoxFor(m => m.objLegalInfoEdit.AttyRate, new { @class = "form-control", @type = "number", @min = "0", style = "width:120%;" })*@
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.AttyRate, new { @onblur = "formatPercentage(this)", @class = "form-control wt", Value = String.Format("{0}%", Model.objLegalInfoEdit.AttyRate), style = "Width:100%" })
                                 </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Legal Assigned Amt</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.LegalAssignAmt, new { @onblur = "formatCurrency(this)", @class = "form-control wt", Value = String.Format("{0:C}", Model.objLegalInfoEdit.LegalAssignAmt), style = "Width:100%" })
                                </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Reference #</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.AttyRef, new { @class = "form-control wt", style = "display:inline; width:156px;"})
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>
                                        Memo
                                    </lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextAreaFor(m => m.objLegalInfoEdit.AttyMemo, new { rows = "2", @class = "form-control wt", style = "margin: 0px -0.5px 0px 0px; height: 54px;" })
                                </div>
                            </div>


                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkSuitFiled)
                                    &nbsp;
                                    <lable>
                                        Suit Filed
                                    </lable>
                                </div>
                                    <div class="col-xs-3" id="divSuitFiled" style="@(Model.chkSuitFiled == false ? "display:none" : "display:block")">
                                        @Html.TextBoxFor(m => m.objLegalInfoEdit.SuitFiledDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;width: 92%;" })
                                    </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 checkbox-sm rt">
                                    @Html.CheckBoxFor(m => m.chkJudgmentDate)
                                    &nbsp;
                                    <lable>
                                        Judgment Date
                                    </lable>
                                </div>
                                <div class="col-xs-3" id="divJudgmentDate"  style="@(Model.chkJudgmentDate == false ? "display:none" : "display:block")">
                                    @Html.TextBoxFor(m => m.objLegalInfoEdit.FwdJudgmentDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;width: 92%;" })
                                </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>

                        </fieldset>
                    </div>

                </div>


            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.PKID)
        @Html.HiddenFor(m => m.AttyNo)
        @Html.HiddenFor(m => m.LawPKId)
        @Html.HiddenFor(m => m.LawListCode)
        @Html.HiddenFor(m => m.LegalAssignAmt)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveLegalInfo" value="Save" class="btn btn-primary" onclick="SaveLegalInfo()" />
            <input type="button" value="Cancel" id="CancelModalLegalInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='chkSuitFiled']").click(function() {
        debugger;
        var chkSuitFiledValue = $(this).val();

        if (this.checked) {
            $('#divSuitFiled').show();
        }
        else {
            $('#divSuitFiled').hide();
        }
    });

    $("[name='chkJudgmentDate']").click(function() {
        debugger;
        var chkJudgmentDateValue = $(this).val();

        if (this.checked) {
            $('#divJudgmentDate').show();
        }
        else {
            $('#divJudgmentDate').hide();
        }
    });

    function ddlChange(Id){
        debugger;
        var DebtAccountId = @Model.DebtAccountId;
        var PKID = @Model.PKID;

        var AttyId = $("#ddlAttyNo").val();
        if(AttyId > 0)
        {
            AttyId = AttyId;
        }
        else
        {
            AttyId = 0;
        }
        var AttyNo =  $("#ddlAttyNo option:selected").text();
        $("#AttyNo").val(AttyNo);

        var LawPKId = $("#ddlLawListCode").val();
        if(LawPKId > 0)
        {
            LawPKId = LawPKId;
        }
        else
        {
            LawPKId = 0;
        }
        var LawListCode =  $("#ddlLawListCode option:selected").text();
        $("#LawListCode").val(LawListCode);

        var LegalAssignAmt = @Model.LegalAssignAmt;

        //var CourtCostAmt = document.getElementById("objLegalInfoEdit_CourtCostAmt").value;
        //var SuitFeeAmt = document.getElementById("objLegalInfoEdit_SuitFeeAmt").value;
        //var TotalCosts = document.getElementById("TotalCosts").value;

        var CourtCostAmt = document.getElementById("objLegalInfoEdit_CourtCostAmt").value;
        CourtCostAmt = CourtCostAmt.replace("$",""); 
        CourtCostAmt = CourtCostAmt.replace(",","");

        var SuitFeeAmt = document.getElementById("objLegalInfoEdit_SuitFeeAmt").value;
        SuitFeeAmt = SuitFeeAmt.replace("$",""); 
        SuitFeeAmt = SuitFeeAmt.replace(",","");

        var TotalCosts = document.getElementById("TotalCosts").value;
        TotalCosts = TotalCosts.replace("$",""); 
        TotalCosts = TotalCosts.replace(",","");
 

        $.ajax({
            url: '@Url.Action("GetddlDetails", "WorkCard")',
            data: {DebtAccountId:DebtAccountId, PKID:PKID, AttyId: AttyId, AttyNo:AttyNo, LawPKId:LawPKId, LawListCode:LawListCode, LegalAssignAmt: LegalAssignAmt, CourtCostAmt:CourtCostAmt, SuitFeeAmt:SuitFeeAmt, TotalCosts:TotalCosts},
                //type: "POST",
                success: function (data) {
                    debugger;
                    if (data) {
                        $('#myModalAddEditLegalInfo .modal-content').html(data);

                        //To set Current Date
                        var date = new Date();
                        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                        $('#objLegalInfoEdit_LegalSetupDate').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);
                        $('#objLegalInfoEdit_SuitFiledDate').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);
                        $('#objLegalInfoEdit_FwdJudgmentDate').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);

                        EditLegalInfoCheckMinDate();
                    }
                    else {
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
    }

    function SaveLegalInfo()
    {
        debugger;
        showLoadingImage();

        var txtCourtCostAmt= document.getElementById("objLegalInfoEdit_CourtCostAmt");
        var CourtCostAmt = txtCourtCostAmt.value;
        CourtCostAmt = CourtCostAmt.replace("$",""); 
        CourtCostAmt = CourtCostAmt.replace(",","");
        if(isNaN(CourtCostAmt))
        {
            alert('CourtCost Amt is invalid.');
            txtCourtCostAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objLegalInfoEdit_CourtCostAmt").val(CourtCostAmt);   

        var txtSuitFeeAmt= document.getElementById("objLegalInfoEdit_SuitFeeAmt");
        var SuitFeeAmt = txtSuitFeeAmt.value;
        SuitFeeAmt = SuitFeeAmt.replace("$",""); 
        SuitFeeAmt = SuitFeeAmt.replace(",","");
        if(isNaN(SuitFeeAmt))
        {
            alert('SuitFee Amt is invalid.');
            txtSuitFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objLegalInfoEdit_SuitFeeAmt").val(SuitFeeAmt);   


        var txtTotalCosts= document.getElementById("TotalCosts");
        var TotalCosts = txtTotalCosts.value;
        TotalCosts = TotalCosts.replace("$",""); 
        TotalCosts = TotalCosts.replace(",","");
        //if(isNaN(TotalCosts))
        //{
        //    alert('TotalCosts Amt is invalid.');
        //    txtTotalCosts.focus();
        //    return false;
        //}
        $("#TotalCosts").val(TotalCosts);   

        var txtLegalSetupDate = document.getElementById("objLegalInfoEdit_LegalSetupDate");
        if(txtLegalSetupDate.value == "")
        {
            alert('Legal Setup Date is required.');
            txtLegalSetupDate.focus();
            hideLoadingImage();
            return false;
        }

        var txtLegalAssignAmt = document.getElementById("objLegalInfoEdit_LegalAssignAmt");
        if(txtLegalAssignAmt.value == "")
        {
            alert('Legal Assign Amt is required.');
            txtLegalAssignAmt.focus();
            hideLoadingImage();
            return false;
        }
        var LegalAssignAmt = txtLegalAssignAmt.value;
        LegalAssignAmt = LegalAssignAmt.replace("$",""); 
        LegalAssignAmt = LegalAssignAmt.replace(",","");
        if(LegalAssignAmt == "" || isNaN(LegalAssignAmt) || LegalAssignAmt == "0")
        {
            alert('Legal Assign Amt is required.');
            txtLegalAssignAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objLegalInfoEdit_LegalAssignAmt").val(LegalAssignAmt);   


        var txtLegalRate = document.getElementById("objLegalInfoEdit_LegalRate");
        if(txtLegalRate.value == "0" || txtLegalRate.value == "")
        {
            alert('Legal Rate is required.');
            txtLegalRate.focus();
            hideLoadingImage();
            return false;
        }
        var LegalRate = txtLegalRate.value;
        LegalRate = LegalRate.replace("%","");  
        if(LegalRate == "" || isNaN(LegalRate) || LegalRate == "0")
        {
            alert('Legal Rate is required.');
            txtLegalRate.focus();
            hideLoadingImage();
            return false;
        }
        $("#objLegalInfoEdit_LegalRate").val(LegalRate);   

        var txtAttyRate = document.getElementById("objLegalInfoEdit_AttyRate");     
        var AttyRate = txtAttyRate.value;
        AttyRate = AttyRate.replace("%","");  
        if(isNaN(AttyRate))
        {
            alert('Atty Rate is Invalid.');
            txtAttyRate.focus();
            hideLoadingImage();
            return false;
        }
        $("#objLegalInfoEdit_AttyRate").val(AttyRate);   

        var data = $('#FormLegalInfo').serialize();
        var DebtAccountId = @Model.DebtAccountId;
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveLegalInfo", "WorkCard")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId, j, "Forwarding", "TabForwarding");
                $("#myModalAddEditLegalInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //$('#successMsg').show();
                    LegalInfoAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddEditLegalInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function LegalInfoAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Legal Info Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function txt_Leave(txt)
    {
        debugger;
        formatCurrency(txt);
        var dTotalAmt;
        var dCourtCostAmt;
        var dSuitFeeAmt;
 
        dCourtCostAmt = document.getElementById("objLegalInfoEdit_CourtCostAmt").value;
        dCourtCostAmt = dCourtCostAmt.replace("$",""); 
        dCourtCostAmt = dCourtCostAmt.replace(",",""); 

        dSuitFeeAmt = document.getElementById("objLegalInfoEdit_SuitFeeAmt").value;
        dSuitFeeAmt = dSuitFeeAmt.replace("$",""); 
        dSuitFeeAmt = dSuitFeeAmt.replace(",","");

        dTotalAmt = Number(dCourtCostAmt) + Number(dSuitFeeAmt);

        var i = new Intl.NumberFormat('en-US', { 
            style: 'currency', 
            currency: 'USD' 
        }).format(dTotalAmt); 
        $("#TotalCosts").val(i);  
    }

    function EditLegalInfoCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objLegalInfoEdit_LegalSetupDate" ,
                                                "objLegalInfoEdit_SuitFiledDate" ,
                                                "objLegalInfoEdit_FwdJudgmentDate"];
        $.each(DateTextBoxArray, function(idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" ||date == "01/01/0001" || date == "")
                {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }
            }
        });
    }
</script>



