﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.FaxFromNameVM
@{
    Layout = null;
}
<style>

</style>

<form id="FormFax">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>CRFVIEW</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group">

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-9">
                    <lable>From Name: </lable>
                </div>
                <div class="col-xs-3" style="text-align: right;">
                    <input type="button" value="OK" id="btnOK" class="btn btn-primary" onclick="btnmyModalCLFaxOKClick()" />
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-9">
                </div>
                <div class="col-xs-3" style="text-align: right;">
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary" data-dismiss="modal" />
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-12">
                    @Html.TextBoxFor(m => m.LocationDescr, new { @class = "form-control" })
                </div>
                <div class="col-xs-12">
                    <lable id="lblerror" style="text-align: left;color: red;"></lable>
                </div>
            </div>
        </div>
    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_DebtAccount.DebtAccountId)
    </div>
</form>

<script>



    //button FAX FORM NAME OK click
    function btnmyModalCLFaxOKClick() {
        debugger;
        showLoadingImage();
        $('#lblerror').val('');
        var DebtAccountId = $('#DebtAccountId').val();
        var FaxCode = 'CL';
            if (DebtAccountId.length > 0) {
                $.ajax({
                    url: '@Url.Action("FaxPrint", "WorkCard")',
                    data: { DebtAccountId: DebtAccountId, FaxCode: FaxCode},
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data != "error") {
                            $('#lblerror').text('');
                            window.open(data);
                            hideLoadingImage();
                            $('#myModalCLFaxOK').modal("hide");
                        }
                        else {
                            hideLoadingImage();
                            $('#lblerror').text('Report Not Found !!');
                        }
                        return false;
                    },

                    fail: function (error) {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                });
            }
            else {
                hideLoadingImage();
                return false;
            }
    }

</script>

