﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.FaxAccountInfoVM
@{
    Layout = null;
}
<style>

</style>

<div class="modal-header">
    <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
        <label>CRFVIEW</label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
            <span aria-hidden="true">×</span>
        </button>
    </h3>
</div>
<div class="modal-body" style="text-align:left">
    <div class="col-xs-12 form-group">

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-4">
                <lable>Fax Contact: </lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.DBFaxContact, new { @class = "form-control" })
            </div>
          
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-3" style="text-align: right;">
                <input type="button" value="OK" id="btnOK" class="btn btn-primary" onclick="ShowDBFaxFromName(@Model.DebtAccountId)" style="margin-right:-54px" />
            </div>
            <div class="col-xs-3" style="text-align: right;">
                <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary" data-dismiss="modal"  style="margin-right:-38px"/>
            </div>
        </div>

   
    </div>
</div>

<div id="hiddenFields">
    @Html.HiddenFor(m => m.DebtAccountId)
</div>

<script>
    function ShowDBFaxFromName(DebtAccountId) {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowDBFaxFromName", "WorkCard")',
            data: { DebtAccountId: DebtAccountId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalDBFax').modal("hide");
                $('#myModalDBFaxOK .modal-content').html(data);
                $('#myModalDBFaxOK').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }



</script>
