﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.EditMoreInfoVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

</style>

<form id="FormEditMoreInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            <label>
                Edit More Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group">
            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-3 rt">
                    <lable>Review Date</lable>
                </div>
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.obj_DebtAccountMoreInfoEdit.NextContactDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width: 70%;" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-3 rt">
                    <lable>Desk</lable>
                </div>
                <div class="col-xs-5">
                    @*@Html.TextBoxFor(m => m.obj_DebtAccountMoreInfoEdit.Location, new { @class = "form-control", style = "display:inline; width: 60%;" })*@
                    @Html.DropDownListFor(m => m.obj_DebtAccountMoreInfoEdit.LocationId, Model.LocationList.OrderBy(m => m.Text), new { @class = "form-control" , style="width:250px;"})
                </div>
                <div class="col-xs-2">
                </div>
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-3 rt">
                    <lable>TO Desk</lable>
                </div>
                <div class="col-xs-5">
                    @*@Html.TextBoxFor(m => m.obj_DebtAccountMoreInfoEdit.TempOwner, new { @class = "form-control", style = "display:inline; width: 60%;" })*@
                    @Html.DropDownListFor(m => m.obj_DebtAccountMoreInfoEdit.TempOwnerId, Model.LocationList.OrderBy(m => m.Text), new { @class = "form-control", style = "width:250px;" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-3 rt">
                    <lable>New Priority</lable>
                </div>
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.obj_DebtAccountMoreInfoEdit.Priority, new { @class = "form-control", style = "display:inline; width: 35%;" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>

    
    </div>
      

        <div id="hiddenFields">
            @Html.HiddenFor(m => m.obj_DebtAccountMoreInfoEdit.DebtAccountId)
        </div>

        <div class="modal-footer">
            <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                <input type="button" value="OK" id="OKModalEditMoreInfo" onclick = "SaveMoreInfo(@Model.obj_DebtAccountMoreInfoEdit.DebtAccountId)" class="btn btn-primary" />
                <input type="button" value="Cancel" id="CancelModalEditMoreInfo" class="btn btn-primary" data-dismiss="modal" />
            </div>
        </div>


</form>

<script type="text/javascript">
    function SaveMoreInfo(DebtAccountId) {
        debugger;
        showLoadingImage();
        var data = $('#FormEditMoreInfo').serialize();
            $('#myModalMoreInfo').modal('hide');
            $.ajax({
                url: '@Url.Action("SaveMoreInfoDetails", "WorkCard")',
                data: data,
                type: "POST",
                success: function (data) {
                    debugger;
                    // $('#EditAccount').html(data);
                    var j = $(".newtr").attr('id');
                    $(".newtr").empty();
               
                    $('<tr id=' + j + ' class="newtr"><td  colspan="9" height=600px><span style="line-height: 35px !important">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));

                    //ShowDetails(DebtAccountId);   
                    ShowDetailsNew(DebtAccountId, j, "MainInfo", "TabMainInfo");
                    debugger;
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    EditMoreInfoCheckMinDate();
                    hideLoadingImage();
                },
                fail: function (error) {                  
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            });
    }
</script>
