﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.LegalCostVM
@{
    Layout = null;
}

<form id="FormEditSCLegalCost">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
           Small Legal Costs
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">*@
            <button type="button" class="close" onclick="CancelSCLegalCost()" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Entry Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.DateCreated, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                    </div>
                </div>


                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Paid By</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.RadioButtonFor(m => m.objDebtAccountLegalCostEdit.LedgerType, "CRTA", new { @checked = true })<lable>Agency</lable>
                        &nbsp;&nbsp;
                        @Html.RadioButtonFor(m => m.objDebtAccountLegalCostEdit.LedgerType, "CRTC")<lable>Client</lable>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Filing Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.FilingFee, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;" , Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.FilingFee) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Service Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.ServiceFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;", Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.ServiceFeeAmt) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Writ Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.WritFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;", Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.WritFeeAmt) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Levy Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.LevyFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;", Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.LevyFeeAmt) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Abstract Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.AbstractFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;", Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.AbstractFeeAmt) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Recording Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.RecordingFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;", Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.RecordingFeeAmt) })
                    </div>
                </div>


                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-3">
                        <hr size="1" style="border: 0.5px solid black !important;">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Total Expended</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.CostExpAmt, new { @class = "form-control", style = "display:inline;", @readonly = true, Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.CostExpAmt) })
                    </div>
                    <br />
                    <br />
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Reference</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.Reference, new { @class = "form-control", style = "display:inline;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Note</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.TextAreaFor(m => m.objDebtAccountLegalCostEdit.Note, new { rows = "2", @class = "form-control", style = "margin: 0px -0.5px 0px 0px; height: 54px;" })
                    </div>
                </div>

            </div>
        </div>



    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnDeleteSCLegalCost" value="Delete" class="btn btn-primary pull-left" onclick="DeleteSCLegalCost(@Model.Id)" />
            <input type="button" id="btnsaveSCLegalCost" value="OK" class="btn btn-primary" onclick="UpdateSCLegalCost()" />
            <input type="button" value="Cancel" id="CancelModalSCLegalCost" class="btn btn-primary" onclick="CancelSCLegalCost()" />
        </div>
    </div>
</form>


<script>

    function CancelSCLegalCost()
    {
        $("#myModalEditSCCostSpent").modal("hide");
        EditCostsSpentInfo();
    }


    function UpdateSCLegalCost() {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;

        var txtFilingFee= document.getElementById("objDebtAccountLegalCostEdit_FilingFee");
        var FilingFee = txtFilingFee.value;
        FilingFee = FilingFee.replace("$",""); 
        FilingFee = FilingFee.replace(",","");
        if(isNaN(FilingFee))
        {
            alert('FilingFee Amt is invalid.');
            txtFilingFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCostEdit_FilingFee").val(FilingFee);   

        var txtServiceFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_ServiceFeeAmt");
        var ServiceFeeAmt = txtServiceFeeAmt.value;
        ServiceFeeAmt = ServiceFeeAmt.replace("$",""); 
        ServiceFeeAmt = ServiceFeeAmt.replace(",","");
        if(isNaN(ServiceFeeAmt))
        {
            alert('ServiceFee Amt is invalid.');
            txtServiceFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCostEdit_ServiceFeeAmt").val(ServiceFeeAmt);   

        var txtWritFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_WritFeeAmt");
        var WritFeeAmt = txtWritFeeAmt.value;
        WritFeeAmt = WritFeeAmt.replace("$",""); 
        WritFeeAmt = WritFeeAmt.replace(",","");
        if(isNaN(WritFeeAmt))
        {
            alert('WritFee Amt is invalid.');
            txtWritFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCostEdit_WritFeeAmt").val(WritFeeAmt);   

        var txtLevyFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_LevyFeeAmt");
        var LevyFeeAmt = txtLevyFeeAmt.value;
        LevyFeeAmt = LevyFeeAmt.replace("$",""); 
        LevyFeeAmt = LevyFeeAmt.replace(",","");
        if(isNaN(LevyFeeAmt))
        {
            alert('LevyFee Amt is invalid.');
            txtLevyFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCostEdit_LevyFeeAmt").val(LevyFeeAmt);   
        
        var txtAbstractFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_AbstractFeeAmt");
        var AbstractFeeAmt = txtAbstractFeeAmt.value;
        AbstractFeeAmt = AbstractFeeAmt.replace("$",""); 
        AbstractFeeAmt = AbstractFeeAmt.replace(",","");
        if(isNaN(AbstractFeeAmt))
        {
            alert('AbstractFee Amt is invalid.');
            txtAbstractFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCostEdit_AbstractFeeAmt").val(AbstractFeeAmt);   

        var txtRecordingFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_RecordingFeeAmt");
        var RecordingFeeAmt = txtRecordingFeeAmt.value;
        RecordingFeeAmt = RecordingFeeAmt.replace("$",""); 
        RecordingFeeAmt = RecordingFeeAmt.replace(",","");
        if(isNaN(RecordingFeeAmt))
        {
            alert('RecordingFee Amt is invalid.');
            txtRecordingFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCostEdit_RecordingFeeAmt").val(RecordingFeeAmt);   

        var txtCostExpAmt= document.getElementById("objDebtAccountLegalCostEdit_CostExpAmt");
        var CostExpAmt = txtCostExpAmt.value;
        CostExpAmt = CostExpAmt.replace("$",""); 
        CostExpAmt = CostExpAmt.replace(",","");
        //if(isNaN(CostExpAmt))
        //{
        //    alert('CostExp Amt is invalid.');
        //    txtCostExpAmt.focus();
        //     hideLoadingImage();
        //    return false;
        //}
        $("#objDebtAccountLegalCostEdit_CostExpAmt").val(CostExpAmt);    

        var data = $('#FormEditSCLegalCost').serialize();
        $.ajax({
            url: '@Url.Action("UpdateSCLegalCost", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                $("#myModalEditSCCostSpent").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //LegalCostUpdatedSuccessPopup();
                    EditCostsSpentInfo();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditSCCostSpent").modal("hide");
            }
        });
    }

    function LegalCostUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Legal Cost Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function txt_Leave(txt)
    {
        debugger;
        formatCurrency(txt);
        var CostExpAmt;
        var FilingFee;
        var ServiceFeeAmt;
        var WritFeeAmt;
        var LevyFeeAmt;
        var AbstractFeeAmt;
        var RecordingFeeAmt; 
        
        FilingFee = document.getElementById("objDebtAccountLegalCostEdit_FilingFee").value;
        FilingFee = FilingFee.replace("$",""); 
        FilingFee = FilingFee.replace(",","");
  
        ServiceFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_ServiceFeeAmt").value;
        ServiceFeeAmt = ServiceFeeAmt.replace("$",""); 
        ServiceFeeAmt = ServiceFeeAmt.replace(",","");

        WritFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_WritFeeAmt").value;
        WritFeeAmt = WritFeeAmt.replace("$",""); 
        WritFeeAmt = WritFeeAmt.replace(",","");

        LevyFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_LevyFeeAmt").value;
        LevyFeeAmt = LevyFeeAmt.replace("$",""); 
        LevyFeeAmt = LevyFeeAmt.replace(",","");


        AbstractFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_AbstractFeeAmt").value;
        AbstractFeeAmt = AbstractFeeAmt.replace("$",""); 
        AbstractFeeAmt = AbstractFeeAmt.replace(",","");
         
        RecordingFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_RecordingFeeAmt").value;
        RecordingFeeAmt = RecordingFeeAmt.replace("$",""); 
        RecordingFeeAmt = RecordingFeeAmt.replace(",",""); 

        CostExpAmt = Number(FilingFee) 
            + Number(ServiceFeeAmt) 
            + Number(WritFeeAmt) 
            + Number(LevyFeeAmt) 
            + Number(AbstractFeeAmt) 
            + Number(RecordingFeeAmt);
       
        var i = new Intl.NumberFormat('en-US', { 
            style: 'currency', 
            currency: 'USD' 
        }).format(CostExpAmt); 
        $("#objDebtAccountLegalCostEdit_CostExpAmt").val(i);  

    }




    function DeleteSCLegalCost(Id)
    {
        debugger;
        var DebtAccountId = @Model.DebtAccountId;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("DeleteSCLegalCost", "WorkCard")',
            data: {Id:Id},
            type: "POST",
            dataType: 'json',
            success: function (data) {
                debugger;

                $("#myModalEditSCCostSpent").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == true) {
                    //SCLegalCostDeletePopup();
                    EditCostsSpentInfo();
                    hideLoadingImage();
                }
                else {
                    $('#errorMsg').show();
                    $("#myModalEditSCCostSpent").modal("hide");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditSCCostSpent").modal("show");
            }
        });
    }

    function SCLegalCostDeletePopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Small Claims Legal Cost Details Has Been Deleted.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>



