﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.LegalCostVM
@{
    Layout = null;
}

<form id="FormEditLegalCost">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Legal Costs
            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">*@
                <button type="button" class="close" onclick="CancelLegalCost()" aria-label="Close" style="margin-right: 10px;">
                    <span aria-hidden="true">×</span>
                </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Entry Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.DateCreated, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Paid By</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.RadioButtonFor(m => m.objDebtAccountLegalCostEdit.LedgerType, "ATTA")<lable>Agency</lable>
                        &nbsp;&nbsp;
                        @Html.RadioButtonFor(m => m.objDebtAccountLegalCostEdit.LedgerType, "ATTC")<lable>Client</lable>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Court Costs</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.CourtCostAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;", Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.CourtCostAmt) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Suit Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.SuitFeeAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;", Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.SuitFeeAmt) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-3">
                        <hr size="1" style="border: 0.5px solid black !important;">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Total</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.AttyExpAmt, new { @class = "form-control", style = "display:inline;", @readonly = true, Value = String.Format("{0:C}", Model.objDebtAccountLegalCostEdit.AttyExpAmt) })
                    </div>
                    <br />
                    <br />
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Reference</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.objDebtAccountLegalCostEdit.Reference, new { @class = "form-control", style = "display:inline;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 rt">
                        <lable>Note</lable>
                    </div>
                    <div class="col-xs-9">
                        @Html.TextAreaFor(m => m.objDebtAccountLegalCostEdit.Note, new { rows = "2", @class = "form-control", style = "margin: 0px -0.5px 0px 0px; height: 54px;" })
                    </div>
                </div>

            </div>
        </div>



    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnDeleteLegalCost" value="Delete" class="btn btn-primary pull-left" onclick="DeleteLegalCost(@Model.Id)" />
            <input type="button" id="btnsaveLegalCost" value="OK" class="btn btn-primary" onclick="UpdateLegalCost()" />
            @*<input type="button" value="Cancel" id="CancelModalLegalCost" class="btn btn-primary" data-dismiss="modal" />*@
            <input type="button" value="Cancel" id="CancelModalLegalCost" class="btn btn-primary" onclick="CancelLegalCost()" />
        </div>
    </div>
</form>


<script>

    function CancelLegalCost()
    {
        $("#myModalEditLegalCost").modal("hide");
        AddEditCostsSpent();
    }


    function UpdateLegalCost() {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;

        var txtCourtCostAmt= document.getElementById("objDebtAccountLegalCostEdit_CourtCostAmt");
        var CourtCostAmt = txtCourtCostAmt.value;
        CourtCostAmt = CourtCostAmt.replace("$",""); 
        CourtCostAmt = CourtCostAmt.replace(",","");
        if(isNaN(CourtCostAmt))
        {
            alert('CourtCost Amt is invalid.');
            txtCourtCostAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCostEdit_CourtCostAmt").val(CourtCostAmt);   

        var txtSuitFeeAmt= document.getElementById("objDebtAccountLegalCostEdit_SuitFeeAmt");
        var SuitFeeAmt = txtSuitFeeAmt.value;
        SuitFeeAmt = SuitFeeAmt.replace("$",""); 
        SuitFeeAmt = SuitFeeAmt.replace(",","");
        if(isNaN(SuitFeeAmt))
        {
            alert('SuitFee Amt is invalid.');
            txtSuitFeeAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#objDebtAccountLegalCostEdit_SuitFeeAmt").val(SuitFeeAmt);   


        var txtAttyExpAmt= document.getElementById("objDebtAccountLegalCostEdit_AttyExpAmt");
        var AttyExpAmt = txtAttyExpAmt.value;
        AttyExpAmt = AttyExpAmt.replace("$",""); 
        AttyExpAmt = AttyExpAmt.replace(",","");
        //if(isNaN(AttyExpAmt))
        //{
        //    alert('AttyExp Amt is invalid.');
        //    txtAttyExpAmt.focus();
        //    hideLoadingImage();
        //    return false;
        //}
        $("#objDebtAccountLegalCostEdit_AttyExpAmt").val(AttyExpAmt);   



        var data = $('#FormEditLegalCost').serialize();
        $.ajax({
            url: '@Url.Action("UpdateLegalCost", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                $("#myModalEditLegalCost").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //LegalCostUpdatedSuccessPopup();
                    AddEditCostsSpent();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditLegalCost").modal("hide");
            }
        });
    }

    function LegalCostUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Legal Cost Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
 
    function txt_Leave(txt)
    {
        debugger;
        formatCurrency(txt);
        var dTotalAmt;
        var dCourtCostAmt;
        var dSuitFeeAmt;
 
        dCourtCostAmt = document.getElementById("objDebtAccountLegalCostEdit_CourtCostAmt").value;
        dCourtCostAmt = dCourtCostAmt.replace("$",""); 
        dCourtCostAmt = dCourtCostAmt.replace(",",""); 

        dSuitFeeAmt = document.getElementById("objDebtAccountLegalCostEdit_SuitFeeAmt").value;
        dSuitFeeAmt = dSuitFeeAmt.replace("$",""); 
        dSuitFeeAmt = dSuitFeeAmt.replace(",","");

        dTotalAmt = Number(dCourtCostAmt) + Number(dSuitFeeAmt);

        var i = new Intl.NumberFormat('en-US', { 
            style: 'currency', 
            currency: 'USD' 
        }).format(dTotalAmt); 
        $("#objDebtAccountLegalCostEdit_AttyExpAmt").val(i);  
    }
     


    function DeleteLegalCost(Id)
    {
        debugger;
        var DebtAccountId = @Model.DebtAccountId;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("DeleteLegalCost", "WorkCard")',
            data: {Id:Id},
            type: "POST",
            dataType: 'json',
            success: function (data) {
                debugger;

                $("#myModalEditLegalCost").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == true) {
                    //LegalCostDeletePopup();
                    AddEditCostsSpent();
                    hideLoadingImage();
                }
                else {
                    $('#errorMsg').show();
                    $("#myModalEditLegalCost").modal("hide");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditLegalCost").modal("show");
            }
        });
    }

    function LegalCostDeletePopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Legal Cost Details Has Been Deleted.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>



