﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.SmallClaimsVM
@{
    Layout = null;
}
<style>

     .wt{
        width:100% !important;
         }
</style>

<form id="FormAddSCLetterMerge">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            SC Letter Merge
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;"></button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Filing Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.FilingFee, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.FilingFee) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Service Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServiceFee, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.ServiceFee) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>CRS Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.AgencyFee, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.AgencyFee) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Recording Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.RecordingFee, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.RecordingFee) })
                    </div>
                    <br/>
                    <br/>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Abstract Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.AbstractFee, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.AbstractFee) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Abstract Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.AbstractDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Abstract Record Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.AbstractRecordDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Abstract #</lable>
                    </div>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.AbstractNum, new { @class = "form-control wt", style = "display:inline;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Abstract County</lable>
                    </div>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.AbstractCounty, new { @class = "form-control wt", style = "display:inline;" })
                    </div>
                    <br/>
                    <br/>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Writ Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.WritFee, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.WritFee) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Writ Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.WritDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;" })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Writ County</lable>
                    </div>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.WritCounty, new { @class = "form-control wt", style = "display:inline;" })
                    </div>
                    <br />
                    <br />
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Levy Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.LevyFee, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.LevyFee) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Levy Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.LevyDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;" })
                    </div>
                    <br/>
                    <br/>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Orap Fee</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ORAPFee, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.ORAPFee) })
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-4 rt">
                        <lable>Orap Date</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ORAPDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;" })
                    </div>
                </div>

            </div>
        </div>



    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.PKID)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsaveLetterMerge" value="OK" class="btn btn-primary" onclick="SaveSCLetterMerge()" />
            <input type="button" value="Cancel" id="CancelModalLetterMerge" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>


    function SaveSCLetterMerge() {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;

        var txtFilingFee = document.getElementById("ObjDebtAccountSmallClaimsEdit_FilingFee");
        var FilingFee = txtFilingFee.value;
        FilingFee = FilingFee.replace("$",""); 
        FilingFee = FilingFee.replace(",","");
        if(isNaN(FilingFee))
        {
            alert('FilingFee Amt is invalid.');
            txtFilingFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_FilingFee").val(FilingFee);   
        

        var txtServiceFee = document.getElementById("ObjDebtAccountSmallClaimsEdit_ServiceFee");
        var ServiceFee = txtServiceFee.value;
        ServiceFee = ServiceFee.replace("$",""); 
        ServiceFee = ServiceFee.replace(",","");
        if(isNaN(ServiceFee))
        {
            alert('ServiceFee Amt is invalid.');
            txtServiceFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_ServiceFee").val(ServiceFee);   

        var txtAgencyFee = document.getElementById("ObjDebtAccountSmallClaimsEdit_AgencyFee");
        var AgencyFee = txtAgencyFee.value;
        AgencyFee = AgencyFee.replace("$",""); 
        AgencyFee = AgencyFee.replace(",","");
        if(isNaN(AgencyFee))
        {
            alert('AgencyFee Amt is invalid.');
            txtAgencyFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_AgencyFee").val(AgencyFee);   

        var txtRecordingFee = document.getElementById("ObjDebtAccountSmallClaimsEdit_RecordingFee");
        var RecordingFee = txtRecordingFee.value;
        RecordingFee = RecordingFee.replace("$",""); 
        RecordingFee = RecordingFee.replace(",","");
        if(isNaN(RecordingFee))
        {
            alert('RecordingFee Amt is invalid.');
            txtRecordingFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_RecordingFee").val(RecordingFee);   

        var txtAbstractFee = document.getElementById("ObjDebtAccountSmallClaimsEdit_AbstractFee");
        var AbstractFee = txtAbstractFee.value;
        AbstractFee = AbstractFee.replace("$",""); 
        AbstractFee = AbstractFee.replace(",","");
        if(isNaN(AbstractFee))
        {
            alert('AbstractFee Amt is invalid.');
            txtAbstractFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_AbstractFee").val(AbstractFee);   

        var txtWritFee = document.getElementById("ObjDebtAccountSmallClaimsEdit_WritFee");
        var WritFee = txtWritFee.value;
        WritFee = WritFee.replace("$",""); 
        WritFee = WritFee.replace(",","");
        if(isNaN(WritFee))
        {
            alert('WritFee Amt is invalid.');
            txtWritFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_WritFee").val(WritFee);   

        var txtLevyFee = document.getElementById("ObjDebtAccountSmallClaimsEdit_LevyFee");
        var LevyFee = txtLevyFee.value;
        LevyFee = LevyFee.replace("$",""); 
        LevyFee = LevyFee.replace(",","");
        if(isNaN(LevyFee))
        {
            alert('LevyFee Amt is invalid.');
            txtLevyFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_LevyFee").val(LevyFee);   

        var txtORAPFee = document.getElementById("ObjDebtAccountSmallClaimsEdit_ORAPFee");
        var ORAPFee = txtORAPFee.value;
        ORAPFee = ORAPFee.replace("$",""); 
        ORAPFee = ORAPFee.replace(",","");
        if(isNaN(ORAPFee))
        {
            alert('ORAPFee Amt is invalid.');
            txtORAPFee.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_ORAPFee").val(ORAPFee);

        var data = $('#FormAddSCLetterMerge').serialize();
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveSCLetterMerge", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j,"SmallClaims","TabSmallClaims");
                $("#myModalEditSmallClaimsLetterMergeInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    SCLetterMergeAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditSmallClaimsLetterMergeInfo").modal("hide");
            }
        });
    }

    function SCLetterMergeAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Small Claims LetterMerge Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
     

</script>



