﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.SmallClaimsVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
     .wt{
        width:100% !important;
    }
</style>

<form id="FormEditSmallClaimsAdditionalInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            SC Additional Info Entry
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <div id="divAdditionalInfo">
                    <fieldset class="customFieldset">
                        <legend></legend>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <div class="col-xs-3 rt">
                                    <lable>Client</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.ClientCode, new { @class = "form-control wt", style = "display:inline; width:124%;", @readonly = true })
                                </div>
                                <div class="col-xs-6">
                                    @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control", style = "display:inline; width:180%;", @readonly = true })
                                </div>
                              </div>


                            <div class="col-xs-8 rt">
                                <div class="col-xs-3 rt">
                                    <lable>Date Assigned</lable>
                                </div>
                                <div class="col-xs-3" style="width: 122px;">
                                    @Html.TextBoxFor(m => m.ReferalDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Total Due</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.TotalDue, new { Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.TotalDue), @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-1 rt">
                                    <lable>Status</lable>
                                </div>
                                <div class="col-xs-1">
                                    @Html.TextBoxFor(m => m.CollectionStatus, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>
                        
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <div class="col-xs-3 rt">
                                    <lable>Debtor #</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.DebtAccountId, new { @class = "form-control wt", style = "display:inline; width:124%;", @readonly = true })
                                </div>
                                <div class="col-xs-6">
                                    @Html.TextBoxFor(m => m.DebtorName, new { @class = "form-control", style = "display:inline; width:180%;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <div class="col-xs-3 rt">
                                    <lable>Ref #</lable>
                                </div>
                                <div class="col-xs-3" >
                                    @Html.TextBoxFor(m => m.AccountNo, new { @class = "form-control wt", style = "display:inline; width:150px;", @readonly = true })
                                </div>
                                @*<div class="col-xs-1" style="margin-left: 149px;">
                                    <lable>Desk</lable>
                                </div>
                                <div class="col-xs-1" style="margin-left: -6px;">
                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", style = "display:inline; width: 250%;", @readonly = true })
                                </div>*@
                            </div>

                        </div>


                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                </div>
                            </div>

                            <div class="col-xs-8">
                                <div class="col-xs-3 rt" >
                                    <lable>Desk</lable>
                                </div>
                                <div class="col-xs-3" >
                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", style = "display:inline; width:80px;", @readonly = true })
                                </div>
                         
                            </div>


                        </div>

                    </fieldset>
                </div>

                <br />&nbsp;
            </div>

            <div class="col-xs-12 NopaddingLR">
                <div id="divEntityInfo">
                    <fieldset class="customFieldset">
                        <legend>Entity Info</legend>
   
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1 rt">
                                <lable>Entity 1</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EntityName1, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Entity 2</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EntityName2, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Entity 3</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EntityName3, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1 rt">
                                <lable>Type 1</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EntityType1, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Type 2</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EntityType2, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Type 3</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EntityType3, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                        </div>

                    </fieldset>
                </div>

                <br />&nbsp;
            </div>
            
            <div class="col-xs-12 NopaddingLR">
                <div id="divServiceAddressInfo">
                    <fieldset class="customFieldset">
                        <legend>Service Address Info</legend>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1 rt">
                                <lable>Addr 1</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServAdd1, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Addr 2</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServAdd2, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Addr 3</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServAdd3, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1 rt">
                                <lable>City</lable>
                            </div>
                            <div class="col-xs-3 rt">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServCity1, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>City</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServCity2, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>City</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServCity3, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                        </div>


                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1 rt">
                                <lable>State</lable>
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServSt1, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt" >
                                <lable>Zip</lable>
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServZip1, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline; width:105px; margin-left: -16px;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>State</lable>
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServSt2, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Zip</lable>
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServZip2, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline; width:105px; margin-left: -16px;" })
                            </div>

                            <div class="col-xs-1 rt">
                                <lable>State</lable>
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServSt3, new { @class = "form-control wt", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Zip</lable>
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServZip3, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline; width:105px; margin-left: -16px;" })
                            </div>

                        
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3 rt" style="margin-left: -235px;">
                                <lable>Special Instruction</lable>
                            </div>
                            <div class="col-xs-9" >
                                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ServInstructions, new { @class = "form-control", style = "display:inline; width:123%;" })
                            </div>
                 
                        </div>
                    </fieldset>
                </div>

                <br />&nbsp;
            </div>

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-5 NopaddingLR">
                    <div id="divEmployerInfo">
                        <fieldset class="customFieldset">
                            <legend>Employer Info</legend>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Employer</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EmpName, new { @class = "form-control wt", style = "display:inline;" })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Addr</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EmpAdd, new { @class = "form-control wt", style = "display:inline;"})
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>City</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EmpCity, new { @class = "form-control wt", style = "display:inline;" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>State</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EmpSt, new { @class = "form-control wt", style = "display:inline;" })
                                </div>
                                <div class="col-xs-1">
                                    </div>
                                    <div class="col-xs-1 rt">
                                        <lable>Zip</lable>
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.EmpZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;" })
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>


                        </fieldset>
                    </div>

                    <br />&nbsp;
                </div>

                <div class="col-xs-7 NopaddingLR">
                    <div id="divOtherInfo">
                        <fieldset class="customFieldset">
                            <legend>Other Info</legend>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Claim Description</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextAreaFor(m => m.ObjDebtAccountSmallClaimsEdit.ClaimDescription, new { rows = "2", @class = "form-control wt", style = "margin: 0px 5.5625px 0px 0px; height: 60px; width: 470px;" })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Suit Amount</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.SuitAmt, new { @onblur = "formatCurrency(this)", @class = "form-control wt", style = "display:inline;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.SuitAmt) })
                                   </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Venue Type</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.SCVenue, new { @class = "form-control wt", style = "display:inline;" })
                                </div>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-3 rt">
                                    <lable>Levy County</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.LevyCounty, new { @class = "form-control wt", style = "display:inline;" })
                                </div>
                            </div>
                                <div class="form-group col-xs-12 lt">
                                    <div class="col-xs-3">

                                    </div>
                                    <div class="col-xs-9">
                                        <lable style="color : red; font-weight: 700;">  <b>(County that assets are in) </b>  </lable>
                                    </div>
                                </div>


                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.PKID)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnSaveSmallClaims" value="Save" class="btn btn-primary" onclick="SaveSmallClaimsAdditionalInfo()" />
            <input type="button" value="Cancel" id="CancelModalSmallClaims" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>
    
    function SaveSmallClaimsAdditionalInfo()
    {
        debugger;
        showLoadingImage();

        var txtSuitAmt= document.getElementById("ObjDebtAccountSmallClaimsEdit_SuitAmt");
        var SuitAmt = txtSuitAmt.value;
        SuitAmt = SuitAmt.replace("$",""); 
        SuitAmt = SuitAmt.replace(",","");
        if(SuitAmt == "" || isNaN(SuitAmt) || SuitAmt == "0")
        {
            alert('Suit Amt is required.');
            txtSuitAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_SuitAmt").val(SuitAmt);   
         
        var data = $('#FormEditSmallClaimsAdditionalInfo').serialize();
        var DebtAccountId = @Model.DebtAccountId;
        var j = $('#Jvalue').val();

        $.ajax({
            url: '@Url.Action("SaveSmallClaimsAdditionalInfo", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j,"SmallClaims","TabSmallClaims");
                $("#myModalEditSmallClaimsAdditionalInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //$('#successMsg').show(); 
                    SmallClaimsAdditionalInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditSmallClaimsAdditionalInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function SmallClaimsAdditionalInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Small Claims Additional Info Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>






