﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.CreditReportVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
  .rt{
        text-align:right;
    }
</style>


<form id="FormCommercialCreditReportInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
           Business Credit Report Entry
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
     
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Consigner Name</lable>
            </div>
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerName, new { @class = "form-control", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Address 1</lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerAddressLine1, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-2">

            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Address 2</lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerAddressLine2, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-2">

            </div>
        </div>


        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>City/State/Zip</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerCity, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-1" style="margin-left: -4%;width: 14%;">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerState, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-2" style="margin-left: -4%;width: 19%;">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Tax Id</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CosignerSSN, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Birth Date</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.BirthDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Creditor</lable>
            </div>
            <div class="col-xs-7">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.OriginalCreditor, new { @class = "form-control", style = "display:inline;", @readonly = true })
            </div>
            <div class="col-xs-2">

            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Balance</lable>
            </div>
            <div class="col-xs-3">
                @*@Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CurrentBalance, new { @class = "form-control", style = "display:inline;", @readonly = true })*@
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.CurrentBalance, new { Value = String.Format("{0:C}", Model.ObjDebtAccountCommercialCreditReport.CurrentBalance), @class = "form-control", style = "display:inline;", @readonly = true })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Date Opened</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.DateOpened, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Billing Date</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountCommercialCreditReport.BillingDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;", @readonly = true })
            </div>
            <div class="col-xs-1">

            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-3">
            </div>
        </div>


        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Status</lable>
            </div>
            <div class="col-xs-7">
                @Html.DropDownListFor(m => m.ddlAccountStatus, Model.AccountStatusList, new { @class = "form-control" })
            </div>
            <div class="col-xs-2">

            </div>
        </div>

        <br />
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3 rt checkbox-sm">
                @Html.CheckBoxFor(m => m.chkDispute)
                &nbsp;
                <lable>Dispute</lable>
            </div>
            <div id="divDisputeCode" class="col-xs-9" style="margin-top: 10px; @(string.IsNullOrEmpty(Model.RbtDisputeCode)   ? "display:none" : "display:block")">
                <fieldset class="customFieldset">
                    <legend>Dispute Code</legend>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtDisputeCode, "1", new { @checked = true })<lable>XB - Account Information Disputed By Consumer</lable>
                    </div>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtDisputeCode, "2")<lable>XH - Account Previously Disputed - Now Resolved</lable>
                    </div>
                </fieldset>
            </div>
        </div>

            

    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAddressId)
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.AccountStatus)
        @Html.HiddenFor(m => m.DebtAddressTypeId)
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnDeleteIndividual" value="Delete" class="btn btn-primary pull-left" onclick="DeleteCommercial(@Model.Id)" />
            <input type="button" id="btSaveIndividual" value="Save" class="btn btn-primary" onclick="SaveCommercial(@Model.DebtAccountId)" />
            <input type="button" value="Cancel" id="btnCancelIndividual" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='chkDispute']").click(function() {
        debugger;
        var chkDisputeValue = $(this).val();

        if (this.checked) {
            $('#divDisputeCode').show();
        }
        else {
            $('#divDisputeCode').hide();
        }
    });

    function SaveCommercial(DebtAccountId) {
        debugger;
        var AccountStatusId = $("#ddlAccountStatus").val();
        var AccountStatus =  $("#ddlAccountStatus option:selected").text();
        $("#AccountStatus").val(AccountStatus);
        var DebtAccountId = @Model.DebtAccountId;
       
        debugger;
        showLoadingImage();
        var data = $('#FormCommercialCreditReportInfo').serialize();
        //"ddlSelectNames=192968&ObjDebtAccountCreditReport.FirstName=1ss&ObjDebtAccountCreditReport.MiddleName=&ObjDebtAccountCreditReport.LastName=sss&ObjDebtAccountCreditReport.SuffixName=&ObjDebtAccountCreditReport.AddressLine1=4321+Plaza&ObjDebtAccountCreditReport.AddressLine2=Crystal+Tower&ObjDebtAccountCreditReport.City=Ventura&ObjDebtAccountCreditReport.State=CA&ObjDebtAccountCreditReport.Zip=93001&ObjDebtAccountCreditReport.SSN=432141234&ObjDebtAccountCreditReport.BirthDate=01%2F01%2F01&ObjDebtAccountCreditReport.OriginalCreditor=Prudential+Overall+Supply&ObjDebtAccountCreditReport.CurrentBalance=5622.28&ObjDebtAccountCreditReport.DateOpened=04%2F27%2F11&ObjDebtAccountCreditReport.BillingDate=12%2F20%2F10&ddlAccountStatus=1&chkDispute=false&RbtDisputeCode=XB+-+Account+Information+Disputed+By+Consumer&DebtAddressId=192968&DebtAccountId=150702"
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveCommercial", "WorkCard")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetailsNew((DebtAccountId,j, "CreditReport", "TabCreditReport");
                $("#myModalEditCreditReportCommercial").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {              
                    CommercialAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditCreditReportCommercial").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CommercialAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Commercial Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function DeleteCommercial(Id)
    {
        debugger;

        var DebtAccountId = @Model.DebtAccountId;
        var j = $('#Jvalue').val();
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("DeleteCommercial", "WorkCard")',
            data: {Id:Id},
            type: "POST",
            dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j, "CreditReport", "TabCreditReport");
                $("#myModalEditCreditReportCommercial").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == true) {                   
                    CommercialDeletePopup();
                    hideLoadingImage();
                }
                else {
                    $('#errorMsg').show();
                    $("#myModalEditCreditReportCommercial").modal("hide");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditCreditReportCommercial").modal("show");
            }
        });
    }


    function CommercialDeletePopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Commercial Details Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>

