﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.LetterVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

    #tblEditDebtAddressListGrid_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<form id="FormEditStatusReportInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center"">
            Status Report 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div id="divLetterSelection">
                        <fieldset class="customFieldset">
                            <legend>Letter Selection</legend>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-12">
                                    @Html.RadioButtonFor(m => m.RbtStatusReportLetterType, "C", new { @checked = true })<lable>Client</lable>
                                    &nbsp; &nbsp;
                                    @Html.RadioButtonFor(m => m.RbtStatusReportLetterType, "CL")<lable>Close</lable>
                                    &nbsp; &nbsp;
                                    @Html.RadioButtonFor(m => m.RbtStatusReportLetterType, "D")<lable>Debtor</lable>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.RbtStatusReportLetterType, "DA")<lable>Debtor Attorney</lable>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.RbtStatusReportLetterType, "S")<lable>Small Claims</lable>
                                    &nbsp;&nbsp;
                                    @Html.RadioButtonFor(m => m.RbtStatusReportLetterType, "L")<lable>Forwarding</lable>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-10">
                                    @Html.DropDownList("ddlStatusReportLetterTypeId", new List<SelectListItem> { }, "", new { required = "required", @class = "form-control", style = "width:95%;" })
                                </div>
                                <div class="col-xs-2">
                                    <input type="button" id="btnSelectStatusReportLetterType" value="Select" class="btn btn-primary" onclick="SelectStatusReportLetterType()" />
                                </div>
                            </div>

                        </fieldset>
                        <br />&nbsp;
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div id="divDebtAddressList">
                        <fieldset class="customFieldset">
                            <legend></legend>
                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-12 checkbox-sm">

                                    <div id="tableDebtAddressListDiv" style="height:200px;display:block;overflow-y: scroll;overflow-x: hidden; @(Model.ObjDebtAccountAddressList.Count <= 0  ? "display:none" : "display:block")">
                                        <table id="tblEditDebtAddressListGrid" class="table table-bordered dataTable table-hover grid " border="1" style="width:700px;">
                                            <thead>
                                                <tr>
                                                    <th class="no-sort" style="width: 1px;">Check</th>
                                                    <th style="width: 32px;">Add Req</th>
                                                    <th style="width: 27px;">Main</th>
                                                    <th style="width: 82px;">Contact Name</th>
                                                    <th style="width: 125px;">Address Line1</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (Model.ObjDebtAccountAddressList.Count >= 1)
                                                {
                                                    foreach (var i in Model.ObjDebtAccountAddressList)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input checked="checked"
                                                                       id=@i.DebtAddressId
                                                                       name="chkDebtAccountAddress"
                                                                       type="checkbox"
                                                                       value=@i.DebtAddressId disabled="disabled" />
                                                            </td>
                                                            <td>
                                                                @i.DebtAddressTypeId
                                                            </td>
                                                            @{
                                                                if (i.IsMainAddress)
                                                                {
                                                                    <td>YES</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>NO</td>
                                                                }
                                                            }
                                                            <td>
                                                                @i.ContactName
                                                            </td>
                                                            <td>
                                                                @i.AddressLine1
                                                            </td>
                                                        </tr>
                                                                    }
                                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </fieldset>

                        <br />&nbsp;
                    </div>
                </div>


                <div class="form-group col-xs-12 lt">
                    <div id="divCustomText">
                        <fieldset class="customFieldset">
                            <legend>Custom Text</legend>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-12">
                                    @Html.TextAreaFor(m => m.CustomText, new { rows = "5", @class = "form-control", style = "margin: 0px -0.5px 0px 0px;" })
                                </div>
                            </div>

                        </fieldset>
                        <br />&nbsp;
                    </div>
                </div>


                <div class="form-group col-xs-12 lt">
                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-2 rt checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkDesk)
                            &nbsp;
                            <lable>Desk</lable>
                        </div>
                        <div class="col-xs-4" id="divDesk" style="@(Model.chkDesk == false ? "display:none" : "display:block")">
                            @Html.DropDownListFor(m => m.ddlLocationId, Model.LocationIdList.OrderBy(m => m.Text), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.DebtId)
        @Html.HiddenFor(m => m.StatusReportLetterType)
        @Html.HiddenFor(m => m.RbtStatusReportLetterType)
        @Html.HiddenFor(m => m.ddlStatusReportLetterTypeId)
        @Html.HiddenFor(m => m.PKID)
        @Html.HiddenFor(m => m.selectedDebtAddress)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnSaveNewStatusReportInfo" value="Save" class="btn btn-primary" onclick="SaveStatusReportLetterRequest()" />
            <input type="button" value="Cancel" id="CancelModalNewStatusReportInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='chkDesk']").click(function() {
        debugger;
        var chkDeskValue = $(this).val();

        if (this.checked) {
            $('#divDesk').show();
        }
        else {
            $('#divDesk').hide();

        }
    });

    $("[name='RbtStatusReportLetterType']").click(function () {
        debugger;
        var StatusReportLetterTypeValue = $(this).val();
        fillStatusReportLetterTypeDdl(StatusReportLetterTypeValue);
    });

    function fillStatusReportLetterTypeDdl(StatusReportLetterTypeValue) {
        debugger;
        var DebtId = @Model.DebtId;
        var StatusReportLetterTypeId =  @Model.ddlStatusReportLetterTypeId;

        var ddlId = $("#ddlStatusReportLetterTypeId");
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetStatusReportLetterType", "WorkCard")',
            data: { StatusReportLetterTypeValue: StatusReportLetterTypeValue},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                ddlId.html("");
                //var selectvalue = "";
                //ddlId.append($('<option></option>').val(-1).html( "--Select--"));
                for (var i = 0; i < data.length; i++) {
                    ddlId.append($('<option></option>').val(data[i].Id).html(data[i].Name));
                }
               
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve ID Numbers');
            }
        });

        if(StatusReportLetterTypeId > 0)
        {
            $("#ddlStatusReportLetterTypeId").val(StatusReportLetterTypeId);
        }
        else
        {
            $("#ddlStatusReportLetterTypeId").val(-1);
        }
    }

    function getRadioVal(form, name) {
        var val;
        // get list of radio buttons with specified name
        var radios = form.elements[name];

        // loop through list of radio buttons
        for (var i=0, len=radios.length; i<len; i++) {
            if ( radios[i].checked ) { // radio checked?
                val = radios[i].value; // if so, hold its value in val
                break; // and break out of for loop
            }
        }
        return val; // return value of checked radio or undefined if none checked
    }


    function SelectStatusReportLetterType() {
        debugger;

        var StatusReportLetterTypeId = $("#ddlStatusReportLetterTypeId").val();

        // get value of selected ' radio button in 'Form'
        var StatusReportLetterType = getRadioVal( document.getElementById('FormEditStatusReportInfo'), 'RbtStatusReportLetterType' );

        var DebtAccountId = @Model.DebtAccountId;
        var DebtId = @Model.DebtId;
        var PKID = '@Model.PKID';

        if(StatusReportLetterTypeId > 0)
        {
            $.ajax({
                url: '@Url.Action("GetCollectionCustomTextEdit", "WorkCard")',
                data: { StatusReportLetterTypeId: StatusReportLetterTypeId, DebtId: DebtId,  DebtAccountId: DebtAccountId,StatusReportLetterType :  StatusReportLetterType, PKID : PKID},
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data) {
                        $('#myModalEditStatusReport .modal-content').html(data);

                        //  fillSelectedStatusReportLetterTypeDdl(StatusReportLetterType, StatusReportLetterTypeId);
                        fillStatusReportLetterTypeDdl(StatusReportLetterType);
                        makeDatatable('tblEditDebtAddressListGrid');
                    }
                    else {
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        else {
            alert('Please Letter Type');
        }

    }


    function fillLocationIdDdl(StatusReportLetterTypeValue) {
        debugger;
        var DebtId = @Model.DebtId;
        var StatusReportLetterTypeId =  @Model.ddlStatusReportLetterTypeId;

        var ddlId = $("#ddlStatusReportLetterTypeId");
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetLocationId", "WorkCard")',
            data: { StatusReportLetterTypeValue: StatusReportLetterTypeValue},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                ddlId.html("");
                //var selectvalue = "";
                //ddlId.append($('<option></option>').val(-1).html( "--Select--"));
                for (var i = 0; i < data.length; i++) {
                    ddlId.append($('<option></option>').val(data[i].Id).html(data[i].Name));
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve ID Numbers');
            }
        });

        if(StatusReportLetterTypeId > 0)
        {
            $("#ddlStatusReportLetterTypeId").val(StatusReportLetterTypeId);
        }
        else
        {
            $("#ddlStatusReportLetterTypeId").val(-1);
        }
    }


    function SaveStatusReportLetterRequest()
    {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        var DebtLetterStatusReportLetterTypeId = $("#ddlStatusReportLetterTypeId").val();

        var StatusReportLetterType =  $("#ddlStatusReportLetterTypeId option:selected").text();
        $("#StatusReportLetterType").val(StatusReportLetterType);

        if(DebtLetterStatusReportLetterTypeId < 0 || DebtLetterStatusReportLetterTypeId == "" ||  DebtLetterStatusReportLetterTypeId == null)
        {
            alert('Select Letter Type.');
            hideLoadingImage();
            return false;
        }

        debugger;
        // CustomText Prompt
        var CustomText =document.getElementById("CustomText").value;
        var ipos, ipos2;
        var sPromptStr;
        ipos = CustomText.indexOf("[");
        var txtCustomText = document.getElementById("CustomText");
        if (ipos > 0)
        {
            ipos2 = CustomText.indexOf("]", ipos + 1);
            sPromptStr = CustomText.substring(ipos+1, ipos2);
            alert("Enter value for - "+ sPromptStr);
            txtCustomText.focus();
            hideLoadingImage();
            return false;
        }

        var StatusReportLetterType = getRadioVal( document.getElementById('FormEditStatusReportInfo'), 'RbtStatusReportLetterType' );
        $("#RbtStatusReportLetterType").val(StatusReportLetterType);

        var selectedDebtAddress = new Array();

        //Reference the CheckBoxes and insert the checked CheckBox value in Array.
        $("#tblEditDebtAddressListGrid input[type=checkbox]:checked").each(function () {
            selectedDebtAddress.push(this.value);
        });

        //Display the selected CheckBox values.
        if (selectedDebtAddress.length > 0) {
            //alert("Selected values: " + selected.join(","));
            selectedDebtAddress =  selectedDebtAddress.join(",");
        }

        $("#selectedDebtAddress").val(selectedDebtAddress);


        var data = $('#FormEditStatusReportInfo').serialize();
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveStatusReportLetterRequest", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j,"Letter","TabLetters");
                $("#myModalEditStatusReport").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == 1) {
                    debugger;
                    StatusReportLetterRequestUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditStatusReport").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function StatusReportLetterRequestUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Status Report Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>

