﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.SmallClaimsVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
    .rt{
        text-align:right;
    }
        .wt{
        width:100% !important;
    }
</style>

<form id="FormEditSmallClaimsAccountInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Edit Small Claims
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt checkbox-sm">
                @Html.CheckBoxFor(m => m.chkTrialDate)
                &nbsp;
                <lable>
                    Trial Date
                </lable>
            </div>
            <div  id="divTrialDateTime" style="@(Model.chkTrialDate == false ? "display:none" : "display:block")">
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.TrialDate, "{0:MM/dd/yyyy}", new { @class = "form-control wt", style = "display:inline;text-align: center;" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.TrialTime,  new { @class = "form-control", style = "display:inline;text-align: center;" ,@type = "time" })
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt checkbox-sm">
                @Html.CheckBoxFor(m => m.chkSuitFiled)
                &nbsp;
                <lable>
                    Suit Filed
                </lable>
            </div>
            <div class="col-xs-3" id="divSuitFiled" style="@(Model.chkSuitFiled == false ? "display:none" : "display:block")">
                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.SCSuitFiledDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-3">
            </div>

            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Case #</lable>
            </div>
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.CaseNum, new { @class = "form-control wt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Court #</lable>
            </div>
            <div class="col-xs-9">
                @Html.DropDownListFor(m => m.ddlCourtId, Model.CourtIdList, "--Select--", new { @class = "form-control wt", @onchange = "SCddlChange(this.value)" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Venue</lable>
            </div>
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.ObjCourtHouseEdit.Venue, new { @class = "form-control wt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
            </div>
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.ObjCourtHouseEdit.VenueAdd, new { @class = "form-control wt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">                
            </div>
            <div class="col-xs-9">
                <div class="col-xs-6 NopaddingLR">
                    @Html.TextBoxFor(m => m.ObjCourtHouseEdit.VenueCity, new { @class = "form-control wt", @readonly = true })
                </div>
                <div class="col-xs-2 NopaddingLR">
                    @Html.TextBoxFor(m => m.ObjCourtHouseEdit.VenueState, new { @class = "form-control wt", @readonly = true })
                </div>
                <div class="col-xs-4 NopaddingLR">
                    @Html.TextBoxFor(m => m.ObjCourtHouseEdit.VenueZip, new { @class = "form-control wt", @readonly = true })
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Phone #</lable>
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.ObjCourtHouseEdit.VenuePhone, new { @class = "form-control wt", style = "display:inline; width: 94%;", @readonly = true })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Server #</lable>
            </div>
            <div class="col-xs-6">
                @Html.DropDownListFor(m => m.ddlProcessServerId, Model.ProcessServerIdList, "--Select--", new { @class = "form-control wt", @onchange = "SCddlChange(this.value)" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Server Ref #</lable>
            </div>
            <div class="col-xs-9">
                @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.ProcessServerRefNum, new { @class = "form-control wt", style = "display:inline;"})
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Phone #</lable>
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.ObjProcessServersEdit.MarshalPhoneNo, new { @class = "form-control wt", style = "display:inline;", @readonly = true })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.DebtId)
        @Html.HiddenFor(m => m.CourtId)
        @Html.HiddenFor(m => m.ProcessServerId)
        @Html.HiddenFor(m => m.PKID)
        @Html.HiddenFor(m => m.State) 
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnSaveSmallClaims" value="Save" class="btn btn-primary" onclick="SaveSmallClaimsAccountInfo()" />
            <input type="button" value="Cancel" id="CancelModalSmallClaims" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='chkTrialDate']").click(function() {
        debugger;
        var chkTrialDateValue = $(this).val();

        if (this.checked) {
            $('#divTrialDateTime').show();
        }
        else {
            $('#divTrialDateTime').hide();

        }
    });

    $("[name='chkSuitFiled']").click(function() {
        debugger;
        var chkSuitFiledValue = $(this).val();

        if (this.checked) {
            $('#divSuitFiled').show();

        }
        else {
            $('#divSuitFiled').hide();
        }
    });

    function SCddlChange(Id){
        debugger;
        var DebtAccountId = @Model.DebtAccountId;
        var PKID = @Model.PKID;
        var State = '@Model.State';

        var ddlCourtId = $("#ddlCourtId").val();
        if(ddlCourtId > 0)
        {
            ddlCourtId = ddlCourtId;
        }
        else
        {
            ddlCourtId = 0;
        }

        var ddlProcessServerId = $("#ddlProcessServerId").val();
        if(ddlProcessServerId > 0)
        {
            ddlProcessServerId = ddlProcessServerId;
        }
        else
        {
            ddlProcessServerId = 0;
        }

        if(document.getElementById("chkTrialDate").checked == true)
        {
            chkTrialDate = true;
        }
        else
        {
            chkTrialDate = false;
        }
        var TrialDate = document.getElementById("ObjDebtAccountSmallClaimsEdit_TrialDate").value;
        var TrialTime = document.getElementById("ObjDebtAccountSmallClaimsEdit_TrialTime").value;

        if(document.getElementById("chkSuitFiled").checked == true)
        {
            chkSuitFiled = true;
        }
        else
        {
            chkSuitFiled = false;
        }
        var SCSuitFiledDate = document.getElementById("ObjDebtAccountSmallClaimsEdit_SCSuitFiledDate").value;

        var CaseNum = document.getElementById("ObjDebtAccountSmallClaimsEdit_CaseNum").value;
        var ProcessServerRefNum = document.getElementById("ObjDebtAccountSmallClaimsEdit_ProcessServerRefNum").value;

        $.ajax({
            url: '@Url.Action("GetSCddlDetails", "WorkCard")',
           data: {DebtAccountId:DebtAccountId, PKID:PKID, ddlCourtId: ddlCourtId, ddlProcessServerId:ddlProcessServerId, State:State,CaseNum:CaseNum, ProcessServerRefNum:ProcessServerRefNum, chkTrialDate:chkTrialDate ,TrialDate:TrialDate, TrialTime:TrialTime,chkSuitFiled:chkSuitFiled, SCSuitFiledDate:SCSuitFiledDate},
           //type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    $('#myModalEditSmallClaimsAccountInfo .modal-content').html(data);
                    if (chkTrialDate) {
                        $('#divTrialDateTime').show();
                    }
                    else {
                        $('#divTrialDateTime').hide();
                    }

                    if (chkSuitFiled) {
                        $('#divSuitFiled').show();
                    }
                    else {
                        $('#divSuitFiled').hide();
                    }

                    //To set Current Date
                    var date = new Date();
                    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                    var TrialDate = $('#ObjDebtAccountSmallClaimsEdit_TrialDate').val();
                    var TrialTime = $('#ObjDebtAccountSmallClaimsEdit_TrialTime').val();
                    var SCSuitFiledDate = $('#ObjDebtAccountSmallClaimsEdit_SCSuitFiledDate').val();

                    if (TrialDate == "01/01/01" || TrialDate == "1/1/0001 12:00:00 AM" ||TrialDate == "01/01/0001" || TrialDate == "")
                    {
                        $('#ObjDebtAccountSmallClaimsEdit_TrialDate').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);
                    }
                    else
                    {
                        $('#ObjDebtAccountSmallClaimsEdit_TrialDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    }

                    if (SCSuitFiledDate == "01/01/01" || SCSuitFiledDate == "1/1/0001 12:00:00 AM" ||SCSuitFiledDate == "01/01/0001" || SCSuitFiledDate == "")
                    {
                        $('#ObjDebtAccountSmallClaimsEdit_SCSuitFiledDate').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);
                    }
                    else
                    {
                        $('#ObjDebtAccountSmallClaimsEdit_SCSuitFiledDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    }
                }
                else {
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function SaveSmallClaimsAccountInfo()
    {
        debugger;
        showLoadingImage();

        var CourtId = $("#ddlCourtId").val();
        $("#CourtId").val(CourtId);

        var ProcessServerId = $("#ddlProcessServerId").val();
        $("#ProcessServerId").val(ProcessServerId);

        var data = $('#FormEditSmallClaimsAccountInfo').serialize();
        var DebtAccountId = @Model.DebtAccountId;
        var j = $('#Jvalue').val();

        $.ajax({
            url: '@Url.Action("SaveSmallClaimsAccountInfo", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j,"SmallClaims","TabSmallClaims");
                $("#myModalEditSmallClaimsAccountInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //$('#successMsg').show();
                    SmallClaimsAccountInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditSmallClaimsAccountInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function SmallClaimsAccountInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Small Claims Account Info Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>





