﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.SmallClaimsVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
    .rt{
        text-align:right;
    }
</style>

<form id="FormEditSmallClaimsPostJudgementInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Edit SC Letter Merge
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">                   
                    </div>
                   <div class="col-xs-4 rt checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkJudgmentDate)
                        <lable>Judgement Date</lable>
                    </div>
                        <div class="col-xs-3" id="divJudgmentDate" style="@(Model.chkJudgmentDate == false ? "display:none" : "display:block")">
                            @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.JudgmentDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width:82%;" })
                        </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Judgment Amt</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.JudgmentAmt, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;width:82%;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.JudgmentAmt) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Pre Costs</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.Costs, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;width:82%;", Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.Costs) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Sub 1</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.SubTotal1, new {@class = "form-control", style = "display:inline;width:82%;", @readonly = true, Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.SubTotal1) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Post Pmts</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.Credits, new {@class = "form-control", style = "display:inline;width:82%;",  @readonly = true, Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.Credits) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Post Costs</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.PostCosts, new {@class = "form-control", style = "display:inline;width:82%;", @readonly = true, Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.PostCosts) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Received Costs</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.RecCosts, new {@class = "form-control", style = "display:inline;width:82%;", @readonly = true, Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.RecCosts) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Sub 2</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.SubTotal2, new {@class = "form-control", style = "display:inline;width:82%;", @readonly = true, Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.SubTotal2) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Daily Int</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.DailyInt, new {@class = "form-control", style = "display:inline;width:82%;", @readonly = true, Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.DailyInt) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Interest</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.Interest, new { @class = "form-control", style = "display:inline;width:82%;", @readonly = true, Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.Interest) })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-3">
                        <hr size="1" style="border: 0.5px solid black !important;">
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 rt">
                        <lable>Total Due</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ObjDebtAccountSmallClaimsEdit.SCTotalDue, new { @class = "form-control", style = "display:inline;width:82%;", @readonly = true, Value = String.Format("{0:C}", Model.ObjDebtAccountSmallClaimsEdit.SCTotalDue) })
                    </div>    
                    <div class="col-xs-3">
                    </div>             
                </div>

            </div>
        </div>



    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.PKID) 
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnSaveSmallClaimsPostJudgementInfo" value="Save" class="btn btn-primary" onclick="SaveSmallClaimsPostJudgementInfo()" />
            <input type="button" value="Cancel" id="CancelModalSmallClaimsPostJudgementInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='chkJudgmentDate']").click(function() {
        debugger;
        var chkJudgmentDate = $(this).val();

        if (this.checked) {
            $('#divJudgmentDate').show();
        }
        else {
            $('#divJudgmentDate').hide();

        }
    });

    function txt_Leave(txt) {
        debugger;
        formatCurrency(txt);
        var DebtAccountId = @Model.DebtAccountId;
        var PKID = @Model.PKID;
        var JudgmentDate;
        var JudgmentAmt;
        var Costs;
    
        JudgmentDate =$("#ObjDebtAccountSmallClaimsEdit_JudgmentDate").val();
       
        JudgmentAmt = document.getElementById("ObjDebtAccountSmallClaimsEdit_JudgmentAmt").value;
        JudgmentAmt = JudgmentAmt.replace("$",""); 
        JudgmentAmt = JudgmentAmt.replace(",","");
        JudgmentAmt = Number(JudgmentAmt);
        
        Costs = document.getElementById("ObjDebtAccountSmallClaimsEdit_Costs").value;
        Costs = Costs.replace("$",""); 
        Costs = Costs.replace(",","");
        Costs = Number(Costs);
        
        if(document.getElementById("chkJudgmentDate").checked == true)
        {
            chkJudgmentDate = true;
        }
        else
        {
            chkJudgmentDate = false;
        }


        $.ajax({
            url: '@Url.Action("EditSmallClaimsPostJudgementInfotxt_Leave", "WorkCard")',
            //type: "POST",
            data: { DebtAccountId: DebtAccountId, PKID: PKID, JudgmentDate: JudgmentDate, JudgmentAmt: JudgmentAmt, Costs: Costs, chkJudgmentDate: chkJudgmentDate },
            success: function (data) {
                debugger;

                $('#myModalEditSmallClaimsPostJudgementInfo .modal-content').html(data);
                $('#myModalEditSmallClaimsPostJudgementInfo').modal("show");

                if (chkJudgmentDate) {
                    $('#divJudgmentDate').show();
                }
                else {
                    $('#divJudgmentDate').hide();
                }

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                var TrialDate = $('#ObjDebtAccountSmallClaimsEdit_JudgmentDate').val();

                if (TrialDate == "01/01/01" || TrialDate == "1/1/0001 12:00:00 AM" ||TrialDate == "01/01/0001" || TrialDate == "") {
                    $('#ObjDebtAccountSmallClaimsEdit_JudgmentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $('#ObjDebtAccountSmallClaimsEdit_JudgmentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });

    }


    function SaveSmallClaimsPostJudgementInfo()
    {
        debugger;
        showLoadingImage();

        var txtJudgmentAmt= document.getElementById("ObjDebtAccountSmallClaimsEdit_JudgmentAmt");
        var JudgmentAmt = txtJudgmentAmt.value;
        JudgmentAmt = JudgmentAmt.replace("$",""); 
        JudgmentAmt = JudgmentAmt.replace(",","");
        if(isNaN(JudgmentAmt))
        {
            alert('Judgment Amt is invalid.');
            txtJudgmentAmt.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_JudgmentAmt").val(JudgmentAmt);   

        var txtCosts= document.getElementById("ObjDebtAccountSmallClaimsEdit_Costs");
        var Costs = txtCosts.value;
        Costs = Costs.replace("$",""); 
        Costs = Costs.replace(",","");
        if(isNaN(Costs))
        {
            alert('Costs Amt is invalid.');
            txtCosts.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_Costs").val(Costs);   

        var txtSubTotal1= document.getElementById("ObjDebtAccountSmallClaimsEdit_SubTotal1");
        var SubTotal1 = txtSubTotal1.value;
        SubTotal1 = SubTotal1.replace("$",""); 
        SubTotal1 = SubTotal1.replace(",","");
        if(isNaN(SubTotal1))
        {
            alert('SubTotal1 Amt is invalid.');
            txtSubTotal1.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_SubTotal1").val(SubTotal1);   

        var txtCredits= document.getElementById("ObjDebtAccountSmallClaimsEdit_Credits");
        var Credits = txtCredits.value;
        Credits = Credits.replace("$",""); 
        Credits = Credits.replace(",","");
        if(isNaN(Credits))
        {
            alert('Credits Amt is invalid.');
            txtCredits.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_Credits").val(Credits);   

        var txtPostCosts= document.getElementById("ObjDebtAccountSmallClaimsEdit_PostCosts");
        var PostCosts = txtPostCosts.value;
        PostCosts = PostCosts.replace("$",""); 
        PostCosts = PostCosts.replace(",","");
        if(isNaN(PostCosts))
        {
            alert('PostCosts Amt is invalid.');
            txtPostCosts.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_PostCosts").val(PostCosts);   

        var txtRecCosts= document.getElementById("ObjDebtAccountSmallClaimsEdit_RecCosts");
        var RecCosts = txtRecCosts.value;
        RecCosts = RecCosts.replace("$",""); 
        RecCosts = RecCosts.replace(",","");
        if(isNaN(RecCosts))
        {
            alert('Received Costs Amt is invalid.');
            txtRecCosts.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_RecCosts").val(RecCosts);   

        var txtSubTotal2 = document.getElementById("ObjDebtAccountSmallClaimsEdit_SubTotal2");
        var SubTotal2 = txtSubTotal2.value;
        SubTotal2 = SubTotal2.replace("$",""); 
        SubTotal2 = SubTotal2.replace(",","");
        if(isNaN(SubTotal2))
        {
            alert('SubTotal2 Amt is invalid.');
            txtSubTotal2.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_SubTotal2").val(SubTotal2);  

        var txtDailyInt = document.getElementById("ObjDebtAccountSmallClaimsEdit_DailyInt");
        var DailyInt = txtDailyInt.value;
        DailyInt = DailyInt.replace("$",""); 
        DailyInt = DailyInt.replace(",","");
        if(isNaN(DailyInt))
        {
            alert('Daily Int Amt is invalid.');
            txtDailyInt.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_DailyInt").val(DailyInt);  

        var txtInterest = document.getElementById("ObjDebtAccountSmallClaimsEdit_Interest");
        var Interest = txtInterest.value;
        Interest = Interest.replace("$",""); 
        Interest = Interest.replace(",","");
        if(isNaN(Interest))
        {
            alert('Interest Amt is invalid.');
            txtInterest.focus();
            hideLoadingImage();
            return false;
        }
        $("#ObjDebtAccountSmallClaimsEdit_Interest").val(Interest);  


        var txtSCTotalDue = document.getElementById("ObjDebtAccountSmallClaimsEdit_SCTotalDue");
        var SCTotalDue = txtSCTotalDue.value;
        SCTotalDue = SCTotalDue.replace("$",""); 
        SCTotalDue = SCTotalDue.replace(",","");
        //if(isNaN(SCTotalDue))
        //{
        //    alert('SCTotalDue Amt is invalid.');
        //    txtSCTotalDue.focus();
        //     hideLoadingImage();
        //    return false;
        //}
        $("#ObjDebtAccountSmallClaimsEdit_SCTotalDue").val(SCTotalDue);   

        var data = $('#FormEditSmallClaimsPostJudgementInfo').serialize();
        var DebtAccountId = @Model.DebtAccountId;
        var j = $('#Jvalue').val();

        $.ajax({
            url: '@Url.Action("SaveSmallClaimsPostJudgementInfo", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j,"SmallClaims","TabSmallClaims");
                $("#myModalEditSmallClaimsPostJudgementInfo").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
             
                if (data == 1) {
                    //$('#successMsg').show();
                    debugger;                
                    SmallClaimsPostJudgementInfoUpdatedSuccessPopup();                  
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditSmallClaimsPostJudgementInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function SmallClaimsPostJudgementInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Small Claims Post Judgement Info Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>







