﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.NoteVM
@{
    Layout = null;
}

<form id="EditFormAccountNote">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Account Note
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group">
            Note Type
            &nbsp; &nbsp;
            @if (Model.obj_note.NoteTypeId == 1)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "1", new { @checked = true })<lable>Misc</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "1")<lable>Misc</lable>
            }
            &nbsp; &nbsp;

            @if (Model.obj_note.NoteTypeId == 2)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "2", new { @checked = true })<lable>Research</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "2")<lable>Research</lable>
            }
            &nbsp;&nbsp;

            @if (Model.obj_note.NoteTypeId == 3)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "3", new { @checked = true })<lable>Internal</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "3")<lable>Internal</lable>
            }
            &nbsp;&nbsp;

            @if (Model.obj_note.NoteTypeId == 4)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "4", new { @checked = true })<lable>Asset</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "4")<lable>Asset</lable>
            }
            &nbsp;&nbsp;

            @if (Model.obj_note.NoteTypeId == 5)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "5", new { @checked = true })<lable>Web</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "5")<lable>Web</lable>
            }
            &nbsp;&nbsp;

            @if (Model.obj_note.NoteTypeId == 6)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "6", new { @checked = true })<lable>Status</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "6")<lable>Status</lable>
            }

        </div>

        <div class="col-xs-12 form-group">
            @Html.TextAreaFor(m => m.obj_note.Note, new { rows = "10", cols = "80" })
        </div>
    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_note.DebtAccountId)
        @Html.HiddenFor(m => m.obj_note.DebtAccountNoteId)
        @Html.Hidden("DebtAccountId", (object)ViewBag.DebtAccountId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btClearNote" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalNote(@Model.Obj_Note.Id);" />*@
                <input type="button" id="btDeleteNote" value="Delete" class="btn btn-primary pull-left" onclick="DeleteNote(@Model.obj_note.DebtAccountNoteId);"/>
            <input type="button" id="btnsaveNote" value="OK" class="btn btn-primary" onclick="SaveNote(@Model.obj_note.DebtAccountId)" />
            <input type="button" value="Cancel" id="CancelModalNote" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>

    function SaveNote(DebtAccountId)
    {
        debugger;
        showLoadingImage();
        var data = $('#EditFormAccountNote').serialize();
        var j = $('#Jvalue').val();
        $.ajax({
            url: '@Url.Action("SaveNote", "WorkCard")',
            data: data,
            type: "POST",
          //  dataType: 'json',
            success: function (data) {
                debugger;
              
                $("#myModalEditNote").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if(data == 1)
                {
                    ShowDetailsNew(DebtAccountId, j, "Notes", "TabNotes");
                   NoteUpdatedSuccessPopup();
                    //$('#successMsg').show();
                    hideLoadingImage();
                    //ShowDetailsNew(DebtAccountId,j, "Notes", "TabNotes");
                }
                else if (data == 0)
                {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditNote").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function NoteUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Note Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function DeleteNote(DebtAccountNoteId) {
        var DebtAccountId = @Model.obj_note.DebtAccountId;
        var j = $('#Jvalue').val();
        debugger;
        if (confirm("Are You Sure?")) {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteNote", "WorkCard")',
                data: { DebtAccountNoteId: DebtAccountNoteId },
                type: "POST",
                success: function (data) {
                    debugger;
                    ShowDetailsNew(DebtAccountId,j,"Notes","TabNotes");
                    $("#myModalEditNote").modal("hide");
                    debugger;
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data) {                        
                        NoteDeletePopup();
                        //$('#deleteMsg').show();
                        hideLoadingImage();
                    }
                    else {
                        $('#errorMsg').show();
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModalEditNote").modal("hide");
                    hideLoadingImage();
                }
            });
        }
    }

    function NoteDeletePopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Note Details Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>
