﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.SmallClaimsVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

    #tblSCCostSpentGrid_wrapper .row:first-child {
        overflow-x: auto;
    }
       .wt{
        width:100% !important;
    }
</style>

<form id="FormEditSmallClaimsCostSpentInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Cost Spent
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <br />
                <input type="button" id="btnNewSCCostSpent" class="btn btn-primary pull-left" value="Add" onclick="AddSCCostSpent()">
                <br />
                <br />
                <div id="tableSCCostSpentGridDiv" style="height:200px;display:block;overflow-y: scroll;overflow-x: hidden; @(Model.ObjDebtAccountSCCostList.Count <= 0  ? "display:none" : "display:block")">
                    <table id="tblSCCostSpentGrid" class="table table-bordered dataTable table-hover grid " border="1" style="width:970px;">
                        <thead>
                            <tr>
                                <th class="no-sort" style="width: 13px;">Edit</th>
                                <th style="width: 30px;">Date</th>
                                <th style="width: 30px;">Type</th>
                                <th style="width: 82px;">Exp$</th>
                                <th style="width: 82px;">Filing$</th>
                                <th style="width: 82px;">Service$</th>
                                <th style="width: 82px;">Writ$</th>
                                <th style="width: 82px;">Levy$</th>
                                <th style="width: 82px;">Abst$</th>
                                <th style="width: 82px;">Record$</th>
                                <th style="width: 100px;">Reference</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.ObjDebtAccountSCCostList.Count >= 1)
                            {
                                foreach (var i in Model.ObjDebtAccountSCCostList)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" onclick="ShowDebtAccountSCCostDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        @{
                                            if (i.DateCreated == DateTime.MinValue)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@i.DateCreated.ToShortDateString()</td>
                                            }
                                        }
                                        <td>
                                            @i.LedgerType
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.CostExpAmt)
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.FilingFee)
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.ServiceFeeAmt)
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.WritFeeAmt)
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.LevyFeeAmt)
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.AbstractFeeAmt)
                                        </td>
                                        <td>
                                            @String.Format("{0:C}", i.RecordingFeeAmt)
                                        </td>
                                        <td>
                                            @i.Reference
                                        </td>
                                   
                                    </tr>
                                                }
                                            }
                        </tbody>
                    </table>
                </div>


            </div>

            <br />&nbsp;

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">

                    <div id="divTotalCosts">
                        <fieldset class="customFieldset">
                            <legend>Total Costs</legend>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4">
                                </div>
                                <div class="col-xs-4">
                                    <lable>By Agency</lable>
                                </div>
                                <div class="col-xs-4">
                                    <lable>By Client</lable>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Filing Fee:</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.AGFilingFee, new { Value = String.Format("{0:C}", Model.AGFilingFee), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.CLFilingFee, new { Value = String.Format("{0:C}", Model.CLFilingFee), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Service Fee:</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.AGServiceFeeAmt, new { Value = String.Format("{0:C}", Model.AGServiceFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.CLServiceFeeAmt, new { Value = String.Format("{0:C}", Model.CLServiceFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Writ Fee:</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.AGWritFeeAmt, new { Value = String.Format("{0:C}", Model.AGWritFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.CLWritFeeAmt, new { Value = String.Format("{0:C}", Model.CLWritFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Levy Fee:</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.AGLevyFeeAmt, new { Value = String.Format("{0:C}", Model.AGLevyFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.CLLevyFeeAmt, new { Value = String.Format("{0:C}", Model.CLLevyFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Abstract Fee:</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.AGAbstractFeeAmt, new { Value = String.Format("{0:C}", Model.AGAbstractFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.CLAbstractFeeAmt, new { Value = String.Format("{0:C}", Model.CLAbstractFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Recording Fee:</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.AGRecordingFeeAmt, new { Value = String.Format("{0:C}", Model.AGRecordingFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.CLRecordingFeeAmt, new { Value = String.Format("{0:C}", Model.CLRecordingFeeAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                            </div>


                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4">
                                </div>
                                <div class="col-xs-4">
                                    <hr size="1" style="border: 1.0px solid black !important;">
                                </div>
                                <div class="col-xs-4">
                                    <hr size="1" style="border: 1.0px solid black !important;">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Total:</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.AGCostExpAmt, new { Value = String.Format("{0:C}", Model.AGCostExpAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.CLCostExpAmt, new { Value = String.Format("{0:C}", Model.CLCostExpAmt), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <br />
                                <br />
                            </div>

                            <div class="form-group col-xs-12 lt">
                                <div class="col-xs-4 rt">
                                    <lable>Total Expended:</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.TOTEXP, new { Value = String.Format("{0:C}", Model.TOTEXP), @class = "form-control txtDigits wt", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-4">

                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
                <div class="col-xs-3">
                </div>
            </div>
        </div>



    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DebtAccountId)
        @Html.HiddenFor(m => m.PKID)
        @Html.HiddenFor(m => m.TOTEXP)


    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btnsaveSCCostSpent" value="Save" class="btn btn-primary" data-dismiss="modal" />*@
            <input type="button" id="btnsaveSCCostSpent" value="Save" class="btn btn-primary"  onclick="SaveSmallClaimsCostSpentInfo()" />
            <input type="button" value="Cancel" id="CancelModalSCCostSpent" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>

    function AddSCCostSpent()
    {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        $.ajax({
            url: '@Url.Action("AddSCCostSpent", "WorkCard")',
            type: "POST",
            data: { DebtAccountId: DebtAccountId},
            success: function(data) {
                debugger;
                $('#myModalEditSmallClaimsCostsSpentInfo').modal("hide");
                $('#myModalAddNewSCCostSpent .modal-content').html(data);
                $('#myModalAddNewSCCostSpent').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#objDebtAccountLegalCost_DateCreated').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);

                AddLegalCostCheckMinDate();

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


    function AddLegalCostCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objDebtAccountLegalCost_DateCreated"];
        $.each(DateTextBoxArray, function(idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" ||date == "01/01/0001" || date == "")
                {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }
            }
        });
    }
    
    function ShowDebtAccountSCCostDetails(Id)
    {
        debugger;
        showLoadingImage();
        var DebtAccountId = @Model.DebtAccountId;
        $.ajax({
            url: '@Url.Action("GetDebtAccountSCLegalCostDetails", "WorkCard")',
            data: { Id: Id },
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModalEditSmallClaimsCostsSpentInfo').modal("hide");
                $('#myModalEditSCCostSpent .modal-content').html(data);
                $('#myModalEditSCCostSpent').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                //$('#objDebtAccountLegalCostEdit_DateCreated').datepicker({ format: 'mm/dd/yy'}).datepicker('setDate', today);

                $('#objDebtAccountLegalCostEdit_DateCreated').datepicker({ format: 'mm/dd/yyyy' }).datepicker();

                AddLegalCostCheckMinDate();

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


    function SaveSmallClaimsCostSpentInfo()
    {
        debugger;
        showLoadingImage();

        var data = $('#FormEditSmallClaimsCostSpentInfo').serialize();
        var DebtAccountId = @Model.DebtAccountId;
        var j = $('#Jvalue').val();

        $.ajax({
            url: '@Url.Action("SaveSmallClaimsCostSpentInfo", "WorkCard")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetailsNew(DebtAccountId,j,"SmallClaims","TabSmallClaims");
                $("#myModalEditSmallClaimsCostsSpentInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    //$('#successMsg').show();
                    SmallClaimsCostSpentInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditSmallClaimsCostsSpentInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function SmallClaimsCostSpentInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Small Claims Cost Spent Info Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>

