﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.FilterVM
@{
    Layout = null;
}

<style>
    .width-txt{
        width:280px;
        display:inline;
    }
</style>


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Account List Filter</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Debtor#</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.DebtAccountId, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable><=Review Date</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkReview,new { style ="display:inline;"}) &nbsp;
                @Html.TextBoxFor(m => m.FilterObj.NextContactDate, "{0:MM/dd/yyyy}", new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Client#</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.ServiceCode, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>Assign Date</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkAssigned, new { style = "display:inline;" }) &nbsp;
                @Html.TextBoxFor(m => m.FilterObj.ReferalDate, "{0:MM/dd/yyyy}", new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Client Ref#</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.AccountNo, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable><=Staus Date</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkStatusDate, new { style = "display:inline;" }) &nbsp;
                @Html.TextBoxFor(m => m.FilterObj.NextStatusDate, "{0:MM/dd/yyyy}", new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Debtor Name</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.DebtorName, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>>=Judgment Date</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkJudgmentDate, new { style = "display:inline;" }) &nbsp;
                @Html.TextBoxFor(m => m.FilterObj.FWDJudgmentDate, "{0:MM/dd/yyyy}", new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Debtor Contact</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.DebtorName, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable><=Balance</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkBalance, new { style = "display:inline;" }) &nbsp;
                @Html.TextBoxFor(m => m.FilterObj.Balance, "{0:MM/dd/yyyy}", new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Address</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.DebtorAddress, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>Status Code</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkStatus, new { style = "display:inline;" }) &nbsp;
                @Html.DropDownListFor(m => m.FilterObj.cboStatusCode, Model.CollectionStatusList.OrderBy(m => m.Text), new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>State</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.DebtorState, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>Status Code Type</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkStatusType, new { style = "display:inline;" }) &nbsp;
                @Html.DropDownListFor(m => m.FilterObj.cboStatusType, Model.CollectionStatusGroupList.OrderBy(m => m.Text), new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Phone</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.DebtorPhoneNo, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>Desk</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkDesk, new { style = "display:inline;" }) &nbsp;
                @Html.DropDownListFor(m => m.FilterObj.cboDesk, Model.LocationList.OrderBy(m => m.Text), new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Fax</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.DebtorFaxNo, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>To Desk</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkToDesk, new { style = "display:inline;" }) &nbsp;
                @Html.DropDownListFor(m => m.FilterObj.cboToDesk, Model.LocationList.OrderBy(m => m.Text), new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>SSn#</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.TaxId, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable><=SC Review Date</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkSCReview, new { style = "display:inline;" }) &nbsp;
                @Html.TextBoxFor(m => m.FilterObj.SCReviewDate, "{0:MM/dd/yyyy}", new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Priority</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.Priority, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>>=SC Judgment Date</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkSCJudgmentDate, new { style = "display:inline;" }) &nbsp;
                @Html.TextBoxFor(m => m.FilterObj.SCJudgmentDate, "{0:MM/dd/yyyy}", new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Case#</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.CaseNum, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>Trial Date</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkTrial, new { style = "display:inline;" }) &nbsp;
                @Html.TextBoxFor(m => m.FilterObj.NextTrialDate, "{0:MM/dd/yyyy}", new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>Entity Name</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.EntityName1, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>Atty#</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.ChkAtty, new { style = "display:inline;" }) &nbsp;
                @Html.DropDownListFor(m => m.FilterObj.cboAttyId, Model.AttorneyList.OrderBy(m => m.Text), new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>BK Case</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.BKCaseNo, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>Count#</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkCourt, new { style = "display:inline;" }) &nbsp;
                @Html.DropDownListFor(m => m.FilterObj.cboCourtId, Model.CourtHouseList.OrderBy(m => m.Text), new { @class = "form-control width-txt" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2 NopaddingLR ">
                <lable>BK Name</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.TextBoxFor(m => m.FilterObj.DebtorBKName, new { @class = "form-control width-txt" })
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <lable>Servert#</lable>
            </div>
            <div class="col-xs-4 NopaddingLR">
                @Html.CheckBoxFor(m => m.FilterObj.chkServer, new { style = "display:inline;" }) &nbsp;
                @Html.DropDownListFor(m => m.FilterObj.cboProcessServerId, Model.ProcessServerList.OrderBy(m => m.Text), new { @class = "form-control width-txt" })
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Search" class="btn btn-primary" onclick="filter()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalFilter()" />
             
        </div>
    </div>

</form>

<script>

    function CloseModalFilter() {
        $('#myModal').modal("hide");
    }

    function filter() {
        debugger;

            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("GetFilterResult", "WorkCard")',
                data: $('#FormEdit').serialize(), 
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblWorkCard');
                    hideLoadingImage();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

    }
</script>
