﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.PaymentCalculatorVM
@{
    Layout = null;
}
<style>

</style>

<div class="modal-header">
    <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
        <label>Payment Calculator</label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
            <span aria-hidden="true">×</span>
        </button>
    </h3>
</div>
<div class="modal-body" style="text-align:left">
    <div class="col-xs-12 form-group">
        <div class="col-xs-6 form-group" style="margin-right: 0px">
            <fieldset class="customFieldset">
                <legend>Payment Schedule</legend>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Total Due: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.TotalDue, new { Value = String.Format("{0:C}", Model.TotalDue), @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Payment Amount: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.PmtAmt, new {@onblur = "formatCurrency(this)", @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Frequency: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.DropDownListFor(m => m.Frequency, Model.FrequencyList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>1st Payment Date: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.FirstPmtDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 ">
                        
                    </div>
                    <div class="col-xs-6 checkbox-sm NopaddingLR">
                        @Html.CheckBoxFor(m => m.chkNoInt) &nbsp;&nbsp;
                        <lable>No Interest</lable>
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-4 ">

                    </div>
                    <div class="col-xs-4 NopaddingLR">
                        <input type="button" id="btnCalculateSchedule" value="Calculate Schedule" onclick="CalculateSchedule()">
                    </div>
                    <div class="col-xs-4 NopaddingLR">

                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Last Payment Date: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.LastPmtDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Last Payment Amount: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.LastPmtAmt, new {@class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Total No of payments: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.NumOfPmts, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-4 ">
                    </div>
                    <div class="col-xs-4 NopaddingLR">
                        <input type="button" value="Print Schedule" id="btnPrintPaymentSchedule"  onclick="PrintPaymentSchedule()">
                    </div>
                    <div class="col-xs-4 NopaddingLR">

                    </div>
                </div>
            </fieldset>
            </div>
        <div class="col-xs-6 form-group">
            <fieldset class="customFieldset">
                <legend>Payment Amount</legend>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Total Due: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.TotalDueP, new { Value = String.Format("{0:C}", Model.TotalDueP), @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Frequency </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.DropDownListFor(m => m.FrequencyP, Model.FrequencyList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>1st Payment Date </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.FirstPmtDateP, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Last Payment Date </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.LastPmtDateP, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 ">
                        
                    </div>
                    <div class="col-xs-6 checkbox-sm NopaddingLR">
                        @Html.CheckBoxFor(m => m.chkNoIntP)
                        <lable>No Interest</lable>
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-4 ">

                    </div>
                    <div class="col-xs-4 NopaddingLR">
                        <input type="button" value="Calculate Payment Amount" name="btnPaymentAmount" id="btnPaymentAmount" onclick="CalculatePayment()">
                    </div>
                    <div class="col-xs-4 NopaddingLR">

                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Payment Amount</lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.PmtAmtP, new { Value = String.Format("{0:C}", Model.PmtAmtP), @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Last Payment Date</lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.LastPayDateP, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 rt">
                        <lable>Total # of Payments</lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.NumOfPmtsP, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-4 ">
                    </div>
                    <div class="col-xs-4 NopaddingLR">
                        <input type="button" value="Print Schedule" id="btnPrintPaymentAmount"   onclick="PrintPaymentScheduleAmount()">
                    </div>
                    <div class="col-xs-4 NopaddingLR">

                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <div class="col-xs-12">
        <lable id="lblerror" style="text-align: left;color: red;"></lable>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
        <input type="button" value="Cancel" id="CancelModalPaymentCalculator" class="btn btn-primary" data-dismiss="modal" />
    </div>
</div>
<div id="HiddenFields">
    @Html.HiddenFor(m => m.DebtAccountId)
</div>

<script>
    //Print Payment Schedule
    function PrintPaymentSchedule() {
        debugger;
        var TotalDue = $("#TotalDue").val();
        TotalDue = TotalDue.replace("$","");
        TotalDue = TotalDue.replace(",","");
        var PmtAmt = $("#PmtAmt").val();
        PmtAmt = PmtAmt.replace("$","");
        PmtAmt = PmtAmt.replace(",","");
        var Frequency = $("#Frequency").val();
        var FirstPayDate = $("#FirstPmtDate").val();
        var IsNoInterest ;
        if($("#chkNoInt").is(':checked'))
        {
            IsNoInterest = true;
        }
        else
        {
            IsNoInterest = false;
        }

        if(Frequency == 1)
        {
            Frequency = "W";
        }
        else if(Frequency == 2)
        {
            Frequency = "B";
        }
        else
        {
            Frequency = "M";
        }

        if(isNaN(TotalDue) || TotalDue == "" || TotalDue == "0")
        {
            alert("Total Due is required");
        }
        else
        {
            if (isNaN(PmtAmt) || PmtAmt == "" || PmtAmt == "0")
            {
                alert("Payment Amount is required");
            }
            else
            {
                $.ajax({
                    url: '@Url.Action("PrintPaymentSchedule", "WorkCard")',
                    data: { DebtAccountId: @Model.DebtAccountId,
                            PaymentAmt: PmtAmt,
                            Frequency: Frequency,
                            FirstPayDate: FirstPayDate,
                            IsNoInterest: IsNoInterest,
                            TotalDue:TotalDue
                    },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data != "error") {
                            $('#lblerror').text('');
                            //$("#LastPmtDate").val(data.LastPmtDateString);
                            //$("#LastPmtAmt").val(data.LastPmtAmt.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                            //$("#NumOfPmts").val(data.NumOfPmts);
                            $('#myModalWide').modal("hide");
                            window.open(data);
                            PrintScheduleReportSuccessPopup();
                        }
                        else {
                            //$('#lblerror').text('Report Not Found !!');
                            alert('Report Not Found !!');
                        }
                        return false;
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
        }
    }

    //Print Payment Schedule Amount
    function PrintPaymentScheduleAmount() {
        debugger;
        var TotalDueP = $("#TotalDueP").val();
        TotalDueP = TotalDueP.replace("$","");
        TotalDueP = TotalDueP.replace(",","");
        var FrequencyP = $("#FrequencyP").val();
        var FirstPayDateP = $("#FirstPmtDateP").val();
        var LastPayDateP = $("#LastPmtDateP").val();
        var IsNoInterest ;
        if($("#chkNoIntP").is(':checked'))
        {
            IsNoInterest = true;
        }
        else
        {
            IsNoInterest = false;
        }

        if(FrequencyP == 1)
        {
            FrequencyP = "W";
        }
        else if(FrequencyP == 2)
        {
            FrequencyP = "B";
        }
        else
        {
            FrequencyP = "M";
        }

        if(isNaN(TotalDueP) || TotalDueP == "" || TotalDueP == "0")
        {
            alert("Total Due is required");
        }
        else
        {
                $.ajax({
                    url: '@Url.Action("PrintPaymentScheduleAmount", "WorkCard")',
                    data: { DebtAccountId: @Model.DebtAccountId,
                        Frequency: FrequencyP,
                        FirstPayDate: FirstPayDateP,
                        LastPayDate: LastPayDateP,
                        IsNoInterest: IsNoInterest,
                        TotalDue:TotalDueP
                    },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data != "error") {
                            $('#lblerror').text('');
                            $('#myModalWide').modal("hide");
                            window.open(data);         
                            PrintScheduleReportSuccessPopup();
                        }
                        else {
                            //$('#lblerror').text('Report Not Found !!');
                            alert('Report Not Found !!');
                        }
                        return false;
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            
        }
    }



    //Calculate Payment Schedule
    function CalculatePayment()
    {
        debugger;
        var TotalDueP = $("#TotalDueP").val();
        TotalDueP = TotalDueP.replace("$","");
        TotalDueP = TotalDueP.replace(",","");
        var FrequencyP = $("#FrequencyP").val();
        var FirstPayDate = $("#FirstPmtDateP").val();
        var LastPayDate = $("#LastPmtDateP").val();
        var IsNoInterest;
        if($("#chkNoIntP").is(':checked'))
        {
            IsNoInterest = true;
        }
        else
        {
            IsNoInterest = false;
        }


        if(FrequencyP == 1)
        {
            FrequencyP = "W";
        }
        else if(FrequencyP == 2)
        {
            FrequencyP = "B";
        }
        else
        {
            FrequencyP = "M";
        }

        if(isNaN(TotalDueP) || TotalDueP == "" || TotalDueP == "0")
        {
            alert("Total Due is required");
        }
        else
        {
            $.ajax({
                url: '@Url.Action("CalculatePaymentAmount", "WorkCard")',
                data: { DebtAccountId: @Model.DebtAccountId,
                    FrequencyP: FrequencyP,
                    FirstPayDate: FirstPayDate,
                    LastPayDate : LastPayDate,
                    IsNoInterest: IsNoInterest,
                    TotalDueP: TotalDueP
                },
                type: "POST",
                success: function (data) {
                    debugger;
                    $("#PmtAmtP").val(data.PmtAmtP.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                    $("#LastPayDateP").val(data.LastPmtDatePString);
                    $("#NumOfPmtsP").val(data.NumOfPmts);
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }
    }

    function CalculateSchedule()
    {
        debugger;
        var TotalDue = $("#TotalDue").val();
        TotalDue = TotalDue.replace("$","");
        TotalDue = TotalDue.replace(",","");
        var PmtAmt = $("#PmtAmt").val();
        PmtAmt = PmtAmt.replace("$","");
        PmtAmt = PmtAmt.replace(",","");
        var Frequency = $("#Frequency").val();
        var FirstPayDate = $("#FirstPmtDate").val();
        var IsNoInterest ;
        if($("#chkNoInt").is(':checked'))
        {
            IsNoInterest = true;
        }
        else
        {
            IsNoInterest = false;
        }

        if(Frequency == 1)
        {
            Frequency = "W";
        }
        else if(Frequency == 2)
        {
            Frequency = "B";
        }
        else
        {
            Frequency = "M";
        }

        if(isNaN(TotalDue) || TotalDue == "" || TotalDue == "0")
        {
            alert("Total Due is required");
        }
        else
        {
            if (isNaN(PmtAmt) || PmtAmt == "" || PmtAmt == "0")
            {
                alert("Payment Amount is required");
            }
            else
            {
                $.ajax({
                    url: '@Url.Action("CalculateSchedule", "WorkCard")',
                    data: { DebtAccountId: @Model.DebtAccountId,
                            PaymentAmt: PmtAmt,
                            Frequency: Frequency,
                            FirstPayDate: FirstPayDate,
                            IsNoInterest: IsNoInterest,
                            TotalDue:TotalDue
                    },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $("#LastPmtDate").val(data.LastPmtDateString);
                        //$("#LastPmtAmt").val(data.LastPmtAmt);
                        $("#LastPmtAmt").val(data.LastPmtAmt.toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
                        $("#NumOfPmts").val(data.NumOfPmts);
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
        }
    }


    function PrintScheduleReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Generated!",
            text: "Your Print Schedule Report Generated Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>