﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.ClientVM
<style type="text/css">

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }


    #a1 {
        text-align: right;
    }

    #a2 {
        text-align: left;
    }

    #bgcolor {
        background-color: yellow;
    }

    #bgcolor1 {
        background-color: OrangeRed;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

    atitle:hover::after {
        content: attr(title);
        position: absolute;
        top: -100%;
        color: greenyellow;
    }

    .wt {
        width: 395px;
    }

    label {
        padding-left: 20%;
    }

    #alin {
        width: 87px;
        margin-top: 10%
    }
    /*.btnhight {
        line-height: initial;
    }*/
    input[type=button] {
        line-height: initial;
    }
    /* @@media (min-width: 768px) {
        .form-inline .form-control {

            width: unset !important;
        }
    }*/
    .wdthchange {
        width: 100% !important;
    }

    #bgstyle {
        display: block;
    }
</style>




<div>
    <input type="hidden" name="JobNo" value="" />

</div>

@*<form id="FormActionHistory">*@
<div class="modal-header">
    <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
        Send Email To Debtor
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
            <span aria-hidden="true">×</span>
        </button>
    </h3>
</div>
<div class="modal-body" style="height:663px;">
    <div class="nav-tabs-horizontal" data-plugin="tabs" style="margin:30px;margin-left:50px;">
        <ul class="nav nav-tabs" role="tablist">
            <li id="JobInfo" class="nav-item active" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#Message" aria-controls="Message" role="tab" aria-selected="false">Message</a>
            </li>
            <li id="Notes" class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#Attachments" aria-controls="Attachments" role="tab" aria-selected="false">Attachments</a>
            </li>

        </ul>


    </div>
    <div class="tab-content">

        <div class="tab-pane active" id="Message" role="tabpanel">
            <br />
            <form action="" method="post" id="FormSendEmail">
                <div class="row" style="margin-top: -35px;">
                    <div class="col-md-3">
                        <label>To :</label>
                    </div>
                    <div class="col-md-9">
                        @if (Model.To != null)
                        {
                            <textarea name="To" rows="2" cols="90" id="To">@Model.To</textarea>

                        }
                        else
                        {
                            <textarea name="To" rows="2" cols="90" id="To"></textarea>

                        }

                    </div>
                </div>
                <div class="row" style="margin-top: -35px;">
                    <div class="col-md-3">
                        <label>Subject :</label>
                    </div>
                    <div class="col-md-9">
                        @if (Model.Subject != null)
                        {
                            <textarea name="Subject" rows="5" cols="90" id="TxtSubject">@Model.Subject</textarea>

                        }
                        else
                        {
                            <textarea name="Subject" rows="5" cols="90" id="TxtSubject"></textarea>

                        }
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-3">-->
                @*<label>Recipients :</label>
                    <div class="row" style="margin-left:20%;margin-bottom:5%;">
                        <button type="button" style="width:100px;" class="btn btn-primary" onclick="CheckAllListItems()" id="chkAllClinetListItems">Check</button>
                    </div>
                    <div class="row" style="margin-left:20%;">
                        <button type="button" style="width:100px;" class="btn btn-primary" onclick="UnCheckAllListItems()" id="unchkAllClinetListItems">UnCheck</button>
                    </div>*@

                <!--</div>
                <div class="col-md-9">
                    <div style="overflow: auto;overflow-x: hidden; height: 217px; margin-bottom: 2%; width: 713px;">-->
                @*@if (Model.ReceiptientGridList != null)
                    {
                        <fieldset class="customFieldset" style="width:837px;">


                            <table style="width:686px;margin-bottom:15px;" id="tblRecipientList">
                                <tr>
                                    <th style="text-align:center;">Checked</th>
                                    <th style="text-align:center;">TO</th>
                                    <th style="text-align:center;">Name</th>
                                    <th style="text-align:center;">Email</th>
                                </tr>
                                @foreach (var item in Model.ReceiptientGridList)
                                {
                                    <tbody id="tblRecipientListBody">
                                        <tr>
                                            <td style="text-align:center;"><div class="checkbox-sm"><input type="checkbox" id="chkclientListitem" name="chkClientContactList" value="@item.Email" /></div></td>
                                            <td style="text-align:center;">@item.To</td>
                                            <td style="text-align:center;">@item.Name</td>
                                            <td style="text-align:center;">@item.Email</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>

                        </fieldset>
                    }
                    else
                    {
                        <textarea rows="3" cols="90" name="Recipients"></textarea>

                    }*@
                <!--</div>
                <div class="row">
                    <div class="col-md-3 checkbox-sm" style="margin-left:2%;">-->
                @*@if (Model.OtherReceiptient == true)
                    {
                        <input type="checkbox" id="OtherRecipient" class="btn btn-primary" name="OtherRecipient" onclick="valueChanged()" value="Other Recepient" checked /><span>&nbsp;&nbsp;Other Recepient</span>

                    }
                    else
                    {
                        <input type="checkbox" id="OtherRecipient" class="btn btn-primary" name="OtherRecipient" onclick="valueChanged()" value="Other Recepient" /><span>&nbsp;&nbsp;Other Recepient</span>

                    }*@
                <!--</div>
                <div id="divAddNewRecipient" style="display:none;">
                    <div class="col-md-4">-->
                @*@if (Model.NewReceiptient != null)
                    {


                        <input type="email" name="NewRecipient" id="NewOtherRecipient" value="@Model.NewReceiptient" style="height:21px;width:213px;" />

                    }
                    else
                    {
                        <input type="email" name="NewRecipient" id="NewOtherRecipient" style="height:21px;width:213px;" />

                    }*@
                <!--</div>-->
                @*<div class="col-md-4">
                        <input type="button" value="Add to Recipient" id="btnAddToRecipient" onclick="AddToRecipient()" />
                    </div>*@

                <!--</div>

                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-md-3">
                        <label>Message :</label>
                    </div>
                    <div class="col-md-9">
                        @if (Model.Message != null)
                        {
                            <textarea name="Message" id="txtMessage" value="" rows="5" cols="90">@Model.Message</textarea>
                        }
                        else
                        {
                            <textarea name="Message" id="txtMessage" rows="5" cols="90"></textarea>

                        }
                    </div>
                </div>

            </form>
        </div>

        <div class="tab-pane" id="Attachments" role="tabpanel">
            <br />



            <form id="SecondFormSendEmail">
                <div style="margin-left:5%;">

                    <fieldset class="customFieldset" style="width:837px; margin-top:-35px;height:250px;">
                        <legend>Documents</legend>
                        <div style="overflow:auto;height:220px;">
                            @*<textarea style="margin-left:5%;" rows="3" cols="100">*@
                            <table class="table table-bordered dataTable table-hover grid table-responsive no-footer " id="DocumentsTable" style="width:94%;margin-left:3%;">
                                <thead>
                                    <tr>
                                        <th>Add Attach Doc</th>
                                        <th>Date Created</th>
                                        <th>UserCode</th>
                                        <th>Document Type</th>
                                        <th>DocumentDescription</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.ListADDebtAccountAttachment != null)
                                    {
                                        foreach (var item in Model.ListADDebtAccountAttachment)
                                        {

                                            <tr id="@Model.DebtAccountId">
                                                <td>
                                                    <input type="button" class="btn btn-primary" id="@item.Id" onclick="AddAttachDocument(this.id)" name="chkAttachDoc" value="Add Attach Doc" />

                                                </td>
                                                <td>@item.DateCreated.ToShortDateString()</td>
                                                <td>@item.UserCode</td>
                                                <td>@item.DocumentType</td>
                                                <td>@item.DocumentDescription</td>

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                            @*</textarea>*@
                        </div>
                    </fieldset>
                    <fieldset class="customFieldset" style="width:837px; margin-top: 10px">
                        <legend>Attachments</legend>
                        @*<ul class="row" id="divAttachments" name="AttachedFilePath" style="padding:20px;height:120px;overflow:auto;"></ul>*@
                        <table id="tblAttachments" name="tblAttachments" style="width:100%;">
                            @*@if (Model.AttachmentPath != "")
                            {
                                <tr>
                                    <td style="text-align:center;"><button onclick="RemoveTR(this)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>

                                    <td>@Model.AttachmentPath</td>
                                </tr>
                            }*@

                        </table>
                    </fieldset>
                </div>


                <div class="row" style="margin-left:50px;margin-top:2%;">

                    <div class="fileupload-btn-wrapper">
                        <button type="button" class="btn btn-primary" style=""><i class="icon wb-upload"></i> Add MISC Doc</button>
                        <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" />
                    </div>
                    @*<input type="button" class="btn btn-primary" style="margin-bottom:32px;margin-left:25px;" value="Remove" />*@

                </div>
            </form>

        </div>

    </div>
</div>
<div class="modal-footer" style="background-color: white;">

    <div class="col-md-1">
        <input type="reset" class="btn btn-primary" value="Clear" style="margin-left:31px;" />
    </div>
    <div class="col-md-10" style="float:right;">
        <input type="submit" style="width:120px;" class="btn btn-primary" value="Save" id="SaveEmail" onclick="SendDBTMessageAndAttachementData(this.id)" />
        <input type="button" style="width:120px;" class="btn btn-primary" value="Send" id="SendEmail" onclick="SendDBTMessageAndAttachementData(this.id)" />
        <input type="button" style="width:120px;" class="btn btn-primary" data-dismiss="modal" value="Cancel" />

    </div>
</div>

<script>

    $('#myModalSendEmail').modal({ backdrop: 'static', keyboard: false });
    hideLoadingImage();
    $('#uploadFile').change(function (e) {
        debugger;
        var fileName = e.target.files[0].name;
        if (fileName.search(/[<>'\+\"\/;`%,#$&@@]/) > 0) {
            alert('Please upload the file without special characters');
            // $(':input[type="submit"]').prop('disabled', true);
            $('#btnSaveMISCDocument').prop('disabled', true);
            return false;
        }
        else {
            //alert('The file "' + fileName + '" has been selected.');
            // $(':input[type="submit"]').prop('disabled', false);
            $('#btnSaveMISCDocument').prop('disabled', false);
            $("#uploadedFileName").empty();
         //   $("#divAttachments").append(fileName);
            SaveMISCDocument();
        }
    });

      function SaveMISCDocument()
    {
        debugger;

            var formData = new FormData();
            var file = document.getElementById("uploadFile").files[0];
            formData.append("uploadFile", file);
            if (document.getElementById('uploadFile').value !== '')
            {
                $.ajax({
                    url: '@Url.Action("SaveMISCDocument", "WorkCard")',
                    type: "POST",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data != null) {
                            $('#tblAttachments').append(`<tr>
          <td style="text-align:center;"><button onclick="RemoveTR(this)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
           <td style="text-align:center;">${data}</td>
           </tr>`);
                            //let docpath = document.querySelector('#divAttachments');
                            //const node = document.createElement("LI");
                            //const textnode = document.createTextNode(data);
                            //node.appendChild(textnode);
                            //document.getElementById("divAttachments").appendChild(node);
                            ////SaveDocumentInputs();
                           // $("#myModalAddMiscDocument").modal("hide");
                        }
                        if(data==false)
                        {
                            alert("Something went wrong");
                        }
                        console.log(data);
                    },
                    fail: function (error) {
                        alert("Something went wrong fail function(error)");
                    }
                });
            }
            else
            {
                alert('Please attach file.');
            }
    }
       function SaveEmailInfo()
    {
        debugger;
        showLoadingImage();
        var data = $('#FormSendEmail').serialize();
        $.ajax({
            url: '@Url.Action("SaveEmailInfo", "WorkCard")',
            data: data,
            type: "POST",
            //dataType: 'json',
            success: function (data) {
                debugger;


            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
               $("#myModalAddNewNote").modal("hide");
            }
        });
    }
    function valueChanged(){
        if ($('#OtherRecipient').is(":checked"))
            $("#divAddNewRecipient").show();
        else
            $("#divAddNewRecipient").hide();
    }
    function CheckAllListItems(){
        debugger;
        var ele = document.getElementsByName('chkClientContactList');
        for (var i = 0; i < ele.length; i++) {
            if (ele[i].type == 'checkbox')
                ele[i].checked = true;
        }

    }

    function UnCheckAllListItems(){

        debugger;
        var ele = document.getElementsByName('chkClientContactList');
        for (var i = 0; i < ele.length; i++) {
            if (ele[i].type == 'checkbox')
                ele[i].checked = false;
        }
    }

    function RemoveTR(r){
        debugger;
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("tblAttachments").deleteRow(i);
    }

    function AddAttachDocument(Id) {
        debugger;

        $.ajax({
            url: '@Url.Action("AddAttachDoc", "WorkCard")',
            data: { Id:Id },
            type: "POST",
            dataType: 'json',
              success: function (data) {
                  debugger;
                  if (data != null) {
                      $('#tblAttachments').append(`<tr>
          <td style="text-align:center;"><button onclick="RemoveTR(this)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
           <td style="text-align:center;">${data}</td>
           </tr>`);

                  }
              },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
               $("#myModalAddNewNote").modal("hide");
            }
        });


    }

    function AddToRecipient() {
        debugger;
        var value = $('#NewOtherRecipient').val();
        $('#tblRecipientListBody').append(`<tr>
          <td style="text-align:center;"><div class="checkbox-sm"><input type="checkbox" class="checkbox-sm" id="chkclientListitem" name="chkClientContactList" value="${value}" /></div></td>
           <td style="text-align:center;">Other</td>
<td style="text-align:center;"> </td>
<td style="text-align:center;">${value}</td>
           </tr>`);

    }

    function SendDBTMessageAndAttachementData(Id) {

        debugger;
        var DebtAccountId= @Model.DebtAccountId;
        var Subject = $("#TxtSubject").val();
        var Message = $("#txtMessage").val();

        var To = $("#To").val();
        var array = new Array();
        if (To != null) {
            if (To.includes(",")) {
                array.push(To.split(","));
            }
            if (To.includes(" ")) {
                array.push(To.split(" "));
            }
            if (To.includes(";")) {
                array.push(To.split(";"));
            }
      
        }
        if (array == null) {
            alert("Please select Recipient Email")
            return;
        }
        var file = document.getElementById('uploadFile').files[0];
        var AttachedFiles = $('#tblAttachments').text();
        var isSend;
        if (Id == "SendEmail") {
             isSend = true;
        }
        else {
             isSend = false;

        }

       // var FilePaths = AttachedFiles.Replace("\n", AttachedFiles.Empty);
        $.ajax({
            url: '@Url.Action("SendDBTAccountEmail", "WorkCard")',
            type: "POST",
            data: { DebtAccountId:DebtAccountId,To: array[0], Subject: Subject, Message: Message, AttachedFiles: AttachedFiles, isSend: isSend },
            success: function (data) {

                debugger;
                if (data == true) {
                    SendEmailSuccessPopup();
                }
                else if (data == false) {
                    SaveEmailSuccessPopup();
                }
                else if (data == -1) {
                    alert("No recipient emails have been selected");
                }
                else if (data == -2) {
                    alert("Something Went Wrong");
                }
                else {
                    alert("Something Went Wrong");
                }
                $('#myModalSendDBTAccountEmail .modal-content').html(data);
                $('#myModalSendDBTAccountEmail').modal("hide");


               hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }
    function SendEmailSuccessPopup() {
        debugger;
        swal({
            title: "Email Sent Succesfully!",
            text: "Your Action History Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
    function SaveEmailSuccessPopup() {
        debugger;
        swal({
            title: "Email Saved Succesfully!",
            text: "Your DebtAccount Note Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>
