﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.ClientInfoVM
@{
    Layout = null;
}

<style>
    .NopaddingLR {
        padding-right: 10px !important;
        padding-left: 0px !important;
    }
</style>

<form id="FormEditCollectionInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            <label>Client Collections Info</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainContact" aria-controls="TabMainContact" role="tab" aria-selected="false">Main Contact</a></li>
                <li id="SecondaryContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSecondaryContact" aria-controls="TabSecondaryContact" role="tab" aria-selected="false">Secondary Contact</a></li>
                <li id="MiscInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMiscInfo" aria-controls="TabMiscInfo" role="tab" aria-selected="false">Misc Info</a></li>
                <li id="Billing" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabBilling" aria-controls="TabBilling" role="tab" aria-selected="false">Billing</a></li>
                <li id="Reporting" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabReporting" aria-controls="TabReporting" role="tab" aria-selected="false">Reporting</a></li>
                <li id="LegalInfo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLegalInfo" aria-controls="TabLegalInfo" role="tab" aria-selected="false">Legal Info</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div id="hiddenFields">
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ClientId)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.Id)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ServiceTeamId)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.SalesTeamId)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ProdTeamId)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.IsActive)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ContactPlanId)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.CBRDays)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.EmailNotifyPlacements)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ITDAvgAge)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.LastUpdatedBy)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.LastUpdateDate)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.InvoiceContactTitle)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.RemitContactTitle)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.SetupDate)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.Venue)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ContactAddr1)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ContactAddr2)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ContactCity)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ContactState)
                @Html.HiddenFor(m => m.obj_ClientCollectionInfo.ContactZip)
            </div>
            <div class="tab-pane" id="TabMainContact" role="tabpanel">
                <br />
                <div>
                    <fieldset class="customFieldset">
                        <legend>Main Contact</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Contact</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactName, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>As</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactSalutation, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Title</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactTitle, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Email</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactEmail, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>CC Email</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactCCEmail, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactPhone, new { Value = string.IsNullOrEmpty(Model.obj_ClientCollectionInfo.ContactPhone) ? "" : String.Format("{0}-{1}-{2}"
            , Model.obj_ClientCollectionInfo.ContactPhone.Substring(0, 3)
            , Model.obj_ClientCollectionInfo.ContactPhone.Substring(3, 3)
            , Model.obj_ClientCollectionInfo.ContactPhone.Substring(6, Model.obj_ClientCollectionInfo.ContactPhone.Length - 6)), @class = "form-control", type = "tel" , maxlength = "12", @readonly = true, style = "width: 128px;" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Extension</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactPhoneExt, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group" style="display:none;">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactFax, new { @class = "form-control", type = "tel", maxlength = "10", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Birth Date</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactDOB, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker", @readonly = true })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="tab-pane" id="TabSecondaryContact" role="tabpanel">
                <br />
                <div>
                    <fieldset class="customFieldset">
                        <legend>Secondary Contact</legend>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Contact</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactName2, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>As</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactSalutation2, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Title</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactTitle2, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Email</lable>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactEmail2, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactPhone2, new { Value = string.IsNullOrEmpty(Model.obj_ClientCollectionInfo.ContactPhone2) ? "" : String.Format("{0}-{1}-{2}"
            , Model.obj_ClientCollectionInfo.ContactPhone2.Substring(0, 3)
            , Model.obj_ClientCollectionInfo.ContactPhone2.Substring(3, 3)
            , Model.obj_ClientCollectionInfo.ContactPhone2.Substring(6, Model.obj_ClientCollectionInfo.ContactPhone2.Length - 6)) , @class = "form-control", type = "tel", maxlength = "12", @readonly = true , style = "width: 128px;" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Extension</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactPhone2Ext, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group" style="display:none;">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactFax2, new { @class = "form-control", type = "tel", maxlength = "10", @readonly = true })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="col-md-2 col-sm-2 col-xs-2 rt">
                                <lable>Birth Date</lable>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactDOB2, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker", @readonly = true })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="tab-pane active" id="TabMiscInfo" role="tabpanel">
                <br />
                <div>
                    <div class="col-xs-12">
                        <fieldset class="customFieldset">
                            <legend>Misc Checkboxes</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.NewBusVar, new { @disabled = "disabled" }) <lable>New Bus Var</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.ClientAgentCode, new { @disabled = "disabled" })<lable> Agent Code</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.IsStatusRpt, new { @disabled = "disabled" })<lable> 30 Day Status Report</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.WebNoteAccess, new { @disabled = "disabled" })<lable> Web Notes</lable>
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.MiscVar, new { @disabled = "disabled" }) <lable>Misc Vars</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.IsNoCBR, new { @disabled = "disabled" })<lable> No Credit Reporting</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.IsCloseReturn, new { @disabled = "disabled" })<lable> Close/Return Report</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.AttachDocsOnWeb, new { @disabled = "disabled" })<lable> Web/Attach Docs</lable>
                                </div>
                                <div id="ErrorStatus" class="Invalid-feedback" style="display:none">
                                    You are not allowed to check both Status Rpt and Group Status.
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.NoEmail, new { @disabled = "disabled" }) <lable> No Email</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.EmailBackup, new { @disabled = "disabled" })<lable> Email Backup</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.BranchBox, new { @disabled = "disabled" })<lable> Branch Box</lable>
                                </div>
                                <div class="col-xs-3 checkbox-sm" style="display:none;">
                                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.IsStatusGroup, new { @disabled = "disabled" })<lable> 30 Day Group Status</lable>
                                </div>
                                <div class="Invalid-feedback" id="ErrorStatusGroupReport" style="display:none">
                                    You are not allowed to check both Close/Return and Status Rpt.
                                </div>
                                <div class="Invalid-feedback" id="ErrorCloseReturnStatusRpt" style="display:none">
                                    You are not allowed to check both Close/Return and Group Status.
                                </div>
                                <div class="Invalid-feedback" id="ErrorCloseReturnStatusGroup" style="display:none">
                                    You are not allowed to check both Close/Return and Group Status.
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    &nbsp;<br />
                    <div class="col-xs-4">
                        <fieldset class="customFieldset">
                            <legend>Credit Cards Accepted </legend>
                            <div class="col-xs-12 checkbox-sm form-group">
                                @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.Visa, new { @disabled = "disabled" }) <lable>Visa</lable>
                            </div>
                            <div class="col-xs-12 checkbox-sm form-group">
                                @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.CCMC, new { @disabled = "disabled" }) <lable>Master Card</lable>
                            </div>
                            <div class="col-xs-12 checkbox-sm form-group">
                                @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.Amex, new { @disabled = "disabled" }) <lable>Amex</lable>
                            </div>
                            <div class="col-xs-12 checkbox-sm form-group">
                                @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.Discover, new { @disabled = "disabled" })<lable> Discover</lable>
                            </div>
                            <div class="col-xs-12 checkbox-sm form-group">
                                @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.IsCCNone, new { @disabled = "disabled" }) <lable>None </lable>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-8">
                        <fieldset class="customFieldset">
                            <legend>Vars</legend>
                            <div class="col-xs-12 form-group">
                                <lable>Legals</lable> @Html.TextAreaFor(m => m.obj_ClientCollectionInfo.LegalVars, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-12 form-group">
                                <lable>Report</lable>  @Html.TextAreaFor(m => m.obj_ClientCollectionInfo.ReportVars, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-12 form-group">
                                <lable>Misc</lable> @Html.TextAreaFor(m => m.obj_ClientCollectionInfo.MscVars, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-12 form-group">
                                <lable>New Bus</lable> @Html.TextAreaFor(m => m.obj_ClientCollectionInfo.NBVar, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-12 form-group">
                                <lable>SIF Athority</lable> @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SIFAuthority, new { @class = "form-control", @readonly = true })
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TabBilling" role="tabpanel">
                <div>
                    &nbsp;<br />
                    <fieldset class="customFieldset">
                        <legend>Billing Address</legend>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable> Name</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoiceName, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Phone </lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoicePhone, new { Value = string.IsNullOrEmpty(Model.obj_ClientCollectionInfo.InvoicePhone) ? "" : String.Format("{0}-{1}-{2}"
            , Model.obj_ClientCollectionInfo.InvoicePhone.Substring(0, 3)
            , Model.obj_ClientCollectionInfo.InvoicePhone.Substring(3, 3)
            , Model.obj_ClientCollectionInfo.InvoicePhone.Substring(6, Model.obj_ClientCollectionInfo.InvoicePhone.Length - 6)), @class = "form-control", maxlength = "12", type = "tel", @readonly = true })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Attn</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoiceAttn, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Fax </lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoiceFax, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Address 1 </lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoiceAddr1, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="Invalid-feedback rt" id="ErrorInvoiceAddr1" style="display:none">
                                Please enter the Invoice Address.
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Vendor#</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.VendorNumber, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Address 2</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoiceAddr2, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3">

                            </div>
                        </div>


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>City/St/Zip</lable>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoiceCity, new { @class = "form-control", @readonly = true })
                                </div>
                                <div class="col-xs-2 NopaddingLR" style="margin-left: -11px;">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoiceState, new { @class = "form-control", @readonly = true ,  style = "padding: 5px; width: 42px;"})
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.InvoiceZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", @readonly = true , style = "width: 90px;" })
                                </div>
                            </div>
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3">

                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Email </lable>
                            </div>
                            <div class="col-xs-10">
                                @Html.TextAreaFor(m => m.obj_ClientCollectionInfo.InvoiceEmail, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>


                    </fieldset>
                </div>
                &nbsp;<br />
                <div>
                    <fieldset class="customFieldset">
                        <legend>Remit Address</legend>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable> Name</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitName, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Phone </lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitPhone, new { Value = string.IsNullOrEmpty(Model.obj_ClientCollectionInfo.RemitPhone) ? "" : String.Format("{0}-{1}-{2}"
            , Model.obj_ClientCollectionInfo.RemitPhone.Substring(0, 3)
            , Model.obj_ClientCollectionInfo.RemitPhone.Substring(3, 3)
            , Model.obj_ClientCollectionInfo.RemitPhone.Substring(6, Model.obj_ClientCollectionInfo.RemitPhone.Length - 6)), @class = "form-control", maxlength = "12", type = "tel", @readonly = true })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Attn</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitAttn, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-2 rt">
                                <lable>Fax </lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitFax, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Address 1 </lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitAddr1, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3">

                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Address 2</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitAddr2, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3">

                            </div>
                        </div>


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>City/St/Zip</lable>
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitCity, new { @class = "form-control", @readonly = true })
                                </div>
                                <div class="col-xs-2 NopaddingLR" style="margin-left: -11px;">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 42px;" })
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.RemitZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", @readonly = true, style = "width: 90px;" })
                                </div>
                            </div>
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3">

                            </div>
                        </div>

                        <div class="col-xs-12 form-group" style="display:none;">
                            <div class="col-xs-2 rt">
                                <lable>Email </lable>
                            </div>
                            <div class="col-xs-10">
                                @Html.TextAreaFor(m => m.obj_ClientCollectionInfo.RemitEmail, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>
            <div class="tab-pane" id="TabReporting" role="tabpanel">
                &nbsp;<br />
                <div class="col-xs-12 checkbox-sm">
                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.IsRegAck, new { @disabled = "disabled" }) <lable> Send Ack</lable>
                </div>
                <div class="col-xs-12 checkbox-sm">
                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.IsIndAck, new { @disabled = "disabled" }) <lable> Send Individual Ack</lable>
                </div>
                <div class="col-xs-12 checkbox-sm">
                    @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.EmailReports, new { @disabled = "disabled" }) <lable> Email Reports</lable>
                </div>
                <div class="col-xs-12">
                    @Html.TextAreaFor(m => m.obj_ClientCollectionInfo.EmailRptTo, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="tab-pane" id="TabLegalInfo" role="tabpanel">
                &nbsp;<br />
                <div>
                    <div class="col-xs-6">
                        <fieldset class="customFieldset">
                            <legend>Legal Info</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 rt">
                                    <lable>Legal</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.LegalName, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 rt">
                                    <lable>Entity</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.Entity, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 rt">
                                    <lable>DBA</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.DBA, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 rt">
                                    <lable>FBN</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.FBN, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 rt">
                                    <lable>FBN Cnty</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.FBNCounty, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-3 rt">
                                    <lable>Expire</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ExpireDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker", @readonly = true })
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col-xs-6">
                        <fieldset class="customFieldset">
                            <legend>Physical Address</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 rt">
                                    <lable>Address 1</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.LegalAddr1, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 rt">
                                    <lable>Address 2</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.LegalAddr2, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 rt">
                                    <lable>City/St/Zip</lable>
                                </div>
                                <div class="col-xs-8">
                                    <div class="col-xs-6 NopaddingLR">
                                        @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.LegalCity, new { @class = "form-control", @readonly = true })
                                    </div>
                                    <div class="col-xs-2 NopaddingLR"  style="margin-left: -11px;">
                                        @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.LegalState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 40px;" })
                                    </div>
                                    <div class="col-xs-4 NopaddingLR">
                                        @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.LegalZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", @readonly = true, style = "width: 80px;" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-6 checkbox-sm">
                        <lable>SC Agreement</lable> @Html.CheckBoxFor(m => m.obj_ClientCollectionInfo.SCAgreement, new { @disabled = "disabled" })
                    </div>
                </div>
                &nbsp;<br />
                <div class="col-xs-12">
                    &nbsp;<br />
                    <fieldset class="customFieldset">
                        <legend> Claims Info </legend>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Contact</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCContactName, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCPhone, new { Value = string.IsNullOrEmpty(Model.obj_ClientCollectionInfo.SCPhone) ? "" : String.Format("{0}-{1}-{2}"
            , Model.obj_ClientCollectionInfo.SCPhone.Substring(0, 3)
            , Model.obj_ClientCollectionInfo.SCPhone.Substring(3, 3)
            , Model.obj_ClientCollectionInfo.SCPhone.Substring(6, Model.obj_ClientCollectionInfo.SCPhone.Length - 6)), @class = "form-control", maxlength = "12", @readonly = true })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>As</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCContactAs, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCFax, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Title</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCContactTitle, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-1 rt">
                                <lable>Email</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCEmail, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Address 1</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCAddr1, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-1">

                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable>Address 2</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCAddr2, new { @class = "form-control", @readonly = true })
                            </div>
                            <div class="col-xs-1">

                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-2 rt">
                                <lable> City/St/Zip</lable>
                            </div>
                            <div class="col-xs-5">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCCity, new { @class = "form-control", @readonly = true })
                                </div>
                                <div class="col-xs-2 NopaddingLR" style="margin-left: -12px;">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 52px;" })
                                </div>
                                <div class="col-xs-4 NopaddingLR">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.SCZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", @readonly = true, style = "width: 110px;" })
                                </div>
                            </div>
                            <div class="col-xs-1">

                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="Exit" id="ExitModalShowClientInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

</script>

