﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.AccountFilterListVM
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Debtor Workcard</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        <div style="padding-bottom:20px">
            <div id="divFilter">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group" style="margin-left: -30px;">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <button type="button" id="btnFilter" class="btn btn-primary pull-left" onclick="FilterAccount();"><i class=""></i>Back to Filter</button>

                        <button type="button" id="btnRefresh" class="btn btn-primary pull-left" style="margin-left: 5px;" onclick="Refresh();"><i class=""></i>Refresh</button>
                    </div>
                    @*@Html.DropDownListFor(model => model.SortBy, Model.SortByList.OrderBy(m => m.Text), "--Sort By--", new { @id = "drpSortBy", @class = "form-control", style = "width : 15%;  margin-left : -52%; display: inline;", onchange = "drpSortBy_SelectedIndexChanged()" })

        @Html.DropDownListFor(model => model.SortType, Model.SortTypeList, new { @id = "drpSortType", @class = "form-control", style = "width : 15%; display: inline;", onchange = "drpSortType_SelectedIndexChanged()" })*@
                    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-102px">
                        @Html.DropDownListFor(model => model.SortBy, Model.SortByList.OrderBy(m => m.Text), "--Sort By--", new { @id = "drpSortBy", @class = "form-control", style = "width : 145px; display: inline;" })

                        @Html.DropDownListFor(model => model.SortType, Model.SortTypeList, new { @id = "drpSortType", @class = "form-control", style = "width : 145px; display: inline;", })

                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1" style="margin-left:-62px" >
                        <button type="button" id="btnSort" class="btn btn-primary pull-left" style="margin-left: 5px;" onclick="Sort();"><i class=""></i>Sort</button>
                        </div>
                    </div>
                </div>
          
            <button type="button" id="btnBackToFilter" class="btn btn-primary pull-left" onclick="BackToFilterAccount();" style="display: none;"><i class=""></i>Back to Filter</button>
             @*<button type="button" id="btnBackToAccountList" class="btn btn-primary pull-left" onclick="BackToAccountList();" style="display: none; margin-left: 5px;"><i class=""></i>Back to List</button>*@

            @*<button type="button" id="btnBackToNext" class="btn btn-primary pull-right" style="display: none; margin-right: 62px;"><i class=""></i>Next</button>
            <button type="button" id="btnBackToPrevious" class="btn btn-primary pull-right" style="display: none; margin-right: 6px;"><i class=""></i>Previous</button>*@

        </div>
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewCollections/Collectors/WorkCard/_AccountListNew.cshtml");}
        </div>

        <div id="EditAccount">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal1" role="dialog">
    <div class="modal-dialog "  style="width:1000px !important">

        <!-- Modal content-->
        <div class="modal-content"  style="width:1000px !important">

        </div>

    </div>
</div>


<script type="text/javascript">

        function OnPartialLoad() {
            FilterAccount();
        }

        function FilterAccount() {
            debugger;
            $.ajax({
                url: '@Url.Action("ShowFilterModal", "WorkCard")',
                success: function (data) {
                    debugger;
                    $('#myModal1 .modal-content').html(data);
                    //$("#myModal").css("width", "1000px");
                    $('#myModal1').modal("show");



                    //$('#FilterObj_NextContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_ReferalDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_NextStatusDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_FWDJudgmentDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_SCReviewDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_SCJudgmentDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_NextTrialDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_NextContactDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_ReferalDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_NextStatusDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_FWDJudgmentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_SCReviewDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_SCJudgmentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_NextTrialDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();

                    var today = new Date();
                    today.setDate(-60);
                    ////$('#FilterObj_NextContactDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", today);
                    //$('#FilterObj_NextContactDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_ReferalDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_ReferalDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_SCReviewDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", today);
                    //$('#FilterObj_SCReviewDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_NextTrialDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_NextTrialDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_SCJudgmentDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());



                    $('#FilterObj_NextContactDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_NextContactDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_ReferalDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_ReferalDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_SCReviewDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_SCReviewDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_NextTrialDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_NextTrialDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_SCJudgmentDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker();


                    var today30 = new Date();
                    today30.setDate(30);

                    var newdate = new Date();

                    newdate.setDate(newdate.getDate() + 30);

                    //$('#FilterObj_SCJudgmentDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", newdate);
                    //$('#FilterObj_FWDCourtDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_FWDCourtDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_FWDJudgmentDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                    //$('#FilterObj_FWDJudgmentDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", newdate);
                    $('#FilterObj_SCJudgmentDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_FWDCourtDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_FWDCourtDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_FWDJudgmentDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    $('#FilterObj_FWDJudgmentDateTo').datepicker({ format: 'mm/dd/yyyy' }).datepicker();


                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }


    $('#myModal1').on('shown.bs.modal', function () {
        $('#FilterObj_DebtAccountId').focus();
    })


        //$('body').on('shown.bs.modal', '#myModal', function () {
        //    $('input:visible:enabled:first', this).focus();
        //})



        function BackToFilterAccount() {
            debugger;
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("Index", "WorkCard")',
                datatype: "json",
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#BindView').empty();
                    $("#BindView").append(data);
                    //$('#list').html(data);
                    //$('#EditAccount').html();

                    makeDatatable('tblWorkCard');
                    OnPartialLoad();
                    hideLoadingImage();
                },
                error: function (xhr) {
                    hideLoadingImage();
                    alert("error");
                }
            });
        }

    function BackToAccountList() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("BackTolist", "WorkCard")',
            datatype: "json",
            type: "POST",
            success: function (data) {
                debugger;
                $('#BindView').empty();
                $("#BindView").append(data);
                //$('#list').html(data);
                //$('#EditAccount').html();

                makeDatatable('tblWorkCard');
                //OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function drpSortBy_SelectedIndexChanged() {
        debugger;
        showLoadingImage();
        var SortByValue = $('#drpSortBy option:selected').val();
        var SortTypeValue = $('#drpSortType option:selected').val();
        $.ajax({
            url: '@Url.Action("GetSortedResult", "WorkCard")',
            data: { SortByValue: SortByValue, SortTypeValue: SortTypeValue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCard');
                //OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function drpSortType_SelectedIndexChanged() {
        debugger;
      showLoadingImage();
        var SortByValue = $('#drpSortBy option:selected').val();
        var SortTypeValue = $('#drpSortType option:selected').val();
        $.ajax({
            url: '@Url.Action("GetSortedResult", "WorkCard")',
            data: { SortByValue: SortByValue, SortTypeValue: SortTypeValue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCard');
                //OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }



    function Sort() {
        debugger;
      showLoadingImage();
        var SortByValue = $('#drpSortBy option:selected').val();
        var SortTypeValue = $('#drpSortType option:selected').val();
        $.ajax({
            url: '@Url.Action("GetSortedResult", "WorkCard")',
            data: { SortByValue: SortByValue, SortTypeValue: SortTypeValue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCard');
                //OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["obj_ADClientLienInfo_ContactDOB",
                                "ADC_obj_ContactDOB2",
                                "obj_DebtAccount_ReferalDate",
                                "obj_DebtAccount_LastServiceDate",
                                "obj_DebtAccount_NextContactDate",
                                "obj_DebtAccount_LastPaymentDate",
                                "obj_DebtAccount_LastTrustDate",
                                "obj_DebtAccount_CloseDate",
                                "obj_DebtAccount_NextStatusDate",
                                "obj_DebtAccount_PaymentDueDate",
                                "NewSCReviewDate",
                                "NewReviewDate"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }
</script>



