﻿@model CRFView.Adapters.Collections.Reports.CollectionReports.ViewModels.CollectionReportsVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormPrintCollectionReports">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Collection Reports
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">


        <div class="col-xs-12 NopaddingLR">

            <div class="col-xs-4 NopaddingLR">
           

                @Html.ListBoxFor(m => m.ddlReportId, new List<SelectListItem> { }, new { @class = "form-control", size = 15 })
            </div>

            <div class="col-xs-8 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                        &nbsp;
                        <lable>All Clients</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-12" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                             @Html.DropDownList("ddlClientId", Model.ClientIdList, new { @class = "form-control" }) 
                         </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllIndustryTypes, new { @checked = true })
                        &nbsp;
                        <lable>All Industry Types</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-12" id="divAllIndustryTypes" style="@(Model.chkAllIndustryTypes == false ? "display:block" : "display:none")">
                            @Html.DropDownList("ddlIndustryTypeId", Model.IndustryTypeIdList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllDebtorIds, new { @checked = true })
                        &nbsp;
                        <lable>All DebtorIds</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-5" id="divAllDebtorIds" style="@(Model.chkAllDebtorIds == false ? "display:block" : "display:none")">
                            @Html.TextBoxFor(m => m.DebtorId, new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllStates, new { @checked = true })
                        &nbsp;
                        <lable>All States</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-5" id="divAllStates" style="@(Model.chkAllStates == false ? "display:block" : "display:none")">
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllDesks, new { @checked = true })
                        &nbsp;
                        <lable>All Desks</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-12" id="divAllDesks" style="@(Model.chkAllDesks == false ? "display:block" : "display:none")">
                            @Html.DropDownList("ddlDeskId", Model.DeskIdList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllSman, new { @checked = true })
                        &nbsp;
                        <lable>All Sman</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-12" id="divAllSman" style="@(Model.chkAllSman == false ? "display:block" : "display:none")">
                            @Html.DropDownList("ddlSmanId", Model.SmanIdList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkByAssignDate)
                        &nbsp;
                        <lable>By Assign Date</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.AssignDateFrom, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                        </div>
                        <div class="col-xs-2">
                            <lable>To</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.AssignDateThru, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkByTrxDate)
                        &nbsp;
                        <lable>By Transaction Date</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.TrxDateFrom, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                        </div>
                        <div class="col-xs-2">
                            <lable>To</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.TrxnDateThru, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                        </div>
                    </div>
                
                </div>

                <div class="form-group col-xs-12 lt" style="display:none;">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllStatusGroups, new { @checked = true })
                        &nbsp;
                        <lable>All Status Groups</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-12" id="divAllStatusGroups" style="@(Model.chkAllStatusGroups == false ? "display:block" : "display:none")">
                            @Html.DropDownList("ddlStatusGroupId", Model.StatusGroupIdList, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                
                <div class="form-group col-xs-12 lt" style="display:none;">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllStatus, new { @checked = true })
                        &nbsp;
                        <lable>All Status</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-12" id="divAllStatus" style="@(Model.chkAllStatus == false ? "display:block" : "display:none")">
                            @Html.ListBoxFor(m => m.ddlStatusId, Model.StatusIdList, new { @class = "form-control", size = 5 })
                        </div>
                    </div>
                </div>
                
            </div>
           
        </div>
      
        <div class="col-xs-12 NopaddingLR">

            <div class="col-xs-4 NopaddingLR">
                <div class="form-group col-xs-12 lt">
                    <br /><br />
                        <fieldset class="customFieldset">
                            <legend>Report Category to Display</legend>                        
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtReportCategoryOption, "NB")
                                &nbsp;
                                <lable>New Business</lable>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtReportCategoryOption, "Production", new { @checked = true })
                                &nbsp;
                                <lable>Production</lable>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtReportCategoryOption, "QA")
                                &nbsp;
                                <lable>QA</lable>
                            </div>

                        </fieldset>
          
                </div>
            </div>

            <div class="col-xs-8 NopaddingLR">
                <div class="form-group col-xs-12 lt">
                    <br /><br />
                    <div class="col-xs-5">
    <fieldset class="customFieldset">
        <legend>Print Option</legend>
        <div class="form-group col-xs-12 lt">
            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send to Printer")
            &nbsp;
            <lable>Send to Printer</lable>
        </div>

        <div class="form-group col-xs-12 lt">
            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
            &nbsp;
            <lable>Send To PDF</lable>
        </div>

    </fieldset>
                        </div>
</div>
                </div>
            </div>

        </div>

    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnPrintCollectionReportsClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearPrintCollectionReports()" />
            <input type="button" id="btnPrintCollectionReportsOK" value="OK" class="btn btn-primary" onclick="OKPrintCollectionReports()" />
            <input type="button" value="Cancel" id="btnPrintCollectionReportsCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='chkAllClients']").click(function () {
        debugger;
        var chkAllClients = $(this).val();

        if (this.checked) {
            $('#divAllClients').hide();
        }
        else {
            $('#divAllClients').show();
        }
    });

    $("[name='chkAllIndustryTypes']").click(function () {
        debugger;
        var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllIndustryTypes').hide();
        }
        else {
            $('#divAllIndustryTypes').show();
        }
    });

    $("[name='chkAllDebtorIds']").click(function () {
        debugger;
        var chkAllDebtorIds = $(this).val();

        if (this.checked) {
            $('#divAllDebtorIds').hide();
        }
        else {
            $('#divAllDebtorIds').show();
        }
    });

    $("[name='chkAllStates']").click(function () {
        debugger;
        var chkAllStates = $(this).val();

        if (this.checked) {
            $('#divAllStates').hide();
        }
        else {
            $('#divAllStates').show();
        }
    });

    $("[name='chkAllDesks']").click(function () {
        debugger;
        var chkAllDesks = $(this).val();

        if (this.checked) {
            $('#divAllDesks').hide();
        }
        else {
            $('#divAllDesks').show();
        }
    });

    $("[name='chkAllSman']").click(function () {
        debugger;
        var chkAllSman = $(this).val();

        if (this.checked) {
            $('#divAllSman').hide();
        }
        else {
            $('#divAllSman').show();
        }
    });

    $("[name='chkAllStatusGroups']").click(function () {
        debugger;
        var chkAllStatusGroups = $(this).val();

        if (this.checked) {
            $('#divAllStatusGroups').hide();
        }
        else {
            $('#divAllStatusGroups').show();
        }
    });

    $("[name='chkAllStatus']").click(function () {
        debugger;
        var chkAllStatus = $(this).val();

        if (this.checked) {
            $('#divAllStatus').hide();
        }
        else {
            $('#divAllStatus').show();
        }
    });

    function ClearPrintCollectionReports() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#AssignDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
        $('#AssignDateThru').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

        $('#TrxDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
        $('#TrxnDateThru').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
 
        document.getElementById("chkAllClients").checked = false;
        document.getElementById("chkAllIndustryTypes").checked = false;
        document.getElementById("chkAllDebtorIds").checked = false;
        document.getElementById("chkAllStates").checked = false;
        document.getElementById("chkAllDesks").checked = false;
        document.getElementById("chkAllSman").checked = false;
        document.getElementById("chkAllStatusGroups").checked = false;
        document.getElementById("chkAllStatus").checked = false;

        $('#divAllClients').show();
        $('#divAllIndustryTypes').show();
        $('#divAllDebtorIds').show();
        $('#divAllStates').show();
        $('#divAllDesks').show();
        $('#divAllSman').show();
        $('#divAllStatusGroups').hide();
        $('#divAllStatus').hide();
    }

    $("[name='RbtReportCategoryOption']").click(function () {
        debugger;
        var ReportCategoryValue = $(this).val();
        fillReportListByCategoryType(ReportCategoryValue);
    });


    function fillReportListByCategoryType(ReportCategoryValue) {
        debugger;
        var ddlId = $("#ddlReportId");
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetReportIdList", "CollectionReports")',
            data: { ReportCategoryValue: ReportCategoryValue },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                ddlId.html("");
                //var selectvalue = "";
                //ddlId.append($('<option></option>').val(-1).html("--Select--"));
                for (var i = 0; i < data.length; i++) {
                    ddlId.append($('<option></option>').val(data[i].Id).html(data[i].Name));
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve Reports.');
            }
        });
    }


    //button OKPrintCollectionReports
    function OKPrintCollectionReports() {
        debugger;
        showLoadingImage();

        var ReportId = $("#ddlReportId").val();

        if (ReportId < 0 || ReportId == null) {
            alert('Select Report.');
            hideLoadingImage();
            return false;
        }

        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormPrintCollectionReports').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("CollectionReportsPrint", "CollectionReports")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintCollectionReportSuccessPopup();
                    hideLoadingImage();
                    return false;
                }
 
                if (data != "error") {
                    window.open(data);
                    CreateCollectionReportSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function CreateCollectionReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Collection Report Processed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function PrintCollectionReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Collection Report Printed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>






