﻿@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Collection Reports</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="AuditDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "CollectionReports")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#AssignDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                $('#AssignDateThru').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

                $('#TrxDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                $('#TrxnDateThru').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                
                document.getElementById("chkAllClients").checked = true;
                document.getElementById("chkAllIndustryTypes").checked = true;
                document.getElementById("chkAllDebtorIds").checked = true;
                document.getElementById("chkAllStates").checked = true;
                document.getElementById("chkAllDesks").checked = true;
                document.getElementById("chkAllSman").checked = true;
                document.getElementById("chkAllStatusGroups").checked = true;
                document.getElementById("chkAllStatus").checked = true;
        

                $('#divAllClients').hide();
                $('#divAllIndustryTypes').hide();
                $('#divAllDebtorIds').hide();
                $('#divAllStates').hide();
                $('#divAllDesks').hide();
                $('#divAllSman').hide();
                $('#divAllStatusGroups').hide();
                $('#divAllStatus').hide();

                fillReportListByCategoryType('Production'); //Bind ReportList ddl

                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


</script>





