﻿@model CRFView.Adapters.ADSchedulerReport
@{
    Layout = null;
}

<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.PKID)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Friendly Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.taskname, new { @class = "form-control" })
                <div id="Errortaskname" class="Invalid-feedback" style="display:none">
                    Please Enter Friendly Name.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Alias:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.taskalias, new { @class = "form-control" })
                <div id="Errortaskalias" class="Invalid-feedback" style="display:none">
                    Please Enter Alias.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Type:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.type, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Assembly File:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.assemblyfile, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4"></lable>
            <div class="col-md-6  col-sm-6 col-xs-6 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsCollections)<lable class="Checkbox-lable">IsCollections</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4"></lable>
            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsLiens)<lable class="Checkbox-lable">IsLiens</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4"></lable>
            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsManagement)<lable class="Checkbox-lable">IsManagement</lable>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("SchedulerReportSave", "SchedulerReport")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblSchedulerReport');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#taskname").val().length <= 0) {
            $("#Errortaskname").show();
            return false;
        }
        else {
            $("#Errortaskname").hide();
        }
        if ($("#taskalias").val().length <= 0) {
            $("#Errortaskalias").show();
            return false;
        }
        else {
            $("#Errortaskalias").hide();
        }

        return true;
    }
</script>



