﻿@model CRFView_WEB.ViewModels.CLientUsersVM

@{
    Layout = null;
}


<div>
    <table id="tblClientUsers" class="table table-bordered dataTable table-hover " border="1">

        <thead>
            <tr>
               <th></th>
                <th class="no-sort">Client Code</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Last Login Date</th>
                <th class="no-sort">Is Inactive</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>



