﻿@model IEnumerable<CRFView.Adapters.ADCountyRecorder>
@{
    
    Layout = null;
}


<div>
    <table id="tblCountyRecorder" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Recorder Number</th>
                <th width="19%">Recorder Name</th>
                <th width="14%">Recorder County</th>
                <th width="13%">Phone#</th>
                <th>Important Info</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.CountyRecorderNum</td>     
                    <td>@i.RecorderName</td>  
                    <td>@i.RecorderCounty</td>
                    <td>@i.RecorderPhone</td>  
                    <td>@i.RecorderInfo</td>
                          
                    <td>
                            <button onclick="ShowDetails(@i.CountyRecorderID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
