﻿@model IEnumerable<CRFView.Adapters.ADCountyRecorder>
@{

}

<div>
    <h3 class="page-header">County Recorder</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewConfiguration/Liens/CountyRecorder/_CountyRecorderList.cshtml");}
        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-width">

        <!-- Modal content-->
        <div class="modal-content modal-width">

        </div>

    </div>
</div>


<script type="text/javascript">

        function OnPartialLoad() {

        }

        function AddDetails() {
            $.ajax({
                url: '@Url.Action("CountyRecorderAdd", "CountyRecorder")',
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("CountyRecorderDetails", "CountyRecorder")',
                data: {
                    id: id
                },
                success: function (data) {

                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");

                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            debugger;
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {

                $.ajax({
                    url: '@Url.Action("Search", "CountyRecorder")',
                    data: {
                        value: searchVal,
                        Key: SearchKey
                    },
                    type: "POST",
                    success: function (data) {
                        $('#list').html(data);
                        makeDatatable('tblCountyRecorder');
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
            return false;
        }


        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "CountyRecorder")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblCountyRecorder');
                    makeDatatable('tblCountyRecorder');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

</script>


