﻿
@model CRFView.Adapters.Liens.TXNoticeCycle.SmartMailerFile.ViewModels.SmartMailerFileVM
@{
    Layout = null;
}

<style>

    .rt{
        text-align
    }

</style>


<form id="formSmartMailerFile">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Create TX-SmartMailer File</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-12 ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>

                    <br />
                    <br />
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-5 rt">
                            <lable>Thru Date Requested</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.DateTimePicker1, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />


                </fieldset>
            </div>
        </div>
    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Message)
    </div>


    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnVoidInvoiceClear" value="Clear" class="btn btn-primary pull-left" style="margin-left: 14px;" onclick="Clear();" />
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="SaveSmartMailerFile();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" style="margin-right: 15px;" />

        </div>
    </div>
</form>




<script>


    function SaveSmartMailerFile() {

        debugger;
        showLoadingImage();
     var data = $('#formSmartMailerFile').serialize();
        $.ajax({
            url: '@Url.Action("SmartMailerFileDetails", "SmartMailerFile")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                //$('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
          
                if (data = "No Records Selected, Please Run Extract") {
                    Warning();
                    hideLoadingImage();
                }

                else if (data != "error") {
                    window.open(data);
                    CreateSmartMailerFileSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');
                    hideLoadingImage();
                }
                return false;


            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }




    function Clear() {
        debugger;
        $('#DateTimePicker1').val("");
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }
    function CreateSmartMailerFileSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Process Completed",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function Warning() {
        debugger;

        swal({
            title: "No Records Selected, Please Run Extract",
            type: "error",
            confirmButtonText: "ok"
        });
    }


</script>



