﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.JobListVM
@{
    Layout = null;
}


<style>
    #tblDataEntries_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<div>
    <input type="hidden" id="Jvalue" />
    <table id="tblEmailFaxUpdates" class="table table-bordered table-hover grid" border="1" style="width:100% !important;">

        <thead>
            <tr>
                <th style="width:3%" class="no-sort">View</th>
                <th style="width:7%;">CRFS #<br />Client #</th>
                <th style="width:24%;">Job Name<br />Job Address</th>
                <th style="width:22%;vertical-align: top;">Customer<br />Cust Email</th>
                <th style="width:10%;vertical-align: top;">Cust Ph#<br />Cust Fax</th>
                <th style="width:22%;vertical-align: top;">General Contractor<br />GC Email</th>
                <th style="width:10%;vertical-align: top;">GC Ph#<br />GC Fax</th>

                @*<th style="width:1%;"  class="no-sort">Edit</th>
        <th style="width:3%;">Entry Id</th>
        <th style="width:3%;">Batch Id</th>
        <th style="width:3%;">Batch Date</th>
        <th style="width:3%;">Client Code</th>
        <th style="width:3%;">Source</th>
        <th style="width:5%;">Job Num </th>
        <th style="width:8%;"> Job Name </th>
        <th style="width:5%;"> Job Add1</th>
        <th style="width:4%;"> Job City </th>
        <th style="width:3%;"> Job State </th>
        <th style="width:3%;"> Job Zip </th>
        <th style="width:8%;"> Cust Name </th>
        <th style="width:4%;"> Est Balance </th>
        <th style="width:3%;"> Start Date</th>
        <th style="width:3%;"> Prelim Box </th>
        <th style="width:3%;"> Warning </th>
        <th style="width:3%;"> Error </th>
        <th style="width:10%;"> Error/Warning Description</th>*@
            </tr>
        </thead>
        <tbody>
            @{
                var j = 0;
                foreach (var i in Model.ObjJobList)
                {
                        <tr id="tr@(j)">
                            <td>
                                <button onclick="ShowDetails(@i.JobId,@j)" class="btn btn-default btn-icon btn-pure">
                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>@i.JobId<br />@i.ClientCode</td>
                            <td>@i.JobName <br /> @i.JobAdd1,@i.JobAdd2,@i.JobCity,@i.JobState </td>
                            <td>@i.ClientCustomer<br /><u style="color: #0563c1;">@i.CustEmail</u></td>
                            <td>@CRF.BLL.CRFView.CRFView.GetFormattedPhoneNumber(@i.CustPhNUm) <br />@CRF.BLL.CRFView.CRFView.GetFormattedPhoneNumber(i.CustFax)</td>
                            <td>@i.GeneralContractor<br /><u style="color: #0563c1;">@i.GCEmail</u></td>
                            <td>@CRF.BLL.CRFView.CRFView.GetFormattedPhoneNumber(i.GCPhNum)<br />@CRF.BLL.CRFView.CRFView.GetFormattedPhoneNumber(i.GCFax)</td>
                        </tr>
                    j++;
                            }
                        }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    @*function ShowDetails(Id) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadBatchJob", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#EditBatchJob').html(data);
                CheckMinDate();

                $('#list').hide();

                $('#NewContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                makeDatatable('tblOtherLegals');
                makeDatatable('tblDebtDocuments');

                hideLoadingImage();

                document.getElementById('divAdd').style.display = 'none';
                document.getElementById('divFilter').style.display = 'none';
                document.getElementById('btnBackToFilter').style.display = 'block';
                document.getElementById('btnBackToList').style.display = 'block';

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }*@


    function ShowDetails(JobID,j, ActiveList, ActiveTab) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadJob","WorkCardLiens")',
            data: { JobID: JobID },
            type: "POST",
            success: function (data) {
                debugger;
                //$('#EditBatchJob').html(data);
                $('#Jvalue').val(j);
                //$('[id^=newtr]').empty();
                $(".newtr").empty();
                //$('<tr id="newtr"><td colspan="9">' + data + '</td></tr>').insertAfter($('#tr' + j).closest('tr'));
               // $('<tr id=' + j + ' class="newtr"><td  colspan="6" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                $('<tr id=' + j + ' class="newtr"><td  colspan="12" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));

                var a = parseInt(j);
                var b = a - 1;
                if (b < 0) {

                    location.href = "#";
                    location.href = "#th";

                }
                else {
                    location.href = "#";
                    location.href = "#tr" + b.toString();
                }

                if ((typeof ActiveList !== 'undefined') && (typeof ActiveTab !== 'undefined')) {
                    RemoveActiveClass_DataEntries();
                    AddActiveClass_DataEntries(ActiveList, ActiveTab);
                }

                 makeDatatable('tblAdditionalLegalParties1');
                makeDatatable('tblNotes');
                makeDatatable('tblActionHistory');
                makeDatatable('tblDocuments');
                makeDatatable('tblNoticeHistory');
                makeDatatable('tblPendingNotices');
                makeDatatable('tblNotes1');
                makeDatatable('tblOtherNoticeHistory');
                makeDatatable('tblBillableItems');
                hideLoadingImage();
                CheckMinDate();
              
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

   @*function ShowDetails(JobId,j,listname, ActiveList, ActiveTab) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadJob","WorkCardLiens")',
            data: { JobId: JobId },
            type: "POST",
            success: function (data) {

                debugger;
                $('#Jvalue').val(j);
                $('#ListValue').val(listname);
                //var j = $(".newtr").attr('id');
                $(".newtr").empty();
                //$('<tr id="newtr"><td colspan="9">' + data + '</td></tr>').insertAfter($('#tr' + j).closest('tr'));
               // $('<tr id=' + j + ' class="newtr"><td  colspan="12" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                if (listname == 'JobList') {
                    $('<tr id=' + j + ' class="newtr"><td  colspan="12" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                }
                if (listname == 'NoteList') {
                    $('<tr id=' + j + ' class="newtr"><td  colspan="8" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                }
                if (listname == 'Txlist') {
                    $('<tr id=' + j + ' class="newtr"><td  colspan="6" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                }
                var a = parseInt(j);
                var b = a - 1;
                if (b < 0) {

                    location.href = "#";
                    location.href = "#th";

                }
                else {
                    location.href = "#";
                    location.href = "#tr" + b.toString();
                }



                if ((typeof ActiveList !== 'undefined') && (typeof ActiveTab !== 'undefined')) {
                    debugger;
                    RemoveActiveClass_WorkCard();
                    AddActiveClass_WorkCard(ActiveList, ActiveTab);
                }


                makeDatatable('tblAdditionalLegalParties1');
                makeDatatable('tblNotes');
                makeDatatable('tblActionHistory');
                makeDatatable('tblDocuments');
                makeDatatable('tblNoticeHistory');
                makeDatatable('tblPendingNotices');
                makeDatatable('tblNotes1');
                makeDatatable('tblOtherNoticeHistory');
                makeDatatable('tblBillableItems');
                hideLoadingImage();


                CheckMinDate();
                document.getElementById('divFilter').style.display = 'none';
                document.getElementById('btnBackToFilter').style.display = 'block';
               // document.getElementById('btnBackToJobList').style.display = 'block';

               // document.getElementById("chkNewDsk").checked = false;
                $('#divNewDsk').hide();
                $('#divNewRev').show();

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }*@



    function AddActiveClass_WorkCard(ActiveList, ActiveTab) {
        debugger;
        var current = document.getElementById(ActiveList);
        current.className += " active";
        var currentTab = document.getElementById(ActiveTab);
        currentTab.className += " active";
    }

    function RemoveActiveClass_WorkCard() {
        debugger;
        var IdList = ["JobInfo",
                        "Notes",
                        "ActionHistory",
                        "PrelimNotices",
                        "AdditionalLegalParties",
                        "MiscInfo",
                        "OtherNotices",
                        "BillableItems",
                        "Documents",
                        "ClientMiscInfo",
                        "TabJobInfo",
                        "TabNotes",
                        "TabActionHistory",
                        "TabPrelimNotices",
                        "TabAdditionalLegalParties",
                        "TabMiscInfo",
                        "TabOtherNotices",
                        "TabBillableItems",
                        "TabDocuments",
                        "TabClientMiscInfo"];
        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                debugger;
                var element = document.getElementById(name);
                element.classList.remove("active");
            }
        });
    }

</script>



