﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.JobListVM
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Email Fax Updates</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        <div style="padding-bottom:20px">
            <div id="divFilter">


                <div class="col-md-4 col-sm-4 col-xs-4">
                    @Html.DropDownListFor(model => model.EmailFaxSortBy, Model.EmailFaxSortByList.OrderBy(m => m.Text), "--Sort By--", new { @id = "drpSortBy", @class = "form-control", style = "width : 145px; display: inline;" })

                    @Html.DropDownListFor(model => model.EmailFaxSortType, Model.EmailFaxSortTypeList, new { @id = "drpSortType", @class = "form-control", style = "width : 145px; display: inline;margin-left: 5px;", })

                </div>
                <div class="col-md-1 col-sm-1 col-xs-1" style="margin-left: -85px;margin-bottom: 6px;">
                    <button type="button" id="btnSort" class="btn btn-primary pull-left" style="margin-left: 5px;" onclick="Sort();"><i class=""></i>Sort</button>
                </div>
            </div>
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewLiens/DataEntry/EmailFaxUpdates/_ActiveJobsList.cshtml");}
            </div>

            </div>

        </div>
    </div>
<script type="text/javascript">
    function OnPartialLoad() {

    }

       function Sort() {
        debugger;
      showLoadingImage();
        var SortByValue = $('#drpSortBy option:selected').val();
        var SortTypeValue = $('#drpSortType option:selected').val();
        $.ajax({
            url: '@Url.Action("GetSortedResult", "EmailFaxUpdates")',
            data: { SortByValue: SortByValue, SortTypeValue: SortTypeValue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblEmailFaxUpdates');
                //OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["ObjvwJobList_StartDate",
            "ObjvwJobList_EndDate",
            "ObjvwJobList_DateAssigned",
            "ObjvwJobList_RevDate",
            "ObjvwJobList_NoticeSent",
            "ObjvwJobList_VerifiedDate",
            "obj_ClientEdit_ContactDOB",
            "obj_ClientEdit_ContactDOB2",
            "ObjvwJobList_CanDate",
            //"ObjvwJobList_NoticeSent",
            "ObjvwJobList_AmendedDate",
            "ObjvwJobList_ResendDate",
            "ObjvwJobList_LienAssignDate",
            "ObjvwJobList_LEAssignDate",
            "ObjvwJobList_EndDate",
            "ObjvwJobList_FileDate",
            "ObjvwJobList_BondAssignDate",
            "ObjvwJobList_BondDDD",
            "ObjvwJobList_NOIAssignDate",
            "ObjvwJobList_LienReleaseAssign",
            "ObjvwJobList_ReleaseFileDate",
            "ObjvwJobList_SNAssignDate",
            "ObjvwJobList_SNDDD",
            "ObjvwJobList_BondDate",
            "ObjvwJobList_LienDate",
            "ObjvwJobList_LienExtDate",
            "ObjvwJobList_NOIDate",
            "ObjvwJobList_SNDate",
            "ObjvwJobList_SNReleaseDate",
            "ObjvwJobList_BondReleaseDate",
            "objJob_LienAssignDate",
            "objJob_LienExtDate",
            "objJob_EndDate",
            "objJob_FileDate",
            "objJob_LienReleaseAssign",
            "objJob_ReleaseFileDate",
            "objJob_BondAssignDate",
            "objJob_BondDDD",
            "objJob_SNAssignDate",
            "objJob_SNDDD",
            "objJob_NOIAssignDate",
            "ObjJobList_NOCRecDate",
            "ObjJobList_JobCompletionDate",
            "ObjJobList_NOCDate",
            "obj_JobEdit_JobCompletionDate",
            "obj_JobEdit_NOCDate",
            "obj_JobEdit_NOCRecDate",
            "obj_JobEdit_RevDate"

        ];
        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());

        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "1/1/0001" || date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }
            }
        });
    }
</script>
