﻿@model IEnumerable<CRFView.Adapters.ADClientEDIReference>
@{
    
    Layout = null;
}


<div>
    <table id="tblClientEDIReference" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Interface Name</th>
                <th>Input Field</th>
                <th>Client Code</th>
                <th>Client Name</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model) 
            {
                <tr>
                    <td>@i.InterfaceName</td>
                    <td>@i.InputField</td>    
                    <td>@i.ClientCode</td>
                    <td>@i.ClientName</td>            
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
