﻿@model CRFView.Adapters.ADClientEDIReference
@{
   Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    @Html.HiddenFor(m=>m.Id)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize">Interface Name:</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.ClientInterfaceId, new SelectList(Model.ClientInterfaceList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                <lable class="Label-FontSize">Input Field:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.InputField, new { @class = "form-control" })
                <div id="ErrorInputField" class="Invalid-feedback" style="display:none">
                    Please Enter Input Field.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-3 col-sm-3 col-xs-3 Label-FontSize">Client:</lable>
            <div class="col-md-9 col-sm-9 col-xs-9">
                @Html.DropDownListFor(m => m.ClientId, new SelectList(Model.ClientList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
            </div>
        </div>
 
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });
  
    function Save() {
        if (Validate()) {
            $('#myModal').modal('hide');
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("ClientEDIReferenceSave", "ClientEDIReference")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientEDIReference');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#InputField").val().length <= 0) {
            $("#ErrorInputField").show();
            return false;
        }
        else {
            $("#ErrorInputField").hide();
        }

        return true;
    }
</script>



