﻿@model IEnumerable<CRFView.Adapters.ADClientEDIReference>
    @{
    
    }

    <div>
        <h3 class="page-header">Client EDI Reference</h3>
        <hr />
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/ClientEDIReference/_ClientEDIReferenceList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-width">

            <!-- Modal content-->
            <div class="modal-content modal-width">

            </div>

        </div>
    </div>


    <script type="text/javascript">

        function OnPartialLoad() {

        }
        function AddDetails() {
            $.ajax({
                url: '@Url.Action("ClientEDIReferenceAdd", "ClientEDIReference")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("ClientEDIReferenceDetails", "ClientEDIReference")',
                data: {
                    id: id
                },
                success: function (data) {
                  
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show"); 
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }
        function Search() {
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {

                $.ajax({
                    url: '@Url.Action("Search", "ClientEDIReference")',
                    data: {
                        value: searchVal,
                        Key: SearchKey
                    },
                    type: "POST",
                    success: function (data) {
                        $('#list').html(data);
                        makeDatatable('tblClientEDIReference');
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
            return false;
        }

        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "ClientEDIReference")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblClientEDIReference');
                    makeDatatable('tblClientEDIReference');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


