﻿@model IEnumerable<CRFView.Adapters.ADClientReportsLog>
@{

}

<div>
    <h3 class="page-header">ClientReports Log</h3>
    <hr />
    <div class="panel-body">
        <form>
            <h4 class="col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                Search History
            </h4>
            
                <div class="row col-md-9 col-sm-9 col-xs-9" style="border-color:  lightgray; border-style: solid; margin-left:  10px; margin-bottom:  15px;  padding-top:  15px;border-radius:  15px;">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
                        <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left:0px">
                            @Html.DropDownList("ddlFilter", new SelectList(ViewBag.FilterList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto ;background-color: #f3f7f9" })
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 input-search input-search-dark" style="padding-left: 0px;">
                            <input type="text" id="txtSearch" class="form-control" placeholder="Search..." style="float: left; height:30%;border-radius:unset">
                            <button onclick="return Refresh()" class="btn btn-default btn-icon btn-pure input-search-close" style="color:black; margin-right:5px;">
                                <i class="icon wb-close" aria-hidden="true"></i>
                            </button>
                        </div>
                        <button onclick="return Search();" class="btn btn-primary modal-link col-md-2 col-sm-2 col-xs-2 ">
                            <i class="icon wb-search" aria-hidden="true"></i> Search
                        </button>
                    </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-bottom:5px">
                    <div class="radio-custom radio-sm radio-inline" style="float:left">
                        @Html.RadioButton("Status", "Errors")
                        <label for="Errors">Errors</label>
                    </div>
                    <div class="radio-custom radio-sm radio-inline" style="float:left">
                        @Html.RadioButton("Status", "InProgress")
                        <label for="InProgress">In Progress</label>
                    </div>
                    <div class="radio-custom radio-sm radio-inline" style="float:left">
                        @Html.RadioButton("Status", "Pending")
                        <label for="Pending">Pending</label>
                    </div>
                    <div class="radio-custom radio-sm radio-inline" style="float:left">
                        @Html.RadioButton("Status", "ToBeEmailed")
                        <label for="ToBeEmailed">To Be Emailed</label>
                    </div>
                    <div class="radio-custom radio-sm radio-inline" style="float:left">
                        @Html.RadioButton("Status", "RunDate")
                        <label for="RunDate">Run Date</label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBox("dtStartDate", "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 form-group" style="text-align:right;">
                <button onclick="return  ClearList();" class="btn btn-primary">
                    <i class="icon wb-close" aria-hidden="true"></i> Clear
                </button>
                <button onclick="return Refresh();" class="btn btn-primary">
                    <i class="icon wb-refresh" aria-hidden="true"></i> Refresh
                </button>
            </div>



            <div id="list" class="col-md-12 col-sm-12 col-xs-12">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/ClientReportsLog/_ClientReportsLogList.cshtml");}
            </div>
        </form>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {
        $('#dtStartDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
    }

    $(':radio[name=Status]').click(function () {
        debugger;
        BindFilterList();

    });

    $('#dtStartDate').change(function () {
        $('input[value=RunDate]').prop('checked', true);
        $('.datepicker').hide()
        BindFilterList();
    });


    function Search() {
        BindFilterList();
        return false;
    }

    function Refresh() {
        debugger;
        $('#txtSearch').val('');
        BindFilterList();
        return false;
    }

    function ClearList() {
        debugger;
        $('#txtSearch').val('');
        $('#list').empty();
        return false;
    }


    function BindFilterList() {
        var searchVal = $("#txtSearch").val().trim();
        var checkedradio = $('[name="Status"]:radio:checked').val();
        var date = $('#dtStartDate').val();
        var searchKey = $('#ddlFilter').val();

        $.ajax({
            url: '@Url.Action("Search", "ClientReportsLog")',
            data: {
                SearchVal: searchVal,
                SearchKey:searchKey,
                ReadioValue: checkedradio,
                date: date,
            },
            type: "POST",
            success: function (data) {

                $('#list').html(data);
                makeDatatable('tblClientReportsLog');
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }
</script>


