﻿

@model CRFView.Adapters.Clients.ClientManagementViewModels.RapidPayClientsVM

@{
    Layout = null;
}

<style>
    .rt {
        text-align: right;
    }

    .NopaddingLR {
        padding-right: 6px !important;
        padding-left: 5px !important;
    }
</style>

<form id="FormEditRapidPayClients">

    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            Edit RapidPay Clients
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-7 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend></legend>

                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Client#</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.ClientCode, new { @readonly = true , @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>ClientName</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.ClientName, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Addr1</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.AddressLine1, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Addr2</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.AddressLine2, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>C/S/Zip</lable>
                            </div>
                            <div class="col-xs-4 rt">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.City, new { @class = "form-control", style = "display:inline;" })
                            </div>
                            <div class="col-xs-1 rt">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.State, new { @class = "form-control", style = "display:inline; width:66px; margin-left: -25px;; " })
                            </div>
                            <div class="col-xs-4 rt">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.PostalCode, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Phone#</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.PhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10",@class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Fax#</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Email</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.Email, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Contact</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.ContactName, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Salutation</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.ContactSalutation, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>Title</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.ContactTitle, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 rt">
                                <lable>SetUpDate</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.SetupDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 checkbox-sm rt">
                                @Html.CheckBoxFor(m => m.chkFollowUp, new { style = "display:inline;" })&nbsp;
                                <lable>Next Contact On</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objADClientRapidPay.NextContactDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12">&nbsp;</div>

                    </fieldset>
                </div>

                <div class="col-xs-5 NopaddingLR">

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 rt">
                                <lable>Sales Team</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.DropDownListFor(m => m.SalesTeamId, Model.SalesTeamList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 rt">
                                <lable>Service Team</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.DropDownListFor(m => m.ServiceTeamId, Model.ServiceTeamList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 rt">
                                <lable>Industry</lable>
                            </div>
                            <div class="col-xs-6">
                                @Html.DropDownListFor(m => m.ClientTypeId, Model.ClientTypeList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">&nbsp;</div>

                    <div class="col-xs-12">
                        <div class="nav-tabs-horizontal" data-plugin="tabs">
                            <ul class="nav nav-tabs" role="tablist" style="margin-left: 38px;">
                                <li id="OrderInfo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabOrderInfo" aria-controls="TabOrderInfo" role="tab" aria-selected="false">Order Info</a></li>
                                <li id="CreditCard" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabCreditCard" aria-controls="TabCreditCard" role="tab" aria-selected="false">Credit Card</a></li>
                                <li id="Billing" class="nav-item " role="presentation"><a class="nav-link" data-toggle="tab" href="#TabBilling" aria-controls="TabBilling" role="tab" aria-selected="false">Billing</a></li>
                                <li id="Memo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMemo" aria-controls="TabMemo" role="tab" aria-selected="false">Memo</a></li>
                            </ul>
                        </div>

                        <fieldset class="customFieldset">
                            <legend></legend>

                            <div class="tab-content">

                                <div class="tab-pane" id="TabOrderInfo" role="tabpanel">
                                    <br />
                                    <div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>CouponCode</lable>
                                            </div>
                                            <div class="col-xs-7">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.CouponCode, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>ReferredBy</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.RefBy, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>NoOfJobs</lable>
                                            </div>
                                            <div class="col-xs-5">
                                                @Html.TextBoxFor(m => m.JobUnits, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>UnitPrice</lable>
                                            </div>
                                            <div class="col-xs-5">
                                                @Html.TextBoxFor(m => m.UnitPrice, new { @onblur = "txt_Leave(this)", @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>Total Order</lable>
                                            </div>
                                            <div class="col-xs-5">
                                                @Html.TextBoxFor(m => m.TotPurchaseAmt, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane active" id="TabCreditCard" role="tabpanel">
                                    <br />
                                    <div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>Type</lable>
                                            </div>
                                            <div class="col-xs-7" style="margin-left: -28px;">
                                                @Html.RadioButtonFor(m => m.RbtButton, "rbtMasterCard", new { @checked = true })
                                                <lable>&nbsp;MasterCard</lable>
                                                &nbsp; &nbsp; &nbsp;
                                                @Html.RadioButtonFor(m => m.RbtButton, "rbtVisa")
                                                <lable>&nbsp;Visa</lable>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>CardName</lable>
                                            </div>
                                            <div class="col-xs-7">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.CCName, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>CardNumber</lable>
                                            </div>
                                            <div class="col-xs-7">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.CCCardNO, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>SIDNO</lable>
                                            </div>
                                            <div class="col-xs-7">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.CCSSIDNo, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>Exp Date</lable>
                                            </div>
                                            <div class="col-xs-7">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.CCExpDate, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane" id="TabBilling" role="tabpanel">
                                    <br />
                                    <div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">&nbsp;</div>
                                            <div class="col-xs-7 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.objADClientRapidPay.BillingSameAsMain, new { style = "display:inline;" })
                                                <lable>Same As Main</lable>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>Addr1</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.BillingAddressLine1, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>Addr2</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.BillingAddressLine2, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 rt">
                                                <lable>C/S/Zip</lable>
                                            </div>
                                            <div class="col-xs-4">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.BillingCity, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                            <div class="col-xs-1">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.BillingState, new { @class = "form-control", style = "display:inline; width:60px; margin-left: -24px;" })
                                            </div>
                                            <div class="col-xs-4">
                                                @Html.TextBoxFor(m => m.objADClientRapidPay.BillingPostalCode, new { @class = "form-control", style = "display:inline;" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12">&nbsp;</div>



                                    </div>
                                </div>

                                <div class="tab-pane" id="TabMemo" role="tabpanel">
                                    <br />
                                    <div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-12">
                                                @Html.TextAreaFor(m => m.objADClientRapidPay.Note, new { rows = "7", cols = "50" })
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>

                            <div class="col-xs-12">&nbsp;</div>

                        </fieldset>

                    </div>

                    <div class="col-xs-12">&nbsp;</div>

                    <div class="col-xs-12 NopaddingLR">
                        <div class="col-xs-6" style="margin-left: 34px;">
                            <input type="button" id="btnPrintOrder" value="Print Order" class="btn btn-primary pull-left" onclick="PrintRapidPayClient(@Model.objADClientRapidPay.RapidPayId);" />
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.objADClientRapidPay.RapidPayId)
    </div>

    <div class="modal-footer" style="">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;margin-left: -14px;">
            <input type="button" value="Save" id="btnSave" class="btn btn-primary" onclick="UpdateRapidPayClient();" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>

</form>

<script>

    function UpdateRapidPayClient() {
        debugger;
        showLoadingImage();
        var data = $('#FormEditRapidPayClients').serialize();
        $.ajax({
            url: '@Url.Action("UpdateRapidPayClients", "RapidPayClients")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myEditRapidPayClientModal").modal("hide");
                //$('body').removeClass('modal-open');
                //$('.modal-backdrop').remove();
                if (data == 1) {

                    UpdateRapidPayClientSuccessPopup();
                    BackToRapidPayList();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myEditRapidPayClientModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    //Print Payment Schedule Amount
    function PrintRapidPayClient(RapidPayId) {
        debugger;
            $.ajax({
                url: '@Url.Action("PrintRapidPayClient", "RapidPayClients")',
                data: { RapidPayId: RapidPayId},
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data != "error") {
                        //$('#lblerror').text('');
                        $('#myEditRapidPayClientModal').modal("hide");
                        window.open(data);
                        //PrintScheduleReportSuccessPopup();
                    }
                    else {
                        //$('#lblerror').text('Report Not Found !!');
                        alert('Report Not Found !!');
                    }
                    return false;
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

    }


    function txt_Leave(txt) {
        debugger;
        formatCurrency(txt);
        var CostExpAmt;
        var JobUnits;
        var UnitPrice;



        JobUnits = document.getElementById("JobUnits").value;
        JobUnits = JobUnits.replace("$", "");
        JobUnits = JobUnits.replace(",", "");

        UnitPrice = document.getElementById("UnitPrice").value;
        UnitPrice = UnitPrice.replace("$", "");
        UnitPrice = UnitPrice.replace(",", "");

        

        CostExpAmt = Number(JobUnits)
            * Number(UnitPrice);

        var i = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD'
        }).format(CostExpAmt);
        $("#TotPurchaseAmt").val(i);

    }


    function UpdateRapidPayClientSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "RapidPay Client Updated Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>