﻿
@model CRFView.Adapters.Clients.ClientManagementViewModels.RapidPayClientsVM

@{
    Layout = null;
}



<style>
    #tblRapidPayClients .row:first-child {
        overflow-x: auto;
    }
</style>

    @*<div id="RapidPayClients">*@

            <div id="tblRapidPayClients" style="height:800px;display:block;overflow-x: scroll;">
                <table id="tblRapidPayClients" class="table table-bordered dataTable table-hover grid " border="1" style="width:100px !important;">
                    <thead>
                        <tr>
                            <th style="width:1%;" class="no-sort">Edit</th>
                            <th style="width:1%;white-space:nowrap;">RapidPayId</th>
                            <th style="width:1%;white-space:nowrap;">ClientId</th>
                            <th style="width:1%;white-space:nowrap;">ClientName</th>

                            <th style="width:3%;white-space:nowrap;">AddressLine1</th>
                            <th style="width:3%;white-space:nowrap;">AddressLine2</th>
                            <th style="width:2%;white-space:nowrap;">City</th>

                            <th style="width:2%;white-space:nowrap;">State</th>
                            <th style="width:1%;white-space:nowrap;">PostalCode</th>
                            <th style="width:3%;white-space:nowrap;">Email</th>
                            <th style="width:2%;white-space:nowrap;">PhoneNo</th>

                            <th style="width:2%;white-space:nowrap;">PhoneExt</th>
                            <th style="width:2%;white-space:nowrap;">Mobile</th>
                            <th style="width:2%;white-space:nowrap;">Fax</th>
                            <th style="width:3%;white-space:nowrap;">Note</th>

                            <th style="width:1%;white-space:nowrap;">NextContactDate</th>
                            <th style="width:3%;white-space:nowrap;">ContactName</th>
                            <th style="width:3%;white-space:nowrap;">ContactTitle</th>

                            <th style="width:3%;white-space:nowrap;">ContactSalutation</th>
                            <th style="width:2%;white-space:nowrap;">ContactDOB</th>
                            <th style="width:2%;white-space:nowrap;">LoginCode</th>

                            <th style="width:2%;white-space:nowrap;">LoginPassWord</th>
                            <th style="width:1%;white-space:nowrap;">CreatedDate</th>
                            <th style="width:2%;white-space:nowrap;">SetupDate</th>

                            <th style="width:1%;white-space:nowrap;">IsCancelled</th>
                            <th style="width:1%;white-space:nowrap;">ClientCode</th>
                            <th style="width:3%;white-space:nowrap;">PasswordHint1</th>
                            <th style="width:3%;white-space:nowrap;">PasswordHint2</th>

                            <th style="width:2%;white-space:nowrap;">OrderDate</th>
                            <th style="width:1%;white-space:nowrap;">IsReorder</th>
                            <th style="width:1%;white-space:nowrap;">LaborType</th>

                            <th style="width:1%;white-space:nowrap;">CouponCode</th>
                            <th style="width:1%;white-space:nowrap;">JobUnits</th>
                            <th style="width:1%;white-space:nowrap;">UnitPrice</th>

                            <th style="width:2%;white-space:nowrap;">CCType</th>
                            <th style="width:2%;white-space:nowrap;">CCName</th>
                            <th style="width:2%;white-space:nowrap;">CCCardNO</th>

                            <th style="width:1%;white-space:nowrap;">CCExpDate</th>
                            <th style="width:2%;white-space:nowrap;">CCSSIDNo</th>
                            <th style="width:1%;white-space:nowrap;">BillingSameAsMain</th>
                            <th style="width:3%;white-space:nowrap;">BillingAddressLine1</th>
                            <th style="width:3%;white-space:nowrap;">BillingAddressLine2</th>

                            <th style="width:2%;white-space:nowrap;">BillingState</th>
                            <th style="width:2%;white-space:nowrap;">BillingPostalCode</th>

                            <th style="width:2%;white-space:nowrap;">TotUnitsPurchased</th>
                            <th style="width:2%;white-space:nowrap;">TotUnitsUsed</th>

                            <th style="width:2%;white-space:nowrap;">TotUnitsAdjusted</th>
                            <th style="width:2%;white-space:nowrap;">TotPurchaseAmt</th>

                            <th style="width:1%;white-space:nowrap;">IsOrderPrinted</th>
                            <th style="width:2%;white-space:nowrap;">BillingName</th>

                            <th style="width:2%;white-space:nowrap;">BillingCity</th>
                            <th style="width:2%;white-space:nowrap;">RefBy</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.ObjClientRapidPayList)
                            {
                                <tr>
                                    <td>
                                        <button class="btn btn-default btn-icon btn-pure" onclick="ShowDetails(@i.RapidPayId)">
                                            <i class="icon wb-edit" aria-hidden="true"></i>
                                        </button>
                                    </td>

                                    <td>@i.RapidPayId</td>
                                    <td>@i.ClientId</td>
                                    <td style="white-space:nowrap;">@i.ClientName</td>

                                    <td style="white-space:nowrap;">@i.AddressLine1</td>
                                    <td style="white-space:nowrap;">@i.AddressLine2</td>
                                    <td>@i.City</td>

                                    <td>@i.State</td>
                                    <td>@i.PostalCode</td>
                                    <td style="white-space:nowrap;">@i.Email</td>
                                    <td  style="white-space:nowrap;">@CRF.BLL.CRFView.CRFView.GetFormattedPhoneNumber(@i.PhoneNo)</td>
                                    
                                    <td style="white-space:nowrap;">@CRF.BLL.CRFView.CRFView.GetFormattedPhoneNumber(@i.PhoneExt)</td>
                                    <td>@i.Mobile</td>
                                    <td style="white-space:nowrap;">@CRF.BLL.CRFView.CRFView.GetFormattedPhoneNumber(@i.Fax)</td>
                                    <td>@i.Note</td>
                                    <td>@i.NextContactDate.ToString("MM/dd/yyyy")</td>

                                    @*@{ if (i.NextContactDate == DateTime.MinValue) { }
                                        else
                                        {@i.NextContactDate.ToShortDateString()}}*@

                                    <td>@i.ContactName</td>
                                    <td>@i.ContactTitle</td>

                                    <td>@i.ContactSalutation</td>
                                    <td>@i.ContactDOB</td>
                                    <td>@i.LoginCode</td>

                                    <td>@i.LoginPassWord</td>
                                    <td>@i.CreatedDate.ToString("MM/dd/yyyy")</td>
                                    <td>@i.SetupDate.ToString("MM/dd/yyyy")</td>

                              

                                    

                                    @*@{ if (i.CreatedDate == DateTime.MinValue) { }
                                        else
                                        {@i.CreatedDate.ToShortDateString()}}

                                    @{ if (i.SetupDate == DateTime.MinValue) { }
                                        else
                                        {@i.SetupDate.ToShortDateString()}}*@

                                    <td>
                                        <div class="checkbox-sm">
                                            @if (@i.IsCancelled == true)
                                            {
                                                <input checked="checked"
                                                       class="IsCancelled"
                                                       id=@i.IsCancelled
                                                       name="chkIsCancelled"
                                                       type="checkbox"
                                                       value=@i.IsCancelled />
                                            }
                                            else
                                            {
                                                <input class="IsCancelled"
                                                       id=@i.IsCancelled
                                                       name="chkIsCancelled"
                                                       type="checkbox"
                                                       value=@i.IsCancelled />
                                            }
                                        </div>

                                    </td>

                                    @*<td>@i.IsCancelled</td>*@
                                    <td>@i.ClientCode</td>
                                    <td>@i.PasswordHint1</td>
                                    <td>@i.PasswordHint2</td>
                                    <td>@i.OrderDate.ToString("MM/dd/yyyy")</td>

                                    @*@{ if (i.OrderDate == DateTime.MinValue) { }
                                        else
                                        {@i.OrderDate.ToShortDateString()}}*@

                                    <td>
                                        <div class="checkbox-sm">
                                            @if (@i.IsReorder == true)
                                            {
                                                <input checked="checked"
                                                       class="IsReorder"
                                                       id=@i.IsReorder
                                                       name="chkIsReorder"
                                                       type="checkbox"
                                                       value=@i.IsReorder />
                                            }
                                            else
                                            {
                                                <input class="IsReorder"
                                                       id=@i.IsReorder
                                                       name="chkIsReorder"
                                                       type="checkbox"
                                                       value=@i.IsReorder />
                                            }
                                        </div>

                                    </td>


                                    @*<td>@i.IsReorder</td>*@
                                    <td>@i.LaborType</td>

                                    <td>@i.CouponCode</td>
                                    <td>@i.JobUnits</td>
                                    <td>@i.UnitPrice</td>

                                    <td>@i.CCType</td>
                                    <td>@i.CCName</td>
                                    <td>@i.CCCardNO</td>

                                    <td>@i.CCExpDate.</td>
                                    <td>@i.CCSSIDNo</td>

                                    <td>
                                        <div class="checkbox-sm">
                                            @if (@i.BillingSameAsMain == true)
                                            {
                                                <input checked="checked"
                                                       class="BillingSame"
                                                       id=@i.BillingSameAsMain
                                                       name="chkBillingSameAsMain"
                                                       type="checkbox"
                                                       value=@i.BillingSameAsMain />
                                            }
                                            else
                                            {
                                                <input class="BillingSame"
                                                       id=@i.BillingSameAsMain
                                                       name="chkBillingSameAsMain"
                                                       type="checkbox"
                                                       value=@i.BillingSameAsMain />
                                            }
                                        </div>

                                    </td>

                                    @*<td>@i.BillingSameAsMain</td>*@
                                    <td style="white-space:nowrap;">@i.BillingAddressLine1</td>
                                    <td style="white-space:nowrap;">@i.BillingAddressLine2</td>

                                    <td>@i.BillingState</td>
                                    <td>@i.BillingPostalCode</td>

                                    <td>@i.TotUnitsPurchased</td>
                                    <td>@i.TotUnitsUsed</td>

                                    <td>@i.TotUnitsAdjusted</td>
                                    <td>@i.TotPurchaseAmt</td>

                                    <td>
                                        <div class="checkbox-sm">
                                            @if (@i.IsOrderPrinted == true)
                                            {
                                                <input checked="checked"
                                                       class="IsOrder"
                                                       id=@i.IsOrderPrinted
                                                       name="chkIsOrderPrinted"
                                                       type="checkbox"
                                                       value=@i.IsOrderPrinted />
                                            }
                                            else
                                            {
                                                <input class="IsOrder"
                                                       id=@i.IsOrderPrinted
                                                       name="chkIsOrderPrinted"
                                                       type="checkbox"
                                                       value=@i.IsOrderPrinted />
                                            }
                                        </div>

                                    </td>

                                    @*<td>@i.IsOrderPrinted</td>*@
                                    <td style="white-space:nowrap;">@i.BillingName</td>

                                    <td>@i.BillingCity</td>
                                    <td>@i.RefBy</td>
                                </tr>
                               }
                    </tbody>
                </table>
            </div>

        @*</div>*@

<script>

    function ShowDetails(RapidPayId) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadRapidPayClient", "RapidPayClients")',
            data: { RapidPayId: RapidPayId},

            type: "POST",
            success: function (data) {
                debugger;
                //$('#myModal').modal("hide");
                $('#myEditRapidPayClientModal .modal-content').html(data);


                $('#myEditRapidPayClientModal').modal("show");

                //CheckMinDate();
                hideLoadingImage();

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

</script>