﻿
@model CRFView.Adapters.Clients.ClientManagementViewModels.RapidPayClientsVM
@{
    Layout = null;
}

<form id="FormFilterRapidPayClients">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Rapid Pay Order List Filter
            <button type="button" class="close" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div id="divDetails">
            <div class="col-xs-12  form-group" id="JobInfo">
                <fieldset class="customFieldset">
                    <legend></legend>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-6 rt">
                            @Html.RadioButtonFor(m => m.RbtButton, "ByNotProcessed", new { @checked = true })
                            <lable>&nbsp;NotProcessed</lable>
                            &nbsp; &nbsp; &nbsp;
                            @Html.RadioButtonFor(m => m.RbtButton, "ByAllOrders")
                            <lable>&nbsp;AllOrders</lable>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-6 rt checkbox-sm" style="margin-left: 6px;">
                            @Html.CheckBoxFor(m => m.chkByRequestDate, new { style = "display:inline;"})
                            <lable>Select By Date Requested Range</lable>
                        </div>
                    </div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-2 rt">
                            <lable>From Date</lable>
                        </div>
                        <div class="col-xs-4 rt">
                            @Html.TextBoxFor(m => m.DateTimePicker1, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-1">&nbsp;</div>
                        <div class="col-xs-2 rt">
                            <lable>Thru Date</lable>
                        </div>
                        <div class="col-xs-4 rt">
                            @Html.TextBoxFor(m => m.DateTimePicker2, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>

                  </fieldset>
                </div>
            </div>
        </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" />
            <input type="button" id="btnOK" value="OK" class="btn btn-primary" onclick="FilterRapidList();" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>

</form>

<script>

   

    function FilterRapidList() {
        debugger;

        showLoadingImage();
        $('#myFilterRapidPayClients').modal('hide');
        $.ajax({
            url: '@Url.Action("ShowFilterList", "RapidPayClients")',
            data: $('#FormFilterRapidPayClients').serialize(),
            type: "POST",
            success: function (data) {
                $('#listRapid').html(data);
                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });

    }

</script>
