﻿
@model CRFView.Adapters.Clients.ClientManagementViewModels.RapidPayClientsVM
@{
    Layout = null;
}


<style>
       #tblRapidPayClients .row:first-child {
        overflow-x: auto;
    }
</style>


<div>
    <h3 class="page-header" style="margin-top:-50px;">RapidPay Clients</h3>
    <hr />
    <div class="panel-body">

        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div>
            <div id="divFilter">
                <button class="btn btn-primary pull-right" onclick="Refresh();" style="margin-left: 10px;">
                    <i class="icon wb-refresh" aria-hidden="true"></i> Refresh
                </button>
                <button type="button" id="btnFilter" class="btn btn-primary pull-right" onclick="ShowFilterRapidPayModal();" style="margin-left: 10px;"><i class=""></i>Filter</button>
                <button type="button" id="btnFilter" class="btn btn-primary pull-right" onclick="ADDRapidPayClients();"><i class=""></i>ADD</button>
                <div>&nbsp;</div>
            </div>
            <br />
        </div>


        <div id="listRapid">
            @{Html.RenderPartial("~/Views/CRFViewClients/ClientManagement/RapidPay Clients/_RapidPayClientsList.cshtml");}
        </div>
        <div id="EditJob">
            

        </div>

    </div>
</div>


<div class="modal modal-primary fade" id="myAddRapidPayClientModal" role="dialog">
    <div class="modal-dialog " style="width:1000px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:1220px !important">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myEditRapidPayClientModal" role="dialog">
    <div class="modal-dialog " style="width:1000px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:1220px !important">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myFilterRapidPayClients" role="dialog">
    <div class="modal-dialog " style="width:700px !important; margin-top:15%">

        <!-- Modal content-->
        <div class="modal-content" style="width:700px !important; margin-top:10%">

        </div>

    </div>
</div>

<script type="text/javascript">

    function OnPartialLoad() {
        //add functions onload
    }


    function ADDRapidPayClients() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModalADDRapidPay", "RapidPayClients")',
            type: "POST",
            success: function (data) {
                debugger;
                $('#myAddRapidPayClientModal .modal-content').html(data);
                $('#myAddRapidPayClientModal').modal("show");
                $('#objADClientRapidPay_SetupDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                $('#objADClientRapidPay_NextContactDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function ShowFilterRapidPayModal() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowFilterRapidPayModal", "RapidPayClients")',
            type: "POST",
            success: function (data) {
                debugger;
                $('#myFilterRapidPayClients .modal-content').html(data);
                $('#myFilterRapidPayClients').modal("show");
                $('#DateTimePicker1').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                $('#DateTimePicker2').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function BackToRapidPayList() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Index", "RapidPayClients")',
            datatype: "json",
            type: "POST",
            success: function (data) {
                debugger;

                $('#BindView').empty();
                $("#BindView").append(data);
              // $('#list').html(data);
               
               //ClearDatatableState('tblRapidPayClients');
                //makeDatatable('tblRapidPayClients');
                Refresh();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function Refresh() {
        debugger;

        $.ajax({
            url: '@Url.Action("RefreshList", "RapidPayClients")',
            success: function (data) {
                debugger;
                $('#listRapid').html(data);
               
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

</script>
