﻿@model CRFView.Adapters.Liens.Managements.ChangeClient.ViewModels.ChangeClientCodeVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: right;
    }

    .lbl1{
        text-align:left;
    }

    /*.NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }*/

    .txtDigits {
        text-align: right;
    }
</style>
<form id="FormChangeClientCode">
    <div class="modal-header">
    <h3 .class="Details-Heading" style="margin-top: 15px;">
        Change Client Code
        <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
            <span aria-hidden="true">×</span>
        </button>
    </h3>
       
    </div>
        <div class="modal-body" style="text-align:left">

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-1" style="margin-left: 60px;">
                    <lable>Lien #</lable>
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.JobId, new { @class = "form-control", style = "display:inline;" })
                </div>
                <div class="col-xs-2">
                    <input type="button" id="btnFindJobInfo" value="Find" class="btn btn-primary" onclick="FindvwJobInfo()" />

                </div>
                <br /><br />&nbsp;
            </div>

            <div id="divDetails" style="@(string.IsNullOrEmpty(Model.JobId)   ? "display:none" : "display:block")">

                <div class="form-group col-xs-12 lt NopaddingLR">
                    <div class="col-xs-12 NopaddingLR">
                        <fieldset class="customFieldset">
                            <legend></legend>
                            <div class="col-xs-7 NopaddingLR">

                                <div class="form-group col-xs-12 lt">
                                    <div class="col-xs-2">
                                        <lable>Client #</lable>
                                    </div>
                                    <div class="col-xs-2">
                                        @Html.TextBoxFor(m => m.objvwJobsList.ClientCode, new { @class = "form-control", style = "display:inline; Width:92px;", @readonly = true })
                                    </div>
                                    <div class="col-xs-3">
                                        @Html.TextBoxFor(m => m.objvwJobsList.ClientName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                    <div class="col-xs-2">
                                        <lable>Lien #</lable>
                                    </div>
                                    <div class="col-xs-3">
                                        @Html.TextBoxFor(m => m.objvwJobsList.JobId, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 lt">
                                    <div class="col-xs-2">
                                        <lable>Job #</lable>
                                    </div>
                                    <div class="col-xs-2">
                                        @Html.TextBoxFor(m => m.objvwJobsList.JobNum, new { @class = "form-control", style = "display:inline; Width:92px;", @readonly = true })
                                    </div>
                                    <div class="col-xs-1">
                                        <lable>$</lable>
                                    </div>
                                    <div class="col-xs-2">
                                        @*@Html.TextBoxFor(m => m.ObjvwJobList.EstBalance, new { Value = String.Format("{0:C}", Model.ObjvwJobList.EstBalance), @class = "form-control", style = "display:inline;", @readonly = true })*@
                                        @Html.TextBoxFor(m => m.objvwJobsList.EstBalance, new { Value = String.Format("{0:C}", Model.objvwJobsList.EstBalance), @class = "form-control", style = "display:inline;width: 100px;margin-left: -23px;", @readonly = true })
                                    </div>
                                    <div class="col-xs-2">
                                        <lable>Asg</lable>
                                    </div>
                                    <div class="col-xs-3">

                                            @*@if (Model.objvwJobsList.DateAssigned == null || Model.objvwJobsList.DateAssigned == DateTime.MinValue)
                                            {
                                                string strTime = Model.objvwJobsList.DateAssigned.ToString("hh:mm:ss tt");
                                                Model.objvwJobsList.DateAssigned = Convert.ToDateTime(Model.objvwJobsList.DateAssigned.ToString("hh:mm:ss tt"));
                                                @Html.TextBoxFor(m => m.objvwJobsList.DateAssigned, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                //string strTime = Model.objvwJobsList.DateAssigned.ToString("hh:mm:ss tt");
                                            }
                                            else
                                            {
                                        @Html.TextBoxFor(m => m.objvwJobsList.DateAssigned, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                        }*@
                                       @if (Model.objvwJobsList.DateAssigned == null || Model.objvwJobsList.DateAssigned == DateTime.MinValue)
                                       {
                                           @Html.TextBoxFor(m => m.objvwJobsList.DateAssigned, new { @class = "form-control", style = "display:inline;", @readonly = true, Value = "12:00 AM" })
                                       }
                                       else
                                       {
                                        @Html.TextBoxFor(m => m.objvwJobsList.DateAssigned, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                       }

                                    </div>
                                </div>

                                <div class="form-group col-xs-12 lt">
                                    <div class="col-xs-2">
                                        <lable>Job Name</lable>
                                    </div>
                                    <div class="col-xs-5">
                                        @Html.TextBoxFor(m => m.objvwJobsList.JobName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                    <div class="col-xs-2">
                                        <lable>Desk/Rev</lable>
                                    </div>
                                    <div class="col-xs-1">
                                        @Html.TextBoxFor(m => m.objvwJobsList.DeskNum, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width:50px", @readonly = true })
                                    </div>
                                    <div class="col-xs-2">
                                        @Html.TextBoxFor(m => m.objvwJobsList.RevDate, new { @class = "form-control", style = "display:inline; width:88px", @readonly = true })
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 lt">
                                    <div class="col-xs-2">
                                        <lable>Address</lable>
                                    </div>
                                    <div class="col-xs-5">
                                        @Html.TextBoxFor(m => m.objvwJobsList.JobAdd1, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                    <div class="col-xs-2">
                                        <lable>N/Sent</lable>
                                    </div>
                                    <div class="col-xs-3">
                                        @Html.TextBoxFor(m => m.objvwJobsList.NoticeSent, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 lt">
                                    <div class="col-xs-2"> &nbsp;
                                        @*<input type="button" />*@
                                    </div>
                                    <div class="col-xs-5">
                                        @Html.TextBoxFor(m => m.objvwJobsList.JobAdd2, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                    <div class="col-xs-2">
                                        <lable>EndDate</lable>
                                    </div>
                                    <div class="col-xs-3">
                                        @Html.TextBoxFor(m => m.objvwJobsList.EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 lt">
                                    <div class="col-xs-2">
                                        <input type="button" value="Edit" />
                                    </div>
                                    <div class="col-xs-2">
                                        @Html.TextBoxFor(m => m.objvwJobsList.JobCity, new { @class = "form-control", style = "display:inline; Width: 100px;", @readonly = true })
                                    </div>
                                    <div class="col-xs-1">
                                        @Html.TextBoxFor(m => m.objvwJobsList.JobState, new { @class = "form-control", style = "display:inline; width: 35px; margin-left: -8px;", @readonly = true })
                                    </div>
                                    <div class="col-xs-2">
                                        @Html.TextBoxFor(m => m.objvwJobsList.JobZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline; width: 104px; margin-left: -21px;", @readonly = true })
                                    </div>
                                    <div class="col-xs-2">
                                        <lable>Status</lable>
                                    </div>
                                    <div class="col-xs-3">
                                        @Html.TextBoxFor(m => m.objvwJobsList.StatusCode, new { @class = "form-control", style = "display:inline; width:202px", @readonly = true })
                                    </div>
                                </div>

                            </div>


                             <div class="col-xs-5 NopaddingLR">

                                 <div class="form-group col-xs-12 lt">
                                     <div class="col-xs-1 checkbox-sm">
                                         @Html.CheckBoxFor(m => m.objvwJobsList.RushOrder, new { style = "display:inline;", @disabled = "disabled" })
                                      
                                     </div>
                                     <div class="col-xs-3 lbl1">
                                         <lable>Prelim Rush</lable>
                                     </div>
                                     <div class="col-xs-2">
                                         <lable>Cust</lable>
                                     </div>
                                     <div class="col-xs-6">
                                         @Html.TextBoxFor(m => m.objvwJobsList.CustName, new { @class = "form-control", style = "display:inline; width: 225px;", @readonly = true })
                                     </div>
                                 </div>

                                 <div class="form-group col-xs-12 lt">
                                     <div class="col-xs-1 checkbox-sm">
                                         @Html.CheckBoxFor(m => m.objvwJobsList.PrivateJob, new { style = "display:inline;", @disabled = "disabled" })
                                        
                                     </div>
                                     <div class="col-xs-3 lbl1">
                                         <lable>Private</lable>
                                     </div>
                                     <div class="col-xs-2">
                                         <lable>Phone</lable>
                                     </div>
                                     <div class="col-xs-3">
                                         @Html.TextBoxFor(m => m.objvwJobsList.CustPhNUm, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width: 110px;", @readonly = true })
                                     </div>
                                     <div class="col-xs-3">
                                         @Html.TextBoxFor(m => m.objvwJobsList.CustFaxNum, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width: 110px; margin-left: -4px;", @readonly = true })
                                     </div>
                                 </div>

                                 <div class="form-group col-xs-12 lt">
                                     <div class="col-xs-1 checkbox-sm">
                                         @Html.CheckBoxFor(m => m.objvwJobsList.PublicJob, new { style = "display:inline;", @disabled = "disabled" })
                                     </div>
                                     <div class="col-xs-3 lbl1">
                                         <lable>Public</lable>
                                     </div>
                                     <div class="col-xs-2">
                                         <lable>GC</lable>
                                     </div>
                                     <div class="col-xs-6">
                                         @Html.TextBoxFor(m => m.objvwJobsList.GCName, new { @class = "form-control", style = "display:inline; width: 225px;", @readonly = true })
                                     </div>
                                 </div>


                                 <div class="form-group col-xs-12 lt">
                                     <div class="col-xs-1 checkbox-sm">
                                         @Html.CheckBoxFor(m => m.objvwJobsList.ResidentialBox, new { style = "display:inline;", @disabled = "disabled" })
                                     </div>
                                     <div class="col-xs-3 lbl1">
                                         <lable>Resdential</lable>
                                     </div>
                                     <div class="col-xs-2">
                                         <lable>Phone</lable>
                                     </div>
                                     <div class="col-xs-3">
                                         @Html.TextBoxFor(m => m.objvwJobsList.GCPhNum, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width: 110px;", @readonly = true })
                                     </div>
                                     <div class="col-xs-3">
                                         @Html.TextBoxFor(m => m.objvwJobsList.GCFaxNum, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width: 110px; margin-left: -4px;", @readonly = true })
                                     </div>
                                 </div>

                                 <div class="form-group col-xs-12 lt">
                                     <div class="col-xs-1 checkbox-sm">
                                         @Html.CheckBoxFor(m => m.objvwJobsList.FederalJob, new { style = "display:inline;", @disabled = "disabled" })
                                     </div>
                                     <div class="col-xs-3 lbl1">
                                         <lable>Federal</lable>
                                     </div>
                                     <div class="col-xs-2">
                                         <lable>Owner</lable>
                                     </div>
                                     <div class="col-xs-6">
                                         @Html.TextBoxFor(m => m.objvwJobsList.OwnerName, new { @class = "form-control", style = "display:inline; width: 225px;", @readonly = true })
                                     </div>
                                 </div>

                                 <div class="form-group col-xs-12 lt">
                                    <div class="col-xs-3">&nbsp;</div>
                                     <div class="col-xs-3">
                                         <lable>Lndr/Srty</lable>
                                     </div>
                                     <div class="col-xs-6">
                                         @Html.TextBoxFor(m => m.objvwJobsList.LenderName, new { @class = "form-control", style = "display:inline; width: 225px;", @readonly = true })
                                     </div>
                                 </div>


                             </div>


                        </fieldset>
                     </div>

                    <div class="col-xs-12">&nbsp;</div>

                     <div class="col-xs-12 NopaddingLR">
                        <fieldset class="customFieldset">
                            <legend></legend>

                             <div class="form-group col-xs-12 ">
                                 <div class="col-xs-2" style="margin-left: -62px;">
                                     <lable>Change Client To</lable>
                                 </div>
                                 <div class="col-xs-5">
                                     @Html.DropDownListFor(m => m.objvwJobsList.ClientIds, Model.ChangeClientCodeList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                                 </div>
                                 <div class="col-xs-1">

                                     <input type="button" id="btnUpdateClientCodeJob" value="Update" class="btn btn-primary" onclick="UpdateChangeLienJobInfo()" />
                                 </div>
                             </div>

                            

                        </fieldset>
                      </div>


                 </div>


            </div>

         </div>


    
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.Message)
        @Html.HiddenFor(m => m.MessageDiff)

    </div>

       <div class="modal-footer" tabindex="-1">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

       </div>
</form>


<script>
    function getdetails(JobId) {
        debugger;
        $.ajax({
            url: '@Url.Action("getdetails", "ChangeClientCode")',
            data: { JobId: JobId },
            type: "POST",
            success: function (data) {
                debugger;
                if(data != "")
                {
                    NoticeSentWarning();
                }
                
            }
        });
    }
        
                
 
        


function FindvwJobInfo() {
        debugger;

        var JobId = $("#JobId").val();
        var divDetails = document.getElementById("divDetails");

        if (JobId > 0)
        {
            getdetails(JobId);
            $.ajax({
                url: '@Url.Action("GetLienJobInfoByJobId", "ChangeClientCode")',
                data: { JobId: JobId },
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data) {

                        $('#myModal .modal-content').html(data);
                        var message = $("#Message").val();
                        if (message == "Success")
                        {

                            //To set Current Date
                            //var date = new Date();
                            //var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                            //$('#NewAssignDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                            //$('#NewLastChgDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                            //$('#NewLastPayDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

                            EditChangeClientJobInfoCheckMinDate();
                            divDetails.style.display = "block";
                        }
                        else
                        {
                            $("#myModal").modal("hide");
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();

                            alert('Requested JOb is not found.');
                            divDetails.style.display = "none";
                        }                        

                    }
                    else {
                        $("#myModal").modal("hide");
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            });
        }
        else {
            divDetails.style.display = "none";
            alert('Please Enter Valid JobId.');
        }

    }


    function EditChangeClientJobInfoCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objvwJobsList_DateAssigned",
                                                "objvwJobsList_RevDate",
                                                 "objvwJobsList_EndDate",
                                                 //"objvwJobsList_EndDate",
                                               "objvwJobsList_NoticeSent"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM"||date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    //$("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }


    //button UpdateChangeClientLienInfo
    function UpdateChangeLienJobInfo() {
        debugger;
        showLoadingImage();

        var JobId = $("#JobId").val();

        if (JobId < 0 || JobId == "") {
            alert('Select ClientCode.');
            hideLoadingImage();
            return false;
        }

        var data = $('#FormChangeClientCode').serialize();

        $.ajax({
            url: '@Url.Action("SaveChangeClientCodeInfo", "ChangeClientCode")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                UpdateLienJobInfoSuccessPopup();
                hideLoadingImage();

                //if (data == 1) {

                //    UpdateLienJobInfoSuccessPopup();
                //    hideLoadingImage();
                //}
                //else if (data == 0) {
                //    alert("User Session Expired. Log In Again.");
                //    hideLoadingImage();
                //}
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function UpdateLienJobInfoSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Change Client code Updated Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }



    function NoticeSentWarning() {
        debugger;
        
        swal({
            title: "Warning, a Notice has been Sent",
            type: "error",
            confirmButtonText: "ok"
        });
    }



    function formatZip(Zipfield) {
        var Zip = Zipfield.value.replace(/[^0-9]/g, '');
        $(Zipfield).val(Zip.replace(/^(\d{5})(\d{4})+$/, "$1-$2"));
    }

</script>