﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.DebtAccountVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

</style>

<div id="AccountHeaderInfo">
    <fieldset class="customFieldset">
    <div class="col-xs-12 form-group NopaddingLR">
        <div class="col-xs-2 NopaddingLR lt">
            <lable>Client&nbsp;</lable>
            @Html.TextBoxFor(m=>m.obj_DebtAccount.ClientCode,new { @class= "form-control ",style="display:inline;width:125px"})
        </div>
        <div class="col-xs-3 NopaddingLR">
            @Html.TextBoxFor(m => m.obj_DebtAccount.ClientName, new { @class = "form-control ", style = "display:inline;" })
        </div>
        <div class="col-xs-3 NopaddingLR lt">
            <lable>&nbsp;&nbsp;&nbsp;Date Assigned&nbsp;</lable>
            @Html.TextBoxFor(m => m.obj_DebtAccount.ReferalDate, "{0:MM/dd/yy}", new { @class = "form-control ", style = "display:inline;width:125px" })
        </div>
        <div class="col-xs-2 NopaddingLR lt">
            <lable>&nbsp;&nbsp;&nbsp;Due&nbsp;</lable>
            @Html.TextBoxFor(m => m.obj_DebtAccount.TotalDue, new { @class = "form-control ", style = "display:inline;width:125px" })
        </div>
        <div class="col-xs-2 NopaddingLR lt">
            <lable>&nbsp;&nbsp;&nbsp;Status&nbsp;</lable>
            @Html.TextBoxFor(m => m.obj_DebtAccount.CollectionStatus, new { @class = "form-control ", style = "display:inline;width:125px" })
        </div>
    </div>

    <div class="col-xs-12 form-group NopaddingLR">
        <div class="col-xs-2 NopaddingLR lt">
            <lable>Debtor#&nbsp;</lable>
            @Html.TextBoxFor(m => m.obj_DebtAccount.FileNumber, new { @class = "form-control ", style = "display:inline;width:125px" })
        </div>
        <div class="col-xs-3 NopaddingLR">
            @Html.TextBoxFor(m => m.obj_DebtAccount.DebtorName, new { @class = "form-control ", style = "display:inline;" })
        </div>
        <div class="col-xs-5 NopaddingLR lt">
            <lable>&nbsp;&nbsp;&nbsp;Ref #&nbsp;</lable>
            @Html.TextBoxFor(m => m.obj_DebtAccount.AccountNo, new { @class = "form-control ", style = "display:inline;width:250px" })
        </div>

        <div class="col-xs-2 NopaddingLR lt">
            <lable>&nbsp;&nbsp;&nbsp;Desk&nbsp;</lable>
            @Html.TextBoxFor(m => m.obj_DebtAccount.Location, new { @class = "form-control ", style = "display:inline;width:125px" })
        </div>
    </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-2">
                <input type="button" id="btnNewAction" class="btn btn-primary" value="New Action">
            </div>
            </div>
</fieldset>

</div>

