﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.AccountFilterListVM
    @{

        Layout = null;
    }


<style>
        #tblWorkCard_wrapper .row:first-child {
        overflow-x: auto;
    }

</style>

    <div>
        <table id="tblWorkCard" class="table table-bordered dataTable table-hover grid " border="1">

            <thead>
                <tr>
                    <th class="no-sort">Edit</th>
                    <th>Client</th>
                    <th>DebtorName</th>
                    <th>Debtor#</th>
                    <th>RevDate</th>
                    <th>AsgDate</th>
                    <th>StsDate</th>
                    <th>TotBalAmt</th>
                    <th>Sts</th>
                    <th>Type</th>
                    <th>Desk</th>
                    <th>ToDesk</th>
                    <th>Priority</th>
                    <th>Ref#</th>
                    <th>Contract</th>
                    <th>Addr</th>
                    <th>St</th>
                    <th>Phone</th>
                    <th>Fax</th>
                    <th>SSN</th>
                    <th>CloseDate</th>
                    <th>JudgeDate</th>
                    <th>SCReviewDate</th>
                    <th>SCJudgeDte</th>
                    <th>Entity</th>
                    <th>TrialDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.ObjAccounts)
                {
                    <tr>
                        <td>
                            <button onclick="ShowDetails(@i.DebtAccountId)" class="btn btn-default btn-icon btn-pure">
                                <i class="icon wb-edit" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>@i.ClientCode</td>
                        <td>@i.DebtorName</td>
                        <td>@i.DebtAccountId</td>
                        <td>@i.NextContactDate</td>
                        <td>@i.ReferalDate</td>
                        <td>@i.NextStatusDate</td>
                        <td>@i.TotBalAmt</td>
                        <td>@i.CollectionStatus</td>                                                                        
                        <td>@i.StatusGroupDescription</td>                        
                        <td>@i.Location</td>
                        <td>@i.TempOwner</td>
                        <td>@i.Priority</td>
                        <td>@i.AccountNo</td>
                        <td>@i.ContactName</td>
                        <td>@i.AddressLine1</td>
                        <td>@i.State</td>
                        <td>@i.PhoneNo</td>
                        <td>@i.Fax</td>
                        <td>@i.SSN</td>
                        <td>@i.CloseDate</td>
                        <td>@i.FwdJudgmentDate</td>
                        <td>@i.SCReviewDate</td>
                        <td>@i.JudgmentDate</td>
                        <td>@i.EntityName1</td>
                        <td>@i.TrialDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

<script type="text/javascript">
    function ShowDetails(DebtAccountId) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("LoadDebtAccount", "WorkCard")',
            data: { DebtAccountId: DebtAccountId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#EditAccount').html(data);
                CheckMinDate();
                $('#list').hide();
              
                $('#NewContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                makeDatatable('tblNotes');
                makeDatatable('tblActionHistory');
                makeDatatable('tblLedger');
                makeDatatable('tblAddresses');
                makeDatatable('tblCreditReport');


                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();

            }
        });
    }
    </script>