﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.AccountFilterListVM
@{
    Layout = null;
}


<style>
    #tblWorkCard_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<div>
    <table id="tblWorkCard" class="table table-bordered table-hover grid" border="1" style="width:1650px !important;">

        <thead>
            <tr>
                <th class="no-sort">Edit</th>
                <th>Debtor Name<br/>Contact<br/>Debtor Address</th>
                <th>Debtor Ref#<br/> Status Code</th>
                <th>Desk #<br/>To Desk #</th>
                <th>Date Assigned<br/>Review Date</th>
                <th>Last Payment<br/>Close Date</th>
                <th>Collect Fees<br/>Interest</th>
                <th>Payments</th>
                <th>SC Rev Date<br />SC Trial Date<br />SC Judge Date</th>
                <th>FWD Court Date<br/>FWD Judge Date</th>
                <th>Accounting</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.ObjAccounts)
            {
                <tr>
                    <td>
                        <button onclick="ShowDetails(@i.DebtAccountId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>@i.DebtorName<br/>@i.ContactName<br/>@i.AddressLine1</td>
                    <td>@i.AccountNo <br/>@i.CollectionStatus</td>
                    <td>@i.Location<br/>@i.TempOwner</td>
                   <td> @{if (i.ReferalDate == DateTime.MinValue){ }else{@i.ReferalDate.ToShortDateString()}} <br/>@{if (i.NextContactDate == DateTime.MinValue) { } else{@i.NextContactDate.ToShortDateString()}} </td>
                   <td> @{if (i.LastPaymentDate == DateTime.MinValue){ }else{@i.LastPaymentDate.ToShortDateString()}} <br/>@{if (i.CloseDate == DateTime.MinValue) { } else{@i.CloseDate.ToShortDateString()}} </td>
                    <td>@String.Format("{0:C}", i.TotCollFeeAmt)<br />@String.Format("{0:C}", i.TotIntAmt)</td>
                    <td>@String.Format("{0:C}", i.TotPmtAmt)</td>
                    <td> @{if (i.SCReviewDate == DateTime.MinValue){ }else{@i.SCReviewDate.ToShortDateString()}} <br/>@{if (i.TrialDate == DateTime.MinValue) { } else{@i.TrialDate.ToShortDateString()}} <br/>@{if (i.JudgmentDate == DateTime.MinValue){ }else{@i.JudgmentDate.ToShortDateString()}}</td>
                    <td> @{if (i.FwdCourtDate == DateTime.MinValue){ }else{@i.FwdCourtDate.ToShortDateString()}} <br/>@{if (i.FwdJudgmentDate == DateTime.MinValue) { } else{@i.FwdJudgmentDate.ToShortDateString()}} </td>
                    <td><text>Assigned - </text>@String.Format("{0:C}", i.TotAsgAmt)<br /><text>Balance - </text>@String.Format("{0:C}", i.TotBalAmt)</td>
                 </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function ShowDetails(DebtAccountId) {
        debugger;
        showLoadingImage();
       
        $.ajax({
            url: '@Url.Action("LoadDebtAccount", "WorkCard")',
            data: { DebtAccountId: DebtAccountId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#EditAccount').html(data);
                CheckMinDate();
                $('#list').hide();

                $('#NewContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                makeDatatable('tblNotes');
                makeDatatable('tblActionHistory');
                makeDatatable('tblLedger');
                makeDatatable('tblAddresses');
                makeDatatable('tblCreditReport');

                hideLoadingImage();

                document.getElementById('divFilter').style.display = 'none';
                document.getElementById('btnBackToFilter').style.display = 'block';
                document.getElementById('btnBackToAccountList').style.display = 'block';
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }


</script>
