﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.AddressVM
@{
    Layout = null;
}
<style>
    .lt{
        text-align:left;
    }
    </style>

<form id="FormClosedIssueNote">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Address Info
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Addr Seq</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m=>m.ObjAddress.DebtAddressTypeId,new { @class="form-control",disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Contact Name</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.ContactName, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Address Line</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.AddressLine1, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Address Line2</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.AddressLine2, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>City</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.City, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>State</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.State, new { @class = "form-control" })
            </div>
            <div class="col-xs-1 lt">
                <lable>Zip</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.PostalCode, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Ph1</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.PhoneNo, new { @class = "form-control" })
            </div>
            <div class="col-xs-1 lt">
                <lable>Ext</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.PhoneNoExt, new { @class = "form-control" })
            </div>
        </div>


        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Ph2</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.PhoneNo2, new { @class = "form-control" })
            </div>
            <div class="col-xs-1 lt">
                <lable>Fax</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.Fax, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Ph3</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.CellPhone, new { @class = "form-control" })
            </div>
            <div class="col-xs-1 lt">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Email</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.ObjAddress.Email, new { @class = "form-control" })
            </div>
        </div>


        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>SSN</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjAddress.SSN, new { @class = "form-control" })
            </div>
            <div class="col-xs-1 lt">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Note</lable>
            </div>
            <div class="col-xs-9">
                @Html.TextAreaFor(m => m.ObjAddress.Note, new { @class = "form-control", rows = "3" })
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btClearNote" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalNote(@Model.Obj_Note.Id);" />
                <input type="button" id="btDeleteNote" value="Delete" class="btn btn-primary pull-left" onclick="DeleteModalNote(@Model.Obj_Note.Id);" />*@
            @*<input type="button" id="btnsaveNote" value="Save" class="btn btn-primary" onclick="SaveNote()" />*@
            <input type="button" value="Cancel" id="CancelModalNote" class="btn btn-primary" onclick="CloseModalNote();" />
        </div>
    </div>
</form>
