﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.EditDebtAccountVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormEditAccountInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>
                Edit Account Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Name</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.obj_DebtEdit.DebtorName, new { @class = "form-control", style = "display:inline;" ,@readonly=true})
            </div>
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.obj_DebtAccountEdit.IsIntlAcct, new { style = "display:inline;" })
                &nbsp;
                <lable>International</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Contact</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.obj_DebtAddressEdit.ContactName, new { @class = "form-control" , style = "display:inline;" })
            </div>
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.obj_DebtAccountEdit.IsJudgmentAcct, new { style = "display:inline;" })
                &nbsp;
                <lable>Judgement</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Address</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.obj_DebtAddressEdit.AddressLine1, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.obj_DebtAccountEdit.IsSkip, new { style = "display:inline;" })
                &nbsp;
                <lable>Skip</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">

            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.obj_DebtAddressEdit.AddressLine2, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.obj_DebtAccountEdit.IsSecondary, new { style = "display:inline;" })
                &nbsp;
                <lable>Secondary</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>City/State/Zip</lable>
            </div>     
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.obj_DebtAddressEdit.City, new { @class = "form-control", style = "display:inline;" })
                </div>
                <div class="col-xs-1" style="margin-left: -4%;width: 14%;">
                    @Html.TextBoxFor(m => m.obj_DebtAddressEdit.State, new { @class = "form-control", style = "display:inline;" })
                </div>
                <div class="col-xs-2" style="margin-left: -4%;width: 19%;">
                    @Html.TextBoxFor(m => m.obj_DebtAddressEdit.PostalCode, new { @class = "form-control", style = "display:inline;" })
                </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Ph 1</lable>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-7 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_DebtAddressEdit.PhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "12", @class = "form-control", style = "display:inline;text-align: center;" })
                </div>
                <div class="col-xs-2">
                    <lable>Ext</lable>
                </div>
                <div class="col-xs-3 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_DebtAddressEdit.PhoneNoExt, new {@class = "form-control", style = "display:inline;text-align: center;" })
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Ph 2</lable>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-7 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_DebtAddressEdit.PhoneNo2, new { @onblur = "formatPhone(this)", @maxlength = "12", @class = "form-control", style = "display:inline;text-align: center;" })
                </div>
                <div class="col-xs-2">
               
                </div>
                <div class="col-xs-3 NopaddingLR">
                  
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Ph 3</lable>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-7 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_DebtAddressEdit.CellPhone, new { @onblur = "formatPhone(this)", @maxlength = "12", @class = "form-control", style = "display:inline;text-align: center;" })
                </div>
                <div class="col-xs-2">
                
                </div>
                <div class="col-xs-3 NopaddingLR">
                
                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Fax</lable>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-7 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_DebtAddressEdit.Fax, new { @class = "form-control", style = "display:inline;text-align: center;" })
                </div>
                <div class="col-xs-2">

                </div>
                <div class="col-xs-3 NopaddingLR">

                </div>
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Email</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.obj_DebtAddressEdit.Email, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Misc</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.obj_DebtAccountEdit.DebtAccountNote, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Tax Id</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.obj_DebtEdit.TaxId, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Branch</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.obj_DebtAccountEdit.BranchNum, new { @class = "form-control", style = "display:inline;" })
            </div>
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Close Date</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.obj_DebtAccountEdit.CloseDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Next Status</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.obj_DebtAccountEdit.NextStatusDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Pmt Due Date</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.obj_DebtAccountEdit.PaymentDueDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
            </div>
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3">
            </div>
        </div>


    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_DebtAccountEdit.DebtAccountId)
        @Html.HiddenFor(m => m.obj_DebtEdit.DebtId)
        @Html.HiddenFor(m => m.obj_DebtAddressEdit.DebtAddressId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditAccount" class="btn btn-primary" onclick="SaveAccount()"/>
            <input type="button" value="Cancel" id="CancelModalEditAccount" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">
 
    function SaveAccount() {
        debugger;
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("SaveAccountDetails", "WorkCard")',
                data: $('#FormEditAccountInfo').serialize(),
                type: "POST",
                success: function (data) {
                    $('#EditAccount').html(data);
                    hideLoadingImage();
                    EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }
</script>