﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.FilterVM
@{
    Layout = null;
}

<style>
    .width-txt {
        width: 280px;
        display: inline;
    }
    .lt{
        text-align:left;
    }
    .rt{
        text-align:right;
    }

    .divToWidth
    {
        width:5%;
        margin-left: -3%;
    }

    .divTxtWidth{
        width:78%;
    }

</style>


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Account Filter</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">

        
            <fieldset class="customFieldset">
                <legend>Account Fields</legend>
                <div class="col-xs-12 form-group ">
                    <div class="col-xs-2 ">
                        <lable>Debtor#</lable>
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.TextBoxFor(m => m.FilterObj.DebtAccountId, new { @class = "form-control" , style = "width : 50%;"})
                    </div>
                    <div class="col-xs-2 rt checkbox-sm">
                        <lable>Desk#</lable>
                        &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkDesk, new { style = "display:inline; " })
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.DropDownListFor(m => m.FilterObj.cboDesk, Model.LocationList.OrderBy(m => m.Text), new { @class = "form-control", style = "width : 50%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-2 ">
                        <lable>Debtor Name</lable>
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.TextBoxFor(m => m.FilterObj.DebtorName, new { @class = "form-control", style = "width : 125%;" })
                    </div>
                    <div class="col-xs-2 rt checkbox-sm">
                        <lable>To Desk#</lable>
                        &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkToDesk, new { style = "display:inline;" })
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.DropDownListFor(m => m.FilterObj.cboToDesk, Model.LocationList.OrderBy(m => m.Text), new { @class = "form-control", style = "width : 50%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-2 ">
                        <lable>Debtor Contact</lable>
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.TextBoxFor(m => m.FilterObj.ContactName, new { @class = "form-control"})
                    </div>
                    <div class="col-xs-2 rt checkbox-sm">
                        <lable>Status</lable>
                        &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkStatus, new { style = "display:inline;" })
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.DropDownListFor(m => m.FilterObj.cboStatusCode, Model.CollectionStatusList.OrderBy(m => m.Text), new { @class = "form-control", style = "width : 50%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-2 ">
                        <lable>Debtor Address</lable>
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.TextBoxFor(m => m.FilterObj.DebtorAddress, new { @class = "form-control", style = "width : 125%;" })
                    </div>
                    <div class="col-xs-2 rt checkbox-sm">
                        <lable>Status Type</lable>
                        &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkStatusType, new { style = "display:inline; "})
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.DropDownListFor(m => m.FilterObj.cboStatusType, Model.CollectionStatusGroupList.OrderBy(m => m.Text), new { @class = "form-control", style = "width : 70%;" })
                    </div>
                </div>

                <div class="col-xs-12 form-group">
                    <div class="col-xs-2 ">
                        <lable>Debtor State</lable>
                    </div>
                    <div class="col-xs-3  lt">
                        @Html.TextBoxFor(m => m.FilterObj.DebtorState, new { @class = "form-control", style = "width : 50%;" })
                    </div>
                    <div class="col-xs-2 rt checkbox-sm">
                        <lable>Review Date</lable>
                        &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkReview, new { style = "display:inline;" })
                    </div>                  
                    <div class="col-xs-2  lt">
                        @Html.TextBoxFor(m => m.FilterObj.NextContactDateFrom, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                    </div>
                    <div class="col-xs-1 divToWidth">
                        <lable>To</lable>
                    </div>
                    <div class="col-xs-2  lt">
                        @Html.TextBoxFor(m => m.FilterObj.NextContactDateTo, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                    </div>
                 
                </div>

            </fieldset>
        <br/>
        <fieldset class="customFieldset">
            <legend>Additional Fields</legend>

            <div class="col-xs-12 form-group ">
                <div class="col-xs-2 ">
                    <lable>Debtor Phone</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.DebtorPhoneNo, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-2 rt checkbox-sm">
                    <lable>Balance Owed</lable>
                    &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkBalance, new { style = "display:inline;" })
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.BalanceFrom, new { @class = "form-control divTxtWidth" })
                </div>
                <div class="col-xs-1 divToWidth">
                    <lable>To</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.BalanceTo, new { @class = "form-control divTxtWidth" })
                </div>
             
            </div>

            <div class="col-xs-12 form-group ">
                <div class="col-xs-2 ">
                    <lable>Debtor Fax</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.DebtorFaxNo, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-2 rt checkbox-sm">
                    <lable>Assign Date</lable>
                   &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkAssigned, new { style = "display:inline;" }) 
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.ReferalDateFrom, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
                <div class="col-xs-1 divToWidth">
                    <lable>To</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.ReferalDateTo, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
          
            </div>

            <div class="col-xs-12 form-group ">
                <div class="col-xs-2 ">
                    <lable>BK Case #</lable>
                </div>
                <div class="col-xs-3  lt">
                    @Html.TextBoxFor(m => m.FilterObj.BKCaseNo, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 rt">
                    <lable></lable>                    
                </div>
                <div class="col-xs-2  lt">     
                </div>
                <div class="col-xs-1">                    
                </div>
                <div class="col-xs-2  lt">                   
                </div>
            </div>

            <div class="col-xs-12 form-group ">
                <div class="col-xs-2 ">
                    <lable>BK Name</lable>
                </div>
                <div class="col-xs-3  lt">
                    @Html.TextBoxFor(m => m.FilterObj.DebtorBKName, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 rt">
                    <lable></lable>
                </div>
                <div class="col-xs-2  lt">
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-2  lt">
                </div>
            </div>
        </fieldset>

        <br/>

        <fieldset class="customFieldset">
            <legend>Legal Fields</legend>

            <div class="col-xs-12 form-group ">
                <div class="col-xs-2 checkbox-sm">
                    <lable>Atty#</lable>&nbsp;&nbsp;
                    @Html.CheckBoxFor(m => m.FilterObj.ChkAtty, new { style = "display:inline;" }) 
                </div>
                <div class="col-xs-2 lt">
                    @Html.DropDownListFor(m => m.FilterObj.cboAttyId, Model.AttorneyList.OrderBy(m => m.Text), new { @class = "form-control" , style = "width : 77%;" })
                </div>
                <div class="col-xs-3 rt checkbox-sm">
                    <lable>SC Court#</lable>
                     &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkCourt, new { style = "display:inline;" })
                </div>
                <div class="col-xs-3  lt">
                    @Html.DropDownListFor(m => m.FilterObj.cboCourtId, Model.CourtHouseList.OrderBy(m => m.Text), new { @class = "form-control", style = "width : 48%;" })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-2 ">
                    <lable>Attorney Ref #</lable>&nbsp;&nbsp;
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.AttorneyRefNumber, new { @class = "form-control", style = "width : 165%;" })
                </div>
                <div class="col-xs-3 rt checkbox-sm">
                    <lable>Process Server</lable>
                     &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkServer, new { style = "display:inline;" })
                </div>
                <div class="col-xs-3  lt">
                    @Html.DropDownListFor(m => m.FilterObj.cboProcessServerId, Model.ProcessServerList.OrderBy(m => m.Text), new { @class = "form-control width-txt", style = "width : 48%;" })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-2">
                    <lable>Case #</lable>&nbsp;&nbsp;
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.CaseNum, new { @class = "form-control", style = "width : 165%;" })
                </div>
                <div class="col-xs-3 rt checkbox-sm">
                    <lable>SC Review Date</lable>
                    &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkSCReview, new { style = "display:inline;" }) 
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.SCReviewDateFrom, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
                <div class="col-xs-1 divToWidth">
                    <lable>To</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.SCReviewDateTo, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-2 ">
                    <lable>Court Memo</lable>&nbsp;&nbsp;
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.CourtMemo, new { @class = "form-control", style = "width : 165%;" })
                </div>
                <div class="col-xs-3 rt checkbox-sm">
                    <lable>SC Trial Date</lable>
                     &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkTrial, new { style = "display:inline;" })
                 </div>
                <div class="col-xs-2 rt">
                    @Html.TextBoxFor(m => m.FilterObj.NextTrialDateFrom, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
                <div class="col-xs-1 divToWidth">
                    <lable>To</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.NextTrialDateTo, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-2 ">
                    <lable>SC Entity Name</lable>&nbsp;&nbsp;
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.EntityName1, new { @class = "form-control", style = "width : 165%;" })
                </div>
                <div class="col-xs-3 rt checkbox-sm">
                    <lable>SC Judg Date</lable>
                     &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkSCJudgmentDate, new { style = "display:inline;" })
                </div>
                <div class="col-xs-2 rt">
                    @Html.TextBoxFor(m => m.FilterObj.SCJudgmentDateFrom, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
                <div class="col-xs-1 divToWidth">
                    <lable>To</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.SCJudgmentDateTo, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-2 lt">
                </div>
                <div class="col-xs-3 rt checkbox-sm">
                    <lable>FWD Court Date</lable>
                     &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkFWDCourtDate, new { style = "display:inline;" })
                </div>
                <div class="col-xs-2 rt">
                    @Html.TextBoxFor(m => m.FilterObj.FWDCourtDateFrom, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
                <div class="col-xs-1 divToWidth">
                    <lable>To</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.FWDCourtDateTo, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-2 lt">
                </div>
                <div class="col-xs-3 rt checkbox-sm">
                    <lable>FWD Judg Date</lable>
                    &nbsp;@Html.CheckBoxFor(m => m.FilterObj.chkJudgmentDate, new { style = "display:inline;" })
                </div>
                <div class="col-xs-2 rt">
                    @Html.TextBoxFor(m => m.FilterObj.FWDJudgmentDateFrom, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
                <div class="col-xs-1 divToWidth">
                    <lable>To</lable>
                </div>
                <div class="col-xs-2  lt">
                    @Html.TextBoxFor(m => m.FilterObj.FWDJudgmentDateTo, "{0:MM/dd/yy}", new { @class = "form-control divTxtWidth" })
                </div>
            </div>
           
        </fieldset>

   
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Search" class="btn btn-primary" onclick="filter()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModalFilter()" />
        </div>
    </div>

</form>

<script>

    function CloseModalFilter() {
        $('#myModal').modal("hide");
    }

    function filter() {
        debugger;

            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("GetFilterResult", "WorkCard")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblWorkCard');
                    hideLoadingImage();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

    }
</script>

