﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.DebtAccountVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

    #tblLedger .row:first-child {
        overflow-x: auto;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>



<div class="nav-tabs-horizontal" data-plugin="tabs" @*style="margin-top: 30px;"*@>
    <ul class="nav nav-tabs" role="tablist">
        <li id="MainInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainInfo" aria-controls="TabMainInfo" role="tab" aria-selected="false">Main Info</a></li>
        <li id="Notes" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabNotes" aria-controls="TabNotes" role="tab" aria-selected="false">Notes</a></li>
        <li id="ActionHistory" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabActionHistory" aria-controls="TabActionHistory" role="tab" aria-selected="false">Action History</a></li>
        <li id="Ledger" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLedger" aria-controls="TabLedger" role="tab" aria-selected="false">Ledger</a></li>
        <li id="Addresses" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAddresses" aria-controls="TabAddresses" role="tab" aria-selected="false">Addresses</a></li>
        <li id="CreditReport" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabCreditReport" aria-controls="TabCreditReport" role="tab" aria-selected="false">Credit Report</a></li>
        <li id="Documents" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabDocuments" aria-controls="TabDocuments" role="tab" aria-selected="false">Documents</a></li>
    </ul>
</div>

<div class="tab-content">

    <div class="tab-pane active" id="TabMainInfo" role="tabpanel">
        <br />

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Basic Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                @*<lable>Client #</lable>*@
                                <input type="button" id="btnClientInfo" value="Client #" onclick="ShowClientInfo(@Model.obj_DebtAccount.ClientId)">
                            </div>
                            <div class="col-xs-2" style="margin-left: -6%;">
                                @Html.TextBoxFor(m => m.obj_DebtAccount.ClientCode, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-1">
                                <lable>Name</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -2%;">
                                @Html.TextBoxFor(m => m.obj_DebtAccount.ClientName, new { @class = "form-control", style = "display:inline; width:200%;", @readonly = true })
                            </div>
                            <div class="col-xs-2" style="margin-left: 13%;">
                                <lable>Fees</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -11%;">
                                @Html.TextBoxFor(m => m.obj_CollRate.CollectionRateCode, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-1 checkbox-sm" style="width: 10%;padding: 2px 5px;">
                                <lable>Int'l</lable>
                                &nbsp;@Html.CheckBoxFor(m => m.obj_DebtAccount.IsIntlClient , new { @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Debtor #</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -6%;">
                                @Html.TextBoxFor(m => m.obj_DebtAccount.FileNumber, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-1">
                                <lable>Ref#</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -2%;">
                                @Html.TextBoxFor(m => m.obj_DebtAccount.AccountNo, new { @class = "form-control", style = "display:inline; width:200%;", @readonly = true })
                            </div>
                            <div class="col-xs-2" style="margin-left: 13%;">
                                <lable>Sales #</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -11%;">
                                @*@Html.TextBoxFor(m => m.obj_CollRate.SalesName, new { @class = "form-control", style = "display:inline;", @readonly = true  })*@
                            </div>
                            <div class="col-xs-1 checkbox-sm" style="width: 10%;padding: 2px 5px;">
                                <lable>Var</lable>
                                &nbsp;@Html.CheckBoxFor(m => m.obj_DebtAccount.MiscVar , new { @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left:-6%;">
                                @Html.TextBoxFor(m => m.obj_DebtAccount.ClientPhone, new { @class = "form-control", style = "display:inline; width:120%;" })
                            </div>
                            <div class="col-xs-2">
                                <input type="button" class="btn btn-primary" value="Email">
                            </div>
                            <div class="col-xs-2" style="margin-left: 12%;">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-xs-2" style="margin-left: -9%;">
                                @Html.TextBoxFor(m => m.obj_DebtAccount.ClientFax, new { @class = "form-control", style = "display:inline;width: 120%;" })
                            </div>
                            <div class="col-xs-2" style="margin-left: 3%;">
                                <input type="button" class="btn btn-primary" value="Fax" onclick="ShowCLFaxAccountInfo(@Model.obj_DebtAccount.DebtAccountId)">
                            </div>
                            
                        </div>
                        
                    </fieldset>
                    </div>

                <div class="col-xs-3 NopaddingLR">
                    <fieldset class="customFieldset">
                        <div class="nav-tabs-horizontal" data-plugin="tabs" style="padding-left: 5px;">
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="AccountTypes" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAdditionalInfo" aria-controls="TabAdditionalInfo" role="tab" aria-selected="false">Account Types</a></li>
                                <li id="PlacedBY" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabPlacedBy" aria-controls="TabPlacedBy" role="tab" aria-selected="false">Placed By</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">

                            <div class="tab-pane active" id="TabAdditionalInfo" role="tabpanel">
                                <div class="col-xs-12 form-group NopaddingLR" style="padding-right: 0px !important;">
                                    <div class="col-xs-6 LableAlign checkbox-sm" style="padding-left: 0px;">
                                        <lable>
                                            International<lable>
                                                &nbsp;@Html.CheckBoxFor(m => m.chkInternational, new { @disabled = "disabled" })
                                    </div>
                                    <div class="col-xs-6 LableAlign checkbox-sm" style="padding-left: 0px;">
                                        <lable>
                                            Skip<lable>
                                                &nbsp;@Html.CheckBoxFor(m => m.chkSkip, new { @disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR" style="padding-right: 0px !important;">
                                    <div class="col-xs-6 LableAlign checkbox-sm" style="padding-left: 0px;">
                                        <lable>
                                            Judgment<lable>
                                                &nbsp;@Html.CheckBoxFor(m => m.chkJudgment, new { @disabled = "disabled" })
                                    </div>
                                    <div class="col-xs-6 LableAlign checkbox-sm" style="padding-left: 0px;">
                                        <lable>
                                            Second<lable>
                                                &nbsp;@Html.CheckBoxFor(m => m.chkSecond, new { @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="TabPlacedBy" role="tabpanel">
                                <div class="col-xs-12 form-group NopaddingLR" style="padding-top: 3px;">
                                    <div class="col-xs-6 LableAlign">
                                        <lable> Source<lable>
                                    </div>
                                    <div class="col-xs-6 LableAlign">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.BatchType, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6 LableAlign">
                                        <lable> Entered By<lable>
                                    </div>
                                    <div class="col-xs-6 LableAlign">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.SubmittedBy, new { @class = "form-control" })

                                    </div>
                                </div>

                            </div>

                        </div>
                    </fieldset>
                </div>
                </div>
            <br />&nbsp;
            </div>


                <div class="form-group col-xs-12 lt NopaddingLR">
                    <div class="col-xs-12 NopaddingLR">
                        <div class="col-xs-5 NopaddingLR">
                            <fieldset class="customFieldset">
                                <legend>Account Info</legend>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Name</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.DebtorName, new { @class = "form-control", style = "display:inline; width:80%;", @readonly = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Contact</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.ContactName, new { @class = "form-control", style = "display:inline; width:80%;", @readonly = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Address</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.AddressLine1, new { @class = "form-control", style = "display:inline; width:80%;", @readonly = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">

                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.AddressLine2, new { @class = "form-control", style = "display:inline; width:80%;", @readonly = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2 NopaddingLR">
                                        <button onclick="ShowMap('@Model.obj_DebtAccount.AddressLine1','@Model.obj_DebtAccount.City','@Model.obj_DebtAccount.State','@Model.obj_DebtAccount.PostalCode');" class="btn" style="margin-left: 5px;padding: 5px 5px;">
                                            <i class="icon wb-map" aria-hidden="true"></i> MAP
                                        </button>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-6 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.City, new { @class = "form-control", style = "display:inline; width:80%", @readonly = true })
                                        </div>
                                        <div class="col-xs-2 NopaddingLR" style="margin-left: -12%;">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.State, new { @class = "form-control", style = "display:inline;width: 133%;", @readonly = true })
                                        </div>
                                        <div class="col-xs-4 NopaddingLR" style="margin-left: 1%;">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.PostalCode, new { @class = "form-control", style = "display:inline; width:83%", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Ph 1</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-6 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.PhoneNo, new { @class = "form-control", style = "display:inline; width:85%;", @readonly = true })
                                        </div>
                                        <div class="col-xs-1 NopaddingLR">
                                            <lable>Ext</lable>
                                        </div>

                                        <div class="col-xs-3 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.PhoneNoExt, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Ph 2</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-6 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.PhoneNo2, new { @class = "form-control", style = "display:inline; width:85%;", @readonly = true })
                                        </div>
                                        <div class="col-xs-1 NopaddingLR">
                                            <lable>Fax</lable>
                                        </div>

                                        <div class="col-xs-3 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.Fax, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                        </div>
                                        <div class="col-xs-2 NopaddingLR">
                                            <input type="button" id="btnFax" value="Fax" onclick="ShowDBFaxAccountInfo(@Model.obj_DebtAccount.DebtAccountId)">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Ph 3</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-6 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.CellPhone, new { @class = "form-control", style = "display:inline; width:85%;", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Email</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-10 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.Email, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                        </div>
                                        <div class="col-xs-2 NopaddingLR">
                                            <input type="button" id="btnEmail" value="Email" onclick="">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Tax Id</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-7 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.TaxId, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Branch</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="col-xs-7 NopaddingLR">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.BranchNum, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-2">
                                        <lable>Misc</lable>
                                    </div>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.DebtAccountNote, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group">
                                    <input type="button" id="btnEditAccount" value="Edit" onclick="EditAccount(@Model.obj_DebtAccount.DebtAccountId)" style="float: right;">
                                </div>

                            </fieldset>
                        </div>

                        <div class="col-xs-4" style="margin-left: -1%;">
                            <fieldset class="customFieldset">
                                <legend>More Info</legend>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-3">
                                        <lable>Status</lable>
                                    </div>
                                    <div class="col-xs-3 NopaddingLR" style="margin-left: -6%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.CollectionStatus, new { @class = "form-control", style = "display:inline; width: 92%;", @readonly = true })
                                    </div>
                                    <div class="col-xs-3">
                                        <lable>Desk</lable>
                                    </div>
                                    <div class="col-xs-3 NopaddingLR" style="margin-left: -3%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.Location, new { @class = "form-control", style = "display:inline; width: 92%;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-3">
                                        <lable>Age</lable>
                                    </div>
                                    <div class="col-xs-3 NopaddingLR" style="margin-left: -6%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.Age, new { @class = "form-control", style = "display:inline; width: 92%;", @readonly = true })
                                    </div>
                                    <div class="col-xs-3" style="width: 30%;">
                                        <lable>TO Desk</lable>
                                    </div>
                                    <div class="col-xs-3 NopaddingLR" style="margin-left: -8%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TempOwner, new { @class = "form-control", style = "display:inline; width: 92%;", @readonly = true })
                                    </div>
                                </div>
                            
                                <div class="col-xs-12 form-group NopaddingLR">
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6">
                                        <lable>Date Assigned</lable>
                                    </div>
                                    <div class="col-xs-6 NopaddingLR" style="margin-left: -10%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.ReferalDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 65%;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6">
                                        <lable>Last Change</lable>
                                    </div>
                                    <div class="col-xs-6 NopaddingLR" style="margin-left: -10%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.LastServiceDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 65%;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.Priority, new { style = "display:inline;width:20px;", @readonly = true })
                                        <lable>Next Review</lable>
                                    </div>
                                    <div class="col-xs-6 NopaddingLR" style="margin-left: -10%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.NextContactDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 65%;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6">
                                        <lable>Last Payment</lable>
                                    </div>
                                    <div class="col-xs-6 NopaddingLR" style="margin-left: -10%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.LastPaymentDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 65%;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6">
                                        <lable>Last Trust</lable>
                                    </div>
                                    <div class="col-xs-6 NopaddingLR" style="margin-left: -10%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.LastTrustDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 65%;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6">
                                        <lable>Close Date</lable>
                                    </div>
                                    <div class="col-xs-6 NopaddingLR" style="margin-left: -10%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.CloseDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 65%;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6">
                                        <lable>Next Status</lable>
                                    </div>
                                    <div class="col-xs-6 NopaddingLR" style="margin-left: -10%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.NextStatusDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 65%;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-6">
                                        <lable>Pmt Due Date</lable>
                                    </div>
                                    <div class="col-xs-6 NopaddingLR" style="margin-left: -10%;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.PaymentDueDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 65%;", @readonly = true, })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group ">
                                    @{
                                if (Model.obj_CollectionInfo.IsCloseReturn == true)
                                {
                                    <lable id="lblCloseReturn" style="color:red;">( Close Letters Only, No PIF/SIF Letters )</lable>
                                }
                                else
                                {
                                    <lable id="lblCloseReturn" style="color:red;display:none;">( Close Letters Only, No PIF/SIF Letters )</lable>
                                }
                                    }

                                </div>
                                <div class="col-xs-12 form-group ">
                                    @{
                                if (Model.obj_CollectionInfo.IsCloseReturn == false && Model.obj_CollectionInfo.IsStatusRpt == false && Model.obj_CollectionInfo.IsStatusGroup == false)
                                {
                                    <lable id="lblNoReport" style="color:red;">( No Reporting Needed )</lable>
                                }
                                else
                                {
                                    <lable id="lblNoReport" style="color:red;display:none">( No Reporting Needed )</lable>
                                }
                                    }

                                </div>
                                <div class="col-xs-12 form-group ">
                                    @{
                                if (Model.objMisc.DebtorAttyName != "")
                                {
                                    <lable id="lblDebtorAttorney" style="color:blue;">( Only Contact Debtor's Attorney )</lable>
                                }
                                else
                                {
                                    <lable id="lblDebtorAttorney" style="color:blue;display:none;">( Only Contact Debtor's Attorney )</lable>
                                }
                                    }

                                </div>
                                <div class="col-xs-12 form-group">
                                    <input type="button" id="btnEditMoreInfo" value="Edit" onclick="EditMoreInfo(@Model.obj_DebtAccount.DebtAccountId)" style="float: right;">
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-xs-3 NopaddingLR">
                            <fieldset class="customFieldset">
                                <legend>Financial Info</legend>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Assigned:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotAsgAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotAsgAmt) , @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Collection Fees:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotCollFeeAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotCollFeeAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Adjusted:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotAdjAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotAdjAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Payments:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotPmtAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotPmtAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Remain Princ:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotBalAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotBalAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Legal Costs:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotAttyExpAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotAttyExpAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>SC Costs:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotCostExpAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotCostExpAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Receieved Costs:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotCostRcvAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotCostRcvAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Interest:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotIntAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotIntAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Interest Paid:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotIntRcvAmt, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotIntRcvAmt), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR" style="margin-top: -20px;">
                                    <div class="col-xs-7">

                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        <hr size="1" style="width: 165%;border: 0.5px solid black !important;">
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group NopaddingLR">
                                    <div class="col-xs-7">
                                        <lable>Total Due:</lable>
                                    </div>
                                    <div class="col-xs-5" style="margin-left: -25px;">
                                        @Html.TextBoxFor(m => m.obj_DebtAccount.TotalDue, new { Value = String.Format("{0:C}", Model.obj_DebtAccount.TotalDue), @class = "form-control txtDigits", style = "display:inline; width:165%", @readonly = true })
                                    </div>
                                </div>

                      
                             

                                <div class="col-xs-12 form-group NopaddingLR" style="text-align:center;">
                                       <input type="button" id="btnPaymentCalculator" value="Payment Calculator" onclick="ShowPaymentCalculator(@Model.obj_DebtAccount.DebtAccountId,@Model.obj_DebtAccount.TotalDue)">
                                </div>

                                <div class="col-xs-12 form-group NopaddingLR" style="text-align:center;">
                                    <input type="button" id="btnCreditCardAuth" value="Credit Card Auth" onclick="">
                                </div>
                                
                            </fieldset>
                        </div>

                    </div>
                </div>

                @*<div class="form-group col-xs-12 lt NopaddingLR" style="display:none;">

                    <div class="col-xs-9 NopaddingLR">
                        <fieldset class="customFieldset">
                            <legend>Account Action</legend>
                            <div class="col-xs-12 form-group NopaddingLR">
                                <div class="col-xs-2">

                                </div>
                                <div class="col-xs-3 LableAlign checkbox-sm">
                                    <lable>Next Review</lable>
                                    &nbsp;@Html.CheckBoxFor(m => m.chkNextContact)
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.NewContactDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:none;" })
                                </div>
                                <div class="col-xs-2">
                                    <lable>New Priority</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.NewPriority, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group NopaddingLR">
                                <div class="col-xs-2">
                                    <input type="button" id="btnNewAction" class="btn btn-primary" value="New Action">
                                </div>
                                <div class="col-xs-3 LableAlign checkbox-sm">
                                    <lable>Next Desk</lable>
                                    &nbsp;@Html.CheckBoxFor(m => m.chkNewDesk)
                                </div>
                                <div class="col-xs-4">
                                    @Html.DropDownListFor(m => m.NewLocationId, Model.LocationList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:none;" })
                                </div>
                                <div class="col-xs-1">

                                </div>
                                <div class="col-xs-1">

                                </div>
                            </div>


                            <div class="col-xs-12 form-group NopaddingLR">
                                <div class="col-xs-2">
                                </div>
                                <div class="col-xs-3 LableAlign checkbox-sm">
                                    <lable>Next To Desk</lable>
                                    &nbsp;@Html.CheckBoxFor(m => m.chkTO)
                                </div>
                                <div class="col-xs-4">
                                    @Html.DropDownListFor(m => m.NewTempOwnerId, Model.LocationList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:none;" })
                                </div>
                                <div class="col-xs-3 checkbox-sm">
                                    <lable>Delete To Desk</lable>
                                    &nbsp;@Html.CheckBoxFor(m => m.chkDeleteToDesk)
                                </div>

                            </div>

                        </fieldset>
                    </div>

                    <div class="col-xs-3 NopaddingLR">
                        <fieldset class="customFieldset">
                            <div class="nav-tabs-horizontal" data-plugin="tabs" style="padding-left: 5px;">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li id="AccountTypes" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAdditionalInfo" aria-controls="TabAdditionalInfo" role="tab" aria-selected="false">Account Types</a></li>
                                    <li id="PlacedBY" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabPlacedBy" aria-controls="TabPlacedBy" role="tab" aria-selected="false">Placed By</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">

                                <div class="tab-pane active" id="TabAdditionalInfo" role="tabpanel">
                                    <div class="col-xs-12 form-group NopaddingLR" style="padding-right: 0px !important;">
                                        <div class="col-xs-6 LableAlign checkbox-sm" style="padding-left: 0px;">
                                            <lable>
                                                International<lable>
                                                    &nbsp;@Html.CheckBoxFor(m => m.chkInternational, new { @disabled = "disabled" })
                                        </div>
                                        <div class="col-xs-6 LableAlign checkbox-sm" style="padding-left: 0px;">
                                            <lable>
                                                Skip<lable>
                                                    &nbsp;@Html.CheckBoxFor(m => m.chkSkip, new { @disabled = "disabled" })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 form-group NopaddingLR" style="padding-right: 0px !important;">
                                        <div class="col-xs-6 LableAlign checkbox-sm" style="padding-left: 0px;">
                                            <lable>
                                                Judgment<lable>
                                                    &nbsp;@Html.CheckBoxFor(m => m.chkJudgment, new { @disabled = "disabled" })
                                        </div>
                                        <div class="col-xs-6 LableAlign checkbox-sm" style="padding-left: 0px;">
                                            <lable>
                                                Second<lable>
                                                    &nbsp;@Html.CheckBoxFor(m => m.chkSecond, new { @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="TabPlacedBy" role="tabpanel">
                                    <div class="col-xs-12 form-group NopaddingLR" style="padding-top: 3px;">
                                        <div class="col-xs-6 LableAlign">
                                            <lable> Source<lable>
                                        </div>
                                        <div class="col-xs-6 LableAlign">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.BatchType, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 form-group NopaddingLR">
                                        <div class="col-xs-6 LableAlign">
                                            <lable> Entered By<lable>
                                        </div>
                                        <div class="col-xs-6 LableAlign">
                                            @Html.TextBoxFor(m => m.obj_DebtAccount.SubmittedBy, new { @class = "form-control" })

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>*@
            </div>
            <div class="tab-pane" id="TabNotes" role="tabpanel">
                <br />
                <div id="FilterDiv" class="LableAlign">
                    @Html.RadioButtonFor(m => m.RbtNoteType, "All", new { @checked = true })<lable>All</lable> &nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.RbtNoteType, "Misc")<lable>Misc</lable>&nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.RbtNoteType, "Research")<lable>Research</lable>&nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.RbtNoteType, "Internal")<lable>Internal</lable>&nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.RbtNoteType, "Asset")<lable>Asset</lable>&nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.RbtNoteType, "Web")<lable>Web</lable>&nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.RbtNoteType, "Status")<lable>Status</lable>
                </div>
                <div id="tableDiv">
                    <table id="tblNotes" class="table table-bordered dataTable table-hover grid " border="1">
                        <thead>
                            <tr>
                                <th class="no-sort">Edit</th>
                                <th>User</th>
                                <th>Note Created</th>
                                <th>NoteType</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.ObjNotes.Count >= 1)
                            {
                                foreach (var i in Model.ObjNotes)
                                {
                                    <tr>
                                        <td>
                                            <button onclick="ShowNoteDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            @i.UserCode
                                        </td>
                                        @{
                                            if (i.NoteDate == DateTime.MinValue)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@i.NoteDate.ToShortDateString()</td>
                                            }
                                        }
                                        <td>
                                            @i.NoteType
                                        </td>

                                        <td>@i.Note</td>

                                    </tr>
                                                }
                                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div id="TabActionHistory" class="tab-pane">
                <br />
                @{Html.RenderPartial("~/Views/CRFViewCollections/Collectors/WorkCard/_AccountHeader.cshtml");}
                <br />
                <table id="tblActionHistory" class="table table-bordered dataTable table-hover grid " border="1">

                    <thead>
                        <tr>
                            <th>SubmittedBy</th>
                            <th>DateReq</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.ObjActionHistory)
                        {
                            <tr>
                                <td>@i.RequestedBy</td>
                                <td>@i.DateCreated.ToShortDateString()</td>
                                <td>@i.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="TabLedger" class="tab-pane">
                <br />
                @{Html.RenderPartial("~/Views/CRFViewCollections/Collectors/WorkCard/_AccountHeader.cshtml");}
                <br />
                <table id="tblLedger" class="table table-bordered dataTable table-hover grid " border="1">
                    <thead>
                        <tr>
                            <th>PayDate</th>
                            <th>RemitDate</th>
                            <th>Type</th>
                            <th>TrxAmt</th>
                            <th>AsgAmt</th>
                            <th>AdjAmt</th>
                            <th>AsgRcv</th>
                            <th>CollFeeRcv</th>
                            <th>IntRcv</th>
                            <th>CostRcv</th>
                            <th>AttyRcv</th>
                            <th>AttyOwed</th>
                            <th>Rate</th>
                            <th>PmtAmt</th>
                            <th>AdvCC</th>
                            <th>Invoiced</th>
                            <th>SubType</th>
                            <th>PaySts</th>
                            <th>Desk</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.ObjLedger)
                        {
                            <tr>
                                <td>@i.TrxDate.ToShortDateString()</td>
                                <td>@i.RemitDate.ToShortDateString()</td>
                                <td>@i.LedgerType</td>
                                <td>@i.TrxAmt</td>
                                <td>@i.AsgAmt</td>
                                <td>@i.AdjAmt</td>
                                <td>@i.AsgRcvAmt</td>
                                <td>@i.FeeRcvAmt</td>
                                <td>@i.CostRcvAmt</td>
                                <td>@i.AttyRcvAmt</td>
                                <td>@i.AttyOwedAmt</td>
                                <td>@i.Rate</td>
                                <td>@i.PmtAmt</td>
                                <td>@i.FeeAmt</td>
                                <td>@i.IsAdvanceCC</td>
                                <td>@i.InvoicedDate.ToShortDateString()</td>
                                <td>@i.SubLedgerType</td>
                                <td>@i.CollectionStatus</td>
                                <td>@i.DeskNum</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="TabAddresses" class="tab-pane">
                <br />
                <table id="tblAddresses" class="table table-bordered dataTable table-hover grid " border="1">
                    <thead>
                        <tr>
                            <th class="no-sort">Edit</th>
                            <th>AddrSeq</th>
                            <th>ContactName</th>
                            <th>AddressLine1</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                            <th>PhoneNo</th>
                            <th>PhoneNo2</th>
                            <th>Email</th>
                            <th>BadAddr</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.ObjAddress)
                        {
                            <tr>
                                <td>
                                    <button onclick="ShowAddressDetails(@i.DebtAddressId)" class="btn btn-default btn-icon btn-pure">
                                        <i class="icon wb-edit" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>@i.DebtAddressTypeId</td>
                                <td>@i.ContactName</td>
                                <td>@i.AddressLine1</td>
                                <td>@i.City</td>
                                <td>@i.State</td>
                                <td>@i.PostalCode</td>
                                <td>@i.PhoneNo</td>
                                <td>@i.PhoneNo2</td>
                                <td>@i.Email</td>
                                <td>@i.BadAddressFlag</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="TabCreditReport" class="tab-pane">
                <br />
                @{Html.RenderPartial("~/Views/CRFViewCollections/Collectors/WorkCard/_AccountHeader.cshtml");}
                <br />
                <table id="tblCreditReport" class="table table-bordered dataTable table-hover grid " border="1">
                    <thead>
                        <tr>
                            <th class="no-sort">Edit</th>
                            <th>Type</th>
                            <th>LastName</th>
                            <th>FirstName</th>
                            <th>AddressLine1</th>
                            <th>SSN</th>
                            <th>ECOA</th>
                            <th>Status</th>
                            <th>ReportedOn</th>
                            <th>CosignerLastName</th>
                            <th>CosignerFirstName</th>
                            <th>CosignerAddressLine1</th>
                            <th>TaxID</th>
                            <th>CosignerECOA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.ObjCreditReport)
                        {
                            <tr>
                                <td>
                                    <button onclick="ShowCreditReport(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                        <i class="icon wb-edit" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>@i.ReportType</td>
                                <td>@i.LastName</td>
                                <td>@i.FirstName</td>
                                <td>@i.AddressLine1</td>
                                <td>@i.SSN</td>
                                <td>@i.ECOACode</td>
                                <td>@i.AccountStatus</td>
                                <td>@i.LastReportedOn</td>
                                <td>@i.CosignerLastName</td>
                                <td>@i.CosignerFirstName</td>
                                <td>@i.CosignerAddressLine1</td>
                                <td>@i.CosignerSSN</td>
                                <td>@i.CosignerECOACode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="TabDocuments" class="tab-pane">
                <br />
                <table id="tblDebtDocuments" class="table table-bordered dataTable table-hover grid " border="1">
                    <thead>
                        <tr>
                            <th class="no-sort">Download</th>
                            <th>DateCreated</th>
                            <th>UserCode</th>
                            <th>DocumentType</th>
                            <th>DocumentDescription</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.ObjDocuments)
                        {
                            <tr>
                                <td>
                                    <button onclick="DownloadDocument(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                        <i class="icon wb-edit" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>@i.DateCreated</td>
                                <td>@i.UserCode</td>
                                <td>@i.DocumentType</td>
                                <td>@i.DocumentDescription</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal modal-primary fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                </div>

            </div>
        </div>

        <div class="modal modal-primary fade" id="myModalWide" role="dialog">
            <div class="modal-dialog" style="width:900px !important">

                <!-- Modal content-->
                <div class="modal-content" style="width:900px !important">

                </div>

            </div>
        </div>

        <div class="modal modal-primary fade" id="myModalDBFax" role="dialog">
            <div class="modal-dialog" style="width:500px !important">

                <!-- Modal content-->
                <div class="modal-content" style="width:500px !important">

                </div>

            </div>
        </div>

        <div class="modal modal-primary fade" id="myModalDBFaxOK" role="dialog">
            <div class="modal-dialog" style="width:519px !important">

                <!-- Modal content-->
                <div class="modal-content" style="width:500px !important">

                </div>

            </div>
        </div>

        <div class="modal modal-primary fade" id="myModalCLFax" role="dialog">
            <div class="modal-dialog" style="width:500px !important">

                <!-- Modal content-->
                <div class="modal-content" style="width:500px !important">

                </div>

            </div>
        </div>

        <div class="modal modal-primary fade" id="myModalCLFaxOK" role="dialog">
            <div class="modal-dialog" style="width:519px !important">

                <!-- Modal content-->
                <div class="modal-content" style="width:500px !important">

                </div>

            </div>
        </div>

        <div class="modal modal-primary fade" id="myModalClientInfo" role="dialog">
            <div class="modal-dialog" style="width:900px !important">

                <!-- Modal content-->
                <div class="modal-content" style="width:900px !important">

                </div>

            </div>
        </div>

        <div class="modal modal-primary fade" id="myModalMoreInfo" role="dialog">
            <div class="modal-dialog" style="width:500px !important">

                <!-- Modal content-->
                <div class="modal-content" style="width:500px !important">

                </div>

            </div>
        </div>

        <script type="text/javascript">
            $('#chkNextContact').click(function () {
                var checked_status = this.checked;
                if (checked_status == true) {
                    $('#NewContactDate').show();
                }
                else {
                    $('#NewContactDate').hide();
                }
            });

            $('#chkNewDesk').click(function () {
                var checked_status = this.checked;
                if (checked_status == true) {
                    $('#NewLocationId').show();
                }
                else {
                    $('#NewLocationId').hide();
                }
            });

            $('#chkTO').click(function () {
                var checked_status = this.checked;
                if (checked_status == true) {
                    $('#NewTempOwnerId').show();
                }
                else {
                    $('#NewTempOwnerId').hide();
                }
            });

            $("[name='RbtNoteType']").click(function () {
                debugger;
                var RadioButtonValue = $(this).val();
                $('#tblNotes > tbody  > tr').each(function (i, CurrentRow) {

                    if (RadioButtonValue == "All") {
                        $(CurrentRow).show();
                    }
                    else {
                        var NoteType = $('td:eq(3)', CurrentRow).text();
                        if (NoteType != RadioButtonValue) {
                            $(CurrentRow).hide();
                        }
                        else {
                            $(CurrentRow).show();
                        }
                    }
                });

            });

            function ShowNoteDetails(Id) {
                $.ajax({
                    url: '@Url.Action("GetNoteDetails", "WorkCard")',
                    data: { Id: Id },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModal .modal-content').html(data);
                        $('#myModal').modal("show");
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }

            function ShowAddressDetails(DebtAddressId) {
                $.ajax({
                    url: '@Url.Action("GetAddressDetails", "WorkCard")',
                    data: { DebtAddressId: DebtAddressId },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModal .modal-content').html(data);
                        $('#myModal').modal("show");
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }

            function ViewDownloadDoc(Id) {
                debugger;
                CheckFileExtension(Id);
                var AttachmentId = Id;
                var url = "/ViewClients/ViewDownloadDoc/" + Id;

            }

            function EditAccount(DebtAccountId) {
                $.ajax({
                    url: '@Url.Action("EditAccount", "WorkCard")',
                    data: { DebtAccountId: DebtAccountId },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModal .modal-content').html(data);
                        $('#myModal').modal("show");
                        $('#obj_DebtAccountEdit_CloseDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                        $('#obj_DebtAccountEdit_NextStatusDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                        $('#obj_DebtAccountEdit_PaymentDueDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                        EditCheckMinDate();
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }

            function EditCheckMinDate() {
                debugger;
                var DateTextBoxArray = ["obj_DebtAccountEdit_CloseDate",
                                        "obj_DebtAccountEdit_NextStatusDate",
                                        "obj_DebtAccountEdit_PaymentDueDate"];
                $.each(DateTextBoxArray, function (idx, name) {
                    debugger;
                    if ($("#" + name).length) {
                        var date = $("#" + name).val();
                        var date1 = $("#" + name).text();

                        if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                            $("#" + name).val("");
                            $("#" + name).text("");
                            $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                        }
                    }
                });
            }

            function ShowMap(AddressLine1, City, State, PostalCode) {
                debugger;
                var str = "http://maps.google.com/maps?q=";
                if (AddressLine1 != "") {
                    AddressLine1 = AddressLine1.replace(/ /g, '+');
                    str = str + AddressLine1 + ",+";
                }
                if (City != "") {
                    City = City.replace(/ /g, '+');
                    str = str + City + ",+";
                }
                if (State != "") {
                    State = State.replace(/ /g, '+');
                    str = str + State + ",+";
                }
                if (PostalCode != "") {
                    PostalCode = PostalCode.replace(/ /g, '+');
                    str = str + PostalCode;
                }
                window.open(str);
            }

            function ShowPaymentCalculator(DebtAccountId, TotalDue) {
                $.ajax({
                    url: '@Url.Action("ShowPaymentCalculator", "WorkCard")',
                    data: { DebtAccountId: DebtAccountId, TotalDue: TotalDue },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModalWide .modal-content').html(data);
                        $("#FirstPmtDate").datepicker({ format: 'mm/dd/yy' }).datepicker();
                        $('#myModalWide').modal("show");
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }

            function ShowDBFaxAccountInfo(DebtAccountId) {
                debugger;
                $.ajax({
                    url: '@Url.Action("ShowDBFaxAccountInfo", "WorkCard")',
                    data: { DebtAccountId: DebtAccountId },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModalDBFax .modal-content').html(data);
                        $('#myModalDBFax').modal("show");
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }



            function ShowCLFaxAccountInfo(DebtAccountId) {
                debugger;
                $.ajax({
                    url: '@Url.Action("ShowCLFaxAccountInfo", "WorkCard")',
                    data: { DebtAccountId: DebtAccountId },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModalCLFax .modal-content').html(data);
                        $('#myModalCLFax').modal("show");
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }

            function ShowClientInfo(ClientId) {
                $.ajax({
                    url: '@Url.Action("ShowClientInfo", "WorkCard")',
                    data: { ClientId: ClientId },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModalClientInfo .modal-content').html(data);
                        $('#myModalClientInfo').modal("show");
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }


            function EditMoreInfo(DebtAccountId) {
                $.ajax({
                    url: '@Url.Action("EditMoreInfo", "WorkCard")',
                    data: { DebtAccountId: DebtAccountId },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModalMoreInfo .modal-content').html(data);
                        $('#myModalMoreInfo').modal("show");
                        $('#obj_DebtAccountMoreInfoEdit_NextContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                        EditMoreInfoCheckMinDate();
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }

            function EditMoreInfoCheckMinDate() {
                debugger;
                var DateTextBoxArray = ["obj_DebtAccountMoreInfoEdit_NextContactDate",
                                                       "obj_DebtAccount_ReferalDate",
                                                        "obj_DebtAccount_LastServiceDate",
                                                        "obj_DebtAccount_NextContactDate",
                                                        "obj_DebtAccount_LastPaymentDate",
                                                        "obj_DebtAccount_LastTrustDate",
                                                        "obj_DebtAccount_CloseDate",
                                                        "obj_DebtAccount_NextStatusDate",
                                                        "obj_DebtAccount_PaymentDueDate"];
                $.each(DateTextBoxArray, function (idx, name) {
                    debugger;
                    if ($("#" + name).length) {
                        var date = $("#" + name).val();
                        var date1 = $("#" + name).text();

                        if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                            $("#" + name).val("");
                            $("#" + name).text("");
                            $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                        }
                    }
                });
            }
        </script>
