﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.NoteVM
@{
    Layout = null;
}

<form id="FormClosedIssueNote">
    <div class="modal-header">
        <h3 class="Details-Heading">
             Note
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
  
        <div class="col-xs-12 form-group">
            @Html.TextAreaFor(m => m.obj_note.Note,new { rows="10",cols="80"})
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btClearNote" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalNote(@Model.Obj_Note.Id);" />
            <input type="button" id="btDeleteNote" value="Delete" class="btn btn-primary pull-left" onclick="DeleteModalNote(@Model.Obj_Note.Id);" />*@
            @*<input type="button" id="btnsaveNote" value="Save" class="btn btn-primary" onclick="SaveNote()" />*@
            <input type="button" value="Cancel" id="CancelModalNote" class="btn btn-primary" onclick="CloseModalNote();" />
        </div>
    </div>
</form>
