﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.PaymentCalculatorVM
@{
    Layout = null;
}
<style>

</style>

<div class="modal-header">
    <h3 class="Details-Heading" style="margin-top: 15px;">
        <label>Payment Calculator</label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
            <span aria-hidden="true">×</span>
        </button>
    </h3>
</div>
<div class="modal-body" style="text-align:left">
    <div class="col-xs-12 form-group">
        <div class="col-xs-6 form-group">
            <fieldset class="customFieldset">
                <legend>Payment Schedule</legend>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 ">
                        <lable>Total Due: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.TotalDue, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 ">
                        <lable>Payment Amount: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.PmtAmt, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 ">
                        <lable>Frequency: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.Frequency, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 ">
                        <lable>1st Payment Date: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.FirstPmtDate, "{0:MM/dd/yy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 ">
                        <lable>1st Payment Date: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.FirstPmtDate, "{0:MM/dd/yy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-4 ">
                        <lable>1st Payment Date: </lable>
                    </div>
                    <div class="col-xs-4 NopaddingLR">
                        <input type="button" value="Calculate Schedule">
                    </div>
                    <div class="col-xs-4 NopaddingLR">

                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6">
                        <lable>Last Payment Date: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.LastPmtDate, "{0:MM/dd/yy}", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6">
                        <lable>Last Payment Amount: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.LastPmtDate, "{0:MM/dd/yy}", new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
            </div>
        <div class="col-xs-6 form-group">
            <fieldset class="customFieldset">
                <legend>Payment Amount</legend>
                <div class="col-xs-12 form-group NopaddingLR">
                    <div class="col-xs-6 ">
                        <lable>Total Due: </lable>
                    </div>
                    <div class="col-xs-6 NopaddingLR">
                        @Html.TextBoxFor(m => m.TotalDueP, new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
        <input type="button" value="Cancel" id="CancelModalPaymentCalculator" class="btn btn-primary" data-dismiss="modal" />
    </div>
</div>

<script>

</script>