﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.ClientInfoVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormShowClientInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>
                Client Collections Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="nav-tabs-horizontal" data-plugin="tabs" @*style="margin-top: 30px;"*@>
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainContact" aria-controls="TabMainContact" role="tab" aria-selected="false">Main Contact</a></li>
                <li id="SecondaryContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSecondaryContact" aria-controls="TabSecondaryContact" role="tab" aria-selected="false">Secondary Contact</a></li>
                <li id="MiscInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMiscInfo" aria-controls="TabMiscInfo" role="tab" aria-selected="false">Misc Info</a></li>
                <li id="Billing" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabBilling" aria-controls="TabBilling" role="tab" aria-selected="false">Billing</a></li>
                <li id="Reporting" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabReporting" aria-controls="TabReporting" role="tab" aria-selected="false">Reporting</a></li>
                <li id="LegalInfo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLegalInfo" aria-controls="TabLegalInfo" role="tab" aria-selected="false">Legal Info</a></li>
            </ul>
        </div>

        <div class="tab-content">

            <div class="tab-pane" id="TabMainContact" role="tabpanel">
                <br />

                <div class="form-group col-xs-8 lt NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Main Contact</legend>
                        <div class="col-xs-12 form-group NopaddingLR">
                                <div class="col-xs-4">
                                    <lable>Contact</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactName, new { @class = "form-control", style = "display:inline;"})
                                </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-4">
                                <lable>As</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactSalutation, new { @class = "form-control", style = "display:inline;"})
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-4">
                                <lable>Title</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactTitle, new { @class = "form-control", style = "display:inline;"})
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-4">
                                <lable>Email</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.Email, new { @class = "form-control", style = "display:inline;"})
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-4">
                                <lable>CCEmail</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactEmail2, new { @class = "form-control", style = "display:inline;"})
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-4">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactPhone, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-4">
                                <lable>Extension</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactPhoneExt, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-4">
                                <lable>Birth Date</lable>
                            </div>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(m => m.obj_ClientCollectionInfo.ContactDOB, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>

            <div class="tab-pane" id="TabSecondaryContact" role="tabpanel">
                <br />

                <div class="form-group col-xs-10 lt NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Secondary Contact</legend>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3 LableAlign checkbox-sm">
                                <lable>Next Review</lable>

                            </div>
                            <div class="col-xs-2">
                            </div>
                            <div class="col-xs-2">
                                <lable>New Priority</lable>
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>

                    </fieldset>

                </div>

            </div>

            <div class="tab-pane active" id="TabMiscInfo" role="tabpanel">
                <br />


                <div class="col-xs-9 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Misc Info</legend>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3 LableAlign checkbox-sm">
                                <lable>Next Review</lable>

                            </div>
                            <div class="col-xs-2">
                            </div>
                            <div class="col-xs-2">
                                <lable>New Priority</lable>
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>

                    </fieldset>
                </div>


            </div>

            <div class="tab-pane" id="TabBilling" role="tabpanel">
                <br />

                <div class="form-group col-xs-12 lt NopaddingLR">

                    <fieldset class="customFieldset">
                        <legend>Billing</legend>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3 LableAlign checkbox-sm">
                                <lable>Next Review</lable>

                            </div>
                            <div class="col-xs-2">
                            </div>
                            <div class="col-xs-2">
                                <lable>New Priority</lable>
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>

                    </fieldset>
                </div>


            </div>

            <div class="tab-pane" id="TabReporting" role="tabpanel">
                <br />

                <div class="form-group col-xs-12 lt NopaddingLR">

                    <fieldset class="customFieldset">
                        <legend>Reporting</legend>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3 LableAlign checkbox-sm">
                                <lable>Next Review</lable>

                            </div>
                            <div class="col-xs-2">
                            </div>
                            <div class="col-xs-2">
                                <lable>New Priority</lable>
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>

                    </fieldset>

                </div>

            </div>

            <div class="tab-pane" id="TabLegalInfo" role="tabpanel">
                <br />

                <div class="form-group col-xs-12 lt NopaddingLR">

                    <fieldset class="customFieldset">
                        <legend>Legal Info</legend>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-3 LableAlign checkbox-sm">
                                <lable>Next Review</lable>

                            </div>
                            <div class="col-xs-2">
                            </div>
                            <div class="col-xs-2">
                                <lable>New Priority</lable>
                            </div>
                            <div class="col-xs-2">
                            </div>
                        </div>

                    </fieldset>
                </div>


            </div>
        </div>
    </div>
    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="Exit" id="ExitModalShowClientInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">


</script>
