﻿@model CRFView.Adapters.Collections.Collectors.WorkCard.ViewModels.AccountFilterListVM
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Account List</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        <div style="padding-bottom:45px">
            <div id="divFilter" >
            <button type="button" id="btnFilter" class="btn btn-primary pull-left" onclick="FilterAccount();"><i class=""></i>Back to Filter</button>
               
            @Html.DropDownListFor(model => model.SortBy, Model.SortByList, new { @id = "drpSortBy", @class = "form-control" , style = "width : 15%;  margin-left : -63%; display: none;" , onchange= "drpSortBy_SelectedIndexChanged()" })
            
            @Html.DropDownListFor(model => model.SortType, Model.SortTypeList, new { @id = "drpSortType", @class = "form-control" , style = "width : 15%; display: none;", onchange = "drpSortType_SelectedIndexChanged()" })
         </div>

            <button type="button" id="btnBackToFilter" class="btn btn-primary pull-left" onclick="BackToFilterAccount();" style="display: none;"><i class=""></i>Back to Filter</button>
             <button type="button" id="btnBackToAccountList" class="btn btn-primary pull-left" onclick="BackToAccountList();" style="display: none; margin-left: 5px;"><i class=""></i>Back to List</button>
        </div>
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewCollections/Collectors/WorkCard/_AccountListNew.cshtml");}
        </div>

        <div id="EditAccount">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog "  style="width:1000px !important">

        <!-- Modal content-->
        <div class="modal-content"  style="width:1000px !important">

        </div>

    </div>
</div>


<script type="text/javascript">

        function OnPartialLoad() {

        }

        function FilterAccount() {
            debugger;
            $.ajax({
                url: '@Url.Action("ShowFilterModal", "WorkCard")',
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    $('#FilterObj_NextContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_ReferalDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_NextStatusDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_FWDJudgmentDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_SCReviewDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_SCJudgmentDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_NextTrialDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());

                    var today = new Date();
                    today.setDate(-60);
                    $('#FilterObj_NextContactDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", today);
                    $('#FilterObj_NextContactDateTo').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_ReferalDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_ReferalDateTo').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_SCReviewDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", today);
                    $('#FilterObj_SCReviewDateTo').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_NextTrialDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_NextTrialDateTo').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_SCJudgmentDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());

                    var today30 = new Date();
                    today30.setDate(30);

                    var newdate = new Date();

                    newdate.setDate(newdate.getDate() + 30);

                    $('#FilterObj_SCJudgmentDateTo').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", newdate);
                    $('#FilterObj_FWDCourtDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_FWDCourtDateTo').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_FWDJudgmentDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('#FilterObj_FWDJudgmentDateTo').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", newdate);

                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

        function BackToFilterAccount() {
            debugger;
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("Index", "WorkCard")',
                datatype: "json",
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#BindView').empty();
                    $("#BindView").append(data);
                    //$('#list').html(data);
                    //$('#EditAccount').html();

                    makeDatatable('tblWorkCard');
                    OnPartialLoad();
                    hideLoadingImage();
                },
                error: function (xhr) {
                    hideLoadingImage();
                    alert("error");
                }
            });
        }

    function BackToAccountList() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Index", "WorkCard")',
            datatype: "json",
            type: "POST",
            success: function (data) {
                debugger;
                $('#BindView').empty();
                $("#BindView").append(data);
                //$('#list').html(data);
                //$('#EditAccount').html();

                makeDatatable('tblWorkCard');
                OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function drpSortBy_SelectedIndexChanged() {
        debugger;
        showLoadingImage();
        var SortByValue = $('#drpSortBy option:selected').val();
        var SortTypeValue = $('#drpSortType option:selected').val();
        $.ajax({
            url: '@Url.Action("GetSortedResult", "WorkCard")',
            data: { SortByValue: SortByValue, SortTypeValue: SortTypeValue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCard');
                OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function drpSortType_SelectedIndexChanged() {
        debugger;
      showLoadingImage();
        var SortByValue = $('#drpSortBy option:selected').val();
        var SortTypeValue = $('#drpSortType option:selected').val();
        $.ajax({
            url: '@Url.Action("GetSortedResult", "WorkCard")',
            data: { SortByValue: SortByValue, SortTypeValue: SortTypeValue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCard');
                OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }



    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["obj_ADClientLienInfo_ContactDOB",
                                "ADC_obj_ContactDOB2",
                                "obj_DebtAccount_ReferalDate",
                                "obj_DebtAccount_LastServiceDate",
                                "obj_DebtAccount_NextContactDate",
                                "obj_DebtAccount_LastPaymentDate",
                                "obj_DebtAccount_LastTrustDate",
                                "obj_DebtAccount_CloseDate",
                                "obj_DebtAccount_NextStatusDate",
                                "obj_DebtAccount_PaymentDueDate"
                                ];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }
</script>



