﻿@model CRFView.Adapters.Accounting.AccountingCollections.CreateInvoices.ViewModels.AccountingCreateInvoicesVM

@{
    Layout = null;
}


<style>
    .rt {
        text-align: right;
    }

    .Setfieldset {
        width: 606px;
        height: 285px;
    }
</style>
<form id="FormCreateInvoice">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Create Invoices</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @*<div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">
                <fieldset class="customFieldset">
                    <legend>Selection Info</legend>
                    
                    <div class="col-xs-2">
                        <lable>Remittance From</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m=>m.FromDate,"{0:MM/dd/yy}",new { style="width:150px;"})
                    </div>
                    <div class="col-xs-2">
                        <lable>Remittance Thru</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m=>m.ThruDate,"{0:MM/dd/yy}",new { style="width:150px"})
                    </div>

                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="OK()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModal()" />
        </div>
    </div>*@

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>
                    <br />

                    <br />
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-4 rt checkbox-sm" style="margin-left: 40px;">
                            @Html.CheckBoxFor(m => m.chkAllClient)
                            &nbsp;
                            <lable>All Clients</lable>
                        </div>
                        <div class="col-xs-5 NopaddingLR" style="width: 274px;">
                            <div class="col-xs-12" id="divAllClient" style="@(Model.chkAllClient == false ? "display:block" : "display:none")">
                                @Html.DropDownListFor(m => m.ClientId, Model.GetClientList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;margin-left:-6px; " })
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt">
                            <lable>Invoice Cycle</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.DropDownListFor(m => m.Id, Model.InvoiceCycleList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;width:128px;" })


                        </div>
                    </div>
                    <br />
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt">
                            <lable>Invoice From Date</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.FromDate, "{0:MM/dd/yyyy", new { style = "width:128px;" })
                        </div>
                    </div>
                    <br />
                 
                        <div class="col-xs-10 form-group">
                            <div class="col-xs-6 rt">
                                <lable>Invoice Thru Date</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.ThruDate, "{0:MM/dd/yyyy}", new { style = "width:128px" })
                            </div>
                        </div>
                    
                    <br />
                    <br />

                    @*<div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To Printer")
                            &nbsp;
                            <lable>Send to Printer</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
                            &nbsp;
                            <lable>Send to PDF</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 245px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Create CSV File")
                            &nbsp;
                            <lable>Create CSV File</lable>
                        </div>
                    </div>*@

                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="margin-left: 16px;" />
            @*<input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="Delete()" />*@
            <input type="button" id="btnPrintLienRevenueOK" value="OK" class="btn btn-primary" onclick="SaveInvoice()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>
</form>
<script>


    $("[name='chkAllClient']").click(function () {
        debugger;
        //var chkAllIndustryTypes = $(this).val();

        if (this.checked) {
            $('#divAllClient').hide();
        }
        else {
            $('#divAllClient').show();
        }
    });
    function SaveInvoice() {

        debugger;
        showLoadingImage();
        var data = $('#FormCreateInvoice').serialize();
        $.ajax({
            url: '@Url.Action("CreateInvoice", "CreateInvoices")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                $('.modal-backdrop').remove();
                if (data == 1) {

                    CreateINvoiceCSuccessPoppup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    NoticeSentWarning();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }


    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#FromDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
        $('#ThruDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }

    
    function CreateINvoiceCSuccessPoppup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Process Completed",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
   

    </script>