﻿@model CRFView.Adapters.Accounting.ClientFollowUp.LienInvoices.LienInvoicesVM.LienInvoiceDetailsVM
@{
    Layout = null;
}


<form id="FormLienInvoiceDetails">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Lien Invoice Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

 
    <div class="modal-body">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="ClientInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabClientInfo" aria-controls="TabClientInfo" role="tab" aria-selected="false">Client Info</a></li>
                <li id="Notes" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabNotes" aria-controls="TabNotes" role="tab" aria-selected="false">Notes</a></li>
                <li id="Attachments" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAttachments" aria-controls="TabAttachments" role="tab" aria-selected="false">Attachments</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="TabClientInfo" role="tabpanel">
                <br/>
                <div class="form-group">
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                                <lable>Client Code</lable>
                         </div>
                        <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.ObjClient.ClientCode,new { @class="form-control"})
                        </div>
                        
                        <div class="col-xs-2">
                            <lable>Invoice#</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.Id, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <input type="button" id="btnFlagPaid" class="btn btn-primary" value="Flag as Paid" onclick="FlagAsPaid(@Model.ObjClientFinDoc.Id);" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                                <lable>Client</lable>
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.ObjClientFinDoc.InvoiceName, new { @class = "form-control" })
                            </div>
                        <div class="col-xs-2">
                            <lable>Invoice Date</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.DocumentDate, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <input type="button" id="btnResendEmail" class="btn btn-primary" value="Resend Email" onclick="ResendEmail(@Model.ObjClientFinDoc.Id,@Model.ObjReportHistory.PKID)" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                            <lable>Address1</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientLienInfo.InvoiceAddr1, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Invoice Amt</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.DocumentAmt, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <input type="button" class="btn btn-primary" value="Flag as Unpaid" onclick="FlagUnpaid(@Model.ObjClientFinDoc.Id)" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                            <lable>Address2</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientLienInfo.InvoiceAddr2, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Payment</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.TotRcvAmt, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <input type="button" class="btn btn-primary" value="Flag as Viewed" onclick="FlagViewed(@Model.ObjReportHistory.PKID)" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                            <lable>City/State/Zip</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientLienInfo.InvoiceCity, new { style = "width:76px; display:inline;", @class = "form-control" })
                            @Html.TextBoxFor(m => m.ObjClientLienInfo.InvoiceState, new { style = "width:52px; display:inline;", @class = "form-control" })
                            @Html.TextBoxFor(m => m.ObjClientLienInfo.InvoiceZip, new { style = "width:79px; display:inline;", @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Adjustments</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.TotAdjAmt, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientLienInfo.InvoicePhoneNo, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Amount Due</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.TotalDue, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientLienInfo.InvoiceFax, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Review Date</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.ReviewDate, "{0:MM/dd/yy}", new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2 ">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                            <lable>Contact</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.InvoiceAttn, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <lable>Date Mailed</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjReportHistory.emaildate, "{0:MM/dd/yy}", new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @{
                                if (Model.ObjClientFinDoc.IsEmailInvoice == true)
                                {

                                }
                                else
                                {
                                    <lable style="color:red">Not An Email Invoice</lable>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 NopaddingLR">
                            <lable>Invoice Email</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientFinDoc.InvoiceEmail, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2 ">
                            <lable>Date last Visited</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjReportHistory.dateviewed, "{0:MM/dd/yy}", new { @class = "form-control" })
                        </div>
                        <div class="col-xs-2 ">
                            @Html.CheckBoxFor(m => m.ObjClientFinDoc.IsPaid)
                            <lable>Is Paid</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 NopaddingLR form-group left-text">
                        <br/>
                            <fieldset class="customFieldset">                             
                                    <legend>Update Info</legend>
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        @Html.CheckBoxFor(m => m.ChkNewReview)
                                        <lable>New Review</lable>
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.TextBoxFor(m => m.TxtNewReviewDate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker",style="width:181px;display:none;" })
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.CheckBoxFor(m => m.ChkDeleteReview)
                                        <lable>Delete Review Date</lable>
                                    </div>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        @Html.CheckBoxFor(m => m.ChkNewEmail)
                                        <lable>New Email Addr</lable>
                                    </div>
                                    <div class="col-xs-6">
                                        @Html.TextBoxFor(m => m.TxtNewEmail, new { @class = "form-control", style = "display:none;" })
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save(@Model.ObjClientFinDoc.Id)" />
                                    </div>
                                </div>
                            </fieldset>
                        
                    </div>
                 </div>

            </div>
            <div class="tab-pane " id="TabNotes" role="tabpanel">
                <br/>
                <div class="col-xs-12">
                    <table id="tblLienInvoiceNotes" class="table table-bordered dataTable table-hover grid " border="1">
                        <thead>
                            <tr>
                                <th class="no-sort">Description</th>
                                <th>Date Created</th>
                                <th>Created By</th>
                                <th>Assigned To</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Issues != null && Model.Issues.Count >= 1)
                            {
                                foreach (var i in Model.Issues)
                                {
                                    <tr>
                                        <td>
                                            @i.IssueDescription
                                        </td>
                                        <td>
                                            @i.DateCreated
                                        </td>
                                        <td>
                                            @i.CreatedBy
                                        </td>
                                        <td>
                                            @i.AssignedTo
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div>
                        <input type="button" value="Add Note" id="btnAddNote" class="btn btn-primary pull-left" onclick="AddNote(@Model.ObjClientFinDoc.ClientId)" />
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="TabAttachments" role="tabpanel">
                <br/>
                <div class="col-xs-12">
                    <table id="tblLienInvoiceAttachments" class="table table-bordered dataTable table-hover grid " border="1">
                        <thead>
                            <tr>
                                <th class="no-sort">Download</th>
                                <th>Report Name</th>
                                <th>File Name</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Attachments != null && Model.Attachments.Count >= 1)
                            {
                                foreach (var i in Model.Attachments)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" onclick="ViewDownloadDoc(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-download" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            @i.description
                                        </td>
                                        <td>
                                            @i.url
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
         </div>
    </div>
  
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />*@
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>


<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    $('#ChkNewReview').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#TxtNewReviewDate').show();
        }
        else {
            $('#TxtNewReviewDate').hide();
        }
    });

    $('#ChkNewEmail').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#TxtNewEmail').show();
        }
        else {
            $('#TxtNewEmail').hide();
        }
    });

    function ViewDownloadDoc(PKId)
    {
        debugger;
        var AttachmentId = PKId;
        var url = "/LienInvoices/ViewAttachment?PKId=" + PKId;
        //var url = "/CRFView/ViewClients/ViewDownloadDoc/"+Id;
        window.location = url;
    }

    function AddNote(ClientId)
    {
        $.ajax({
            url: '@Url.Action("ShowAddNote", "LienInvoices")',
            data: { ClientId: ClientId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#NoteModal .modal-content').html(data);
                $('#Obj_Note_IssueDescription').summernote();
                $('#NoteModal').modal("show");
            },
            fail: function (error) {
                hideLoadingImage();
                $('#NoteModal').modal("hide");
                $('#errorMsg').show();
            }
        });
    }

    function Save(Id) {
        debugger;
        //////////////////////////////////////
        var ChkNewReview;
        if($('#ChkNewReview').prop('checked'))
        {
            ChkNewReview = true;
        }
        else
        {
            ChkNewReview = false;
        }

        var ChkNewReview;
        if($('#ChkNewEmail').prop('checked'))
        {
            ChkNewEmail = true;
        }
        else
        {
            ChkNewEmail = false;
        }

        var ChkDeleteReview;
        if($('#ChkDeleteReview').prop('checked'))
        {
            ChkDeleteReview = true;
        }
        else
        {
            ChkDeleteReview = false;
        }

        var TxtNewReviewDate = $('#TxtNewReviewDate').val();
        var TxtNewEmail = $('#TxtNewEmail').val();
        
        //////////////////////////////////////
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("LienInvoiceSave", "LienInvoices")',
                data: {Id:Id,ChkNewReview:ChkNewReview,ChkNewEmail:ChkNewEmail,
                       ChkDeleteReview:ChkDeleteReview,TxtNewReviewDate:TxtNewReviewDate,
                       TxtNewEmail:TxtNewEmail},
                type: "POST",
                success: function (data) {
                    $('#successMsg').show();
                    $('#myModal').modal("hide");
                    hideLoadingImage();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#myModal').modal("hide");
                    $('#errorMsg').show();
                }
            });
        
    }

    function FlagViewed(PKID)
    {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("FlagViewed", "LienInvoices")',
            data: { PKID: PKID},
            type: "POST",
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $('#myModal').modal("hide");
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#myModal').modal("hide");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function FlagUnpaid(Id)
    {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("FlagUnpaid", "LienInvoices")',
            data: { Id: Id},
            type: "POST",
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $('#myModal').modal("hide");
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#myModal').modal("hide");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function ResendEmail(Id,PKID)
    {
        showLoadingImage();
        var InvoiceEmail = $('#ObjClientFinDoc_InvoiceEmail').val();
        $.ajax({
            url: '@Url.Action("ResendEmail", "LienInvoices")',
            data: { Id: Id, PKID: PKID, InvoiceEmail: InvoiceEmail },
            type: "POST",
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#EmailResendMsg').show();
                    $('#myModal').modal("hide");
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#myModal').modal("hide");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function FlagAsPaid(Id)
    {
        $.ajax({
            url: '@Url.Action("FlagAsPaid", "LienInvoices")',
            data: {Id:Id},
            type: "POST",
            success: function (data) {
                if(data==true)
                {
                    $('#myModal').modal("hide");
                    $('#successMsg').show();
                }
                else{
                    $('#myModal').modal("hide");
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

</script>




