﻿
@{
    
}

<style>
    .left-text{
        text-align:left;
    }
    .w-130{
        width:130px;
    }
</style>

<div>
    <h3 class="page-header">Collection Invoices</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/CRFViewAccounting/ClientFollowUp/LienInvoices/_SearchDiv.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewAccounting/ClientFollowUp/LienInvoices/_LienInvoicesList.cshtml");}
        </div>
    </div>
</div>

<style>
    #tblLienInvoices_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">
        
        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="NoteModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        var PrevDate = new Date();
        PrevDate.setMonth(PrevDate.getMonth() - 2);
        $('#FromDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', PrevDate);
        $('#ToDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
    }

    function Search()
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Search", "LienInvoices")',
            data: $('#SearchForm').serialize(),
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                makeDatatable('tblLienInvoices');
                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
        return false;
    }

    function ShowDetails(ClientFinDocId, HistoryId) {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowDetails", "LienInvoices")',
            data: { ClientFinDocId: ClientFinDocId, HistoryId: HistoryId },
            type: 'POST',
            success: function (data) {
                $('#myModal .modal-content').html(data);
                CheckMinDate();
                makeDatatable('tblLienInvoiceNotes');
                makeDatatable('tblLienInvoiceAttachments');
                $('#TxtNewReviewDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["ObjClientFinDoc_ReviewDate",
                                "ObjReportHistory_emaildate",
                                "ObjReportHistory_dateviewed"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }
</script>