﻿<div class="row">
    <div class="col-xs-5">
        @Html.DropDownList("ddlAvailableList", new SelectList(ViewBag.ddlAvailableList, "Code", "Name"), new { @class = "form-control", style = "height: auto;" })
    </div>

    <div class="col-xs-2">

        <button type="button" id="rightSelected" class="btn btn-block" onclick="addSelectedClientList();"><i class=""></i>Add</button>
        <button type="button" id="leftSelected" class="btn btn-block" onclick="removeSelectedClientList();"><i class=""></i>Remove</button>

    </div>

    <div class="col-xs-5">
        @Html.ListBox("ddlSelectedList", new SelectList(ViewBag.ddlSelectedList, "Code", "Name"), new { @class = "form-control", style = "height: auto;" })
    </div>
</div>
