﻿<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>CRFS</title>
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/assets/images/apple-touch-icon.png")">
    <link rel="shortcut icon" href="@Url.Content("~/Content/assets/images/favicon.ico")">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/global/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/css/bootstrap-extend.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/site.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/datatables-bootstrap/dataTables.bootstrap.css")" type="text/css" />
    <!-- Plugins -->
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/select2/select2.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/bootstrap-select/bootstrap-select.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/animsition/animsition.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/asscrollable/asScrollable.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/switchery/switchery.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/intro-js/introjs.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/slidepanel/slidePanel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/flag-icon-css/flag-icon.css")">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    @*<link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/jvectormap/jquery-jvectormap.css")">*@
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/examples/css/dashboard/v1.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/bootstrap-datepicker/bootstrap-datepicker.min.css")">
      <!-- Fonts -->
  
    <link rel="stylesheet" href="@Url.Content("~/Content/global/fonts/weather-icons/weather-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/fonts/web-icons/web-icons.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/global/fonts/brand-icons/brand-icons.min.css")">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-multiselect.css")">

    @*<link rel="stylesheet" href="@Url.Content("~/Content/css/jquery-ui.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery-ui.min.css")">*@


     <!--[if lt IE 9]>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="@Url.Content("~/Content/global/vendor/media-match/media.match.min.js")"></script>
      <script src="@Url.Content("~/Content/global/vendor/respond/respond.min.js")"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="@Url.Content("~/Content/global/vendor/jquery/jquery.js")"></script>    
    @*<script src="@Url.Content("~/Content/global/vendor/jquery-ui/jquery-ui.min.js")"></script>*@    

    @*<script src="@Url.Content("~/Content/global/vendor/modernizr/modernizr.js")"></script>*@

    <script src="@Url.Content("~/Content/global/vendor/breakpoints/breakpoints.js")"></script>
    
    <link rel="stylesheet" href="@Url.Content("~/Content/global/vendor/bootstrap-sweetalert/sweet-alert.min.css")">
    <script src="@Url.Content("~/Content/global/vendor/bootstrap-sweetalert/sweet-alert.min.js")"></script>


       <script type="text/javascript">
           Breakpoints();
           $(document).ready(function () {
            
               btnToggleHideShow();
               
           });
          

           function btnToggleHideShow()
           {
        //comment temporary to see Toggle button to all users
              // if('@Session["IsClientViewManager"]'== -1 || '@Session["IsClientViewManager"]'== 1)
               //{
                   if ('@Session["Currdb"]' == '@System.Configuration.ConfigurationManager.AppSettings["TestDB"]' ) {
                       $('#btnTest').hide();
                       $('#btnProduction').show();
                   }
                   else {
                       $('#btnTest').show();
                       $('#btnProduction').hide();
                   }
               //}
              // else{
               //    $('#btnTest').hide();
                //   $('#btnProduction').hide();
               //}
           }
           function toggleDB(currValue) {
               debugger;
               var currPath = window.location.href;
               debugger;
               $.ajax({
                   url: '@Url.Action("configuration", "SwitchDatabase", new { area = "" })',
                   type: "POST",
                   data: "catalog=" + currValue,
                   success: function (data) {
                       debugger;
                       window.location.replace(data);
                   },
                   error: function (xhr) {

                   }

               });

           }


</script>
    <style>
      
.overlay1 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    /*background-color: rgba(82, 81, 79, 0.55);*/
    z-index: 2;
  
}
div.dataTables_length label{
    margin-top:5px;
}

/*Tooltip Design Start*/
.tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
  opacity:1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*Tooltip Design End*/
      </style>
</head>
<body class="dashboard">
   
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="@Url.Content("~/Content/images/Header1.jpg")" style="height:41px;width:100%" title="Remark">

            </div>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
                    data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon wb-search" aria-hidden="true"></i>
            </button>

        </div>
        <div class="navbar-container container-fluid">
        
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>


                </ul>
                
                <div style="padding-top: 20px;">
                    <div class="tooltip">
                        <button onclick="window.open('@Url.Action("Index", "Home")')" class="btn btn-default btn-icon">
                            <i class="icon wb-file" aria-hidden="true"></i>
                            <span class="tooltiptext">New CRFView</span>
                        </button>
                    </div> 
                    @*<button type="button" class="btn-link" style="color: white; font-weight: bold;" onclick="window.open('@Url.Action("Index", "Home")')">New CRFView</button>*@
                    <button type="button" class="btn-link pull-right" style="color: white; font-weight: bold;" onclick="location.href='@Url.Action("LogOff", "login",new { area = "" })'">Logout</button>
                </div>
                      </div>
     
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon wb-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search">
                            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <div id="loadingImageDiv" style="text-align:center" class="overlay1">
       Please Wait.. <img src="@Url.Content("~/Content/Images/loader.gif")" alt="Updating ..." style="position: absolute;top: 50%;left: 50%;margin: -50px 0px 0px -50px;">
    </div>
  
    <div class="site-menubar">
        <div>
            <input type="button" id="btnTest" onclick="toggleDB('QACRFDB')" class="btn btn-animate-side  btn-info center-block" style="margin-top:  20px; font-weight: 500; display:none" value="Switch to QACRFDB" />
            <input type="button" id="btnProduction" onclick="toggleDB('CRFDB')" class="btn btn-animate-side  btn-info center-block" style="margin-top:  20px; font-weight: 500; display:none" value="Switch to CRFDB" />


            @*<input type="button" id="btnTest" onclick="toggleDB('QACRFDB')" class="btn btn-animate-side  btn-info center-block" style="margin-top:  20px; font-weight: 500; display:block" value="Switch to QACRFDB" />
        <input type="button" id="btnProduction" onclick="toggleDB('CRFDB')" class="btn btn-animate-side  btn-info center-block" style="margin-top:  20px; font-weight: 500; display:block" value="Switch to CRFDB" />*@

        </div>
            <div class="site-menubar-body">
          
                <div>

                    @if (Session["MyMenu"] == null)
                        {
                            Session["MyMenu"] = Html.Partial("~/Views/Shared/VWMenu.cshtml");
                        }
                        @Session["MyMenu"]
                   
                </div>
            </div>
        </div>

   

    <!-- Page -->
    <div class="page animsition">
        <div class="page-content padding-30 container-fluid">
            <div class="row" data-plugin="matchHeight" data-by-row="true">
                <div class="col-xlg-12 col-md-12">
                    <!-- Widget Linearea Color -->
                    <div class="widget widget-shadow widget-responsive" id="widgetLineareaColor">
                        <div class="widget-content">
                            <div class="padding-top-30 padding-30" style="height:calc(100% - 250px);">
                                <div class="row">
                                    
                                    <div style="padding: 10px 10px 10px 10px; text-align: center;">
                                        <div id="modcontainer">
                                            @RenderBody()
                                        
                                            @RenderSection("scripts", required: false)
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Widget Linearea Color -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
    <!-- Footer -->
    <footer class="site-footer">
        @*<div class="site-footer-legal">© 2015 <a href="https://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
            <div class="site-footer-right">
                Crafted with <i class="red-600 wb wb-heart"></i> by <a href="https://themeforest.net/user/amazingSurge">amazingSurge</a>
            </div>*@
    </footer>
    <!-- Core  -->
    <script src="@Url.Content("~/Content/global/vendor/bootstrap/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/animsition/animsition.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/asscroll/jquery-asScroll.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/mousewheel/jquery.mousewheel.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/asscrollable/jquery.asScrollable.all.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/ashoverscroll/jquery-asHoverScroll.js")"></script>
    <!-- Plugins -->
    <script src="@Url.Content("~/Content/global/vendor/switchery/switchery.min.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/intro-js/intro.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/screenfull/screenfull.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/slidepanel/jquery-slidePanel.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    <!-- Scripts -->
    <script src="@Url.Content("~/Content/global/js/core.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/site.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sections/menu.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sections/menubar.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sections/gridmenu.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sections/sidebar.js")"></script>
    <script src="@Url.Content("~/Content/global/js/configs/config-colors.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/configs/config-tour.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/asscrollable.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/animsition.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/slidepanel.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/switchery.js")"></script>
    <script src="@Url.Content("~/Content/assets/examples/js/dashboard/v1.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/datatables/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/global/vendor/datatables-bootstrap/dataTables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/global/js/components/datatables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/global/vendor/select2/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/select2.min.js")"></script> 
    <script src="@Url.Content("~/Content/global/js/components/bootstrap-select.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-multiselect.js")"></script>
    <script src="@Url.Content("~/Content/main.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</body>
</html>



