﻿@model IEnumerable<CRFView.Adapters.ADSchedulerTasks>
@{

    Layout = null;
}


<div>
    <table id="tblSchedulerTasks" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>PKId</th>
                <th>Task Name</th>
                <th class="no-sort">IsDisabled</th>
                <th>Last Run Date</th>
                <th>Next Run Date</th>
                <th>Last Message</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.PKID</td>
                    <td>@i.taskname</td>
                    <td>@i.isdisabled</td>

                    @{
                        if (i.lastrundate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.lastrundate.ToString("MM/dd/yyyy")</td>
                        }
                    }
                    @{
                        if (i.nextrundate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.nextrundate.ToString("MM/dd/yyyy")</td>

                        }
                    }
                    <td>@i.lastmessage</td>
                    <td>
                        <button onclick="ShowDetails(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                        }
        </tbody>
    </table>
</div>
