﻿@model IEnumerable<CRFView.Adapters.ADSchedulerTasks>
    @{
   
    }

    <div>
    
        <h3 class="page-header">Scheduler Tasks</h3>
        <hr/>
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/SchedulerTasks/_SchedulerTasksList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>


    <script type="text/javascript">
        function OnPartialLoad() {

        }
        function AddDetails() {
            $.ajax({
                url: '@Url.Action("SchedulerTasksAdd", "SchedulerTasks")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    $('#SchedulerTasksDetails_nextrundate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                    $('input:radio[value=2]').attr('checked', true);
                },
                fail: function (error) {

                    $('#errorMsg').show();
                }
            });

        }


        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("SchedulerTasksDetails", "SchedulerTasks")',
                data: {
                    id: id
                },
                success: function (data) {
                  
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    $('#SchedulerTasksDetails_nextrundate').datepicker();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {
            $.ajax({
                url: '@Url.Action("Search", "SchedulerTasks")',
                data: {
                    value: searchVal,
                    Key: SearchKey
                },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblSchedulerTasks');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
            }
            return false;
        }

        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "SchedulerTasks")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblSchedulerTasks');
                    makeDatatable('tblSchedulerTasks');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


