﻿@model CRFView.Adapters.ADSchedulerTasks
@{
    Layout = null;
}

<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.PKID)
    <div class="modal-body">
        <div class="example-wrap">
            <div class="nav-tabs-horizontal" data-plugin="tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active" role="presentation"><a class="nav-link active" data-toggle="tab" href="#TabSchedule" aria-controls="TabSchedule" role="tab" aria-selected="true">Schedule</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabInternalUser" aria-controls="TabInternalUser" role="tab" aria-selected="false">InternalUser</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabClientUser" aria-controls="TabClientUser" role="tab" aria-selected="false">ClientUser</a></li>
                </ul>
                <br />
             <br />
                <div class="tab-content pt-20">
                    <div class="tab-pane active" id="TabSchedule" role="tabpanel">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Task Name:</lable>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.DropDownListFor(m => m.taskdefid, new SelectList(Model.TaskNamesList, "Id", "Name"), new { @class = "form-control", style = "height: auto;" })
                                @Html.HiddenFor(m=>m.taskname)
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                <lable class="Label-FontSize">Next Run Date:</lable>
                            
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @Html.TextBoxFor(m => m.nextrundate, "{0:MM/dd/yy}", new { @class = "form-control", data_plugin = "datepicker" })
                            
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-3 checkbox-sm" style="text-align:left">
                                @Html.CheckBoxFor(m => m.isdisabled)<lable class="Checkbox-lable">IsDisabled</lable>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Date Interval:</lable>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                                    @Html.RadioButtonFor(m => m.dateinterval, "1")
                                    <label for="Hourly">Hourly</label>
                                </div>
                                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                                    @Html.RadioButtonFor(m => m.dateinterval, "3")
                                    <label for="Weekly">Weekly</label>
                                </div>
                                <div class="col-md-5  col-sm-5 col-xs-5" style="margin-top:10px;padding-left:0px;padding-right:0px;">
                                    <lable class="col-md-5 col-sm-5 col-xs-5">Increment</lable>
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        @Html.TextBoxFor(m => m.number, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <lable class="col-md-4 col-sm-4 col-xs-4"></lable>
                            <div class="col-md-8 col-sm-8 col-xs-8">

                                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                                    @Html.RadioButtonFor(m => m.dateinterval, "2")
                                    <label for="Daily">Daily</label>
                                </div>
                                <div class="radio-custom radio-sm col-md-3 col-sm-3 col-xs-3">
                                    @Html.RadioButtonFor(m => m.dateinterval, "4")
                                    <label for="Monthly">Monthly</label>
                                </div>
                                <div class="col-md-5  col-sm-5 col-xs-5" style="margin-top:10px;padding-left:0px;padding-right:0px;">
                                    <lable class="col-md-5 col-sm-5 col-xs-5">FromHour</lable>
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        @Html.TextBoxFor(m => m.runfromhour, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <lable class="col-md-4 col-sm-4 col-xs-4"></lable>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3"> </div>
                                <div class="col-md-3 col-sm-3 col-xs-3"></div>
                                <div class="col-md-5 col-sm-5 col-xs-5" style="margin-top:10px;padding-left:0px;padding-right:0px;">
                                    <lable class="col-md-5 col-sm-5 col-xs-5">ToHour</lable>
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        @Html.TextBoxFor(m => m.runuptohour, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                <lable class="Label-FontSize">Output File Prefix:</lable>
                                <span class="ValidationStar">*</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                @Html.TextBoxFor(m => m.prefix, new { @class = "form-control" })
                                <div id="ErrorPrefix" class="Invalid-feedback" style="display:none">
                                    Please Enter Output File Prefix.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                <lable class="Label-FontSize">Subject /(Email Subject):</lable>
                                <span class="ValidationStar">*</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                @Html.TextBoxFor(m => m.subject, new { @class = "form-control" })
                                <div id="ErrorSubject" class="Invalid-feedback" style="display:none">
                                    Please Enter Subject.
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                <lable class="Label-FontSize">Description /(Email Body):</lable>
                                <span class="ValidationStar">*</span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                @Html.TextAreaFor(m => m.description, new { @class = "form-control", @rows = "8" })
                                <div id="ErrorDescription" class="Invalid-feedback" style="display:none">
                                    Please Enter Description.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="TabInternalUser" role="tabpanel">
                        <div class="row">
                            <div class="col-xs-5">
                                @Html.DropDownList("ddlInternalUsersList", new SelectList(Model.InternalUsersList, "Id", "Name"), new { @class = "form-control", style = "height: auto;" })
                            </div>

                            <div class="col-xs-2">

                                <button type="button" id="rightSelected" class="btn btn-block" onclick="addSelectedRecord('ddlInternalUsersList', 'ddlSelectedInternalUsersList');"><i class=""></i>Add</button>
                                <button type="button" id="leftSelected" class="btn btn-block" onclick="removeSelectedRecord('ddlSelectedInternalUsersList');"><i class=""></i>Remove</button>

                            </div>

                            <div class="col-xs-5">
                                @Html.ListBox("ddlSelectedInternalUsersList", new SelectList(Model.SelectedInternalUsersList, "Id", "Name"), new { @class = "form-control", style = "height: auto;" })
                                @Html.HiddenFor(m => m.internaluserlist)
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="TabClientUser" role="tabpanel">
                        <div class="row">
                            <div class="col-xs-5">
                                @Html.DropDownList("ddlClientUsersList", new SelectList(Model.ClientUsersList, "Id", "Name"), new { @class = "form-control", style = "height: auto;" })
                            </div>

                            <div class="col-xs-2">

                                <button type="button" id="rightSelected" class="btn btn-block" onclick="addSelectedRecord('ddlClientUsersList', 'ddlSelectedClientUsersList');;"><i class=""></i>Add</button>
                                <button type="button" id="leftSelected" class="btn btn-block" onclick="removeSelectedRecord('ddlSelectedClientUsersList');"><i class=""></i>Remove</button>

                            </div>

                            <div class="col-xs-5">
                                @Html.ListBox("ddlSelectedClientUsersList", new SelectList(Model.SelectedClientUsersList, "Id", "Name"), new { @class = "form-control", style = "height: auto;" })
                                @Html.HiddenFor(m => m.internaluserlist)
                                @Html.HiddenFor(m => m.clientuserlist)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>



<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        debugger;
        if (Validate()) {
           
            //Bind InernalUserList
            BindUserListtoString('ddlSelectedInternalUsersList', 'internaluserlist');

            //Bind clientUserList
            BindUserListtoString('ddlSelectedClientUsersList', 'clientuserlist');

            //set taskName
            $('#taskname').val($('#taskdefid').find("option:selected").text());


            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("SchedulerTasksSave", "SchedulerTasks")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblSchedulerTasks');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    function Validate() {

        if ($("#prefix").val().length <= 0) {
            $("#ErrorPrefix").show();
            return false;
        }
        else {
            $("#ErrorPrefix").hide();
        }
        if ($("#subject").val().length <= 0) {
            $("#ErrorSubject").show();
            return false;
        }
        else {
            $("#ErrorSubject").hide();
        }
        if ($("#description").val().length <= 0) {
            $("#ErrorDescription").show();
            return false;
        }
        else {
            $("#ErrorDescription").hide();
        }



        return true;
    }

    function BindUserListtoString(ListId,Element)
    {
        var SelectedList = "";
        $('#'+ListId+' option').each(function () {
            SelectedList += $(this).val() + ",";
        });
        $('#' + Element).val(SelectedList);
    }

    function addSelectedRecord(AvailableListId,SelectedListId) {
        debugger;
        var flag = false;
        var selectedText = $('#' + AvailableListId).find("option:selected").text();
        var selectedValue = $('#' + AvailableListId).val();
        if ($('#'+ SelectedListId + ' option').length > 0) {
            $('#'+ SelectedListId + ' option').each(function () {
                if ($(this).val() == selectedValue) {
                    flag = true;
                }
            });
            if (flag == false) {
                $('#' + SelectedListId).prepend('<option value="' + selectedValue + '">' + selectedText + '</option>');
            }
        }
        else {
            $('#' + SelectedListId).prepend('<option value="' + selectedValue + '">' + selectedText + '</option>');
        }

    }

    function removeSelectedRecord(SelectedListId) {
        debugger;
        var selectedValue = $('#' + SelectedListId).val();
        $('#'+SelectedListId+' option[value="' + selectedValue + '"]').remove();

    }
</script>



