﻿@model CRFView.Adapters.PropertySearch.AddressVerifiers.ViewModels.AddressVerifiersVM

@{

    Layout = null;
}

<style>
    .Label-FontSize {
        font-size: 20px !important;
    }

 
    .tblborder {
        border: 1px solid black;
    }

    .model-size {
        min-width: 790px;
        overflow-x: scroll;
    }

    .modal-open .modal {
        overflow-x: auto !important;
    }

    .bld {
        font-weight: bold
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

</style>


<div>
    <h3 class="Details-Heading">
        Property Search

    </h3>
</div>
<form id="AddressVerifiers">
    <div class="modal-body">

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Search by Single Field:</lable>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.JobAddrSearch, new { @class = "form-control", style = "margin-right:390px;width:435px;" })

            </div>
        </div>
        &nbsp;

        <div class="col-xs-12">
            <h3 style="margin:auto; text-align:center;margin-left: -154px;">OR</h3>
        </div>
        &nbsp;
        <div></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-top:17px">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Address1:</lable>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.JobAddr1, new { @class = "form-control", style = "margin-right:390px;width: 250px;" })


            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Address2:</lable>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.JobAddr2, new { @class = "form-control", style = "margin-right:390px;width: 250px;" })


            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">City:</lable>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.JobCity, new { @class = "form-control", style = "margin-right:390px;width: 250px;" })


            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">State/Zip:</lable>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">

                <div class="col-md-4 col-sm-4 col-xs-4">

                    @Html.DropDownListFor(m => m.StateId, Model.Statelist.OrderBy(m => m.Text), new { @class = "form-control", style = "margin-left: -14px; width: 160px;" })

                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    @Html.TextBoxFor(m => m.JobZip, new { @class = "form-control", style = "margin-left: -33px; width: 78px;" })


                </div>


            </div>
        </div>

        &nbsp;

        <div></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <input type="button" value="Verify Property Ownership" style=" margin-right: 198px;" onclick="btnVerify()" />
        </div>
    </div>



</form>

<script type="text/javascript">

    function btnVerify() {
        debugger;
        var data = $('#AddressVerifiers').serialize();
        console.log(data);
        $.ajax({
                    url: '@Url.Action("VerifyAddress", "AddressVerifiers")',
                    data: $('#AddressVerifiers').serialize(),
                    type: "POST",
                    datatype:'json',
                    success: function (data) {
                        debugger;
                        //alert(data);
                        if (data == 0) {

                            $('#ModalApiNoMatchPopup').modal("show");
                        }
                        else {
                            $('#PopupDatatbl').empty();
                            var row = $('<tr><th class="tblborder bld">APN</th><td class="tblborder">' + data.apn + '</td></tr><tr><th class="tblborder bld">Zoning Type</th><td class="tblborder">' + data.zoningType + '</td></tr><tr><th class="tblborder bld">Site Zoning Ident</th><td class="tblborder">' + data.siteZoningIdent + '</td></tr><tr><th class="tblborder bld">Area</th><td class="tblborder">' + data.countrysecsubd + '</td></tr><tr><th class="tblborder bld">Address</th><td class="tblborder"></td></tr><tr><th class="tblborder bld">Country</th><td class="tblborder">' + data.country + '</td></tr><tr><th class="tblborder bld">State</th><td class="tblborder">' + data.countrySubd + '</td></tr><tr><th class="tblborder bld">Address Line#1</th><td class="tblborder">' + data.line1 + '</td></tr><tr><th class="tblborder bld">Address Line#2</th><td class="tblborder">' + data.line2 + '</td></tr><tr><th class="tblborder bld">Locality</th><td class="tblborder">' + data.locality + '</td></tr><tr><th class="tblborder bld">Postal #1</th><td class="tblborder">' + data.postal1 + '</td></tr><tr><th class="tblborder bld">Latitude</th><td class="tblborder">' + data.latitude + '</td></tr><tr><th class="tblborder bld">Longitude</th><td class="tblborder">' + data.longitude + '</td></tr><tr><th class="tblborder bld">Property Class</th><td class="tblborder">' + data.propclass + '</td></tr><tr><th class="tblborder bld">Owner</th><td class="tblborder"></td></tr><tr><th class="tblborder bld">Type<td class="tblborder">' + data.type + '</td></tr><tr><th class="tblborder bld">Description</th><td class="tblborder">' + data.description + '</td></tr><tr><th class="tblborder bld">Owner #1</th><td class="tblborder">' + data.firstNameAndMi + " " + data.lastName + '</td></tr><tr><th class="tblborder bld">Owner #2</th><td class="tblborder">' + data.owner2firstNameAndMi + " " + data.owner2lastName + '</td></tr><tr><th class="tblborder bld">Mailing Address</th><td class="tblborder">' + data.mailingAddressOneLine + '</td></tr><tr><th class="tblborder bld">Mortgage</th><td class="tblborder"></td></tr><tr><th class="tblborder bld">Amount</th><td class="tblborder"></td></tr><tr><th class="tblborder bld">Int Rate</th><td class="tblborder"></td></tr><tr><th class="tblborder bld">Deed Type</th><td class="tblborder">' + data.deedType + '</td></tr><tr><th class="tblborder bld">Lender</th><td class="tblborder">' + data.CompanyName + '</td></tr>');

                            $('#PopupDatatbl').append(row);
                            $('#myModal').modal("show");
                            

                        }
                        //}
                       
                    },
            fail: function (error) {
                debugger;
               // $('#ModalApiNoMatchPopup').modal("show");
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                });
    }

    function Clear() {
        debugger;
        $('#JobAddrSearch').val("");
        $('#JobAddr1').val("");
        $('#JobAddr2').val("");
        $('#JobCity').val("");
        $('#JobZip').val("");


    }

</script>

