﻿@model CRFView.Adapters.PropertySearch.AddressVerifiers.ADAddressVerifiers

@{

    Layout = null;
}
<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>


    <h4 class="modal-title">Api Data</h4>
</div>
<div class="modal-body">
    <button type="button" class="btn btn-primary margin-0" aria-label="Close" onclick="showmsg()">
        <span aria-hidden="true">CLOSE</span>
    </button>
    <table id="apitbl" style="width:100%">
    </table>
</div>
<div class="modal-footer">


    <button type="button" class="btn btn-default margin-0" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">CLOSE</span>
    </button>

</div>



<script type="text/javascript">
    function test(row) {
        debugger;
        $('#apitbl').append(row);


        $('#myModal').modal("show");

    }

</script>
