﻿@model CRFView.Adapters.PropertySearch.AddressVerifiers.ViewModels.AddressVerifiersVM
@{

}

<style>


    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
</style>
<div>

    <h3 class="page-header">Property Search</h3>
    <hr />
    <div class="panel-body">

        <div id="list">
            @{Html.RenderPartial("~/Views/PropertySearch/AddressVerifiers/_AddressVerifiers.cshtml");}
        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="Details-Heading">
                    Property Details
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Clear();">
                    <span aria-hidden="true">×</span>
                </button>

                 </h4>
            </div>

          


            <div class="modal-body">

                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
                    <div class="col-md-10 col-sm-10 col-xs-10" style="padding-right: 0px;margin-left: 35px;">
                        <b> Address matched with the following Property Details</b>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0px;">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">




                        </div>
                    </div>
                </div>
                <br />
                <table id="PopupDatatbl" style="width:100%">
                </table>


                <br />
                <div class="col-md-9 col-sm-9 col-xs-9" style="text-align:justify;margin-left:-17px;color:blue">
                    <button type="button" class="btn btn-default" value="Copy above data to clipboard" onClick="myFunction('PopupDatatbl')">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                    </button>
                </div>
                <input type="text" id="dummyValue" style="margin-left:-9999px;" />


            </div>
            <div class="modal-footer">




                <button type="button" class="btn btn-default margin-0" data-dismiss="modal" onclick="Clear();" aria-label="Close">
                    <span aria-hidden="true">CLOSE</span>
                </button>


            </div>

        </div>

    </div>
</div>

<div class="modal fade modal-primary" id="ModalApiNoMatchPopup" aria-hidden="true" aria-labelledby="examplePositionCenter" role="dialog"
     tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-center">
        <div class="modal-content model-size" style="min-width:600px;margin-top: -212px !important;">
            <div class="modal-header">
                <h4 class="Details-Heading">
                    Property Details
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>


                </h4>
            </div>

            <div class="modal-body">
                <h3 style="text-align:center"><b>Sorry  - No Property Match</b></h3>



            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary margin-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">CLOSE</span>
                </button>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function OnPartialLoad() {

    }

    //function myFunction(el) {
    //    debugger
    //    //alert(el);
    //    var urlField = document.getElementById(el)
    //    //alert(urlField);
    //    debugger;
    //    var range = document.createRange();
    //    //range.removeAllRanges();
    //    range.selectNode(urlField);
    //    window.getSelection().addRange(range);
    //   document.execCommand('copy');
    //    //document.execCommand("copy");
    //    //document.getElementById("dummyValue").value = copyText;
    //    //var copy = document.getElementById("dummyValue");
    //    //copy.select();
    //    //copy.setSelectionRange(0, 99999);
    //    //document.execCommand("copy");




    //    var tooltip = document.getElementById("myTooltip");
    //    //tooltip.innerHTML = "Copied: " + copyText.value;
    //    tooltip.innerHTML = "Text Copied";

    //}

    function myFunction(el) {
        debugger;

        var body = document.body, range, sel;
        var urlField = document.getElementById(el)
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);

            }
            catch (e) {
                range.selectNode(urlField);
                //range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand('copy')
            //range.execCommand("Copy");
            clearSelection();
        }
        else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            document.execCommand('copy')
           // range.execCommand("Copy");
        }

        var tooltip = document.getElementById("myTooltip");
        //tooltip.innerHTML = "Copied: " + copyText.value;
        tooltip.innerHTML = "Text Copied";

    }
    function clearSelection() {
        debugger;
        if (window.getSelection) { window.getSelection().removeAllRanges(); }
        else if (document.selection) { document.selection.empty(); }
    }


    function outFunc() {
        debugger;
        ////alert("hey");
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }


</script>


