﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.AddNewOtherLegalDetailsVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
    .wdt {
        width: 231px !important;
    }
</style>

<form id="FormAddNewOtherLegalDetails">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Add New Legal Party Details
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
         

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Legal Party Type</legend>
                        <div class="form-group col-xs-12 lt NopaddingLR">
                            <div class="col-xs-3">
                                @Html.RadioButtonFor(m => m.objBatchJobLegalParties.TypeCode, "OW", new { @checked = true })<lable>&nbsp;&nbsp;Owner</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.RadioButtonFor(m => m.objBatchJobLegalParties.TypeCode, "GC", new { @style = "margin-left: -36px;" })<lable>&nbsp;&nbsp;General Contractor</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.RadioButtonFor(m => m.objBatchJobLegalParties.TypeCode, "LE")<lable>&nbsp;&nbsp;Lender</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.RadioButtonFor(m => m.objBatchJobLegalParties.TypeCode, "DE")<lable>&nbsp;&nbsp;Designee</lable>
                            </div>
                        </div>
                    </fieldset>
                <br />
                <br />
            </div>
        </div>

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Legal Party Info</legend>
                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Name</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objBatchJobLegalParties.AddressName, new { @class = "form-control wdt", style = "display:inline;" })
                        </div>
                        <div class="col-xs-3 checkbox-sm">
                            @Html.CheckBoxFor(m => m.objBatchJobLegalParties.MLAgent)
                            &nbsp;
                            <lable>ML Agent</lable>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Address Line1</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objBatchJobLegalParties.AddressLine1, new { @class = "form-control wdt", style = "display:inline;" })
                        </div>
                      
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Address Line2</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objBatchJobLegalParties.AddressLine2, new { @class = "form-control wdt", style = "display:inline;" })
                        </div>
                        <div class="col-xs-2 checkbox-sm" style="margin-left: -3px;white-space: nowrap;">
                            @Html.CheckBoxFor(m => m.objBatchJobLegalParties.IsNonUSAddr)
                            &nbsp;
                            <lable>Non US Addr</lable>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>City/St/Zip</lable>
                        </div>
                        <div class="col-xs-5">
                            <div class="col-xs-6 NopaddingLR">
                                @Html.TextBoxFor(m => m.objBatchJobLegalParties.City, new { @class = "form-control", style = "width: 97px;" })
                            </div>
                            <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                                @Html.TextBoxFor(m => m.objBatchJobLegalParties.State, new { @class = "form-control", style = "padding: 5px; width: 42px;" })
                            </div>
                            <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                                @Html.TextBoxFor(m => m.objBatchJobLegalParties.PostalCode, new { @class = "form-control", style = "width: 81px;" })
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objBatchJobLegalParties.Telephone1, new
           {
               @onblur = "formatPhone(this)",
               @maxlength = "10",
               @class = "form-control",
               style = "display:inline;width:121px;",
               Value = string.IsNullOrEmpty(Model.objBatchJobLegalParties.Telephone1) ? "" :
                                         Model.objBatchJobLegalParties.Telephone1.Contains("-") ? Model.objBatchJobLegalParties.Telephone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobLegalParties.Telephone1.Substring(0, 3)
                             , Model.objBatchJobLegalParties.Telephone1.Substring(3, 3)
                                 , Model.objBatchJobLegalParties.Telephone1.Substring(6, Model.objBatchJobLegalParties.Telephone1.Length - 6))
           })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable> Fax</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objBatchJobLegalParties.Telephone2, new
           {
               @onblur = "formatFax(this)",
               @maxlength = "10",
               @class = "form-control",
               style = "display:inline;width:121px;",
               Value = string.IsNullOrEmpty(Model.objBatchJobLegalParties.Telephone2) ? "" :
                                         Model.objBatchJobLegalParties.Telephone2.Contains("-") ? Model.objBatchJobLegalParties.Telephone2 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobLegalParties.Telephone2.Substring(0, 3)
                             , Model.objBatchJobLegalParties.Telephone2.Substring(3, 3)
                                 , Model.objBatchJobLegalParties.Telephone2.Substring(6, Model.objBatchJobLegalParties.Telephone2.Length - 6))
           })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR" id="divBondRefNum">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Bond #</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objBatchJobLegalParties.RefNum, new { @class = "form-control wdt", style = "display:inline;" })
                        </div>

                    </div>

                </fieldset>
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.objBatchJobId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalAddNewOtherLegalDetails" class="btn btn-primary" onclick="SaveOtherLegalDetails(@Model.objBatchJobId)" />
            <input type="button" value="Cancel" id="CancelModalAddNewOtherLegalDetails" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>



<script type="text/javascript">

    $("[name='objBatchJobLegalParties.TypeCode']").click(function () {
        debugger;
        var TypeCodeValue = $(this).val();
        if (TypeCodeValue == "LE") {
            $('#divBondRefNum').show();
        }
        else {
            $('#divBondRefNum').hide();
        }
    });

    function SaveOtherLegalDetails(BatchJobId) {
        debugger;
 
        showLoadingImage();
        var data = $('#FormAddNewOtherLegalDetails').serialize();
        $.ajax({
         url: '@Url.Action("SaveOtherLegalDetails", "DataEntries")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetails(BatchJobId, "OtherLegals", "TabOtherLegals");
                $("#myModalAddNewOtherLegalDetails").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    LegalPartyAddedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddNewOtherLegalDetails").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function LegalPartyAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Legal Party Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }



</script>

