﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.BatchJobFilterListVM
@{
    Layout = null;
}


<style>
    #tblDataEntries_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<div>
    <table id="tblDataEntries" class="table table-bordered table-hover grid" border="1" style="width:3000px !important;">

        <thead>
            <tr>
                <th style="width:1%;"  class="no-sort">Edit</th>
                <th style="width:3%;">Entry Id</th>
                <th style="width:3%;">Batch Id</th>
                <th style="width:3%;">Batch Date</th>
                <th style="width:3%;">Client Code</th>
                <th style="width:3%;">Source</th>
                <th style="width:5%;">Job Num </th>
                <th style="width:8%;"> Job Name </th>
                <th style="width:5%;"> Job Add1</th>
                <th style="width:4%;"> Job City </th>
                <th style="width:3%;"> Job State </th>
                <th style="width:3%;"> Job Zip </th>
                <th style="width:8%;"> Cust Name </th>
                <th style="width:4%;"> Est Balance </th>
                <th style="width:3%;"> Start Date</th>
                <th style="width:3%;"> Prelim Box </th>
                <th style="width:3%;"> Warning </th>
                <th style="width:3%;"> Error </th>
                <th style="width:10%;"> Error/Warning Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.ObjBatchJobs)
            {
                <tr>
                    <td>
                        <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>@i.Id</td>
                    <td>@i.BatchId</td>
                    <td>
                        @{if (i.BatchDate == DateTime.MinValue) { }
                            else
                            {@i.BatchDate.ToShortDateString()}}
                    </td>
                    <td>@i.ClientCode</td>
                    <td>@i.PlacementSource</td>
                    <td>@i.JobNum</td>
                    <td>@i.JobName</td>
                    <td>@i.JobAdd1</td>
                    <td>@i.JobCity</td>
                    <td>@i.JobState</td>
                    <td>@i.JobZip</td>
                    <td>@i.CustName</td>
                    <td>@String.Format("{0:C}", i.EstBalance) </td>
                    <td>
                        @{if (i.StartDate == DateTime.MinValue) { }
                            else
                            {@i.StartDate.ToShortDateString()}}
                    </td>
                    <td>@i.PrelimBox</td>
                    <td>@i.IsWarning</td>
                    <td>@i.IsError</td>
                    <td>@i.ErrorDescription</td>
                </tr>
                            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function ShowDetails(Id) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadBatchJob", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#EditBatchJob').html(data);
                CheckMinDate();

                $('#list').hide();

                $('#NewContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                makeDatatable('tblOtherLegals');
                makeDatatable('tblDebtDocuments');

                hideLoadingImage();

                document.getElementById('divAdd').style.display = 'none';
                document.getElementById('divFilter').style.display = 'none';
                document.getElementById('btnBackToFilter').style.display = 'block';
                document.getElementById('btnBackToList').style.display = 'block';

            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }


    function ShowDetails(Id, ActiveList, ActiveTab) {
        debugger;
        showLoadingImage();

        $.ajax({
           url: '@Url.Action("LoadBatchJob", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#EditBatchJob').html(data);
                CheckMinDate();

                if ((typeof ActiveList !== 'undefined') && (typeof ActiveTab !== 'undefined')) {
                    RemoveActiveClass_DataEntries();
                    AddActiveClass_DataEntries(ActiveList, ActiveTab);
                }

                $('#list').hide();

                //$('#NewContactDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
                makeDatatable('tblOtherLegals');
                makeDatatable('tblDebtDocuments');

                hideLoadingImage();

                document.getElementById('divAdd').style.display = 'none';
                document.getElementById('divFilter').style.display = 'none';
                document.getElementById('btnBackToFilter').style.display = 'block';
                document.getElementById('btnBackToList').style.display = 'block';
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function AddActiveClass_DataEntries(ActiveList, ActiveTab) {
        debugger;
        var current = document.getElementById(ActiveList);
        current.className += " active";
        var currentTab = document.getElementById(ActiveTab);
        currentTab.className += " active";
    }


    function RemoveActiveClass_DataEntries() {
        debugger;
        var IdList = ["MainInfo",
                            "GeneralContractor",
                            "Owner",
                            "LenderSurety",
                            "Designee",
                            "OtherLegals",
                            "LegalInfo",
                            "Notes",
                            "Documents",

                            "TabMainInfo",
                            "TabGeneralContractor",
                            "TabOwner",
                            "TabLenderSurety",
                            "TabDesignee",
                            "TabOtherLegals",
                            "TabLegalInfo",
                            "TabNotes",
                            "TabDocuments"];
        $.each(IdList, function (idx, name) {
            if ($("#" + name).length) {
                var element = document.getElementById(name);
                element.classList.remove("active");
            }
        });
    }
</script>


