﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditMoreJobInfoVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
    .wdt {
        width: 97px !important;
    }
</style>

<form id="FormEditMoreJobInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align: center;">
            <label>
                Edit More Job Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Start Date</lable>
            </div>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.objBatchJobEdit.StartDate, "{0:MM/dd/yy}", new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>End Date</lable>
            </div>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.objBatchJobEdit.EndDate, "{0:MM/dd/yy}", new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Est Balance</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.EstBalance, new { @onblur = "formatCurrency(this)", @class = "form-control wdt", style = "display:inline;", Value = String.Format("{0:C}", Model.objBatchJobEdit.EstBalance) })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Special Instr</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextAreaFor(m => m.objBatchJobEdit.SpecialInstruction, new { @class = "form-control", rows = "3", cols = "27", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR" style="@(ViewBag.FolioNum == "hide" ? "display:none" : "display:block")">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Folio Number</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.FolioNum, new { @class = "form-control", style = "display:inline;width:239px" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR"  style="@(ViewBag.EquipRate == "hide"   ? "display:none" : "display:block")">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Equip Rate</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.EquipRate, new { @class = "form-control", style = "display:inline;width:239px" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR"  style="@(ViewBag.EquipRental == "hide"   ? "display:none" : "display:block")">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Equip Rental</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.EquipRental, new { @class = "form-control", style = "display:inline;width:239px" })
            </div>
        </div>
        
        <div class="col-xs-12 form-group lt NopaddingLR"  style="@(ViewBag.RANum == "hide"   ? "display:none" : "display:block")">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>RA Number</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.RANum, new { @class = "form-control", style = "display:inline;width:239px" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Filter Key</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.FilterKey, new { @class = "form-control", style = "display:inline;width:239px" })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditMoreJob" class="btn btn-primary" onclick="SaveMoreJobInfo(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditMoreJob" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">

    function SaveMoreJobInfo(Id) {
        debugger;
        showLoadingImage();

        var txtStartDate = document.getElementById("objBatchJobEdit_StartDate");
        var StartDate = txtStartDate.value; 
        if (StartDate == "") {
            alert('Start Date is required.');
            txtStartDate.focus();
            hideLoadingImage();
            return false;
        } 

        var txtEstBalance = document.getElementById("objBatchJobEdit_EstBalance");
        var EstBalance = txtEstBalance.value;
        EstBalance = EstBalance.replace("$", "");
        EstBalance = EstBalance.replace(",", "");
        if (isNaN(EstBalance)) {
            alert('EstBalance Amt is invalid.');
            txtEstBalance.focus();
            hideLoadingImage();
            return false;
        }
        $("#objBatchJobEdit_EstBalance").val(EstBalance);

        var data = $('#FormEditMoreJobInfo').serialize();
        $.ajax({
            url: '@Url.Action("SaveMoreJobInfo", "DataEntries")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetails(Id, "MainInfo", "TabMainInfo");
                $("#myModalEditMoreJobInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    MoreJobInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditMoreJobInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function MoreJobInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your More Job Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>


