﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditOtherLegalDetailsVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormEditOtherLegalDetails">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>
                Edit Legal Party Details
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">


        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Legal Party Type</legend>
                    <div class="form-group col-xs-12 lt NopaddingLR">
                        <div class="col-xs-3">
                            @Html.RadioButtonFor(m => m.objBatchJobLegalPartiesEdit.TypeCode, "OW", new { @checked = true })<lable>&nbsp;&nbsp;Owner</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.RadioButtonFor(m => m.objBatchJobLegalPartiesEdit.TypeCode, "GC",new { @style = "margin-left: -36px;" })<lable>&nbsp;&nbsp;General Contractor</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.RadioButtonFor(m => m.objBatchJobLegalPartiesEdit.TypeCode, "LE")<lable>&nbsp;&nbsp;Lender</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.RadioButtonFor(m => m.objBatchJobLegalPartiesEdit.TypeCode, "DE")<lable>&nbsp;&nbsp;Designee</lable>
                        </div>
                    </div>
                </fieldset>
                <br />
                <br />
            </div>
        </div>

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Legal Party Info</legend>
                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Name</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.AddressName, new { @class = "form-control", style = "display:inline;" })
                        </div>
                        <div class="col-xs-3 checkbox-sm">
                            @Html.CheckBoxFor(m => m.objBatchJobLegalPartiesEdit.MLAgent)
                            &nbsp;
                            <lable>ML Agent</lable>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Address Line1</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.AddressLine1, new { @class = "form-control", style = "display:inline;" })
                        </div>

                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Address Line2</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.AddressLine2, new { @class = "form-control", style = "display:inline;" })
                        </div>
                        <div class="col-xs-2 checkbox-sm" style="margin-left: -25px;white-space: nowrap;">
                            @Html.CheckBoxFor(m => m.objBatchJobLegalPartiesEdit.IsNonUSAddr)
                            &nbsp;
                            <lable>Non US Addr</lable>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>City/St/Zip</lable>
                        </div>
                        <div class="col-xs-5">
                            <div class="col-xs-6 NopaddingLR">
                                @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.City, new { @class = "form-control" })
                            </div>
                            <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                                @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.State, new { @class = "form-control", style = "padding: 5px; width: 35px;" })
                            </div>
                            <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                                @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.PostalCode, new { @class = "form-control", style = "width: 60px;" })
                            </div>
                        </div>
                        <div class="col-xs-1" style="margin-left: -15px;">
                            <button type="button" onclick="SearchCityStateZipOtherLegal(@Model.objBatchJobLegalPartiesEdit.Id, '@Model.objBatchJobLegalPartiesEdit.City', '@Model.objBatchJobLegalPartiesEdit.State', '@Model.objBatchJobLegalPartiesEdit.PostalCode')" class="btn btn-default btn-icon">
                                <i class="icon wb-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.Telephone1, new
                       {
                           @onblur = "formatPhone(this)",
                           @maxlength = "10",
                           @class = "form-control",
                           style = "display:inline;text-align: center;",
                           Value = string.IsNullOrEmpty(Model.objBatchJobLegalPartiesEdit.Telephone1) ? "" :
                                         Model.objBatchJobLegalPartiesEdit.Telephone1.Contains("-") ? Model.objBatchJobLegalPartiesEdit.Telephone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobLegalPartiesEdit.Telephone1.Substring(0, 3)
                             , Model.objBatchJobLegalPartiesEdit.Telephone1.Substring(3, 3)
                                 , Model.objBatchJobLegalPartiesEdit.Telephone1.Substring(6, Model.objBatchJobLegalPartiesEdit.Telephone1.Length - 6))
                       })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable> Fax</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.Telephone2, new
                       {
                           @onblur = "formatFax(this)",
                           @maxlength = "10",
                           @class = "form-control",
                           style = "display:inline;text-align: center;",
                           Value = string.IsNullOrEmpty(Model.objBatchJobLegalPartiesEdit.Telephone2) ? "" :
                                         Model.objBatchJobLegalPartiesEdit.Telephone2.Contains("-") ? Model.objBatchJobLegalPartiesEdit.Telephone2 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobLegalPartiesEdit.Telephone2.Substring(0, 3)
                             , Model.objBatchJobLegalPartiesEdit.Telephone2.Substring(3, 3)
                                 , Model.objBatchJobLegalPartiesEdit.Telephone2.Substring(6, Model.objBatchJobLegalPartiesEdit.Telephone2.Length - 6))
                       })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR" id="divBondRefNum"  style="@(Model.objBatchJobLegalPartiesEdit.TypeCode == "LE"   ? "display:block" : "display:none")">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-3">
                            <lable>Bond #</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objBatchJobLegalPartiesEdit.RefNum, new { @class = "form-control", style = "display:inline;" })
                        </div>

                    </div>

                </fieldset>
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.objBatchJobId)
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btDeleteOtherLegalDetails" value="Delete" class="btn btn-primary pull-left" onclick="DeleteOtherLegalDetails(@Model.objBatchJobId ,@Model.Id)" />
            <input type="button" value="OK" id="OKModalEditOtherLegalDetails" class="btn btn-primary" onclick="UpdateOtherLegalDetails(@Model.objBatchJobId ,@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditOtherLegalDetails" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>



<script type="text/javascript">

    $("[name='objBatchJobLegalPartiesEdit.TypeCode']").click(function () {
        debugger;
        var TypeCodeValue = $(this).val();
        if (TypeCodeValue == "LE") {
            $('#divBondRefNum').show();
        }
        else {
            $('#divBondRefNum').hide();
        }
    });

    function UpdateOtherLegalDetails(BatchJobId, Id) {
        debugger;

        showLoadingImage();
        var data = $('#FormEditOtherLegalDetails').serialize();
        $.ajax({
         url: '@Url.Action("UpdateOtherLegalDetails", "DataEntries")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetails(BatchJobId, "OtherLegals", "TabOtherLegals");
                $("#myModalEditOtherLegalDetails").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    LegalPartyUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditOtherLegalDetails").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function LegalPartyUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Legal Party Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function DeleteOtherLegalDetails(BatchJobId, Id)  {
        debugger;
        if (confirm("Are You Sure?")) {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteOtherLegalDetails", "DataEntries")',
                data: { BatchJobId: BatchJobId, Id: Id },
                type: "POST",
                success: function (data) {
                    debugger;
                    ShowDetails(BatchJobId, "OtherLegals", "TabOtherLegals");

                    $("#myModalEditOtherLegalDetails").modal("hide");
                    debugger;
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data) {
                        LegalPartyDeletePopup();
                        hideLoadingImage();
                    }
                    else {
                        $('#errorMsg').show();
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModalEditOtherLegalDetails").modal("hide");
                    hideLoadingImage();
                }
            });
        }
    }

    function LegalPartyDeletePopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Legal Party Details Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    //Search CityStateZip
    function SearchCityStateZipOtherLegal(Id, City, State, Zip) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SearchCityStateZipOtherLegal", "DataEntries")',
            data: { Id: Id, City: City, State: State, Zip: Zip},
            type: "POST",
            success: function (data) {
                debugger;

                $('#myModalEditOtherLegalDetails').modal("hide");

                $('#myModalSearchCityStateZipOtherLegal .modal-content').html(data);
                $('#myModalSearchCityStateZipOtherLegal').modal("show");
                ClearDatatableState('tblCityStateZipGrid');
                makeDatatable('tblCityStateZipGrid');

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


</script>


