﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditLenderSuretyInfoVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
    .wdt {
        width: 231px !important;
    }
</style>

<form id="FormEditLenderSuretyInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Edit Lender/Surety Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-4 checkbox-sm">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.SuretyBox)
                &nbsp;
                <lable>Surety Box</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Lender Name</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.LenderName, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Address 1</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.LenderAdd1, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Address 2</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.LenderAdd2, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
            <div class="col-xs-2 checkbox-sm" style="margin-left: -25px;white-space: nowrap;">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.IsLENonUSAddr)
                &nbsp;
                <lable>Non US Addr</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>City/St/Zip</lable>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6 NopaddingLR">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.LenderCity, new { @class = "form-control", style = "width: 97px;" })
                </div>
                <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.LenderState, new { @class = "form-control", style = "padding: 5px; width: 42px;" })
                </div>
                <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.LenderZip, new { @class = "form-control", style = "width: 73px;" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Phone</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.LenderPhone1, new
           {
               @onblur = "formatPhone(this)",
               @maxlength = "10",
               @class = "form-control",
               style = "display:inline;width:121px;",
               Value = string.IsNullOrEmpty(Model.objBatchJobEdit.LenderPhone1) ? "" :
                                         Model.objBatchJobEdit.LenderPhone1.Contains("-") ? Model.objBatchJobEdit.LenderPhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobEdit.LenderPhone1.Substring(0, 3)
                             , Model.objBatchJobEdit.LenderPhone1.Substring(3, 3)
                                 , Model.objBatchJobEdit.LenderPhone1.Substring(6, Model.objBatchJobEdit.LenderPhone1.Length - 6))
           })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Fax</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.LenderFax, new
           {
               @onblur = "formatFax(this)",
               @maxlength = "10",
               @class = "form-control",
               style = "display:inline;width:121px;",
               Value = string.IsNullOrEmpty(Model.objBatchJobEdit.LenderFax) ? "" :
                                         Model.objBatchJobEdit.LenderFax.Contains("-") ? Model.objBatchJobEdit.LenderFax :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobEdit.LenderFax.Substring(0, 3)
                             , Model.objBatchJobEdit.LenderFax.Substring(3, 3)
                                 , Model.objBatchJobEdit.LenderFax.Substring(6, Model.objBatchJobEdit.LenderFax.Length - 6))
           })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Bond#</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.BondNum, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditLenderSuretyInfo" class="btn btn-primary" onclick="SaveLenderSuretyInfo(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditLenderSuretyInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">

    function SaveLenderSuretyInfo(Id)
    {
        debugger;
        showLoadingImage();
        var data = $('#FormEditLenderSuretyInfo').serialize();

        $.ajax({
            url: '@Url.Action("SaveLenderSuretyInfo", "DataEntries")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetails(Id, "LenderSurety", "TabLenderSurety");
                $("#myModalEditLenderSuretyInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    LenderSuretyInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditLenderSuretyInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function LenderSuretyInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Lender/Surety Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>




