﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditOwnerInfoVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
    .wdt {
        width: 231px !important;
    }
</style>

<form id="FormEditOwnerInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Edit Owner Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

         

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Owner Name</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.OwnrName, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Address 1</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.OwnrAdd1, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Address 2</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.OwnrAdd2, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
            <div class="col-xs-2 checkbox-sm" style="margin-left: -25px;white-space: nowrap;">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.IsOWNonUSAddr)
                &nbsp;
                <lable>Non US Addr</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>City/St/Zip</lable>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6 NopaddingLR">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.OwnrCity, new { @class = "form-control", style = "width: 97px;" })
                </div>
                <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.OwnrState, new { @class = "form-control", style = "padding: 5px; width: 42px;" })
                </div>
                <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.OwnrZip, new { @class = "form-control", style = "width: 73px;" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Phone</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.OwnrPhone1, new
           {
               @onblur = "formatPhone(this)",
               @maxlength = "10",
               @class = "form-control",
               style = "display:inline;width:121px;",
               Value = string.IsNullOrEmpty(Model.objBatchJobEdit.OwnrPhone1) ? "" :
                                         Model.objBatchJobEdit.OwnrPhone1.Contains("-") ? Model.objBatchJobEdit.OwnrPhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobEdit.OwnrPhone1.Substring(0, 3)
                             , Model.objBatchJobEdit.OwnrPhone1.Substring(3, 3)
                                 , Model.objBatchJobEdit.OwnrPhone1.Substring(6, Model.objBatchJobEdit.OwnrPhone1.Length - 6))
           })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Fax</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.OwnrFax, new
           {
               @onblur = "formatFax(this)",
               @maxlength = "10",
               @class = "form-control",
               style = "display:inline;width:121px;;",
               Value = string.IsNullOrEmpty(Model.objBatchJobEdit.OwnrFax) ? "" :
                                         Model.objBatchJobEdit.OwnrFax.Contains("-") ? Model.objBatchJobEdit.OwnrFax :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobEdit.OwnrFax.Substring(0, 3)
                             , Model.objBatchJobEdit.OwnrFax.Substring(3, 3)
                                 , Model.objBatchJobEdit.OwnrFax.Substring(6, Model.objBatchJobEdit.OwnrFax.Length - 6))
           })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4 checkbox-sm" style="@(ViewBag.MLAgent == "hide"   ? "display:none" : "display:block")">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.MLAgent)
                &nbsp;
                <lable>ML Agent</lable>
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditOwnerInfo" class="btn btn-primary" onclick="SaveOwnerInfo(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditOwnerInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">

    function SaveOwnerInfo(Id)
    {
        debugger;
        showLoadingImage();
        var data = $('#FormEditOwnerInfo').serialize();

        $.ajax({
            url: '@Url.Action("SaveOwnerInfo", "DataEntries")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetails(Id, "Owner", "TabOwner");
                $("#myModalEditOwnerInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    OwnerInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditOwnerInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function OwnerInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Owner Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>



