﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditLegalInfoVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormEditLegalInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Edit Legal Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Legal Description</lable>
            </div>
            <div class="col-xs-8">
                @Html.TextAreaFor(m => m.objBatchJobEdit.Note, new { @class = "form-control", rows = "5", cols = "35", style = "display:inline;" })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditLegalInfo" class="btn btn-primary" onclick="SaveLegalInfo(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditLegalInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">

    function SaveLegalInfo(Id)
    {
        debugger;
        showLoadingImage();
        var data = $('#FormEditLegalInfo').serialize();

        $.ajax({
            url: '@Url.Action("SaveLegalInfo", "DataEntries")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetails(Id, "LegalInfo", "TabLegalInfo");
                $("#myModalEditLegalInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    LegalInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditLegalInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function LegalInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Legal Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>




