﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditGeneralContractorInfoVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .wdt {
        width: 231px !important;
    }
</style>

<form id="FormEditGeneralContractorInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Edit General Contractor Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
               
            </div>
            <div class="col-xs-2 checkbox-sm" style="white-space: nowrap;">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.OwnerSourceGC)
                &nbsp;
                <lable>GC Rec</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>GC Name</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.GCName, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Ref Number</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.GCRefNum, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Contact</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.GCContactName, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Address 1</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.GCAdd1, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Address 2</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.GCAdd2, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
            <div class="col-xs-2 checkbox-sm" style="margin-left: -25px;white-space: nowrap;">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.IsGCNonUSAddr)
                &nbsp;
                <lable>Non US Addr</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>City/St/Zip</lable>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6 NopaddingLR">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.GCCity, new { @class = "form-control", style = "width: 97px;" })
                </div>
                <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.GCState, new { @class = "form-control", style = "padding: 5px; width: 42px;" })
                </div>
                <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.GCZip, new { @class = "form-control", style = "width: 73px;" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Phone</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.GCPhone1, new
           {
               @onblur = "formatPhone(this)",
               @maxlength = "10",
               @class = "form-control",
               style = "display:inline;width:121px;",
               Value = string.IsNullOrEmpty(Model.objBatchJobEdit.GCPhone1) ? "" :
                                         Model.objBatchJobEdit.GCPhone1.Contains("-") ? Model.objBatchJobEdit.GCPhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobEdit.GCPhone1.Substring(0, 3)
                             , Model.objBatchJobEdit.GCPhone1.Substring(3, 3)
                                 , Model.objBatchJobEdit.GCPhone1.Substring(6, Model.objBatchJobEdit.GCPhone1.Length - 6))
           })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Fax</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.GCFax, new
           {
               @onblur = "formatFax(this)",
               @maxlength = "10",
               @class = "form-control",
               style = "display:inline;width:121px;",
               Value = string.IsNullOrEmpty(Model.objBatchJobEdit.GCFax) ? "" :
                                         Model.objBatchJobEdit.GCFax.Contains("-") ? Model.objBatchJobEdit.GCFax :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobEdit.GCFax.Substring(0, 3)
                             , Model.objBatchJobEdit.GCFax.Substring(3, 3)
                                 , Model.objBatchJobEdit.GCFax.Substring(6, Model.objBatchJobEdit.GCFax.Length - 6))
           })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Email</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.GCEmail, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Special Instr</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextAreaFor(m => m.objBatchJobEdit.SpecialInstruction, new { @class = "form-control", rows = "3", cols = "25", style = "display:inline;" })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditGeneralContractorInfo" class="btn btn-primary" onclick="SaveGeneralContractorInfo(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditGeneralContractorInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">

    function SaveGeneralContractorInfo(Id) 
    {
        debugger;
        showLoadingImage();
        var data = $('#FormEditGeneralContractorInfo').serialize();
        
        $.ajax({
            url: '@Url.Action("SaveGeneralContractorInfo", "DataEntries")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                ShowDetails(Id, "GeneralContractor", "TabGeneralContractor");
                $("#myModalEditGeneralContractorInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    GeneralContractorInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditGeneralContractorInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function GeneralContractorInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your General Contractor Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>


