﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditCustomerInfoVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
    .wdt {
        width: 231px !important;
    }
</style>

<form id="FormEditCustomerInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align: center;">
            <label>
                Edit Customer Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Customer</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.CustName, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Ref Number</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.CustRefNum, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Cust Contact</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.CustContactName, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>
        
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Cust Address 1</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.CustAdd1, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Cust Address 2</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.CustAdd2, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
            <div class="col-xs-2 checkbox-sm" style="margin-left: -25px;white-space: nowrap;">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.IsCUNonUSAddr)
                &nbsp;
                <lable>Non US Addr</lable>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>City/St/Zip</lable>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6 NopaddingLR">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.CustCity, new { @class = "form-control", style = "width: 97px;" })
                </div>
                <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.CustState, new { @class = "form-control" , style = "padding: 5px; width: 42px;" })
                </div>
                <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.CustZip, new { @class = "form-control", style = "width: 73px;" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Cust Phone</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.CustPhone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;width:121px;",
               Value = string.IsNullOrEmpty(Model.objBatchJobEdit.CustPhone1) ? "" :
                                         Model.objBatchJobEdit.CustPhone1.Contains("-") ? Model.objBatchJobEdit.CustPhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobEdit.CustPhone1.Substring(0, 3)
                             , Model.objBatchJobEdit.CustPhone1.Substring(3, 3)
                                 , Model.objBatchJobEdit.CustPhone1.Substring(6, Model.objBatchJobEdit.CustPhone1.Length - 6))
           })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Cust Fax</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.CustFax, new { @onblur = "formatFax(this)", @maxlength = "10", @class = "form-control", style = "display:inline;width:121px",
               Value = string.IsNullOrEmpty(Model.objBatchJobEdit.CustFax) ? "" :
                                         Model.objBatchJobEdit.CustFax.Contains("-") ? Model.objBatchJobEdit.CustFax :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJobEdit.CustFax.Substring(0, 3)
                             , Model.objBatchJobEdit.CustFax.Substring(3, 3)
                                 , Model.objBatchJobEdit.CustFax.Substring(6, Model.objBatchJobEdit.CustFax.Length - 6))
           })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Cust Email</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.CustEmail, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Special Instr</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextAreaFor(m => m.objBatchJobEdit.SpecialInstruction, new { @class = "form-control", rows = "3",cols="25", style = "display:inline;" })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditBatchJob" class="btn btn-primary" onclick="SaveCustomerInfo(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditBatchJob" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">

    function SaveCustomerInfo(Id) {
        debugger;
        showLoadingImage();
        var j = $('#Jvalue').val();
        var data = $('#FormEditCustomerInfo').serialize();
        $.ajax({
            url: '@Url.Action("SaveCustomerInfo", "DataEntries")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetails(Id, j, "MainInfo", "TabMainInfo");
                $("#myModalEditCustomerInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    CustomerInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditCustomerInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CustomerInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Customer Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>

