﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditBatchJobVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormEditBatchJob">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Edit Batch Job
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Client</lable>
            </div>
            <div class="col-xs-6">
                @Html.DropDownListFor(m => m.ddlClientId, new SelectList(Model.ClientIdList, "Id", "Name"), "--Select--", new { @class = "form-control",style= "width: 294px" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR" style="@(ViewBag.BranchNum == "hide"   ? "display:none" : "display:block")">
            <div class="col-xs-3">
                <lable>Branch No</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.BranchNum, new { @class = "form-control", style = "display:inline;width: 133px" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Job State</lable>
            </div>
            <div class="col-xs-3">
                @Html.DropDownListFor(m => m.ddlJobStateId, new SelectList(Model.JobStateIdList, "Name", "Code"), "--Select--", new { @class = "form-control",style= "width: 133px" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Batch Id</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.objBatchJobEdit.BatchId, new { @class = "form-control", style = "display:inline;width: 133px", @readonly = true })
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id) 
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditBatchJob" class="btn btn-primary" onclick="SaveBatchJob(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditBatchJob" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>



<script type="text/javascript">
    function SaveBatchJob(Id) {
        debugger;
        showLoadingImage();
        var data = $('#FormEditBatchJob').serialize();
        $.ajax({
         url: '@Url.Action("SaveBatchJobDetails", "DataEntries")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetails(Id, "MainInfo", "TabMainInfo");
                $("#myModalEditBatchJob").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    BatchJobUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditBatchJob").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function BatchJobUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Batch Job Basic Info Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>
