﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.EditJobInfoVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
    .wdt {
        width: 231px !important;
    }
</style>

<form id="FormEditJobInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align: center;">
            <label>
                Edit Job Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Job Number</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.JobNum, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Job Name</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.JobName, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Address 1</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.JobAdd1, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Address 2</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.JobAdd2, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>City/St/Zip</lable>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-6 NopaddingLR">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.JobCity, new { @class = "form-control", style = "width: 97px;" })
                </div>
                <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.JobState, new { @class = "form-control", style = "padding: 5px; width: 42px; width: 35px;" })
                </div>
                <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                    @Html.TextBoxFor(m => m.objBatchJobEdit.JobZip, new { @class = "form-control", style = "width: 73px;" })
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Job County</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.JobCounty, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>APN</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.APNNum, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>PO Number</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.objBatchJobEdit.PONum, new { @class = "form-control wdt", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <lable>Job Action</lable>
            </div>
            <div class="col-xs-5">
                @Html.DropDownListFor(m => m.ddlJobActionId, new SelectList(Model.JobActionIdList, "Id", "Name"), "--Select--", new { @class = "form-control wdt" })
            </div>
        </div>

        <div class="form-group col-xs-12 lt">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-11">
                @if (ViewBag.PrivateJob == "checked")
                {
                    @Html.RadioButtonFor(m => m.RbtJobType, "Private", new { @checked = true })<lable> &nbsp;Private</lable>
                }
                else
                {
                    @Html.RadioButtonFor(m => m.RbtJobType, "Private")<lable> &nbsp;Private</lable>
                }
                &nbsp;&nbsp;
              @if (ViewBag.PublicJob == "checked")
              {
                    @Html.RadioButtonFor(m => m.RbtJobType, "Public", new { @checked = true })<lable> &nbsp;Public</lable>
                }
                else
                {
                    @Html.RadioButtonFor(m => m.RbtJobType, "Public")<lable> &nbsp;Public</lable>
                }
                &nbsp;&nbsp;
              @if (ViewBag.FederalJob == "checked")
              {
                    @Html.RadioButtonFor(m => m.RbtJobType, "Federal", new { @checked = true })<lable> &nbsp;Federal</lable>
                }
                else
                {
                    @Html.RadioButtonFor(m => m.RbtJobType, "Federal")<lable> &nbsp;Federal</lable>
                }
                &nbsp;&nbsp;
              @if (ViewBag.ResidentialBox == "checked")
              {
                    @Html.RadioButtonFor(m => m.RbtJobType, "Residential", new { @checked = true })<lable> &nbsp;Residential</lable>
                }
                else
                {
                    @Html.RadioButtonFor(m => m.RbtJobType, "Residential")<lable> &nbsp;Residential</lable>
                }
            </div>
        </div>

        <div class="form-group col-xs-12 lt">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3 checkbox-sm">
                @if (ViewBag.RushOrder == "hide")
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.RushOrder, new { disabled = "disabled"})
                    <lable>  &nbsp;Prelim Rush</lable>
                }
                else
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.RushOrder)
                    <lable>  &nbsp;Prelim Rush</lable>
                }
            </div>
            <div class="col-xs-3 checkbox-sm">
                @if (ViewBag.GreenCard == "checked")
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.GreenCard,  new { @checked = true })<lable> &nbsp;Green Card</lable>
                }
                else
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.GreenCard)<lable> &nbsp;Green Card</lable>
                }
            </div>
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.BackUpBox)
                &nbsp;
                <lable>Back Up</lable>
            </div>
        </div>

        <div class="form-group col-xs-12 lt">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3 checkbox-sm">
                @if (ViewBag.RushOrderML == "hide")
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.RushOrderML, new { disabled = "disabled" })
                    <lable>  &nbsp;ML Rush</lable>
                }
                else
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.RushOrderML)
                    <lable>  &nbsp;ML Rush</lable>
                }
            </div>
            <div class="col-xs-3 checkbox-sm">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.JointCk)
                &nbsp;
                <lable>Joint Check</lable>
            </div>
            <div class="col-xs-3 checkbox-sm" style="@(ViewBag.NOCBox == "hide"   ? "display:none" : "display:block");">
                @Html.CheckBoxFor(m => m.objBatchJobEdit.NOCBox)
                &nbsp;
                <lable>NOC Box</lable>
            </div>
        </div>

        <div class="form-group col-xs-12 lt">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3 checkbox-sm">
                @if (ViewBag.RushOrderVerify == "hide")
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.RushOrderVerify, new { disabled = "disabled" })
                    <lable>  &nbsp;Verify Rush</lable>
                }
                else
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.RushOrderVerify)
                    <lable>  &nbsp;Verify Rush</lable>
                }
            </div>
            <div class="col-xs-3 checkbox-sm">
                @if (ViewBag.DataEntryFee == "show" && ViewBag.DataEntryFee == "checked")
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.DataEntryFee, new { @checked = true })
                    <lable>  &nbsp;Data Entry Fee</lable>
                }
                else
                {
                    @Html.CheckBoxFor(m => m.objBatchJobEdit.DataEntryFee, new { disabled = "disabled" })
                    <lable>  &nbsp;Data Entry Fee</lable>
                } 
 
            </div>
        </div>


    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditBatchJob" class="btn btn-primary" onclick="SaveJobInfo(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditBatchJob" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script type="text/javascript">

    function SaveJobInfo(Id) {
        debugger;
        showLoadingImage();
        var data = $('#FormEditJobInfo').serialize();
        $.ajax({
            url: '@Url.Action("SaveJobInfo", "DataEntries")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetails(Id, "MainInfo", "TabMainInfo");
                $("#myModalEditJobInfo").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    JobInfoUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditJobInfo").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function JobInfoUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Job Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>


