﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.BatchJobVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }

    #tblOtherLegals_wrapper .row:first-child {
        overflow-x: auto;
    }

        #tblDebtDocuments_wrapper .row:first-child {
        overflow-x: auto;
    }

    .txtboxwidth {
        width: 321px !important;
    }
</style>

<div class="nav-tabs-horizontal" data-plugin="tabs" @*style="margin-top: 30px;"*@>
    <ul class="nav nav-tabs" role="tablist">
        <li id="MainInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainInfo" aria-controls="TabMainInfo" role="tab" aria-selected="false">Main Info</a></li>
        <li id="GeneralContractor" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabGeneralContractor" aria-controls="TabGeneralContractor" role="tab" aria-selected="false">General Contractor</a></li>
        <li id="Owner" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabOwner" aria-controls="TabOwner" role="tab" aria-selected="false">Owner</a></li>
        <li id="LenderSurety" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLenderSurety" aria-controls="TabLenderSurety" role="tab" aria-selected="false">Lender/Surety</a></li>
        <li id="Designee" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabDesignee" aria-controls="TabDesignee" role="tab" aria-selected="false">Designee</a></li>
        <li id="OtherLegals" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabOtherLegals" aria-controls="TabOtherLegals" role="tab" aria-selected="false">Other Legals</a></li>
        <li id="LegalInfo" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLegalInfo" aria-controls="TabLegalInfo" role="tab" aria-selected="false">Legal Info</a></li>
        <li id="Notes" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabNotes" aria-controls="TabNotes" role="tab" aria-selected="false">Notes</a></li>
        <li id="Documents" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabDocuments" aria-controls="TabDocuments" role="tab" aria-selected="false">Documents</a></li>
        <button onclick="Close()" class="btn btn-default btn-icon btn-pure pull-right">
            <i class="icon wb-close" aria-hidden="true" style="color: #3a6dae;font-weight: bold; font-size: 20px;"></i>
        </button>
    </ul>
</div>

<div class="tab-content">

    <div class="tab-pane active" id="TabMainInfo" role="tabpanel">
        <br />

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Basic Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                <lable>Client</lable>
                            </div>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(m => m.objClient.ClientName, new { @class = "form-control", style = "display:inline;width:467px", @readonly = true })
                            </div>
                            <div class="col-xs-1"  style="@(ViewBag.BranchNum == "hide"   ? "display:none" : "display:block")">
                                <lable>Branch No</lable>
                            </div>
                            <div class="col-xs-1" style="@(ViewBag.BranchNum == "hide"   ? "display:none" : "display:block")">
                                @Html.TextBoxFor(m => m.objBatchJob.BranchNum, new { @class = "form-control", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-1">
                                <lable>Job State</lable>
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.objBatchJob.JobState, new { @class = "form-control", style = "display:inline;width:94px", @readonly = true })
                            </div>
                            <div class="col-xs-1">
                                <lable>Batch Id</lable>
                            </div>
                            <div class="col-xs-1">
                                @Html.TextBoxFor(m => m.objBatchJob.BatchId, new { @class = "form-control", style = "display:inline;width:100px", @readonly = true })
                            </div>
                            <div class="col-xs-1">
                                <input type="button" id="btnEditBatchJob" value="Edit" onclick="EditBatchJob(@Model.objBatchJob.Id)" style="line-height: initial;">
                            </div>
                        </div>
                    </fieldset>
            </div>
            <br />&nbsp;
        </div>


        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-4 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Customer Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <input type="button" id="btnEditCustomer" value="New Customer" onclick="EditCustomerInfo(@Model.objBatchJob.Id)" style="line-height: initial;">
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.CustName, new { @class = "form-control", style = "display:inline;width:243px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Ref Number</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.CustRefNum, new { @class = "form-control", style = "display:inline;width:243px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Cust Job Num</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.CustJobNum, new { @class = "form-control", style = "display:inline;width:243px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Cust Contact</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.CustContactName, new { @class = "form-control", style = "display:inline;width:243px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Cust Addr 1</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.CustAdd1, new { @class = "form-control", style = "display:inline;width:243px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Cust Addr 2</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.CustAdd2, new { @class = "form-control", style = "display:inline;width:243px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>City/St/Zip</lable>
                            </div>
                            <div class="col-xs-7">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objBatchJob.CustCity, new { @class = "form-control",style= "width:100px;", @readonly = true })
                                </div>
                                <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.CustState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 40px;" })
                                </div>
                                <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.CustZip, new { @class = "form-control", @readonly = true, style = "width: 81px;" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Cust Phone</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objBatchJob.CustPhone1, new
                           {

                               @onblur = "formatPhone(this)",
                               @maxlength = "10",
                               @class = "form-control",
                               style = "display:inline;width:164px;",
                               @readonly = true,
                               Value = string.IsNullOrEmpty(Model.objBatchJob.CustPhone1) ? "" :
                                         Model.objBatchJob.CustPhone1.Contains("-") ? Model.objBatchJob.CustPhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.CustPhone1.Substring(0, 3)
                             , Model.objBatchJob.CustPhone1.Substring(3, 3)
                                 , Model.objBatchJob.CustPhone1.Substring(6, Model.objBatchJob.CustPhone1.Length - 6))
                           })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Cust Fax</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objBatchJob.CustFax, new
                           {
                               @onblur = "formatFax(this)",
                               @maxlength = "10",
                               @class = "form-control",
                               style = "display:inline;width:164px",
                               @readonly = true,
                               Value = string.IsNullOrEmpty(Model.objBatchJob.CustFax) ? "" :
                                         Model.objBatchJob.CustFax.Contains("-") ? Model.objBatchJob.CustFax :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.CustFax.Substring(0, 3)
                             , Model.objBatchJob.CustFax.Substring(3, 3)
                                 , Model.objBatchJob.CustFax.Substring(6, Model.objBatchJob.CustFax.Length - 6))
                           })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Cust Email</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objBatchJob.CustEmail, new { @class = "form-control", style = "display:inline;width:164px", @readonly = true })
                            </div>
                            <div class="col-xs-3 checkbox-sm" style="margin-left: -25px;white-space: nowrap;">
                                @Html.CheckBoxFor(m => m.objBatchJob.IsCUNonUSAddr, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Non US Addr</lable>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-xs-4 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Job Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Job Number</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.objBatchJob.JobNum, new { @class = "form-control", style = "display:inline;width:193px", @readonly = true })
                            </div>
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-1">
                                <input type="button" id="btnEditJob" value="Edit" onclick="EditJobInfo(@Model.objBatchJob.Id)" style="line-height: initial;">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Job Name</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.JobName, new { @class = "form-control", style = "display:inline;width:241px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Address 1</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.JobAdd1, new { @class = "form-control", style = "display:inline;width:241px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Address 2</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.JobAdd2, new { @class = "form-control", style = "display:inline;width:241px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>City/St/Zip</lable>
                            </div>
                            <div class="col-xs-7">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objBatchJob.JobCity, new { @class = "form-control", @readonly = true,style= "width:102px" })
                                </div>
                                <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.JobState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 35px;" })
                                </div>
                                <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.JobZip, new { @class = "form-control", @readonly = true, style = "width: 79px;" })
                                </div>
                            </div>
                            <div class="col-xs-1" style="margin-left: -15px;">
                                @*<input type="button" id="btnSearchCityStateZip" value="Search" onclick="SearchCityStateZip(@Model.objBatchJob.Id, '@Model.objBatchJob.JobCity', '@Model.objBatchJob.JobState', '@Model.objBatchJob.JobZip')">*@
                                <button type="button"onclick="SearchCityStateZip(@Model.objBatchJob.Id, '@Model.objBatchJob.JobCity', '@Model.objBatchJob.JobState', '@Model.objBatchJob.JobZip')" class="btn btn-default btn-icon">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>
                               </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Job County</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.JobCounty, new { @class = "form-control", style = "display:inline;width:241px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>APN</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.APNNum, new { @class = "form-control", style = "display:inline;width:241px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>PO Number</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.PONum, new { @class = "form-control", style = "display:inline;width:241px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Job Action</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objJobActions.Description, new { @class = "form-control", style = "display:inline;width:241px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-12">

                                @if (ViewBag.PrivateJob == "checked")
                                {
                                    @Html.RadioButtonFor(m => m.objBatchJob.PrivateJob, "Private", new { @checked = true , disabled = "disabled" })<lable> &nbsp;Private</lable>
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.objBatchJob.PrivateJob, "Private", new {  disabled = "disabled" })<lable> &nbsp;Private</lable>
                                }
                                &nbsp;&nbsp;
                             @if (ViewBag.PublicJob == "checked")
                             {
                                    @Html.RadioButtonFor(m => m.objBatchJob.PublicJob, "Public", new { @checked = true, disabled = "disabled" })<lable> &nbsp;Public</lable>
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.objBatchJob.PublicJob, "Public", new { disabled = "disabled" })<lable> &nbsp;Public</lable>
                                }
                                &nbsp;&nbsp;
                               @if (ViewBag.FederalJob == "checked")
                               {
                                    @Html.RadioButtonFor(m => m.objBatchJob.FederalJob, "Federal", new { @checked = true , disabled = "disabled" })<lable> &nbsp;Federal</lable>
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.objBatchJob.FederalJob, "Federal", new { disabled = "disabled" })<lable> &nbsp;Federal</lable>
                                }
                                &nbsp;&nbsp;
                                @if (ViewBag.ResidentialBox == "checked")
                                {
                                    @Html.RadioButtonFor(m => m.objBatchJob.ResidentialBox, "Residential", new { @checked = true , disabled = "disabled" })<lable> &nbsp;Residential</lable>
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.objBatchJob.ResidentialBox, "Residential", new { disabled = "disabled" })<lable> &nbsp;Residential</lable>
                                }
                            </div>

                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.RushOrder, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Prelim Rush</lable>
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @if (ViewBag.GreenCard == "checked")
                                {
                                    @Html.CheckBoxFor(m => m.objBatchJob.GreenCard, new { @checked = true, disabled = "disabled" })<lable> &nbsp;Green Card</lable>
                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m.objBatchJob.GreenCard,  new { disabled = "disabled" })<lable> &nbsp;Green Card</lable>
                                }
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.BackUpBox, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Back Up</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.RushOrderML, new { disabled = "disabled" })
                                &nbsp;
                                <lable>ML Rush</lable>
                            </div>
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.JointCk, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Joint Check</lable>
                            </div>
                            <div class="col-xs-4 checkbox-sm"  style="@(ViewBag.NOCBox == "hide"   ? "display:none" : "display:block")">
                                @Html.CheckBoxFor(m => m.objBatchJob.NOCBox, new { disabled = "disabled" })
                                &nbsp;
                                <lable>NOC Box</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.RushOrderVerify, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Verify Rush</lable>
                            </div>
                            <div class="col-xs-5 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.DataEntryFee, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Data Entry Fee</lable>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-xs-4 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>More Job Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Start Date</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objBatchJob.StartDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;width:87px", @readonly = true })
                            </div>

                            <div class="col-xs-3">
                            </div>
                            <div class="col-xs-2">
                                <input type="button" id="btnEditMoreJob" value="Edit" onclick="EditMoreJobInfo(@Model.objBatchJob.Id)" style="line-height: initial;">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>End Date</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objBatchJob.EndDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;width:87px", @readonly = true })
                            </div>
                        </div>
                        
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Est Balance</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objBatchJob.EstBalance, new { Value = String.Format("{0:C}", Model.objBatchJob.EstBalance), @class = "form-control txtDigits", style = "display:inline;width:87px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Special Instructions</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextAreaFor(m => m.objBatchJob.SpecialInstruction, new { @class = "form-control",cols="27", rows = "3", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt" style="@(ViewBag.FolioNum == "hide"   ? "display:none" : "display:block")">
                            <div class="col-xs-4">
                                <lable>Folio Number</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.FolioNum, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt"  style="@(ViewBag.EquipRate == "hide"   ? "display:none" : "display:block")">
                            <div class="col-xs-4">
                                <lable>Equip Rate</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.EquipRate, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt"  style="@(ViewBag.EquipRental == "hide"   ? "display:none" : "display:block")">
                            <div class="col-xs-4">
                                <lable>Equip Rental</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.EquipRental, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt"  style="@(ViewBag.RANum == "hide"   ? "display:none" : "display:block")">
                            <div class="col-xs-4">
                                <lable>RA Number</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.RANum, new { @class = "form-control", style = "display:inline;" })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-4">
                                <lable>Filter Key</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.FilterKey, new { @class = "form-control", style = "display:inline;width:245px" })
                            </div>
                        </div>

                    </fieldset>
                </div>
                </div>
        
        </div>
    </div>

     <div id="TabGeneralContractor" class="tab-pane">
        <br />
   
         <div class="form-group col-xs-12 lt NopaddingLR">
             <div class="col-xs-12 NopaddingLR">
                 <div class="col-xs-5 NopaddingLR">
                     <fieldset class="customFieldset">
                         <legend>General Contractor Info</legend>
                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                             </div>

                             <div class="col-xs-4 checkbox-sm">
                                 @Html.CheckBoxFor(m => m.objBatchJob.SameAsCust)
                                 &nbsp;
                                 <lable>Same As Customer</lable>
                             </div>

                             <div class="col-xs-4 checkbox-sm">
                                 @Html.CheckBoxFor(m => m.objBatchJob.OwnerSourceGC, new { disabled = "disabled" })
                                 &nbsp;
                                 <lable>GC Rec</lable>
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <input type="button" id="btnEditGeneralContractor" value="New GC" onclick="EditGeneralContractorInfo(@Model.objBatchJob.Id)"   style=" @(Model.objBatchJob.SameAsCust  == true ? "display:none" : "display:block");line-height: initial;">
                             </div>
                             <div class="col-xs-7">
                                 @Html.TextBoxFor(m => m.objBatchJob.GCName, new { @class = "form-control", style = "display:inline;width:319px", @readonly = true })
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <lable>Contact</lable>
                             </div>
                             <div class="col-xs-7">
                                 @Html.TextBoxFor(m => m.objBatchJob.GCContactName, new { @class = "form-control", style = "display:inline;width:319px", @readonly = true })
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <lable>Address</lable>
                             </div>
                             <div class="col-xs-7">
                                 @Html.TextBoxFor(m => m.objBatchJob.GCAdd1, new { @class = "form-control", style = "display:inline;width:319px", @readonly = true })
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <lable></lable>
                             </div>
                             <div class="col-xs-7">
                                 @Html.TextBoxFor(m => m.objBatchJob.GCAdd2, new { @class = "form-control", style = "display:inline;width:319px", @readonly = true })
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <lable>City/St/Zip</lable>
                             </div>
                             <div class="col-xs-7">
                                 <div class="col-xs-6 NopaddingLR">
                                     @Html.TextBoxFor(m => m.objBatchJob.GCCity, new { @class = "form-control", @readonly = true,style= "width:125px" })
                                 </div>
                                 <div class="col-xs-2 NopaddingLR" style="margin-left: -27px;">
                                     @Html.TextBoxFor(m => m.objBatchJob.GCState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 75px;" })
                                 </div>
                                 <div class="col-xs-4 NopaddingLR" style="margin-left: 27px;">
                                     @Html.TextBoxFor(m => m.objBatchJob.GCZip, new { @class = "form-control", @readonly = true, style = "width: 103px;" })
                                 </div>
                             </div>
                             <div class="col-xs-2 checkbox-sm" style="margin-left: -30px;white-space: nowrap;">
                                 @Html.CheckBoxFor(m => m.objBatchJob.IsGCNonUSAddr, new { disabled = "disabled" })
                                 &nbsp;
                                 <lable>Non US Addr</lable>
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <lable>Phone</lable>
                             </div>
                             <div class="col-xs-3">
                                 @Html.TextBoxFor(m => m.objBatchJob.GCPhone1, new
                           {
                               @onblur = "formatPhone(this)",
                               @maxlength = "10",
                               @class = "form-control",
                               style = "display:inline;width:125px",
                               @readonly = true,
                               Value = string.IsNullOrEmpty(Model.objBatchJob.GCPhone1) ? "" :
                                         Model.objBatchJob.GCPhone1.Contains("-") ? Model.objBatchJob.GCPhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.GCPhone1.Substring(0, 3)
                             , Model.objBatchJob.GCPhone1.Substring(3, 3)
                                 , Model.objBatchJob.GCPhone1.Substring(6, Model.objBatchJob.GCPhone1.Length - 6))
                           })
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <lable>Fax</lable>
                             </div>
                             <div class="col-xs-3">
                                 @Html.TextBoxFor(m => m.objBatchJob.GCFax, new
                           {
                               @onblur = "formatFax(this)",
                               @maxlength = "10",
                               @class = "form-control",
                               style = "display:inline;width:125px",
                               @readonly = true,
                               Value = string.IsNullOrEmpty(Model.objBatchJob.GCFax) ? "" :
                                         Model.objBatchJob.GCFax.Contains("-") ? Model.objBatchJob.GCFax :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.GCFax.Substring(0, 3)
                             , Model.objBatchJob.GCFax.Substring(3, 3)
                                 , Model.objBatchJob.GCFax.Substring(6, Model.objBatchJob.GCFax.Length - 6))
                           })
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <lable>Email</lable>
                             </div>
                             <div class="col-xs-5">
                                 @Html.TextBoxFor(m => m.objBatchJob.GCEmail, new { @class = "form-control", style = "display:inline;width:207px", @readonly = true })
                             </div>
                         </div>

                         <div class="form-group col-xs-12 lt">
                             <div class="col-xs-3">
                                 <lable>Ref#</lable>
                             </div>
                             <div class="col-xs-5">
                                 @Html.TextBoxFor(m => m.objBatchJob.GCRefNum, new { @class = "form-control", style = "display:inline;width:207px", @readonly = true })
                             </div>
                         </div>

                     </fieldset>
                 </div>

             </div>
          
         </div>



    </div> 
        
    <div id="TabOwner" class="tab-pane">
        <br />

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-5 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Owner Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <input type="button" id="btnEditOwner" value="Edit" onclick="EditOwnerInfo(@Model.objBatchJob.Id)" style="@(Model.objBatchJob.SameAsGC == true ? "display:none" : "display:block");line-height: initial;">
                            </div>

                            <div class="col-xs-6 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.SameAsGC)
                                &nbsp;
                                <lable>Same As General Contractor</lable>
                            </div>

                            <div class="col-xs-4 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.chkCopyJobAddr)
                                &nbsp;
                                <lable>Copy Job Addr</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                    </div>

                            <div class="col-xs-6 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.MLAgent)
                                &nbsp;
                                <lable>Is Mech Lien Agent</lable>
                            </div>

                            <div class="col-xs-4 checkbox-sm">
                              
                            </div>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2" style="white-space: nowrap;">
                                <lable>Owner Name</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.OwnrName, new { @class = "form-control", style = "display:inline;width:321px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Address</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.OwnrAdd1, new { @class = "form-control", style = "display:inline;width:321px", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable></lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.OwnrAdd2, new { @class = "form-control", style = "display:inline;width:321px", @readonly = true })
                            </div>
                            <div class="col-xs-2 checkbox-sm" style="margin-left: -22px;white-space: nowrap;">
                                @Html.CheckBoxFor(m => m.objBatchJob.IsOWNonUSAddr, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Non US Addr</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>City/St/Zip</lable>
                            </div>
                            <div class="col-xs-7">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objBatchJob.OwnrCity, new { @class = "form-control", @readonly = true,style= "width:141px" })
                                </div>
                                <div class="col-xs-2 NopaddingLR" style="margin-left: -10px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.OwnrState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 55px;" })
                                </div>
                                <div class="col-xs-4 NopaddingLR" style="margin-left: 10px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.OwnrZip, new { @class = "form-control", @readonly = true, style = "width: 108px;" })
                                </div>
                            </div>

                            <div class="col-xs-1" style="margin-left: -15px;">
                                @*<input type="button" id="btnSearchCityStateZip" value="Search" onclick="SearchCityStateZip(@Model.objBatchJob.Id, '@Model.objBatchJob.JobCity', '@Model.objBatchJob.JobState', '@Model.objBatchJob.JobZip')">*@
                                <button type="button" onclick="SearchCityStateZipOwner(@Model.objBatchJob.Id, '@Model.objBatchJob.OwnrCity', '@Model.objBatchJob.OwnrState', '@Model.objBatchJob.OwnrZip')" class="btn btn-default btn-icon">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objBatchJob.OwnrPhone1, new
                            {
                                @onblur = "formatPhone(this)",
                                @maxlength = "10",
                                @class = "form-control",
                                style = "display:inline;width:141px",
                                @readonly = true,
                                Value = string.IsNullOrEmpty(Model.objBatchJob.OwnrPhone1) ? "" :
                                         Model.objBatchJob.OwnrPhone1.Contains("-") ? Model.objBatchJob.OwnrPhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.OwnrPhone1.Substring(0, 3)
                             , Model.objBatchJob.OwnrPhone1.Substring(3, 3)
                                 , Model.objBatchJob.OwnrPhone1.Substring(6, Model.objBatchJob.OwnrPhone1.Length - 6))
                            })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objBatchJob.OwnrFax, new
                            {
                                @onblur = "formatFax(this)",
                                @maxlength = "10",
                                @class = "form-control",
                                style = "display:inline;width:141px",
                                @readonly = true,
                                Value = string.IsNullOrEmpty(Model.objBatchJob.OwnrFax) ? "" :
                                         Model.objBatchJob.OwnrFax.Contains("-") ? Model.objBatchJob.OwnrFax :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.OwnrFax.Substring(0, 3)
                             , Model.objBatchJob.OwnrFax.Substring(3, 3)
                                 , Model.objBatchJob.OwnrFax.Substring(6, Model.objBatchJob.OwnrFax.Length - 6))
                            })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                            </div>
                            <div class="col-xs-4 checkbox-sm"  style="@(ViewBag.MLAgent == "hide"   ? "display:none" : "display:block")">
                                @Html.CheckBoxFor(m => m.objBatchJob.MLAgent, new { disabled = "disabled" })
                                &nbsp;
                                <lable>ML Agent</lable>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>

        </div>



    </div>

    <div id="TabLenderSurety" class="tab-pane">
        <br />

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-5 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Lender/Surety Info</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <input type="button" id="btnEditLenderSurety" value="Edit" onclick="EditLenderSuretyInfo(@Model.objBatchJob.Id)" style="line-height: initial;">
                            </div>

                            <div class="col-xs-6 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objBatchJob.SuretyBox, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Surety Box</lable>
                            </div>
                        
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2" style="white-space: nowrap;">
                                <lable>Lender Name</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.LenderName, new { @class = "form-control txtboxwidth", style = "display:inline;", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Address</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.LenderAdd1, new { @class = "form-control txtboxwidth", style = "display:inline;", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable></lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.LenderAdd2, new { @class = "form-control txtboxwidth", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-2 checkbox-sm" style="margin-left: -22px;white-space: nowrap;">
                                @Html.CheckBoxFor(m => m.objBatchJob.IsLENonUSAddr, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Non US Addr</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>City/St/Zip</lable>
                            </div>
                            <div class="col-xs-7">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objBatchJob.LenderCity, new { @class = "form-control", @readonly = true, style= "width:129px;" })
                                </div>
                                <div class="col-xs-2 NopaddingLR" style="margin-left: -18px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.LenderState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 62px;" })
                                </div>
                                <div class="col-xs-4 NopaddingLR" style="margin-left: 18px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.LenderZip, new { @class = "form-control", @readonly = true, style = "width: 108px;" })
                                </div>
                            </div>
                            <div class="col-xs-1" style="margin-left: -15px;">
                                <button type="button" onclick="SearchCityStateZipLenderSurety(@Model.objBatchJob.Id, '@Model.objBatchJob.LenderCity', '@Model.objBatchJob.LenderState', '@Model.objBatchJob.LenderZip')" class="btn btn-default btn-icon">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objBatchJob.LenderPhone1, new
                           {
                               @onblur = "formatPhone(this)",
                               @maxlength = "10",
                               @class = "form-control",
                               style = "display:inline;width:129px;",
                               @readonly = true,
                               Value = string.IsNullOrEmpty(Model.objBatchJob.LenderPhone1) ? "" :
                                         Model.objBatchJob.LenderPhone1.Contains("-") ? Model.objBatchJob.LenderPhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.LenderPhone1.Substring(0, 3)
                             , Model.objBatchJob.LenderPhone1.Substring(3, 3)
                                 , Model.objBatchJob.LenderPhone1.Substring(6, Model.objBatchJob.LenderPhone1.Length - 6))
                           })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Fax</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objBatchJob.LenderFax, new
                           {
                               @onblur = "formatFax(this)",
                               @maxlength = "10",
                               @class = "form-control",
                               style = "display:inline;width:129px;",
                               @readonly = true,
                               Value = string.IsNullOrEmpty(Model.objBatchJob.LenderFax) ? "" :
                                         Model.objBatchJob.LenderFax.Contains("-") ? Model.objBatchJob.LenderFax :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.LenderFax.Substring(0, 3)
                             , Model.objBatchJob.LenderFax.Substring(3, 3)
                                 , Model.objBatchJob.LenderFax.Substring(6, Model.objBatchJob.LenderFax.Length - 6))
                           })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Bond#</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.BondNum, new { @class = "form-control txtboxwidth", style = "display:inline;", @readonly = true })
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>

        </div>



    </div>

    <div id="TabDesignee" class="tab-pane">
        <br />

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-5 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Designee Info</legend>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Designee</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.DesigneeName, new { @class = "form-control txtboxwidth", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-2">
                                <input type="button" id="btnEditDesignee" value="Edit" onclick="EditDesigneeInfo(@Model.objBatchJob.Id)" style="line-height: initial;">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Address</lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.DesigneeAdd1, new { @class = "form-control txtboxwidth", style = "display:inline;", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable></lable>
                            </div>
                            <div class="col-xs-7">
                                @Html.TextBoxFor(m => m.objBatchJob.DesigneeAdd2, new { @class = "form-control txtboxwidth", style = "display:inline;", @readonly = true })
                            </div>
                            <div class="col-xs-2 checkbox-sm" style="margin-left: -22px;white-space: nowrap;">
                                @Html.CheckBoxFor(m => m.objBatchJob.IsDENonUSAddr, new { disabled = "disabled" })
                                &nbsp;
                                <lable>Non US Addr</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>City/St/Zip</lable>
                            </div>
                            <div class="col-xs-7">
                                <div class="col-xs-6 NopaddingLR">
                                    @Html.TextBoxFor(m => m.objBatchJob.DesigneeCity, new { @class = "form-control", @readonly = true, style = "width:129px;" })
                                </div>
                                <div class="col-xs-2 NopaddingLR" style="margin-left: -18px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.DesigneeState, new { @class = "form-control", @readonly = true, style = "padding: 5px; width: 62px;" })
                                </div>
                                <div class="col-xs-4 NopaddingLR" style="margin-left: 18px;">
                                    @Html.TextBoxFor(m => m.objBatchJob.DesigneeZip, new { @class = "form-control", @readonly = true, style = "width: 108px;" })
                                </div>
                            </div>
                            
                            <div class="col-xs-1" style="margin-left: -15px;">
                                <button type="button" onclick="SearchCityStateZipDesignee(@Model.objBatchJob.Id, '@Model.objBatchJob.DesigneeCity', '@Model.objBatchJob.DesigneeState', '@Model.objBatchJob.DesigneeZip')" class="btn btn-default btn-icon">
                                    <i class="icon wb-search" aria-hidden="true"></i>
                                </button>
                            </div>

                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-2">
                                <lable>Phone</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.objBatchJob.DesigneePhone1, new
                           {
                               @onblur = "formatPhone(this)",
                               @maxlength = "10",
                               @class = "form-control",
                               style = "display:inline;width:129px;",
                               @readonly = true,
                               Value = string.IsNullOrEmpty(Model.objBatchJob.DesigneePhone1) ? "" :
                                         Model.objBatchJob.DesigneePhone1.Contains("-") ? Model.objBatchJob.DesigneePhone1 :
                                       String.Format("{0}-{1}-{2}"
                            , Model.objBatchJob.DesigneePhone1.Substring(0, 3)
                             , Model.objBatchJob.DesigneePhone1.Substring(3, 3)
                                 , Model.objBatchJob.DesigneePhone1.Substring(6, Model.objBatchJob.DesigneePhone1.Length - 6))
                           })
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>

        </div>
        
    </div>

    <div id="TabOtherLegals" class="tab-pane">
        <br />

        <div id="FilterDiv" class="LableAlign">
            <input type="button" class="btn btn-primary pull-left" value="New Other Legal" onclick="AddNewOtherLegalDetails(@Model.objBatchJob.Id)">
        </div>
        <br />
        <br />
        <div id="tableOtherLegalsDiv">
            <table id="tblOtherLegals" class="table table-bordered dataTable table-hover grid " border="1">
                <thead>
                    <tr>
                        <th class="no-sort" style="width: 30px;">Edit</th>
                        <th>Type Code</th>
                        <th>Name</th>
                        <th>Address Line1</th>
                        <th>Telehone1</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.objBatchJobLegalPartiesList.Count >= 1)
                    {
                        foreach (var i in Model.objBatchJobLegalPartiesList)
                        {
                            <tr>
                                <td style="vertical-align: middle;">
                                    <button onclick="EditOtherLegalDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                        <i class="icon wb-edit" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    @i.TypeCode
                                </td>
                                <td>
                                    @i.AddressName
                                </td>
                                <td>
                                    @i.AddressLine1
                                </td>
                                <td>
                                    @i.Telephone1
                                </td>
                            </tr>
                                        }
                                    }
                </tbody>
            </table>
        </div>

    </div>

    <div id="TabLegalInfo" class="tab-pane">
        <br />

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-12 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Legal Info</legend>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                <input type="button" id="btnEditLegalInfo" value="Edit" onclick="EditLegalInfo(@Model.objBatchJob.Id)" style="line-height: initial;">
                            </div>
                            <div class="col-xs-2" style="white-space: nowrap;">
                                <lable>Legal Description</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-11">
                                @Html.TextAreaFor(m => m.objBatchJob.Note, new { @class = "form-control", style = "display:inline;",cols="150", rows = "3", @readonly = true })
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>

        </div>

    </div>

    <div id="TabNotes" class="tab-pane">
        <br />

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-12 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Notes Info</legend>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                                <input type="button" id="btnEditNotesInfo" value="Edit" onclick="EditNotesInfo(@Model.objBatchJob.Id)" style="line-height: initial;">
                            </div>
                            <div class="col-xs-2" style="white-space: nowrap;">
                                <lable>Notes</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-11">
                                @Html.TextAreaFor(m => m.objBatchJob.HistoryNote, new { @class = "form-control", style = "display:inline;",cols="150", rows = "10", @readonly = true })
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>

        </div>

    </div>

    <div id="TabDocuments" class="tab-pane">
        <br />
        <input type="button" id="btnNewDocuments" class="btn btn-primary pull-left" value="New Document" onclick="AddDocument(@Model.objBatchJob.Id)">
        <br />
        <br />
        <div id="tableDocumentsDiv">
            <table id="tblDebtDocuments" class="table table-bordered dataTable table-hover grid " border="1">
                <thead>
                    <tr>
                        <th class="no-sort" style="width: 30px;">Edit</th>
                        @*<th style="width: 30px;">View</th>*@
                        <th style="width: 162px;">Date Created</th>
                        <th style="width: 120px;">User Code</th>
                        <th style="width: 135px;">Document Type</th>
                        <th>Document Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.objJobAttachmentsList)
                    {
                        <tr>
                            <td>
                                <button onclick="ShowDocumentDetails(@i.Id,@i.BatchJobId)" class="btn btn-default btn-icon btn-pure">
                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                </button>
                            </td>
                            @*<td>
                                <button onclick="ViewDocument(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                    <i class="icon wb-eye" aria-hidden="true"></i>
                                </button>
                            </td>*@
                            <td>@i.DateCreated</td>
                            <td>@i.UserCode</td>
                            <td>@i.DocumentType</td>
                            <td>@i.DocumentDescription</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



</div>

<div id="hiddenFields">
    @Html.HiddenFor(m => m.Id)
</div>

<div class="modal modal-primary fade" id="myModalEditBatchJob" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditCustomerInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditJobInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditMoreJobInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<div class="modal modal-primary fade" id="myModalEditGeneralContractorInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditOwnerInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditLenderSuretyInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditDesigneeInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalAddNewOtherLegalDetails" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<div class="modal modal-primary fade" id="myModalEditOtherLegalDetails" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalSearchCityStateZip" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalSearchCityStateZipOwner" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalSearchCityStateZipLenderSurety" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalSearchCityStateZipDesignee" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditLegalInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditNotesInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalAddDocument" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditDocument" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalSearchCityStateZipOtherLegal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<script type="text/javascript">

    function Close() {
        //$('[id^=newtr]').empty();
        $('.newtr').empty();

    }
    //Edit Batch Job
    function EditBatchJob(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditBatchJob", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModalEditBatchJob .modal-content').html(data);
                $('#myModalEditBatchJob').modal("show");

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Edit Customer Info
    function EditCustomerInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditCustomerInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditCustomerInfo .modal-content').html(data);
                $('#myModalEditCustomerInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Edit Job Info
    function EditJobInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditJobInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditJobInfo .modal-content').html(data);
                $('#myModalEditJobInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

        //Edit More Job Info
    function EditMoreJobInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditMoreJobInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditMoreJobInfo .modal-content').html(data);
                $('#myModalEditMoreJobInfo').modal("show");
                EditMoreJobInfoCheckMinDate();
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Check min date for Edit More Job Info
    function EditMoreJobInfoCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objBatchJobEdit_StartDate" ,
                                               "objBatchJobEdit_EndDate"];
        //To set Current Date
        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());

        $.each(DateTextBoxArray, function(idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "")
                {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                }
                else
                {
                    $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }

    //Edit General Contractor Info
    function EditCustomerInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditCustomerInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditCustomerInfo .modal-content').html(data);
                $('#myModalEditCustomerInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }
    //Same as Customer Checkbox is checked
    $("[name='objBatchJob.SameAsCust']").click(function () {
        debugger;
        showLoadingImage();

        var chkSameAsCust = $(this).val();
        var Id = '@Model.Id';

        if (this.checked) {
            $('#btnEditGeneralContractor').hide();

            $.ajax({
                url: '@Url.Action("SaveGCSameAsCust", "DataEntries")',
                data: { Id: Id },
                type: "POST",
                success: function (data) {
                    debugger;
                    $("#objBatchJob_GCName").val($("#objBatchJob_CustName").val());
                    $("#objBatchJob_GCContactName").val($("#objBatchJob_CustContactName").val());
                    $("#objBatchJob_GCAdd1").val($("#objBatchJob_CustAdd1").val());
                    $("#objBatchJob_GCAdd2").val($("#objBatchJob_CustAdd2").val());
                    $("#objBatchJob_GCCity").val($("#objBatchJob_CustCity").val());
                    $("#objBatchJob_GCState").val($("#objBatchJob_CustState").val());
                    $("#objBatchJob_GCZip").val($("#objBatchJob_CustZip").val());
                    $("#objBatchJob_GCPhone1").val($("#objBatchJob_CustPhone1").val());
                    $("#objBatchJob_GCFax").val($("#objBatchJob_CustFax").val());
                    $("#objBatchJob_GCEmail").val($("#objBatchJob_CustEmail").val());

                    //$('#EditBatchJob').html(data);
                    //ShowDetails(Id, "GeneralContractor", "TabGeneralContractor");
                    hideLoadingImage();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            });
        }
        else {
            $('#btnEditGeneralContractor').show();
            //ShowDetails(Id, "GeneralContractor", "TabGeneralContractor");
            hideLoadingImage();
        }
    });


    //Edit General Contractor Info
    function EditGeneralContractorInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditGeneralContractorInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditGeneralContractorInfo .modal-content').html(data);
                $('#myModalEditGeneralContractorInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


    //Same As General Contractor Checkbox is checked
    $("[name='objBatchJob.SameAsGC']").click(function () {
        debugger;
        showLoadingImage();

        var chkSameAsGC = $(this).val();
        var Id = '@Model.Id';

        if (this.checked) {
            $('#btnEditOwner').hide();

            $.ajax({
                url: '@Url.Action("SaveOwnerSameAsGC", "DataEntries")',
                data: { Id: Id },
                type: "POST",
                success: function (data) {
                    debugger;
                    $("#objBatchJob_OwnrName").val($("#objBatchJob_GCName").val());
                    $("#objBatchJob_OwnrAdd1").val($("#objBatchJob_GCAdd1").val());
                    $("#objBatchJob_OwnrAdd2").val($("#objBatchJob_GCAdd2").val());
                    $("#objBatchJob_OwnrCity").val($("#objBatchJob_GCCity").val());
                    $("#objBatchJob_OwnrState").val($("#objBatchJob_GCState").val());
                    $("#objBatchJob_OwnrZip").val($("#objBatchJob_GCZip").val());
                    $("#objBatchJob_OwnrPhone1").val($("#objBatchJob_GCPhone1").val());
                    $("#objBatchJob_OwnrFax").val($("#objBatchJob_GCFax").val());

                    hideLoadingImage();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            });
        }
        else {
            $('#btnEditOwner').show();
            hideLoadingImage();
        }
    });


    //chkCopyJobAddr Checkbox is checked
    $("[name='objBatchJob.chkCopyJobAddr']").click(function () {
        debugger;
        showLoadingImage();

        var chkCopyJobAddr = $(this).val();
        var Id = '@Model.Id';

        if (this.checked) {
            //$('#btnEditOwner').hide();

            $.ajax({
                url: '@Url.Action("SaveOwnerchkCopyJobAddr", "DataEntries")',
                data: { Id: Id },
                type: "POST",
                success: function (data) {
                    debugger;
                    $("#objBatchJob_OwnrAdd1").val($("#objBatchJob_JobAdd1").val());
                    $("#objBatchJob_OwnrAdd2").val($("#objBatchJob_JobAdd2").val());
                    $("#objBatchJob_OwnrCity").val($("#objBatchJob_JobCity").val());
                    $("#objBatchJob_OwnrState").val($("#objBatchJob_JobState").val());
                    $("#objBatchJob_OwnrZip").val($("#objBatchJob_JobZip").val());

                    hideLoadingImage();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            });
        }
        else {
            //$('#btnEditOwner').show();
            hideLoadingImage();
        }
    });


    //Is Mech Lien Agent Checkbox is checked
    $("[name='objBatchJob.MLAgent']").click(function () {
        debugger;
        showLoadingImage();

        var chkMLAgent = $(this).val();
        var Id = '@Model.Id';

        if (this.checked) {
            $('#btnEditOwner').hide();

            $.ajax({
                url: '@Url.Action("SaveOwnerMLAgent", "DataEntries")',
                data: { Id: Id },
                type: "POST",
                success: function (data) {
                    debugger;
                   
                    hideLoadingImage();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            });
        }
        else {
            $('#btnEditOwner').show();
            hideLoadingImage();
        }
    });


    //Edit Owner Info
    function EditOwnerInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditOwnerInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditOwnerInfo .modal-content').html(data);
                $('#myModalEditOwnerInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Edit LenderSurety Info
    function EditLenderSuretyInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditLenderSuretyInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditLenderSuretyInfo .modal-content').html(data);
                $('#myModalEditLenderSuretyInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Edit Designee Info
    function EditDesigneeInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditDesigneeInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditDesigneeInfo .modal-content').html(data);
                $('#myModalEditDesigneeInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //AddNew Other Legal Details
    function AddNewOtherLegalDetails(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("AddNewOtherLegalDetails", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalAddNewOtherLegalDetails .modal-content').html(data);
                $('#myModalAddNewOtherLegalDetails').modal("show");

                $('#divBondRefNum').hide(); // Initially hide the Bond Ref Num div for Legal Party Type Code OW

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Edit Other Legal Details
    function EditOtherLegalDetails(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditOtherLegalDetails", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditOtherLegalDetails .modal-content').html(data);
                $('#myModalEditOtherLegalDetails').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Search CityStateZip
    function SearchCityStateZip(Id, City, State, Zip) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SearchCityStateZip", "DataEntries")',
            data: {Id: Id, City: City, State: State, Zip: Zip },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalSearchCityStateZip .modal-content').html(data);
                $('#myModalSearchCityStateZip').modal("show");
                ClearDatatableState('tblCityStateZipGrid');
                makeDatatable('tblCityStateZipGrid');

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


    //Search CityStateZipOwner
    function SearchCityStateZipOwner(Id, City, State, Zip) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SearchCityStateZipOwner", "DataEntries")',
            data: { Id: Id, City: City, State: State, Zip: Zip },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalSearchCityStateZipOwner .modal-content').html(data);
                $('#myModalSearchCityStateZipOwner').modal("show");
                ClearDatatableState('tblCityStateZipGrid');
                makeDatatable('tblCityStateZipGrid');

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


    //Search CityStateZipLenderSurety
    function SearchCityStateZipLenderSurety(Id, City, State, Zip) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SearchCityStateZipLenderSurety", "DataEntries")',
            data: { Id: Id, City: City, State: State, Zip: Zip },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalSearchCityStateZipLenderSurety .modal-content').html(data);
                $('#myModalSearchCityStateZipLenderSurety').modal("show");
                ClearDatatableState('tblCityStateZipGrid');
                makeDatatable('tblCityStateZipGrid');

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Search CityStateZipDesignee
    function SearchCityStateZipDesignee(Id, City, State, Zip) {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SearchCityStateZipDesignee", "DataEntries")',
            data: { Id: Id, City: City, State: State, Zip: Zip },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalSearchCityStateZipDesignee .modal-content').html(data);
                $('#myModalSearchCityStateZipDesignee').modal("show");
                ClearDatatableState('tblCityStateZipGrid');
                makeDatatable('tblCityStateZipGrid');

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


    //Edit Legal Info
    function EditLegalInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditLegalInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditLegalInfo .modal-content').html(data);
                $('#myModalEditLegalInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Edit NotesInfo
    function EditNotesInfo(Id) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("EditNotesInfo", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalEditNotesInfo .modal-content').html(data);
                $('#myModalEditNotesInfo').modal("show");

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    //Add Document
    function AddDocument(Id)
    {
        debugger;
        showLoadingImage();
 
        $.ajax({
            url: '@Url.Action("AddDocument", "DataEntries")',
            type: "POST",
            data: { Id: Id},
            success: function(data) {
                debugger;
                $('#myModalAddDocument .modal-content').html(data);
                $('#myModalAddDocument').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#objJobAttachments_DateCreated').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

                EditDocumentCheckMinDate();
                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowDocumentDetails(Id,BatchJobId) {
        showLoadingImage();
      
        $.ajax({
            url: '@Url.Action("GetDocumentDetails", "DataEntries")',
            data: { Id: Id, BatchJobId: BatchJobId },
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModalEditDocument .modal-content').html(data);
                $('#myModalEditDocument').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                var DateCreated = $('#objJobAttachmentsEdit_DateCreated').val();

                if (DateCreated == "01/01/01" || DateCreated == "1/1/0001 12:00:00 AM" || DateCreated == "") {
                    $('#objJobAttachmentsEdit_DateCreated').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                }
                else {
                    $('#objJobAttachmentsEdit_DateCreated').datepicker({ format: 'mm/dd/yy' }).datepicker();
                }

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ViewDocument(Id) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("ViewDocument", "DataEntries")',
            data: { Id: Id },
            type: "POST",
            success: function (data) {
                debugger;
                if (data != "error") {
                    window.open(data);
                    hideLoadingImage();
                }
                else {
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    //Edit Document Check Min Date
    function EditDocumentCheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objJobAttachments_DateCreated"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }
</script>
