﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.BatchJobVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

        #tblCityStateZipGrid_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<form id="FormSearchCityStateZip">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>
                City/Sate/Zip Lookup
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>City</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", style = "display:inline;" })
            </div>

            <div class="col-xs-3">
                <input type="button" value="Refresh List" id="RefreshListModalSearchCityStateZip" class="btn btn-primary" onclick="RefreshListCityStateZip()" />
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>State</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control", style = "display:inline;", @readonly = true })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-3">
                <lable>Zip</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group lt NopaddingLR">
            
            <div class="col-xs-12 NopaddingLR">
                <br />
                <br />
                <div id="tablCityStateZipDiv" style="height:200px;display:block;overflow-y: scroll;overflow-x: hidden; @(Model.objZipCodeList.Count  <= 0  ? "display:none" : "display:block")">
                    <table id="tblCityStateZipGrid" class="table table-bordered dataTable table-hover grid " border="1">
                        <thead>
                            <tr>
                                <th class="no-sort" style="width: 13px;">Select</th>
                                <th style="width: 30px;">City</th>
                                <th style="width: 30px;">State</th>
                                <th style="width: 82px;">Zip</th>
                                <th style="width: 82px;">County</th> 
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.objZipCodeList.Count >= 1)
                            {
                                foreach (var i in Model.objZipCodeList)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" onclick="SelectCityStateZipDetails(@i.ZIPCodeId , @Model.Id)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-eye" aria-hidden="true"></i>
                                            </button>
                                        </td>
                              
                                        <td>
                                            @i.CityName
                                        </td>
                                        <td>
                                            @i.StateAbbr
                                        </td>
                                        <td>
    @i.ZIPCode
</td>
                                        <td>
                                            @i.CountyName
                                        </td>

                                    </tr>
                                                }
                                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)


    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="ClearModalSearchCityStateZip" value="Clear" class="btn btn-primary pull-left" onclick="ClearCityStateZip();" />
            <input type="button" value="OK" id="OKModalSearchCityStateZip" class="btn btn-primary" onclick="SaveSearchCityStateZip(@Model.Id)" />
            <input type="button" value="Cancel" id="CancelModalSearchCityStateZip" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>



<script type="text/javascript">
    //Clear CityStateZip
    function ClearCityStateZip() {
        $("#City").val('');
        $("#Zip").val(''); 
    }

    //SelectCityStateZipDetails
    function SelectCityStateZipDetails(ZIPCodeId, Id) {
        debugger;
            $.ajax({
                url: '@Url.Action("SelectCityStateZipDetails", "DataEntries")',
                data: { ZIPCodeId: ZIPCodeId, Id: Id},
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data) {
                        $('#myModalSearchCityStateZip .modal-content').html(data);

                        ClearDatatableState('tblCityStateZipGrid');
                        makeDatatable('tblCityStateZipGrid');
                    }
                    else {
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
    }

    //RefreshList CityStateZip
    function RefreshListCityStateZip() {
        debugger;
        var data = $('#FormSearchCityStateZip').serialize();

        $.ajax({
            url: '@Url.Action("RefreshListCityStateZip", "DataEntries")',
            // data: { City: City, State: State, Zip: Zip },
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    $('#myModalSearchCityStateZip .modal-content').html(data);

                    ClearDatatableState('tblCityStateZipGrid');
                    makeDatatable('tblCityStateZipGrid');
                }
                else {
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    //Save SearchCityStateZip
    function SaveSearchCityStateZip(Id) {
        debugger;
        showLoadingImage();
        var data = $('#FormSearchCityStateZip').serialize();
        $.ajax({
         url: '@Url.Action("SaveSearchCityStateZip", "DataEntries")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                ShowDetails(Id, "MainInfo", "TabMainInfo");
                $("#myModalSearchCityStateZip").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    CityStateZipUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalSearchCityStateZip").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CityStateZipUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Job Info Details Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>

