﻿@model CRFView.Adapters.Liens.DataEntry.DataEntry.ViewModels.BatchJobFilterListVM
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Data Entry</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        <div style="padding-bottom:45px">
            <div id="divAdd">
                @*<button type="button" id="btnAdd" class="btn btn-primary pull-left" onclick="ShowDetails('0')" style="display: none;"><i class=""></i>Add</button>*@
                <button type="button" id="btnAdd" class="btn btn-primary pull-left" onclick="ShowDetails('0')"><i class=""></i>Add</button>
            </div>
            <div id="divFilter">
                <button type="button" id="btnFilter" class="btn btn-primary pull-left" onclick="FilterBatchJob();" style="margin-left: 10px;"><i class=""></i>Back to Filter</button>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    @Html.DropDownListFor(model => model.SortBy, Model.SortByList.OrderBy(m => m.Text), "--Sort By--", new { @id = "drpSortBy", @class = "form-control", style = "width : 145px; display: inline;" })

                    @Html.DropDownListFor(model => model.SortType, Model.SortTypeList, new { @id = "drpSortType", @class = "form-control", style = "width : 145px; display: inline;margin-left: 5px;", })

                </div>
                <div class="col-md-1 col-sm-1 col-xs-1" style="margin-left:-85px">
                    <button type="button" id="btnSort" class="btn btn-primary pull-left" style="margin-left: 5px;" onclick="Sort();"><i class=""></i>Sort</button>
                </div>
            </div>

            <button type="button" id="btnBackToFilter" class="btn btn-primary pull-left" onclick="BackToFilterBatchJob();" style="display: none;"><i class=""></i>Back to Filter</button>
            <button type="button" id="btnBackToList" class="btn btn-primary pull-left" onclick="BackToBatchJobList();" style="display: none; margin-left: 5px;"><i class=""></i>Back to List</button>

        </div>
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewLiens/DataEntry/DataEntry/_BatchJobsList.cshtml");}
        </div>

        <div id="EditBatchJob">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="width:1000px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:1000px !important">

        </div>

    </div>
</div>


<div class="modal modal-primary fade" id="myModalAddBatchJob" role="dialog">
    <div class="modal-dialog " style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>


<script type="text/javascript">

        function OnPartialLoad() {

        }

        function FilterBatchJob() {
            debugger;
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("ShowFilterModal", "DataEntries")',
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    hideLoadingImage();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    hideLoadingImage();
                }
            });
        }
     
        function BackToFilterBatchJob() {
            debugger;
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("Index", "DataEntries")',
                datatype: "json",
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#BindView').empty();
                    $("#BindView").append(data);
                    //$('#list').html(data);
                    //$('#EditAccount').html();

                    makeDatatable('tblDataEntries');
                    OnPartialLoad();
                    hideLoadingImage();
                },
                error: function (xhr) {
                    hideLoadingImage();
                    alert("error");
                }
            });
        }

    function BackToBatchJobList() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Index", "DataEntries")',
            datatype: "json",
            type: "POST",
            success: function (data) {
                debugger;
                $('#BindView').empty();
                $("#BindView").append(data);
                //$('#list').html(data);
                //$('#EditAccount').html();

                makeDatatable('tblDataEntries');
                OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

      function Sort() {
        debugger;
      showLoadingImage();
        var SortByValue = $('#drpSortBy option:selected').val();
        var SortTypeValue = $('#drpSortType option:selected').val();
        $.ajax({
            url: '@Url.Action("GetSortedResult", "DataEntries")',
            data: { SortByValue: SortByValue, SortTypeValue: SortTypeValue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblDataEntries');
                //OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["objBatchJob_StartDate" ,
                                               "objBatchJob_EndDate"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }
  
</script>



