﻿@model IEnumerable<CRFView.Adapters.ADCustomText>
@{
    
    Layout = null;
}


<div>
    <table id="tblCustomText" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th width="300px">Description </th>
                <th>Letter type</th>
                <th>Letter Code </th>
                <th>Custom Text</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.Description</td>     
                    <td>@i.LetterType</td>
                    <td>@i.LetterCode </td>  
                    <td>@i.CustomText</td>  
                    <td>
                            <button onclick="ShowDetails(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
