﻿@model CRFView.Adapters.ADCustomText
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.PKID)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Description:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                <div id="ErrorDescription" class="Invalid-feedback" style="display:none">
                    Please Enter Description.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Letter Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.LetterCode, new { @class = "form-control",@style= "text-transform:uppercase" })
                <div id="ErrorLetterCode" class="Invalid-feedback" style="display:none">
                    Please Enter Letter Code.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Letter Type:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.LetterType, new { @class = "form-control", @style = "text-transform:uppercase" })
                <div id="ErrorLetterType" class="Invalid-feedback" style="display:none">
                    Please Enter Letter Type.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Custom Text:</lable>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                @Html.TextAreaFor(m => m.CustomText, new { @class = "form-control",@cols="6",@rows="10" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
           
            showLoadingImage();
            $('#myModal').modal('hide');

            $.ajax({
                url: '@Url.Action("CustomTextSave", "CustomText")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblCustomText');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#Description").val().length <= 0) {
            $("#ErrorDescription").show();
            return false;
        }
        else {
            $("#ErrorDescription").hide();
        }
        if ($("#LetterCode").val().length <= 0) {
            $("#ErrorLetterCode").show();
            return false;
        }
        else {
            $("#ErrorLetterCode").hide();
        }
        if ($("#LetterType").val().length <= 0) {
            $("#ErrorLetterType").show();
            return false;
        }
        else {
            $("#ErrorLetterType").hide();
        }
        return true;
    }


</script>



