﻿@model IEnumerable<CRFView.Adapters.ADClientViewGroup>
@{

    Layout = null;
}

<div>
    <table id="tblClientViewGroups" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th class="no-sort">Edit</th>
                <th style="max-width: 400px;">ClientView GroupName</th>
                <th class="no-sort" style="max-width: 600px;">ClientCode List</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td style="max-width: 400px; overflow:hidden">@i.ClientViewGroupName</td>
                    <td style="max-width: 600px; overflow:hidden">@i.ClientCodeList</td>
                </tr>
            }
        </tbody>
    </table>
</div>

