﻿@model IEnumerable<CRFView.Adapters.ADClientViewGroup>
@{

}

<div>
    <h3 class="page-header">ClientView Groups</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewClients/ClientConfigurations/ClientViewGroups/_ClientViewGroupList.cshtml");}
        </div>
        

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {

    }

       function AddDetails() {
            $.ajax({
                url: '@Url.Action("ClientViewGroupAdd", "ClientViewGroups")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

       }

        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("ClientViewGroupDetails", "ClientViewGroups")',
                data: {
                    id: id
                },
                success: function (data) {

                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");

                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {
                $.ajax({
                    url: '@Url.Action("Search", "ClientViewGroups")',
                    data: {
                        value: searchVal,
                        Key: SearchKey
                    },
                    type: "POST",
                    success: function (data) {
                        $('#list').html(data);
                        makeDatatable('tblClientViewGroups');
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
            return false;
        }
        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "ClientViewGroups")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblClientViewGroup');
                    makeDatatable('tblClientViewGroups');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

</script>



