﻿@model CRFView.Adapters.Liens.NoticeCycle.Extract.ViewModels.NoticeCycleExtractVM

@{
    Layout = null;
}

<style>
    /*.lt {
        text-align: left;
    }
*/
    .rt {
        text-align: right;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormNoticeCycleExtractLetters">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Regular Letters / Extract Letters
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR" style="@(ViewBag.btnOK == "Hide OK" ? "display:initial" : "display:none")">
            <b>
                <lable style="font-weight: 1000; font-size: large;">
                    @Html.Raw(@ViewBag.lblMessage.Replace(Environment.NewLine, "<br/>"))
                </lable>
            </b>
        </div>

        <div class="col-xs-12 form-group NopaddingLR" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")">

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-5 rt">
                    <lable>Thru Date Requested</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.ThruDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker", style = "display:inline; width:75%; margin-left: -32px;" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">&nbsp;</div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-5 rt checkbox-sm">
                    @Html.CheckBoxFor(m => m.chkAssignCerts)
                    &nbsp;
                    <lable>Assign Cert Numbers From</lable>
                </div>
                <div class="col-xs-4">
                    @Html.TextBoxFor(m => m.LastCertNumber, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>

        </div>

    </div>


    <div id="hiddenFields">

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")" />*@
            <input type="button" id="btnExtractLettersOK" value="OK" class="btn btn-primary" onclick="OKNoticeCycleExtractLetters()" style="@(ViewBag.btnOK == "Show OK" ? "display:initial" : "display:none")" />
            <input type="button" id="btnExtractLettersOK" value="OK" class="btn btn-primary" data-dismiss="modal" style="@(ViewBag.btnOK == "Hide OK" ? "display:initial" : "display:none")" />
            <input type="button" value="Cancel" id="btnJVTXExtractLettersCancel" class="btn btn-primary" data-dismiss="modal" style="@(ViewBag.btnOK == "Hide OK" ? "display:none" : "display:initial")" />
        </div>
    </div>
</form>

<script>

    //button OKJVTXExtractLetters
    function OKNoticeCycleExtractLetters() {
        debugger;
        showLoadingImage();

        $("#myModal").modal("hide");
        debugger;
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        var data = $('#FormNoticeCycleExtractLetters').serialize();

        $.ajax({
            url: '@Url.Action("NoticeCycleExtractLetters", "NoticeCycleExtract")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;

                if (data >=0) {
                    CreateNoticeCycleExtractLettersSuccessPopup(data);
                    hideLoadingImage();
                }
                else if (data == -1) {
                    alert('USPSCertNum TABLE EMPTY.');
                    hideLoadingImage();
                }
                else if (data == -2) {
                    alert('ERROR READING JOBNOTICEHISTORY.');
                    hideLoadingImage();
                }
                else if (data == -3) {
                    alert('MAXIMUM NUMBER OF CERT CODES REACHED.');
                    hideLoadingImage();
                }
                else if (data == -4) {
                    alert('NOT ENOUGH DIGITS FOR THE SERVICE TYPE CODE.');
                    hideLoadingImage();
                }
               
                else if (data == -0) {
                    alert('Error In Processing Extract Letters.');
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CreateNoticeCycleExtractLettersSuccessPopup(data) {
        debugger;
        swal({
            title: "Successfully Extracted!",
            text: "Number of Notices Extracted (" + data + ")",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>






