﻿@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Extract</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:700px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:700px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "NoticeCycleExtract")',
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#ThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

                document.getElementById("chkAssignCerts").checked = true;
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


</script>






