﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.NoteVM
@{
    Layout = null;
}

<form id="FormJobNote">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Job Note (New Entry)
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">


        <div class="col-xs-12 form-group">
            <div class="col-xs-2 form-group">
                Note Type
            </div>
            &nbsp; &nbsp;
            <div class="col-xs-2 form-group">
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "1", new { @checked = true })
                &nbsp;
                <lable>Misc</lable>

            </div>


            
            <div class="col-xs-2 form-group">
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "2")
                &nbsp;
                <lable>Internal</lable>
            </div>

            
            <div class="col-xs-3 form-group">
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "3")
                &nbsp;
                <lable>Review</lable>
            </div>

            </div>

            <div class="col-xs-12 form-group">
                @Html.TextAreaFor(m => m.obj_note.Note, new { rows = "10", cols = "80" })
            </div>
        </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_note.JobId)
        @Html.HiddenFor(m => m.obj_noteJobId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary" onclick="Clear()" style="margin-right: 415px;@(ViewBag.btnClear == "HideClear" ? "display:none" : "display:initial") " />
            <input type="button" id="btnsaveNote" value="OK" class="btn btn-primary" onclick="SaveNote(@Model.obj_noteJobId)" @(ViewBag.btnOK == "HideOK" ? "disabled :'disabled'" : "") />
            <input type="button" value="Cancel" id="CancelModalNote" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>
</form>


<script>

    function SaveNote(DebtAccountId)
    {
        debugger;
        showLoadingImage();
        var data = $('#FormJobNote').serialize();
        var JobId = @Model.obj_noteJobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
        $.ajax({
            url: '@Url.Action("SaveNote", "WorkCardLiens")',
            data: data,
            type: "POST",
            //dataType: 'json',
            success: function (data) {
                debugger;
                
                $("#myModalAddNewNote").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                //NoteAddedSuccessPopup();
                if(data == 1)
                {
                    ShowDetails(JobId, j, ListName, "Notes", "TabNotes");
                   //NoteAddedSuccessPopup();
                   // $('#successMsg').show();
                    hideLoadingImage();
                }
                else if (data == 0)
                {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
               $("#myModalAddNewNote").modal("hide");
            }
        });
    }

    function NoteAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Note Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function Clear() {
        debugger;
        $('#obj_note_Note').val('');

    }

</script>


