﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.EditClientBranchVM
@{
    Layout = null;
}

<style>

    .lbl1 {
        text-align:right;
    }

    .modal-content {
        width: 900px !important;
    }
</style>


<form id="FormEditBranchInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Client Branch
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-2" style="text-align: left;" >
                    <lable>Branch Number</lable>
                </div>
                <div class="col-xs-2"style="text-align: left;margin-left:-39px">
                   @Html.TextBoxFor(m => m.obj_ClientEdit.BranchNumber, new { @class = "form-control", style = "display:inline; width:144px;" })
                </div>
                <div class="col-xs-2" style="text-align: left;margin-left:10px">
                    <lable>Branch List</lable>
                </div>
                <div class="col-xs-4" style="margin-left: -75px;">
                    @Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })
                    @*@Html.TextBoxFor(m => m.objEditClient.BranchNumber, new { @class = "form-control", style = "display:inline;" })*@
                </div>
                <div class="col-xs-2" style="margin-left:53px">
                    <input type="button" value="select" class="btn btn-primary"onclick="SelectBranch()" style="margin-top:-2px;margin-bottom:7px"/>
                </div>
            </div>
         </div>

                <div class="form-group col-xs-12 lt NopaddingLR">
                    <div class="col-xs-12 NopaddingLR">
                        <div class="col-xs-6 NopaddingLR" >
                            <fieldset class="customFieldset">
                                <legend>Branch Info</legend>
                                @{if (Model.IsJobView == true)
                                    {

                                        <div class="col-xs-12 form-group lt NopaddingLR">

                                            <div class="col-xs-3 lbl1">
                                                <lable>Branch Name</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.ClientName, new { @class = "form-control", style = "display:inline;width:317px"})
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Address1</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.AddressLine1, new { @class = "form-control", style = "display:inline;width:317px" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Address2</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.AddressLine2, new { @class = "form-control", style = "display:inline;width:317px" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>City/St/Zip</lable>
                                            </div>
                                            <div class="col-xs-4">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.City, new { @class = "form-control", style = "display:inline; width:141px" })
                                            </div>
                                            <div class="col-xs-2">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.State, new { @class = "form-control", style = "display:inline; width:50px;" })
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.PostalCode, new { @class = "form-control", style = "display:inline; width: 104px; margin-left: -18px;" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Phone</lable>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.PhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                                            </div>
                                            <div class="col-xs-3 lbl1">
                                                <lable>Extension</lable>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.PhoneExt, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:102px; margin-left: -18px;" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Fax</lable>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                                            </div>
                                            <div class="col-xs-3">
                                                &nbsp;
                                            </div>
                                            <div class="col-xs-3">
                                                &nbsp;
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Email</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextAreaFor(m => m.obj_ClientEdit.Email, new { @class = "form-control", rows = "6", cols = "53", style = "display:inline;width:317px" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12">&nbsp;</div>
                                        <div class="col-xs-12">&nbsp;</div>
                                        @*<div class="col-xs-12">&nbsp;</div>*@
                                    }

                                    else
                                    {
                                        <div class="col-xs-12 form-group lt NopaddingLR">

                                            <div class="col-xs-3 lbl1">
                                                <lable>Branch Name</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.ClientName, new { @class = "form-control", style = "display:inline;width:317px",  @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Address1</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.AddressLine1, new { @class = "form-control", style = "display:inline;width:317px",  @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Address2</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.AddressLine2, new { @class = "form-control", style = "display:inline;width:317px",  @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>City/St/Zip</lable>
                                            </div>
                                            <div class="col-xs-4">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.City, new { @class = "form-control", style = "display:inline; width:141px",  @readonly = true })
                                            </div>
                                            <div class="col-xs-2">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.State, new { @class = "form-control", style = "display:inline; width:50px;",  @readonly = true })
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.PostalCode, new { @class = "form-control", style = "display:inline; width: 104px; margin-left: -18px;",  @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Phone</lable>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.PhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;", @readonly = true })
                                            </div>
                                            <div class="col-xs-3 lbl1">
                                                <lable>Extension</lable>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.PhoneExt, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:102px; margin-left: -18px;", @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Fax</lable>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(m => m.obj_ClientEdit.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;", @readonly = true })
                                            </div>
                                            <div class="col-xs-3">
                                                &nbsp;
                                            </div>
                                            <div class="col-xs-3">
                                                &nbsp;
                                            </div>
                                        </div>

                                        <div class="col-xs-12 form-group lt NopaddingLR">
                                            <div class="col-xs-3 lbl1">
                                                <lable>Email</lable>
                                            </div>
                                            <div class="col-xs-9">
                                                @Html.TextAreaFor(m => m.obj_ClientEdit.Email, new { @class = "form-control", rows = "4", style = "display:inline;width:317px", @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-xs-12">&nbsp;</div>
                                        <div class="col-xs-12">&nbsp;</div>
                                        @*<div class="col-xs-12">&nbsp;</div>*@
                                        }
                                    }
                            </fieldset>

                        </div>


                        <div class="col-xs-6 NopaddingLR">
                            <fieldset class="customFieldset">
                                <legend></legend>

                                
                                    <div class="col-xs-12">
                                        <div class="nav-tabs-horizontal" data-plugin="tabs">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li id="MainContact" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainContact" aria-controls="TabMainContact" role="tab" aria-selected="false">Main Contact</a></li>
                                                <li id="SecondaryContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSecondaryContact" aria-controls="TabSecondaryContact" role="tab" aria-selected="false" >Secondary Contact</a></li>
                                                <li id="MiscInfo" class="nav-item " role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMemo" aria-controls="TabMemo" role="tab" aria-selected="false" style="width:72px;">Memo</a></li>
                                            </ul>
                                        </div>

                                        <div class="tab-content">

                                            <div class="tab-pane active" id="TabMainContact" role="tabpanel">
                                                <br />
                                                <div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Contect</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactName, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>As</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactSalutation, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>


                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Title</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactTitle, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Birth Date</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactDOB, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">&nbsp;</div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">&nbsp;</div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">&nbsp;</div>
                                            </div>
                                         </div>



                                            <div class="tab-pane" id="TabSecondaryContact" role="tabpanel">
                                                <br />
                                                <div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Contact</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactName2, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>AS</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactSalutation2, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Title</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactTitle2, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Email</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactEmail2, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Phone</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactPhoneNo2, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Extension</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContractPhoneNo2Ext, new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                        <div class="col-md-4 col-sm-4 col-xs-4 lbl1">
                                                            <lable>Birth Date</lable>
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                                            @Html.TextBoxFor(m => m.obj_ClientEdit.ContactDOB2, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline; width: 160px;" })
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>



                                            <div class="tab-pane" id="TabMemo" role="tabpanel">
                                                <br />
                                                <div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">

                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left:-33px">
                                                            @Html.TextAreaFor(m => m.obj_ClientEdit.Note, new { rows = "6", cols = "53" })
                                                        </div>
                                                    </div>

                                                    @*<div class="col-md-12 col-sm-12 col-xs-12 form-group">&nbsp;</div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">&nbsp;</div>*@

                                                </div>
                                            </div>


                                        


                                          </div>
                                     </div>

                                </fieldset>
                        </div>

                        </div>
                    </div>
            </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_ClientEdit.ClientId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.IsJobView)
    </div>

                    <div class="modal-footer">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                            <input type="button" value="OK" id="OKModalEditJob" class="btn btn-primary" onclick="SaveClient(@Model.obj_ClientEdit.ClientId)" />
                            <input type="button" value="Cancel" id="CancelModalEditJob" class="btn btn-primary" data-dismiss="modal" />
                        </div>
                    </div>
        </form>


<script type="text/javascript">

            function SelectBranch() {
                debugger;
                var JobId = @Model.JobId;
                var ClientId = $('#obj_ClientEdit_ClientId').val();
                $.ajax({
                    url: '@Url.Action("EditBranchInfo", "WorkCardLiens")',
                    //data: data,
                    data: { JobId: JobId, ClientId: ClientId, IsSelect: true },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        $('#myModalBranchInfo .modal-content').html(data);
                        $('#myModalBranchInfo').modal("show");
                        //$('#obj_ClientEdit_ContactDOB').datepicker({ format: 'mm/dd/yy' });
                        //$('#obj_ClientEdit_ContactDOB2').datepicker({ format: 'mm/dd/yy' });
                        CheckMinDate();
                        hideLoadingImage();
                    },
                    fail: function (error) {
                        debugger;
                        $('#errorMsg').show();
                        hideLoadingImage();
                    }
                });
            }
            function SaveClient(ClientId) {
                debugger;
                showLoadingImage();
                var JobId = @Model.JobId;
               //var JobView = @Model.IsJobView.ToString();
                //if(Model.IsJobView == "true")
                //{
                   // var JobView = True;
                //}
                var BranchNumber = $('#obj_ClientEdit.BranchNumber').val();
                var data = $('#FormEditBranchInfo').serialize();
                var j = $('#Jvalue').val();
                var ListName = $('#ListValue').val();
                //$('#myModalBranchInfo').modal('hide');
                $.ajax({
                        url: '@Url.Action("SaveEditBranchInfo", "WorkCardLiens")',
                        //data: { ClientId: ClientId, JobId: JobId, IsJobView: IsJobView, BranchNumber: BranchNumber },
                    data: data,
                    type: "POST",

                        success: function (data) {
                            debugger;
                           // $('#EditJob').html(data);
                           
                    $('#myModalBranchInfo').modal('hide');
                    BranchClientUpdateSuccessPopup();
                            ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                            hideLoadingImage();
                            //EditMoreInfoCheckMinDate();
                        },
                        fail: function (error) {
                            hideLoadingImage();
                            $('#errorMsg').show();
                        }
                    });
            }




        function BranchClientUpdateSuccessPopup() {
        debugger;
        swal({
        title: "Successfully Updated!",
        text: "Your Client Branch Has Been Update.",
        type: "success",
        //showDoneButton: true,
        //closeOnDone: true,
        showCancelButton: true,
        cancelButtonText: "OK",
        showConfirmButton: false,
        closeOnConfirm: false,
        closeOnCancel: false
        });
        }



</script>