﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.CustomerEditVM

@{
    Layout = null;
}

<style>

    .lbl1 {
        text-align: right;
    }

    .ui-menu-item a {
        color: black;
    }

    .ui-widget-content {
        width: 30% !important;
    }
    /*.modal-content {
        width: 900px !important;
    }*/

    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
</style>

@*<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>*@
<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.22.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<form id="FormEditCustomer">

    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Customer
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;" onclick="Cancle()">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body" style="max-height:1000px">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 rt">
                @Html.RadioButtonFor(m => m.RdbBtn, "N", new { @checked = true })
                <lable>&nbsp;By Name</lable>
                &nbsp; &nbsp; &nbsp;
                @Html.RadioButtonFor(m => m.RdbBtn, "A")
                <lable>&nbsp;By Address</lable>
            </div>
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@
                    @*<input type="text" />*@
                    @Html.TextBoxFor(m => m.cboCustName, new { @class = "form-control", style = "display:inline;width: 528px;" })
                </div>

                <div class="col-xs-3">
                    @*<input type="button" value="Search" id="SearchCustomerByName" class="btn btn-primary" style="margin-right: -13px;" onclick="SearchCustomer()" />*@
                    <input type="button" value="Select" id="SelectCustomerByName" class="btn btn-primary" style="margin-right: -13px;" onclick="SelectCustomer()" />

                </div>
            </div>

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                </div>

                <div class="col-xs-3">
                    <input type="button" value="New" id="Customerid" class="btn btn-primary" style="margin-right: -13px;margin-top: 5px;" onclick="NewCustomer()" />

                </div>
            </div>


            @*<div class="col-xs-12 NopaddingLR">
                    <div class="col-xs-12 form-group" style="text-align: right; margin-bottom: -2%;margin-left: -3%;">
                        <b>
                            <lable style="font-weight: 1000; font-size: medium;">
                                @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                            </lable>
                        </b>
                    </div>
                </div>*@
            @*<div class="col-xs-12  form-group">
                    <div class="col-xs-12 NopaddingLR">
                        <br />
                        <div id="tblCustomerList" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.CustomerList.Count <= 0 ? "display:none" : "display:block")">
                            <table id="tblCustomerLookUp" class="table table-bordered dataTable table-hover grid " border="1" style="width:946px;">
                                <thead>
                                    <tr>
                                        <th class="no-sort" style="width: 13px;">View</th>


                                        <th style="width: 30px;">Name</th>
                                        <th style="width: 82px;">Ref Num</th>
                                        <th style="width: 82px;">Address</th>
                                        <th style="width: 82px;">Id</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.CustomerList.Count >= 1 && Model != null && Model.CustomerList != null)
                                    {
                                        foreach (var i in Model.CustomerList)
                                        {
                                            <tr>
                                                <td>
                                                    <button type="button" onclick="ShowCustomerDetails('@i.Id')" class="btn btn-default btn-icon btn-pure">
                                                        <i class="icon wb-eye" aria-hidden="true"></i>
                                                    </button>
                                                </td>


                                                <td>
                                                    @i.Name
                                                </td>
                                                <td>
                                                    @i.Ref
                                                </td>
                                                <td>
                                                    @i.Address
                                                </td>
                                                <td>
                                                    @i.Id
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>*@

        </div>

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-10 NopaddingLR">
                    @*<fieldset class="customFieldset" style="width:785px;margin-top:15px;" @(ViewBag.CustEditFieldset != true && ViewBag.CustEditFieldset != null ? "readonly  ='readonly'" : "")>*@
                    <fieldset class="customFieldset" style="width:785px;margin-top:15px;">
                        <legend>Cust Edit</legend>


                        <div id="copy1">
                            <div class="col-xs-12 form-group lt NopaddingLR">

                                <div class="col-xs-3 lbl1">
                                    <lable>Customer</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientCustomer.ClientCustomer, new { @class = "form-control", style = "display:inline;width:317px" })
                                    <div id="ErrorClientCustomerName" class="Invalid-feedback" style="display:none">
                                        Please Enter Customer Name
                                    </div>
                                </div>
                                <div class="col-xs-4" @{if (ViewBag.btnDelete != true) { @: hidden="hidden"
                                     }}>
                                    <input type="button" value="Delete" id="DeleteButton" class="btn btn-primary" style="margin-left: 108px;" onclick="DeleteCustomerByCheck()" />

                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 lbl1">
                                    <lable>Ref Number</lable>
                                </div>
                                <div class="col-xs-9" @(ViewBag.btnRefNum != true && ViewBag.btnRefNum != null ? "disabled ='disabled'" : "")>
                                    @Html.TextBoxFor(m => m.obj_ClientCustomer.RefNum, new { @class = "form-control", style = "display:inline;width:317px;" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 lbl1">
                                    <lable>Cust Contact</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.obj_ClientCustomer.ContactName, new { @class = "form-control", style = "display:inline;width:317px" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 lbl1">
                                    <lable>Cust Address 1</lable>
                                </div>
                                <div id="copy1" class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientCustomer.AddressLine1, new { @class = "form-control", style = "display:inline;width:317px" })
                                </div>
                                <div class="col-xs-4 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.IsNonUSAddr, new { style = "margin-left: 20px;" })
                                    <lable style="margin-left: 10px;">Non US Addr</lable>
                                    <div id="ErrorIsNonUSAddr" class="Invalid-feedback" style="display:none">
                                        Please Enter Customer Name
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 lbl1">
                                    <lable>Cust Address 2</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.obj_ClientCustomer.AddressLine2, new { @class = "form-control", style = "display:inline;width:317px" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 lbl1">
                                    <lable>City/St/Zip</lable>
                                </div>
                                <div class="col-xs-1" id="copy1">
                                    @Html.TextBoxFor(m => m.obj_ClientCustomer.City, new { @class = "form-control", style = "display:inline; width:145px" })
                                    <div id="ErrorcustCity" class="Invalid-feedback" style="display: none; width: 165px;">
                                        Invalid City for the Zip Code
                                    </div>
                                </div>
                                <div class="col-xs-2" id="copy1">
                                    @Html.TextBoxFor(m => m.obj_ClientCustomer.State, new { @class = "form-control", style = "display:inline; width:50px;margin-left: 86px;" })
                                </div>
                                <div class="col-xs-3" id="copy1">
                                    @Html.TextBoxFor(m => m.obj_ClientCustomer.PostalCode, new { @class = "form-control", style = "display:inline; width: 101px; margin-left: 26px;" })
                                    <div id="ErrorcustZip" class="Invalid-feedback" style="display:none; margin-left:-23px;">
                                        Invalid State for the Zip Code
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 lbl1">
                                <lable>Cust Phone</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCustomer.Telephone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                            </div>

                        </div>

                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 lbl1">
                                <lable>Cust Fax</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.TextBoxFor(m => m.obj_ClientCustomer.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                            </div>
                            <div class="col-xs-3">
                                &nbsp;
                            </div>
                            <div class="col-xs-3">
                                &nbsp;
                            </div>
                        </div>

                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 lbl1">
                                <lable>Cust Email</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.obj_ClientCustomer.Email, new { @class = "form-control", style = "display:inline;width:317px" })
                                <div id="ErrorEmail" class="Invalid-feedback" style="display:none">
                                    Invalid Email Address
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 lbl1">
                                <lable>Website</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.obj_ClientCustomer.Website, new { @class = "form-control", style = "display:inline;width:317px;text-decoration-line: underline;" })
                                <label id="testlbl" hidden> </label>
                                <i class="icon wb-edit" id="editCustIcon" aria-hidden="true" onclick="textvalue()"></i>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-3 lbl1">
                                <lable>Credit Score</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextBoxFor(m => m.obj_ClientCustomer.CreditScore, new { @class = "form-control", style = "display:inline;width:127px;text-decoration-line: underline;" })
                               
                            </div>
                        </div>


                        <div class="col-xs-12 form-group lt NopaddingLR" style="margin-top: 7px;">
                            <div class="col-xs-3 lbl1">
                                <lable>Special Instr</lable>
                            </div>
                            <div class="col-xs-9">
                                @Html.TextAreaFor(m => m.obj_ClientCustomer.SpecialInstruction, new { rows = "2", cols = "70" })

                            </div>
                        </div>


                        <div class="col-xs-12" style="margin-top:15px" id="L1">
                            <div class="col-xs-2 NopaddingLR">
                            </div>
                            <div class="col-xs-2 NopaddingLR">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.NoNTO, new { style = "" })
                                </div>

                                <div class="col-xs-1 ">
                                    <lable>NoNTO</lable>
                                </div>
                            </div>


                            <div class="col-xs-2 NopaddingLR">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.NoCallCust, new { style = "" })
                                </div>

                                <div class="col-xs-1">
                                    <lable>NoCall</lable>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.CustAllSend, new { style = "" })
                                </div>

                                <div class="col-xs-1">
                                    <lable>AllSend</lable>
                                </div>
                            </div>

                            <div class="col-xs-2 NopaddingLR">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.CustNoSend, new { style = "" })
                                </div>

                                <div class="col-xs-1">
                                    <lable>NoSend</lable>
                                </div>
                            </div>


                            <div class="col-xs-2 NopaddingLR">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.NoFax, new { style = "" })
                                </div>

                                <div class="col-xs-1">
                                    <lable>NoFax</lable>
                                </div>
                            </div>

                        </div>


                        <div class="col-xs-12" id="L2">

                            <div class="col-xs-2 NopaddingLR">
                            </div>
                            <div class="col-xs-2 NopaddingLR">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.NoJointCk, new { style = "" })
                                </div>

                                <div class="col-xs-1">
                                    <lable>NoJointCk</lable>
                                </div>
                            </div>


                            <div class="col-xs-2 NopaddingLR">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.NoCallsCustGc, new { style = "" })
                                </div>

                                <div class="col-xs-1 ">
                                    <lable>NoCallsCustGC</lable>
                                </div>
                            </div>

                            <div class="col-xs-2">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.CustPublic, new { style = "" })
                                </div>

                                <div class="col-xs-1 ">
                                    <lable>CustPublic</lable>
                                </div>
                            </div>

                            <div class="col-xs-2 NopaddingLR">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.CustNotConst, new { style = "" })
                                </div>

                                <div class="col-xs-1 ">
                                    <lable>CustNotConst</lable>
                                </div>
                            </div>


                            <div class="col-xs-2 NopaddingLR">
                                <div class="col-xs-1 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.obj_ClientCustomer.NoEmail, new { style = "" })
                                </div>

                                <div class="col-xs-1 ">
                                    <lable>NoEmail</lable>
                                </div>
                            </div>

                        </div>




                    </fieldset>


                </div>


            </div>
        </div>
    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.SameAsGC)

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            @*<input type="button" value="Clear" id="ClearModalCustomerEdit" class="btn btn-primary" style="float:left" onclick="ClearCustomer()" />*@
            
            @*<button type="button" class="btn btn-default" value="Copy above data to clipboard" onClick="myFunctions('copy1')">
                <span class="tooltiptext" id="myTooltip">Copy</span>
            </button>*@
            <input type="button" value="OK" id="OKModalCustomerEdit" class="btn btn-primary" onclick="SaveCustomer(@Model.obj_ClientCustomer.ClientId)" />
            <input type="button" value="Cancel" id="CancelModalCustomerEdit" class="btn btn-primary" data-dismiss="modal" style="margin-right: -13px;" onclick="Cancle()" />

        </div>
    </div>
</form>

<script type="text/javascript">

    @*function SearchCustomer() {
        debugger;
        var SearchInitial = $('#cboCustName').val();
          var JobId = @Model.JobId;
        var ClientId = @Model.ClientId;
        var RdbBtnVal = $('input[name="RdbBtn"]:checked').val();
        $.ajax({
            url: '@Url.Action("ShowSearchCustomerList", "WorkCardLiens")',
            data: { SearchInitial: SearchInitial, ClientId: ClientId, JobId: JobId },
            data: { JobId: JobId, ClientId: ClientId, SearchInitial: SearchInitial, LegalPartyId: 0, IsPrimary: false, RdbBtnVal: RdbBtnVal },

            type: "POST",
            success: function (data) {
            debugger;
            if (data) {
                $('#myModalCustomerInfo .modal-content').html(data);
            }
            else {
            $("#myChangeCustLookUpModel").modal("hide");
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('#errorMsg').show();
            }
            },
            fail: function (error) {
                $("#myChangeCustLookUpModel").modal("hide");
                $("#DeleteButton").hide();
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('#errorMsg').show();
            }
            });
    }*@
    function ShowCustomerDetails(CustId) {
        debugger;
        showLoadingImage();
          var JobId = @Model.JobId;
        $.ajax({
            url: '@Url.Action("LoadCustomerInfo", "WorkCardLiens")',
            data: { CustId: CustId, JobId: JobId },
            type: "POST",
            success: function (data) {
                debugger;
                //var j = $(".newtr").attr('id');
               // $(".newtr").empty();
                //$('<tr id="newtr"><td colspan="9">' + data + '</td></tr>').insertAfter($('#tr' + j).closest('tr'));
               // $('<tr id=' + j + ' class="newtr"><td  colspan="9" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                $('#myModalCustomerInfo .modal-content').html(data);
                var s = $('#myModalCustomerInfo').find('#obj_ClientCustomer_Website').val();
                if (s == "" || s == null) {
                    debugger;
                    $('#obj_ClientCustomer_Website').show();
                    $('#testlbl').hide();
                    //$('.icon.wb-edit').hide();
                    $('#editCustIcon').hide();

                }
                else {
                    $('#obj_ClientCustomer_Website').hide();
                    //  $('#myModalCustomerInfo').find('#obj_ClientCustomer_Website').wrap('<a id ="test" href="//' + s + '" />');
                    // $('#myModalCustomerInfo').find('#testlbl').wrap(' < a  href = "//' + s + '" target = "_blank" />');
                    $('#testlbl').html('<a href="//' + s + '" target="_blank">' + s + '</a>');
                    $('#testlbl').show();
                    //$('#myModalCustomerInfo').find(s).wrap('<a href="//' + s + '" target="_blank"/>')
                    //var p = k.val(); $("#obj_ClientCustomer_Website").attr("href", " 's'");
                }
                //$('#myModalCustomerInfo').html(data);
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $("#DeleteButton").show();
                CheckMinDate();
                //$('#list').hide();




                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function SelectCustomer() {
        debugger;
        var Name = $('#cboCustName').val();
        var NameValue = Name.split(")");
        var test = NameValue[0].split("(");
        var CustId = test[1];
        showLoadingImage();
          var JobId = @Model.JobId;
        $.ajax({
            url: '@Url.Action("LoadCustomerInfo", "WorkCardLiens")',
            data: { CustId: CustId, JobId: JobId },
            type: "POST",
            success: function (data) {
                debugger;
                //var j = $(".newtr").attr('id');
               // $(".newtr").empty();
                //$('<tr id="newtr"><td colspan="9">' + data + '</td></tr>').insertAfter($('#tr' + j).closest('tr'));
               // $('<tr id=' + j + ' class="newtr"><td  colspan="9" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                $('#myModalCustomerInfo .modal-content').html(data);
                var s = $('#myModalCustomerInfo').find('#obj_ClientCustomer_Website').val();
                if (s == "" || s == null) {
                    debugger;
                    $('#obj_ClientCustomer_Website').show();
                    $('#testlbl').hide();
                    //$('.icon.wb-edit').hide();
                    $('#editCustIcon').hide();
                }
                else {
                    $('#obj_ClientCustomer_Website').hide();
                    //  $('#myModalCustomerInfo').find('#obj_ClientCustomer_Website').wrap('<a id ="test" href="//' + s + '" />');
                    // $('#myModalCustomerInfo').find('#testlbl').wrap(' < a  href = "//' + s + '" target = "_blank" />');
                    $('#testlbl').html('<a href="//' + s + '" target="_blank">' + s + '</a>');
                    $('#testlbl').show();
                    //$('#myModalCustomerInfo').find(s).wrap('<a href="//' + s + '" target="_blank"/>')
                    //var p = k.val(); $("#obj_ClientCustomer_Website").attr("href", " 's'");
                }
                //$('#myModalCustomerInfo').html(data);
                //$('body').removeClass('modal-open');
                //$('.modal-backdrop').remove();
                CheckMinDate();
                //$('#list').hide();




                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    //$('#obj_ClientCustomer_Website').focusout(function () {
    //    debugger;
    //    var s = $('#obj_ClientCustomer_Website').val();
    //   // $('#obj_ClientCustomer_Website').wrap('<a href="' + s + '"/>');
    //    $('#obj_ClientCustomer_Website').wrap('<a href="//' + s + '" target="_blank"/>');
    //   // var link = $('#obj_ClientCustomer_Website');
    //   // link.attr('href', link.attr('href') + 'ghjdgjj');
    //   //$("#obj_ClientCustomer_Website").attr("href", s)
    //   // $('#obj_ClientCustomer_Website').prop('href', this.s);
    //   // $(this).wrapInner('<a href="' + $(this).html() + '" />');
    //   // $('#obj_ClientCustomer_Website').wrapInner('<a href="' + s + '" />');

    //   // HyperLink("obj_ClientCustomer_Website", href);
    //});


    //$('#obj_ClientCustomer_Website').click(function () {
    //    debugger;
    //    var s = $('#obj_ClientCustomer_Website').val();
    //    var k = " //" + s ;
    //    window.open(k);

    //});

    function textvalue() {
        debugger;
        $('#obj_ClientCustomer_Website').show();
        $('#testlbl').hide();
        //$('.icon.wb-edit').hide();
        $('#editCustIcon').hide();

    }
    function NewCustomer() {
        var ClientId = @Model.ClientId;
          var JobId = @Model.JobId;
         $.ajax({
            url: '@Url.Action("NewCustomer", "WorkCardLiens")',
             data: { CustId: 0, ClientId: ClientId, JobId: JobId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalCustomerInfo .modal-content').html(data);
                //$('.icon.wb-edit').hide();
                $('#editCustIcon').hide();
                //$('body').removeClass('modal-open');
                //$('.modal-backdrop').remove();
                CheckMinDate();
                //$('#list').hide();




                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    $('#Customerid').click(function () {
        debugger;
        $('#obj_ClientCustomer_ClientCustomer').val("");
        $('#obj_ClientCustomer_RefNum').val("");
        $('#obj_ClientCustomer_ContactName').val("");
        $('#obj_ClientCustomer_AddressLine1').val("");
        $('#obj_ClientCustomer_AddressLine2').val("");
        $('#obj_ClientCustomer_City').val("");
        $('#obj_ClientCustomer_State').val("");
        $('#obj_ClientCustomer_PostalCode').val("");
        $('#obj_ClientCuIdddtomer_Fax').val("");
        $('#obj_ClientCuIdtomer_Email').val("");
        $('#obj_ClientCustomer_SpecialInstruction').val("");
        $("#DeleteButton").hide();
        //$('#myModalCustomerInfo').modal("show");
    });

   function SaveCustomer(){
        debugger;
        showLoadingImage();
        //$('#myModalJobEdit').modal('hide');
        //$('body').removeClass('modal-open');
        //$('.modal-backdrop').remove();
       var JobID = @Model.JobId;
       var j = $('#Jvalue').val();
       var ListName = $('#ListValue').val();
       if (Validate()) {
           $.ajax({
               url: '@Url.Action("SaveCustomerInfo", "WorkCardLiens")',
               data: $('#FormEditCustomer').serialize(),
               type: "POST",
               success: function (data) {
                   debugger;
                   if (data == 0) {
                       $("#ErrorcustZip").show();
                       hideLoadingImage();
                       $('#myModalCustomerInfo').show();
                   }
                   else if (data == 1) {
                       $("#ErrorcustCity").show();
                       hideLoadingImage();
                       $('#myModalCustomerInfo').show();
                   }
                   else if (data == 2) {
                       $("#ErrorEmail").show();
                       hideLoadingImage();
                       $('#myModalCustomerInfo').show();
                   }
                   else {
                       //hideLoadingImage();
                       $('#myModalCustomerInfo').html(data);
                       ShowDetails(JobID, j, ListName, "JobInfo", "TabJobInfo");
                       $('body').removeClass('modal-open');
                       $('.modal-backdrop').remove();
                       //if(data.cl)
                       JobEditUpdateSuccessPopup();
                       showLoadingImage();
                   }

                   //$('#myModalCustomerInfo').html(data);
                   //ShowDetails(JobID, j, ListName, "JobInfo", "TabJobInfo");
                   //$('body').removeClass('modal-open');
                   //$('.modal-backdrop').remove();
                   ////if(data.cl)
                   //JobEditUpdateSuccessPopup();
                   //ShowDetails(JobID, j, ListName, "JobInfo", "TabJobInfo");
                   //hideLoadingImage();
                   //EditMoreInfoCheckMinDate();
               },
               fail: function (error) {
                   hideLoadingImage();
                   $('#errorMsg').show();
               }
           });
       }
    }

    function DeleteCustomerByCheck() {

        debugger;
        showLoadingImage();
        //$('#myModalJobEdit').modal('hide');
        //$('body').removeClass('modal-open');
        //$('.modal-backdrop').remove();
        var JobId = @Model.JobId;

            $.ajax({
                url: '@Url.Action("CheckToDeleteInfo", "WorkCardLiens")',
                data: { JobId: JobId, IsPrimary: IsPrimary, TypeCode:"CU"},
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == true) {
                        if (confirm("Notices Pending – Are you sure you want to delete the Legal Party ?")) {
                            DeleteCustomer();
                        }
                        else {
                            return false;
                        }

                    }
                    else {
                        DeleteCustomer();
                    }
                    //$('#myModalGCInfo').html(data);
                    //$('#myModalGCInfo').hide();
                    //$('.modal-backdrop').remove();

                    //GCDeleteSuccessPopup();
                    //ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                    hideLoadingImage();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });


    }

     function DeleteCustomer(ClientId){
        debugger;
        showLoadingImage();
        //$('#myModalJobEdit').modal('hide');
        //$('body').removeClass('modal-open');
        //$('.modal-backdrop').remove();
         var j = $('#Jvalue').val();
         var ListName = $('#ListValue').val();
         var JobId = @Model.JobId;
            $.ajax({
                url: '@Url.Action("DeleteCustomerInfo", "WorkCardLiens")',
                data: $('#FormEditCustomer').serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#myModalCustomerInfo').hide();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data == 1) {

                        ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                        hideLoadingImage();
                        CustomerDeleteSuccessPopup();

                    }
                    else if (data == 0) {
                        debugger;
                        alert("Error.");
                        hideLoadingImage();
                    }
                    

                    
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

    }


    @*function ClearCustomer() {
       debugger;
        showLoadingImage();
         var JobId = @Model.JobId;
        var ClientId = @Model.ClientId;
        $.ajax({
            url: '@Url.Action("ShowCustomerInfo", "WorkCardLiens")',
            data: { ClientId: ClientId, JobId: JobId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalCustomerInfo .modal-content').html(data);
                $('#myModalCustomerInfo').modal("show");
                chkMinDate();
                hideLoadingImage();
            },
            fail: function (error) {
                debugger;
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });

    }*@



    function JobEditUpdateSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Customer Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function CustomerDeleteSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Customer Info Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function myFunctioncust(el) {
        debugger;

        var body = document.body, range, sel;
        // var urlField = document.querySelectorAll('#copy');
        var urlField = document.getElementById(el);
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);

            }

            catch (e) {
                range.selectNode(urlField);
                //range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand('copy')
            //range.execCommand("Copy");
            //clearSelection();
        }
        else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            document.execCommand('copy')
            clearSelection();
        }

        //var tooltip = document.getElementById("myTooltip");
        ////tooltip.innerHTML = "Copied: " + copyText.value;
        //tooltip.innerHTML = "Text Copied";

    }

    $('#cboCustName').keyup(function () {
        var ClientId = @Model.ClientId;
        debugger;
        var SearchInitial = $('#cboCustName').val();
        var RdbBtnVal = $('input[name="RdbBtn"]:checked').val();
        if (SearchInitial.length > 1) {
              $("#cboCustName").autocomplete({

            source: function (request, response) {
                debugger;

                //alert(request.term);
                $.ajax({
                    url: '@Url.Action("ShowSearchCustomerList1", "WorkCardLiens")',
                    data: "{'prefix': '" + request.term + "','ClientId': '" + ClientId + "','RdbBtnVal': '" + RdbBtnVal + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        debugger;
                        //alert(data.length);

                        if (data.length != 0) {

                            response($.map(data, function (item) {
                                debugger;

                                //select: function s(event, ui) {
                                //    $(".ui-state-hover").val(ui.item.label);
                                //    cityID = ui.item.id;
                                //    alert(cityID);
                                //}
                                $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "20% !important", "z-index": "999999999999999", "Color": "black" });


                                return item;

                                //select: function s(event, ui) {
                                //    var str = item.split("|");
                                //    $('#cboCustName').val(str[0]);
                                //}
                            }))
                        }
                        else {
                            response([{ label: 'No results found.', val: -1 }]);
                        }
                        },


                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
                  },
                  select: showLabel,
                  focus: showLabel,


            minLength: 1,
            //delay: 1000,
            maxShowItems: 5
            //select: function (e, i) {
            //    $("#hfCustomer").val(i.item.val);
            //},
            //minLength: 1
              });


        }


    });

    function showLabel(event, ui) {
        debugger;
        var str = $('.ui-state-hover').text();
        var strs = str.split("|");
        $('#cboCustName').val(strs[0] + "" + strs[3]);
        event.preventDefault();

    }
    $("ui-autocomplete-input").bind("autocompleteselect", function (event, ui) {
        /* Will occur when any element with an autocomplete widget fires the
         * autocomplete select event.

         */
        alert("hi");
    });
    function Cancle() {
        debugger;
        $('#myModalCustomerInfo').modal("hide");
        hideLoadingImage();
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#obj_ClientCustomer_ClientCustomer").val().length <= 0) {
            $("#ErrorClientCustomerName").show();
            return false;
        }
        else {
            $("#ErrorClientCustomerName").hide();
        }


        return true;
    }


    function myFunctions(el) {
        debugger;

        var body = document.body, range, sel;
        var urlField = document.getElementById(el)
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);

            }
            catch (e) {
                range.selectNode(urlField);
                //range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand('copy')
            //range.execCommand("Copy");
            clearSelection();
        }
        else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            document.execCommand('copy')
            // range.execCommand("Copy");
        }
        
        var tooltip = document.getElementById("myTooltip");
        //tooltip.innerHTML = "Copied: " + copyText.value;
        tooltip.innerHTML = "Text Copied";

    }
    function clearSelection() {
        debugger;
        if (window.getSelection) { window.getSelection().removeAllRanges(); }
        else if (document.selection) { document.selection.empty(); }
    }


    function outFunc() {
        debugger;
        ////alert("hey");
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }


</script>
