﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.OwnerEditVM

@{
    Layout = null;
}
<style>

    .lbl1 {
        text-align: right;
    }

    /*.modal-content {
        width: 900px !important;
    }*/
    #bgstyle {
        display: block;
    }
    .ui-menu-item a {
        color: black;
    }

    .ui-widget-content {
        width: 30% !important;
</style>
<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.22.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<form id="FormDesigneeInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Designee
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;"  onclick="CancleDesignee()">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 rt">
                @Html.RadioButtonFor(m => m.RdbBtn, "N", new { @checked = true })
                <lable>&nbsp;By Name</lable>
                &nbsp; &nbsp; &nbsp;
                @Html.RadioButtonFor(m => m.RdbBtn, "A")
                <lable>&nbsp;By Address</lable>
            </div>
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@
                    @*<input type="text" />*@
                    @Html.TextBoxFor(m => m.cboName, new { @class = "form-control", style = "display:inline;width:457px" })
                </div>

                <div class="col-xs-3">
                    <input type="button" value="Select" id="SelectDesigneeByName" class="btn btn-primary" style="margin-right: -13px;" onclick="SelectDesignee()" />

                </div>
            </div>

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                </div>

                <div class="col-xs-3">
                    <input type="button" value="New" id="NewDesignees" class="btn btn-primary" style="margin-right: -13px;margin-top: 5px;" onclick="NewDesignee()" />

                </div>
            </div>

            @*<div class="col-xs-12  form-group">
            <div class="col-xs-12 NopaddingLR">
                <br />
                <div id="tblDesigneeList" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.DesigneeList.Count <= 0 ? "display:none" : "display:block")">
                    <table id="tblDesigneeListLookUp" class="table table-bordered dataTable table-hover grid " border="1" style="width:946px;">
                        <thead>
                            <tr>
                                <th class="no-sort" style="width: 13px;">View</th>


                                <th style="width: 30px;">Name</th>

                                <th style="width: 82px;">Address</th>
                                <th style="width: 82px;">Id</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.DesigneeList.Count >= 1 && Model != null && Model.DesigneeList != null)
                            {
                                foreach (var i in Model.DesigneeList)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" onclick="ShowDesigneeDetails('@i.Id')" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-eye" aria-hidden="true"></i>
                                            </button>
                                        </td>


                                        <td>
                                            @i.Name
                                        </td>

                                        <td>
                                            @i.Address
                                        </td>
                                        <td>
                                            @i.Id
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@




        </div>

        @*<div class="col-xs-12 NopaddingLR">
                <div class="col-xs-12 form-group" style="text-align: right; margin-bottom: -2%;margin-left: -3%;">
                    <b>
                        <lable style="font-weight: 1000; font-size: medium;">
                            @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                        </lable>
                    </b>
                </div>
            </div>*@

    </div>

    <div class="form-group col-xs-12 lt NopaddingLR">
        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-10">
                <fieldset class="customFieldset" id="fieldset" style="width:685px">
                    <legend>Designee Info</legend>




                    <div class="col-xs-12 form-group lt NopaddingLR">

                        <div class="col-xs-3 lbl1">
                            <lable>Name</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressName, new { @class = "form-control", style = "display:inline;width:320px" })
                            <div id="ErrorDesigneeName" class="Invalid-feedback" style="display:none">
                                Please Enter LegalParty Name
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <input type="button" value="Delete" id="DeleteButton" class="btn btn-primary" style="margin-left: 108px;" onclick="DeleteDesigneeByCheck()" />

                        </div>
                    </div>





                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Address 1</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressLine1, new { @class = "form-control", style = "display:inline;width:320px;" })
                        </div>
                        <div class="col-xs-4 checkbox-sm">
                            @Html.CheckBoxFor(m => m.objADJobLegalParties.IsNonUSAddr, new { style = "margin-left: 62px;" })
                            <lable style="margin-left: 10px;">Non US Addr</lable>

                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Address 2</lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressLine2, new { @class = "form-control", style = "display:inline;width:320px;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>City/St/Zip</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.City, new { @class = "form-control", style = "display:inline; width:146px" })
                            <div id="ErrorDesigneeCity" class="Invalid-feedback" style="display: none; width: 165px;">
                                Invalid City for the Zip Code
                            </div>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.State, new { @class = "form-control", style = "display:inline; width:50px;margin-left:-11px;" })
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.PostalCode, new { @class = "form-control", style = "display:inline; width: 108px; margin-left: -112px;" })
                            <div id="ErrorDesigneeZip" class="Invalid-feedback" style="display:none; margin-left: -110px;">
                                Invalid State for the Zip Code
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.Telephone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:128px;" })
                        </div>

                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:128px;" })
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                    </div>








                </fieldset>


            </div>


        </div>
    </div>



    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.btnDelete)
        @Html.HiddenFor(m => m.IsPrimaryDesignee)





    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">

            <input type="button" value="OK" id="OKModalOwnerEdit" class="btn btn-primary" onclick="SaveDesignee()" />
            <input type="button" value="Cancel" id="CancelModalLenderEdit" class="btn btn-primary" data-dismiss="modal" style="margin-right: -11px;" onclick="CancleDesignee()" />

        </div>
    </div>
</form>
<script type="text/javascript">

    $('#cboName').keyup(function () {
        var ClientId = @Model.ClientId;
        debugger;
        var SearchInitial = $('#cboName').val();
        var RdbBtnVal = $('input[name="RdbBtn"]:checked').val();
        if (SearchInitial.length > 1) {
            $("#cboName").autocomplete({

            source: function (request, response) {
                debugger;

                //alert(request.term);
                $.ajax({
                    url: '@Url.Action("ShowSearchDesigneeList", "WorkCardLiens")',
                    data: "{'prefix': '" + request.term + "','ClientId': '" + ClientId + "','RdbBtnVal': '" + RdbBtnVal + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        debugger
                        if (data.length != 0) {
                            response($.map(data, function (item) {
                                debugger;
                                //select: function s(event, ui) {
                                //    $(".ui-state-hover").val(ui.item.label);
                                //    cityID = ui.item.id;
                                //    alert(cityID);
                                //}
                                $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "20% !important", "z-index": "999999999999999", "Color": "black" });


                                return item;

                                //select: function s(event, ui) {
                                //    var str = item.split("|");
                                //    $('#cboCustName').val(str[0]);
                                //}
                            }))
                        }
                        else {
                            response([{ label: 'No results found.', val: -1 }]);
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
                  },
                  select: showLabel,
                  focus: showLabel,


            minLength: 1,
            //delay: 1000,
            maxShowItems: 5
            //select: function (e, i) {
            //    $("#hfCustomer").val(i.item.val);
            //},
            //minLength: 1
              });


        }


    });

    function showLabel(event, ui) {
        debugger;
        var str = $('.ui-state-hover').text();
        var strs = str.split("|");
        $('#cboName').val(strs[0] + "" + strs[2]);
        event.preventDefault();

    }

    function SelectDesignee() {
        debugger;
        var Name = $('#cboName').val();
        var NameValue = Name.split(")");
        var test = NameValue[0].split("(");
        var DesigneeId = test[1];
        showLoadingImage();
         var JobId = @Model.JobId;
        $.ajax({
            url: '@Url.Action("LoadDesigneeInfo", "WorkCardLiens")',
            data: { DesigneeId: DesigneeId, JobId: JobId, },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalDesigneeInfo .modal-content').html(data);
                $('#DeleteButton').hide();
                $('#NewDesignees').hide();
                $('#cboName').hide();
                $('#SelectDesigneeByName').hide();
                //$('#myModalDesigneeInfo').hide();

                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function ShowDesigneeDetails(DesigneeId) {
        debugger;
        showLoadingImage();
         var JobId = @Model.JobId;
        $.ajax({
            url: '@Url.Action("LoadDesigneeInfo", "WorkCardLiens")',
            data: { DesigneeId: DesigneeId, JobId: JobId },
            type: "POST",
            success: function (response) {
                debugger;

                var $response = $(response);


                $('#myModalDesigneeInfo .modal-content').html(response);
                $('#myModalDesigneeInfo').show();

                CheckMinDate();





                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function NewDesignee() {
      var ClientId = @Model.ClientId
         $.ajax({
            url: '@Url.Action("NewDesignee", "WorkCardLiens")',
             data: { DesigneeId: 0, ClientId:ClientId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalDesigneeInfo .modal-content').html(data);
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                CheckMinDate();
                //$('#list').hide();




                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function SaveDesignee() {
        debugger;
        showLoadingImage();
         var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();

            if (Validate()) {

                $.ajax({
                    url: '@Url.Action("SaveDesigneeInfo", "WorkCardLiens")',
                    data: $('#FormDesigneeInfo').serialize(),
                    type: "POST",
                    success: function (data) {
                        if (data == 0) {
                            $("#ErrorDesigneeZip").show();
                            hideLoadingImage();
                            $('#myModalDesigneeInfo').show();
                        }
                        else if (data == -1) {
                            $("#ErrorDesigneeCity").show();
                            hideLoadingImage();
                            $('#myModalDesigneeInfo').show();
                        }
                        else {
                            ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            $('#myModalDesigneeInfo').hide();
                            DesigneeSuccessPopup();
                            hideLoadingImage();
                        }


                    },
                    fail: function (error) {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                });
            }
       // }
    }

      function DeleteDesigneeByCheck() {

        debugger;
        showLoadingImage();
        //$('#myModalJobEdit').modal('hide');
        //$('body').removeClass('modal-open');
        //$('.modal-backdrop').remove();
          var JobId = @Model.JobId;
          var IsPrimary = @Model.IsPrimaryDesignee.ToString().ToLower();

            $.ajax({
                url: '@Url.Action("CheckToDeleteInfo", "WorkCardLiens")',
                data: { JobId: JobId, IsPrimary: IsPrimary, TypeCode:"DE"},
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == true) {
                        if (confirm("Notices Pending – Are you sure you want to delete the Legal Party ?")) {
                            DeleteDesignee();
                        }
                        else {
                            return false;
                        }

                    }
                    else {
                        DeleteDesignee();
                    }
                    //$('#myModalGCInfo').html(data);
                    //$('#myModalGCInfo').hide();
                    //$('.modal-backdrop').remove();

                    //GCDeleteSuccessPopup();
                    //ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                    hideLoadingImage();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });


    }


    function DeleteDesignee(){
        debugger;
        showLoadingImage();
         var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
            $.ajax({
                url: '@Url.Action("DeleteDesigneeInfo", "WorkCardLiens")',
                data: $('#FormDesigneeInfo').serialize(),
                type: "POST",
                success: function (data) {

                    $("#myModalDesigneeInfo").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data == 1) {
                        ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                        $('#myModalDesigneeInfo').hide();
                        hideLoadingImage();
                        DesigneeDeleteSuccessPopup();

                    }
                    else if (data == 0) {
                        debugger;
                        alert("Error.");
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

    }

    function DesigneeSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Designee Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
    function DesigneeDeleteSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Designee Info Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
    //validation for null record
    function Validate() {
        debugger;

        if ($("#objADJobLegalParties_AddressName").val().length <= 0) {
            $("#ErrorDesigneeName").show();
            return false;
        }
        else {
            $("#ErrorDesigneeName").hide();
        }


        return true;
    }


    function CancleDesignee() {
        debugger;
        debugger;
        $('#myModalDesigneeInfo').modal("hide");
        hideLoadingImage();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }

</script>
