﻿
@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.RentalInfoVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormEditMoreInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            <label>
                Edit Misc Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group">


            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>Special Instruction</lable>
                </div>
                <div class="col-xs-8 NopaddingLR">
                    @Html.TextAreaFor(m => m.obj_JobEdit.SpecialInstruction, new { rows = "3", cols = "100" })
                </div>
                <div class="col-xs-2 NopaddingLR">&nbsp;</div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>Legal Desc</lable> <br />
                    <!--<input type="checkbox" />-->
                    @*@Html.CheckBoxFor(m => m.ChkTest, new { style = "display:inline;", @disabled = "disabled" })*@
                    <!--<lable>Is Billable</lable>-->
                </div>
                <div class="col-xs-8 NopaddingLR">
                    @Html.TextAreaFor(m => m.obj_JobEdit.Note, new { rows = "3", cols = "100" })
                </div>
                <div class="col-xs-2 NopaddingLR">&nbsp;</div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>AZ Lot Allocate</lable>
                </div>
                <div class="col-xs-6 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.AZLotAllocate, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 NopaddingLR">&nbsp;</div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>Equip Rate</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.EquipRate, new { @class = "form-control"})
                </div>
                <div class="col-xs-1 NopaddingLR">&nbsp;</div>
                <div id="a1" class="col-xs-2" style="margin-left: -24px;">
                    <lable>NOC Date</lable>
                </div>
                <div class="col-xs-1 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.NOCDate, new {@class = "form-control", @style ="width:85px;" })
                </div>
                <div class="col-xs-2 NopaddingLR">&nbsp;</div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>Equip Rental</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.EquipRental, new { @class = "form-control"})
                </div>
                <div class="col-xs-1 NopaddingLR">&nbsp;</div>
                <div id="a1" class="col-xs-2" style="margin-left: -24px;">
                    <lable>NOC Doc Num</lable>
                </div>
                <div class="col-xs-1 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.NOCDocNum, new { @class = "form-control", @style = "width: 85px;" })
                </div>
                <div class="col-xs-2 NopaddingLR">&nbsp;</div>
            </div>

            @*<div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>Equip Use Code</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit., new { @class = "form-control", @readonly = true })
                </div>
                <div class="col-xs-1 NopaddingLR">

                </div>
                <div id="a1" class="col-xs-2">
                    <lable>NOC Receipt Date</lable>
                </div>
                <div class="col-xs-1 NopaddingLR">
                    @Html.TextBoxFor(m => m.Test, new { @class = "form-control", @readonly = true })
                </div>
                <div class="col-xs-2 NopaddingLR">&nbsp;</div>
            </div>*@


            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>RA Number</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.RANum, new { @class = "form-control"})
                </div>
                <div class="col-xs-1 NopaddingLR">

                </div>
                <div id="a1" class="col-xs-2" style="margin-left: -24px;">
                    <lable>NOC Receipt Date</lable>
                </div>
                <div class="col-xs-1 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.NOCRecDate, new { @class = "form-control", @style = "width: 85px;" })
                </div>
                <div class="col-xs-2 NopaddingLR">&nbsp;</div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>Building Permit #</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.BuildingPermitNum, new { @class = "form-control" })
                </div>
                <div class="col-xs-1 NopaddingLR">&nbsp;</div>
                <div id="a1" class="col-xs-3" style="margin-left: -102px;">
                    <lable>Job Completion Date</lable>
                </div>
                <div class="col-xs-1 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.JobCompletionDate, new { @class = "form-control", @style= "width: 85px;" })
                </div>
                <div class="col-xs-2 NopaddingLR">&nbsp;</div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>Material Description</lable> <br />
                </div>
                <div class="col-xs-8 NopaddingLR">
                    @Html.TextAreaFor(m => m.obj_JobEdit.MaterialDescription, new { rows = "3", cols = "100" })
                </div>
                <div class="col-xs-2 NopaddingLR">

                </div>
            </div>

            <div class="col-xs-12 form-group NopaddingLR">
                <div id="a1" class="col-xs-2">
                    <lable>Material Price</lable>
                </div>
                <div class="col-xs-2 NopaddingLR">
                    @Html.TextBoxFor(m => m.obj_JobEdit.MaterialPrice, new { @class = "form-control"})
                </div>
            </div>


        </div>

    </div>


    <div id="hiddenFields">
            @Html.HiddenFor(m => m.obj_JobEdit.Id)
        </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditMoreInfo" onclick = "SaveJobMiscInfo()" class="btn btn-primary" />
            <input type="button" value="Cancel" id="CancelModalEditMoreInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>


</form>

<script type="text/javascript">



    function SaveJobMiscInfo(JobID) {
        debugger;
        showLoadingImage();
        var data = $('#FormEditMoreInfo').serialize();
       // $('#myModalEditRentalInfo').modal('hide');
       // $('body').removeClass('modal-open');
       // $('.modal-backdrop').remove();
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
            $.ajax({
                url: '@Url.Action("UpdateJobMiscInfo", "WorkCardLiens")',
                data: $('#FormEditMoreInfo').serialize(),
                type: "POST",
                success: function (data) {
                    //$('#EditJob').html(data);
                    $('#myModalEditMiscInfo').modal("hide");
                    JobMiscInfoUpdateSuccessPopup();
                    ShowDetails(@Model.obj_JobEdit.Id, j, ListName, "MiscInfo", "TabMiscInfo");
                    hideLoadingImage();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }


    function JobMiscInfoUpdateSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Misc Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }




</script>
