﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.EditJobVM
@{
    Layout = null;
}

<style type="text/css">

    .lbl1 {
        text-align:right;
    }
    .lbl2 {
        text-align:left;
    }


   @@media (min-width: 768px) {
        .form-inline .form-control {
            width: 100% !important;
        }
   }


</style>    

<form id="FormEditJobInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Edit Job Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

         <div class="form-group col-xs-12 lt NopaddingLR">
             <div class="col-xs-12 NopaddingLR">
                 <div class="col-xs-8 NopaddingLR">
                     @*<fieldset class="customFieldset">*@
                     @*<legend></legend>*@

                     <div class="col-xs-12 form-group lt NopaddingLR">
                         <div class="col-xs-4 lbl1">
                             <lable>Job #</lable>
                         </div>
                         <div class="col-xs-5">
                             @Html.TextBoxFor(m => m.obj_JobEdit.JobNum, new { @class = "form-control", style = "display:inline;", @readonly = true })
                         </div>
                         <div class="col-xs-3">
                             &nbsp;
                         </div>
                     </div>

                     <div class="col-xs-12 form-group lt NopaddingLR" style="">
                         <div class="col-xs-4 lbl1">
                             <lable>PO #</lable>
                         </div>
                         <div class="col-xs-4">
                             @Html.TextBoxFor(m => m.obj_JobEdit.PONum, new { @class = "form-control", style = "display:inline;" })
                         </div>

                             <div class="col-xs-1 lbl1">
                                 <lable>$</lable>
                             </div>
                             <div class="col-xs-3">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.EstBalance, new { Value = String.Format("{0:C}", Model.obj_JobEdit.EstBalance), @class = "form-control", style = "display:inline;" })
                                 @*@Html.TextBoxFor(m => m.obj_JobEdit.EstBalance, new { @class = "form-control", style = "display:inline;" })*@
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>Job Name</lable>
                             </div>
                             <div class="col-xs-8">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.JobName, new { @class = "form-control", style = "display:inline;" })
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>Addr1</lable>
                             </div>
                             <div class="col-xs-8">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.JobAdd1, new { @class = "form-control", style = "display:inline;" })
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>Addr2</lable>
                             </div>
                             <div class="col-xs-8">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.JobAdd2, new { @class = "form-control", style = "display:inline;" })
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>C/S/Zip</lable>
                             </div>
                             <div class="col-xs-3">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.JobCity, new { @class = "form-control", style = "display:inline;" })
                             </div>
                             <div class="col-xs-2">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.JobState, new { @class = "form-control", style = "display:inline; margin-left: -13px;" })
                             </div>
                             <div class="col-xs-3">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.JobZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline; width: 102px; margin-left: -34px;" })
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>Job County</lable>
                             </div>
                             <div class="col-xs-7">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.JobCounty, new { @class = "form-control", style = "display:inline;" })
                             </div>
                             <div class="col-xs-1">
                                 &nbsp;
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>APN #</lable>
                             </div>
                             <div class="col-xs-7">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.APNNum, new { @class = "form-control", style = "display:inline;" })
                             </div>
                             <div class="col-xs-1">
                                 &nbsp;
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>Recorder #</lable>
                             </div>
                             <div class="col-xs-7">
                                 @Html.DropDownListFor(m => m.obj_JobEdit.CountyRecorderNum, Model.CountyRecorderList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })
                             </div>
                             <div class="col-xs-1">
                                 &nbsp;
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>Folio #</lable>
                             </div>
                             <div class="col-xs-7">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.FolioNum, new { @class = "form-control", style = "display:inline;" })
                             </div>
                             <div class="col-xs-1">
                                 &nbsp;
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 lbl1">
                                 <lable>Cust Job #</lable>
                             </div>
                             <div class="col-xs-7">
                                 @Html.TextBoxFor(m => m.obj_JobEdit.CustJobNum, new { @class = "form-control", style = "display:inline;" })
                             </div>
                             <div class="col-xs-1">
                                 &nbsp;
                             </div>
                         </div>

                     @*</fieldset>*@
                 </div>


                 <div class="col-xs-4 NopaddingLR">

                     @*<div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">&nbsp;</div>*@
                     <fieldset class="customFieldset" style="width: 231PX;">
                         <legend>Property Type</legend>
                         <div class="col-xs-12  form-group lt NopaddingLR">
                             <div class="col-xs-4  checkbox-sm" style="margin-left: 14px;">

                                 @*@Html.RadioButtonFor(m => m.RbtPropertyType, "Public")*@
                                 @Html.CheckBoxFor(m => m.obj_JobEdit.PublicJob, new { style = "display:inline;" })


                             </div>
                             <div class="col-xs-5 lbl2">
                                 <lable>Public</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4 checkbox-sm" style="margin-left: 14px;">

                                 @*@Html.RadioButtonFor(m => m.RbtPropertyType, "Private")*@
                                 @Html.CheckBoxFor(m => m.obj_JobEdit.PrivateJob, new { style = "display:inline;" })

                             </div>
                             <div class="col-xs-5 lbl2">
                                 <lable>Private</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4  checkbox-sm" style="margin-left: 14px;">
                                 @*@Html.RadioButtonFor(m => m.RbtPropertyType, "Residential")*@
                                 @Html.CheckBoxFor(m => m.obj_JobEdit.ResidentialBox, new { style = "display:inline;" })

                             </div>
                             <div class="col-xs-5 lbl2">
                                 <lable>Residential</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-4  checkbox-sm" style="margin-left: 14px;">
                                 @*@Html.RadioButtonFor(m => m.obj_JobEdit.FederalJob, "Federal")*@
                                 @Html.CheckBoxFor(m => m.obj_JobEdit.FederalJob, "Federal")
                             </div>
                             <div class="col-xs-5 lbl2">
                                 <lable>Federal</lable>
                             </div>
                         </div>



                     </fieldset>
                     <fieldset class="customFieldset" style="width:231PX;margin-top:15px">
                         <legend>Job Type</legend>
                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-3">

                                 @Html.RadioButtonFor(m => m.Editrbt, "PrelimBox", ViewBag.PrelimBox == false  ? new { @disabled = true } : null)

                             </div>
                             <div class="col-xs-9 lbl2">
                                 <lable>Prelim NTO</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-3">

                                 @Html.RadioButtonFor(m => m.Editrbt, "VerifyJob", ViewBag.VerifyJob == false ? new { @disabled = true } : null )
                             </div>
                             <div class="col-xs-9 lbl2">
                                 <lable>Verify Job</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-3">
                                 @Html.RadioButtonFor(m => m.Editrbt, "TitleVerifiedBox", ViewBag.TitleVerifiedBox == false ? new { @disabled = true } : null)
                             </div>
                             <div class="col-xs-9 lbl2">
                                 <lable>Verify As Is</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-3">
                                 @Html.RadioButtonFor(m => m.Editrbt, "SendAsIsBox", ViewBag.SendAsIsBox == false ? new { @disabled = true } : null)
                             </div>
                             <div class="col-xs-9 lbl2">
                                 <lable>Send As Is</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-3">
                                 @Html.RadioButtonFor(m => m.Editrbt, "VerifyOWOnly", ViewBag.VerifyOWOnly == false ? new { @disabled = true } : null)
                             </div>
                             <div class="col-xs-9 lbl2">
                                 <lable>Verify OW Only</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-3">
                                 @Html.RadioButtonFor(m => m.Editrbt, "VerifyOWOnlySend", ViewBag.VerifyOWOnlySend == false ? new { @disabled = true } : null)
                             </div>
                             <div class="col-xs-9 lbl2">
                                 <lable>Verify OW Only Send</lable>
                             </div>
                         </div>

                         <div class="col-xs-12 form-group lt NopaddingLR">
                             <div class="col-xs-3">
                                 @Html.RadioButtonFor(m => m.Editrbt, "VerifyOWOnlyTX", ViewBag.VerifyOWOnlyTX == false ? new { @disabled = true } : null)
                             </div>
                             <div class="col-xs-9 lbl2">
                                 <lable>Verify OW Only TX</lable>
                             </div>
                         </div>



                     </fieldset>
                 </div>

                 </div>
             </div>
        </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_JobEdit.Id)
    </div>




    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditJob" class="btn btn-primary" onclick="SaveJob(@Model.obj_JobEdit.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditJob" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>




<script type="text/javascript">




    function SaveJob(JobID) {
        debugger;
        showLoadingImage();
        $('#myModalJobEdit').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
            $.ajax({
                url: '@Url.Action("SaveJobDetails", "WorkCardLiens")',
                data: $('#FormEditJobInfo').serialize(),
                type: "POST",
                success: function (data) {
                    //Refresh();
                    debugger;
                    var j = $(".newtr").attr('id');
                    $(".newtr").empty();

                    $('<tr id=' + j + ' class="newtr"><td  colspan="12" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));

                   // $('#EditJob').html(data);
                    debugger;
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    hideLoadingImage();
                    JobEditUpdateSuccessPopup();


                   ShowDetails(JobID,j,ListName, "JobInfo", "TabJobInfo");
                    //Refresh();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }

    
    function JobEditUpdateSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Job Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    $("[name='RbtPropertyType']").click(function () {
        debugger;
        var RadioButtonValue = $(this).val();
        if (RadioButtonValue == 'Public') {
            RbtPropertyType == 'Public'
        }
        if (RadioButtonValue == 'Private') {
            RbtPropertyType == 'Private'
        }
        if (RadioButtonValue == 'Residential') {
            RbtPropertyType == 'Residential'
        }
        if (RadioButtonValue == 'Federal') {
            RbtPropertyType == 'Federal'
        }
     

    });
</script>