﻿
@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.EditOtherNoticesVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }

    .wdthchange {
        width: 100% !important;
    }
</style>

<form id="FormEditOtherNotices">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            <label>
               Edit Other Notices
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-12 form-group NopaddingLR">

                <div class="col-xs-8 form-group NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Lien</legend>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-2">
                                <lable>Assign Date</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.LienAssignDate, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                            <div id="a1" class="col-xs-3">
                                <lable>Lien Amount</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.LienAmt, new { @class = "form-control wdthchange" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-2">
                                <lable>Ext Assign</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.LienExtDate, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                            <div id="a1" class="col-xs-3">
                                <lable>Lien DocNo</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.RecorderNum, new { @class = "form-control wdthchange" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-2">
                                <lable>End Date</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                            <div id="a1" class="col-xs-3 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objJob.RushOrderML, new { style = "display:inline;" })
                                &nbsp;<lable>Rush Order ML</lable> <br />
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-2">
                                <lable>File Date</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.FileDate, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>

                        </div>


                    </fieldset>
                </div>

                <div class="col-xs-4 form-group NopaddingLR" style="margin-right: -20px;">
                    <fieldset class="customFieldset">
                        <legend>Bond Claim</legend>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>Assign Date</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.BondAssignDate, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>BondNo</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.BondNum, new { @class = "form-control wdthchange" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>DDD</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.BondDDD, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">&nbsp;</div>

                    </fieldset>
                </div>

            </div>
            <div class="col-xs-12 form-group NopaddingLR">&nbsp;</div>
            <div class="col-xs-12 form-group NopaddingLR">

                <div class="col-xs-8 form-group NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Lien Release</legend>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-2">
                                <lable>Assign Date</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.LienReleaseAssign, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                            <div id="a1" class="col-xs-2">
                                <lable>PageNo</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.PageNum, new { @class = "form-control wdthchange" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-2">
                                <lable>FileDate</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.ReleaseFileDate, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                            <div id="a1" class="col-xs-2">
                                <lable>BookNo</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.BookNum, new { @class = "form-control wdthchange" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-2">
                                <lable>DocNo</lable> <br />
                            </div>
                            <div class="col-xs-3 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.ReleaseDocNum, new { @class = "form-control wdthchange" })
                            </div>
                            <div id="a1" class="col-xs-3">
                                @Html.CheckBoxFor(m => m.objJob.ReleaseRush, new { style = "display:inline;", @disabled = "disabled" })
                                &nbsp;<lable>Release Rush</lable> <br />
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-xs-4 form-group NopaddingLR" style="margin-right: -20px;">
                    <fieldset class="customFieldset">
                        <legend>Stop Notice</legend>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>Assign Date</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.SNAssignDate, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>DDD</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.SNDDD, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">&nbsp;</div>

                    </fieldset>
                </div>

            </div>
            <div class="col-xs-12 form-group NopaddingLR">&nbsp;</div>
            <div class="col-xs-12 form-group NopaddingLR">

                <div class="col-xs-8 form-group NopaddingLR"></div>

                <div class="col-xs-4 form-group NopaddingLR" style="margin-right: -20px;">
                    <fieldset class="customFieldset">
                        <legend>NOI</legend>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>Assign Date</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objJob.NOIAssignDate, "{0:MM/dd/yyyy}", new { @class = "form-control wdthchange" })
                            </div>
                        </div>

                        <div class="col-xs-12 form-group NopaddingLR">&nbsp;</div>


                    </fieldset>
                </div>

            </div>
        </div>
    </div>

        <div class="modal-footer">
            <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                <input type="button" value="OK" id="OKModalEditMoreInfo" onclick = "SaveMoreInfo()" class="btn btn-primary" />
                <input type="button" value="Cancel" id="CancelModalEditMoreInfo" class="btn btn-primary" data-dismiss="modal" />
            </div>
        </div>

        <div id="hiddenFields">
            @Html.HiddenFor(m => m.objJob.Id)
        </div>
</form>

<script type="text/javascript">

    function SaveMoreInfo() {
        debugger;
        var JobId = @Model.objJob.Id;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
            $.ajax({
            url: '@Url.Action("SaveOtherNotices", "WorkCardLiens")',
            data: $('#FormEditOtherNotices').serialize(),
            type: "POST",
                success: function (data) {
                    $('#myModalEditOtherNotices').modal("hide");
                   
                    if (data == 1) {
                        ShowDetails(JobId, j, ListName, "OtherNotices", "TabOtherNotices");
                        OtherNoticesSuccessPopup();
                      
                        hideLoadingImage();
                    }
                    else if (data == 0) {
                        alert("User Session Expired. Log In Again.");
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            
        });
    }
    function OtherNoticesSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Notice Info Has Been Updated.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>

