﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.NoteVM
@{
    Layout = null;
}

<style>
    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
</style>
<form id="EditFormJobNote">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Job Note
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        @*<div class="col-xs-12 form-group">
            Note Type
            &nbsp; &nbsp;
            @if (Model.obj_note.NoteTypeId == 1)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "1", new { @checked = true })<lable>Misc</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "1")<lable>Misc</lable>
            }
            &nbsp; &nbsp;

            @if (Model.obj_note.NoteTypeId == 2)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "2", new { @checked = true })<lable>Internal</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "2")<lable>Internal</lable>
            }
            &nbsp;&nbsp;

            @if (Model.obj_note.NoteTypeId == 3)
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "3", new { @checked = true })<lable>Review</lable>
            }
            else
            {
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "3")<lable>Review</lable>
            }


        </div>*@

        <div class="col-xs-12 form-group">
            <div class="col-xs-2 form-group">
                Note Type
            </div>
            &nbsp; &nbsp;
            <div class="col-xs-2 form-group">
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "1", new { @checked = true })
                &nbsp;
                <lable>Misc</lable>

            </div>



            <div class="col-xs-2 form-group">
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "2")
                &nbsp;
                <lable>Internal</lable>
            </div>


            <div class="col-xs-3 form-group">
                @Html.RadioButtonFor(m => m.obj_note.NoteTypeId, "3")
                &nbsp;
                <lable>Review</lable>
            </div>

        </div>

        <div class="col-xs-12 form-group">
            @Html.TextAreaFor(m => m.obj_note.Note, new { @id = "copy1", rows = "10", cols = "80" })
          
        </div>
    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_note.JobId)
        @Html.HiddenFor(m => m.obj_note.Id)
        @Html.Hidden("JobId", (object)ViewBag.JobId)
    </div>

    <div class="modal-footer" style="margin-top: -36px;">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btClearNote" value="Clear" class="btn btn-primary pull-left" onclick="ClearModalNote(@Model.Obj_Note.Id);" />*@
            @*<input type="button" id="btDeleteNote" value="Delete" class="btn btn-primary pull-left" onclick="DeleteNote(@Model.obj_note.Id);" />*@
            @*<input type="button" class="btn btn-primary" id="btnCopyNote" value="Copy" onclick="myFunction('copy1')" style="width:65px;margin-left: 49px;">
            <span class="tooltiptext" id="myTooltip"></span>*@

            <button type="button" class="btn btn-primary" id="btnCopyNote"  onclick="myFunction('copy1')" style="margin-left: 49px;">
                <span class="tooltiptext" id="myTooltip">Copy</span>
            </button>
            <input type="button" id="btnsaveNote" value="OK" class="btn btn-primary" onclick="SaveNote(@Model.obj_note.JobId)" @(ViewBag.btnOK == "HideOK" ? "disabled :'disabled'" : "")  />
            <input type="button" value="Cancel" id="CancelModalNote" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>


<script>

    function SaveNote(JobId)
    {
        debugger;
        showLoadingImage();
        var data = $('#EditFormJobNote').serialize();
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
        $.ajax({
            url: '@Url.Action("SaveNote", "WorkCardLiens")',
            data: data,
            type: "POST",
          //  dataType: 'json',
            success: function (data) {

                debugger;
                ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                //ShowDetails(JobId,"Notes","TabNotes");
                $("#myModalEditNote").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if(data == 1)
                {
                   NoteUpdatedSuccessPopup();
                    //$('#successMsg').show();
                    hideLoadingImage();
                   
                }
                else if (data == 0)
                {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditNote").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function NoteUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Note Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function DeleteNote(Id) {
        var JobId = @Model.obj_note.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
       debugger;
        if (confirm("Are You Sure?")) {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteNote", "WorkCardLiens")',
                data: { JobId: Id },
                type: "POST",
                success: function (data) {
                    debugger;
                    //ShowDetails(JobId, "Notes", "TabNotes");
                    $("#myModalEditNote").modal("hide");
                    debugger;
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data) {
                        NoteDeletePopup();
                        //$('#deleteMsg').show();
                        hideLoadingImage();
                        ShowDetails(JobId, j, ListName, "Notes", "TabNotes");
                    }
                    else {
                        $('#errorMsg').show();
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModalEditNote").modal("hide");
                    hideLoadingImage();
                }
            });
        }
    }

    function NoteDeletePopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Note Details Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function myFunction(el) {
        debugger;

        var body = document.body, range, sel;
        var urlField = document.getElementById(el)
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);

            }
            catch (e) {
                range.selectNode(urlField);
                //range.selectNode(el);
                sel.addRange(range);
            }
            document.execCommand('copy')
            //range.execCommand("Copy");
            clearSelection();
        }
        else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
            document.execCommand('copy')
            // range.execCommand("Copy");
        }

        var tooltip = document.getElementById("myTooltip");
        //tooltip.innerHTML = "Copied: " + copyText.value;
        tooltip.innerHTML = "Text Copied";

    }
</script>

