﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.EditJobVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormEditMoreInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            <label>
                Edit More Info
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">
        <div class="col-xs-12 form-group">
            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-3 rt">
                    <lable>Rev Date</lable>
                </div>
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.obj_JobEdit.RevDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @style = "width: 75%;" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>

            <div class="col-xs-12 form-group lt NopaddingLR">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-3 rt">
                    <lable>Desk #</lable>
                </div>
                <div class="col-xs-5">
                    @*@Html.TextBoxFor(m => m.obj_DebtAccountMoreInfoEdit.Location, new { @class = "form-control", style = "display:inline; width: 60%;" })*@
                    @Html.DropDownListFor(m => m.obj_JobEdit.DeskNumId, Model.JobDeskList.OrderBy(m => m.Text), new { @class = "form-control", style = "width:250px;" })
                </div>
                <div class="col-xs-2">
                </div>
            </div>



        </div>


    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_JobEdit.Id)
    </div>


    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditMoreInfo" onclick="SaveMoreInfo(@Model.obj_JobEdit.Id)" class="btn btn-primary" />
            <input type="button" value="Cancel" id="CancelModalEditMoreInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>


</form>

<script type="text/javascript">
    function SaveMoreInfo(JobID) {
        debugger;
        showLoadingImage();
       $('#myModalJobMoreInfoEdit').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
            $.ajax({
                url: '@Url.Action("SaveJobDetails", "WorkCardLiens")',
                data: $('#FormEditMoreInfo').serialize(),
                type: "POST",
                success: function (data) {
                    $('#EditJob').html(data);
                    JobEditUpdateSuccessPopup();
                    ShowDetails(JobID,j,ListName, "JobInfo", "TabJobInfo");
                    hideLoadingImage();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }


    function JobEditUpdateSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Job Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>

