﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.EditJobVM
@{
    Layout = null;
}

<style type="text/css">

    .lbl1{
        text-align:right;
    }

</style>


<form id="FormEditJobInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Edit Checkboxes
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-6 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Check Boxes</legend>

                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 lbl1">
                                <lable>Prelim Rush</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.RushOrder, new { style = "display:inline;" })
                            </div>
                            <div class="col-xs-4 lbl1">
                                <lable>Green Card</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.GreenCard, new { style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 lbl1">
                                <lable>Private</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                
                                @Html.CheckBoxFor(m => m.obj_JobEdit.PrivateJob, new { style = "display:inline;" })
                            </div>
                            <div class="col-xs-4 lbl1">
                                <lable>TX 60</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.TXSubSub60, new { style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 lbl1">
                                <lable>Public</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.PublicJob, new { style = "display:inline;" })
                            </div>
                            <div class="col-xs-4 lbl1">
                                <lable>TX 90</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.TXSub90, new { style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 lbl1">
                                <lable>Residential</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.ResidentialBox, new { style = "display:inline;" })
                            </div>
                            <div class="col-xs-4 lbl1">
                                <lable>Lien Alert</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.JobAlertBox, new { style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 lbl1">
                                <lable>Federal</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.FederalJob, new { style = "display:inline;" })
                            </div>
                            <div class="col-xs-4 lbl1">
                                <lable>Reviewed</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.ManagerReviewed, new { style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 lbl1">
                                <lable>NC Info</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.NCInfo, new { style = "display:inline;" })
                            </div>
                            <div class="col-xs-4 lbl1">
                                <lable>NOCBox</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.NOCompBox, new { style = "display:inline;" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 lbl1">
                                <lable>Verify Rush</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.RushOrderVerify, new { style = "display:inline;" })
                            </div>
                        </div>


                    </fieldset>
                </div>


                <div class="col-xs-6 NopaddingLR">
                   <fieldset class="customFieldset">
                      <legend>O/Source</legend>

                        <div class="col-xs-12 form-group lt NopaddingLR">
                            <div class="col-xs-4 lbl1">
                                <lable>Cust Rec</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.OwnerSourceCust, new { style = "display:inline;" })
                            </div>
                            <div class="col-xs-4 lbl1">
                                <lable>GC Rec</lable>
                            </div>
                            <div class="col-xs-2 checkbox-sm">
                                @Html.CheckBoxFor(m => m.obj_JobEdit.OwnerSourceGC, new { style = "display:inline;" })
                            </div>
                        </div>
                       <div class="col-xs-12 form-group lt NopaddingLR">
                           <div class="col-xs-4 lbl1">
                               <lable>Cust Fax Rec</lable>
                           </div>
                           <div class="col-xs-2 checkbox-sm">
                               @Html.CheckBoxFor(m => m.obj_JobEdit.OwnerSourceCustFax, new { style = "display:inline;" })
                           </div>
                           <div class="col-xs-4 lbl1">
                               <lable>GC Fax Rec</lable>
                           </div>
                           <div class="col-xs-2 checkbox-sm">
                               @Html.CheckBoxFor(m => m.obj_JobEdit.OwnerSourceGCFax, new { style = "display:inline;" })
                           </div>
                       </div>
                       <div class="col-xs-12 form-group lt NopaddingLR">
                           <div class="col-xs-4 lbl1">
                               <lable>Online Rec</lable>
                           </div>
                           <div class="col-xs-2 checkbox-sm">
                               @Html.CheckBoxFor(m => m.obj_JobEdit.OwnerSourceAccurint, new { style = "display:inline;" })
                           </div>
                           <div class="col-xs-4 lbl1">
                               <lable>Client Rec</lable>
                           </div>
                           <div class="col-xs-2 checkbox-sm">
                               @Html.CheckBoxFor(m => m.obj_JobEdit.OwnerSourceClient, new { style = "display:inline;" })
                           </div>
                       </div>
                       <div class="col-xs-12 form-group lt NopaddingLR">
                           <div class="col-xs-4 lbl1">
                               <lable>Accessor </lable>
                           </div>
                           <div class="col-xs-2 checkbox-sm">
                               @Html.CheckBoxFor(m => m.obj_JobEdit.OwnerSourceAccessor, new { style = "display:inline;" })
                           </div>
                       </div>

                  </fieldset>
                </div>
            
            </div>
         </div>
    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.obj_JobEdit.Id)
    </div>


    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="OKModalEditJob" class="btn btn-primary" onclick="SaveEditCheckboxes(@Model.obj_JobEdit.Id)" />
            <input type="button" value="Cancel" id="CancelModalEditJob" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>

</form>



<script type="text/javascript">

    
    function SaveEditCheckboxes(JobID) {
        debugger;
        showLoadingImage();
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
        $('#myModalJobCheckboxes').modal('hide');
        $.ajax({
            url: '@Url.Action("SaveEditCheckBoxes", "WorkCardLiens")',
            data: $('#FormEditJobInfo').serialize(),
            type: "POST",
            success: function (data) {
                $('#EditJob').html(data);
                EditCheckBoxesUpdateSuccessPopup();
                ShowDetails(JobID, j, ListName, "MiscInfo", "TabMiscInfo");
                hideLoadingImage();
                //EditMoreInfoCheckMinDate();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function EditCheckBoxesUpdateSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your EditCheckBoxes Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    

    //$(document).on('change', '.checkbox', function () {
    //    if (PrivateJob.checked) {
    //        $('#FederalJob').val(false);
    //        $('#PublicJob').val(false);
    //        // checkbox is checked
    //    }
    //});


    $('#obj_JobEdit_PrivateJob').click(function () {
        debugger;
        var checked_status = this.checked;
        if (checked_status == true) {
            $("#obj_JobEdit_FederalJob").prop("checked", false);
            $("#obj_JobEdit_PublicJob").prop("checked", false);
        }
      
    });

    $('#obj_JobEdit_PublicJob').click(function () {
        debugger;
        var checked_status = this.checked;
        if (checked_status == true) {
            $("#obj_JobEdit_PrivateJob").prop("checked", false);
            $("#obj_JobEdit_ResidentialBox").prop("checked", false);
            $("#obj_JobEdit_FederalJob").prop("checked", false);
        }

    });

    $('#obj_JobEdit_FederalJob').click(function () {
        debugger;
        var checked_status = this.checked;
        if (checked_status == true) {
            $("#obj_JobEdit_PrivateJob").prop("checked", false);
            $("#obj_JobEdit_PublicJob").prop("checked", false);
            $("#obj_JobEdit_ResidentialBox").prop("checked", false);
        }

    });

    $('#obj_JobEdit_ResidentialBox').click(function () {
        debugger;
        var checked_status = this.checked;
        if (checked_status == true) {
            $("#obj_JobEdit_PrivateJob").prop("checked", true);
            $("#obj_JobEdit_PublicJob").prop("checked", false);
            $("#obj_JobEdit_FederalJob").prop("checked", false);
        }

    });




    

    
   



</script>