﻿
@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.ClientVM
<style type="text/css">

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }


    #a1 {
        text-align: right;
    }

    #a2 {
        text-align: left;
    }

    #bgcolor {
        background-color: yellow;
    }

    #bgcolor1 {
        background-color: OrangeRed;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

    atitle:hover::after {
        content: attr(title);
        position: absolute;
        top: -100%;
        color: greenyellow;
    }

    .wt {
        width: 395px;
    }

    label {
        padding-left: 20%;
    }

    #alin {
        width: 87px;
        margin-top: 10%
    }
    /*.btnhight {
        line-height: initial;
    }*/
    input[type=button] {
        line-height: initial;
    }
    /* @@media (min-width: 768px) {
        .form-inline .form-control {

            width: unset !important;
        }
    }*/
    .wdthchange {
        width: 100% !important;
    }

    #bgstyle {
        display: block;
    }
</style>




<div>
    <input type="hidden" name="JobNo" value="" />

</div>

<form id="FormEmail">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Send Email
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body">
        <div class="nav-tabs-horizontal" data-plugin="tabs" style="margin:30px;margin-left:50px;">
            <ul class="nav nav-tabs" role="tablist">
                <li id="EmailMessage" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMessage" aria-controls="TabMessage" role="tab" aria-selected="false">Message</a></li>
                <li id="Attachments" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAttachments" aria-controls="TabAttachments" role="tab" aria-selected="false">Attachments</a></li>

            </ul>


        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="TabMessage" role="tabpanel">
                <div id="TabMessage" class="tab-pane">
                    <br />

                    <div class="row" style="margin-top: -35px;">
                        <div class="col-md-3">
                            <label>To :</label>
                        </div>
                        <div class="col-md-9">
                            @Html.TextAreaFor(m => m.To, new { rows = "3", cols = "92" })

                        </div>
                    </div>
                    <div class="row" style="margin-top: -35px;">
                        <div class="col-md-3">
                            <label>Subject :</label>
                        </div>
                        
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.Subject, new { rows = "2", cols = "92" })
                            </div>
                       
                    </div>

                    <div class="row" style="margin-top: -35px;">
                        <div class="col-md-3">
                            <label>Message :</label>
                        </div>
                        <div class="col-md-9">
                            @Html.TextAreaFor(m => m.Message, new { rows = "10", cols = "92",@style="Line-height:1.5" })
                        </div>
                    </div>


                </div>
            </div>

            <div class="tab-pane" id="TabAttachments" role="tabpanel">
                <div id="TabAttachments" class="tab-pane">
                    <br />




                    <div style="margin-left:5%;">

                        <fieldset class="customFieldset" style="width:837px; margin-top:-35px;height:250px;">
                            <legend>Documents</legend>
                            <div style="overflow:auto;height:220px;">
                                @*<textarea style="margin-left:5%;" rows="3" cols="100">*@
                                <table class="table table-bordered dataTable table-hover grid table-responsive no-footer " id="DocumentsTable" style="width:94%;margin-left:3%;">
                                    <thead>
                                        <tr>
                                            <th>Add Attach Doc</th>
                                            <th>Date Created</th>
                                            <th>UserCode</th>
                                            <th>Document Type</th>
                                            <th>DocumentDescription</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.ListaDJobAttachments != null)
                                        {
                                            foreach (var item in Model.ListaDJobAttachments)
                                            {

                                                <tr id="@Model.JobId">
                                                    <td>
                                                        <input type="button" class="btn btn-primary" id="@item.Id" onclick="AddAttachDocument(this.id)" name="chkAttachDoc" value="Add Attach Doc" />

                                                    </td>
                                                    <td>@item.DateCreated.ToShortDateString()</td>
                                                    <td>@item.UserCode</td>
                                                    <td>@item.DocumentType</td>
                                                    <td>@item.DocumentDescription</td>

                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                                @*</textarea>*@
                            </div>
                        </fieldset>
                        <fieldset class="customFieldset" style="width:837px; margin-top: 10px">
                            <legend>Attachments</legend>
                            @*<ul class="row" id="divAttachments" name="AttachedFilePath" style="padding:20px;height:120px;overflow:auto;"></ul>*@
                            <table id="tblAttachments" name="tblAttachments" style="width:100%;">
                            </table>
                        </fieldset>
                    </div>


                    <div class="row" style="margin-left:50px;margin-top:2%;">

                        <div class="fileupload-btn-wrapper">
                            <button type="button" class="btn btn-primary" style=""><i class="icon wb-upload"></i> Add MISC Doc</button>
                            <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" />
                        @*</div>  <input type="button" class="btn btn-primary" style="margin-bottom:32px;margin-left:25px;" value="Remove" />*@

                    </div>

                </div>
                </div>

            </div>


        </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.path)
        @Html.HiddenFor(m => m.JobId)
    </div>
        <div class="modal-footer" style="background-color: white;">

            <div class="col-md-1">
                @*<input type="reset" class="btn btn-primary" value="Clear" style="margin-left:31px;" />*@
            </div>
            <div class="col-md-10" style="float:right;">
                @*<input type="button" style="width:120px;" class="btn btn-primary" value="Save" id="SaveEmail" onclick="SendMessageAndAttachementData(this.id)" />*@
                <input type="button" style="width:120px;" class="btn btn-primary" value="Send" id="SendEmail" onclick="SendMessageAndAttachementData(this.id)" />
                <input type="button" style="width:120px;" class="btn btn-primary" data-dismiss="modal" value="Cancel" />

            </div>

        </div>
</form>
<script>
    $('#myModalSendEmail').modal({ backdrop: 'static', keyboard: false });
    hideLoadingImage();
    $('#uploadFile').change(function (e) {
        debugger;
        var fileName = e.target.files[0].name;
        if (fileName.search(/[<>'\+\"\/;`%,#$&@@]/) > 0) {
            alert('Please upload the file without special characters');
            // $(':input[type="submit"]').prop('disabled', true);
            $('#btnSaveMISCDocument').prop('disabled', true);
            return false;
        }
        else {
            //alert('The file "' + fileName + '" has been selected.');
            // $(':input[type="submit"]').prop('disabled', false);
            $('#btnSaveMISCDocument').prop('disabled', false);
            $("#uploadedFileName").empty();
         //   $("#divAttachments").append(fileName);
            SaveMISCDocument();
        }
    });

      function SaveMISCDocument()
    {
        debugger;

            var formData = new FormData();
            var file = document.getElementById("uploadFile").files[0];
            formData.append("uploadFile", file);
            if (document.getElementById('uploadFile').value !== '')
            {
                $.ajax({
                    url: '@Url.Action("SaveMISCDocument", "WorkCardLiens")',
                    type: "POST",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data != null) {
                            $('#tblAttachments').append(`<tr>
          <td style="text-align:center;"><button onclick="RemoveTR(this)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
           <td style="text-align:center;">${data}</td>
           </tr>`);
                            //let docpath = document.querySelector('#divAttachments');
                            //const node = document.createElement("LI");
                            //const textnode = document.createTextNode(data);
                            //node.appendChild(textnode);
                            //document.getElementById("divAttachments").appendChild(node);
                            ////SaveDocumentInputs();
                           // $("#myModalAddMiscDocument").modal("hide");
                        }
                        if(data==false)
                        {
                            alert("Something went wrong");
                        }
                        console.log(data);
                    },
                    fail: function (error) {
                        alert("Something went wrong fail function(error)");
                    }
                });
            }
            else
            {
                alert('Please attach file.');
            }
    }
       function SaveEmailInfo()
    {
        debugger;
        showLoadingImage();
        var data = $('#FormSendEmail').serialize();
        $.ajax({
            url: '@Url.Action("SaveEmailInfo", "WorkCardLiens")',
            data: data,
            type: "POST",
            //dataType: 'json',
            success: function (data) {
                debugger;


            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
               $("#myModalAddNewNote").modal("hide");
            }
        });
    }
    function valueChanged(){
        if ($('#OtherRecipient').is(":checked"))
            $("#divAddNewRecipient").show();
        else
            $("#divAddNewRecipient").hide();
    }
    function CheckAllListItems(){
        debugger;
        var ele = document.getElementsByName('chkClientContactList');
        for (var i = 0; i < ele.length; i++) {
            if (ele[i].type == 'checkbox')
                ele[i].checked = true;
        }

    }

    function UnCheckAllListItems(){

        debugger;
        var ele = document.getElementsByName('chkClientContactList');
        for (var i = 0; i < ele.length; i++) {
            if (ele[i].type == 'checkbox')
                ele[i].checked = false;
        }
    }

    function RemoveTR(r){
        debugger;
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("tblAttachments").deleteRow(i);
    }

    function AddAttachDocument(Id) {
        debugger;

        $.ajax({
            url: '@Url.Action("AddAttachDoc", "WorkCardLiens")',
            data: { Id:Id },
            type: "POST",
            dataType: 'json',
              success: function (data) {
                  debugger;
                  if (data != null) {
                      $('#tblAttachments').append(`<tr>
          <td style="text-align:center;"><button onclick="RemoveTR(this)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
           <td style="text-align:center;">${data}</td>
           </tr>`);

                  }
              },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
               $("#myModalAddNewNote").modal("hide");
            }
        });


    }

    function AddToRecipient() {
        debugger;
        var value = $('#NewOtherRecipient').val();
        $('#tblRecipientListBody').append(`<tr>
          <td style="text-align:center;"><div class="checkbox-sm"><input type="checkbox" class="checkbox-sm" id="chkclientListitem" name="chkClientContactList" value="${value}" /></div></td>
           <td style="text-align:center;">Other</td>
<td style="text-align:center;"> </td>
<td style="text-align:center;">${value}</td>
           </tr>`);

    }

      function SendMessageAndAttachementData(Id) {
        var NewOtherRecipient = $('#NewOtherRecipient').val();
        if ($('#OtherRecipient').is(":checked") && NewOtherRecipient == "") {
            alert("Please add Other Receptient Email Address");
            return;
        }

          debugger;
          var X = $("#To").val();
          var arrP = [];
          if (X == "" || X == null) {
              arrP = [];
          }
          else {

          //var x = X.replace(",", ";");

              var x = X.replaceAll(",", ";");
        
          var newVal = x.split(';');
         

          for (let i = 0; i < newVal.length; i++) {
              arrP.push(newVal[i]);
          }

          }
          var data = $('#FormEmail').serialize();
      var JobId = @Model.JobId;
         
          var Subject = $("#Subject").val();
          var Message = $("#Message").val();
          //var array = [];
          //$.each($("#To"), function () {
          //    array.push($(this).val());
          //});

        var file = document.getElementById('uploadFile').files[0];
        var AttachedFiles = $('#tblAttachments').text();
        var isSend;
        if (Id == "SendEmail") {
             isSend = true;
        } else {
             isSend = false;

        }

       // var FilePaths = AttachedFiles.Replace("\n", AttachedFiles.Empty);
        $.ajax({
            url: '@Url.Action("SendEmailT", "WorkCardLiens")',
            type: "POST",
            data: { Email: arrP, Subject: Subject, Message: Message, AttachedFiles: AttachedFiles, isSend: isSend, JobId:JobId },
            success: function (data) {

                debugger;
                if (data == true) {
                    SendEmailSuccessPopup();
                    $('#myModalEmail .modal-content').html(data);
                    $('#myModalEmail').modal("hide");
                    $('#myModalBranchEmail').modal("hide");

                }
                else if (data == false) {
                    SaveEmailSuccessPopup();
                    $('#myModalEmail .modal-content').html(data);
                    $('#myModalEmail').modal("hide");

                }
                else if (data == -1) {
                    alert("Please specify at least one recipient.");
                }
                else if (data == -2) {
                    alert("Something Went Wrong");
                }
                else {
                    alert("Something Went Wrong");
                }
                

               hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function SendEmailSuccessPopup() {
        debugger;
        swal({
            title: "Email Sent Succesfully!",
            text: "Your Job History Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
    function SaveEmailSuccessPopup() {
        debugger;
        swal({
            title: "Email Saved Succesfully!",
            text: "Your Job History Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>