﻿
@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.EndDateVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
    #bgstyle{
        display: block;
    }
</style>

<form id="FormEndDate">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            <label>
                End Date
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">

            <div class="col-xs-12 form-group NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Options</legend>

                    <div class="col-xs-12 form-group NopaddingLR">
                        <div class="col-xs-2 form-group NopaddingLR" style="margin-left:16px">
                            @if (ViewBag.RadioButton1 == true || ViewBag.RadioButton1 == null)
                            {
                                @Html.RadioButtonFor(m => m.RadioButton1, "1", new { @checked = "checked" })
                            }
                            @*else
                            {
                                @Html.RadioButtonFor(m => m.RadioButton1, "1", new { @checked = false })
                            }*@
                            &nbsp;
                            Select Form
                        </div>
                        <div class="col-xs-3 form-group NopaddingLR" @{ if (ViewBag.StateFormList == false) { @: style="display:none"
                             } else { @: id="bgstyle"
                             } }>
                            @Html.DropDownListFor(m => m.FormId, new SelectList(Model.StateFormList, "Value", "Text"), new { @class = "form-control", style = "width: 470px;" })
                        </div>
                    </div>
                    <div class="col-xs-12 form-group NopaddingLR">
                        <div class="col-xs-3 form-group NopaddingLR" style="margin-left: 16px;">
                            @if (ViewBag.RadioButton2 == true)
                            {
                                @Html.RadioButtonFor(m => m.RadioButton2, "2", new { @checked = "checked" })
                            }
                            @*else
                            {
                                @Html.RadioButtonFor(m => m.RadioButton2, "2", new { @checked = false })
                            }*@
                            &nbsp;
                            No Form Additional Filing Fees
                        </div>
                    </div>

                </fieldset>
            </div>
            <br />
            <div class="col-xs-12 form-group NopaddingLR">
                <div class="col-xs-2 form-group NopaddingLR">
                    <lable>Alternate Signer</lable>
                </div>
                <div class="col-xs-3 form-group NopaddingLR">
                    @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.Signer, new { @class = "form-control" })
                </div>
                <div class="col-xs-3 checkbox-sm">
                    <input type="checkbox" />
                    &nbsp;<lable>Rush Order</lable> <br />
                </div>
            </div>
            <br />

            <div class="col-xs-12 form-group NopaddingLR">

                <div class="col-xs-8 form-group NopaddingLR">
                    <div>&nbsp;</div>
                    <div class="col-xs-12 form-group NopaddingLR" style="margin-right:-20px">
                        <fieldset class="customFieldset" @{ if (ViewBag.disablepanel == true) { @:disabled="disabled"
                                  } }>
                            <legend>Form Related</legend>

                            <div class="col-xs-12 form-group NopaddingLR">
                                <div id="a1" class="col-xs-3">
                                    <lable>BondNumber</lable> <br />
                                </div>
                                <div class="col-xs-5 NopaddingLR">
                                    @Html.TextBoxFor(m => m.Test, new { @class = "form-control" })
                                </div>
                            </div>
                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        </fieldset>
                    </div>

                </div>
                <div>&nbsp;</div>
                <div class="col-xs-4 form-group NopaddingLR" style="margin-right:-20px">

                    <fieldset class="customFieldset" @{ if (ViewBag.disablepanel == true) { @:disabled="disabled"
                                  } }>>
                        <legend>Filing Fees</legend>

                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>LienRelease</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.LienReleaseFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>LienExtension</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.LienExtensionFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>ExtraPage </lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.ExtraPageFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>PostageFee</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.PostageFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>OwnerService</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.OwnerServiceFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>Copy</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.CopyFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>Title Research </lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.TitleResearchFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>LienFee</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.LienFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>Carrier</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.CarrierFee, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div class="col-xs-5">
                            </div>
                            <div class="col-xs-4" style="margin-left:-18px">
                                <hr size="1" style="border: 0.5px solid black !important;width:170px">
                            </div>
                        </div>
                        <div class="col-xs-12 form-group NopaddingLR">
                            <div id="a1" class="col-xs-5">
                                <lable>Total</lable> <br />
                            </div>
                            <div class="col-xs-5 NopaddingLR">
                                @Html.TextBoxFor(m => m.objADJobOtherNoticeInternal.TotalFees, new { Value = String.Format("{0:C}", Model.TestFees), @class = "form-control", @readonly = true })
                            </div>
                        </div>

                    </fieldset>

                </div>

            </div>

        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m =>m.Id)

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="Delete" onclick="DeleteMoreInfo()" class="btn btn-primary" @{ if (ViewBag.btnDelete == true) { @: id="bgstyle"
                   } else { @: style="display:none"
                   } } />
            <input type="button" value="OK/Print" id="OKModalEditMoreInfo" onclick="SaveMoreInfo()" class="btn btn-primary" />
            <input type="button" value="Cancel" id="CancelModalEditMoreInfo" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>


</form>

<script type="text/javascript">

    function SaveMoreInfo() {
        debugger;
        showLoadingImage();
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
            $.ajax({
                url: '@Url.Action("SaveEndDateInfo", "WorkCardLiens")',
                data: $('#FormEndDate').serialize(),
                type: "POST",
                success: function (data) {
                    $('#myModalEditOtherNotices').hide();
                    $('#myModalEndDate').html(data);
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    //if(data.cl)
                    EndDateSuccessPopup();
                    ShowDetails(JobId, j, ListName, "OtherNotices", "TabOtherNotices");
                    //ShowDetails(JobID, "JobInfo", "TabJobInfo");
                    hideLoadingImage();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }

      function DeleteMoreInfo() {
        debugger;
        showLoadingImage();
          var j = $('#Jvalue').val();
          var ListName = $('#ListValue').val();
            $.ajax({
                url: '@Url.Action("DeleteEndDateInfo", "WorkCardLiens")',
                data: $('#FormEndDate').serialize(),
                type: "POST",
                success: function (data) {
                    $('#myModalEditOtherNotices').hide();
                    $('#myModalEndDate').html(data);
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    //if(data.cl)
                    EndDateDeleteSuccessPopup();
                    ShowDetails(JobId, j, ListName, "OtherNotices", "TabOtherNotices");
                    //ShowDetails(JobID, "JobInfo", "TabJobInfo");
                    hideLoadingImage();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }
    function EndDateSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your  Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function EndDateDeleteSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Info Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>


