﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.FilterJobsVM
@{
    Layout = null;
}

<style type="text/css">
    .lt {
        text-align: left;
    }
    .checkbox-sm{
        padding-left: 0px;
    }
    
    label {
  color: black;
  /*font-weight: bold;*/
    }

    #a1{
        text-align:right;
    }

    #a2{
        text-align:right;
    }
 

</style>


<form id="JobFormEdit">

    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px !important;">
            <label>Job List Filter</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">

        <fieldset class="customFieldset">
            <legend>Job Fields</legend>

            <div class="col-xs-12 form-group">
                <div id="a2" class="col-xs-2">
                    <lable>CRF Lien #</lable>
                </div>
                <div id="cl" class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.JobId, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 ">
                    &nbsp;
                </div>
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkPendingNotices, new { style = "display:inline; " })
                    <lable>Pending Notice Request</lable>
                </div>
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkNotManagerReviewed, new { style = "display:inline; " })
                    <lable>Not Reviewed</lable>
                </div>
            </div>

            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Client #</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.ClientCode, new { @class = "form-control" })
                </div>

                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkWildcard, new { style = "display:inline; " })
                    <lable>Wildcard</lable>
                </div>
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkReviewNotes, new { style = "display:inline; " })
                    <lable>Pending Review Notes</lable>
                </div>
                <div class="col-xs-3 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkTXNotReviewed, new { style = "display:inline; " })
                    <lable>TX Not Reviewed</lable>
                </div>
            </div>

            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Job #</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.JobNum, new { @class = "form-control" })
                </div>
                <div class="col-xs-2">&nbsp;</div>

                <div class="col-xs-6 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkUnassigned, new { style = "display:inline; " })
                    <lable>Include Unassigned RV Jobs</lable>
                </div>
            </div>

            <div class="col-xs-12 form-group">&nbsp;</div>

            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkReviewDate, new { style = "display:inline; " })
                    <lable>ReviewDate <=</lable>
                </div>
                @*<div class="col-xs-1">
                        <label>ReviewDate <=</label>
                    </div>*@
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.ReviewDate, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>

                <div id="a1" class="col-xs-2 ">
                    <lable>Job City</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.JobCity, new { @class = "form-control" })
                </div>
            </div>


            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Date Assigned</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.DateAssigned, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>

                <div id="a1" class="col-xs-2 ">
                    <lable>Job County</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.JobCounty, new { @class = "form-control" })
                </div>
            </div>


            <div class="col-xs-12 form-group">
                <div id="a2" class="col-xs-2 ">
                    <lable>Date Notice Sent</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.DateNoticeSent, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>

                <div id="a1" class="col-xs-2 ">
                    <lable>Job State</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.JobState, new { @class = "form-control" })
                </div>
            </div>


            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Cancel Date</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.CanDate, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2 ">
                    <lable>Job Name</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.JobName, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkWildCardName, new { style = "display:inline; " })
                    <lable>Wildcard</lable>
                </div>
            </div>

            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Status Code</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.StatusCode, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2 ">
                    <lable>Job Address</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.JobAdd1, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkWildcardAddr, new { style = "display:inline; " })
                    <lable>Wildcard</lable>
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div id="a2" class="col-xs-2 ">
                    <lable>Desk #</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.DeskNum, new { @class = "form-control", style = "width : 80px;" })
                </div>
                <div id="D1" class="col-xs-2 checkbox-sm" style="margin-left: -45px">
                    @Html.CheckBoxFor(m => m.FilterObj.chkIncludeClosed, new { style = "display:inline;"})
                    <lable>Include Closed</lable>
                </div>
                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkPropertyType, new { style = "display:inline; " })
                    <lable>Property Type</lable>
                </div>
                <div class="col-xs-3 lt" style="margin-left:-31px">
                    @Html.DropDownListFor(m => m.FilterObj.chkPropertyType, Model.LiensStatusGroupPropertyTypeList.OrderBy(m => m.Text), new { @class = "form-control", style = "width : 80%;"})
                </div>
                <div class="col-xs-1">&nbsp;</div>
            </div>

            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Close Desk #</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.TODeskNum, new { @class = "form-control", style = "width : 80px;"})
                </div>
                <div class="col-xs-2">&nbsp;</div>
                <div class="col-xs-2 checkbox-sm" style="margin-left:-40px">
                    @Html.CheckBoxFor(m => m.FilterObj.chkStatusGroup, new { style = "display:inline; " })
                    <lable>Status Group</lable>
                </div>
                <div class="col-xs-3 lt" style="margin-left:-35px">
                   @Html.DropDownListFor(m => m.FilterObj.StatusGroup, Model.LiensStatusGroupList.OrderBy(m => m.Text), new { @class = "form-control", style = "width : 80%;" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
            </div>


            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>PO/RA #</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.PONUm, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2">
                    <lable>Customer</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.Customer, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkWildcardCust, new { style = "display:inline; " })
                    <lable>Wildcard</lable>
                </div>
            </div>


            <div id="a2" class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Start Date</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.StartDate, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2">
                    <lable>Customer Ref #</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.CustomerRef, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Lien Assigned</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.LienAssigned, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2">
                    <lable>General Contractor</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.GeneralContractor, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkWildcardGC, new { style = "display:inline; " })
                    <lable>Wildcard</lable>
                </div>
            </div>

            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Date Lien Sent</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.LienSent, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2">
                    <lable>Property Owner</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.PropertyOwner, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkWildcardOwner, new { style = "display:inline; " })
                    <lable>Wildcard</lable>
                </div>
            </div>


            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>NOI Date</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.NOIDate, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2">
                    <lable>Lender</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.LenderName, new { @class = "form-control" })
                </div>
                <div class="col-xs-2 checkbox-sm">
                    @Html.CheckBoxFor(m => m.FilterObj.chkWildcardLender, new { style = "display:inline; " })
                    <lable>Wildcard</lable>
                </div>
            </div>


            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Verified Date</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.VerifiedDate, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2">
                    <lable>Bond Num</lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.BondNum, new { @class = "form-control" })
                </div>
            </div>


            <div class="col-xs-12 form-group">

                <div id="a2" class="col-xs-2 ">
                    <lable>Branch Number</lable>
                </div>
                <div class="col-xs-2 lt">
                    @Html.TextBoxFor(m => m.FilterObj.BranchNumber, new { @class = "form-control" })
                </div>
                <div class="col-xs-1">&nbsp;</div>
                <div id="a1" class="col-xs-2">
                    <lable>Est Balance  </lable>
                </div>
                <div class="col-xs-3 lt">
                    @Html.TextBoxFor(m => m.FilterObj.EstBalance, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-xs-12">&nbsp;</div>

        </fieldset>
    </div>

    <div class="modal-footer">
        <div class="col-xs-12">
            <div class="col-xs-8" style="text-align:left">
                <input type="button" id="btnClear" value="Clear" class="btn btn-primary" onclick="ClearModel()" />
                <input type="button" id="btnGetWebNoteList" value="Get Web Note List" class="btn btn-primary" onclick="GetWebNoteList()" />
                <input type="button" id="btnGetJVWebNoteList" value="Get JV Web Note List" class="btn btn-primary" onclick="GetJVWebNoteList()" />
                <input type="button" id="btnGetTXReviewList" value="Get TX Review List" class="btn btn-primary" onclick="GetTXReviewList()" />
            </div>
            <div class="col-xs-4">
                <input type="button" id="btnSearch" value="Search" class="btn btn-primary" onclick="filter()" />
                <input type="button" id="btnCancel" value="Cancel"  class="btn btn-primary" onclick="CloseModalFilter()" />
            </div>
        </div>
    </div>

</form>


<script>

    function CloseModalFilter() {
        $('#myModal').modal("hide");
    }
    $("input").keypress(function (event) {
        debugger;
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            //alert('You pressed a "enter" key in somewhere');
            filter();
        }
    });
    function filter() {
        debugger;
        var data = $('#JobFormEdit').serialize();
        showLoadingImage();
        $('#myModal').modal('hide');
        //$('body').removeClass('modal-open');
       // $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("GetFilterResult", "WorkCardLiens")',
            data: $('#JobFormEdit').serialize(),
            type: "POST",
            success: function (data) {
                debugger;
               // $('#list').html(data);
                $('#list').html(data);
                makeDatatable('tblWorkCardLiens');
                hideLoadingImage();
            },
            fail: function (error) {
                debugger;
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

      @*var data = $('#FormEdit').serialize();
            showLoadingImage();
            $('#myModal1').modal('hide');
            $.ajax({
                url: '@Url.Action("GetFilterResult", "WorkCard")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblWorkCard');
                    hideLoadingImage();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });*@
    function ClearModel() {
        $("#FilterObj_JobId").val("");
        $("#FilterObj_ClientCode").val("");
        $("#FilterObj_JobNum").val("");
        $("#FilterObj_DateAssigned").val("");
        $("#FilterObj_DateNoticeSent").val("");
        $("#FilterObj_CanDate").val("");
        $("#FilterObj.StatusCode").val("");
        $("#FilterObj_DeskNum").val("");
        $("#FilterObj_TODeskNum").val("");
        $("#FilterObj_PONUm").val("");
        $("#FilterObj_StartDate").val("");
        $("#FilterObj_LienAssigned").val("");
        $("#FilterObj_LienSent").val("");
        $("#FilterObj_NOIDate").val("");
        $("#FilterObj_VerifiedDate").val("");
        $("#FilterObj_BranchNumber").val("");
        $("#FilterObj_JobCity").val("");
        $("#FilterObj_JobCounty").val("");
        $("#FilterObj_JobState").val("");
        $("#FilterObj_JobName").val("");
        $("#FilterObj_JobAdd1").val("");
        $("#FilterObj_Customer").val("");
        $("#FilterObj_CustomerRef").val("");
        $("#FilterObj_GeneralContractor").val("");
        $("#FilterObj_PropertyOwner").val("");
        $("#FilterObj_LenderName").val("");
        $("#FilterObj_BondNum").val("");
        $("#FilterObj_EstBalance").val("");

        $("#FilterObj_chkPendingNotices").attr('checked', false);
        $("#FilterObj_chkNotManagerReviewed").prop('checked', false);
        $("#FilterObj_chkWildcard").attr('checked', false);
        $("#FilterObj_chkReviewNotes").prop('checked', false);
        $("#FilterObj_chkTXNotReviewed").attr('checked', false);
        $("#FilterObj_chkUnassigned").prop('checked', false);
        $("#FilterObj_chkReviewDate").attr('checked', false);
        $("#FilterObj_chkWildCardName").prop('checked', false);
        $("#FilterObj_chkWildcardAddr").attr('checked', false);
        $("#FilterObj_chkIncludeClosed").prop('checked', false);
        $("#FilterObj_chkPropertyType").attr('checked', false);
        $("#FilterObj_chkStatusGroup").prop('checked', false);
        $("#FilterObj_chkWildcardCust").attr('checked', false);
        $("#FilterObj_chkWildcardGC").prop('checked', false);
        $("#FilterObj_chkWildcardOwner").attr('checked', false);
        $("#FilterObj_chkWildcardLender").prop('checked', false);
    }


    function GetWebNoteList() {
        debugger;
        var data = $('#JobFormEdit').serialize();
        showLoadingImage();
        $('#myModal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("GetWebNoteList", "WorkCardLiens")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCardLiens');
                hideLoadingImage();

            },
            fail: function (error) {
                debugger;
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function GetJVWebNoteList() {
        debugger;
        var data = $('#JobFormEdit').serialize();
        showLoadingImage();
        $('#myModal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("GetJVWebNoteList", "WorkCardLiens")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCardLiens');
                hideLoadingImage();

            },
            fail: function (error) {
                debugger;
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function GetTXReviewList() {
        debugger;
        var data = $('#JobFormEdit').serialize();
        showLoadingImage();
        $('#myModal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("GetTXReviewList", "WorkCardLiens")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCardLiens');
                hideLoadingImage();
            },
            fail: function (error) {
                debugger;
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }
</script>