﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.GCEditVM

@{
    Layout = null;
}
<style>

    .lbl1 {
        text-align: right;
    }

    /*.modal-content {
        width: 900px !important;
    }*/
    .wdthchange {
        width: 100% !important;
    }
    .ui-menu-item a {
        color: black;
    }

    .ui-widget-content {
        width: 30% !important;
    }
</style>
<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.22.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<form id="FormGCInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                General Contractor
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 rt">
                @Html.RadioButtonFor(m => m.RdbBtn, "N", new { @checked = true })
                <lable>&nbsp;By Name</lable>
                &nbsp; &nbsp; &nbsp;
                @Html.RadioButtonFor(m => m.RdbBtn, "A")
                <lable>&nbsp;By Address</lable>
            </div>
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@
                    @*<input type="text" />*@
                    @Html.TextBoxFor(m => m.cboName, new { @class = "form-control wdthchange", style = "display:inline" })
                </div>

                <div class="col-xs-2">
                    <input type="button" value="Select" id="SelectGCByName" class="btn btn-primary" style="margin-right: -13px;" onclick="SelectGC()" />


                </div>
                <div class="col-xs-1" style="margin-left: -21px;">
                    <input type="button" value="New" id="NewGC" class="btn btn-primary"  onclick="NewGeneralContractor()" />

                </div>
            </div>

            <!--<div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">-->
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                <!--</div>

                <div class="col-xs-3">
                    <input type="button" value="New" id="NewGC" class="btn btn-primary" style="margin-right: -13px;margin-top: 5px;"  onclick="NewGeneralContractor()" />

                </div>
            </div>-->

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9  checkbox-sm" style="margin-left: 20px;font-size: 16px;" @{ if (ViewBag.MakeSameAsCustomerchkbox == false) { @: hidden="hidden"
                     } }>
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@
                    @*<input type="checkbox" id="isCustomerChecked" value="Make Same As Customer" />*@
                    @Html.CheckBoxFor(m => m.IsSameAsCustomerChecked, new { @onclick = "SameAsCustomerChecked()", style = "" })
                    <label>Make Same As Customer</label>



                </div>
            </div>

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9  checkbox-sm" style="margin-left: 20px;font-size: 16px;" @{ if (ViewBag.GCUnverifiedchkbox == false) { @: hidden="hidden"
                     } }>
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@
                    @*<input type="checkbox" id="IsGCUnverified" value="GC Unverified" />*@
                    @Html.CheckBoxFor(m => m.IsGCUnverified, new { style = "" })
                     <label>GC Unverified</label>



                </div>
            </div>
        </div>

        @*<div class="col-xs-12 NopaddingLR">
                <div class="col-xs-12 form-group" style="text-align: right; margin-bottom: -2%;margin-left: -3%;">
                    <b>
                        <lable style="font-weight: 1000; font-size: medium;">
                            @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                        </lable>
                    </b>
                </div>
            </div>*@
        @*<div class="col-xs-12  form-group">
            <div class="col-xs-12 NopaddingLR">
                <br />
                <div id="tblCustomerList" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.GCList.Count <= 0  ? "display:none" : "display:block")">
                    <table id="tblCustomerLookUp" class="table table-bordered dataTable table-hover grid " border="1" style="width:946px;">
                        <thead>
                            <tr>
                                <th class="no-sort" style="width: 13px;">View</th>


                                <th style="width: 30px;">Name</th>

                                <th style="width: 82px;">Address</th>
                                <th style="width: 82px;">Id</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.GCList.Count >= 1 && Model != null && Model.GCList != null)
                            {
                                foreach (var i in Model.GCList)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" onclick="ShowDetails('@i.Id')" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-eye" aria-hidden="true"></i>
                                            </button>
                                        </td>


                                        <td>
                                            @i.Name
                                        </td>

                                        <td>
                                            @i.Address
                                        </td>
                                        <td>
                                            @i.Id
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@

    </div>

    <div class="form-group col-xs-12 lt NopaddingLR">
        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-10">
                <fieldset class="customFieldset" id="fieldset" style="width:711px;margin-top:15px">
                    <legend>GC Info</legend>




                    <div class="col-xs-12 form-group lt NopaddingLR">

                        <div class="col-xs-3 lbl1">
                            <lable>Name</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.GeneralContractor, new { @class = "form-control", style = "display:inline;width:317px" })
                            <div id="ErrorGCName" class="Invalid-feedback" style="display:none">
                                Please Enter General Contractor Name
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <input type="button" value="Delete" id="DeleteButton" class="btn btn-primary" style="margin-left: 108px;" visible="true" onclick="DeleteGCByCheck()" />

                        </div>
                    </div>



                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Contact</lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.ContactName, new { @class = "form-control", style = "display:inline;width:317px" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Address 1</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.AddressLine1, new { @class = "form-control", style = "display:inline;width:317px" })
                        </div>
                        <div class="col-xs-4 checkbox-sm">
                            @Html.CheckBoxFor(m => m.objADClientGeneralContractor.IsNonUSAddr, new { style = "margin-left: 61px;" })
                            <lable style="margin-left: 10px;">Non US Addr</lable>
                            <div id="ErrorIsNonUSAddr" class="Invalid-feedback" style="display:none">
                                Please Enter Customer Name
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Address 2</lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.AddressLine2, new { @class = "form-control", style = "display:inline;width:317px" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>City/St/Zip</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.City, new { @class = "form-control", style = "display:inline; width:145px" })
                        </div>
                        <div class="col-xs-2">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.State, new { @class = "form-control", style = "display:inline; width:50px;margin-left: -17px;" })
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.PostalCode, new { @class = "form-control", style = "display:inline; width: 101px; margin-left: -72px;" })
                            <div id="ErrorGCZip" class="Invalid-feedback" style="display:none; margin-left:-76px;">
                                Invalid State for the Zip Code
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.Telephone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                        </div>

                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Email</lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.Email, new { @class = "form-control", style = "display:inline;width:317px" })
                            @Html.ValidationMessageFor(m => m.objADClientGeneralContractor.Email)
                            <div id="ErrorEmail" class="Invalid-feedback" style="display:none">
                                Invalid Email Address
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Website </lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.objADClientGeneralContractor.GCLicNum, new { @class = "form-control", style = "display:inline;width:317px;text-decoration-line: underline;" })
                            <label id="testlbl" hidden> </label>
                            <i class="icon wb-edit" id="editGcIcon" aria-hidden="true" onclick="textvalue()"></i>
                        </div>
                    </div>



                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Special Instr</lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextAreaFor(m => m.objADClientGeneralContractor.SpecialInstruction, new { rows = "3", cols = "60" })

                        </div>
                    </div>


                    <div class="col-xs-12" style="margin-top:15px">
                        <div class="col-xs-2 NopaddingLR">
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            <div class="col-xs-1 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objADClientGeneralContractor.NoCallGC, new { style = "" })
                            </div>

                            <div class="col-xs-1 ">
                                <lable>NoCall</lable>
                            </div>
                        </div>


                        <div class="col-xs-2 NopaddingLR">
                            <div class="col-xs-1 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objADClientGeneralContractor.GCAllSend, new { style = "" })
                            </div>

                            <div class="col-xs-1">
                                <lable>AllSend</lable>
                            </div>
                        </div>



                        <div class="col-xs-2 NopaddingLR">
                            <div class="col-xs-1 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objADClientGeneralContractor.NoFax, new { style = "" })
                            </div>

                            <div class="col-xs-1">
                                <lable>NoFax</lable>
                            </div>
                        </div>

                        <div class="col-xs-2 NopaddingLR">
                            <div class="col-xs-1 checkbox-sm">
                                @Html.CheckBoxFor(m => m.objADClientGeneralContractor.NoEmail, new { style = "" })
                            </div>

                            <div class="col-xs-1 ">
                                <lable>NoEmail</lable>
                            </div>
                        </div>

                    </div>







                </fieldset>


            </div>


        </div>
    </div>



    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.btnDelete)
        @Html.HiddenFor(m => m.MakeSameAsCustomerchkbox)
        @Html.HiddenFor(m => m.MakeSameAsCustomerchked)
        @Html.HiddenFor(m => m.SameAsGC)
        @Html.HiddenFor(m => m.IsSameAsCustomerChecked)
        @Html.HiddenFor(m => m.IsGCUnverified)
        @Html.HiddenFor(m => m.myClientNoCustCall)
        @Html.HiddenFor(m => m.IsPrimary)



    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">

            <input type="button" value="OK" id="OKModalCustomerEdit" class="btn btn-primary" onclick="SaveGC()" />
            <input type="button" value="Cancel" id="CancelModalCustomerEdit" class="btn btn-primary" data-dismiss="modal" style="margin-right: -11px;" onclick="Cancle()"/>

        </div>
    </div>
</form>

<script type="text/javascript">

    //$('#objADClientGeneralContractor_GCLicNum').click(function () {
    //    debugger;
    //    $('#objADClientGeneralContractor_GCLicNum').wrap('<a href="..." />');
    //});

    //$('#objADClientGeneralContractor_GCLicNum').keyup(function () {
    //    debugger;
    //      $('#objADClientGeneralContractor_GCLicNum').wrap('<a href="..." />');
    //})

    //$('#objADClientGeneralContractor_GCLicNum').keypress(function (event) {
    //    debugger;
    //    $('#objADClientGeneralContractor_GCLicNum').wrap('<a href="..." />');

    //});

    //$('#objADClientGeneralContractor_GCLicNum').focusout(function () {
    //    debugger;
    //    $('#objADClientGeneralContractor_GCLicNum').wrap('<a href="..." />');
    //});
    $('#cboName').keyup(function () {
        var ClientId = @Model.ClientId;
        debugger;
        var SearchInitial = $('#cboName').val();
        var RdbBtnVal = $('input[name="RdbBtn"]:checked').val();
        if (SearchInitial.length > 1) {
            $("#cboName").autocomplete({

            source: function (request, response) {
                debugger;

                //alert(request.term);
                $.ajax({
                    url: '@Url.Action("ShowSearchGCList1", "WorkCardLiens")',
                    data: "{'prefix': '" + request.term + "','ClientId': '" + ClientId + "','RdbBtnVal': '" + RdbBtnVal + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        debugger
                        if (data.length != 0) {
                            response($.map(data, function (item) {
                                debugger;
                                //select: function s(event, ui) {
                                //    $(".ui-state-hover").val(ui.item.label);
                                //    cityID = ui.item.id;
                                //    alert(cityID);
                                //}
                                $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "20% !important", "z-index": "999999999999999", "Color": "black" });


                                return item;

                                //select: function s(event, ui) {
                                //    var str = item.split("|");
                                //    $('#cboCustName').val(str[0]);
                                //}
                            }))
                        }
                        else {
                            response([{ label: 'No results found.', val: -1 }]);
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
                  },
                  select: showLabel,
                  focus: showLabel,


            minLength: 1,
            //delay: 1000,
            maxShowItems: 5
            //select: function (e, i) {
            //    $("#hfCustomer").val(i.item.val);
            //},
            //minLength: 1
              });


        }


    });

    function showLabel(event, ui) {
        debugger;
        var str = $('.ui-state-hover').text();
        var strs = str.split("|");
        $('#cboName').val(strs[0] + "" + strs[2]);
        event.preventDefault();

    }
    function textvalue() {
        debugger;
        $('#objADClientGeneralContractor_GCLicNum').show();
        $('#testlbl').hide();
        $('#editGcIcon').hide();
        //$('.icon.wb-edit').hide();

    }
    function SearchGC() {
        debugger;
        var SearchInitial = $('#cboName').val();
        //var data = $('#FormEditCustomer').serialize();
         var JobId = @Model.JobId;
        var ClientId = @Model.ClientId;
        $.ajax({
            url: '@Url.Action("ShowGCInfo", "WorkCardLiens")',
            data: { JobId: JobId, ClientId: ClientId, SearchInitial: SearchInitial, LegalPartyId: 0,  IsPrimary: false, },
            type: "POST",
            success: function (data) {
            debugger;
            //if (data) {
                $('#myModalGCInfo .modal-content').html(data);
                var s = $('#myModalGCInfo').find('#objADClientGeneralContractor_GCLicNum').val();
                if (s == "" || s == null) {
                    debugger;
                    $('#objADClientGeneralContractor_GCLicNum').show();
                    $('#testlbl').hide();
                    //$('.icon.wb-edit').hide();
                    $('#editGcIcon').hide();
                }
                else {
                    $('#objADClientGeneralContractor_GCLicNum').hide();
                    //  $('#myModalCustomerInfo').find('#obj_ClientCustomer_Website').wrap('<a id ="test" href="//' + s + '" />');
                    // $('#myModalCustomerInfo').find('#testlbl').wrap(' < a  href = "//' + s + '" target = "_blank" />');
                    $('#myModalGCInfo').find('#testlbl').html('<a href="//' + s + '" target="_blank">' + s + '</a>');
                    $('#testlbl').show();
                    //$('#myModalCustomerInfo').find(s).wrap('<a href="//' + s + '" target="_blank"/>')
                    //var p = k.val(); $("#obj_ClientCustomer_Website").attr("href", " 's'");
                }
            //}
            //else {
            //$("#myChangeCustLookUpModel").modal("hide");
            //$('body').removeClass('modal-open');
            //$('.modal-backdrop').remove();
            //$('#errorMsg').show();
            //}
            },
            fail: function (error) {
                $("#myChangeCustLookUpModel").modal("hide");
                $("#DeleteButton").hide();
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('#errorMsg').show();
            }
            });
    }
    function SelectGC() {
        debugger;
        var Name = $('#cboName').val();
        var NameValue = Name.split(")");
        var test = NameValue[0].split("(");
        var GenId = test[1];
        showLoadingImage();
         var JobId = @Model.JobId;
        $.ajax({
            url: '@Url.Action("LoadGCInfo", "WorkCardLiens")',
            data: { GenId: GenId, JobId: JobId, IsPrimary:false},
            type: "POST",
            success: function (response) {
                debugger;
                hideLoadingImage();
               // var id = response.ClientId;
                var $response = $(response);
               // var len = response.length;
                //Query the jQuery object for the values
                var oneval = $response.find('#objADClientGeneralContractor_GeneralContractor').text();
                var subval = $response.find('#ClientId').val();


                //var j = $(".newtr").attr('id');
               // $(".newtr").empty();
                //$('<tr id="newtr"><td colspan="9">' + data + '</td></tr>').insertAfter($('#tr' + j).closest('tr'));
               // $('<tr id=' + j + ' class="newtr"><td  colspan="9" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                $('#myModalGCInfo .modal-content').html(response);
                $('#myModalGCInfo').show();
                  var s = $('#myModalGCInfo').find('#objADClientGeneralContractor_GCLicNum').val();
                if (s == "" || s == null) {
                    debugger;
                    $('#objADClientGeneralContractor_GCLicNum').show();
                    $('#testlbl').hide();
                    //$('.icon.wb-edit').hide();
                    $('#editGcIcon').hide();
                }
                else {
                    $('#objADClientGeneralContractor_GCLicNum').hide();
                    //  $('#myModalCustomerInfo').find('#obj_ClientCustomer_Website').wrap('<a id ="test" href="//' + s + '" />');
                    // $('#myModalCustomerInfo').find('#testlbl').wrap(' < a  href = "//' + s + '" target = "_blank" />');
                    $('#myModalGCInfo').find('#testlbl').html('<a href="//' + s + '" target="_blank">' + s + '</a>');
                    $('#testlbl').show();
                    //$('#myModalCustomerInfo').find(s).wrap('<a href="//' + s + '" target="_blank"/>')
                    //var p = k.val(); $("#obj_ClientCustomer_Website").attr("href", " 's'");
                }
                //$('#myModalCustomerInfo').html(data);
               // $('body').removeClass('modal-open');
                //$('.modal-backdrop').remove();
               // $('#DeleteButton').show();
               $('#DeleteButton').hide();
                CheckMinDate();
                //$('#list').hide();




                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function NewGeneralContractor() {
        debugger;
        var ClientId = @Model.ClientId;
          var JobId = @Model.JobId;
         $.ajax({
            url: '@Url.Action("NewGC", "WorkCardLiens")',
             data: {GenId: 0, ClientId: ClientId, JobId: JobId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalGCInfo .modal-content').html(data);
                //$('.icon.wb-edit').hide();
                $('#editGcIcon').hide();
                $('#DeleteButton').hide();
                //$('body').removeClass('modal-open');
                //$('.modal-backdrop').remove();
                CheckMinDate();
                //$('#list').hide();




                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }


    $('#NewGC').click(function () {
        debugger;
        $('#objADClientGeneralContractor_GeneralContractor').val("");
        $('#objADClientGeneralContractor_ContactName').val("");
        $('#objADClientGeneralContractor_AddressLine1').val("");
        $('#objADClientGeneralContractor_AddressLine2').val("");
        $('#objADClientGeneralContractor_City').val("");
        $('#objADClientGeneralContractor_State').val("");
        $('#objADClientGeneralContractor_PostalCode').val("");
        $('#objADClientGeneralContractor_Telephone1').val("");
        $('#objADClientGeneralContractor_Fax').val("");
        $('#objADClientGeneralContractor_Email').val("");
        $('objADClientGeneralContractor_GCLicNum').val("");
        $('#objADClientGeneralContractor_SpecialInstruction').val("");
        $("#DeleteButton").hide();
        //$('#myModalCustomerInfo').modal("show");
    });

    //$('#IsSameAsCustomerChecked').click(function () {
    function SameAsCustomerChecked() {
        debugger;
        //alert("hi");
        // var chkAllIndustryTypes = $(this).val();

        //if (this.checked) {
        if ($('#IsSameAsCustomerChecked').is(':checked') == true) {
            var ClientId = @Model.ClientId;
            var JobId = @Model.JobId;

            var IsSameAsCustomerChecked = true;
            var RdbBtnVal = "";
            $.ajax({
                url: '@Url.Action("SameAsCustomerChecked", "WorkCardLiens")',
                data: { ClientId: ClientId, JobId: JobId, IsPrimary:IsPrimary, RdbBtnVal: RdbBtnVal },
                type: "POST",
                success: function (data) {
                    debugger;
                    //if (data) {
                    $('#myModalGCInfo .modal-content').html(data);
                    var $response = $(data);
                    // var len = response.length;
                    //Query the jQuery object for the values
                    $('#SelectGCByName').hide();
                    $('#NewGC').hide();
                    //$("#fieldset").prop('readonly', true);
                    $("#objADClientGeneralContractor_GeneralContractor").prop('readonly', true);
                    $("#objADClientGeneralContractor_ContactName").prop('readonly', true);
                    $("#objADClientGeneralContractor_AddressLine1").prop('readonly', true);
                    $("#objADClientGeneralContractor_AddressLine2").prop('readonly', true);
                    $("#objADClientGeneralContractor_City").prop('readonly', true);
                    $("#objADClientGeneralContractor_State").prop('readonly', true);
                    $("#objADClientGeneralContractor_PostalCode").prop('readonly', true);
                    $("#objADClientGeneralContractor_Telephone1").prop('readonly', true);
                    $("#objADClientGeneralContractor_Fax").prop('readonly', true);
                    $("#objADClientGeneralContractor_Email").prop('readonly', true);
                    $("#objADClientGeneralContractor_GCLicNum").prop('readonly', true);
                    $("#objADClientGeneralContractor_SpecialInstruction").prop('readonly', true);
                    $("#objADClientGeneralContractor_NoCallGC").prop('readonly', true);
                    $("#objADClientGeneralContractor.GCAllSend").prop('readonly', true);
                    $("#objADClientGeneralContractor_NoFax").prop('readonly', true);
                    $("#objADClientGeneralContractor_NoEmail").prop('readonly', true);
                    $('#IsSameAsCustomerChecked').prop('checked', true);
                    $('#DeleteButton').prop('disabled', true);
                    var subval = $response.find('#myClientNoCustCall').val();
                    debugger;
                    var s = $('#myModalGCInfo').find('#objADClientGeneralContractor_GCLicNum').val();
                    if (s == "" || s == null) {
                        debugger;
                        $('#objADClientGeneralContractor_GCLicNum').show();
                        $('#testlbl').hide();
                        //$('.icon.wb-edit').hide();
                        $('#editGcIcon').hide();
                    }
                    else {
                        $('#objADClientGeneralContractor_GCLicNum').hide();
                        //  $('#myModalCustomerInfo').find('#obj_ClientCustomer_Website').wrap('<a id ="test" href="//' + s + '" />');
                        // $('#myModalCustomerInfo').find('#testlbl').wrap(' < a  href = "//' + s + '" target = "_blank" />');
                        $('#myModalGCInfo').find('#testlbl').html('<a href="//' + s + '" target="_blank">' + s + '</a>');
                        $('#testlbl').show();
                        //$('#myModalCustomerInfo').find(s).wrap('<a href="//' + s + '" target="_blank"/>')
                        //var p = k.val(); $("#obj_ClientCustomer_Website").attr("href", " 's'");
                    }
                    if (subval == "True") {
                        $('#objADClientGeneralContractor_NoCallGC').prop('checked', true);
                        $('#objADClientGeneralContractor_NoFax').prop('checked', true);
                        $('#objADClientGeneralContractor_NoEmail').prop('checked', true);
                    }
                },
                fail: function (error) {

                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            });
        }
        else {
            $('#myModalGCInfo').find('#fieldset').prop('disabled', false);
            $('#SelectGCByName').show();
            $('#NewGC').show();
            $('#IsSameAsCustomerChecked').prop('checked', false);
            // $("#fieldset").prop('readonly', false);
            $("#objADClientGeneralContractor_GeneralContractor").prop('readonly', false);
            $("#objADClientGeneralContractor_ContactName").prop('readonly', false);
            $("#objADClientGeneralContractor_AddressLine1").prop('readonly', false);
            $("#objADClientGeneralContractor_AddressLine2").prop('readonly', false);
            $("#objADClientGeneralContractor_City").prop('readonly', false);
            $("#objADClientGeneralContractor_State").prop('readonly', false);
            $("#objADClientGeneralContractor_PostalCode").prop('readonly', false);
            $("#objADClientGeneralContractor_Telephone1").prop('readonly', false);
            $("#objADClientGeneralContractor_Fax").prop('readonly', false);
            $("#objADClientGeneralContractor_Email").prop('readonly', false);
            $("#objADClientGeneralContractor_GCLicNum").prop('readonly', false);
            $("#objADClientGeneralContractor_SpecialInstruction").prop('readonly', false);
            $("#objADClientGeneralContractor_NoCallGC").prop('readonly', false);
            $("#objADClientGeneralContractor.GCAllSend").prop('readonly', false);
            $("#objADClientGeneralContractor_NoFax").prop('readonly', false);
            $("#objADClientGeneralContractor_NoEmail").prop('readonly', false);
            $('#DeleteButton').prop('disabled', false);
            debugger;
            var s = $('#myModalGCInfo').find('#objADClientGeneralContractor_GCLicNum').val();
            if (s == "" || s == null) {
                debugger;
                $('#objADClientGeneralContractor_GCLicNum').show();
                $('#testlbl').hide();
                //$('.icon.wb-edit').hide();
                $('#editGcIcon').hide();
            }
            else {
                $('#objADClientGeneralContractor_GCLicNum').hide();
                //  $('#myModalCustomerInfo').find('#obj_ClientCustomer_Website').wrap('<a id ="test" href="//' + s + '" />');
                // $('#myModalCustomerInfo').find('#testlbl').wrap(' < a  href = "//' + s + '" target = "_blank" />');
                $('#myModalGCInfo').find('#testlbl').html('<a href="//' + s + '" target="_blank">' + s + '</a>');
                $('#testlbl').show();
                //$('#myModalCustomerInfo').find(s).wrap('<a href="//' + s + '" target="_blank"/>')
                //var p = k.val(); $("#obj_ClientCustomer_Website").attr("href", " 's'");
            }
        }
    }
       
    //});

    function SaveGC() {
        debugger;
        showLoadingImage();
        //var email = $('#objADClientGeneralContractor_Email').val();
        //if (EmailValidate(email)) {

        var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
        var IsSameAsCustomerCheckedvisible = $('#IsSameAsCustomerChecked').is(':visible');
            if (Validate()) {
                //$('#myModalJobEdit').modal('hide');
                //$('body').removeClass('modal-open');
                //$('.modal-backdrop').remove();
                $.ajax({
                    url: '@Url.Action("SaveGCInfo", "WorkCardLiens")',
                    data: $('#FormGCInfo').serialize() + "&IsSameAsCustomerCheckedvisible=" + IsSameAsCustomerCheckedvisible,
                    type: "POST",
                    success: function (data) {
                        debugger;
                       
                        if (data == 0) {
                            $("#ErrorGCZip").show();
                            hideLoadingImage();
                            $('#myModalGCInfo').show();
                        }
                        else if (data == 2)
                        {
                            $("#ErrorEmail").show();
                            hideLoadingImage();
                            $('#myModalGCInfo').show();
                        }
                        else {
                           // $('#myModalGCInfo').html(data);
                            ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                            //$("#myModalGCInfo").modal("hide");
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            //hideLoadingImage();
                            $('#myModalGCInfo').hide();
                           // $('body').removeClass('modal-open');
                            //$('.modal-backdrop').remove();
                            GCSuccessPopup();
                            showLoadingImage();
                        }


                        // $('#FormGCInfo').html(data);
                        //if(data.cl)


                        //EditMoreInfoCheckMinDate();
                    },
                    fail: function (error) {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                });
            }
       // }
    }


     function DeleteGCByCheck() {

        debugger;
        showLoadingImage();
        //$('#myModalJobEdit').modal('hide');
        //$('body').removeClass('modal-open');
        //$('.modal-backdrop').remove();
        var JobId = @Model.JobId;
      
            $.ajax({
                url: '@Url.Action("CheckToDeleteInfo", "WorkCardLiens")',
                data: { JobId: JobId, IsPrimary: IsPrimary, TypeCode:"GC"},
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == true) {
                        if (confirm("Notices Pending – Are you sure you want to delete the Legal Party ?")) {
                            DeleteGC();
                        }
                        else {
                            return false;
                        }
                       
                    }
                    else {
                        DeleteGC();
                    }
                    //$('#myModalGCInfo').html(data);
                    //$('#myModalGCInfo').hide();
                    //$('.modal-backdrop').remove();

                    //GCDeleteSuccessPopup();
                    //ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                    hideLoadingImage();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

        
    } 

    function DeleteGC() {

        debugger;
        showLoadingImage();
       
        var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
      
            $.ajax({
                url: '@Url.Action("DeleteGCInfo", "WorkCardLiens")',
                data: $('#FormGCInfo').serialize(),
                type: "POST",
                success: function (data) {
                    $("#myModalGCInfo").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data == 1) {
                      
                        ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                        hideLoadingImage();
                        GCDeleteSuccessPopup();
                        
                    }
                    else if (data == 0) {
                        debugger;
                        alert("Error.");
                        hideLoadingImage();
                    }

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

        
    }


    @*function ClearCustomer() {
       debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("ShowCustomerInfo", "WorkCardLiens")',
            data: { ClientId: ClientId, JobId: JobId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalCustomerInfo .modal-content').html(data);
                $('#myModalCustomerInfo').modal("show");
                chkMinDate();
                hideLoadingImage();
            },
            fail: function (error) {
                debugger;
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });

    }*@



    function GCSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your GC Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function GCDeleteSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your GC Info Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($('#IsSameAsCustomerChecked').is(':checked') == false && $("#IsGCUnverified").is(':checked') == true) {
            alert("The GC Unverified must be unchecked");
            return false;
        }
        //else {
        //    $("#ErrorGCName").hide();
        //}


        if ($("#objADClientGeneralContractor_GeneralContractor").val().length <= 0) {
            $("#ErrorGCName").show();
            return false;
        }
        else {
            $("#ErrorGCName").hide();
        }



        return true;
    }

    function Cancle() {
        debugger;
        $('#myModalGCInfo').modal("hide");
        hideLoadingImage();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }

    function ReadonlyGC() {
        $("#objADClientGeneralContractor_GeneralContractor").prop('readonly', true);
        $("#objADClientGeneralContractor_ContactName").prop('readonly', true);
        $("#objADClientGeneralContractor_AddressLine1").prop('readonly', true);
        $("#objADClientGeneralContractor_AddressLine2").prop('readonly', true);
        $("#objADClientGeneralContractor_City").prop('readonly', true);
        $("#objADClientGeneralContractor_State").prop('readonly', true);
        $("#objADClientGeneralContractor_PostalCode").prop('readonly', true);
        $("#objADClientGeneralContractor_Telephone1").prop('readonly', true);
        $("#objADClientGeneralContractor_Fax").prop('readonly', true);
        $("#objADClientGeneralContractor_Email").prop('readonly', true);
        $("#objADClientGeneralContractor_GCLicNum").prop('readonly', true);
        $("#objADClientGeneralContractor_SpecialInstruction").prop('readonly', true);
        $("#objADClientGeneralContractor_NoCallGC").prop('disabled', true);
        $("#objADClientGeneralContractor.GCAllSend").prop('disabled', true);
        $("#objADClientGeneralContractor_NoFax").prop('disabled', true);
        $("#objADClientGeneralContractor_NoEmail").prop('disabled', true);
        $('#DeleteButton').prop('disabled', true);
        
        
    }
    function NotReadonlyGC() {
        $("#objADClientGeneralContractor_GeneralContractor").prop('readonly', false);
        $("#objADClientGeneralContractor_ContactName").prop('readonly', false);
        $("#objADClientGeneralContractor_AddressLine1").prop('readonly', false);
        $("#objADClientGeneralContractor_AddressLine2").prop('readonly', false);
        $("#objADClientGeneralContractor_City").prop('readonly', false);
        $("#objADClientGeneralContractor_State").prop('readonly', false);
        $("#objADClientGeneralContractor_PostalCode").prop('readonly', false);
        $("#objADClientGeneralContractor_Telephone1").prop('readonly', false);
        $("#objADClientGeneralContractor_Fax").prop('readonly', false);
        $("#objADClientGeneralContractor_Email").prop('readonly', false);
        $("#objADClientGeneralContractor_GCLicNum").prop('readonly', false);
        $("#objADClientGeneralContractor_SpecialInstruction").prop('readonly', false);
        $("#objADClientGeneralContractor_NoCallGC").prop('disabled', false);
        $("#objADClientGeneralContractor.GCAllSend").prop('disabled', false);
        $("#objADClientGeneralContractor_NoFax").prop('disabled', false);
        $("#objADClientGeneralContractor_NoEmail").prop('disabled', false);
      
        $('#DeleteButton').prop('disabled', false);
    }

</script>

