﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.JobListVM

@{
    Layout = null;
}


<style>
    #tblWorkCardLiens_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>




<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="width:1000px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:1000px !important">

        </div>

    </div>
</div>


<div>
    <input type="hidden" id="Jvalue" />
    <input type="hidden" id="ListValue" />
    <div id="div1">
        @if (Model.FilterResult == true)
        {
            @*if (Model.ObjJobList != null && Model.ObjJobList.Count != 0)
            {*@
            <table id="tblWorkCardLiens" class="table table-bordered dataTable table-hover grid table-responsive" border="1" style="width: 100% !important;">

                <thead>
                    <tr id="th" style="white-space:nowrap">
                        <th style="width:1%;">Edit</th>
                        <th style="width:5%;">CRFS#<br />Client #<br />Desk #</th>
                        <th style="width:5%;">Job Name / Job #<br />Job Address<br />Job Status</th>
                        <th style="width:5%;vertical-align: top;">Customer #<br />Customer Name<br />General Contractor</th>
                        <th style="width:5%;">Assigned Date<br />Start Date<br />Review Date</th>
                        <th style="width:5%;">Notice Deadline<br />Notice Sent<br />NTO Days</th>
                        <th style="width:5%;">Est. Balance<br />Job Balance<br />Property Type</th>
                        <th style="width:5%;">JV Status<br />Branch #<br />Document</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        var j = 0;
                        foreach (var i in Model.ObjJobList)
                        {
                            <tr id="tr@(j)" style="white-space:nowrap">
                                @*tr>*@
                                <td>
                                    <button onclick="ShowDetails(@i.JobId,@j,'JobList')" class="btn btn-default btn-icon btn-pure">
                                        <i class="icon wb-edit" style="display: block" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>@i.JobId<br />@i.ClientCode<br />@i.DeskNum</td>
                                <td>@i.JobName/@i.JobNum<br />@i.JobAdd1,<text>@i.JobCity</text>, <text>@i.JobState</text><br />@i.StatusCode -@i.JobStatusDescr</td>
                                <td>@i.CustId<br />@i.ClientCustomer<br />@i.GeneralContractor</td>
                                <td>
                                    @{ if (i.DateAssigned == DateTime.MinValue) { }
                                        else
                                        {@i.DateAssigned.ToShortDateString()}}<br /> @{ if (i.StartDate == DateTime.MinValue) { }
                                        else
                                        {@i.StartDate.ToShortDateString()}}<br />  @{ if (i.RevDate == DateTime.MinValue) { }
                                            else
                                            {@i.RevDate.ToShortDateString()}}
                                    </td>
                                    <td>
                                        @{ if (i.NoticeDeadlineDate == DateTime.MinValue) { }
                                            else
                                            {@i.NoticeDeadlineDate.ToShortDateString()}}<br /> @{ if (i.NoticeSent == DateTime.MinValue) { }
                                            else
                                            {@i.NoticeSent.ToShortDateString()}}<br />@i.NTODays
                                        </td>
                                        <td>@String.Format("{0:C}", i.EstBalance)<br />@String.Format("{0:C}", i.JobBalance)<br />@i.PropertyType</td>
                                        <td>@i.JVStatusCode<br />@i.BranchNum <br />@i.Document </td>

                                    </tr>

                                    j++;
                                                }
                                            }
                </tbody>

            </table>
        }

    </div>
   
    @if (Model.WebNoteResult == true || Model.JVWebNoteListResult == true)
                                        {
        //if (Model.ObjWebNotesList != null && Model.ObjWebNotesList.Count != 0)
        //{

        <table id="tblWorkCardLiens" class="table table-bordered dataTable table-hover grid " border="1" style="width: 100% !important;">

            <thead id="note">
                <tr style="white-space:nowrap">
                    <th style="width:1%;">Edit</th>
                    <th style="width:5%;">CRFS#<br />Client #<br />Desk #</th>
                    <th style="width:5%;">Job Name / Job #<br />Job Address<br />Job Status</th>
                    <th style="width:5%;vertical-align: top;">Customer #<br />Customer Name<br />General Contractor</th>
                    <th style="width:5%;">Assigned Date<br />Start Date<br />Review Date</th>
                    <th style="width:5%;">Notice Deadline<br />Notice Sent<br />NTO Days</th>
                    <th style="width:5%;">Est. Balance<br />Job Balance<br />Property Type</th>
                    <th style="width:5%;">JV Status<br />Branch #<br />Document</th>
                </tr>
            </thead>
            <tbody id="noteslist">
                @{
                    var j = 0;
                    foreach (var i in Model.ObjWebNotesList)
                    {
                                <tr id="tr@(j)" style="white-space:nowrap">
                                    @*tr>*@
                                    <td>
                                        <button onclick="ShowDetails(@i.JobId,@j,'JobList')" class="btn btn-default btn-icon btn-pure">
                                            <i class="icon wb-edit" style="display: block" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>@i.JobId<br />@i.ClientCode<br />@i.DeskNum</td>
                                    <td>@i.JobName/@i.JobNum<br />@i.JobAdd1,<text>@i.JobCity</text>, <text>@i.JobState</text><br />@i.StatusCode -@i.JobStatusDescr</td>
                                    <td>@i.CustId<br />@i.ClientCustomer<br />@i.GeneralContractor</td>
                                    <td>
                                        @{ if (i.DateAssigned == DateTime.MinValue) { }
                                            else
                                            {@i.DateAssigned.ToShortDateString()}}<br /> @{ if (i.StartDate == DateTime.MinValue) { }
                                            else
                                            {@i.StartDate.ToShortDateString()}}<br />  @{ if (i.RevDate == DateTime.MinValue) { }
                                                else
                                                {@i.RevDate.ToShortDateString()}}
                                        </td>
                                        <td>
                                            @{ if (i.NoticeDeadlineDate == DateTime.MinValue) { }
                                                else
                                                {@i.NoticeDeadlineDate.ToShortDateString()}}<br /> @{ if (i.NoticeSent == DateTime.MinValue) { }
                                                else
                                                {@i.NoticeSent.ToShortDateString()}}<br />@i.NTODays
                                            </td>
                                            <td>@String.Format("{0:C}", i.EstBalance)<br />@String.Format("{0:C}", i.JobBalance)<br />@i.PropertyType</td>
                                            <td>@i.JVStatusCode<br />@i.BranchNum <br />@i.Document </td>

                                        </tr>
                        j++;
                    }
                }
            </tbody>
        </table>
    }
    @*}*@
    @*</div>*@
    @*<div id="div3" style="overflow-x:scroll;overflow-y:hidden">*@
    @if (Model.TXReviewResult == true)
    {
        //if (Model.objGetMonthlyJobListJV != null && Model.objGetMonthlyJobListJV.Count != 0)
        //{
        <table id="tblWorkCardLiens" class="table table-bordered dataTable table-hover grid " border="1" style="width: 100% !important; overflow-x: scroll; overflow-y: hidden">

            <thead id="note">
                <tr style="white-space:nowrap">
                    <th style="width:1%;">Edit</th>
                    <th style="width:5%;">CRFS#<br />Client #<br />Desk #</th>
                    <th style="width:5%;">Job Name / Job #<br />Job Address<br />Job Status</th>
                    <th style="width:5%;vertical-align: top;">Customer #<br />Customer Name<br />General Contractor</th>
                    <th style="width:5%;">Assigned Date<br />Start Date<br />Review Date</th>
                    <th style="width:5%;">Notice Deadline<br />Notice Sent<br />NTO Days</th>
                    <th style="width:5%;">Est. Balance<br />Job Balance<br />Property Type</th>
                    <th style="width:5%;">JV Status<br />Branch #<br />Document</th>
                </tr>
            </thead>
            <tbody id="noteslist">
                @{
                    var j = 0;
                    foreach (var i in Model.objGetMonthlyJobListJV)
                    {
                                <tr id="tr@(j)" style="white-space:nowrap">
                                    @*tr>*@
                                    <td>
                                        <button onclick="ShowDetails(@i.JobId,@j,'JobList')" class="btn btn-default btn-icon btn-pure">
                                            <i class="icon wb-edit" style="display: block" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>@i.JobId<br />@i.ClientCode<br />@i.DeskNum</td>
                                    <td>@i.JobName/@i.JobNum<br />@i.JobAdd1,<text>@i.JobCity</text>, <text>@i.JobState</text><br />@i.StatusCode -@i.JobStatusDescr</td>
                                    <td>@i.CustId<br />@i.ClientCustomer<br />@i.GeneralContractor</td>
                                    <td>
                                        @{ if (i.DateAssigned == DateTime.MinValue) { }
                                            else
                                            {@i.DateAssigned.ToShortDateString()}}<br /> @{ if (i.StartDate == DateTime.MinValue) { }
                                            else
                                            {@i.StartDate.ToShortDateString()}}<br />  @{ if (i.RevDate == DateTime.MinValue) { }
                                                else
                                                {@i.RevDate.ToShortDateString()}}
                                        </td>
                                        <td>
                                            @{ if (i.NoticeDeadlineDate == DateTime.MinValue) { }
                                                else
                                                {@i.NoticeDeadlineDate.ToShortDateString()}}<br /> @{ if (i.NoticeSent == DateTime.MinValue) { }
                                                else
                                                {@i.NoticeSent.ToShortDateString()}}<br />@i.NTODays
                                            </td>
                                            <td>@String.Format("{0:C}", i.EstBalance)<br />@String.Format("{0:C}", i.JobBalance)<br />@i.PropertyType</td>
                                            <td>@i.JVStatusCode<br />@i.BranchNum <br />@i.Document </td>

                                        </tr>
                        j++;
                    }
                }
            </tbody>
        </table>

    }
    @*}*@
    @*</div>*@
</div>



<script type="text/javascript">
    
    function ShowDetails(JobId,j,listname, ActiveList, ActiveTab) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("LoadJob","WorkCardLiens")',
            data: { JobId: JobId },
            type: "POST",
            success: function (data) {

                debugger;
                $('#Jvalue').val(j); 
                $('#ListValue').val(listname);
                //var j = $(".newtr").attr('id');
                $(".newtr").empty();
                //$('<tr id="newtr"><td colspan="9">' + data + '</td></tr>').insertAfter($('#tr' + j).closest('tr'));
               // $('<tr id=' + j + ' class="newtr"><td  colspan="12" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                if (listname == 'JobList') {
                    $('<tr id=' + j + ' class="newtr"><td  colspan="12" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                }
                if (listname == 'NoteList') {
                    $('<tr id=' + j + ' class="newtr"><td  colspan="8" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                }
                if (listname == 'Txlist') {
                    $('<tr id=' + j + ' class="newtr"><td  colspan="6" height=600px style="background: white;"><span style="line-height: 35px !important;">' + data + '</span></td></tr>').insertAfter($('#tr' + j).closest('tr'));
                }
                var a = parseInt(j);
                var b = a - 1;
                if (b < 0) {

                    location.href = "#";
                    location.href = "#th";

                }
                else {
                    location.href = "#";
                    location.href = "#tr" + b.toString();
                }



                if ((typeof ActiveList !== 'undefined') && (typeof ActiveTab !== 'undefined')) {
                    debugger;
                    RemoveActiveClass_WorkCard();
                    AddActiveClass_WorkCard(ActiveList, ActiveTab);
                }
                //if (ActiveList == "Documents") {
                //    $('#TabJobInfo').hide();
                //    $('#TabOtherNotices').hide();
                //}

                //if (ActiveList == "MiscInfo") {
                //    $('#TabJobInfo').hide();
                //    $('#TabOtherNotices').hide();

                //}
                //if (ActiveList == "ActionHistory") {
                //    $('#TabJobInfo').hide();
                //    //$('#TabOtherNotices').hide();
                //}
                //if()
                //If myentityinfo.IsServeCust = True Then
                //mytableedit.CustInfo.BackColor = Color.LightSteelBlue
                //End If

                makeDatatable('tblAdditionalLegalParties1'); 
                makeDatatable('tblNotes');
                makeDatatable('tblActionHistory');
                makeDatatable('tblDocuments');
                makeDatatable('tblNoticeHistory');
                makeDatatable('tblPendingNotices');
                makeDatatable('tblNotes1');
                makeDatatable('tblOtherNoticeHistory');
                makeDatatable('tblBillableItems');
                makeDatatable('tblTexasRequest');
                makeDatatable('tblMonthlyRequest');
                hideLoadingImage();
               
               
                //$('#ObjvwJobList_StartDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_NoticeSent').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_DateAssigned').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_EndDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_VerifiedDate').datepicker({ format: 'mm/dd/yyyy' });
                
                //$('#ObjvwJobList_RevDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#NewRevDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#obj_JobEdit_RevDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_LienAssignDate').datepicker({ format: 'mm/dd/yyyy' });
                //$("input[name='ObjvwJobList.EndDate']").datepicker({ format: 'mm/dd/yyyy' });
               
                //$('#ObjvwJobList_FileDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_BondAssignDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_BondDDD').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_NOIAssignDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_LienReleaseAssign').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_ReleaseFileDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_SNAssignDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_SNDDD').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_BondDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_LienDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_LienExtDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_NOIDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_SNDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_SNReleaseDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_BondReleaseDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjvwJobList_LEAssignDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjJobList_NOCRecDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjJobList_JobCompletionDate').datepicker({ format: 'mm/dd/yyyy' });
                //$('#ObjJobList_NOCDate').datepicker({ format: 'mm/dd/yyyy' });

                CheckMinDate();
                document.getElementById('divFilter').style.display = 'block';
                document.getElementById('btnBackToFilter').style.display = 'block';
               // document.getElementById('btnBackToJobList').style.display = 'block';

               // document.getElementById("chkNewDsk").checked = false;
                $('#divNewDsk').hide();
                $('#divNewRev').show();
               
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }



    function AddActiveClass_WorkCard(ActiveList, ActiveTab) {
        debugger;
        var current = document.getElementById(ActiveList);
        current.className += " active";
        var currentTab = document.getElementById(ActiveTab);
        currentTab.className += " active";
    }

    function RemoveActiveClass_WorkCard() {
        debugger;
        var IdList = ["JobInfo",
                        "Notes",
                        "ActionHistory",
                        "PrelimNotices",
                        "AdditionalLegalParties",
                        "MiscInfo",
                        "OtherNotices",
                        "BillableItems",
                        "Documents",
                        "ClientMiscInfo",
                        "TexasRequests",
                        "TabJobInfo",
                        "TabNotes",
                        "TabActionHistory",
                        "TabPrelimNotices",
                        "TabAdditionalLegalParties",
                        "TabMiscInfo",
                        "TabOtherNotices",
                        "TabBillableItems",
                        "TabDocuments",
                        "TabClientMiscInfo",
                        "TabTexasRequests",
                        "TabMonthlyReq"];
        $.each(IdList, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                debugger;
                var element = document.getElementById(name);
                element.classList.remove("active");
            }
        });
    }

      function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "WorkCardLiens")',
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#list').html(data);
                   // ClearDatatableState('tblWorkCardLiens');
                    makeDatatable('tblWorkCardLiens');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

</script>








