﻿
@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.ActionHistoryVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
</style>

@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/autocompleteScripts/jquery-1.5.1.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="Stylesheet" href="https://twitter.github.io/typeahead.js/css/examples.css"/>*@


<form id="FormActionHistory">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Job Action
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="overflow-y: inherit !important; height: 160px !important">

        <div class="col-xs-12 form-group NopaddingLR" style="display:none;">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3 rt">
                <lable>Action Code</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBox("TxtActionCode", null, new { @class = "form-control" })
            </div>
            <div class="col-xs-3">
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Action Type</lable>
            </div>
            <div class="col-xs-9" style="margin-left: -20px;">
                @Html.RadioButtonFor(m => m.RbtActionType, "Phone", new { @checked = true })<lable style="margin-left:5px;">Phone</lable> &nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.RbtActionType, "Received")<lable  style="margin-left:5px;">Received</lable>&nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.RbtActionType, "Cancel")<lable style="margin-left:5px;">Cancel</lable>&nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.RbtActionType, "Status")<lable style="margin-left:5px;">Status</lable>&nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.RbtActionType, "Review")<lable style="margin-left:5px;">Review</lable>&nbsp;&nbsp;
                @Html.RadioButtonFor(m => m.RbtActionType, "CancelShortcut")<lable style="margin-left:5px;">Cancel Shortcut</lable>&nbsp;&nbsp;
            </div>
        </div>

        <br />

        <div class="col-xs-12 form-group NopaddingLR" style="display:none;">
            <div class="col-xs-3 rt">
                <lable>Action Code</lable>
            </div>
            <div class="col-xs-9">

                <div class="multiselect">
                    <div class="selectBox" onclick="showActionHistoryCodeCheckboxes()">
                        <select id="selectActionHistoryCode" class="form-control">
                            <option name="ActionHistoryCodeList">--Select--</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="ActionHistoryCodescheckboxes" class="checkbox-sm">
                    </div>
                </div>
                @Html.HiddenFor(x => x.SelectedActionHistoryCodesId)
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR" style="display:none;">
            <div class="col-xs-3 rt">
                <lable>Action Code</lable>
            </div>
            <div class="col-xs-9">
                @Html.DropDownListFor(m => m.ddlActionHistoryCodeId, Model.ActionHistoryCodesList.OrderBy(m => m.Text), "--Select--", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 rt">
                <lable>Action Code</lable>
            </div>
            <div class="col-xs-9" style="margin-left: -25px;">
                @Html.DropDownList("ddlActionHistoryCode", new List<SelectListItem> { }, "--Select--", new { required = "required", @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR" style="display:none">
            <div class="col-xs-3 rt">
                <lable>Action Code</lable>
            </div>
            <div class="col-xs-9">
                <input type="text" class="typeahead" id="txtSearch" placeholder="Type username to search" autocomplete="off" />
                <div id="divautocomplete" class="tt-menu" style="display:none">
                </div>


            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="BtnAdd" class="btn btn-primary" onclick="AddJobActionCode();" style="margin-left: 588px;" />
            <input type="button" value="Cancel" id="CancelModalNote" data-dismiss="modal" class="btn btn-primary pull-right" style="margin-right: 16px;" onclick="CloseModal();" />
        </div>


    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.StatusCodeId)
        @*@Html.HiddenFor(m => m.hdntxtActionHistoryCodeId)*@
    </div>

</form>


<style>

    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
        width: 227%;
    }

        .selectBox select {
            width: 100%;
            /*font-weight: bold;*/
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }



    #ActionHistoryCodescheckboxes {
        display: none;
        border: 1px #af9494 solid;
        background: white;
        width: 95%;
        height: 525% !important;
        overflow-y: scroll;
        position: absolute;
        z-index: 999999;
        text-align: left;
        margin-left: -100px;
    }

        #ActionHistoryCodescheckboxes label {
            display: block;
            font-weight: 500;
        }

            #ActionHistoryCodescheckboxes label:hover {
                background-color: #1e90ff;
            }
</style>

<link href="@Url.Content("~/Content/jquery.editable-select.css")" rel="stylesheet" type="text/css" />



<script type="text/javascript">


       $("[name='RbtActionType']").click(function () {
           debugger;
           var ActionTypeValue = $(this).val();
           fillActionHistoryCodeByActionType(ActionTypeValue);
       });

       function fillActionHistoryCodeByActionType(ActionTypeValue) {
           debugger;
                   var ddlId = $("#ddlActionHistoryCode");
                   $.ajax({
                       type: "GET",
                       url: '@Url.Action("GetActionHistoryCodes", "WorkCardLiens")',
                       data: { ActionTypeValue: ActionTypeValue },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            ddlId.html("");
                            //var selectvalue = "";
                            ddlId.append($('<option></option>').val(-1).html( "--Select--"));
                            for (var i = 0; i < data.length; i++) {
                                ddlId.append($('<option></option>').val(data[i].Id).html(data[i].Name));
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve ID Numbers');
                        }
                    });
        }
</script>

<script type="text/javascript">


    function CloseModal() {
        $('#myModal').modal("hide");
    }

    function AddJobActionCode() {
        showLoadingImage();
        //var CollectionStatusId = $("#CollectionStatusId").val();
        //var DebtAccountId = $("#DebtAccountId").val();
        var StatusCodeId =  @Model.StatusCodeId;
        var JobId = @Model.JobId;
        //var ActionCodesId = $("#TxtActionCode").val();
        ///var ActionCodesId =$("#SelectedActionHistoryCodesId").val();
        //var ActionCodesId =$("#ddlActionHistoryCodeId").val();
       var ActionCodesId =$("#ddlActionHistoryCode").val();
        //var ActionCodesId =$("#txtActionHistoryCode").val();
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
        debugger;
       // $('#myModalAddActionCode').modal('hide');
            $.ajax({
                url: '@Url.Action("AddActionCode", "WorkCardLiens")',
                data: { ActionCodesId: ActionCodesId, StatusCodeId: StatusCodeId, JobId: JobId },
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#myModalAddActionCode').modal('hide');
                    ShowDetails(JobId,j,ListName,"ActionHistory","TabActionHistory");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    if(data == 0)
                    {
                        alert("Invalid Action Code.");
                        hideLoadingImage();
                    }
                    if(data == 2)
                    {
                        debugger;
                        ActionCodeAddedSuccessPopup();
                        hideLoadingImage();
                    }

                    if(data == -1)
                    {
                        alert("User Session Expired. Log In Again.");
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $('#myModalAddActionCode').modal('hide');
                    hideLoadingImage();
                }
            });
    }

    function ActionCodeAddedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Action Code Has Been Saved.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>


