﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.OwnerEditVM

@{
    Layout = null;
}
<style>

    .lbl1 {
        text-align: right;
    }

    .ui-widget-content {
        width: 30% !important;
    }
</style>
<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.22.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.23.custom.css")" rel="stylesheet" type="text/css" />
@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery-1.8.0.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.23.custom.min.js")" type="text/javascript"></script>

<form id="FormLendeInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Lender/Surety
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;" onclick="CancleLender()">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 rt">
                @Html.RadioButtonFor(m => m.RdbBtn, "N", new { @checked = true })
                <lable>&nbsp;By Name</lable>
                &nbsp; &nbsp; &nbsp;
                @Html.RadioButtonFor(m => m.RdbBtn, "A")
                <lable>&nbsp;By Address</lable>
            </div>

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@
                    @*<input type="text" />*@
                    @Html.TextBoxFor(m => m.cboName, new { @class = "form-control", style = "display:inline;Width:453PX;" })
                </div>

                <div class="col-xs-3">
                    <input type="button" value="Select" id="SelectLegalParty" class="btn btn-primary" style="margin-right: -13px;" onclick="ShowLenderDetails()" />

                </div>
            </div>

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                </div>

                @*<div class="col-xs-3">
                        <input type="button" value="New" id="idNewLender" class="btn btn-primary" style="margin-right: -13px;margin-top: 5px;" onclick="NewLender()" />

                    </div>*@
            </div>


            @*<div class="col-xs-12  form-group">
                    <div class="col-xs-12 NopaddingLR">
                        <br />
                        <div id="tblCustomerList" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.LenderList.Count <= 0  ? "display:none" : "display:block")">
                            <table id="tblCustomerLookUp" class="table table-bordered dataTable table-hover grid " border="1" style="width:946px;">
                                <thead>
                                    <tr>
                                        <th class="no-sort" style="width: 13px;">View</th>


                                        <th style="width: 30px;">Name</th>

                                        <th style="width: 82px;">Address</th>
                                        <th style="width: 82px;">Id</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.LenderList.Count >= 1 && Model != null && Model.LenderList != null)
                                    {
                                        foreach (var i in Model.LenderList)
                                        {
                                            <tr>
                                                <td>
                                                    <button type="button" onclick="ShowLenderDetails('@i.Id')" class="btn btn-default btn-icon btn-pure">
                                                        <i class="icon wb-eye" aria-hidden="true"></i>
                                                    </button>
                                                </td>


                                                <td>
                                                    @i.Name
                                                </td>

                                                <td>
                                                    @i.Address
                                                </td>
                                                <td>
                                                    @i.Id
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>*@


            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-4  checkbox-sm">


                </div>

                <div class="col-xs-4  checkbox-sm">

                </div>

                <div class="col-xs-4  checkbox-sm" id="idchkChangeLEToOW">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                    @Html.CheckBoxFor(m => m.chkChangeLEToOW)
                    @*@Html.CheckBoxFor(m => m.objADJobLegalParties.NoCallGC, new { style = "" })*@
                    @*<input type="checkbox"  />*@
                    <lable>Change to Owner</lable>
                </div>
            </div>


        </div>

        @*<div class="col-xs-12 NopaddingLR">
                <div class="col-xs-12 form-group" style="text-align: right; margin-bottom: -2%;margin-left: -3%;">
                    <b>
                        <lable style="font-weight: 1000; font-size: medium;">
                            @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                        </lable>
                    </b>
                </div>
            </div>*@

    </div>

    <div class="form-group col-xs-12 lt NopaddingLR">
        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-10">
                <fieldset class="customFieldset" id="fieldset" style="width:685px">
                    <legend>Lender/Surety Info</legend>




                    <div class="col-xs-12 form-group lt NopaddingLR">

                        <div class="col-xs-3 lbl1">
                            <lable>Name</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressName, new { @class = "form-control", style = "display:inline;width:317px" })
                            <div id="ErrorLenderName" class="Invalid-feedback" style="display:none">
                                Please Enter LegalParty Name
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <input type="button" value="Delete" id="DeleteButton" class="btn btn-primary" style="margin-left: 108px;" onclick="DeleteLenderByCheck()" />

                        </div>
                    </div>





                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Address 1</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressLine1, new { @class = "form-control", style = "display:inline;width:317px;" })
                        </div>
                        <div class="col-xs-4 checkbox-sm">
                            @Html.CheckBoxFor(m => m.objADJobLegalParties.IsNonUSAddr, new { style = "margin-left: 61px;" })
                            <lable style="margin-left: 10px;">Non US Addr</lable>

                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Address 2</lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressLine2, new { @class = "form-control", style = "display:inline;width:317px;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>City/St/Zip</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.City, new { @class = "form-control", style = "display:inline; width:145px" })
                            <div id="ErrorLenderCity" class="Invalid-feedback" style="display: none; width: 165px;">
                                Invalid City for the Zip Code
                            </div>
                        </div>
                        <div class="col-xs-2">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.State, new { @class = "form-control", style = "display:inline; width:50px;margin-left: 98px;" })
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.PostalCode, new { @class = "form-control", style = "display:inline; width: 101px; margin-left: 43px;" })
                            <div id="ErrorLenderZip" class="Invalid-feedback" style="display:none; margin-left: 44px;">
                                Invalid State for the Zip Code
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.Telephone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                        </div>

                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Bond#</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.RefNum, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1 checkbox-sm" id="idchkSuretyBox" style="margin-left:7px;">
                            @Html.CheckBoxFor(m => m.chkSuretyBox)
                            <lable>SuretyBox</lable>
                        </div>
                        <div class="col-xs-3">

                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                    </div>




                </fieldset>


            </div>


        </div>
    </div>



    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.btnDelete)
        @Html.HiddenFor(m => m.IschkChangeOWToLE)
        @Html.HiddenFor(m => m.IschkSuretyBox)




    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">

            <input type="button" value="OK" id="OKModalOwnerEdit" class="btn btn-primary" onclick="SaveLender()" />
            <input type="button" value="Cancel" id="CancelModalLenderEdit" class="btn btn-primary" data-dismiss="modal" style="margin-right: -11px;" onclick="CancleLender()" />

        </div>
    </div>
</form>
<script type="text/javascript">

    $('#cboName').keyup(function () {
        var ClientId = @Model.ClientId;
        debugger;
        var SearchInitial = $('#cboName').val();
        var RdbBtnVal = $('input[name="RdbBtn"]:checked').val();
        if (SearchInitial.length > 1) {
            $("#cboName").autocomplete({

            source: function (request, response) {
                debugger;

                //alert(request.term);
                $.ajax({
                    url: '@Url.Action("ShowSearchLenderList", "WorkCardLiens")',
                    data: "{'prefix': '" + request.term + "','ClientId': '" + ClientId + "','RdbBtnVal': '" + RdbBtnVal + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        debugger
                        if (data.length != 0) {
                            response($.map(data, function (item) {
                                debugger;
                                //select: function s(event, ui) {
                                //    $(".ui-state-hover").val(ui.item.label);
                                //    cityID = ui.item.id;
                                //    alert(cityID);
                                //}
                                $(".ui-autocomplete").css({ "max-height": "150px", "overflow": "auto", "width": "20% !important", "z-index": "999999999999999", "Color": "black" });


                                return item;

                                //select: function s(event, ui) {
                                //    var str = item.split("|");
                                //    $('#cboCustName').val(str[0]);
                                //}
                            }))
                        }
                        else {
                            response([{ label: 'No results found.', val: -1 }]);
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
                  },
                  select: showLabel,
                  focus: showLabel,


            minLength: 1,
            //delay: 1000,
            maxShowItems: 5
            //select: function (e, i) {
            //    $("#hfCustomer").val(i.item.val);
            //},
            //minLength: 1
              });


        }


    });

    function showLabel(event, ui) {
        debugger;
        var str = $('.ui-state-hover').text();
        var strs = str.split("|");
        $('#cboName').val(strs[0] + "" + strs[2]);
        event.preventDefault();

    }

     @*function SearchLender() {

        debugger;
        var SearchInitial = $('#cboName').val();
        //var data = $('#FormEditCustomer').serialize();
         var JobId = @Model.JobId;
        var ClientId = @Model.ClientId;
        $.ajax({
            url: '@Url.Action("ShowLenderInfo", "WorkCardLiens")',
            data: { SearchInitial: SearchInitial, ClientId: ClientId, JobId: JobId, LegalPartyId: 0, IsPrimary: false },
            type: "POST",
            success: function (data) {
            debugger;
            //if (data) {
                $('#myModalLenderInfo .modal-content').html(data);
            //}
            //else {
            //$("#myChangeCustLookUpModel").modal("hide");
            //$('body').removeClass('modal-open');
            //$('.modal-backdrop').remove();
            //$('#errorMsg').show();
            //}
            },
            fail: function (error) {
                $("#myChangeCustLookUpModel").modal("hide");
                $("#DeleteButton").hide();
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('#errorMsg').show();
            }
            });

    }*@
    function ShowLenderDetails(LenderId) {
        var Name = $('#cboName').val();
        var NameValue = Name.split(")");
        var test = NameValue[0].split("(");
        var LenderId = test[1];
        debugger;
        showLoadingImage();
         var JobId = @Model.JobId;
        $.ajax({
            url: '@Url.Action("LoadLenderInfo", "WorkCardLiens")',
            data: { LenderId: LenderId, JobId: JobId },
            type: "POST",
            success: function (data) {
                debugger;

                var $response = $(data);

                var btnDelete = $response.find('#btnDelete').val();
                var chkChangeLEToOW = $response.find('#IschkChangeOWToLE').val();
                var chkSuretyBox = $response.find('#IschkSuretyBox').val();

                $('#myModalLenderInfo .modal-content').html(data);
                $('#myModalLenderInfo').modal("show");

                if (btnDelete == "True") {
                    // $('#myModalGCInfo').find('#fieldset').disable();
                    $('#myModalLenderInfo').find('#DeleteButton').show();
                }
                else {
                    $('#myModalLenderInfo').find('#DeleteButton').hide();


                }
                if (btnDelete == "False") {
                    // $('#myModalGCInfo').find('#fieldset').disable();
                    $('#myModalLenderInfo').find('#btnDelete').hide();
                }

                if (chkChangeLEToOW == "True") {
                    $('#myModalLenderInfo').find('#idchkChangeLEToOW').show();
                }
                else {
                    $('#myModalLenderInfo').find('#idchkChangeLEToOW').hide();

                }

                if (chkSuretyBox == "True") {
                    $('#myModalLenderInfo').find('#idchkSuretyBox').show();
                }
                else {
                    $('#myModalLenderInfo').find('#idchkSuretyBox').hide();

                }
                CheckMinDate();





                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function NewLender() {
      var ClientId = @Model.ClientId
         $.ajax({
            url: '@Url.Action("NewLender", "WorkCardLiens")',
             data: { LenderId: 0, ClientId:ClientId},
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalLenderInfo .modal-content').html(data);
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                CheckMinDate();
                //$('#list').hide();




                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }



    function SaveLender() {
        debugger;
        showLoadingImage();
        //var email = $('#objADClientGeneralContractor_Email').val();
        //if (EmailValidate(email)) {
         var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();

            if (Validate()) {
                //$('#myModalJobEdit').modal('hide');
                //$('body').removeClass('modal-open');
                //$('.modal-backdrop').remove();
                $.ajax({
                    url: '@Url.Action("SaveLenderInfo", "WorkCardLiens")',
                    data: $('#FormLendeInfo').serialize(),
                    type: "POST",
                    success: function (data) {
                        if (data == 0) {
                            $("#ErrorLenderZip").show();
                            $('#myModalLenderInfo').show();
                        }
                        else if (data == -1) {
                            $("#ErrorLenderCity").show();
                            $('#myModalLenderInfo').show();
                        }
                        else {
                            $('#myModalLenderInfo').hide();
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            LenderSuccessPopup();
                        }



                        ShowDetails(JobId,j,ListName, "JobInfo", "TabJobInfo");
                        hideLoadingImage();

                    },
                    fail: function (error) {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                });
            }
       // }
    }

     function DeleteLenderByCheck() {

        debugger;
        showLoadingImage();
        //$('#myModalJobEdit').modal('hide');
        //$('body').removeClass('modal-open');
        //$('.modal-backdrop').remove();
        var JobId = @Model.JobId;

            $.ajax({
                url: '@Url.Action("CheckToDeleteInfo", "WorkCardLiens")',
                data: { JobId: JobId, IsPrimary: IsPrimary, TypeCode:"OW"},
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == true) {
                        if (confirm("Notices Pending – Are you sure you want to delete the Legal Party ?")) {
                            DeleteLender();
                        }
                        else {
                            return false;
                        }

                    }
                    else {
                        DeleteLender();
                    }
                    //$('#myModalGCInfo').html(data);
                    //$('#myModalGCInfo').hide();
                    //$('.modal-backdrop').remove();

                    //GCDeleteSuccessPopup();
                    //ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                    hideLoadingImage();
                    //EditMoreInfoCheckMinDate();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });


    }

         function DeleteLender(){
        debugger;
        showLoadingImage();
        //$('#myModalJobEdit').modal('hide');
        //$('body').removeClass('modal-open');
        //$('.modal-backdrop').remove();
             var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
            $.ajax({
                url: '@Url.Action("DeleteLenderInfo", "WorkCardLiens")',
                data: $('#FormLendeInfo').serialize(),
                type: "POST",
                success: function (data) {
                    $("#myModalLenderInfo").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data == 1) {
                        ShowDetails(JobId, j, ListName, "JobInfo", "TabJobInfo");
                        $('#myModalLenderInfo').hide();
                        hideLoadingImage();
                        LenderDeleteSuccessPopup();

                    }
                    else if (data == 0) {
                        debugger;
                        alert("Error.");
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

    }

    function CancleLender() {
        debugger;
        debugger;
        $('#myModalLenderInfo').modal("hide");
        hideLoadingImage();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }


    function LenderSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Lender Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function LenderDeleteSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Lender Info Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#objADJobLegalParties_AddressName").val().length <= 0) {
            $("#ErrorLenderName").show();
            return false;
        }
        else {
            $("#ErrorLenderName").hide();
        }


        return true;
    }



</script>

