﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.MailReturnVM

@{
    Layout = null;
}

<form id="FormMailReturn">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Mail Status
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body">

        <div class="form-group col-xs-12  NopaddingLR">
            <div class="form-group col-xs-4 NopaddingLR">
                <fieldset class="customFieldset" id="fieldset" style="margin-top:15px">
                    <legend>Mail Was:</legend>
                    <div class="form-group col-xs-12">
                        @Html.RadioButtonFor(m => m.RbtOption, "Returned", new { @checked = true })
                        &nbsp;
                        <lable>Returned</lable>
                    </div>
                    <div class="form-group col-xs-12">
                        @Html.RadioButtonFor(m => m.RbtOption, "Refused")
                        &nbsp;
                        <lable>Refused</lable>
                    </div>
                    <div class="form-group col-xs-12">
                        @Html.RadioButtonFor(m => m.RbtOption, "Forwarded")
                        &nbsp;
                        <lable>Forwarded</lable>
                    </div>
                </fieldset>
            </div>
            <div class="form-group col-xs-7 NopaddingLR" style="margin-left:39px;">
                <fieldset class="ResearchBoxcustomFieldset" id="fieldset" style="margin-top:15px">
                    <legend></legend>
                    <div class="col-xs-2" style="text-align: left;margin-left:10px">
                        <lable>Research</lable>
                    </div>
                    <div class="col-xs-4">
                        @*@Html.DropDownList("ddlActionHistoryCode", new List<SelectListItem> { }, "--Select--", new { required = "required", @class = "form-control" })*@

                        @Html.DropDownListFor(m => m.ResearchId, Model.ResearchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })
                        @*@Html.TextBoxFor(m => m.objEditClient.BranchNumber, new { @class = "form-control", style = "display:inline;" })*@
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.optReturned)
        @Html.HiddenFor(m => m.optRefused)
        @Html.HiddenFor(m => m.optForwarded)
        @Html.HiddenFor(m => m.visblBox)
        @Html.HiddenFor(m => m.JobNoticeHistoryId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.LegalPartyType)
        @Html.HiddenFor(m => m.ResearchList)

        @*@Html.HiddenFor(m => m.hdntxtActionHistoryCodeId)*@
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnMailReturns" value="Save" class="btn btn-primary" onclick="SaveMailReturns()" />

            <input type="button" value="Cancel" id="btnMailReturnsCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>
<script>
    function SaveMailReturns() {
         debugger;
        showLoadingImage();
        var JobId = @Model.JobId;
        var data = $('#FormMailReturn').serialize();
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
        $.ajax({
            url: '@Url.Action("SaveMailReturnsDetails", "WorkCardLiens")',
            data: data,
            type: "POST",
          //  dataType: 'json',
            success: function (data) {
                debugger;

                $("#myModalMailReturn").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if(data == 1)
                {
                    ShowDetails(JobId, j, ListName, "PrelimNotices", "TabPrelimNotices");
                    SaveMailReturnsSuccessPopup();
                    //$('#successMsg').show();
                    hideLoadingImage();
                    //ShowDetailsNew(DebtAccountId,j, "Notes", "TabNotes");
                }
                else if (data == 0)
                {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditNote").modal("hide");
                hideLoadingImage();
            }
        });
    }


    function SaveMailReturnsSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Mail Returns Info Has Been Updated.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>