﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ADJobVerifiedSentRequest

<style>
    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }
</style>


<form id="FormMonthlyReq">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Monthly Request
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;"  onclick="Cancle()">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12  NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-8 NopaddingLR">
                    @*<fieldset class="customFieldset">*@
                    @*<legend></legend>*@

                    <div class="col-xs-12 form-group NopaddingLR">
                        <div class="col-xs-6">
                            <lable>Amount Owed</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.AmountOwed, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.AmountOwed)), @class = "form-control", style = "display:inline;"})
                        </div>
                        <div class="col-xs-3">
                         
                        </div>
                    </div>

                    <div class="col-xs-12 form-group  NopaddingLR" style="">
                        <div class="col-xs-6">
                            <lable>Month Debt was Incured</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.MonthDebtIncurred, new { @class = "form-control", style = "display:inline;" })
                        </div>

                    </div>

                    <div class="col-xs-12 form-group  NopaddingLR" style="margin-top: 8px;">
                        <div class="col-xs-6">
                            <lable>Statement of Account</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextAreaFor(m => m.StmtOfAccts, new { @class = "form-control", rows = "5", cols = "70", style = "display:inline;" })
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.JobId)
    </div>




    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @if (Model.IsMnthlyReqDelete == true)
            {
                <input type="button" value="Delete" id="DeleteTexasReq" class="btn btn-primary" onclick="DeleteMonthlyReq()" />
            }
            <input type="button" value="OK" id="OKModalEditJob" class="btn btn-primary" onclick="SaveMonthlyReq()" />
            <input type="button" value="Cancel" id="CancelModalEditJob" class="btn btn-primary" onclick="Cancle()" />
        </div>
    </div>
</form>




<script type="text/javascript">

        function Cancle() {
        debugger;
        $('#myModalMonthlyRequest').modal("hide");
        hideLoadingImage();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

    }


    function SaveMonthlyReq() {
        debugger;
        showLoadingImage();
          var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();


                $.ajax({
                    url: '@Url.Action("SaveMonthlyRequestDetails", "WorkCardLiens")',
                    data: $('#FormMonthlyReq').serialize(),
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data == 1) {
                            $('#myModalMonthlyRequest').html(data);
                            ShowDetails(JobId, j, ListName, "MonthlyReq", "TabMonthlyReq");
                            hideLoadingImage();
                            $('#myModalMonthlyRequest').hide();
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            NoticesRequestSuccessPopup();


                            hideLoadingImage();
                        }
                        else {
                            alert("Something went wrong");
                            hideLoadingImage();
                        }
                    },
                    fail: function (error) {
                        hideLoadingImage();
                        alert("Something went wrong");
                    }
                });

    }

    function DeleteMonthlyReq(Id) {
         var JobId =  @Model.JobId;
         var Id = @Model.Id;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
       debugger;
        if (confirm("Are You Sure?")) {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteMonthlyRequest", "WorkCardLiens")',
                data: { MonthlyRequestId: Id, JobId: JobId },
                type: "POST",
                success: function (data) {
                    debugger;
                    //ShowDetails(JobId, "Notes", "TabNotes");
                    $("#myModalMonthlyRequest").modal("hide");
                    debugger;
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data) {
                        DeleteNoticesRequestPopup();
                        //$('#deleteMsg').show();
                        hideLoadingImage();
                        ShowDetails(JobId, j, ListName, "MonthlyReq", "TabMonthlyReq");
                    }
                    else {
                        alert("Something went wrong");
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    alert("Something went wrong");
                    $("#myModalMonthlyRequest").modal("hide");
                    hideLoadingImage();
                }
            });
        }
    }



    function NoticesRequestSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Notice Request Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function DeleteNoticesRequestPopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Notice Request Details Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>