﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.NoticeEditVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
</style>

@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/autocompleteScripts/jquery-1.5.1.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="Stylesheet" href="https://twitter.github.io/typeahead.js/css/examples.css"/>*@


<form id="FormAlertList">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Notice Request
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

       

        <div class="form-group col-xs-12">
            <fieldset class="customFieldset" style="margin-top:15px">

                <legend>The Following Issues Need to Corrected</legend>

                <label style="margin-left: 14px;"><b>Please Correct the Following</b></label>
                @if (ViewBag.AlertList != null)
                {
                    @Html.ListBox("ddlAlertList", new SelectList(ViewBag.AlertList, "Id", "Description"), new { @class = "form-control", style = "width:676px;color:red !important;margin-left: 11px;font-size: 19px;argin-top: -14px;" })

                }
                </fieldset>
        </div>
        <div class=" modal-footer col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="OK" id="BtnAdd" class="btn btn-primary" onclick="AddJobActionCode();" style="margin-left:559px;" />
            <input type="button" value="Cancel" id="CancelModalNote" data-dismiss="modal" class="btn btn-primary pull-right" style="margin-right:-15px;" onclick="CloseModal();" />
        </div>


    </div>

    <div id="hiddenFields">

        @*@Html.HiddenFor(m => m.hdntxtActionHistoryCodeId)*@
    </div>

</form>
<script>
        function check() {
            debugger;
        $("#tblLegalParties input:checkbox").prop("checked", true);
    }

        function Uncheck() {
         debugger;
        $("#tblLegalParties input:checkbox").prop("checked", false);
    }
</script>


