﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.NoticeEditVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }
</style>

@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/autocompleteScripts/jquery-1.5.1.min.js")" type="text/javascript"></script>*@
@*<script src="@Url.Content("~/Content/autocompleteScripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="Stylesheet" href="https://twitter.github.io/typeahead.js/css/examples.css"/>*@


<form id="FormNoticeEdit">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            Notice Request
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR" id="ComDiv">
            <div class="col-xs-10 NopaddingLR">
                <fieldset class="customFieldset" style="width:735px;margin-top:15px">

                    <legend>Prelim Request</legend>
                    <div class="col-xs-12 form-group NopaddingLR">
                        <div class="col-xs-9 form-group NopaddingLR" id="RbtNoticeTypeDiv">
                            <div class="col-xs-2 form-group">
                                @Html.RadioButtonFor(m => m.RbtNoticeType, "Prelim")&nbsp;<lable>Prelim</lable> &nbsp;&nbsp;
                            </div>
                            <div class="col-xs-4 form-group">
                                @Html.RadioButtonFor(m => m.RbtNoticeType, "Amended Notice")&nbsp;<lable>Amended Notice</lable>&nbsp;&nbsp;
                            </div>
                            <div class="col-xs-3 form-group">
                                @Html.RadioButtonFor(m => m.RbtNoticeType, "Resend", new { @checked = true })&nbsp;<lable>Resend</lable>&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="col-xs-3 checkbox-sm form-group NopaddingLR" style="margin-left: 10px">
                            @Html.CheckBoxFor(m => m.RushBox)
                            <label>Rush Order</label>
                        </div>

                    </div>

                    <div class="col-xs-12 form-group NopaddingLR">
                        <input type="button" value="Check" id="btnchecks" class="btn btn-secondary" style="margin-right: 10px" ; onclick="check()" />
                        <input type="button" value="Uncheck" id="btnUnchecks" class="btn btn-secondary" style="margin-right: 524px;" onclick="Uncheck()" />


                    </div>


                    <div class="col-xs-12  form-group">
                        <div class="col-xs-12 NopaddingLR">
                            <br />
                            <div id="tblLegalPartiesList" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.objLegalPartiesList.Count <= 0  ? "display:none" : "display:block")">
                                <table id="tblLegalParties" class="table table-bordered dataTable table-hover grid " border="1">
                                    <thead>
                                        <tr>
                                            <th class="no-sort" style="width: 5px;">Checked</th>


                                            <th style="width: 20px;">Type Code</th>
                                            
                                            <th style="width: 10px;">Primary</th>
                                            <th style="width: 50px;">LegalParty Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var i in Model.objLegalPartiesList)
                                        {
                                        <tr class="item">
                                            <td class="nr">
                                                <div class="col-xs-2 checkbox-sm">
                                                    <input id="@i.Id"
                                                           name="ischeck"
                                                           type="checkbox"  @{ if (ViewBag.checkAll == true)
                                                               { @: checked="checked" value="true"
                                                           } } />
                                                </div>
                                            </td>


                                            <td>
                                                @i.TypeCode
                                            </td>
                                            @{
                                                if (i.IsPrimary == true)
                                                {
                                                    <td>
                                                        YES
                                                    </td>
                                                }
                                                else
                                                {
                                                  <td>
                                                    NO
                                                  </td>
                                                    }
                                                }

                                                <td>
                                                    @i.AddressName
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group col-xs-12 lt">
            @if (ViewBag.AlertList != null)
            {
                @Html.ListBox("ddlAlertList", new SelectList(ViewBag.AlertList, "Id", "Description"), new { @class = "form-control", style = "width:325px;margin-left: -230px;color:red !important;font-size: 19px;argin-top: -14px;" })

            }
            </div>
            <div class=" modal-footer col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                <input type="button" value="OK" id="BtnAdd" class="btn btn-primary" onclick="SavePrelimNotice();" style="margin-left:559px;" />
                <input type="button" value="Cancel" id="CancelModalNote" data-dismiss="modal" class="btn btn-primary pull-right" style="margin-right:-15px;" />
            </div>


        </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Panel1)
        @Html.HiddenFor(m => m.GroupBox2)
        @Html.HiddenFor(m => m.OK_Button)
        @Html.HiddenFor(m => m.btncheck)
        @Html.HiddenFor(m => m.btnUncheck)
        @Html.HiddenFor(m => m.ListView)
        @Html.HiddenFor(m => m.dv)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.objLegalPartiesList)
        @Html.HiddenFor(m => m.LegalPartiesList)
        @Html.HiddenFor(m => m.RushBox)
        @*@Html.HiddenFor(m => m.hdntxtActionHistoryCodeId)*@
    </div>

</form>
<script>
    $("input[name='RbtNoticeType']").click(function () {
       //$('input[type=radio][name=RbtNoticeType]').change(function () {
        debugger;
        var RbtPrintOption = $("input[name='RbtNoticeType']:checked").val();
        if (RbtPrintOption == "Amended Notice") {
            $('#RushBox').prop('checked', false);
        }
        else {
            var s = '@Model.RushBox';
            if (s == true) {
                $('#RushBox').prop('checked', true);
            }
            else {
                $('#RushBox').prop('checked', false);
            }
        }
        if (RbtPrintOption == "Resend") {
            $('#btnchecks').prop('disabled', false);
            $('#btnUnchecks').prop('disabled', false);
            $('#ischeck').prop('disabled', false);
            $('#RushBox').prop('disabled', false);
            $('#RushBox').prop('checked', false);
        }
        else {
            $('#btnchecks').prop('disabled', true);
            $('#btnUnchecks').prop('disabled', true);
            $('#ischeck').prop('disabled', true);
            $('#RushBox').prop('disabled', true);
            check();
            var s = '@Model.RushBox';
            if (s == true) {
                $('#RushBox').prop('checked', true);
            }
            else {
                $('#RushBox').prop('checked', false);
            }

        }
    });

        function check() {
            debugger;
        $("#tblLegalParties input:checkbox").prop("checked", true);
    }

        function Uncheck() {
         debugger;
        $("#tblLegalParties input:checkbox").prop("checked", false);
    }


    function SavePrelimNotice() {
        debugger;


        //var tbl = $("tr.item").each(function () {
        //    $this = $(this);
        //    debugger;
        //    var value = $(this).find("td").eq(0).html();
        //    var quantity1 = $(this).find("td").eq(1).html();
        //    var quantity2 = $(this).find("td").eq(2).html();
        //    var quantity3 = $(this).find("td").eq(3).html();

        //});
       var panel = $('#RbtNoticeTypeDiv').is(":visible");
        debugger;
        var parameters = [];
        // TODO: maybe you want to assign an unique id to your table element
        
        $("tr.item").each(function () {
            $this = $(this);
            debugger;
            parameters.push({
                ischeck: $(this).closest("tr").find("input[name='ischeck']").is(':checked'),
                Id: $(this).closest("tr").find("input[name='ischeck']").attr('id'),
                TypeCode: $(this).find("td").eq(1).html(),
                IsPrimary: $(this).find("td").eq(2).html(),
                AddressName: $(this).find("td").eq(3).html(),
            });
        });
       // var s = tbl;
        //alert(tbl);
        //var tbl = $('#tblLegalParties tr:has(td)').map(function (i, v) {
        //    var $td = $('td', this);
        //    return {

        //        ischeck : $td.eq(0).text(),
        //        TypeCode: $td.eq(1).text(),
        //        IsPrimary: $td.eq(2).text(),
        //        AddressName: $td.eq(3).text()
        //    }
        //}).get();

        @*var tbl = document.getElementById('tblLegalParties');
        for (i = 1; i < tblLegalParties.rows.legth; i++) {
            ischeck = document.getElementById('ischeck');
            var  TypeCode = $(this).parents("tr").find("td").eq(1).html();
               IsPrimary = $td.eq(2).text(),
                AddressName = $td.eq(3).text()
            alert(TypeCode);
        }
        alert(TypeCode);
        var tbl = '@Model.objLegalPartiesList';

        var data = $('#FormNoticeEdit').serialize()*@;
        //var list = '@Model.objLegalPartiesList';
        //var list1 = '@Model.LegalPartiesList';
       // alert(list);
        //list = JSON.stringify({ 'list': list });
      
        var RushBox = $('#RushBox').is(':checked');
        var RbtNoticeType = $('#RbtNoticeType').val();
        var panelVal = $('#RbtNoticeType').is(":visible");
        var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
        //var data = $('#FormNoticeEdit').serialize()
    $.ajax({
        url: '@Url.Action("SavePrelimNotice", "WorkCardLiens")',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({ noticeList: parameters, JobId: JobId, RushBox: RushBox, RbtNoticeType: RbtNoticeType, panelVal: panel }),
            //data: data,
            type: "POST",
        success: function (data) {
            if (data == 0) {
                alert("Please select legal parties to send");
            }
               
                
            else {
                ShowDetails(JobId, j, ListName, "PrelimNotices", "TabPrelimNotices");
                $('#myModalEditNotice').hide();
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                    SavePrelimNoticeSuccessPopup();
                }
                

                hideLoadingImage();
            },


            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }

        })
    }

    function SavePrelimNoticeSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Prelim Notice Info Has Been Updated.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>


