﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.OwnerEditVM
@{
    Layout = null;
}
<style>

    .lbl1 {
        text-align: right;
    }

    .ui-widget-content {
        width: 30% !important;
    }
</style>

<form id="FormOwnerInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Owner
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@
                    @*<input type="text" />*@
                    @Html.TextBoxFor(m => m.cboName, new { @class = "form-control", style = "display:inline;Width:453PX;" })
                </div>

                <div class="col-xs-3">
                    <input type="button" value="Search" id="SearchOwnerByName" class="btn btn-primary" style="margin-right: -13px;" onclick="SearchOW()" />

                </div>
            </div>

            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-9">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                </div>

                @*<div class="col-xs-3">
                    <input type="button" value="New" id="NewGC" class="btn btn-primary" style="margin-right: -13px;margin-top: 5px;" />

                </div>*@
            </div>


            <div class="col-xs-12  form-group">
                <div class="col-xs-12 NopaddingLR">
                    <br />
                    <div id="tblOwnerList" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.OWList.Count <= 0  ? "display:none" : "display:block")">
                        <table id="tblOwnerLookUp" class="table table-bordered dataTable table-hover grid " border="1" style="width:946px;">
                            <thead>
                                <tr>
                                    <th class="no-sort" style="width: 13px;">View</th>


                                    <th style="width: 30px;">Name</th>

                                    <th style="width: 82px;">Address</th>
                                    <th style="width: 82px;">Id</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.OWList.Count >= 1 && Model != null && Model.OWList != null)
                                {
                                    foreach (var i in Model.OWList)
                                    {
                                        <tr>
                                            <td>
                                                <button type="button" onclick="ShowOwnerDetails('@i.Id')" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-eye" aria-hidden="true"></i>
                                                </button>
                                            </td>


                                            <td>
                                                @i.Name
                                            </td>

                                            <td>
                                                @i.Address
                                            </td>
                                            <td>
                                                @i.Id
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 ">
                <div class="col-xs-4  checkbox-sm"  id="IsMechLienAgent" @{if(ViewBag.IsMLAgent != null && ViewBag.IsMLAgent != true) {@:hidden="hidden"
                              }}>
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                    @Html.CheckBoxFor(m => m.MLAgent, new { style = "" })
                    @*<input type="checkbox"/>*@
                    <lable>Is Mech Lien Agent</lable>
                </div>

                <div class="col-xs-4  checkbox-sm" id="IsCopyJobAddress">
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                    @Html.CheckBoxFor(m => m.chkCopyJobAddr, new { style = "" })
                    @*<input type="checkbox"/>*@
                    <lable>Copy Job Address</lable>
                </div>

                <div class="col-xs-4  checkbox-sm"  id="IsChangetoLender" @{if(ViewBag.IschkChangeOWToLE != true) {@:hidden="hidden"
                              }}>
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                    @Html.CheckBoxFor(m => m.chkChangeOWToLE, new { style = "" })
                    @*<input type="checkbox"/>*@
                    <lable>Change to Lender</lable>
                </div>
            </div>

            <div class="col-xs-12 ">
                <div class="col-xs-4  checkbox-sm" id="IsMakeSameAsGC" @{if (ViewBag.IschkMakeSameAsGc != true) { @: hidden="hidden"
                     }}>
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                    @Html.CheckBoxFor(m => m.chkMakeSameAsGc, new { style = "" })
                    @*<input type="checkbox"/>*@
                    <lable>Make Same As GC</lable>
                </div>


                <div class="col-xs-4  checkbox-sm" id="IsChangetoPrimary" style="position:fixed" @{if (ViewBag.IschkChangeToPrimary != true) { @: hidden="hidden"
                     }}>
                    @*@Html.DropDownListFor(m => m.obj_ClientEdit.ClientId, Model.ClientBranchList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; width:354px" })-->*@

                    @Html.CheckBoxFor(m => m.chkChangeToPrimary)
                    @*@Html.CheckBoxFor(m => m.objADJobLegalParties.NoCallGC, new { style = "" })*@
                    @*<input type="checkbox"  />*@
                    <lable>Change to Primary</lable>
                </div>

                <div class="col-xs-4  checkbox-sm" style="@(ViewBag.IschkChangeOWToDE == false   ? "display:none" : "display:block")">
                    @Html.CheckBoxFor(m => m.chkChangeOWToDE, new { style = "" })
                    <lable>Change to Designee</lable>
                </div>
            </div>


        </div>

        @*<div class="col-xs-12 NopaddingLR">
                <div class="col-xs-12 form-group" style="text-align: right; margin-bottom: -2%;margin-left: -3%;">
                    <b>
                        <lable style="font-weight: 1000; font-size: medium;">
                            @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                        </lable>
                    </b>
                </div>
            </div>*@

    </div>

    <div class="form-group col-xs-12 lt NopaddingLR">
        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-10">
                <fieldset class="customFieldset" id="fieldset" style="width:685px;margin-top:15px">
                    <legend>Owner Info</legend>




                    <div class="col-xs-12 form-group lt NopaddingLR">

                        <div class="col-xs-3 lbl1">
                            <lable>Name</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressName, new { @class = "form-control", style = "display:inline;width:317px" })
                            <div id="ErrorOwnerName" class="Invalid-feedback" style="display:none">
                                Please Enter LegalParty Name
                            </div>
                        </div>
                        <div class="col-xs-4" @{if(ViewBag.btnOwDelete != true) {@:hidden="hidden"
                              }}>
                            <input type="button" value="Delete" id="DeleteButton" class="btn btn-primary" style="margin-left: 108px;" visible="true" onclick="DeleteOW()" />

                        </div>
                    </div>





                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Address 1</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressLine1, new { @class = "form-control", style = "display:inline;width:317px;" })
                        </div>
                        <div class="col-xs-4 checkbox-sm">
                            @Html.CheckBoxFor(m => m.objADJobLegalParties.IsNonUSAddr, new { style = "margin-left: 61px;" })
                            <lable style="margin-left: 10px;">Non US Addr</lable>
                            <div id="ErrorIsNonUSAddr" class="Invalid-feedback" style="display:none">
                                Please Enter Customer Name
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Address 2</lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.AddressLine2, new { @class = "form-control", style = "display:inline;width:317px;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>City/St/Zip</lable>
                        </div>
                        <div class="col-xs-1">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.City, new { @class = "form-control", style = "display:inline; width:145px" })
                        </div>
                        <div class="col-xs-2">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.State, new { @class = "form-control", style = "display:inline; width:50px;margin-left: 98px;" })
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.PostalCode, new { @class = "form-control", style = "display:inline; width: 101px; margin-left: 43px;" })
                            <div id="ErrorOwnerZip" class="Invalid-feedback" style="display:none; margin-left:-23px;">
                                Invalid State for the Zip Code
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.Telephone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                        </div>

                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-3 lbl1">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.objADJobLegalParties.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width:127px;" })
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                        <div class="col-xs-3">
                            &nbsp;
                        </div>
                    </div>







                </fieldset>


            </div>


        </div>
    </div>



    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.JobId)
        @Html.HiddenFor(m => m.btnDelete)
        @Html.HiddenFor(m => m.chkChangeOWToLE)
        @Html.HiddenFor(m => m.chkChangeToPrimary)
        @Html.HiddenFor(m => m.chkMakeSameAsGc)
        @Html.HiddenFor(m => m.MLAgent)
        @Html.HiddenFor(m => m.btnSelect)



    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">

            <input type="button" value="OK" id="OKModalOwnerEdit" class="btn btn-primary" onclick="SaveOwner()" />
            <input type="button" value="Cancel" id="CancelModalOwnerEdit" class="btn btn-primary" data-dismiss="modal" style="margin-right: -11px;" />
            
        </div>
    </div>
</form>


<script type="text/javascript">



    $('#NewGC').click(function () {
        debugger;
        $('#objADClientGeneralContractor_GeneralContractor').val("");
        $('#objADClientGeneralContractor_ContactName').val("");
        $('#objADClientGeneralContractor_AddressLine1').val("");
        $('#objADClientGeneralContractor_AddressLine2').val("");
        $('#objADClientGeneralContractor_City').val("");
        $('#objADClientGeneralContractor_State').val("");
        $('#objADClientGeneralContractor_PostalCode').val("");
        $('#objADClientGeneralContractor_Telephone1').val("");
        $('#objADClientGeneralContractor_Fax').val("");
        $('#objADClientGeneralContractor_Email').val("");
        $('objADClientGeneralContractor_GCLicNum').val("");
        $('#objADClientGeneralContractor_SpecialInstruction').val("");
        $("#DeleteButton").hide();
        //$('#myModalCustomerInfo').modal("show");
    });

    function SearchOW() {

        debugger;
        var SearchInitial = $('#cboName').val();
        //var data = $('#FormEditCustomer').serialize();
         var JobId = @Model.JobId;
        var ClientId = @Model.ClientId;
        $.ajax({
            url: '@Url.Action("ShowOwnerInfo", "WorkCardLiens")',
            data: { JobId: JobId, ClientId: ClientId, SearchInitial: SearchInitial, LegalPartyId: 0, IsPrimary: false, },
            type: "POST",
            success: function (data) {
            debugger;
            //if (data) {
                $('#myModalOwnerInfo .modal-content').html(data);
            //}
            //else {
            //$("#myChangeCustLookUpModel").modal("hide");
            //$('body').removeClass('modal-open');
            //$('.modal-backdrop').remove();
            //$('#errorMsg').show();
            //}
            },
            fail: function (error) {
                $("#myChangeCustLookUpModel").modal("hide");
                $("#DeleteButton").hide();
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('#errorMsg').show();
            }
            });

    }

     function ShowOwnerDetails(OwnerId) {
        debugger;
        showLoadingImage();
         var JobId = @Model.JobId;
        $.ajax({
            url: '@Url.Action("LoadOWInfo", "WorkCardLiens")',
            data: { OwnerId: OwnerId, JobId: JobId },
            type: "POST",
            success: function (response) {
                debugger;

                var $response = $(response);


                    $('#myModalOwnerInfo .modal-content').html(response);
                $('#myModalOwnerInfo').show();

                CheckMinDate();





                },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function SaveOwner() {
        debugger;
        showLoadingImage();
            var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();

            if (Validate()) {

                $.ajax({
                    url: '@Url.Action("SaveOwnerInfo", "WorkCardLiens")',
                    data: $('#FormOwnerInfo').serialize(),
                    type: "POST",
                    success: function (data) {
                        if (data == 0) {
                            $("#ErrorOwnerZip").show();

                        }
                        $('#myModalOwnerInfo').hide();
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        OWSuccessPopup();
                          ShowDetails(JobId,j,ListName, "JobInfo", "TabJobInfo");

                        hideLoadingImage();

                    },
                    fail: function (error) {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                });
            }
       // }
    }

         function DeleteOW(ClientId){
        debugger;
        showLoadingImage();

            $.ajax({
                url: '@Url.Action("DeleteOwnerInfo", "WorkCardLiens")',
                data: $('#FormEditCustomer').serialize(),
                type: "POST",
                success: function (data) {
                    $('#myModalOwnerInfo').html(data);
                    $('#myModalOwnerInfo').hide();
                    $('.modal-backdrop').remove();
                    OWDeleteSuccessPopup();



                    hideLoadingImage();

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

    }


    @*function ClearCustomer() {
       debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("ShowCustomerInfo", "WorkCardLiens")',
            data: { ClientId: ClientId, JobId: JobId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModalCustomerInfo .modal-content').html(data);
                $('#myModalCustomerInfo').modal("show");
                chkMinDate();
                hideLoadingImage();
            },
            fail: function (error) {
                debugger;
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });

    }*@



    function OWSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Owner Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function OWDeleteSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Owner Info Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#objADJobLegalParties_AddressName").val().length <= 0) {
            $("#ErrorOwnerName").show();
            return false;
        }
        else {
            $("#ErrorOwnerName").hide();
        }


        return true;
    }



</script>