﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.RentalInfoVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormEditMoreInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px; text-align:center">
            <label>
                Rental Descriptions
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group">
            <div id="tableRentalInfoDiv">
                <table id="tblRentalInfo" class="table table-bordered dataTable table-hover grid " border="1">
                    <thead>
                        <tr>
                            <th style="width: 162px;">RANum</th>
                            <th style="width: 240px;">PONum</th>
                            <th style="width: 135px;">EquipDescription</th>
                            <th style="width: 135px;">EquipOrderdedBy</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.JobRentalList != null)
                        {
                            foreach (var i in Model.JobRentalList)
                            {
                                <tr>
                                    <td>@i.RANum</td>
                                    <td>@i.PONum</td>
                                    <td>@i.EquipDescription</td>
                                    <td>@i.EquipOrderedBy</td>
                                </tr>
                            }
                        }
                        </tbody>
                </table>
            </div>

        </div>

        </div>


        @*<div id="hiddenFields">
            @Html.HiddenFor(m => m.obj_DebtAccountMoreInfoEdit.DebtAccountId)
        </div>*@

        <div class="modal-footer">
            <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                <!--<input type="button" value="OK" id="OKModalEditMoreInfo"--> @*onclick = "SaveMoreInfo(@Model.obj_DebtAccountMoreInfoEdit.DebtAccountId)"*@ <!--class="btn btn-primary" />-->
                <input type="button" value="Cancel" id="CancelModalEditMoreInfo" class="btn btn-primary" data-dismiss="modal" />
            </div>
        </div>


</form>

<script type="text/javascript">

</script>
