﻿


@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.ClientLienInfoVM
@{
    Layout = null;
}


<style type="text/css">


   

    .form-inline .form-group{
        margin-right:0px !important;
    }
</style>


   
</style>


<form id="FormEditCollectionInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>Client Lien Info</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">
        <div class="nav-tabs-horizontal" data-plugin="tabs" style="margin-left: 32px;">

            <ul class="nav nav-tabs" role="tablist">
                <li id="MainContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainContact" aria-controls="TabMainContact" role="tab" aria-selected="false">Main Contact</a></li>
                <li id="Configuration" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabConfiguration" aria-controls="TabConfiguration" role="tab" aria-selected="false">Configuration</a></li>
                <li id="ClientMiscInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabClientMiscInfo" aria-controls="TabClientMiscInfo" role="tab" aria-selected="false">Misc Info</a></li>
                <li id="Billing" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabBilling" aria-controls="TabBilling" role="tab" aria-selected="false">Billing</a></li>
                <li id="SecondaryContact" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabSecondaryContact" aria-controls="SecondaryContact" role="tab" aria-selected="false">Secondary Contact</a></li>
            </ul>
        </div>

        <fieldset>

                <div class="tab-content">
                    <div id="hiddenFields">
                        @*@Html.HiddenFor(m => m.obj_ClientCollectionInfo.ClientId)
                    @Html.HiddenFor(m => m.obj_ClientCollectionInfo.Id)*@


                    </div>

                    <div class="tab-pane" id="TabMainContact" role="tabpanel">
                        <br />
                        <div>
                            <fieldset class="customFieldset">
                                <legend>Main Contact</legend>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Contact</lable>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>As</lable>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactSalutation, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Title</lable>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactTitle, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Email</lable>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactEmail, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Phone</lable>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactPhone, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Extension</lable>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactPhoneExt, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Birth Date</lable>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactDOB,  new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>


                            </fieldset>

                        </div>

                    </div>


                    <div class="tab-pane" id="TabConfiguration" role="tabpanel">
                        <br />
                        <div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <fieldset class="customFieldset">
                                        <legend>Notice Config</legend>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.BranchBox, new { style = "display:inline;", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Branch Box</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.UseBranchNTO, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Use Branch NTO</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.UseBranchAck, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Use Branch ACK</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.GreenCard, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Green Card</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.CustSend, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Cust Send Cert</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.CustSendReg, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Cust Send Req</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.AZCert, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>AZ Cert</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.FLCertBox, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>FL Cert</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.JointCK, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Joint Check</lable>
                                            </div>
                                        </div>


                                    </fieldset>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <fieldset class="customFieldset">
                                        <legend>Misc Config</legend>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.NOGCCall, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>No GC Call</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.NOCustCall, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>JNo Cust Call</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.ActivateOIR, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Activate OIR</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.SendOIR, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Send OIR</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.SendNTO, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Send NTO</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.SendNTOList, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Send NTO List</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.SendAck, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>Send Ack</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.NoEmail, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>No Emails</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.KYNonStatBox, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>KY Non Stat</lable>
                                            </div>
                                        </div>


                                    </fieldset>
                                </div>


                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <fieldset class="customFieldset">
                                        <legend>TX Config</legend>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.TXApproved, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>TX Approved</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.TXCustSend, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>TX Cust Send</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.TXPublicOwner, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>TX Public Owner</lable>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 lt">
                                            <div class="form-group col-md-4 col-sm-4 col-xs-4 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.obj_ClientLienInfo.TXCopy, new { style = "display:inline; ", @disabled = "disabled" })
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8">
                                                <lable>TX Copy</lable>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>

                            </div>
                        </div>
                    </div>


                <div class="tab-pane active" id="TabClientMiscInfo" role="tabpanel">
                    <br />
                    <div>
                        <fieldset class="customFieldset">
                            <legend></legend>

                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Labor Type</lable>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        @Html.TextAreaFor(m => m.obj_ClientLienInfo.LaborType, new { rows = "2", cols = "60", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Other Lgl Threshold</lable>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.OtherLglThreshold, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Notice Phone</lable>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.NoticePhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Legal Interest</lable>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.LegalInterest, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>Var</lable>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        @Html.TextAreaFor(m => m.obj_ClientLienInfo.LienSpecialInstruction, new { rows = "4", cols = "60", @readonly = true })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                        <lable>SpecialPrelimGroup</lable>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_ClientLienInfo.DataEntryBox1, new { @class = "form-control", style = "display:inline;", @readonly = true, @placeholder = "0",})
                                    </div>
                                </div>


                        </fieldset>
                    </div>
                </div>

                <div class="tab-pane" id="TabBilling" role="tabpanel">
                    <br />
                    <div>
                        <fieldset class="customFieldset">
                            <legend>Billing Address</legend>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Name</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceName, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Attn</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceAttn, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Address 1</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceAddr1, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Address 2</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceAddr2, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>City/St/Zip</lable>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceCity, new { @class = "form-control", style = "display:inline; width: 136px;", @readonly = true })
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceState, new { @class = "form-control", style = "display:inline; margin-left: -56px;width: 43px;", @readonly = true })
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceZip, new { @class = "form-control", style = "display:inline; width: 98px; margin-left: -71px;", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Phone</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoicePhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline; width: 116px;", @readonly = true })
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Fax</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceFax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;width: 116px;", @readonly = true })
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Email</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.InvoiceEmail, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

                <div class="tab-pane" id="TabSecondaryContact" role="tabpanel">
                    <br />
                    <div>
                        <fieldset class="customFieldset">
                            <legend>Secondary Contact</legend>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Contact</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactName2, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>As</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactSalutation2, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Title</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactTitle2, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Email</lable>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactEmail2, new { @class = "form-control", style = "display:inline;width:303px", @readonly = true })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Phone</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactPhone2, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Extension</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactPhone2Ext, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="col-md-3 col-sm-3 col-xs-3 lbl1">
                                    <lable>Birth Date</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_ClientLienInfo.ContactDOB2, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
                            </div>

                            </fieldset>
                        </div>
                    </div>



                </div>
        </fieldset>
     </div>
            <div class="modal-footer">
                <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                    <input type="button" value="Exit" id="ExitModalShowClientInfo" class="btn btn-primary" data-dismiss="modal" />
                </div>
            </div>
</form>


<script>

</script>




