﻿@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.TexasRequestVM

@{
    Layout = null;
}

<form id="FormTexasRequest">

    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Texas Requests
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;" onclick="Cancle()">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body" style="max-height:1000px">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12">
                <div class="col-xs-8">
                    <div class="col-xs-3" style="margin-left: 46px">
                        <b>Notice Type</b>
                    </div>
                    @Html.RadioButtonFor(m => m.RdbBtn, "60Day", new { @checked = true })
                    <lable>&nbsp;60 Day</lable>
                    &nbsp; &nbsp; &nbsp;
                    @Html.RadioButtonFor(m => m.RdbBtn, "90Day")
                    <lable>&nbsp;90 Day</lable>
                </div>
                <div class="col-xs-4 checkbox-sm">
                    @Html.CheckBoxFor(m => m.OBJADJobTexasRequest.IsOnHold, new { })
                    <lable style="margin-left: 10px;">On Hold</lable>
                   
                </div>
            </div>





        </div>

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-10 NopaddingLR">


                    <div class="col-xs-12 form-group lt NopaddingLR">

                        <div class="col-xs-3" style=" margin-left: 61px;">
                            <lable>Amount Owed</lable>
                        </div>
                        <div class="col-xs-7">
                            @Html.TextBoxFor(m => m.OBJADJobTexasRequest.AmountOwed, new {@class = "form-control", style = "display:inline;margin-left: -39px;" })

                        </div>

                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR">
                        <div class="col-xs-4">
                            <lable>Month Debt was Incured</lable>
                        </div>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(m => m.OBJADJobTexasRequest.MonthDebtIncurred, new { @class = "form-control", style = "display:inline;margin-left:-33px;width: 257px;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group lt NopaddingLR" style="margin-top: 4px;">
                        <div class="col-xs-4" style="margin-left: 14px;">
                            <lable>Statement of Account</lable>
                        </div>
                        <div class="col-xs-7">
                            @Html.TextAreaFor(m => m.OBJADJobTexasRequest.StmtOfAccts, new { @class = "form-control", rows = "3", style = "display:inline;width: 655px;margin-left:-47px;" })
                        </div>
                    </div>












                </div>


            </div>
        </div>
    </div>


    <div id="hiddenFields">

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.JobId)

    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            @*<input type="button" value="Clear" id="ClearModalCustomerEdit" class="btn btn-primary" style="float:left" onclick="ClearCustomer()" />*@

            @*<button type="button" class="btn btn-default" value="Copy above data to clipboard" onClick="myFunctions('copy1')">
            <span class="tooltiptext" id="myTooltip">Copy</span>
        </button>*@
            @if (Model.IsDelete == true)
            {
                <input type="button" value="Delete" id="DeleteTexasReq" class="btn btn-primary" onclick="DeleteTexasRequst()" />
            }
            @*<input type="button" value="Delete" id="DeleteTexasReq" class="btn btn-primary" onclick="DeleteTexasRequst()" />*@
            <input type="button" value="OK" id="OKTexasRequst" class="btn btn-primary" onclick="SaveTexasRequst()" />
            <input type="button" value="Cancel" id="CancelModalTexasRequst" class="btn btn-primary" data-dismiss="modal" style="margin-right: -13px;" onclick="Cancle()" />

        </div>
    </div>
</form>
<script type="text/javascript">

    function Cancle() {
        debugger;
        $('#myModalTexasRequest').modal("hide");
        hideLoadingImage();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

    }


    function SaveTexasRequst() {
        debugger;
        showLoadingImage();
          var JobId = @Model.JobId;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();


                $.ajax({
                    url: '@Url.Action("SaveTexasRequestDetails", "WorkCardLiens")',
                    data: $('#FormTexasRequest').serialize(),
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data == 1) {
                            $('#myModalTexasRequest').html(data);
                            ShowDetails(JobId, j, ListName, "TexasRequests", "TabTexasRequests");
                            hideLoadingImage();
                            $('#myModalTexasRequest').hide();
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                            TexasRequestSuccessPopup();


                            hideLoadingImage();
                        }
                        else {
                            alert("Something went wrong");
                            hideLoadingImage();
                        }
                    },
                    fail: function (error) {
                        hideLoadingImage();
                        alert("Something went wrong");
                    }
                });

    }

    function DeleteTexasRequst(Id) {
         var JobId =  @Model.JobId;
         var Id = @Model.Id;
        var j = $('#Jvalue').val();
        var ListName = $('#ListValue').val();
       debugger;
        if (confirm("Are You Sure?")) {
            debugger;
            $.ajax({
                url: '@Url.Action("DeleteTexasRequest", "WorkCardLiens")',
                data: { Id: Id, JobId: JobId },
                type: "POST",
                success: function (data) {
                    debugger;
                    //ShowDetails(JobId, "Notes", "TabNotes");
                    $("#myModalTexasRequest").modal("hide");
                    debugger;
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if (data) {
                        DeleteTexasRequestPopup();
                        //$('#deleteMsg').show();
                        hideLoadingImage();
                        ShowDetails(JobId, j, ListName, "TexasRequests", "TabTexasRequests");
                    }
                    else {
                        alert("Something went wrong");
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    alert("Something went wrong");
                    $("#myModalEditNote").modal("hide");
                    hideLoadingImage();
                }
            });
        }
    }



    function TexasRequestSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Texas Request Info Has Been Update.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function DeleteTexasRequestPopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Texas Request Details Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>
