﻿
@model CRFView.Adapters.Liens.Verifiers.WorkCard.ViewModels.JobListVM
@{
    Layout = null;
}



<div>
    <h3 class="page-header"  style="margin-top:-50px;">Job List</h3>
    <hr />
    <div class="panel-body">
        
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div>
            <div id="divFilter">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group" style="margin-left: -30px;">
                    <div class="col-md-1 col-sm-1 col-xs-1" style="margin-bottom: 6px;">
                        <button type="button" id="btnFilter" class="btn btn-primary pull-left" onclick="FilterJob()" ;><i class=""></i>Back to Filter</button>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        @Html.DropDownListFor(model => model.SortBy, Model.SortByList.OrderBy(m => m.Text), "--Sort By--", new { @id = "drpSortBy", @class = "form-control", style = "width : 145px; display: inline;" })

                        @Html.DropDownListFor(model => model.SortType, Model.SortTypeList, new { @id = "drpSortType", @class = "form-control", style = "width : 145px; display: inline;margin-left: 5px;", })

                    </div>

                    <div class="col-md-1 col-sm-1 col-xs-1" style="margin-left:-62px">
                        <button type="button" id="btnSort" class="btn btn-primary pull-left" style="margin-left: 5px;" onclick="Sort();"><i class=""></i>Sort</button>
                    </div>
                    @*@Html.DropDownListFor(model => model.SortBy, Model.SortByList, new { @id = "drpSortBy", @class = "form-control", style = "width : 15%;  margin-left : -60%; display: inline;", onchange = "drpSortBy_SelectedIndexChanged()" })

        @Html.DropDownListFor(model => model.SortType, Model.SortTypeList, new { @id = "drpSortType", @class = "form-control", style = "width : 15%; display: inline;", onchange = "drpSortType_SelectedIndexChanged()" })*@
                </div>
            </div>

                @*<button type="button" id="btnBackToJobList" class="btn btn-primary pull-left" onclick="BackToJobList();" style="display: none; margin-left: 5px;"><i class=""></i>Back to List</button>*@
                <br />
                <div>&nbsp;</div>
            </div>


        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewLiens/Verifiers/WorkCard/_JobListNew.cshtml");}
        </div>
        <div id="EditJob">

        </div>

    </div>
</div>


<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="width:1000px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:1000px !important">

        </div>

    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {
        debugger;
        //$('#tblWorkCardLiens1').hide();
       
        FilterJob()
        //add functions onload
    }

     function BackToFilterAccount() {
            debugger;
            showLoadingImage();
            $.ajax({
                url: '@Url.Action("Index", "WorkCardLiens")',
                datatype: "json",
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#BindView').empty();
                    $("#BindView").append(data);
                    //$('#list').html(data);
                    //$('#EditAccount').html();

                    makeDatatable('tblWorkCardLiens');
                    OnPartialLoad();
                    hideLoadingImage();
                },
                error: function (xhr) {
                    hideLoadingImage();
                    alert("error");
                }
            });
        }
    function FilterJob() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowJobFilterModal", "WorkCardLiens")',
            type: "Get",
            success: function (data) {
                debugger;
                

                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");

               
                $('#FilterObj_ReviewDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                $('#FilterObj_DateAssigned').val("");
                $('#FilterObj_DateNoticeSent').val("");
                $('#FilterObj_CanDate').val("");
                $('#FilterObj_NOIDate').val("");
                $('#FilterObj_VerifiedDate').val("");
                $('#FilterObj_LienAssigned').val("");
                $('#FilterObj_LienSent').val("");
                $('#FilterObj_StartDate').val("");
             },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    //$('#myModal').on('shown.bs.modal', function () {
    //    $('#FilterObj_DebtAccountId').focus();
    //})

    function BackToJobList() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("BackTolist", "WorkCardLiens")',
            datatype: "json",
            type: "POST",
            success: function (data) {
                debugger;
                $('#BindView').empty();
                $("#BindView").append(data);
                //$('#list').html(data);
                //$('#EditAccount').html();

                makeDatatable('tblWorkCardLiens');
               // OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

    function BackToFilter() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowJobFilterModal", "WorkCardLiens")',
            type: "Get",
            success: function (data) {
                debugger;

                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                $('#FilterObj_ReviewDate').datepicker({ format: 'mm/dd/yy' }).datepicker("setDate", new Date());
                $('#FilterObj_DateAssigned').datepicker({ format: 'mm/dd/yy' });
                $('#FilterObj_DateNoticeSent').datepicker({ format: 'mm/dd/yy' });
                $('#FilterObj_CanDate').datepicker({ format: 'mm/dd/yy' });
                $('#FilterObj_NOIDate').datepicker({ format: 'mm/dd/yy' });
                $('#FilterObj_VerifiedDate').datepicker({ format: 'mm/dd/yy' });
                $('#FilterObj_LienAssigned').datepicker({ format: 'mm/dd/yy' });
                $('#FilterObj_LienSent').datepicker({ format: 'mm/dd/yy' });
                $('#FilterObj_StartDate').datepicker({ format: 'mm/dd/yy' });
                $('#BindView').empty();
                $("#BindView").append(data);

                makeDatatable('tblWorkCardLiens');
                OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }

     function Sort() {
        debugger;
      showLoadingImage();
        var SortByValue = $('#drpSortBy option:selected').val();
        var SortTypeValue = $('#drpSortType option:selected').val();
        $.ajax({
            url: '@Url.Action("GetSortedResult", "WorkCardLiens")',
            data: { SortByValue: SortByValue, SortTypeValue: SortTypeValue },
            type: "POST",
            success: function (data) {
                debugger;
                $('#list').html(data);
                makeDatatable('tblWorkCardLiens');
                //OnPartialLoad();
                hideLoadingImage();
            },
            error: function (xhr) {
                hideLoadingImage();
                alert("error");
            }
        });
    }
    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["ObjvwJobList_StartDate",
                                "ObjvwJobList_EndDate",
                                "ObjvwJobList_DateAssigned",
                                "ObjvwJobList_RevDate",
                                "ObjvwJobList_NoticeSent",
                                "ObjvwJobList_VerifiedDate",
                                "obj_ClientEdit_ContactDOB",
                                "obj_ClientEdit_ContactDOB2",
                                "ObjvwJobList_CanDate",
                                //"ObjvwJobList_NoticeSent",
                                "ObjvwJobList_AmendedDate",
                                "ObjvwJobList_ResendDate",
                                "ObjvwJobList_LienAssignDate",
                                "ObjvwJobList_LEAssignDate",
                                "ObjvwJobList_EndDate",
                                "ObjvwJobList_FileDate",
                                "ObjvwJobList_BondAssignDate",
                                "ObjvwJobList_BondDDD",
                                "ObjvwJobList_NOIAssignDate",
                                "ObjvwJobList_LienReleaseAssign",
                                "ObjvwJobList_ReleaseFileDate",
                                "ObjvwJobList_SNAssignDate",
                                "ObjvwJobList_SNDDD",
                                "ObjvwJobList_BondDate",
                                "ObjvwJobList_LienDate",
                                "ObjvwJobList_LienExtDate",
                                "ObjvwJobList_NOIDate",
                                "ObjvwJobList_SNDate",
                                "ObjvwJobList_SNReleaseDate",
                                "ObjvwJobList_BondReleaseDate",
                                "objJob_LienAssignDate",
                                "objJob_LienExtDate",
                                "objJob_EndDate",
                                "objJob_FileDate",
                                "objJob_LienReleaseAssign",
                                "objJob_ReleaseFileDate",
                                "objJob_BondAssignDate",
                                "objJob_BondDDD",
                                "objJob_SNAssignDate",
                                "objJob_SNDDD",
                                "objJob_NOIAssignDate",
                                "ObjJobList_NOCRecDate",
                                "ObjJobList_JobCompletionDate",
                                "ObjJobList_NOCDate",
                                "obj_JobEdit_JobCompletionDate",
                                "obj_JobEdit_NOCDate",
                                "obj_JobEdit_NOCRecDate",
                                "obj_JobEdit_RevDate"

        ];
        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());

        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "1/1/0001" || date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }
            }
        });
    }



</script>