﻿@model CRFView.Adapters.Accounting.AccountingLiens.ClientViewAccessInvoice.ViewModels.ClientViewAccessInvoiceVM
@{
    Layout = null;
}

<style>
    .rt {
        text-align: right;
    }

    .Setfieldset {
        width: 606px;
        height: 285px;
    }
</style>
<form id="FormClientViewAccessInvoice">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>ClientView Access Invoice</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>
                    <br />


                    <br />
                    <div class="col-xs-11 form-group">
                        <div class="col-xs-5 rt">
                            @*@Html.CheckBoxFor(m => m.chkAllClient)
                            &nbsp;*@
                            <lable>Select Client</lable>
                        </div>
                        <div class="col-xs-6 NopaddingLR" style="width: 265px;">
                            @*<div class="col-xs-12" id="divAllClient" style="@(Model.chkAllClient == false ? "display:block" : "display:none")">*@
                            <div class="col-xs-12">
                                 @Html.DropDownListFor(m => m.ClientId, Model.GetClientList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline; " })
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-11 form-group">
                        <div class="col-xs-5 rt">
                            <lable>From Date</lable>
                        </div>
                        <div class="col-xs-4">
                            @*@Html.TextBoxFor(m => m.InvoiceFromDate,"{0:MM/dd/yyyy", new { style = "width:128px;" })*@
                            @Html.TextBoxFor(m => m.InvoiceFromDate, "{0:MM/dd/yyyy}", new { style = "width:100px" })

                        </div>
                    </div>
                    <br />
                    @*<div class="col-xs-12 form-group">*@
                        <div class="col-xs-11 form-group">
                            <div class="col-xs-5 rt">
                                <lable>Thru Date</lable>
                            </div>
                            <div class="col-xs-5">
                                @Html.TextBoxFor(m => m.InvoiceThruDate,"{0:MM/dd/yyyy}", new { style = "width:100px" })
                            </div>
                        </div>
                    @*</div>*@
                    <br />
                    <br />
                      &nbsp;
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 218px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To Printer")
                            &nbsp;
                            <lable>Send to Printer</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6" style="margin-left: 218px;">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
                            &nbsp;
                            <lable>Send to PDF</lable>
                        </div>
                    </div>
                

                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="margin-left: 16px;" />*@
          
            <input type="button" id="btnPrintLienRevenueOK" value="OK" class="btn btn-primary" onclick="OKClientViewAccessInvoice()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>
</form>
<script>
//$("[name='chkAllClient']").click(function () {
//        debugger;
//        //var chkAllIndustryTypes = $(this).val();

//        if (this.checked) {
//            $('#divAllClient').hide();
//        }
//        else {
//            $('#divAllClient').show();
//        }
//});

function OKClientViewAccessInvoice() {
    debugger;
    showLoadingImage();


    var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
    var data = $('#FormClientViewAccessInvoice').serialize();
    $("#myModal").modal("hide");
    $.ajax({
        url: '@Url.Action("ClientViewAccessInvoice", "ClientViewAccessInvoice")',
        data: data,
        type: "POST",
        //  dataType: 'json',
        success: function (data) {
            debugger;
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();

            if (RbtPrintOption == "Send To Printer") {
                PrintClientViewAccessInvoiceSuccessPopup();
                hideLoadingImage();
                return false;
            }

            if (data != "error") {
                window.open(data);
                ClientViewAccessInvoiceSuccessPopup();
                hideLoadingImage();
            }
            else {
                alert('Report Not Found !!');

                hideLoadingImage();
            }
            return false;
        },
        fail: function (error) {
            $('#errorMsg').show();
            $("#myModal").modal("hide");
            hideLoadingImage();
        }
    });

}

    function ClientViewAccessInvoiceSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "ClientView Access Invoice Processed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function PrintClientViewAccessInvoiceSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "ClientView Access Invoice  Printed Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

function Clear() {

    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#InvoiceFromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
    $('#InvoiceThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);


}
</script>