﻿@model IEnumerable<CRFView.Adapters.ADAttorneys>
@{
    
    Layout = null;
}


<div>
    <table id="tblAttorneys" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Atty Code </th>
                <th>Law List</th>
                <th>Attorney Name </th>
                <th>Firm Name</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.AttyCode</td>     
                    <td>@i.LawList</td> 
                    <td>@i.AttorneyName</td>
                    <td>@i.FirmName</td>     
                    <td>
                            <button onclick="ShowDetails(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
