﻿@model CRFView.Adapters.ADAttorneys
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.PKID)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Attorney Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                @Html.TextBoxFor(m => m.AttyCode, new { @class = "form-control",@style= "text-transform:uppercase" })
                <div id="ErrorAttyCode" class="Invalid-feedback" style="display:none">
                    Please Enter Attorney Code.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Law List:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.LawListValue, new SelectList(ViewBag.LawList, "Code", "Name"), new { @class = "form-control" })
                @Html.HiddenFor(m => m.LawListId)
                @Html.HiddenFor(m => m.LawList)
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Firm Name:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.FirmName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Attorney Name:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.AttorneyName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Attorney As:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.AttyAs, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Address:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.AttyAddress, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">City:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.AttyCity, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">State:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0px">
                    @Html.TextBoxFor(m => m.AttyState, new { @class = "form-control" })
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0px">
                    @Html.TextBoxFor(m => m.AttyZip, new { @class = "form-control" })
                </div>
            </div>

        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Phone Number:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.AttyPhoneNo, new { @class = "form-control", @onblur = "formatPhone(this)", @maxlength = "15" })
                <div id="ErrorAttyPhoneNo" class="Invalid-feedback" style="display:none">
                    Invalid Phone Number.
                </div>
             </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Fax:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.AttyFax, new { @class = "form-control", @onblur = "formatPhone(this)", @maxlength = "15"})
                <div id="ErrorAttyFax" class="Invalid-feedback" style="display:none">
                    Invalid Fax.
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Email:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.EMail, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Tax Id:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.TaxID, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Note:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextAreaFor(m => m.AttyNote, new { @class = "form-control", @rows = "3", @cols = "5" })
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');

            $.ajax({
                url: '@Url.Action("AttorneysSave", "Attorneys")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblAttorneys');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#AttyCode").val().length <= 0) {
            $("#ErrorAttyCode").show();
            return false;
        }
        else {
            $("#ErrorAttyCode").hide();
        }

        if (validatePhone($("#AttyPhoneNo").val()) == false) {
            $("#ErrorAttyPhoneNo").show();
            return false;
        }
        else {
            $("#ErrorAttyPhoneNo").hide();
        }
        if (validatePhone($("#AttyFax").val()) == false) {
            $("#ErrorAttyFax").show();
            return false;
        }
        else {
            $("#ErrorAttyFax").hide();
        }
        return true;
    }
   
</script>



