﻿
@model CRFView.Adapters.Credentials
@{

    Layout = null;
}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Login CRFView</title>
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/assets/images/apple-touch-icon.png")">
    <link rel="shortcut icon" href="@Url.Content("~/Content/assets/images/favicon.ico")">
    <!-- Stylesheets -->
 
    <link rel="stylesheet" href="@Url.Content("~/Content/global/css/bootstrap.min.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/global/css/bootstrap-extend.min.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/assets/css/site.min.css")">
    <!-- Plugins -->
    <link rel="stylesheet"href="@Url.Content("~/Content/global/vendor/animsition/animsition.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/global/vendor/asscrollable/asScrollable.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/global/vendor/switchery/switchery.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/global/vendor/intro-js/introjs.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/global/vendor/slidepanel/slidePanel.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/global/vendor/flag-icon-css/flag-icon.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/assets/examples/css/pages/login-v2.css")">
    <!-- Fonts -->
    <link rel="stylesheet"href="@Url.Content("~/Content/global/fonts/web-icons/web-icons.min.css")">
    <link rel="stylesheet"href="@Url.Content("~/Content/global/fonts/brand-icons/brand-icons.min.css")">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
      <script src="~/Content/global/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/Content/global/vendor/media-match/media.match.min.js"></script>
      <script src="~/Content/global/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    @*<script src="@Url.Content("~/Content/global/vendor/modernizr/modernizr.js")"></script>*@
    <script src="@Url.Content("~/Content/global/vendor/breakpoints/breakpoints.js")"></script>
    <script>
        Breakpoints();
    </script>
    <style>
        .validation-summary-errors {
            color: red;
        }
    </style>
</head>
<body class="page-login-v2 layout-full page-dark">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Page -->
    <div class="page animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content">

            <div class="page-login-main">
                <div class="brand visible-xs">
                    <img class="brand-img" src="@Url.Content("~/Content/assets/images/logo-blue@2x.png")" alt="...">
                    <h3 class="brand-text font-size-40">CRFS</h3>
                </div>
                <h3 class="font-size-24">Sign In</h3>


                <form id="FrmLogin" method="post" action="@Url.Action("login","login")">
                    <div class="form-group">
                        <label for="inputEmail">User Name</label>
                        <input type="text" class="form-control" id="UserName" name="UserName">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password">

                    </div>
                    <div class="form-group clearfix">
                        <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
                            <input type="checkbox" id="remember" name="checkbox">
                            <label for="inputCheckbox">Remember me</label>
                        </div>
                        @*<a class="pull-right" href="forgot-password.html">Forgot password?</a>*@
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Sign in"  />
                    <div class="form-group">
                        <p style="text-decoration-color:red;font-weight:500;padding-top:30px;text-align:center">@Html.ValidationSummary()</p>

                    </div>
                </form>
                <footer class="page-copyright" style="width: 100%;">
                    <p>Site Best Viewed With: </p>
                    <p>(Click Link To Download)</p>
                    <div class="social">
                        <a href="https://www.google.com/intl/en/chrome/browser/?hl=en&brand=CHMA&utm_campaign=en&utm_source=en-ha-na-us-bk&utm_medium=ha" target="_blank">
                            <img src="@Url.Content("~/Content/Images/Chrome.jpg")" alt="Chrome Logo" class="float-center" style="width: 80px; height: 23px" />
                        </a>
                        &nbsp;&nbsp;<a href="http://mozilla-firefox.todownload.com/?lp=adwords&tg=us&kw=Firefox%20download&mt=e&ad=33229594518&pl=&ds=s&gclid=CMH25p3C4roCFU7ZQgodJTAA_w" target="_blank">
                            <img src="@Url.Content("~/Content/Images/Firefox.jpg")" alt="Firefox Logo")" class="float-center" style="width: 70px; height: 25px" />
                        </a>
                        &nbsp;&nbsp;<a href="http://windows.microsoft.com/en-us/internet-explorer/ie-9-worldwide-languages" target="_blank">
                            <img src="@Url.Content("~/Content/Images/IE11.png")" alt="IE9 Logo")" class="float-center" style="width: 105px; height: 25px" />
                        </a>
                    </div>
                    <div style="margin-top:20px;background-color: #3a6dae;color: white;font-weight: 500;">
                        <p>@ViewBag.Versiondetails</p>
                        <p>@ViewBag.Assemblydetails</p>
                    </div>
                </footer>

            </div>

        </div>
    </div>

    <!-- End Page -->
    <!-- Core  -->
    <script src="@Url.Content("~/Content/global/vendor/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/bootstrap/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/animsition/animsition.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/asscroll/jquery-asScroll.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/mousewheel/jquery.mousewheel.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/asscrollable/jquery.asScrollable.all.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/ashoverscroll/jquery-asHoverScroll.js")"></script>
    <!-- Plugins -->
    <script src="@Url.Content("~/Content/global/vendor/switchery/switchery.min.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/intro-js/intro.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/screenfull/screenfull.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/slidepanel/jquery-slidePanel.js")"></script>
    <script src="@Url.Content("~/Content/global/vendor/jquery-placeholder/jquery.placeholder.js")"></script>
    <!-- Scripts -->
    <script src="@Url.Content("~/Content/global/js/core.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/site.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sections/menu.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sections/menubar.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sections/gridmenu.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sections/sidebar.js")"></script>
    <script src="@Url.Content("~/Content/global/js/configs/config-colors.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/configs/config-tour.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/asscrollable.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/animsition.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/slidepanel.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/switchery.js")"></script>
    <script src="@Url.Content("~/Content/global/js/components/jquery-placeholder.js")"></script>
    <script>
        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);

    </script>
</body>
</html>

