﻿@model CRFView.Adapters.Liens.NoticeCycle.CloseCycle.ViewModels.NoticeCloseCycleVM
@{
    Layout = null;
}


<form id="FormNoticeCloseCycle">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            Regular Letters / Close Cycle
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>
    <div class="modal-body" style="text-align:left">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="col-xs-12">&nbsp;</div>

                <div class="form-group col-xs-12 lt">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h2 style="text-align:center"><b>Press Submit to Close the Current</b></h2>
                    <h2 style="text-align:center"><b>Print Cycle</b></h2>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Message)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" />*@
            <input type="button" id="btnOK" value="OK" class="btn btn-primary" onclick="OKNoticeCloseCycle();" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    //button OKJVTXCloseCycle
    function OKNoticeCloseCycle() {
        debugger;
        showLoadingImage();

        $("#myModal").modal("hide");
        debugger;
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        var data = $('#FormNoticeCloseCycle').serialize();

        $.ajax({
            url: '@Url.Action("NoticesCloseCycle", "NoticeCloseCycle")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;

                if (data == 1) {
                    CreateNoticeCloseCycleCycleSuccessPopup();
                    hideLoadingImage();
                }
                else if (data < 0) {
                    alert('Error In Processing Notice Close Cyle Close Cycle.');
                    hideLoadingImage();
                }
                else {
                    $("#myModal").modal("hide");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function CreateNoticeCloseCycleCycleSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Requested!",
            text: "Notice Close Cycle Requested Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }





</script>




