﻿@model CRFView.Adapters.Liens.NoticeCycle.CloseCycle.ViewModels.NoticeCloseCycleVM
@{
    Layout = null;
}


<div>
    <h3 class="page-header" style="margin-top:-50px;">Close Cycle</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="AuditDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:600px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:700px !important;margin-top: 10% !important;">

        </div>
        `
    </div>
</div>

<div id="hiddenFields">
    @Html.HiddenFor(m => m.Message)
</div>


<script type="text/javascript">
    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "NoticeCloseCycle")',
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal .modal-content').html(data);
                var MessageShow = $("#Message").val();
                if (MessageShow == "No Texas Notices Selected, Please Run Extract.") {
                    Warning();
                }
                else {
                    $('#myModal').modal("show");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


    function Warning() {
        debugger;

        swal({
            title: "No Texas Notices Selected, Please Run Extract.",
            type: "error",
            confirmButtonText: "ok"
        });
    }


</script>






