﻿@model IEnumerable<CRFView.Adapters.ADTeam>
    @{
   
    }

<style>
    .LText
    {
        text-align:left;
    }
</style>

    <div>   
        <h3 class="page-header">Teams</h3>
        <hr/>
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewClients/ClientConfigurations/Team/_TeamList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>


    <script type="text/javascript">

        function OnPartialLoad() {
         
        }

        function AddDetails() {
            $.ajax({
                url: '@Url.Action("TeamAdd", "ClientTeams")',
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("TeamDetails", "ClientTeams")',
                data: {
                    id: id
                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            debugger;
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {
            $.ajax({
                url: '@Url.Action("Search", "ClientTeams")',
                data: {
                    value: searchVal,
                    Key: SearchKey
                },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblClientTeams');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }

            });
            }
            return false;
        }

        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "ClientTeams")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblClientTeams');
                    makeDatatable('tblClientTeams');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


