﻿/*CSS form List table*/

table.grid {
    color: black !important;
    border: 1px solid black;
}

    table.grid th {
        font-weight: 500 !important;
        border: 1px solid black !important;
        background-color: #3a6dae !important;
        color: white !important;
    }

    table.grid td {
        border: 1px solid black !important;
        text-align: left;
    }

    table.grid tr:nth-child(even) {
        background: #e2f2fb;
        font-weight: 500;
    }

    table.grid tr:nth-child(odd) {
        background: #d0d49369;
        font-weight: 500;
    }

lable {
    text-align: right;
}

/*CSS for Modal popup*/
.modal-content {
    width: 700px !important;
    margin-top: 25% !important;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-footer {
    /*height: 60px;*/
}

.modal-header {
    padding: 0px !important;
    background-color: #3a6dae !important;
}

.modal-open .modal {
    overflow-x: auto !important;
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 25%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.dataTables_length {
    padding-top: 10px;
}

.dataTables_wrapper {
    width: 100% !important;
}

.dataTables_info {
    margin-right: 20px;
}



.form-control {
    border: 1px solid darkgray !important;
    color: black !important;
}

/*Css form site menu bar*/
.site-menu-item a {
    display: block;
    color: #fff;
}

.site-menu .site-menu-category {
    color: #fff;
}

.site-menu .site-menu-sub .site-menu-item.active > a {
    color: darkgray; /*rgba(163,175,183,.9);*/
}

.site-menu > .site-menu-item.active > a {
    color: darkgray;
    background: 0 0;
}

.site-menu > .site-menu-item.open > a {
    color: darkgray;
    background: 0 0;
}

#modcontainer {
    min-width: 800px;
}

/*CSS for header*/
.page-header {
    text-transform: uppercase;
    text-align: left;
    color: darkblue;
    padding-top: 10px !important ;
     padding-bottom: 10px  !important ;
}

hr {
    border-top: 5px solid #1161a8 !important;
    margin-bottom: 2px !important;
}

/* validation*/
.ValidationStar {
    position: absolute;
    right: 0;
    color: red;
    font-size: initial;
    font-weight: bold;
}

.Invalid-feedback {
    color: red;
    font-size: small;
    font-weight: 300;
    text-align: left;
}

.LableAlign {
    text-align: right;
}

.Label-FontSize{
    font-size:15px !important;
}

.modal-width{
    width:900px !important;
    margin-top: 10% !important;
}

.text-width{
    width: 12% !important;
}

/*Currency placeholder css*/
.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
	padding-right: 0;
}
/*End of Currency placeholder css*/

/*CSS for FileUpload button*/

.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload__label {
    display: block;
    padding: 5px 5px 8px 8px;
    color: #fff;
    font-size: 15px;
    transition: background .3s;
    &:hover;

{
    cursor: pointer;
    background: #000;
}

}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}

/*CSS form image Display Panel command Image*/

.image-panel {
    border-style: solid;
    border-width: 2px;
    text-align: center;
    height: 200px;
    border-color: darkgrey;
}

.image-padding {
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 5px;
}
select{
        height: auto!important;
}

/* lable for checkbox*/
.Checkbox-lable{
    padding-left:7px;
}

/*header for details page*/
.Details-Heading{
    text-shadow:none;
    color:White;
    margin-top: 15px !important;
}

/*padding left right 0*/
.NopaddingLR
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* Custom Fieldset*/
.customFieldset {
border: 2px solid darkgray;
padding: 1.5em 0px 0.5em;
position: relative;
}

.customFieldset legend {
border: 0;
background: #fff;
width: auto;
transform: translateY(-50%);
position: absolute;
top: 0; left: 1%;
padding: 0 .5em;
font-weight: 500;
font-size: medium;
color: black;
}

.btn-pure{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

/*file upload start*/
.fileupload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.fileupload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/*file upload end*/