﻿@model CRFView.Adapters.Collections.DayEnd.PrintLetters.ViewModels.PrintLettersVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormPrintLetters">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Print Letters
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body"  style="text-align:left">

    
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-8 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Client Filter</legend>
                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-3">
                                @Html.RadioButtonFor(m => m.RbtClientFilter, "All Clients", new { @checked = true })
                                &nbsp;
                                <lable>All Clients</lable>
                            </div>
                            <div class="col-xs-3">
                                @Html.RadioButtonFor(m => m.RbtClientFilter, "By Client")
                                &nbsp;
                                <lable>By Client</lable>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 lt">
                            <div class="col-xs-12" id="divClientList">
                                @Html.DropDownListFor(m => m.ddlClientId, Model.ClientIdList, new { @class = "form-control" })


                                @*@Html.DropDownListFor(m => m.ddlClientId, Model.ClientIdList, "--Select--", new { @class = "form-control" })*@
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="col-xs-4 NopaddingLR">
                    <fieldset class="customFieldset">
                        <legend>Print Option</legend>
                        <div class="form-group col-xs-12 lt">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To Printer")
                            &nbsp;
                            <lable>Send To Printer</lable>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF", new { @checked = true })
                            &nbsp;
                            <lable>Send To PDF</lable>
                        </div>
                        <div class="form-group col-xs-12 lt">
                            @Html.RadioButtonFor(m => m.RbtPrintOption, "No Report")
                            &nbsp;
                            <lable>No Report</lable>
                        </div>
                    </fieldset>
                </div>

                <br /><br />&nbsp;
            </div>


        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-8 NopaddingLR">
                <fieldset class="customFieldset">
                    <legend>Date Range</legend>
                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-3">
                            <lable>From Date</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.FromDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-3">
                            <lable>Thru Date</lable>
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(m => m.ThruDate, "{0:MM/dd/yy}", new { @class = "form-control", style = "display:inline;text-align: center;" })
                        </div>
                    </div>

                    <div class="form-group col-xs-12 lt">
                        <div class="col-xs-3 checkbox-sm">
                            @Html.CheckBoxFor(m => m.chkReprint)
                            &nbsp;
                            <lable>Reprint</lable>
                        </div>
                    </div>

                </fieldset>
            </div>
          
        </div>

    </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ClientId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnPrintLettersOK" value="OK" class="btn btn-primary" onclick="OKPrintLetters()" />
            <input type="button" value="Cancel" id="btnPrintLettersCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='RbtClientFilter']").click(function () {
        debugger;
        var RadioButtonValue = $(this).val();
 

        if (RadioButtonValue == "By Client") {
            $("#divClientList").show();
            }
            else {
            $("#divClientList").hide();
            }
    });

    //button OKPrintLetters
    function OKPrintLetters() {
        debugger;
        showLoadingImage();
        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormPrintLetters').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("LettersPrint", "PrintLetters")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintLetterReportSuccessPopup();
                    hideLoadingImage();
                    return false;
                }

                if (RbtPrintOption == "No Report") {
                    alert('Select Other Print Option.');
                    hideLoadingImage();
                    return false;
                }

                if (data != "error") {
                    window.open(data);
                    CreateLetterReportSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }
     
    function CreateLetterReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Report Processed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function PrintLetterReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Report Printed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>




