﻿@model IEnumerable<CRFView.Adapters.ADJobStatus>
@{
    
    Layout = null;
}


<div>
    <table id="tblJobStatus" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>JobStatus Code</th>
              <th>Description</th>
                <th>Status Group</th>
                <th>Closed</th>
                <th>Lien Alert</th>
                <th>Notice</th>              
                <th>Long Description</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.JobStatus</td>
                    <td>@i.JobStatusDescr</td>  
                    <td>@i.StatusGroupDescription</td>
                    <td>@i.IsClosed</td>  
                    <td>@i.IsLienAlert</td>
                    <td>@i.IsNoticeRequestStatus</td> 
                    <td>@i.LongDescription</td>             
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
