﻿@model IEnumerable<CRFView.Adapters.ADBillableEventType>
@{
    
    Layout = null;
}


<div>
    <table id="tblBillableEventType" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Event Type ID </th>
                <th>Event Name</th>
                <th>Event Code</th>
                <th>Display Order</th>
                <th>Volume Based</th>
                <th>NonNoticeType</th>
                <th>IsCommissionable</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.Id</td>     
                    <td>@i.BillableEventName</td>
                    <td>@i.BillableEventCode</td>    
                    <td>@i.DisplayOrder</td>    
                    <td>@i.IsVolumeBased</td> 
                    <td>@i.IsNonNoticeItem</td> 
                    <td>@i.IsCommissionable</td>         
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
