﻿@model CRFView.Adapters.ADBillableEventType
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Event Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.BillableEventName, new { @class = "form-control" })
                <div id="ErrorBillableEventTypeName" class="Invalid-feedback" style="display:none">
                    Please Enter BillableEventType Name.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Event Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.BillableEventCode, new { @class = "form-control"  , @style = "text-transform:uppercase" })
                <div id="ErrorBillableEventTypeCode" class="Invalid-feedback" style="display:none">
                    Please Enter BillableEventType Code.
                </div>
            </div>           
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>Display Order On Stmt:</lable>
              
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control" })
               
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-8 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsVolumeBased)<lable class="Checkbox-lable">Volume Based</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-8 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsNonNoticeItem)<lable class="Checkbox-lable">Non Notice Type</lable>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
            </div>
            <div class="col-md-8 checkbox-sm" style="text-align:left">
                @Html.CheckBoxFor(m => m.IsCommissionable)<lable class="Checkbox-lable">Commissionable</lable>
            </div>
        </div>
    
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("BillableEventTypeSave", "BillableEventType")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblBillableEventType');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#BillableEventName").val().length <= 0) {
            $("#ErrorBillableEventTypeName").show();
            return false;
        }
        else {
            $("#ErrorBillableEventTypeName").hide();
        }
        if ($("#BillableEventCode").val().length <= 0) {
            $("#ErrorBillableEventTypeCode").show();
            return false;
        }
        else {
            $("#ErrorBillableEventTypeCode").hide();
        }

        return true;
    }
</script>



