﻿@model IEnumerable<CRFView.Adapters.ADReportFileName>
@{

}

<div>

    <h3 class="page-header">Report FileNames</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/ReportFileNames/_ReportFileNamesList.cshtml");}
        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {

    }

    function AddDetails() {
        $.ajax({
            url: '@Url.Action("ReportFileNameAdd", "ReportFileNames")',

            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });

    }
    function ShowDetails(id) {
        showLoadingImage();
        debugger;
        $.ajax({
            url: '@Url.Action("ReportFileNameDetails", "ReportFileNames")',
            data: {
                id: id
            },
            success: function (data) {

                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });

    }
    function Search() {
        var searchVal = $("#txtSearch").val().trim();
        var SearchKey = $("#ddlFilter").val();
        if (searchVal != "" && SearchKey != "") {
        $.ajax({
            url: '@Url.Action("Search", "ReportFileNames")',
            data: {
                value: searchVal,
                Key: SearchKey
            },
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                makeDatatable('tblReportFileNames');
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
        }
        return false;
    }

    function Refresh() {
        debugger;
        $("#txtSearch").val("");
        $.ajax({
            url: '@Url.Action("Refresh", "ReportFileNames")',
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                ClearDatatableState('tblReportFileNames');
                makeDatatable('tblReportFileNames');
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

</script>


