﻿@model CRFView.Adapters.Liens.DataEntry.MailReturns.ViewModels.MailReturnsVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }

    #tblMailReturnsGrid_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<form id="FormMailReturns">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Mail Returns
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 NopaddingLR">

            <div class="col-xs-3">
                <fieldset class="customFieldset">
                    <legend></legend>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtActionChangeOption, "Returned", new { @checked = true })
                        &nbsp;
                        <lable>Returned</lable>
                    </div>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtActionChangeOption, "Refused")
                        &nbsp;
                        <lable>Refused</lable>
                    </div>
                    <div class="form-group col-xs-12 lt">
                        @Html.RadioButtonFor(m => m.RbtActionChangeOption, "Forwarded")
                        &nbsp;
                        <lable>Forwarded</lable>
                    </div>
                </fieldset>
            </div>

            <div class="col-xs-6" style="margin-top: 20px;">
                <div class="col-xs-12 form-group">
                    <div class="col-xs-3">
                        <lable>Cert #</lable>
                    </div>
                    <div class="form-group col-xs-9 lt">
                        @Html.TextBoxFor(m => m.CertNum, new { @class = "form-control", style = "display:inline; margin-left: -30px;" })
                    </div>
                </div>
            </div> 

            <div class="col-xs-2" style="margin-top: 20px;">
                <div class="col-xs-12 form-group">
                    <input type="button" id="btnMailReturnsSave" value="Save" class="btn btn-primary" onclick="MailReturnsSave()" />
                </div> 
            </div>

            <br /><br />&nbsp;
        </div>

        <div class="col-xs-12 NopaddingLR">
            <div class="col-xs-12 form-group" style="text-align: right;">
                <b>
                    <lable style="font-weight: 1000; font-size: medium;">
                        @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                    </lable>
                </b>
            </div>
            <br />&nbsp;
        </div> 

        <div id="divDetails" style="@(Model.BatchMailReturnList.Count <= 0 ? "display:none" : "display:block")">
            <div class="col-xs-12 NopaddingLR">
                <br />
                <div id="tableMailReturnsGridDiv" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.BatchMailReturnList.Count <= 0  ? "display:none" : "display:block")">
                        <table id="tblMailReturnsGrid" class="table table-bordered dataTable table-hover grid " border="1" style="width: 900px;">
                            <thead>
                                <tr>
                                    <th style="width: 10px;">Batch Id</th>
                                    <th style="width: 10px;">Job Id</th>
                                    <th style="width: 30px;">Cert Num</th>
                                    <th style="width: 10px;">Mail Status</th>
                                    <th style="width: 10px;">LegalParty</th>
                                    <th style="width: 50px;">Notice History Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.BatchMailReturnList.Count >= 1)
                                {
                                    foreach (var i in Model.BatchMailReturnList)
                                    {
                                        <tr>
                                            <td>
                                                @i.BatchId
                                            </td>
                                            <td>
                                                @i.JobId
                                            </td>
                                            <td>
                                                @i.CertNum
                                            </td>
                                            <td>
                                                @i.MailStatus
                                            </td>
                                            <td>
                                                @i.LegalPartyType
                                            </td>
                                            <td>
                                                @i.JobNoticeHistoryId
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.CertNum)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnMailReturnsPostBatch" value="Post Batch" class="btn btn-primary" onclick="MailReturnsPostBatch()" />

            <input type="button" value="Cancel" id="btnMailReturnsCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    function MailReturnsSave() {
        debugger;
        var txtCertNum = document.getElementById("CertNum");
        if (txtCertNum.value == "") {
            alert('Please enter the CertNum.');
            txtCertNum.focus();
            hideLoadingImage();
            RefereshGrid();
            return false;
        }

        var data = $('#FormMailReturns').serialize();

        var CertNum = $("#CertNum").val();

        var divDetails = document.getElementById("divDetails");
        //if (CertNum > 0) {
            divDetails.style.display = "block";
            $.ajax({
                url: '@Url.Action("SaveMailReturn", "MailReturn")',
                data: data,
                type: "POST",
                success: function (data) {
                    debugger;

                    if (data == 1) {
                        RefereshGrid();
                    }
                    else   {
                        alert('CertNum Not Found, Try Again.');
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        //}
        //else {
        //    //divDetails.style.display = "none";
        //    txtCertNum.focus();
        //    alert('Please Enter Valid CertNum.');
        //}
    }

    function RefereshGrid()
    {
        $.ajax({
            url: '@Url.Action("ShowModal", "MailReturn")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                $('#myModal').modal("show");

                ClearDatatableState('tblMailReturnsGrid');
                makeDatatable('tblMailReturnsGrid');

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }
 
    function MailReturnsPostBatch() {
        swal({
            title: "Are you sure?",
            text: "Ready to Post?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Yes',
            closeOnConfirm: false
        },
      function (isConfirm) {
          if (isConfirm) {
              debugger;
              var data = $('#FormMailReturns').serialize();
              $.ajax({
                  url: '@Url.Action("PostBatchMailReturns", "MailReturn")',
                  data: data,
                  type: "POST",
                  success: function (data) {
                      if (data == 1)
                      {
                          $('#myModal').modal("hide");
                          PostBatchSuccessPopup();
                      }
                  },
                  fail: function (error) {
                      $('#errorMsg').show();
                  }
              });
          }
      });
        return false;
    }


    function PostBatchSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Posted!",
            text: "Your Batches Are Successfully Posted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>







