﻿@model CRFView.Adapters.Collections.Management.Reports.ViewModels.ReportsVM

@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    .txtDigits {
        text-align: right;
    }
</style>

<form id="FormPrintManagementReports">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Management Reports
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">


        <div class="col-xs-12 NopaddingLR">

            <div class="col-xs-4 NopaddingLR">
                @Html.ListBoxFor(m => m.ddlReportId, Model.ReportIdList, new { @class = "form-control", size = 15 })
            </div>

            <div class="col-xs-8 NopaddingLR">

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllClients, new { @checked = true })
                        &nbsp;
                        <lable>All Clients</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR" style="height: 100px;">
                        <div class="col-xs-12" id="divAllClients" style="@(Model.chkAllClients == false ? "display:block" : "display:none")">
                            @Html.TextAreaFor(m => m.ClientNum, new { @class = "form-control", style = "display:inline;", @rows = "3" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkByAssignDate)
                        &nbsp;
                        <lable>By Assign Date</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.AssignDateFrom, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width: 94px;" })
                        </div>
                        <div class="col-xs-2">
                            <lable>To</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.AssignDateThru, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width: 94px;" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkByTrxDate)
                        &nbsp;
                        <lable>By Transaction Date</lable>
                    </div>
                    <div class="col-xs-7 NopaddingLR">
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.TrxDateFrom, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width: 94px;" })
                        </div>
                        <div class="col-xs-2">
                            <lable>To</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.TrxnDateThru, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align: center; width: 94px;" })
                        </div>
                    </div> 
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllStatus, new { @checked = true })
                        &nbsp;
                        <lable>All Status</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR"  style="height: 100px;">
                        <div class="col-xs-12" id="divAllStatus" style="@(Model.chkAllStatus == false ? "display:block" : "display:none")">
                            @Html.TextAreaFor(m => m.StatusCode, new { @class = "form-control", style = "display:inline;", @rows = "3" })
                        </div>
                    </div> 
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-3 checkbox-sm">
                        @Html.CheckBoxFor(m => m.chkAllDesks, new { @checked = true })
                        &nbsp;
                        <lable>All Desks</lable>
                    </div>
                    <div class="col-xs-9 NopaddingLR" style="height: 100px;">
                        <div class="col-xs-12" id="divAllDesks" style="@(Model.chkAllDesks == false ? "display:block" : "display:none")">
                            @Html.TextAreaFor(m => m.DeskNum, new { @class = "form-control", style = "display:inline;", @rows = "3" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12 lt">
                    <div class="col-xs-5">
                        <fieldset class="customFieldset">
                            <legend>Print Option</legend>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To Printer")
                                &nbsp;
                                <lable>Send To Printer</lable>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "Send To PDF")
                                &nbsp;
                                <lable>Send To PDF</lable>
                            </div>
                            <div class="form-group col-xs-12 lt">
                                @Html.RadioButtonFor(m => m.RbtPrintOption, "Send to CSV", new { @checked = true })
                                &nbsp;
                                <lable>Send to CSV</lable>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div> 

        </div> 

    </div> 

    <div id="hiddenFields">
 
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnPrintManagementReportsClear" value="Clear" class="btn btn-primary pull-left" onclick="ClearPrintManagementReports()" />
            <input type="button" id="btnPrintManagementReportsOK" value="OK" class="btn btn-primary" onclick="OKPrintManagementReports()" />
            <input type="button" value="Cancel" id="btnPrintManagementReportsCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    $("[name='chkAllClients']").click(function () {
        debugger;
        var chkAllClients = $(this).val();

        if (this.checked) {
            $('#divAllClients').hide();
        }
        else {
            $('#divAllClients').show();
        }
    });

    $("[name='chkAllStatus']").click(function () {
        debugger;
        var chkAllStatus = $(this).val();

        if (this.checked) {
            $('#divAllStatus').hide();
        }
        else {
            $('#divAllStatus').show();
        }
    });

    $("[name='chkAllDesks']").click(function () {
        debugger;
        var chkAllDesks = $(this).val();

        if (this.checked) {
            $('#divAllDesks').hide();
        }
        else {
            $('#divAllDesks').show();
        }
    });

    function ClearPrintManagementReports() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#AssignDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
        $('#AssignDateThru').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

        $('#TrxDateFrom').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
        $('#TrxnDateThru').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);

        document.getElementById("chkAllClients").checked = false;
        document.getElementById("chkAllDesks").checked = false;
        document.getElementById("chkAllStatus").checked = false;
        document.getElementById("chkByAssignDate").checked = false;
        document.getElementById("chkByTrxDate").checked = false;

        $('#divAllClients').show();
        $('#divAllDesks').show();
        $('#divAllStatus').show();
    }

    //button OKPrintManagementReports
    function OKPrintManagementReports() {
        debugger;
        showLoadingImage();

        var ReportId = $("#ddlReportId").val();

        if (ReportId < 0 || ReportId == null) {
            alert('Select Report.');
            hideLoadingImage();
            return false;
        }

        var RbtPrintOption = $("input[name='RbtPrintOption']:checked").val();
        var data = $('#FormPrintManagementReports').serialize();
        $("#myModal").modal("hide");
        $.ajax({
            url: '@Url.Action("ManagementReportsPrint", "Reports")',
            data: data,
            type: "POST",
            //  dataType: 'json',
            success: function (data) {
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (RbtPrintOption == "Send To Printer") {
                    PrintManagementReportSuccessPopup();
                    hideLoadingImage();
                    return false;
                } 

                if (data != "error") {
                    window.open(data);
                    CreateManagementReportSuccessPopup();
                    hideLoadingImage();
                }
                else {
                    alert('Report Not Found !!');
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });

    }

    function CreateManagementReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Processed!",
            text: "Management Report Processed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function PrintManagementReportSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Printed!",
            text: "Management Report Printed Succesfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>





