﻿@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Reports</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="AuditDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModal", "Reports")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#AssignDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

                $('#AssignDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });


                $('#TrxDateFrom').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });
                $('#TrxnDateThru').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

              
                document.getElementById("chkAllClients").checked = true;
                document.getElementById("chkAllDesks").checked = true;
                document.getElementById("chkAllStatus").checked = true;

                $('#divAllClients').hide();
                $('#divAllDesks').hide();
                $('#divAllStatus').hide();

                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

</script>




