﻿@model IEnumerable<CRFView.Adapters.ADJobDesks>
@{
    
    Layout = null;
}


<div>
    <table id="tblJobDesks" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                
                <th>Desk Number</th>
                <th>Desk Name</th>
                <th>Title</th>
                <th>Phone Number</th>
                <th>Fax Number</th>
                <th>Email</th>
                <th>Inventory Threshold</th>
                <th>Last Inventory Count</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.DeskNum</td>
                    <td>@i.DeskName</td>             
                    <td>@i.Title</td>
                    <td>@i.PhoneNum</td>
                    <td>@i.FaxNum</td>
                    <td>@i.Email</td>
                    <td>@i.InventoryThreshold</td>
                    <td>@i.LastInventoryCount</td>
                    <td>
                            <button onclick="ShowDetails(@i.DeskId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
