﻿@model CRFView.Adapters.ADJobDesks
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.DeskId)

    <div class="modal-body">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Desk Number:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                @Html.TextBoxFor(m => m.DeskNum, new { @class = "form-control" })
                <div id="ErrorDeskNum" class="Invalid-feedback" style="display:none">
                    Please Enter Desk Number.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Desk Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.DeskName, new { @class = "form-control" })
                <div id="ErrorDeskName" class="Invalid-feedback" style="display:none">
                    Please Enter DeskName .
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Title:</lable>
               
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Phone Number:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.PhoneNum, new { @class = "form-control", @onkeyup = "formatPhone(this)", @maxlength = "12" })
                <div id="ErrorPhoneNum" class="Invalid-feedback" style="display:none">
                    Invalid Phone Number.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Fax Number:</lable>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.FaxNum, new { @class = "form-control", @onkeyup = "formatPhone(this)", @maxlength = "12" })
                <div id="ErrorFaxNum" class="Invalid-feedback" style="display:none">
                    Invalid Fax Number.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Email:</lable>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <lable class="col-md-4 col-sm-4 col-xs-4">Desk Group :</lable>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(m => m.DeskGrpId, new SelectList(ViewBag.JobDeskGroupList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })   
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Inventory Threshold:</lable>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                @Html.TextBoxFor(m => m.InventoryThreshold, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Last Inventory:</lable>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                @Html.TextBoxFor(m => m.LastInventoryCount, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            </div>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable class="Label-FontSize">Daily Goal :</lable>
                </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                @Html.TextBoxFor(m => m.DailyGoal, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
            </div>
        </div>
        
      
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({

                url: '@Url.Action("JobDesksSave", "JobDesks")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "JobDesks")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblJobDesks');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;
        
        if ($("#DeskNum").val().length <= 0) {
            $("#ErrorDeskNum").show();
            return false;
        }
        else {
            $("#ErrorDeskNum").hide();
        }
        if ($("#DeskName").val().length <= 0) {
            $("#ErrorDeskName").show();
            return false;
        }
        else {
            $("#ErrorDeskName").hide();
        }
        if (validatePhone($("#PhoneNum").val()) == false) {
            $("#ErrorPhoneNum").show();
            return false;
        }
        else {
            $("#ErrorPhoneNum").hide();
        }
        if (validatePhone($("#FaxNum").val()) == false) {
            $("#ErrorFaxNum").show();
            return false;
        }
        else {
            $("#ErrorFaxNum").hide();
        }
        return true;
    }

</script>



