﻿@model IEnumerable<CRFView.Adapters.ADStateForms>
@{
    
    Layout = null;
}


<div>
    <table id="tblStateForms" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                
                <th>State Code</th>
                <th>Form Type</th>
                <th>Form Code</th>
                <th>Description</th>
                <th>Public</th>
                <th>Private</th>
                <th>Residential</th>
                <th>Federal</th>
                <th>Rental</th>
                <th>NonStat</th>
                <th>TX 60</th>
                <th>TX 90</th>
                <th>Waiver Updated</th>
                <th>Update Date</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.StateCode</td>
                    <td>@i.FormType</td> 
                    <td>@i.FormCode</td>
                    <td>@i.Description</td> 
                    <td>@i.IsPublic</td>
                    <td>@i.IsPrivate</td>
                    <td>@i.IsResidential</td> 
                    <td>@i.IsFederal</td>
                    <td>@i.IsRental</td> 
                    <td>@i.IsNonStat</td>
                    <td>@i.IsTX60Day</td> 
                    <td>@i.IsTX90Day</td> 
                    <td>@i.IsWaiverUpdated</td>     
                    @{
                        if (i.WaiverUpdateDate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.WaiverUpdateDate.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                  
                    <td>
                            <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
