﻿@model IEnumerable<CRFView.Adapters.ADStateForms>
@{

}

<div>
    <h3 class="page-header">State Forms</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewConfiguration/Liens/StateForms/_StateFormsList.cshtml");}
        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-width">

        <!-- Modal content-->
        <div class="modal-content modal-width">

        </div>

    </div>
</div>


<script type="text/javascript">
    function OnPartialLoad() {
        //add functions onload
    }

    function AddDetails() {

        $.ajax({
            url: '@Url.Action("StateFormsAdd", "StateForms")',
            data: {

            },
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                $('#WaiverUpdateDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker("setDate", new Date());
                $("#WaiverUpdateDate").hide();
           
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });

    }
    function ShowDetails(id) {
        showLoadingImage();
        debugger;
        $.ajax({
            url: '@Url.Action("StateFormsDetails", "StateForms")',
            data: {
                id: id
            },
            success: function (data) {
                hideLoadingImage();
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                $('#WaiverUpdateDate').datepicker();
                if ($("#IsWaiverUpdated").is(":checked")) {
                    $("#WaiverUpdateDate").show()
                }
                else {
                    $("#WaiverUpdateDate").hide();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });

    }
    function Search() {
        var searchVal = $("#txtSearch").val().trim();
        var SearchKey = $("#ddlFilter").val();
        if (searchVal != "" && SearchKey != "") {

            $.ajax({
                url: '@Url.Action("Search", "StateForms")',
                data: {
                    value: searchVal,
                    Key: SearchKey
                },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblStateForms');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }
        return false;
    }
    function Refresh() {
        debugger;
        $("#txtSearch").val("");
        $.ajax({
            url: '@Url.Action("Refresh", "StateForms")',
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                ClearDatatableState('tblStateForms');
                makeDatatable('tblStateForms');
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

</script>


