﻿@model CRFView.Adapters.ADStateForms
@{
   Layout = null;
}


<form id="FormEdit">
 <div class="modal-header">
     <h3 class="Details-Heading">
         Details
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
             <span aria-hidden="true">×</span>
         </button>
     </h3>
    </div>
    @Html.HiddenFor(m=>m.Id)

    <div class="modal-body">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                        <lable class="Label-FontSize">State Code:</lable>
                        <span class="ValidationStar">*</span>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.StateCode, new { @class = "form-control", @style="text-transform:uppercase" })
                        <div id="ErrorStateCode" class="Invalid-feedback" style="display:none">
                            Please Enter State Code.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                        <lable class="Label-FontSize">Form Code:</lable>
                        <span class="ValidationStar">*</span>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        @Html.TextBoxFor(m => m.FormCode, new { @class = "form-control", @style = "text-transform:uppercase" })
                        <div id="ErrorFormCode" class="Invalid-feedback" style="display:none">
                            Please Enter Form Code.
                        </div>
                     </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                        <lable class="Label-FontSize">Notice Code:</lable>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        @Html.TextBoxFor(m => m.NoticeCode, new { @class = "form-control", @style = "text-transform:uppercase" })
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                        <lable class="Label-FontSize">Description:</lable>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-3 col-xs-3 LableAlign">
                        <lable class="Label-FontSize">Form Type:</lable>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        @Html.TextBoxFor(m => m.FormType, new { @class = "form-control", @style = "text-transform:uppercase" })
                    </div>
                </div>
                @*<div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                        <lable class="Label-FontSize">Waiver Sig/RTF:</lable>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        @Html.TextBoxFor(m => m.WaiverSigRTF, new { @class = "form-control" })
                    </div>
                </div>*@
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3" style="border: solid 2px;">
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group"  style="text-align:left;">
                    @Html.RadioButtonFor(m=> m.JobType, "Public")
                    <label for="Public">Public</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group"  style="text-align:left;">
                    @Html.RadioButtonFor(m => m.JobType, "Private")
                    <label for="Private">Private</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group"  style="text-align:left;">
                    @Html.RadioButtonFor(m=> m.JobType, "Residential")
                    <label for="Residential">Residential</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group"  style="text-align:left;">
                    @Html.RadioButtonFor(m => m.JobType, "Federal")
                    <label for="Federal">Federal</label>
                </div>
                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group"  style="text-align:left;">
                    @Html.RadioButtonFor(m => m.JobType, "Rental")
                    <label for="Rental">Rental</label>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">
            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align:left;">
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm" >
                    @Html.CheckBoxFor(m => m.IsOvernight) <label for="IsOvernight">Overnight</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm">
                    @Html.CheckBoxFor(m => m.IsTX60Day) <label for="IsTX60Day">TX 60 Day Notice</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm">
                    @Html.CheckBoxFor(m => m.IsTX90Day) <label for="IsTX90Day">TX 90 Day Notice</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align:left;">
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm">
                    @Html.CheckBoxFor(m => m.IsNonStat) <label for="IsNonStat">Non Stat</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm">
                    @Html.CheckBoxFor(m => m.IsPIFPrompt) <label for="IsPIFPrompt">PIF Prompt</label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12  checkbox-sm">
                    @Html.CheckBoxFor(m => m.IsWaiverUpdated) <label for="IsWaiverUpdated">Waiver Updated</label> 
                    </div>
                @Html.TextBoxFor(m => m.WaiverUpdateDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
            </div>
            </div>

        
        </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("StateFormsSave", "StateForms")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "StateForms")',
                            type: "POST",
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblStateForms');
                                $("#txtSearch").val("");
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }                  
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    $("#IsWaiverUpdated").on('click', function () {
        if ($(this).is(":checked"))
        {
            $("#WaiverUpdateDate").show();
        }
        else {
            $("#WaiverUpdateDate").hide();
        }
    })


    //validation for null record
    function Validate() {
        debugger;
        if ($("#StateCode").val() == "") {
            $("#ErrorStateCode").show();
            return false;
        }
        else {
            $("#ErrorStateCode").hide();
        }
        if ($("#FormCode").val() == "") {
            $("#ErrorFormCode").show();
            return false;
        }
        else {
            $("#ErrorFormCode").hide();
        }
        return true;
    }
</script>



