﻿@model IEnumerable<CRFView.Adapters.ADStateInfoHistory>
@{

}
<div>
    <div style="text-align: right; margin-bottom: 5px;">
        <button type="button" onclick="AddNotes();" class="btn btn-primary modal-link">
            <i class="icon wb-plus" aria-hidden="true"></i>Add
        </button>
    </div>
</div>
<div id="DivNotesList">
    @{Html.RenderPartial("~/Views/CRFViewConfiguration/Liens/StateInfo/_NotesList.cshtml");}
</div>
    <div style="margin-top: 15px;">
        <input type="hidden" id="hdnStateId" name="hdnStateId" />
        <input type="hidden" id="hdnNoteId" name="hdnNoteId">
        <lable class="alert alert-alt alert-primary alert-dismissible col-md-12" style="text-align: left; font-size: 15px;" id="UserInfo"></lable>
        <textarea id="txtNote" class="form-control" rows="6" cols="20" style="width:100%;font-size: 15px;" readonly></textarea>
    </div>

    <form id="FormNoteEdit">
        <div class="modal modal-primary fade" id="NoteModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="Details-Heading text-center">
                            Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                                <span aria-hidden="true">×</span>
                            </button>
                        </h3>
                    </div>
                    <br />
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" id="txtAddNote" name="txtAddNote" rows="6" cols="8"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
                            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="SaveNote()" />
                            <input type="button" value="Cancel" id="CancelNoteModal" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>


    <script>
        $('#CancelNoteModal').on('click', function () {
            $('#NoteModal').modal("hide");
        });

        function ShowNoteDetails(id) {
            $.ajax({
                url: '@Url.Action("NotesDetails", "StateInfo")',
                data: {
                    id: id
                },
                success: function (data) {
                    debugger;
                    if (data != 0) {
                        $('#txtNote').val(data.Note);
                        $('#hdnNoteId').val(data.Id);
                        $('#UserInfo').text("User Name : " + data.UserName + " Created On : " + ConvertJsonToDate(data.DateCreated) + ".")
                    }

                    hideLoadingImage();

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
            return false;
        }

        function AddNotes() {
            debugger;
            $('#NoteModal').modal("show");
            $('#txtAddNote').val();
            return false;
        }
        function SaveNote() {
            debugger;
            if ($('#txtAddNote').val() != "") {
                $('#NoteModal').modal("hide");
                showLoadingImage();
                $.ajax({
                    url: '@Url.Action("NotesSave", "StateInfo")',
                    data: { Note: $('#txtAddNote').val() },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data == "True") {
                            $.ajax({
                                url: '@Url.Action("NotesRefresh", "StateInfo")',
                                success: function (data) {
                                    $('#DivNotesList').html(data);
                                    makeDatatable('tblStateInfoHistory');
                                    hideLoadingImage();
                                    $('#successMsg').show();
                                },
                                fail: function (error) {
                                    hideLoadingImage();
                                    $('#errorMsg').show();
                                }
                            });
                        }
                        else {
                            hideLoadingImage();
                            $('#errorMsg').show();
                        }
                    },
                    fail: function (error) {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                });
            }
        }


    </script>
