﻿@model IEnumerable<CRFView.Adapters.ADStateInfo>
@{
    
    Layout = null;
}


<div>
    <table id="tblStateInfo" class="table table-bordered dataTable table-hover grid " border="1" >
        <thead>
            <tr>
                <th class="no-sort">Edit</th>
                <th>State Name</th>
                <th>State Initials</th>
                <th>Prelim Req</th>
                <th>Prelim Time</th>
                <th>Prelim Info</th>
                <th>Mech Time</th>
                <th>Mech Period</th>
                <th>Mech Serve</th>
                <th>Mech Info</th>
                <th>Stop Notice</th>
                <th>Stop NoticeInfo</th>
                <th>Misc Info</th>
                <th>Owner Serv Box</th>
                <th>GC ServBox</th>
                <th>Lender Serv Box</th>
                <th>Cust Serv Box</th>
                <th>Court Serve Box</th>
                <th>Est BalanceBox</th>
                <th>NOI StateBox</th>
                <th>Residential RulesBox</th>
                <th>WebLien</th>
                <th>WebNTO</th>
                <th>NOCBox</th>
                <th>NTODays</th>
                <th>LienDays</th>
                <th>BondDays</th>
                <th>SNDays</th>
                <th>JobCountyReq</th>
                <th>NTODaysRes</th>
                <th>Designee ServBox</th>
                <th>Default Desk</th>
                <th>DeskRuleId</th>
                <th>NoGCNTO With SameCust</th>
                <th>ForeclosureDays</th>
                <th>Interest Rate</th>
                <th>State Alert</th>
                <th>FullPrice Lien</th>
                <th>MLAgent</th>
                <th>IsBillableLegalDesc</th>
                <th>GCOnlyState</th>
                <th>NOCLienDays</th>
                <th>NOCBondDays</th>
                <th>NOCSNDays</th>
                <th>NOILienDays</th>
                <th>Public LienDays</th>
                <th>Public NOCLienDays</th>
                <th>Public BondDays</th>
                <th>Public NOCBondDays</th>
                <th>PublicSNDays</th>
                <th>PublicNOCSNDays</th>
                <th>ResLienDays</th>
                <th>ResNOCLienDays</th>
                <th>ResBondDays</th>
                <th>ResNOCBondDays</th>
                <th>ResSNDays</th>
                <th>ResNOCSNDays</th>
                <th>ResForeclosureDays</th>
                <th>PublicForeclosureDays</th>
                <th>LienAlert</th>
                <th>LastUpdatedOn</th>
                <th>NoticeOfCompBox</th>
                <th>GCSendReg</th>
                <th>NTO UpdateDate</th>
                <th>Lien UpdateDate</th>
                <th>Bond UpdateDate</th>
                <th>StopNotice UpdateDate</th>
                <th>NOI UpdateDate</th>
                <th>Material Validation</th>
                <th>First Furnish</th>
                <th>Last Furnish</th>
                <th>Non Statutory</th>
                <th>Late Notice</th>
                <th>Lien SuitStartLF</th>
                <th>Lien SuitStartFileDate</th>
                <th>Bond SuitStartLF</th>
                <th>Bond SuitStartFileDate</th>
                <th>Bond SuitDays</th>
                <th>Public BondSuitDays</th>
                <th>Res BondSuitDays</th>
                <th>Monthly</th>
                <th>Public NTODays</th>
                <th>Rental Exception</th>
                <th>Public NOIDays</th>
                <th>ResNOIDays</th>
                <th>Return Receipt Private</th>
                <th>Return Receipt Public</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        <button onclick="ShowDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>@i.StateName</td>
                    <td>@i.StateInitials</td>
                    <td>@i.PrelimReq</td>
                    <td>@i.PrelimTime</td>
                    <td>@i.PrelimInfo</td>
                    <td>@i.MechTime</td>
                    <td>@i.MechPeriod</td>
                    <td>@i.MechServe</td>
                    <td>@i.MechInfo</td>
                    <td>@i.StopNotice</td>
                    <td>@i.StopNoticeInfo</td>
                    <td>@i.MiscInfo</td>
                    <td>@i.OwnerServBox</td>
                    <td>@i.GCServBox</td>
                    <td>@i.LenderServBox</td>
                    <td>@i.CustServBox</td>
                    <td>@i.CourtServeBox</td>
                    <td>@i.EstBalanceBox</td>
                    <td>@i.NOIStateBox</td>
                    <td>@i.ResidentialRulesBox</td>
                    <td>@i.WebLien</td>
                    <td>@i.WebNTO</td>
                    <td>@i.NOCBox</td>
                    <td>@i.NTODays</td>
                    <td>@i.LienDays</td>
                    <td>@i.BondDays</td>
                    <td>@i.SNDays</td>
                    <td>@i.JobCountyReq</td>
                    <td>@i.NTODaysRes</td>
                    <td>@i.DesigneeServBox</td>
                    <td>@i.DefaultDesk</td>
                    <td>@i.DeskRuleId</td>
                    <td>@i.NoGCNTOWithSameCust</td>
                    <td>@i.ForeclosureDays</td>
                    <td>@i.InterestRate</td>
                    <td>@i.StateAlert</td>
                    <td>@i.FullPriceLien</td>
                    <td>@i.MLAgent</td>
                    <td>@i.IsBillableLegalDesc</td>
                    <td>@i.GCOnlyState</td>
                    <td>@i.NOCLienDays</td>
                    <td>@i.NOCBondDays</td>
                    <td>@i.NOCSNDays</td>
                    <td>@i.NOILienDays</td>
                    <td>@i.PublicLienDays</td>
                    <td>@i.PublicNOCLienDays</td>
                    <td>@i.PublicBondDays</td>
                    <td>@i.PublicNOCBondDays</td>
                    <td>@i.PublicSNDays</td>
                    <td>@i.PublicNOCSNDays</td>
                    <td>@i.ResLienDays</td>
                    <td>@i.ResNOCLienDays</td>
                    <td>@i.ResBondDays</td>
                    <td>@i.ResNOCBondDays</td>
                    <td>@i.ResSNDays</td>
                    <td>@i.ResNOCSNDays</td>
                    <td>@i.ResForeclosureDays</td>
                    <td>@i.PublicForeclosureDays</td>
                    <td>@i.LienAlert</td>                   
                    @{
                        if (i.LastUpdatedOn.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.LastUpdatedOn.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    <td>@i.NoticeOfCompBox</td>
                    <td>@i.GCSendReg</td>                
                    @{
                        if (i.NTOUpdateDate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.NTOUpdateDate.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    @{
                        if (i.LienUpdateDate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.LienUpdateDate.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    @{
                        if (i.BondUpdateDate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.BondUpdateDate.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    @{
                        if (i.StopNoticeUpdateDat.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.StopNoticeUpdateDat.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    @{
                        if (i.NOIUpdateDate.Year == 0001)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.NOIUpdateDate.ToString("MM/dd/yyyy")</td>
                        }
                    }  
                    <td>@i.MaterialValidation</td>
                    <td>@i.FirstFurnish</td>
                    <td>@i.LastFurnish</td>
                    <td>@i.NonStatutory</td>
                    <td>@i.LateNotice</td>
                    <td>@i.LienSuitStartLF</td>
                    <td>@i.LienSuitStartFileDate</td>
                    <td>@i.BondSuitStartLF</td>
                    <td>@i.BondSuitStartFileDate</td>
                    <td>@i.BondSuitDays</td>
                    <td>@i.PublicBondSuitDays</td>
                    <td>@i.ResBondSuitDays</td>
                    <td>@i.Monthly</td>
                    <td>@i.PublicNTODays</td>
                    <td>@i.RentalException</td>
                    <td>@i.PublicNOIDays</td>
                    <td>@i.ResNOIDays</td>
                    <td>@i.ReturnReceiptPrivate</td>
                    <td>@i.ReturnReceiptPublic</td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>
