﻿@model CRFView.Adapters.ADStateInfo
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 0; margin-bottom: 0;">
            Details
        </h3>
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.MiscInfo)
    <div >
        <br />
        <div class="example-wrap">
            <div class="nav-tabs-horizontal" data-plugin="tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabStateInfo" aria-controls="TabStateInfo" role="tab" aria-selected="false">State Info</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabStateAlerts" aria-controls="TabStateAlerts" role="tab" aria-selected="false">State Alerts</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabCollections" aria-controls="TabCollections" role="tab" aria-selected="false">Collections</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabNotes" aria-controls="TabNotes" role="tab" aria-selected="false">Notes</a></li>
                </ul>
                <br />
                <div class="tab-content pt-20">

                    <div class="tab-pane active" id="TabStateInfo" role="tabpanel" >
                        <div class="col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                            <div class="col-md-6 col-sm-6 col-xs-6 NopaddingLR">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">State</lable>
                                        <span class="ValidationStar">*</span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        @Html.TextBoxFor(m => m.StateName, new { @class = "form-control" })
                                        <div id="ErrorStateName" class="Invalid-feedback" style="display:none">
                                            Please Enter State Name.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">State Initial</lable>
                                        <span class="ValidationStar">*</span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        @Html.TextBoxFor(m => m.StateInitials, new { @class = "form-control" ,@style="text-transform:uppercase"})
                                        <div id="ErrorStateInitials" class="Invalid-feedback" style="display:none">
                                            Please Enter State Initial.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Prelim Required</lable>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        @Html.TextBoxFor(m => m.PrelimReq, new { @class = "form-control", @style = "text-transform:uppercase" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Prelim Time</lable>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.PrelimTime, new { @class = "form-control", @rows = "2", @cols = "5" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Prelim Info</lable>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.PrelimInfo, new { @class = "form-control", @rows = "2", @cols = "5" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Mech Time</lable>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.MechTime, new { @class = "form-control", @rows = "2", @cols = "5" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Mech Period</lable>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(m => m.MechPeriod, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Mech Serve</lable>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.MechServe, new { @class = "form-control", @rows = "2", @cols = "5" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Mech Info</lable>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.MechInfo, new { @class = "form-control", @rows = "2", @cols = "5" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Stop Notice</lable>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.StopNotice, new { @class = "form-control", @rows = "2", @cols = "5" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Stop Notice Info</lable>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.StopNoticeInfo, new { @class = "form-control", @rows = "2", @cols = "5" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Default Desk Rule</lable>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        @Html.DropDownListFor(m => m.DeskRuleId, new SelectList(ViewBag.JobDeskRulesList, "Id", "Name"), "Choose... ", new { @class = "form-control", style = "height: auto;" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <lable class="Label-FontSize">Last Updated On</lable>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        @Html.TextBoxFor(m => m.LastUpdatedOn, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 NopaddingLR">

                                <div class="form-group  col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                                    <fieldset class="customFieldset">
                                        <legend>Prelim/NTO Service</legend>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.OwnerServBox) <label for="IsOvernight">Owner</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.CustServBox) <label for="CustServBox">Customer</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.GCServBox) <label for="GCServBox">GC</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.DesigneeServBox) <label for="DesigneeServBox">Designee</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.LenderServBox) <label for="LenderServBox">Lender/Surety</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.CourtServeBox) <label for="CourtServBox">Court/County Clerk</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 NopaddingLR ">
                                    <fieldset  class="customFieldset">
                                        <legend>Misc</legend>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.EstBalanceBox) <label for="EstBalanceBox">EstBalance Required</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.WebNTO) <label for="WebNTO">Web NTO</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.NOIStateBox) <label for="NOIStateBox">NOI State</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.WebLien) <label for="WebLien">Web Lien</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.ResidentialRulesBox) <label for="ResidentialRulesBox">Residential Rule</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.FullPriceLien) <label for="FullPriceLien">Full Price Lien</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.NOCBox) <label for="NOCBox">NOC State</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.MLAgent) <label for="LenderServBox">ML Agent</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.IsBillableLegalDesc) <label for="IsBillableLegalDesc">Billable Legal Desc</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.GCOnlyState) <label for="GCOnlyState">GC Only State</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.NoGCNTOWithSameCust) <label for="NoGCNTOWithSameCust">NoGC On SameAsCust</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.NoticeOfCompBox) <label for="NoticeOfCompBox">Notice of Comp</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.GCSendReg) <label for="GCSendReg">GC Send Reg</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.MaterialValidation) <label for="MaterialValidation">Material Validation</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.LateNotice) <label for="LateNotice">Late Notice</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.RentalException) <label for="RentalException">Rental Exception</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.ReturnReceiptPrivate) <label for="ReturnReceiptPrivate">Return Receipt Private</label>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 checkbox-sm">
                                                @Html.CheckBoxFor(m => m.ReturnReceiptPublic) <label for="ReturnReceiptPublic">Return Receipt Public</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-5 col-sm-5 col-xs-5" style="border: 1px solid darkgray;padding-right: 0;margin-right: 10px;">
                                                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:left;">
                                                    @Html.RadioButtonFor(m => m.Furnish, "FirstFurnish")
                                                    <label for="Public">First Furnish</label>
                                                </div>
                                                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:left;">
                                                    @Html.RadioButtonFor(m => m.Furnish, "LastFurnish")
                                                    <label for="Public">Last Furnish</label>
                                                </div>
                                                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:left;">
                                                    @Html.RadioButtonFor(m => m.Furnish, "NonStatutory")
                                                    <label for="Public">Non Statutory</label>
                                                </div>
                                                <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:left;">
                                                    @Html.RadioButtonFor(m => m.Furnish, "Monthly")
                                                    <label for="Public">Monthly</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 NopaddingLR" >
                                                <div class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid darkgray; padding-right: 0; margin-bottom: 5px;" >
                                                    <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:left;">
                                                        @Html.RadioButtonFor(m => m.LienSuit, "LienSuitStartLF")
                                                        <label for="Public">Lien Suit Start LF</label>
                                                    </div>
                                                    <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:left;">
                                                        @Html.RadioButtonFor(m => m.LienSuit, "LienSuitStartFileDate")
                                                        <label for="Public">Lien Suit Start File Date</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid darkgray; padding-right: 0;" >
                                                    <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:left;">
                                                        @Html.RadioButtonFor(m => m.BondSuit, "BondSuitStartLF")
                                                        <label for="Public">Bond Suit Start LF</label>
                                                    </div>
                                                    <div class="radio-custom radio-sm col-md-12 col-sm-12 col-xs-12 form-group" style="text-align:left;">
                                                        @Html.RadioButtonFor(m => m.BondSuit, "BondSuitStartFileDate")
                                                        <label for="Public">Bond Suit Start File Date</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                               
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="TabStateAlerts" role="tabpanel">
                        <div class="col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                            <div class="col-md-5 col-sm-5 col-xs-5" style="padding-left:0px">
                               
                                    <fieldset class="customFieldset" style="margin-bottom: 20px;">
                                        <legend>Prelim Days</legend>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">NTO Days</lable>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                @Html.TextBoxFor(m => m.NTODays, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">NTO Days (Res)</lable>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                @Html.TextBoxFor(m => m.NTODaysRes, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 NopaddingLR" style="margin-bottom: 10px;">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">NTO Days (Pub)</lable>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                @Html.TextBoxFor(m => m.PublicNTODays, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </fieldset>
                               
                               
                                    <fieldset class="customFieldset"">
                                        <legend>Forms Updated On</legend>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">NTO</lable>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                @Html.TextBoxFor(m => m.NTOUpdateDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">Lien</lable>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                @Html.TextBoxFor(m => m.LienUpdateDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">Bond</lable>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                @Html.TextBoxFor(m => m.BondUpdateDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 NopaddingLR">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">Stop Notice</lable>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                @Html.TextBoxFor(m => m.StopNoticeUpdateDat, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12 NopaddingLR" style="margin-bottom: 10px;">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">NOI</lable>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                @Html.TextBoxFor(m => m.NOIUpdateDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                            </div>
                                        </div>
                                    </fieldset>
                              
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-7 NopaddingLR">
                               
                                    <fieldset class="customFieldset">
                                        <legend>Lien Days</legend>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width" style="text-align:center;">
                                                <label style="font-weight: 500;" class="Label-FontSize">Private</label>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width" style="text-align:center;">
                                                <label style="font-weight: 500;" class="Label-FontSize">Public</label>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width" style="text-align:center;">
                                                <label style="font-weight: 500;" class="Label-FontSize">Residential</label>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign">
                                                <lable class="Label-FontSize">Last Furnished Lien Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.LienDays, new { @class = "form-control ", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicLienDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResLienDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign ">
                                                <lable class="Label-FontSize">NOC Lien Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.NOCLienDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicNOCLienDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResNOCLienDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign ">
                                                <lable class="Label-FontSize">Bond Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.BondDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicBondDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResBondDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign ">
                                                <lable class="Label-FontSize">NOC Bond Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.NOCBondDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicNOCBondDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResNOCBondDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign ">
                                                <lable class="Label-FontSize">Stop Notice Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.SNDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicSNDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResSNDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign ">
                                                <lable class="Label-FontSize">NOC Stop Notice Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.NOCSNDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicNOCSNDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResNOCSNDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign ">
                                                <lable class="Label-FontSize">Lien Foreclosure Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ForeclosureDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicForeclosureDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResForeclosureDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign ">
                                                <lable class="Label-FontSize">Bond Suit Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.BondSuitDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicBondSuitDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResBondSuitDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px;">
                                            <div class="col-md-6 col-sm-6 col-xs-6 LableAlign ">
                                                <lable class="Label-FontSize">Notice Of Intent Days</lable>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.NOILienDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.PublicNOIDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2 padding-right-0 text-width">
                                                @Html.TextBoxFor(m => m.ResNOIDays, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                            </div>
                                        </div>
                                    </fieldset>
                               
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 NopaddingLR" style="margin-top:20px; ">
                            <div class="col-md-6 col-sm-6 col-xs-6 NopaddingLR">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <label class="Label-FontSize">State Alert</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.MiscInfo, new { @class = "form-control", @rows = "4", @cols = "8" })
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                        <label class="Label-FontSize">Placement Alert</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        @Html.TextAreaFor(m => m.StateAlert, new { @class = "form-control", @rows = "4", @cols = "8" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-6 NopaddingLR">
                                <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                                    <label class="Label-FontSize">Lien Alert</label>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    @Html.TextAreaFor(m => m.LienAlert, new { @class = "form-control", @rows = "4", @cols = "8" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="TabCollections" role="tabpanel">
                        <fieldset  class="customFieldset">
                            <legend>Collections</legend>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 ">
                                <div class="col-md-4 col-sm-4 col-xs-4  LableAlign">
                                    <lable class="Label-FontSize">Default Interest</lable>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    @Html.TextBoxFor(m => m.InterestRate, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="tab-pane" id="TabNotes" role="tabpanel">
                    @*    @{Html.RenderPartial("~/Views/CRFViewConfiguration/Liens/StateInfo/_Notes.cshtml");}*@
                        @{Html.RenderAction("GetNotesList", "StateInfo");}
                     </div>

                </div>
            </div>
        </div>
    </div>
    <div >
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px; text-align: right;">
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>
</form>

<script>

    $('#CancelModal').on('click', function () {
        $('#divStateInfoDetails').fadeOut(100);
        $('#divStateInfoList').fadeIn(100);
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            debugger;
            $('#divStateInfoDetails').fadeOut(100);
            $.ajax({
                url: '@Url.Action("StateInfoSave", "StateInfo")',
                data: $("#FormEdit").serialize(),
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data == "True") {
                        $.ajax({
                            url: '@Url.Action("Refresh", "StateInfo")',                          
                            success: function (data) {
                                $('#list').html(data);
                                makeDatatable('tblStateInfo');
                                $("#txtSearch").val("");
                                $('#divStateInfoList').fadeIn(100);
                                hideLoadingImage();
                                $('#successMsg').show();
                            },
                            fail: function (error) {
                                hideLoadingImage();
                                $('#errorMsg').show();
                            }
                        });
                    }
                    else {
                        hideLoadingImage();
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }


    //validation for null record
    function Validate() {
        debugger;
        if ($("#StateName").val() == "") {
            $("#ErrorStateName").show();
            return false;
        }
        else {
            $("#ErrorStateName").hide();
        }
        if ($("#StateInitials").val() == "") {
            $("#ErrorStateInitials").show();
            return false;
        }
        else {
            $("#ErrorStateInitials").hide();
        }
        return true;
    }

   
</script>



