﻿@model CRFView.Adapters.Liens.Managements.ViewBatchJob.ViewModels.ViewPlacementInfoVM
@{
    Layout = null;
}

<style>

    .rt{
        text-align:right;
    }

     .NopaddingLR {
        padding-right: 6px !important;
        padding-left: 5px !important;
    }

</style>

<form id="FormEditBranchInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>View BatchJob</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="form-group col-xs-12 lt NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-3" style="margin-left: -55px;">
                    <lable>Job Id</lable>
                </div>
                <div class="col-xs-2" style="margin-left: -146px;">
                    @Html.TextBoxFor(m => m.ByJobId, new { @class = "form-control", style = "display:inline; Width:108px;" })
                </div>
                <div class="col-xs-2" style="margin-left: -25px;">
                    <input type="button" id="btnFindJobInfo" value="Find" class="btn btn-primary" onclick="FindViewPlacementInfo()" />
                </div>
            </div>

        </div>

        <div id="divDetails" style="@(string.IsNullOrEmpty(Model.ByJobId)   ? "display:none" : "display:block")">
            <div class="form-group col-xs-12 lt NopaddingLR">
                <div class="col-xs-12 NopaddingLR">
                    <div class="col-xs-5 NopaddingLR">
                        <fieldset class="customFieldset">
                            <legend></legend>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Lien #</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.JobId, new { @class = "form-control", style = "display:inline; width:108px;", @readonly = true })
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Client #</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.ClientCode, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Job type</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.JobType, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Submitted On</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.SubmittedOn, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Job Number</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.JobNum, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Job Name</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.JobName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Address 1</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.JobAdd1, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Address 2</lable>
                                </div>
                                <div class="col-xs-9">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.JobAdd2, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>City/St/Zip</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.JobCity, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-1">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.JobState, new { @class = "form-control", style = "display:inline; width: 60px; margin-left: -24px;", @readonly = true })
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.JobZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    &nbsp;
                                </div>
                                <div class="col-xs-4 checkbox-sm" style="margin-left: -16px;">
                                    @Html.CheckBoxFor(m => m.ObjADvwJobPlacementInfo.RushOrder, new { style = "display:inline;", @disabled = "disabled" })&nbsp;
                                    <lable>Prelim Rush</lable>
                                </div>
                                <div class="col-xs-1">&nbsp;</div>
                                <div class="col-xs-4 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.ObjADvwJobPlacementInfo.RushOrderML, new { style = "display:inline;", @disabled = "disabled" })&nbsp;
                                    <lable>ML Rush</lable>
                                </div>
                            </div>

                        </fieldset>

                        <br />

                        <fieldset class="customFieldset">
                            <legend></legend>

                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Batch Id</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.BatchId, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                                <div class="col-xs-2 rt">
                                    <lable>Entry Id</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.BatchJobId, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Source</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.PlacementSource, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>
                            <div class="col-xs-12 form-group lt NopaddingLR">
                                <div class="col-xs-3 rt">
                                    <lable>Entered By</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.SubmittedBy, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                </div>
                            </div>

                        </fieldset>

                    </div>


                    <div class="col-xs-7 NopaddingLR">
                        <fieldset class="customFieldset">
                            <legend></legend>


                            <div class="col-xs-12">
                                <div class="nav-tabs-horizontal" data-plugin="tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li id="GeneralContractor" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabGeneralContractor" aria-controls="TabGeneralContractor" role="tab" aria-selected="false">General Contractor</a></li>
                                        <li id="Owner" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabOwner" aria-controls="TabOwner" role="tab" aria-selected="false">Owner</a></li>
                                        <li id="LenderSurety" class="nav-item " role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLenderSurety" aria-controls="TabLenderSurety" role="tab" aria-selected="false" >Lender/Surety</a></li>
                                        <li id="Designee" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabDesignee" aria-controls="TabDesignee" role="tab" aria-selected="false">Designee</a></li>
                                        <li id="OtherLegals" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabOtherLegals" aria-controls="TabOtherLegals" role="tab" aria-selected="false">Other Legals</a></li>
                                    </ul>
                                </div>

                                <fieldset>

                                    <div class="tab-content">

                                        <div class="tab-pane active" id="TabGeneralContractor" role="tabpanel">
                                            <br />
                                            <div>

                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-xs-4 checkbox-sm" style="margin-left: -22px;">
                                                        @Html.CheckBoxFor(m => m.ObjADvwJobPlacementInfo.SameAsCust, new { style = "display:inline;", @disabled = "disabled" })&nbsp;
                                                        <lable>Same As Customer</lable>
                                                    </div>
                                                    <div class="col-xs-1">&nbsp;</div>
                                                    <div class="col-xs-4 checkbox-sm">
                                                       @Html.CheckBoxFor(m => m.ObjADvwJobPlacementInfo.OwnerSourceGC, new { style = "display:inline;", @disabled = "disabled" })&nbsp;
                                                       <lable>GC Rec</lable>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>GC Name</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Contact</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCContactName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Address</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCAdd1, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCAdd2, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>City/St/Zip</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCCity, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                    <div class="col-xs-1">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCState, new { @class = "form-control", style = "display:inline; width: 60px; margin-left: -24px;", @readonly = true })
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Phone</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCPhone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Fax</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCFax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Ref#</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.GCRefNum, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>

                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>

                                            </div>
                                        </div>

                                        <div class="tab-pane" id="TabOwner" role="tabpanel">
                                            <br />
                                            <div>

                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-xs-6 checkbox-sm" style="margin-left: -46px;">
                                                        @Html.CheckBoxFor(m => m.ObjADvwJobPlacementInfo.SameAsGC, new { style = "display:inline;", @disabled = "disabled" })&nbsp;
                                                        <lable>Same As General Contractor</lable>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Owner Name</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.OwnrName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Address</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.OwnrAdd1, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.OwnrAdd2, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>City/St/Zip</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.OwnrCity, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                    <div class="col-xs-1">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.OwnrState, new { @class = "form-control", style = "display:inline; width: 60px; margin-left: -24px;", @readonly = true })
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.OwnrZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Phone</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.OwnrPhone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Fax</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.OwnrFax, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-xs-6 checkbox-sm" style="margin-left: -104px;">
                                                        @Html.CheckBoxFor(m => m.ObjADvwJobPlacementInfo.MLAgent, new { style = "display:inline;", @disabled = "disabled" })&nbsp;
                                                        <lable>ML Agent</lable>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>


                                            </div>
                                        </div>

                                        <div class="tab-pane" id="TabLenderSurety" role="tabpanel">
                                            <br />
                                            <div>

                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-xs-6 checkbox-sm" style="margin-left: -105px;">
                                                        @Html.CheckBoxFor(m => m.ObjADvwJobPlacementInfo.SuretyBox, new { style = "display:inline;", @disabled = "disabled" })&nbsp;
                                                        <lable>SuretyBox</lable>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Lender Name</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.LenderName, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Address</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.LenderAdd1, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.LenderAdd2, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>City/St/Zip</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.LenderCity, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                    <div class="col-xs-1">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.LenderState, new { @class = "form-control", style = "display:inline; width: 60px; margin-left: -24px;", @readonly = true })
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.LenderZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Phone</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.LenderPhone1, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Bond#</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.ObjADvwJobPlacementInfo.BondNum, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="TabDesignee" role="tabpanel">
                                            <br />
                                            <div>

                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Designee Name</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.value, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Address</lable>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.value, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        &nbsp;
                                                    </div>
                                                    <div class="col-xs-9">
                                                        @Html.TextBoxFor(m => m.value, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>City/St/Zip</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.value, new { @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                    <div class="col-xs-1">
                                                        @Html.TextBoxFor(m => m.value, new { @class = "form-control", style = "display:inline; width: 60px; margin-left: -24px;", @readonly = true })
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.value, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 form-group lt NopaddingLR">
                                                    <div class="col-xs-3 rt">
                                                        <lable>Phone</lable>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        @Html.TextBoxFor(m => m.value, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", style = "display:inline;", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                                <div class="col-xs-12">&nbsp;</div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="TabOtherLegals" role="tabpanel">
                                            <br />
                                            <fieldset>
                                                <div class="col-xs-12  form-group">
                                                    <div class="col-xs-12 NopaddingLR">
                                                        <br />
                                                        <div id="tblBatchJobLegalParties" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.BatchJobLegalPartiesList.Count <= 0  ? "display:none" : "display:block")">
                                                            <table id="tblBatchJobLegalParties" class="table table-bordered dataTable table-hover grid " border="1" style="width:946px;">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="no-sort" style="width: 13px;">View</th>
                                                                        <th style="width: 60px">TypeCode</th>
                                                                        <th style="width: 145px">Name</th>
                                                                        <th style="width: 90px">AddressLine1</th>
                                                                        <th style="width: 80px">City</th>
                                                                        <th style="width: 82px;">State</th>
                                                                        <th style="width: 80px">PostalCode</th>
                                                                        <th style="width: 80px">Telephone1</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @if (Model.BatchJobLegalPartiesList.Count >= 1)
                                                                {
                                                                    foreach (var i in Model.BatchJobLegalPartiesList)
                                                                    {
                                                                            <tr>
                                                                                <td>
                                                                                    <button type="button" class="btn btn-default btn-icon btn-pure" @*onclick="ShowDetails('@i.Id', @Model.Delvalue, @Model.Repvalue)"*@>
                                                                                        <i class="icon wb-eye" aria-hidden="true"></i>
                                                                                    </button>
                                                                                </td>
                                                                                <td>@i.TypeCode</td>
                                                                                <td>@i.AddressName</td>
                                                                                <td>@i.AddressLine1</td>
                                                                                <td>@i.City</td>
                                                                                <td>@i.State</td>
                                                                                <td>@i.PostalCode</td>
                                                                                <td>@i.Telephone1</td>
                                                                            </tr>
                                                                    }
                                                                }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12">&nbsp;</div>
                                                    <div class="col-xs-12">&nbsp;</div>
                                                    <div class="col-xs-12">&nbsp;</div>
                                                    <div class="col-xs-12">&nbsp;</div>
                                                    <div class="col-xs-12">&nbsp;</div>
                                                    <div class="col-xs-12">&nbsp;</div>
                                                    <div class="col-xs-12">&nbsp;</div>

                                                </div>
                                            </fieldset>
                                        </div>

                                    </div>

                                </fieldset>


                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
        </div>

        </div>


    <div id="hiddenFields">
        @Html.HiddenFor(m => m.ByJobId)
        @Html.HiddenFor(m => m.Message)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" value="Cancel" id="CancelModalEditJob" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>



<script>

    function FindViewPlacementInfo() {
        debugger;

        var JobId = $("#ByJobId").val();
        var divDetails = document.getElementById("divDetails");

        if (JobId > 0) {
            $.ajax({
                url: '@Url.Action("GetViewPlacementInfoByJobId", "ViewPlacementInfo")',
                data: { JobId: JobId },
                type: "POST",
                success: function (data) {
                    debugger;
                    if (data) {
                        $('#myModalViewPlacementInfo .modal-content').html(data);
                        var message = $("#Message").val();
                        if (message == "Success") {
                            ViewJobPlacementInfoChekMinDate();
                            divDetails.style.display = "block";
                        }
                        else {

                            $("#divDetails").hide();
                            var ByJobId = document.getElementById("ByJobId");
                            ByJobId.value = "";
                            ByJobId.focus();
                            swal("Job Not Found, Try Again.");
                        }
                    }
                    else {
                        $("#myModalViewPlacementInfo").modal("hide");
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                        $('#errorMsg').show();
                    }
                },
                fail: function (error) {
                    $("#myModalViewPlacementInfo").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            });
        }
        else {
            divDetails.style.display = "none";
            swal("Please Enter Valid JobId.");
            //alert('Please Enter Valid JobId.');
        }
    }


    function ViewJobPlacementInfoChekMinDate() {
        debugger;
        var DateTextBoxArray = ["ObjADvwJobPlacementInfo_SubmittedOn"
                                              ];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    //$("#" + name).datepicker({ format: 'mm/dd/yy' }).datepicker();
                }
            }
        });
    }


</script>