﻿

@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">View Placement Info</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="ViewPlacementInfo">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModalViewPlacementInfo" role="dialog">
    <div class="modal-dialog" style="width:1050px !important; margin-top: 10%">

        <!-- Modal content-->
        <div class="modal-content" style="width:1260px !important; margin-top: 10%">

        </div>

    </div>
</div>



<script type="text/javascript">
    function OnPartialLoad() {
        $.ajax({
            url: '@Url.Action("ShowModal", "ViewPlacementInfo")',
            type: "POST",
            success: function (data) {
                $('#myModalViewPlacementInfo .modal-content').html(data);

                $('#myModalViewPlacementInfo').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


</script>
