﻿@model IEnumerable<CRFView.Adapters.ADClientEDIInterface>
    @{
   
    }

    <div>
        <h3 class="page-header">Client EDI Interface</h3>
        <hr />
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/ClientEDIInterface/_ClientEDIInterfaceList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-width">

            <!-- Modal content-->
            <div class="modal-content modal-width">

            </div>

        </div>
    </div>


    <script type="text/javascript">
        function OnPartialLoad() {

        }

        function AddDetails() {

            $.ajax({
                url: '@Url.Action("ClientEDIInterfaceAdd", "ClientEDIInterface")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    $("#ContractId").hide();
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            showLoadingImage();
            debugger;
            $.ajax({
                url: '@Url.Action("ClientEDIInterfaceDetails", "ClientEDIInterface")',
                data: {
                    id: id
                },
                success: function (data) {
                    hideLoadingImage();
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    if ($("#radioLien").is(":checked")) {
                        $("#ContractId").hide();
                    }
                    else if ($("#radioCollection").is(":checked")) {
                        $("#ContractId").show();
                    }
                    else {
                        $("#ContractId").hide();
                    }
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });

        }
        function Search() {
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {

                $.ajax({
                    url: '@Url.Action("Search", "ClientEDIInterface")',
                    data: {
                        value: searchVal,
                        Key: SearchKey
                    },
                    type: "POST",
                    success: function (data) {
                        $('#list').html(data);
                        makeDatatable('tblClientEDIInterface');
                    },
                    fail: function (error) {
                        $('#errorMsg').show();
                    }
                });
            }
            return false;
        }
        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "ClientEDIInterface")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblClientEDIInterface');
                    makeDatatable('tblClientEDIInterface');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


