﻿@model CRFView.Adapters.Accounting.ClientFollowUp.LienInvoices.CollectionInvoicesVM.CollectionInvoicesListVM
@{ 
    Layout = null;
}


<div class="col-xs-12">
    <table id="tblCollectionInvoices" class="table table-bordered dataTable table-hover grid " border="1">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Invoice#</th>
                <th>ClientCode</th>
                <th>ClientName</th>
                <th>InvoiceDate</th>
                <th>EmailInvoiceFlag</th>
                <th>ReviewDate</th>
                <th>InvoiceAmt</th>
                <th>TotalDue</th>
                <th>IsPaid</th>
                <th>EmailDate</th>
                <th>DateViewed</th>
                <th>InvoiceEmail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.CollectionInvoices)
            {
                <tr>
                    <td>
                        <button onclick="ShowDetails(@i.ClientId,@i.ClientFinDocId,@i.HistoryId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        @i.ClientFinDocId
                    </td>
                    <td>
                        @i.ClientCode
                    </td>
                    <td>
                        @i.ClientName
                    </td>

                    @{
                        if (i.DocumentDate == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.DocumentDate.ToShortDateString()</td>
                        }
                    }

                    <td>
                        @i.IsEmailInvoice
                    </td>
                    @{
                        if (i.ReviewDate == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.ReviewDate.ToShortDateString()</td>
                        }
                    }

                    <td>
                        @i.DocumentAmt
                    </td>
                    <td>
                        @i.TotalDue
                    </td>
                    <td>
                        @i.IsPaid
                    </td>
                    @{
                        if (i.emaildate == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.emaildate.ToShortDateString()</td>
                        }
                    }
                    @{
                        if (i.dateviewed == DateTime.MinValue)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@i.dateviewed.ToShortDateString()</td>
                        }
                    }
                    <td>
                        @i.InvoiceEmail
                    </td>
                </tr>
                        }
        </tbody>
    </table>
</div>