﻿<form id="SearchForm">
    <div id="OuterDiv" style="padding-bottom:20px;padding-left:0px!important;padding-right:0px!important">
        <div class="col-xs-12">
            <div class="col-xs-6 NopaddingLR" style="text-align:left">
                <input type="radio" name="RadioSelection" value="All" checked><lable> All &nbsp;&nbsp;</lable>
                <input type="radio" name="RadioSelection" value="NotViewed" checked="checked"><lable>Not Viewed  &nbsp;&nbsp;</lable>
                <input type="radio" name="RadioSelection" value="Viewed"><lable>Viewed  &nbsp;&nbsp;</lable>
                <input type="radio" name="RadioSelection" value="UnPaid"><lable>UnPaid  &nbsp;&nbsp;</lable>
                <input type="radio" name="RadioSelection" value="ReviewDate"><lable>Review Date  &nbsp;&nbsp;</lable>
            </div>
            <div class="col-xs-4  ">
                <lable>From </lable>
                <input type="text" id="FromDate" name="FromDate" data_plugin="datepicker" class="form-control" style="width:100px;display:inline">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="chkRemit" name="chkRemit">
                <lable>Remit Only</lable>
            </div>
            <div class="col-xs-2 NopaddingLR ">
                <button onclick="return Search();" class="btn btn-primary modal-link pull-right">
                    <i class="icon wb-search" aria-hidden="true"></i> Search
                </button>
            </div>
        </div>
        <div class="col-xs-12" style="padding-bottom:20px">
            <div class="col-xs-6 NopaddingLR">
                <input type="text" id="TxtSearch" name="TxtSearch" class="form-control">
            </div>
            <div class="col-xs-4" style="padding-left:32px">
                <lable>To </lable>
                <input type="text" id="ToDate" name="ToDate" data_plugin="datepicker" class="form-control" style="width:100px;display:inline">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="chkGross" name="chkGross">
                <lable>Gross Only</lable>           
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
    <input type="submit" style="display:none">
</form>

