﻿@{ 
    Layout = null;
}

<style>
    #tblCollectionInvoices_wrapper .row:first-child {
        overflow-x: auto;
    }
    
    .left-text{
        text-align:left;
    }
    .w-130{
        width:130px;
    }

</style>

<div>
    <h3 class="page-header">Collection Invoices</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        @{Html.RenderPartial("~/Views/CRFViewAccounting/ClientFollowUp/CollectionInvoices/_SearchDiv.cshtml");}
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewAccounting/ClientFollowUp/CollectionInvoices/_CollectionInvoicesList.cshtml");}
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important;margin-top: 10% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="NoteModal" role="dialog">
    <div class="modal-dialog" style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        var PrevDate = new Date();
        PrevDate.setMonth(PrevDate.getMonth() - 2);
        $('#FromDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', PrevDate);
        $('#ToDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', new Date());
    }

    $('#chkRemit').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#chkGross').prop('checked', false)
        }
    });

    $('#chkGross').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#chkRemit').prop('checked', false)
        }
    });

    function Search()
    {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Search", "CollectionInvoices")',
            data: $('#SearchForm').serialize(),
            type: "POST",
            success: function (data) {
                $('#list').html(data);
                makeDatatable('tblCollectionInvoices');
                hideLoadingImage();
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
        return false;
    }

    function ShowDetails(ClientId,ClientFinDocId,HistoryId) {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowDetails", "CollectionInvoices")',
            data: {ClientId:ClientId, ClientFinDocId: ClientFinDocId, HistoryId: HistoryId },
            type: 'POST',
            success: function (data) {
                debugger;
                $('#myModal .modal-content').html(data);
                CheckMinDate();
                makeDatatable('tblCollInvoiceNotes');
                makeDatatable('tblCollInvoiceAttachments');
                $('#TxtNewReviewDate').datepicker({ format: 'mm/dd/yy' }).datepicker();
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["ObjClientCollFinDoc_ReviewDate",
                                "ObjReportHistory_emaildate",
                                "ObjReportHistory_dateviewed"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }
</script>