﻿@model CRFView.Adapters.ADCollectionRates
@{
    Layout = null;
}


<form id="FormEdit">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    @Html.HiddenFor(m => m.Id)
    <div class="modal-body">

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>CollectionRate Code:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                @Html.TextBoxFor(m => m.CollectionRateCode, new { @class = "form-control", @onkeypress = "return isNumber(event)" })
                <div id="ErrorCollectionRateCode" class="Invalid-feedback" style="display:none">
                    Please Enter CollectionRate Code.
                </div>
            </div>
        </div>


        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4 LableAlign">
                <lable>CollectionRate Name:</lable>
                <span class="ValidationStar">*</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(m => m.CollectionRateName, new { @class = "form-control" })
                <div id="ErrorCollectionRateName" class="Invalid-feedback" style="display:none">
                    Please Enter CollectionRate Name.
                </div>
            </div>
        </div>

        
      
    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" />
        </div>
    </div>

</form>

<script>
    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    function Save() {
        if (Validate()) {
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("CollectionRatesSave", "CollectionRates")',
                data: $('#FormEdit').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblCollectionRates');
                    $("#txtSearch").val("");
                    hideLoadingImage();
                    $('#successMsg').show();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }
    }

    //validation for null record
    function Validate() {
        debugger;

        if ($("#CollectionRateName").val().length <= 0) {
            $("#ErrorCollectionRateName").show();
            return false;
        }
        else {
            $("#ErrorCollectionRateName").hide();
        }
        if ($("#CollectionRateCode").val().length <= 0) {
            $("#ErrorCollectionRateCode").show();
            return false;
        }
        else {
            $("#ErrorCollectionRateCode").hide();
        }
        return true;
    }
</script>



