﻿@model CRFView.Adapters.ADSchedulerSettings

<div>
    <h3 class="page-header">Scheduler Settings</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        <form id="FormEdit">
         
            @Html.HiddenFor(m => m.PKID)

            <div class="modal-body">

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">SMTP Server:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.smtpserver, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">SMTP Port:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.smtpport, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">SMTP Login:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.smtplogin, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">SMTP Password:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.smtppassword, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">SSL Enable:</lable>
                    <div class="col-md-6 checkbox-sm" style="text-align:left">
                        @Html.CheckBoxFor(m => m.smtpenablessl)<lable class="Checkbox-lable">Enable</lable>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Admin Name:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.adminname, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Admin Email:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.adminemail, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Report Server Url:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.reportserverurl, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Output Folder:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.outputfolder, new { @class = "form-control" })

                    </div>
                </div>               
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Settings Folder:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.settingsfolder, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <lable class="col-md-4 col-sm-4 col-xs-4 Label-FontSize">Error Folder:</lable>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(m => m.errorfolder, new { @class = "form-control" })

                    </div>
                </div>
               
            </div>

            <div class="form-group col-md-12 modal-footer" style="padding-top:20px;">
                <input type="button"  id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />
                <input type="button" value="Cancel" class="btn btn-primary" onclick="Cancel()" />

            </div>
        </form>
    </div>
</div>

<script>
    function OnPartialLoad() {

    }

    function Save() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("SchedulerSettingsSave", "SchedulerSettings")',
            data: $("#FormEdit").serialize(),
            type: "POST",
            success: function (data) {
                $('#BindView').empty();
                $("#BindView").append(data);
                hideLoadingImage();
                $('#successMsg').show();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function Cancel() {
       
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("Index", "SchedulerSettings")',
            type: "GET",
            success: function (data) {
                $('#BindView').empty();
                $("#BindView").append(data);
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }
</script>
