﻿
@model CRFView.Adapters.Accounting.AccountingCollections.CreateInvoices.AdAccountingCreateInvoices
@{
    Layout = null;
}

<form id="formCreateInvoice">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Create Invoices</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">
                <fieldset class="customFieldset">
                    <legend>Selection Info</legend>

                    <div class="col-xs-2">
                        <lable>Remittance From</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.FromDate, "{0:MM/dd/yy}", new { style = "width:150px;" })
                    </div>
                    <div class="col-xs-2">
                        <lable>Remittance Thru</lable>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.ThruDate, "{0:MM/dd/yy}", new { style = "width:150px" })
                    </div>

                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="OK()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" onclick="CloseModal()" />
        </div>
    </div>
</form>
