﻿@model CRFView.Adapters.Accounting.AccountingLiens.ViewModels.VoidInvoiceVM
@{
    Layout = null;
}


<form id="formVoidInvoice">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Void an Invoice</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-12 ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Selection Info</legend>

                    <br />
                    <br />
                    <div class="col-xs-12 form-group">
                        <div class="col-xs-2">&nbsp;</div>
                        <div class="col-xs-3 rt">
                            <lable>Invoice #</lable>
                        </div>
                        <div class="col-xs-5">
                            @Html.TextBoxFor(m => m.FinDocId, new { @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                  

                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnVoidInvoiceClear" value="Clear" class="btn btn-primary pull-left" style="margin-left: 14px;" onclick="Clear();" />
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="SaveVoidInvoice();" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" style="margin-right: 15px;" />

        </div>
    </div>
</form>


<script>

    function SaveVoidInvoice() {

            debugger;
            showLoadingImage();
            var data = $('#formVoidInvoice').serialize();
            $.ajax({
                url: '@Url.Action("VoidInvoiceDetails", "VoidInvoice")',
                data: data,
                type: "POST",

                success: function (data) {
                    debugger;

                    $("#myModal").modal("hide");
                    $('.modal-backdrop').remove();
                    if (data == 1) {

                        CreateVoidInvoiceCSuccessPoppup();
                        hideLoadingImage();
                    }
                    else if (data == 0) {
                        NoticeSentWarning();
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModal").modal("hide");
                    hideLoadingImage();
                }
            });
    }


    function Clear() {
        debugger;
        $('#FinDocId').val("");
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }
    function CreateVoidInvoiceCSuccessPoppup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Process Completed",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>

