﻿@{
    Layout = null;
}

<div>
    <h3 class="page-header">Void Invoice</h3>
    <hr />
    <div class="panel-body">
        @*@{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}*@

        <div id="InvoiceDiv">
        </div>
    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:650px !important;margin-top: 15% !important;">

        <!-- Modal content-->
        <div class="modal-content" style="width:550px !important;margin-top: 10% !important;">

        </div>

    </div>
</div>

<script type="text/javascript">
    function OnPartialLoad() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModal", "VoidInvoice")',
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);
                //To set Current Date
              
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }
</script>
