﻿@model CRFView.Adapters.Accounting.ClientFollowUp.LienInvoices.CollectionInvoicesVM.CollectionInvoiceDetailsVM
@{
    Layout = null;
}
<style>
    .rt {
        text-align: right;
    }
</style>


<form id="FormCollInvoiceDetails">
    <div class="modal-header">
        <h3 class="Details-Heading">
            Collection Invoice Details
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;" onclick="CancleDetails()">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal modal-primary fade" id="NoteModalLink" role="dialog">
        <div class="modal-dialog" style="width:500px !important">

            <!-- Modal -->
            <div class="modal-content" style="width:600px !important">

            </div>

        </div>
    </div>

    <div class="modal-body">
        <div class="nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="ClientInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabClientInfo" aria-controls="TabClientInfo" role="tab" aria-selected="false">Client Info</a></li>
                <li id="Notes" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabNotes" aria-controls="TabNotes" role="tab" aria-selected="false">Notes</a></li>
                <li id="Attachments" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAttachments" aria-controls="TabAttachments" role="tab" aria-selected="false">Attachments</a></li>
                <li id="Ledger" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabLedger " aria-controls="TabLedger " role="tab" aria-selected="false">Ledger</a></li>

            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="TabClientInfo" role="tabpanel">
                <br />
                <div class="form-group">
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>Client #</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClient.ClientCode, new { style = "width:50%;", @class = "form-control" })
                        </div>

                        <div class="col-xs-3 rt">
                            <lable>Invoice#</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.Id, new { style = "width:120px;", @class = "form-control" })
                        </div>
                        <div class="col-xs-2 rt">
                            <input type="button" id="btnFlagPaid" class="btn btn-primary btn-sm" value="Flag as Paid" onclick="FlagAsPaid(@Model.ObjClientCollFinDoc.Id);" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>Client</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.InvoiceName, new { style = "width:140%;", @class = "form-control" })
                        </div>
                        <div class="col-xs-3 rt">
                            <lable>Invoice Date</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.DocumentDate, "{0:MM/dd/yyyy}", new { style = "width:95px;", @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <input type="button" id="btnResendEmail" class="btn btn-primary btn-sm" value="Resend Email" onclick="ResendEmail(@Model.ObjClientCollFinDoc.Id,@Model.ObjReportHistory.PKID)" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>Address1</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClient.AddressLine1, new { style = "width:140%;", @class = "form-control" })
                        </div>
                        <div class="col-xs-3 rt">
                            <lable>Invoice Amt</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.DocumentAmt, new { style = "width:120px;", Value = String.Format("{0:C}", Model.ObjClientCollFinDoc.DocumentAmt), @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <input type="button" class="btn btn-primary btn-sm" value="Flag as Unpaid" onclick="FlagUnpaid(@Model.ObjClientCollFinDoc.Id)" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>Address2</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClient.AddressLine2, new { style = "width:140%;", @class = "form-control" })
                        </div>
                        <div class="col-xs-3 rt">
                            <lable>Payment</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.TotRcvAmt, new { style = "width:120px;", Value = String.Format("{0:C}", Model.ObjClientCollFinDoc.TotRcvAmt), @class = "form-control" })
                        </div>
                        <div class="col-xs-2 rt">
                            <input type="button" class="btn btn-primary btn-sm" value="Flag as Viewed" onclick="FlagViewed(@Model.ObjReportHistory.PKID)" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>City/State/Zip</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            <div class="col-xs-1 NopaddingLR">
                                @Html.TextBoxFor(m => m.ObjClient.City, new { style = "width:145px; display:inline;", @class = "form-control" })
                            </div>
                            <div class="col-xs-1 NopaddingLR" style="margin-left: 133px;">
                                @Html.TextBoxFor(m => m.ObjClient.State, new { style = "width:38px; display:inline;", @class = "form-control" })
                            </div>
                            <div class="col-xs-1 NopaddingLR" style="margin-left: 24px;">
                                @Html.TextBoxFor(m => m.ObjClient.PostalCode, new { @onblur = "formatZip(this)", @maxlength = "9", style = "width:110px; display:inline;", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xs-3 rt">
                            <lable>Adjustments</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.TotAdjAmt, new { style = "width:120px;", Value = String.Format("{0:C}", Model.ObjClientCollFinDoc.TotAdjAmt), @class = "form-control" })
                        </div>
                        <div class="col-xs-2">
                            <input type="button" class="btn btn-primary btn-sm" value="Payment/Adjust" onclick="NewCollPaymentORAdjust(@Model.ObjClientCollFinDoc.Id)" style="width:130px">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>Phone</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClient.PhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10", style = "width:50%;", @class = "form-control" })
                        </div>
                        <div class="col-xs-3 rt">
                            <lable>Amount Due</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.TotalDue, new { style = "width:120px;", Value = String.Format("{0:C}", Model.ObjClientCollFinDoc.TotalDue), @class = "form-control" })
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>Fax</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClient.Fax, new { @onblur = "formatPhone(this)", @maxlength = "10", style = "width:50%;", @class = "form-control" })
                        </div>
                        <div class="col-xs-3 rt">
                            <lable>Review Date</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.ReviewDate, "{0:MM/dd/yyyy}", new { style = "width:120px;", @class = "form-control" })
                        </div>
                        <div class="col-xs-2 ">
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>Contact</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.InvoiceAttn, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-3 rt">
                            <lable>Date Mailed</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjReportHistory.emaildate, "{0:MM/dd/yyyy}", new { style = "width:120px;", @class = "form-control" })
                        </div>
                        <div class="col-xs-2 NopaddingLR" style="margin-left: -17px;">
                            @{
                                if (Model.ObjClientCollFinDoc.IsEmailInvoice == true)
                                {

                                }
                                else
                                {
                                    <lable style="color:red">Not An Email Invoice</lable>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 NopaddingLR form-group left-text">
                        <div class="col-xs-2 rt">
                            <lable>Invoice Email</lable>
                        </div>
                        <div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjClientCollFinDoc.InvoiceEmail, new { style = "width: 140%;", @class = "form -control" })
                        </div>
                        <div class="col-xs-3 rt">
                            <lable>Date last Visited</lable>
                        </div>
                        <div class="col-xs-2 NopaddingLR">
                            @Html.TextBoxFor(m => m.ObjReportHistory.dateviewed, "{0:MM/dd/yyyy}", new { style = "width:120px;", @class = "form-control" })
                        </div>
                        <div class="col-xs-2" style="margin-left: -26px;">
                            @Html.CheckBoxFor(m => m.ObjClientCollFinDoc.IsPaid)
                            <lable>Is Paid</lable>
                        </div>
                    </div>
                    <div class="col-xs-10 NopaddingLR form-group left-text">
                        <br />
                        <fieldset class="customFieldset">
                            <legend>Update Info</legend>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    @Html.CheckBoxFor(m => m.ChkNewReview)
                                    <lable>New Review</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.TxtNewReviewDate, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker", style = "width:181px;display:none;" })
                                </div>
                                @*<div class="col-xs-4">
                            @Html.CheckBoxFor(m => m.ChkDeleteReview)
                            <lable>Delete Review Date</lable>
                        </div>*@
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    @Html.CheckBoxFor(m => m.ChkDeleteReview)
                                    <lable>Delete Review Date</lable>
                                </div>
                                <div class="col-xs-6">
                                    @Html.TextBoxFor(m => m.ChkDeleteReview, new { @class = "form-control", style = "display:none;" })
                                </div>
                                @*<div class="col-xs-2">
                            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save(@Model.ObjClientCollFinDoc.Id)" />
                        </div>*@
                            </div>
                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    @Html.CheckBoxFor(m => m.ChkNewEmail)
                                    <lable>New Email Add</lable>
                                </div>
                                <div class="col-xs-6">
                                    @Html.TextBoxFor(m => m.TxtNewEmail, new { @class = "form-control", style = "display:none;" })
                                </div>
                                @*<div class="col-xs-2">
                            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save(@Model.ObjClientCollFinDoc.Id)" />
                        </div>*@
                            </div>
                        </fieldset>

                    </div>
                </div>
            </div>

            <div class="tab-pane " id="TabNotes" role="tabpanel">
                <br />
                <div class="col-xs-12">
                    <table id="tblCollInvoiceNotes" class="table table-bordered dataTable table-hover grid " border="1">
                        <thead>
                            <tr>
                                @*<th>Edit</th>*@
                                @* <th class="no-sort">Description</th>*@
                                <th>Description</th>
                                <th>Date Created</th>
                                <th>Created By</th>
                                <th>Assigned To</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Issues != null && Model.Issues.Count >= 1)
                            {
                                foreach (var i in Model.Issues)
                                {

                                    <tr class='Popup'>
                                        @*<td>
                                                <button onclick="IssueDescription(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                </button>
                                            </td>*@
                                        <td style="text-decoration-line: underline" ; onclick='popupDescription("@i.IssueDescription")'>
                                            @i.IssueDescriptionWithStrip

                                        </td>

                                        <td>
                                            @i.DateCreated
                                        </td>
                                        <td>
                                            @i.CreatedBy
                                        </td>
                                        <td>
                                            @i.AssignedTo
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div>
                        <input type="button" value="Add Note" id="btnAddNote" class="btn btn-primary pull-left" onclick="AddNote(@Model.ObjClient.ClientId)" />
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="TabAttachments" role="tabpanel">
                <br />
                <div class="col-xs-12">
                    <table id="tblCollInvoiceAttachments" class="table table-bordered dataTable table-hover grid " border="1">
                        <thead>
                            <tr>
                                <th class="no-sort">Download</th>
                                <th>Report Name</th>
                                <th>File Name</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Attachments != null && Model.Attachments.Count >= 1)
                            {
                                foreach (var i in Model.Attachments)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" onclick="ViewDownloadDoc(@i.PKID)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-download" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            @i.description
                                        </td>
                                        <td>
                                            @i.url
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="TabLedger" role="tabpanel">
                <br />
                <div class="col-xs-12">
                    <table id="tblLienInvoicePaymentDetails" class="table table-bordered dataTable table-hover grid " border="1" style="margin-left:-14px;">
                        <thead>
                            <tr>
                                <th class="no-sort">Edit</th>
                                <th>Invoice#</th>
                                <th>Invoice Date</th>
                                <th>Invoice Amt</th>
                                <th class="no-sort">Payment Amt</th>
                                <th>Adjusted Amt</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.CollPayments != null && Model.CollPayments.Count >= 1)
                            {
                                foreach (var i in Model.CollPayments)
                                {
                                    <tr>
                                        <td style="vertical-align: middle; width: 2% !important;">
                                            <button type="button" onclick="CollPaymentORAdjustment(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            @i.ClientFinDocId
                                        </td>
                                        <td>
                                            @{ if (i.LedgerDate == DateTime.MinValue) { }
                                                else
                                                {@i.LedgerDate.ToShortDateString()}}
                                        </td>
                                        <td>
                                            @string.Format("{0:C}", i.BalAmt)
                                        </td>
                                        <td>
                                            @string.Format("{0:C}", i.RcvAmt)
                                        </td>
                                        <td>
                                            @string.Format("{0:C}", i.AdjAmt)
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="hiddenFields">

        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.HistoryId)



    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            @*<div class="col-xs-2">*@
            <input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save(@Model.ObjClientCollFinDoc.Id)" />
            @*</div>*@
            @*<input type="button" id="btnsave" value="Save" class="btn btn-primary" onclick="Save()" />*@
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary"  onclick="CancleDetails()" />
        </div>
    </div>
    <div class="modal fade" id="IssueDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:500px !important">
            <div class="modal-content" style="width:600px !important">
                <div class="modal-header">
                    <h3 class="Details-Heading">
                        Issue Description
                        <button type="button" class="close" onclick="Close()" aria-label="Close" style="margin: 10px;">
                            <span aria-hidden="true">x</span>
                        </button>
                    </h3>
                </div>
                <div class="modal-body" style="word-wrap:break-word">
                    <p id="textDescription" style="text-align: left;"></p>
                    @*<div class="col-xs-3 NopaddingLR">
                            @Html.TextBoxFor(m => m.s1, new { style = "width:50%;", @class = "form-control" })
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="Close()">Close</button>

                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    function CancleDetails() {
        debugger;


        $('#myModal').modal("hide");
        hideLoadingImage();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

    }


    function formatZip(Zipfield) {
        var Zip = Zipfield.value.replace(/[^0-9]/g, '');
        $(Zipfield).val(Zip.replace(/^(\d{5})(\d{4})+$/, "$1-$2"));
    }


    $('#CancelModal').on('click', function () {
        $('#myModal').modal('hide');
    });

    $('#ChkNewReview').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#TxtNewReviewDate').show();
        }
        else {
            $('#TxtNewReviewDate').hide();
        }
    });

    $('#ChkNewEmail').click(function () {
        var checked_status = this.checked;
        if (checked_status == true) {
            $('#TxtNewEmail').show();
        }
        else {
            $('#TxtNewEmail').hide();
        }
    });

    function ViewDownloadDoc(PKId)
    {
        debugger;
        var AttachmentId = PKId;
        var url = "/CollectionInvoices/ViewAttachment?PKId=" + PKId;
        //var url = "/CRFView/ViewClients/ViewDownloadDoc/"+Id;
        window.location = url;
    }

    function AddNote(ClientId)
    {
        $.ajax({
            url: '@Url.Action("ShowAddNote", "CollectionInvoices")',
            data: { ClientId: ClientId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#NoteModal .modal-content').html(data);
                $('#Obj_Note_IssueDescription').summernote();
                $('#NoteModal').modal("show");
            },
            fail: function (error) {
                hideLoadingImage();
                $('#NoteModal').modal("hide");
                $('#errorMsg').show();
            }
        });
    }

    function Save(Id) {
        debugger;
        //////////////////////////////////////
        var ChkNewReview;
        if($('#ChkNewReview').prop('checked'))
        {
            ChkNewReview = true;
        }
        else
        {
            ChkNewReview = false;
        }

        var ChkNewReview;
        if($('#ChkNewEmail').prop('checked'))
        {
            ChkNewEmail = true;
        }
        else
        {
            ChkNewEmail = false;
        }

        var ChkDeleteReview;
        if($('#ChkDeleteReview').prop('checked'))
        {
            ChkDeleteReview = true;
        }
        else
        {
            ChkDeleteReview = false;
        }

        var TxtNewReviewDate = $('#TxtNewReviewDate').val();
        var TxtNewEmail = $('#TxtNewEmail').val();

        //////////////////////////////////////
            showLoadingImage();
            $('#myModal').modal('hide');
            $.ajax({
                url: '@Url.Action("CollInvoiceSave", "CollectionInvoices")',
                data: {Id:Id,ChkNewReview:ChkNewReview,ChkNewEmail:ChkNewEmail,
                       ChkDeleteReview:ChkDeleteReview,TxtNewReviewDate:TxtNewReviewDate,
                       TxtNewEmail:TxtNewEmail},
                type: "POST",
                success: function (data) {
                    $('#successMsg').show();
                    $('#myModal').modal("hide");
                    hideLoadingImage();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#myModal').modal("hide");
                    $('#errorMsg').show();
                }
            });

    }

    function FlagViewed(PKID)
    {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("FlagViewed", "CollectionInvoices")',
            data: { PKID: PKID},
            type: "POST",
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $('#myModal').modal("hide");
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#myModal').modal("hide");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function FlagUnpaid(Id)
    {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("FlagUnpaid", "CollectionInvoices")',
            data: { Id: Id},
            type: "POST",
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#successMsg').show();
                    $('#myModal').modal("hide");
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#myModal').modal("hide");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function ResendEmail(Id,PKID)
    {
        debugger;
        showLoadingImage();
        var InvoiceEmail = $('#ObjClientCollFinDoc_InvoiceEmail').val();
        $.ajax({
            url: '@Url.Action("ResendEmail", "CollectionInvoices")',
            data: { Id: Id, PKID: PKID, InvoiceEmail: InvoiceEmail },
            type: "POST",
            success: function (data) {
                if (data == true) {
                    hideLoadingImage();
                    $('#EmailResendMsg').show();
                    $('#myModal').modal("hide");
                }
                else {
                    hideLoadingImage();
                    $('#errorMsg').show();
                    $('#myModal').modal("hide");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }

    function FlagAsPaid(Id)
    {
        $.ajax({
            url: '@Url.Action("FlagAsPaid", "CollectionInvoices")',
            data: {Id:Id},
            type: "POST",
            success: function (data) {
                if(data==true)
                {
                    $('#myModal').modal("hide");
                    $('#successMsg').show();
                }
                else{
                    $('#myModal').modal("hide");
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }
    //$('.Popup').click(function () {
    //    debugger;
    //   // $('#NoteModalLink .modal-content').html(data);
    //    $('#NoteModalLink').modal("show");
    //});
    function unicodeEscape(str) {
        for (var result = '', index = 0, charCode; !isNaN(charCode = str.charCodeAt(index++)) ;) {
            result += '\\u' + ('0000' + charCode.toString(16)).slice(-4);
        }
        return result;

    }
    function popupDescription(IssueDescription)
    {
        debugger;

        rtf = IssueDescription.replace(/\\par[d]?/g, "");
        IssueDescription1 = rtf.replace(/\{\*?\\[^{}]+}|[{}]|\\\n?[A-Za-z]+\n?(?:-?\d+)?[ ]?/g, "").trim();

        $('#IssueDescriptionModal').modal("show");
        $('#textDescription').text(IssueDescription1);
        //$("#textDescription").css("color", "red");
        //$('#NoteModal').modal("show");
    }

    function NewCollPaymentORAdjust(Id) {
        debugger;
        showLoadingImage();
        var ClientId = @Model.ClientId;
        var HistoryId = @Model.HistoryId;
          $.ajax({
            url: '@Url.Action("ShowCollPaymentORAdjust", "CollectionInvoices")',
              data: { Id: Id, ClientId: ClientId, HistoryId: HistoryId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#CollPaymentAdjustmentModal .modal-content').html(data);
                $('#myModal').modal("hide");
                $('#CollPaymentAdjustmentModal').modal("show");
            },
            fail: function (error) {
                hideLoadingImage();
                $('#PaymentAdjustmentModal').modal("hide");
                $('#errorMsg').show();
            }
        });
    }

    function CollPaymentORAdjustment(Id) {
        debugger;
        showLoadingImage();
        var ClientId = @Model.ClientId;
         var HistoryId = @Model.HistoryId;
          $.ajax({
            url: '@Url.Action("CollPaymentORAdjustmentDetails", "CollectionInvoices")',
              data: { Id: Id,ClientId: ClientId, HistoryId: HistoryId },
            type: "POST",
            success: function (data) {
                debugger;
                $('#CollEditPaymentAdjustmentModal .modal-content').html(data);
                $('#myModal').modal("hide");
                $('#CollEditPaymentAdjustmentModal').modal("show");
                debugger;
            },
            fail: function (error) {
                hideLoadingImage();
                $('#CollEditPaymentAdjustmentModal').modal("hide");
                $('#errorMsg').show();
            }
        });
    }
    function Close() {
        $('#IssueDescriptionModal').modal('hide');
    }

</script>





