﻿
@model CRFView.Adapters.Accounting.ClientFollowUp.LienInvoices.CollectionInvoicesVM.CollectionInvoiceDetailsVM
@{
    Layout = null;
}
<form id="CollEditFormPaymentAdjustment">

    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;text-align:center">
            <label>
                Payment/Adjustment
            </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;" onclick="Cancle()">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>


    <div class="modal-body" style="max-height:1000px">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <lable>&nbsp;Payment</lable>
                    </div>
                    <div class="col-xs-1" style="text-align: left;">

                        @Html.RadioButtonFor(m => m.RdbBtn, " Payment", new { @checked = true })

                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="col-xs-4">
                        <b>Payment Type:</b>
                    </div>
                    <div class="col-xs-3" style="text-align: left;">
                        @Html.RadioButtonFor(m => m.PTypeRdbBtn, "Check", new { @checked = true })
                        <lable>&nbsp;Check</lable>


                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <lable style="margin-left:-16px;">&nbsp;Adjustment</lable>
                    </div>
                    <div class="col-xs-1" style="text-align: left;">

                        @Html.RadioButtonFor(m => m.RdbBtn, "Adjustment")

                    </div>
                </div>

                <div class="col-xs-7">
                    <div class="col-xs-3">

                    </div>
                    <div class="col-xs-4" style="text-align: left; margin-left:32px; ">
                        @Html.RadioButtonFor(m => m.PTypeRdbBtn, "CreditCard")
                        <lable>&nbsp;Credit Card</lable>


                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <div class="col-xs-5">
                    <div class="col-xs-3">
                        <lable>&nbsp;</lable>
                    </div>
                    <div class="col-xs-1" style="text-align: left;">



                    </div>
                </div>

                <div class="col-xs-7">
                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-3" style="text-align: left;">
                        @Html.RadioButtonFor(m => m.PTypeRdbBtn, "ACH")
                        <lable>&nbsp;ACH</lable>




                    </div>
                </div>
            </div>


        </div>

        <div class="form-group col-xs-12  NopaddingLR">
            <div class="col-xs-12 NopaddingLR">
                <div class="col-xs-10 NopaddingLR">


                    <div class="col-xs-12 form-group  NopaddingLR">

                        <div class="col-xs-3" style="text-align:right">
                            <lable>Invoice#</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.objADClientCollFinDocLedger.ClientFinDocId, new { @class = "form-control", @readonly = true, style = "display:inline;" })

                        </div>

                    </div>

                    <div class="col-xs-12 form-group  NopaddingLR">
                        <div class="col-xs-3" style="text-align:right">
                            <lable>Invoice Date</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.objADClientCollFinDocLedger.LedgerDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = true, style = "display:inline;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group  NopaddingLR" style="margin-top: 4px;">
                        <div class="col-xs-3" style="text-align:right">
                            <lable>Invoice Amt</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.CollBalAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.CollBalAmt)), @class = "form-control", @readonly = true, rows = "3", style = "display:inline;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group  NopaddingLR">

                        <div class="col-xs-3" style="text-align:right">
                            <lable>Payment Amt</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.CollRcvAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.CollRcvAmt)), @class = "form-control", style = "display:inline;" })

                        </div>

                    </div>

                    <div class="col-xs-12 form-group  NopaddingLR">
                        <div class="col-xs-3" style="text-align:right">
                            <lable>Adjustment Amt</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.CollAdjAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.CollAdjAmt)), @class = "form-control", style = "display:inline;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group  NopaddingLR" style="margin-top: 4px;">
                        <div class="col-xs-3" style="text-align:right">
                            <lable>CC Fee Amt</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.objADClientCollFinDocLedger.CCFeeAmt, new { Value = String.Format("{0:C}", Convert.ToDecimal(Model.objADClientCollFinDocLedger.CCFeeAmt)), @class = "form-control", rows = "3", style = "display:inline;" })
                        </div>
                    </div>

                    <div class="col-xs-12 form-group  NopaddingLR" style="margin-top: 4px;">
                        <div class="col-xs-3" style="text-align:right">
                            <lable>Note</lable>
                        </div>
                        <div class="col-xs-9">
                            @Html.TextAreaFor(m => m.objADClientCollFinDocLedger.Note, new { @class = "form-control", rows = "3", style = "display:inline;width: 568px;" })

                        </div>
                    </div>











                </div>


            </div>
        </div>
    </div>


    <div id="hiddenFields">

        @Html.HiddenFor(m => m.ClntCollFinId)
        @Html.HiddenFor(m => m.ClientCollFinDocId)
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.HistoryId)



    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">

            <input type="button" value="Save" id="SaveDetails" class="btn btn-primary" onclick="SaveCollPaymentORAdjustment()" />
            <input type="button" value="Cancel" id="CancelModalPayment" class="btn btn-primary" data-dismiss="modal" style="margin-right: -13px;" onclick="Cancle()" />

        </div>
    </div>
</form>

<script type="text/javascript">
    function Cancle() {
        debugger;

        var ClientFinDocId = @Model.ClientCollFinDocId;
        var ClientId = @Model.ClientId;
        var HistoryId = @Model.HistoryId;
        $('#CollEditPaymentAdjustmentModal').modal("hide");
        hideLoadingImage();
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        ShowDetails(ClientId, ClientFinDocId, HistoryId)
    }

    function SaveCollPaymentORAdjustment()
    {
        debugger;
        var ClientFinDocId = @Model.ClientCollFinDocId;
        var ClientId = @Model.ClientId;
         var HistoryId = @Model.HistoryId;
        var data = $('#CollEditFormPaymentAdjustment').serialize();
        $.ajax({
            url: '@Url.Action("SaveCollPaymentORAdjustmentDetails", "CollectionInvoices")',
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (data) {
                if (data == true) {
                   // $('#successMsg').show();
                    EditCollPaymentORAdjustmentSuccessPopup();
                    $("#CollEditPaymentAdjustmentModal").modal("hide");
                    ShowDetails(ClientId, ClientFinDocId, HistoryId)
                }
                else {
                    $('#errorMsg').show();
                    $("#CollEditPaymentAdjustmentModal").modal("hide");
                   // $("#myModal").modal("hide");
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#NoteModal").modal("hide");
                $("#myModal").modal("hide");
            }
        });
    }

    function EditCollPaymentORAdjustmentSuccessPopup() {
        debugger;
        swal({
            title: "Successfully",
            text: "Payment/Adjustment Updated Successfully.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>