﻿@model IEnumerable<CRFView.Adapters.ADLedgerTypes>
@{
    
    Layout = null;
}


<div>
    <table id="tblLedgerTypes" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Ledger Type</th>
                <th>Description</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.LedgerType</td>     
                    <td>@i.Description</td>
                  <td>
                            <button onclick="ShowDetails(@i.LedgerTypeId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
