﻿@model IEnumerable<CRFView.Adapters.ADReportManagement>
@{
    
    Layout = null;
}


<div>
    <table id="tblReportManagement" class="table table-bordered dataTable table-hover grid " border="1">

        <thead>
            <tr>
                <th>Report Name </th>
                <th>Description</th>
                <th>Report Category</th>
                <th>Print From</th>
                <th>Custom SPName</th>
                <th>Report File Name</th>
                <th class="no-sort">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {

                <tr>
                    <td>@i.ReportName</td>     
                    <td>@i.Description </td>  
                    <td>@i.ReportCategory </td>  
                    <td>@i.PrintFrom </td>
                    <td>@i.CustomSPName </td> 
                    <td>@i.ReportFileName </td> 
                    <td>
                            <button onclick="ShowDetails(@i.ReportId)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
