﻿@model CRFView.Adapters.Liens.Managements.ChangeDateRequested.ViewModels.ChangeDateRequestedVM
@{
    Layout = null;
}

<style>
    .lt {
        text-align: left;
    }

    .NopaddingLR {
        padding-right: 15px !important;
        padding-left: 0px !important;
    }

    /*.txtDigits {
            text-align: right;
        }*/

    .rt {
        text-align: right;
    }

    .customFieldset {
        border-color: #e6e6e6;
    }
</style>
<form id="FormChangeDateRequested">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            Change DateRequested
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>
    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group lt NopaddingLR">
            <div class="col-xs-12 form-group">
                <div class="col-xs-10 form-group NopaddingLR">
                    <div class="col-xs-2 NopaddingLR rt">
                        <lable>Date Requested:</lable>
                    </div>
                    <div class="col-xs-2 NopaddingLR" style="width:180px;" @*style="text-align: left;"*@>
                        @Html.TextBoxFor(m => m.DateTimePicker1, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align:left; width:60%;" })
                    </div>
                    <div class="col-xs-2" style="margin-left: 2px;">
                        <lable>Job Id</lable>
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="text-align:left;margin-left: -50px;" @*style="text-align: left;"*@>
                         @Html.TextBoxFor(m => m.JobId, new { @class = "form-control", style = "display:inline;text-align:left;width:60%;" })
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="text-align:left">
                        <input type="button" id="btnChangeDateRequestedList" value="Get List" class="btn btn-primary form-group" onclick="ChangeDateRequestedList()" />
                       </div>
                </div>
            </div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-10 form-group NopaddingLR">
                    <div class="col-xs-2 NopaddingLR rt">
                        <lable>Change To:</lable>
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="width:180px;">
                        @Html.TextBoxFor(m => m.DateTimePicker2, "{0:MM/dd/yyyy}", new { @class = "form-control", style = "display:inline;text-align:left;width:60%;" })
                    </div>
                    <div class="col-xs-2" style="margin-left: 2px;">
                        <lable></lable>
                    </div>
                    <div class="col-xs-3 NopaddingLR" style="text-align:left;margin-left: -50px;">
                    </div>
                </div>
                <br /><br />&nbsp;
            </div>

            @*<div class="col-xs-12 NopaddingLR">
                <div class="col-xs-12 form-group" style="text-align: right;">
                    <b>
                        <lable style="font-weight: 1000; font-size: medium;">
                            @Html.Raw(@ViewBag.lblRecCount.Replace(Environment.NewLine, "<br/>"))
                        </lable>
                    </b>
                </div>
                <br />&nbsp;
            </div>*@

            <div class="col-xs-12  form-group">
                    <div class="col-xs-12 NopaddingLR">
                        <br />
                        <div id="tabletblChangeDateRequested" style="height:200px;display:block;overflow-y: scroll;overflow-x: scroll; @(Model.ChangeDateRequestedList.Count <= 0  ? "display:none" : "display:block")">
                            <table id="tblChangeDateRequested" class="table table-bordered dataTable table-hover grid " border="1" style="width:1840px;">
                                <thead>
                                    <tr>
                                        <th class="no-sort" style="width: 13px;">Edit</th>
                                        <th style="width: 30px;">Job Id</th>
                                        <th style="width: 30px;">Date Requested</th>
                                        <th style="width: 82px;">Client code</th>
                                        <th style="width: 82px;">Job Name</th>
                                        <th style="width: 82px;">Job Num</th>
                                        <th style="width: 82px;">Date Assigned</th>
                                        <th style="width: 82px;">Est Balance</th>
                                        <th style="width: 82px;">Status Code</th>
                                        <th style="width: 82px;">Desk Num</th>
                                        <th style="width: 100px;">Client Name</th>
                                        <th style="width: 100px;">IsProcessed</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.ChangeDateRequestedList.Count >= 1)
                                    {
                                        foreach (var i in Model.ChangeDateRequestedList)
                                        {
                                            <tr>
                                                @*@Html.Hidden("jobidcheck", i.JobId)*@
                                                 <td>
                                                    <button type="button" onclick="ShowDetails(@i.JobId)" class="btn btn-default btn-icon btn-pure">
                                                        <i class="icon wb-edit" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    @i.JobId
                                                </td>
                                                <td>
                                                    @i.DateRequested.ToShortDateString()
                                                </td>
                                                <td>
                                                    @i.ClientCode
                                                </td>
                                                <td>
                                                    @i.JobName
                                                </td>
                                                <td>
                                                    @i.JobNum
                                                </td>
                                               
                                                @{
                                                    if (i.DateAssigned == DateTime.MinValue)
                                                    {
                                                        <td></td>
                                                    }
                                                    else
                                                    {
                                                        <td>@i.DateAssigned.ToShortDateString()</td>
                                                    }
                                                }
                                              
                                                <td>
                                                    @*@i.EstBalance*@
                                                    @String.Format("{0:C}", i.EstBalance)
                                                </td>
                                                <td>
                                                    @i.StatusCode
                                                </td>
                                                <td>
                                                    @i.DeskNum
                                                </td>
                                                <td>
                                                    @i.ClientName
                                                </td>
                                                
                                                <td>
                                                    <div class="col-xs-2 checkbox-sm">
                                                        <input 
                                                               id=@i.IsProcessed
                                                               name="chkIsProcessed"
                                                               type="checkbox"
                                                               value=@i.IsProcessed />
                                                    </div>
                                                        </td>
                                                       </tr>
                                                        }
                                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                 
            </div>
            </div>
            &nbsp;
        
        </div>
        <div class="modal-footer" tabindex="-1">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

        </div>
</form>
<script>
  
    $("[name='chkIsProcessed']").click(function () {
      
        debugger;
        if (this.checked == true) {
                var JobId = $(this).parents("tr").find("td").eq(1).html();
                var Date = $("#DateTimePicker2").val();
                $.ajax({
                    url: '@Url.Action("UpdateChangeDateRequestedCheck", "ChangeDateRequested")',
                    // data: { JobId },
                    data: { JobId: JobId, Date: Date },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        if (data == 1) {
                            ChangeDateRequestedLoad();
                            hideLoadingImage();
                        }
                    },
                });
            }
        });
   
    function ChangeDateRequestedList() {
        debugger;
         
        var data = $('#FormChangeDateRequested').serialize(); 
        $.ajax({
            url: '@Url.Action("GetChangeDateRequested", "ChangeDateRequested")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                if (data) {
                    makeDatatable('tblChangeDateRequestedGrid');
                  
                    $('#myModal .modal-content').html(data);
                    ChangeDateRequestedMinDate();
                }
                else {
                    $("#myModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $("#myModal").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('#errorMsg').show();
            }
        });
    }
    function ShowDetails(JobId) {
        debugger;
        showLoadingImage();
       
        var Date = $("#DateTimePicker2").val();
            $.ajax({
                url: '@Url.Action("LoadChangeDateRequested", "ChangeDateRequested")',
                //data: { JobId: JobId },
                data: { JobId: JobId, Date: Date },
                type: "POST",
                success: function (data) {
                    debugger;
                    $('#myModal').modal("hide");
                    $('#myModalEditChangeDateRequested .modal-content').html(data);

                  
                   $('#myModalEditChangeDateRequested').modal("show");

                    CheckMinDate();
                    hideLoadingImage();

                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
        }

    function ChangeDateRequestedMinDate() {
        debugger;
        var DateTextBoxArray = ["DateTimePicker1", "DateTimePicker2", "DateAssigned", "StartDate", "ObjChangeDateRequested.VerifiedDate"];
        //To set Current Date
        var currdate = new Date();
        var today = new Date(currdate.getFullYear(), currdate.getMonth(), currdate.getDate());

        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                var date1 = $("#" + name).text();

                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "1/1/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $("#" + name).datepicker({ format: 'mm/dd/yyyy'}).datepicker();
                }
            }
        });
    }

    function ChangeDateRequestedLoad() {
        debugger;
        var data = $('#FormChangeDateRequested').serialize();
        $.ajax({
            url: '@Url.Action("ChangeDateRequestedLoad", "ChangeDateRequested")',
            data: data,
            type: "POST",
            success: function (data) {
                $('#myModal .modal-content').html(data);

                ChangeDateRequestedList();
                $('#myModal').modal("show");
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


</script>
