﻿@model CRFView.Adapters.Liens.Managements.ChangeDateRequested.ViewModels.ChangeDateRequestedVM
@{
    Layout = null;
}

<form id="FormEditChangeDateRequested">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Edit Change DateRequested
           <button type="button" class="close" onclick="CancelChangeDateRequested()" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

   
        <div id="divDetails">


            <div class="col-xs-12  form-group" id="JobInfo">

                <fieldset class="customFieldset">
                    <legend>Job Info</legend>
                    <div class="col-xs-12  form-group">
                        <fieldset class="customFieldset">
                            <div class="col-xs-12  form-group">



                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-4 NopaddingLR rt">

                                            <lable>Job Id</lable>
                                        </div>
                                        <div class="col-xs-4 NopaddingLR" style="text-align: left;">
                                            
                                            @Html.TextBoxFor(m => m.ObjChangeDateRequested.JobId, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:90%;" })


                                        </div>
                                     
                                        <div class="col-xs-4  NopaddingLR">
                                           
                                            <div class="col-xs-2 checkbox-sm NopaddingLR">
                                                <input type="checkbox" disabled/>
                                            </div>
                                            <div class="col-xs-2 NopaddingLR" style="margin-left: 5px; ">
                                                <label>NCInfo</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <div class="col-xs-4  form-group">
                                </div>
                                <div class="col-xs-4  form-group">
                                </div>
                            </div>

                            <div class="col-xs-12  form-group">
                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-4 NopaddingLR rt">

                                            <lable>Client#</lable>
                                        </div>
                                        <div class="col-xs-8 NopaddingLR">
                                            <div class="col-xs-12 NopaddingLR">
                                                <div class="col-xs-6 NopaddingLR" style="text-align: left;">
                                                  
                                                    @Html.TextBoxFor(m => m.ObjChangeDateRequested.ClientCode, new { @class = "form-control",  @readonly = "readonly", style = "display:inline;text-align:left;width:65px;" })


                                                </div>
                                                <div class="col-xs-6 NopaddingLR">
                                                   
                                                    @Html.TextBoxFor(m => m.ObjChangeDateRequested.ClientName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:165px;" })


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-5 NopaddingLR rt">

                                            <lable>Asg Date</lable>
                                        </div>
                                        <div class="col-xs-6 NopaddingLR" style="text-align: left;">
                                           
                                            @Html.TextBoxFor(m => m.ObjChangeDateRequested.DateAssigned, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left; width:150px;" })


                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-3 NopaddingLR rt">

                                            <lable>Cust</lable>
                                        </div>
                                        <div class="col-xs-9 NopaddingLR" style="text-align: left;">
                                            @*@Html.TextBoxFor(m => m., new { @class = "form-control", style = "display:inline;" })*@
                                            @*<input type="text" style="width: 220px" />*@
                                            @Html.TextBoxFor(m => m.ObjChangeDateRequested.CustName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:220px;" })


                                        </div>

                                    </div>
                                </div>
                            </div>



                            <div class="col-xs-12  form-group">
                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-4 NopaddingLR rt">

                                            <lable>Job#</lable>
                                        </div>
                                        <div class="col-xs-8 NopaddingLR">
                                            <div class="col-xs-12 NopaddingLR">
                                                <div class="col-xs-10 NopaddingLR" style="text-align;">
                                                    @Html.TextBoxFor(m => m.ObjChangeDateRequested.JobNum, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:110px;" })


                                                </div>
                                                <div class="col-xs-1 NopaddingLR" style="margin-left: 2px;">
                                                    @Html.TextBoxFor(m => m.ObjChangeDateRequested.EstBalance, new { Value = String.Format("{0:C}", Model.ObjChangeDateRequested.EstBalance), @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:115px;" })
                                                    



                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-5 NopaddingLR rt">

                                            <lable>Desk</lable>
                                        </div>
                                        <div class="col-xs-6 NopaddingLR" style="text-align: left;">
                                             @Html.TextBoxFor(m => m.ObjChangeDateRequested.DeskNum, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:150px;" })
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-3 NopaddingLR rt">

                                            <lable>Gc</lable>
                                        </div>
                                        <div class="col-xs-9 NopaddingLR" style="text-align: left;">
                                           @Html.TextBoxFor(m => m.ObjChangeDateRequested.GCName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:220px;" })


                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12  form-group">
                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-4 NopaddingLR rt">

                                            <lable>Job Name</lable>
                                        </div>
                                        <div class="col-xs-8 NopaddingLR">
                                            
                                            @Html.TextBoxFor(m => m.ObjChangeDateRequested.JobName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:235px;" })




                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-5 NopaddingLR rt">

                                            <lable>Status</lable>
                                        </div>
                                        <div class="col-xs-6 NopaddingLR" style="text-align: left;">
                                           @Html.TextBoxFor(m => m.ObjChangeDateRequested.StatusCode, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:150px;" })


                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-3 NopaddingLR rt">

                                            <lable>Owner</lable>
                                        </div>
                                        <div class="col-xs-9 NopaddingLR" style="text-align: left;">
                                            @Html.TextBoxFor(m => m.ObjChangeDateRequested.OwnerName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:220px;" })


                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12  form-group">
                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-4 NopaddingLR rt">

                                            <lable>Address</lable>
                                        </div>
                                        <div class="col-xs-8 NopaddingLR">
                                            @Html.TextBoxFor(m => m.ObjChangeDateRequested.JobAdd1, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:235px;" })




                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-5 NopaddingLR rt">

                                            <lable>Start Date</lable>
                                        </div>
                                        <div class="col-xs-6 NopaddingLR" style="text-align: left;">
                                            @Html.TextBoxFor(m => m.ObjChangeDateRequested.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left; width:150px;" })


                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-3 NopaddingLR rt">

                                            <lable>Lender</lable>
                                        </div>
                                        <div class="col-xs-9 NopaddingLR" style="text-align: left;">
                                           @Html.TextBoxFor(m => m.ObjChangeDateRequested.LenderName, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:220px;" })


                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12  form-group">
                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-4 NopaddingLR" style="text-align: left;">

                                            <lable></lable>
                                        </div>
                                        <div class="col-xs-10 NopaddingLR"  style="margin-left: 85px;">
                                            <div class="col-xs-12 NopaddingLR">
                                                <div class="col-xs-4 NopaddingLR" style="text-align: left;">
                                                    @Html.TextBoxFor(m => m.ObjChangeDateRequested.JobCity, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:110px;" })


                                                </div>
                                               <div class="col-xs-1 NopaddingLR" style="text-align: left; margin-left: 55px;">
                                                   
                                                    @Html.TextBoxFor(m => m.ObjChangeDateRequested.JobState, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:35px;" })


                                                </div>
                                                <div class="col-xs-1 NopaddingLR" style="text-align: left; margin-left: 30px;">
                                                   
                                                    @Html.TextBoxFor(m => m.ObjChangeDateRequested.JobZip, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:75px;" })


                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-5 NopaddingLR rt">

                                            <lable>Verified Date</lable>
                                        </div>
                                        <div class="col-xs-6 NopaddingLR" style="text-align: left;">
                                          
                                            @Html.TextBoxFor(m => m.ObjChangeDateRequested.VerifiedDate, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left; width:150px;" })


                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group" style="text-align: left; margin-left: 10px;">
                                       
                                        <div class="col-xs-5 NopaddingLR">

                                            <div class="col-xs-1 checkbox-sm NopaddingLR" style="text-align: left; margin-left: 10px;">
                                                <input type="checkbox"  disabled/>
                                            </div>
                                            <div class="col-xs-4 NopaddingLR" style="text-align: left; margin-left: 8px;">
                                                <label>JointCk</label>
                                            </div>
                                           

                                        </div>
                                        <div class="col-xs-7 NopaddingLR">
                                           
                                            <div class="col-xs-4 NopaddingLR" style="text-align: left; margin-left: 10px;">
                                                <label>Branch</label>
                                            </div>
                                            <div class="col-xs-2 NopaddingLR" style="text-align: left; margin-left: 10px;">
                                              
                                                @Html.TextBoxFor(m => m.ObjChangeDateRequested.BranchNumber, new { @class = "form-control", @readonly = "readonly", style = "display:inline;text-align:left;width:101px;" })


                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12  form-group">
                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-4 NopaddingLR" style="text-align: left;">

                                            <lable></lable>
                                        </div>
                                        <div class="col-xs-8 NopaddingLR">
                                            <div class="col-xs-12 NopaddingLR">
                                                <div class="col-xs-5 NopaddingLR" style="text-align: left;">

                                                </div>
                                                <div class="col-xs-7 NopaddingLR">


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 form-group">
                                    <div class="col-xs-12  form-group">
                                        <div class="col-xs-5 NopaddingLR rt">

                                          
                                        </div>
                                        <div class="col-xs-6 NopaddingLR" style="text-align: left;">
                                           
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4  form-group">
                                    <div class="col-xs-12  form-group" style="text-align: left; margin-left: 3px;">

                                        <div class="col-xs-5 NopaddingLR">

                                            <div class="col-xs-2 checkbox-sm" style="text-align: left;">
                                                <input type="checkbox" disabled />
                                            </div>
                                            <div class="col-xs-3 NopaddingLR" style="text-align: left; margin-left: 8px;">
                                                <label>GreenCard</label>
                                            </div>

                                        </div>
                                        <div class="col-xs-7 NopaddingLR">
                                            <div class="col-xs-12">
                                                <div class="col-xs-2 checkbox-sm" style="text-align: left; margin-left: -16px;">
                                                    <input type="checkbox" disabled />
                                                </div>
                                                <div class="col-xs-4 NopaddingLR" style="text-align: left; margin-left: 10px; color: cadetblue;">
                                                    <label>RentalViewJob</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div id="hiddenFields">
        @Html.HiddenFor(m => m.DateTimePicker2)
       @Html.HiddenFor(m => m.JobId)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnChangeDateRequestedUpdate" value="Update" class="btn btn-primary form-group" onclick="UpdateChangeDateRequested()" />

           <input type="button" value="Cancel" id="CancelModalSCLegalCost" class="btn btn-primary" onclick="CancelChangeDateRequested()" />
        </div>
    </div>
</form>


<script>

    function formatZip(Zipfield) {
        var Zip = Zipfield.value.replace(/[^0-9]/g, '');
        $(Zipfield).val(Zip.replace(/^(\d{5})(\d{4})+$/, "$1-$2"));
    }


    function CancelChangeDateRequested()
    {
        $("#myModalEditChangeDateRequested").modal("hide");
        ChangeDateRequestedLoad();
    }

    function UpdateChangeDateRequested() {
        debugger;
        showLoadingImage();

        var data = $('#FormEditChangeDateRequested').serialize();
      
        $.ajax({
            url: '@Url.Action("UpdateChangeDateRequested", "ChangeDateRequested")',
             data: data,
            
            type: "POST",
            success: function (data) {
                debugger;
                $("#myModalEditChangeDateRequested").modal("hide");
                debugger;
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {
                    ChangeDateRequestedLoad();

                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditChangeDateRequested").modal("hide");
            }
        });
    }

    function CheckMinDate() {
        debugger;
        var DateTextBoxArray = ["ObjChangeDateRequested_VerifiedDate",
                                "ObjChangeDateRequested_DateAssigned",
                                 "ObjChangeDateRequested_StartDate"];
        $.each(DateTextBoxArray, function (idx, name) {
            debugger;
            if ($("#" + name).length) {
                var date = $("#" + name).val();
                if (date == "01/01/01" || date == "1/1/0001 12:00:00 AM" || date == "01/01/0001") {
                    $("#" + name).val("");
                    $("#" + name).text("");
                }
            }
        });
    }


</script>





