﻿@model CRFView.Adapters.Liens.Managements.DNNJobs.ViewModels.DNNJobsVM
@{
    Layout = null;
}


<form id="FormDNNJobs">
    <div class="modal-header">
        <h3 .class="Details-Heading" style="margin-top: 15px;">
            DNN Jobs
            <button type="button" class="close" data-dismiss="modal" aria-lable="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>

    </div>
    <div class="modal-body" style="text-align:left">

        <div class="form-group col-xs-12 lt NopaddingLR">

            <div class="col-xs-12 NopaddingLR">

                <div class="col-xs-12">&nbsp;</div>

                <div class="form-group col-xs-12 lt">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h2 style="text-align:center"><b>Fix Active DNN Jobs</b></h2>
                    <br />                   
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.Message)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left"/>
            <input type="button" id="btnOK" value="OK" class="btn btn-primary" onclick="JobView_DNNJobsDetails();"/>
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>

    function JobView_DNNJobsDetails() {
        debugger;
        showLoadingImage();
        var data = $('#FormDNNJobs').serialize();
        $.ajax({
            url: '@Url.Action("GetJobView_DNNJobsDetails", "DNNJobs")',
            data: data,
            type: "POST",

            success: function (data) {
                debugger;

                $("#myModal").modal("hide");
                $('.modal-backdrop').remove();
                if (data == 1) {
                    JobView_DNNJobsSuccessPoppup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    NoticeSentWarning();
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModal").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function JobView_DNNJobsSuccessPoppup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Processed Succesfully",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }

</script>
