﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<div>
    <h3 class="page-header" style="margin-top:-50px;">DNN Jobs</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}

        <div id="DNNJobs">
        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="width:600px !important;margin-top: 10% !important;">

            <!-- Modal content-->
            <div class="modal-content" style="width:700px !important;margin-top: 10% !important;">

            </div>
            `
        </div>
    </div>

</div>

<script type="text/javascript">

    function OnPartialLoad() {
        debugger;
        $.ajax({
            url: '@Url.Action("ShowModal", "DNNJobs")',
            type: "POST",
            success: function (data) {
                debugger;
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");

            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }



</script>

