﻿


@model CRFView.Adapters.Accounting.AccountingCollections.DeleteInvoiceRuns.ViewModels.AccountingDeleteInvoiceRunVM
@{
    Layout = null;
}

<style>
    .rt {
        text-align: right;
    }

    .Setfieldset {
        width: 606px;
        height: 189px;
    }
</style>
<form id="formDeleteInvoiceRun">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>Delete Invoice Run</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body" style="text-align:left">
        <div class="col-xs-12 form-group ">
            <div class="col-xs-8 Text-Left ">
                <fieldset class="customFieldset Setfieldset">
                    <legend>Delete Invoice Run</legend>

                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt">
                            <lable>Invoice Cycle</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.DropDownListFor(m => m.Id, Model.InvoiceCycleList.OrderBy(m => m.Text), new { @class = "form-control", style = "display:inline;" })

                        </div>
                    </div>
                    <br />
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt">
                            <lable>Remittance From</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.FromDate, "{0:MM/dd/yyyy", new { style = "width:128px;" })
                        </div>
                    </div>
                    <br />
                    <div class="col-xs-10 form-group">
                        <div class="col-xs-6 rt">
                            <lable>Remittance Thru</lable>
                        </div>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.ThruDate, "{0:MM/dd/yyyy}", new { style = "width:128px" })
                        </div>
                    </div>
                    <br />

                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnClear" value="Clear" class="btn btn-primary pull-left" onclick="Clear()" style="margin-left: 16px;" />
            <input type="button" id="btnOk" value="OK" class="btn btn-primary" onclick="DeleteInvoiceRun()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" />

        </div>
    </div>
</form>
<script>
    function Delete() {

        swal({
            title: "",
            text: "You are about to Delete a Lien Invoice Run. Do you want to proceed?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "OK",
            cancelButtonText: "cancel",
            closeOnConfirm: false,
            closeOnCancel: true
        },
        function (isConfirm) {
            if (isConfirm) {
                DeleteInvoice();
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
            }
        });
    }

    function DeleteInvoiceRun() {

            debugger;
            showLoadingImage();
        var data = $('#formDeleteInvoiceRun').serialize();
            $.ajax({
                url: '@Url.Action("OkDeleteInvoiceRunDetails", "DeleteInvoiceRun")',
                data: data,
                type: "POST",

                success: function (data) {
                    debugger;

                    $("#myModal").modal("hide");
                    $('.modal-backdrop').remove();
                    if (data == 1) {

                        INvoiceCSuccessPoppup();
                        hideLoadingImage();
                    }
                    else if (data == 0) {
                        NoticeSentWarning();
                        hideLoadingImage();
                    }
                },
                fail: function (error) {
                    $('#errorMsg').show();
                    $("#myModal").modal("hide");
                    hideLoadingImage();
                }
            });
    }

    function NoticeSentWarning() {
        debugger;

        swal({
            title: "Process Failed Error Encountered",
            type: "error",
            confirmButtonText: "ok"
        });
    }

    function Clear() {

        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#FromDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
        $('#ThruDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);

    }

    function INvoiceCSuccessPoppup() {
        debugger;
        swal({
            title: "Successfully Completed!",
            text: "Process Completed",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


</script>

