﻿@model IEnumerable<CRFView.Adapters.ADSystemKeyValues>
    @{
   
    }

    <div>
    
        <h3 class="page-header">System Values</h3>
        <hr/>
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/_SearchDiv.cshtml");}
            <div id="list">
                @{Html.RenderPartial("~/Views/CRFViewConfiguration/Company/SystemKeyValues/_SystemKeyValuesList.cshtml");}
            </div>

        </div>
    </div>

    <div class="modal modal-primary fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

            </div>

        </div>
    </div>


    <script type="text/javascript">

        function OnPartialLoad() {
         
        }

        function AddDetails() {
            $.ajax({
                url: '@Url.Action("SystemKeyValuesAdd", "SystemKeyValues")',
                data: {

                },
                success: function (data) {
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });

        }
        function ShowDetails(id) {
            debugger;
            $.ajax({
                url: '@Url.Action("SystemKeyValuesDetails", "SystemKeyValues")',
                data: {
                    id: id
                },
                success: function (data) {
                  
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show");
                    
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }
        function Search() {
            var searchVal = $("#txtSearch").val().trim();
            var SearchKey = $("#ddlFilter").val();
            if (searchVal != "" && SearchKey != "") {
            $.ajax({
                url: '@Url.Action("Search", "SystemKeyValues")',
                data: {
                    value: searchVal,
                    Key: SearchKey
                },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblSystemKeyValues');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
            }
            return false;
        }

        function Refresh() {
            debugger;
            $("#txtSearch").val("");
            $.ajax({
                url: '@Url.Action("Refresh", "SystemKeyValues")',
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    ClearDatatableState('tblSystemKeyValues');
                    makeDatatable('tblSystemKeyValues');
                },
                fail: function (error) {
                    $('#errorMsg').show();
                }
            });
        }

    </script>


