﻿@model CRFView.Adapters.Collections.DataEntry.DataEntry.ViewModels.BatchDebtAccountVM

@{
    Layout = null;
}

<style>
    .NopaddingLR {
        padding-right: 10px !important;
        padding-left: 0px !important;
    }

    #tblDataEntryDocumentsAdd_wrapper .row:first-child {
        overflow-x: auto;
        
    }

    .aln {
        text-align: right;
    }
</style>

<form id="FormAddBatchDebtAccountInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>New Account Entry </label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group ">
            <div class="col-xs-2 aln">
                <lable>Client</lable>
            </div>
            <div class="col-xs-7">
                @Html.DropDownListFor(m => m.ddlServiceCodes, new SelectList(Model.ServiceCodesList, "Name", "Code"), "--Select--", new { @class = "form-control", @onchange = "ServiceCodesddlChange(this.value)", tabindex = 1 })
            </div>

            <div class="col-xs-1 aln">
                <lable>Batch</lable>
            </div>
            <div class="col-xs-2">
                @Html.DropDownListFor(m => m.ddlBatchId, Model.BatchIdList, new { @class = "form-control" })
                @*@Html.DropDownListFor(m => m.ddlBatchId, new SelectList(Model.BatchIdList, "Id","Name"), "--Select--", new { @class = "form-control" })*@
            </div>
        </div>

        <div class="col-xs-12 form-group ">
            <div class="col-xs-2 aln">
                <lable>Client Info</lable>
            </div>
            <div class="col-xs-10" style="font-size: larger;">
                @Html.DisplayFor(m => m.lblClientInfo, new { @class = "form-control", style = "display:inline;" })
            </div>
            <br />
            <br />
        </div>

        <div class="col-xs-12 form-group " style="display:none;">
            <div class="col-xs-2 aln">
                <lable>New Bus Var</lable>
            </div>
            <div class="col-xs-10" style="font-size: larger;">
                @Html.DisplayFor(m => m.lblMiscVar, new { @class = "form-control", style = "display:inline;" })
            </div>
            <br />
            <br />
        </div>

        <div class="nav-tabs-horizontal" data-plugin="tabs" style="padding-left:40px;">
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabMainInfo" aria-controls="TabMainInfo" role="tab" aria-selected="false">Main Info</a></li>
                <li id="AdditionalAddresses" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabAdditionalAddresses" aria-controls="TabAdditionalAddresses" role="tab" aria-selected="false">Additional Addresses</a></li>
                <li id="Documents" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabDocument" aria-controls="TabDocument" role="tab" aria-selected="false">Documents</a></li>

            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="TabMainInfo" role="tabpanel">
                <br />
                <div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Ref #</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.AccountNo, new { @class = "form-control", tabindex = 2 })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Date Assigned</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.ReferalDate, "{0:MM/dd/yyyy}", new { @class = "form-control", tabindex = 19 })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Region#</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.BranchNum, new { @class = "form-control", tabindex = 3 })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Last Charge</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.LastServiceDate, "{0:MM/dd/yyyy}", new { @class = "form-control", tabindex = 20 })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Debtor Name</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.DebtorName, new { @class = "form-control", style = "width: 125 %;", tabindex = 4 })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Last Payment</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.LastPaymentDate, "{0:MM/dd/yyyy}", new { @class = "form-control", tabindex = 21 })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Contact</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.ContactName, new { @class = "form-control", tabindex = 5 })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Total Due</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.TotAsgAmt, new { @onblur = "formatCurrency(this)", @class = "form-control",  tabindex = 22, Value = String.Format("{0:C}", Model.obj_BatchDebtAccount.TotAsgAmt) })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Address</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.AddressLine1, new { @class = "form-control", tabindex = 6 })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4 checkbox-sm" style="white-space: nowrap; ">
                                    @Html.CheckBoxFor(m => m.chkRate, new { tabindex = 23 })
                                    &nbsp;
                                    <lable>Special Rate</lable>
                                </div>
                                <div class="col-xs-5" id="divRate" style="@(Model.chkRate == false ? "display:none" : "display:block")">
                                    @Html.DropDownListFor(m => m.ddlCommRateId, Model.CommRateIdList, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable></lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.AddressLine2, new { @class = "form-control", tabindex = 7 })
                                </div>
                            </div>
                            <div class="col-xs-6" id="divExchRate" style="@(ViewBag.divExchRate == "Show divExchRate" ? "display:block" : "display:none")">
                                <div class="col-xs-4 aln">
                                    <lable>Exch Rate</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.ExchangeRate, new { @class = "form-control", Value = "0", @type = "number", @min = "0" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>City</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.City, new { @class = "form-control", tabindex = 8 })
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>State</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.State, new { @class = "form-control", tabindex = 9 })
                                </div>
                                <div class="col-xs-1">
                                    <lable>Zip</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PostalCode, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", @style = "width:150%;", tabindex = 10 })
                                </div>
                            </div>
                            <div class="col-xs-6" style="display:none;">
                                <div class="col-xs-4 aln">
                                    <lable>Agent Code</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.ClientAgentCode, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Ph 1</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", tabindex = 11 })

                                </div>
                                <div class="col-xs-1" style="margin-left: -20px;">
                                    <lable>Ext</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PhoneNoExt, new { @class = "form-control", @style = "width:165%;", tabindex = 12 })
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Ph 2</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PhoneNo2, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", tabindex = 13 })

                                </div>
                            </div>
                            <div class="col-xs-6">
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Ph 3</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.Cell, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control", tabindex = 14 })

                                </div>
                            </div>
                            <div class="col-xs-6">

                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkEstAudit, new { tabindex = 24 })
                                    &nbsp;
                                    <lable>Est/Audit</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkRapidRebate, new { tabindex = 25 })
                                    &nbsp;
                                    <lable>Rapid Rebate</lable>
                                </div>


                            </div>
                        </div>


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Fax</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.Fax, new { @onblur = "formatFax(this)", @maxlength = "10", @class = "form-control", tabindex = 15 })
                                </div>

                            </div>
                            <div class="col-xs-6">

                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkInternational, new { tabindex = 26 })
                                    &nbsp;
                                    <lable>International</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkSkip, new { tabindex = 27 })
                                    &nbsp;
                                    <lable>Skip</lable>
                                </div>


                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Email</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.Email, new { @class = "form-control", style = "width: 125 %;", tabindex = 16 })
                                </div>

                            </div>
                            <div class="col-xs-6">

                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkJudgment, new { tabindex = 28 })
                                    &nbsp;
                                    <lable>Judgment</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkSecondary, new { tabindex = 29 })
                                    &nbsp;
                                    <lable>Secondary</lable>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>SS#</lable>
                                </div>
                                <div class="col-xs-5">
                                    @*@Html.TextBoxFor(m => m.obj_BatchDebtAccount.TaxId, new
                                               {
                                                   @onblur = "formatSSN(this)",
                                                   @maxlength = "9",
                                                   @class = "form-control",
                                                   style = "display:inline;",
                                                   Value = string.IsNullOrEmpty(Model.obj_BatchDebtAccount.TaxId) ? "" :
                                             Model.obj_BatchDebtAccount.TaxId.Contains("-") ? Model.obj_BatchDebtAccount.TaxId :
                                           String.Format("{0}-{1}-{2}"
                                , Model.obj_BatchDebtAccount.TaxId.Substring(0, 3)
                                 , Model.obj_BatchDebtAccount.TaxId.Substring(3, 4)
                                     , Model.obj_BatchDebtAccount.TaxId.Substring(5, Model.obj_BatchDebtAccount.TaxId.Length - 6))
                                               })*@

                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.TaxId, new
                                     {
                                         @onblur = "formatSSN(this)",
                                         @maxlength = "9",
                                         @class = "form-control",
                                         style = "display:inline;",
                                         tabindex = 17
                                    })

                                    @*@Html.TextBoxFor(m => m.obj_BatchDebtAccount.TaxId, new { @class = "form-control" })*@
                                </div>

                            </div>
                            <div class="col-xs-6">

                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkNoCollectionFee, new { tabindex = 30 })
                                    &nbsp;
                                    <lable>No Collection Fee</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm" id="divTenDayContactPlan" style="white-space: nowrap; @(ViewBag.divTenDayContactPlan == "Hide divTenDayContactPlan" ? "display:none" : "display:block")">
                                    @Html.CheckBoxFor(m => m.chkTenDayContactPlan, new { tabindex = 31 })
                                    &nbsp;
                                    <lable>10 Day Contact Plan</lable>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4 aln">
                                    <lable>Misc Note</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.AccountNote, new { @class = "form-control", tabindex = 18 })
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>

            <div class="tab-pane" id="TabAdditionalAddresses" role="tabpanel">
                <br />
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <fieldset class="customFieldset">
                            <legend>Address 2</legend>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Contact</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.ContactName_2, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Address</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.AddressLine1_2, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <lable></lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.AddressLine2_2, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>City</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.City_2, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>State</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.State_2, new { @class = "form-control", style = "width: 150%;" })
                                </div>
                                <div class="col-xs-1" style="margin-left: 15px;">
                                    <lable>Zip</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PostalCode_2, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "width: 170%;" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Ph 1</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PhoneNo_2, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })

                                </div>
                                <div class="col-xs-1" style="margin-left: -20px;">
                                    <lable>Ext</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PhoneNoExt_2, new { @class = "form-control", @style = "width:165%;" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Ph 2</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.Cell_2, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Email</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.Email_2, new { @class = "form-control" })
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-xs-6">
                        <fieldset class="customFieldset">
                            <legend>Address 3</legend>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Contact</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.ContactName_3, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Address</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.AddressLine1_3, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <lable></lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.AddressLine2_3, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>City</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.City_3, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>State</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.State_3, new { @class = "form-control", style = "width: 150%;" })
                                </div>
                                <div class="col-xs-1" style="margin-left: 15px;">
                                    <lable>Zip</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PostalCode_3, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "width: 170%;" })
                                </div>
                            </div>


                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Ph 1</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PhoneNo_3, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })

                                </div>
                                <div class="col-xs-1" style="margin-left: -20px;">
                                    <lable>Ext</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.PhoneNoExt_3, new { @class = "form-control", @style = "width:165%;" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Ph 2</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.Cell_3, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4 aln">
                                    <lable>Email</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccount.Email_3, new { @class = "form-control" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="TabDocument" role="tabpanel">
                <br />
                <div class="col-xs-12">
                    <br />
                    <input type="button" id="btnNewDocuments" class="btn btn-primary pull-left" value="New Document" onclick="AddDocument()">

                    <br />
                    <br />
                    <div id="tableDataEntryDocumentsDiv">
                        <table id="tblDataEntryDocumentsAdd" class="table table-bordered dataTable table-hover grid " border="1">
                            <thead>
                                <tr>
                                    <th class="no-sort" style="width: 30px;">Edit</th>
                                    <th style="width: 30px;">View</th>
                                    <th style="width: 162px;">Date Created</th>
                                    <th style="width: 120px;">User Code</th>
                                    <th style="width: 135px;">Document Type</th>
                                    <th>Document Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.obj_DebtAccountAttachment != null)
                                {
                                    foreach (var i in Model.obj_DebtAccountAttachment)
                                    {
                                        <tr>
                                            <td>
                                                <span class="input-icon">
                                                    <input type="button" id="btnShowDocuments" value="" onclick="ShowDocumentDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-edit" aria-hidden="true"></i>
                                                </span>

                                            </td>
                                            <td>
                                                <span class="input-icon">
                                                    <input type="button" onclick="ViewDocument(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                    <i class="icon wb-eye" aria-hidden="true"></i>
                                                </span>
                                            </td>
                                            <td>@i.DateCreated</td>
                                            <td>@i.UserCode</td>
                                            <td>@i.DocumentType</td>
                                            <td>@i.DocumentDescription</td>
                                        </tr>
                                    }
                                }
                                </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.BatchDebtAccountId)
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.UniqueId)
        @Html.HiddenFor(m => m.BatchId)
        @Html.HiddenFor(m => m.ContractId)
        @Html.HiddenFor(m => m.BranchBox)
        @Html.HiddenFor(m => m.IsIntlClient)
        @Html.HiddenFor(m => m.IsTenDayContactPlan)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnSaveBatchDebtAccount" value="Save" class="btn btn-primary" onclick="SaveBatchDebtAccount()" />
            <input type="button" value="Cancel" id="btnCancelBatchDebtAccount" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>



<script>

    function formatZip(zipfield) {
        var zip = zipfield.value.replace(/[^0-9]/g, '');
        $(zipfield).val(zip.replace(/^(\d{5})(\d{4})+$/, "$1-$2"));
    }

    $("[name='chkRate']").click(function () {
        debugger;
        var chkRate = $(this).val();

        if (this.checked) {
            $('#divRate').show();
        }
        else {
            $('#divRate').hide();
        }
    });

    function ServiceCodesddlChange(UniqueId) {
        debugger;
        $("#UniqueId").val(UniqueId);
        $("#ddlServiceCodes").val(UniqueId);

        var data = $('#FormAddBatchDebtAccountInfo').serialize();
        $.ajax({
            url: '@Url.Action("GetServiceCodesddlDetails", "DataEntry")',
            //data: { UniqueId: UniqueId },
            data: data,
            success: function (data) {
                debugger;
                if (data) {


                    $('#myModalAddBatchDebtAccount .modal-content').html(data);
                    $('#myModalAddBatchDebtAccount').modal("show");
                    makeDatatable('tblDataEntryDocumentsAdd');
                    //To set Current Date
                    var date = new Date();
                    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                    $('#obj_BatchDebtAccount_ReferalDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                    //$('#obj_BatchDebtAccount_LastServiceDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                    //$('#obj_BatchDebtAccount_LastPaymentDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                    $('#obj_BatchDebtAccount_LastServiceDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');
                    $('#obj_BatchDebtAccount_LastPaymentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');

                }
                else {
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


    function SaveBatchDebtAccount() {
        debugger;

        showLoadingImage();

        var ServiceCodesId = $("#ddlServiceCodes").val();

        if (ServiceCodesId < 0 || ServiceCodesId == "") {
            alert('Please Select Client.');
            hideLoadingImage();
            return false;
        }

        var BatchId = $("#ddlBatchId").val();

        if (BatchId < 0 || BatchId == "") {
            alert('Please select Batch.');
            hideLoadingImage();
            return false;
        }

        var txtDebtorName = document.getElementById("obj_BatchDebtAccount_DebtorName");

        if (txtDebtorName.value == "" || txtDebtorName.value == null) {
            alert("Please enter Debtor Name.");
            txtDebtorName.focus();
            hideLoadingImage();
            return false;
        }

        var txtAddressLine1 = document.getElementById("obj_BatchDebtAccount_AddressLine1");

        if (txtAddressLine1.value == "" || txtAddressLine1.value == null) {
            alert("Please enter Address.");
            txtAddressLine1.focus();
            hideLoadingImage();
            return false;
        }

        var txtCity = document.getElementById("obj_BatchDebtAccount_City");

        if (txtCity.value == "" || txtCity.value == null) {
            alert("Please enter City.");
            txtCity.focus();
            hideLoadingImage();
            return false;
        }

        var txtState = document.getElementById("obj_BatchDebtAccount_State");

        if (txtState.value == "" || txtState.value == null) {
            alert("Please enter State.");
            txtState.focus();
            hideLoadingImage();
            return false;
        }

        var BranchBox = $("#BranchBox").val();
        var txtBranchNum = document.getElementById("obj_BatchDebtAccount_BranchNum");
        if (BranchBox  == "True" && txtBranchNum.value.length < 1)
        {
            alert("Region#/Branch# is required on this client");
            txtBranchNum.focus();
            hideLoadingImage();
            return false;
        }

        var txtLastServiceDate = document.getElementById("obj_BatchDebtAccount_LastServiceDate");
        var txtLastPaymentDate = document.getElementById("obj_BatchDebtAccount_LastPaymentDate");
        var txtReferalDate = document.getElementById("obj_BatchDebtAccount_ReferalDate");

        if (txtReferalDate.value == "" || txtReferalDate.value == null) {
            alert("Please enter Date Assign.");
            txtReferalDate.focus();
            hideLoadingImage();
            return false;
        }

        if (txtLastServiceDate.value.length < 1 && txtLastPaymentDate.value.length < 1) {
            alert("Please enter Last Chg or Last Pay Date.");
            txtLastServiceDate.focus();
            hideLoadingImage();
            return false;
        }

        if (txtLastServiceDate.value.length > 1) {
            var t1 = txtLastServiceDate.value;
            var t2 = txtReferalDate.value;

            var one_day = 1000 * 60 * 60 * 24;

            var x = t1.split("/");

            var y = t2.split("/");

           // var date1 = new Date(x[2], (x[1] - 1), x[0]);
            // var date2 = new Date(y[2], (y[1] - 1), y[0])
            var date1 = new Date(parseInt(x[2]), (parseInt(x[0]) - 1), parseInt(x[1]));
            var date2 = new Date(parseInt(y[2]), (parseInt(y[0]) - 1), parseInt(y[1]));

            var month1 = x[1] - 1;
            var month2 = y[1] - 1;

            var diffDays1 = Math.ceil((date2.getTime() - date1.getTime()));
            var diffDays = Math.ceil((date2.getTime() - date1.getTime()) / (one_day));

            if (diffDays < 32)
            {
                alert("The Last Charge Date must be 31 days or older than the Date Assigned.");
                txtLastServiceDate.focus();
                hideLoadingImage();
                return false;
            }
        }

        if (txtLastPaymentDate.value.length > 1) {
            var t1 = txtLastPaymentDate.value;
            var t2 = txtReferalDate.value;

            var one_day = 1000 * 60 * 60 * 24;

            var x = t1.split("/");

            var y = t2.split("/");

            //var date1 = new Date(x[2], (x[1] - 1), x[0]);

            //var date2 = new Date(y[2], (y[1] - 1), y[0]);

            var date1 = new Date(parseInt(x[2]), (parseInt(x[0]) - 1), parseInt(x[1]));
            var date2 = new Date(parseInt(y[2]), (parseInt(y[0]) - 1), parseInt(y[1]));

            var month1 = x[1] - 1;
            var month2 = y[1] - 1;

            var diffDays = Math.ceil((date2.getTime() - date1.getTime()) / (one_day));

            if (diffDays < 32) {
                alert("The Last Payment Date must be 31 days or older than the Date Assigned.");
                txtLastPaymentDate.focus();
                hideLoadingImage();
                return false;
            }
        }

        var txtTotAsgAmt = document.getElementById("obj_BatchDebtAccount_TotAsgAmt");
        var TotAsgAmt = txtTotAsgAmt.value;
        TotAsgAmt = TotAsgAmt.replace("$", "");
        TotAsgAmt = TotAsgAmt.replace(",", "");
        if (isNaN(TotAsgAmt)) {
            alert('TotAsgAmt is invalid.');
            txtTotAsgAmt.focus();
            hideLoadingImage();
            return false;
        }
        debugger;
        if (TotAsgAmt <= 0) {
            alert('TotAsgAmt is required.');
            txtTotAsgAmt.focus();
            hideLoadingImage();
            return false;
        }

        $("#obj_BatchDebtAccount_TotAsgAmt").val(TotAsgAmt);

        debugger;
        var data = $('#FormAddBatchDebtAccountInfo').serialize();
        $.ajax({
            url: '@Url.Action("SaveBatchDebtAccountInfo", "DataEntry")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;

                LoadDebtAccountListByBatchId(BatchId);

                $("#myModalAddBatchDebtAccount").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == 1) {
                    debugger;
                    BatchDebtAccountSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalAddBatchDebtAccount").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function AddDocument()
    {
        debugger;
      
        showLoadingImage();

        var ServiceCodesId = $("#ddlServiceCodes").val();

        if (ServiceCodesId < 0 || ServiceCodesId == "") {
            alert('Please Select Client.');
            hideLoadingImage();
            return false;
        }

        var BatchId = $("#ddlBatchId").val();

        if (BatchId < 0 || BatchId == "") {
            alert('Please select Batch.');
            hideLoadingImage();
            return false;
        }

        var txtDebtorName = document.getElementById("obj_BatchDebtAccount_DebtorName");

        if (txtDebtorName.value == "" || txtDebtorName.value == null) {
            alert("Please enter Debtor Name.");
            txtDebtorName.focus();
            hideLoadingImage();
            return false;
        }

        var txtAddressLine1 = document.getElementById("obj_BatchDebtAccount_AddressLine1");

        if (txtAddressLine1.value == "" || txtAddressLine1.value == null) {
            alert("Please enter Address.");
            txtAddressLine1.focus();
            hideLoadingImage();
            return false;
        }

        var txtCity = document.getElementById("obj_BatchDebtAccount_City");

        if (txtCity.value == "" || txtCity.value == null) {
            alert("Please enter City.");
            txtCity.focus();
            hideLoadingImage();
            return false;
        }

        var txtState = document.getElementById("obj_BatchDebtAccount_State");

        if (txtState.value == "" || txtState.value == null) {
            alert("Please enter State.");
            txtState.focus();
            hideLoadingImage();
            return false;
        }

        var BranchBox = $("#BranchBox").val();
        var txtBranchNum = document.getElementById("obj_BatchDebtAccount_BranchNum");
        if (BranchBox == "True" && txtBranchNum.value.length < 1) {
            alert("Region#/Branch# is required on this client");
            txtBranchNum.focus();
            hideLoadingImage();
            return false;
        }

        var txtLastServiceDate = document.getElementById("obj_BatchDebtAccount_LastServiceDate");
        var txtLastPaymentDate = document.getElementById("obj_BatchDebtAccount_LastPaymentDate");
        var txtReferalDate = document.getElementById("obj_BatchDebtAccount_ReferalDate");

        if (txtReferalDate.value == "" || txtReferalDate.value == null) {
            alert("Please enter Date Assign.");
            txtReferalDate.focus();
            hideLoadingImage();
            return false;
        }

        if (txtLastServiceDate.value.length < 1 && txtLastPaymentDate.value.length < 1) {
            alert("Please enter Last Chg or Last Pay Date.");
            txtLastServiceDate.focus();
            hideLoadingImage();
            return false;
        }

        if (txtLastServiceDate.value.length > 1) {
            var t1 = txtLastServiceDate.value;
            var t2 = txtReferalDate.value;

            var one_day = 1000 * 60 * 60 * 24;

            var x = t1.split("/");

            var y = t2.split("/");

            // var date1 = new Date(x[2], (x[1] - 1), x[0]);
            // var date1 = new Date(x[2], (x[1] - 1), x[0]);
            // var date2 = new Date(y[2], (y[1] - 1), y[0])
            var date1 = new Date(parseInt(x[2]), (parseInt(x[0]) - 1), parseInt(x[1]));
            var date2 = new Date(parseInt(y[2]), (parseInt(y[0]) - 1), parseInt(y[1]));

            var month1 = x[1] - 1;
            var month2 = y[1] - 1;

            var diffDays1 = Math.ceil((date2.getTime() - date1.getTime()));
            var diffDays = Math.ceil((date2.getTime() - date1.getTime()) / (one_day));

            if (diffDays < 32) {
                alert("The Last Charge Date must be 31 days or older than the Date Assigned.");
                txtLastServiceDate.focus();
                hideLoadingImage();
                return false;
            }
        }

        if (txtLastPaymentDate.value.length > 1) {
            var t1 = txtLastPaymentDate.value;
            var t2 = txtReferalDate.value;

            var one_day = 1000 * 60 * 60 * 24;

            var x = t1.split("/");

            var y = t2.split("/");

            //var date1 = new Date(x[2], (x[1] - 1), x[0]);

            //var date2 = new Date(y[2], (y[1] - 1), y[0]);

            var date1 = new Date(parseInt(x[2]), (parseInt(x[0]) - 1), parseInt(x[1]));
            var date2 = new Date(parseInt(y[2]), (parseInt(y[0]) - 1), parseInt(y[1]));

            var month1 = x[1] - 1;
            var month2 = y[1] - 1;

            var diffDays = Math.ceil((date2.getTime() - date1.getTime()) / (one_day));

            if (diffDays < 32) {
                alert("The Last Payment Date must be 31 days or older than the Date Assigned.");
                txtLastPaymentDate.focus();
                hideLoadingImage();
                return false;
            }
        }

        var txtTotAsgAmt = document.getElementById("obj_BatchDebtAccount_TotAsgAmt");
        var TotAsgAmt = txtTotAsgAmt.value;
        TotAsgAmt = TotAsgAmt.replace("$", "");
        TotAsgAmt = TotAsgAmt.replace(",", "");
        if (isNaN(TotAsgAmt)) {
            alert('TotAsgAmt is invalid.');
            txtTotAsgAmt.focus();
            hideLoadingImage();
            return false;
        }
        debugger;
        if (TotAsgAmt <= 0) {
            alert('TotAsgAmt is required.');
            txtTotAsgAmt.focus();
            hideLoadingImage();
            return false;
        }

        $("#obj_BatchDebtAccount_TotAsgAmt").val(TotAsgAmt);

        var BatchDebtAccountId = 0;
        $.ajax({
            url: '@Url.Action("AddDocuments", "DataEntry")',
            data: $('#FormAddBatchDebtAccountInfo').serialize() + "&BatchDebtAccountId=" + BatchDebtAccountId,
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModalAddBatchDebtAccount').modal("hide");
                $('#myModalAddDocument .modal-content').html(data);
                $('#myModalAddDocument').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#ObjDebtAccountAttachment_DateCreated').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

      function ShowDocumentDetails(DebtDocumentId) {
        debugger;
        showLoadingImage();
        var BatchDebtAccountId = @Model.BatchDebtAccountId;
        $.ajax({
            url: '@Url.Action("GetDocumentDetails", "DataEntry")',
            data: { DebtDocumentId: DebtDocumentId ,BatchDebtAccountId: BatchDebtAccountId},
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModalAddBatchDebtAccount').modal("hide");
                $('#myModalEditBatchDebtAccount').modal("hide");
                $('#myModalEditDocument .modal-content').html(data);
                $('#myModalEditDocument').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                var DateCreated = $('#ObjDebtAccountAttachmentEdit_DateCreated').val();

                if (DateCreated == "01/01/01" || DateCreated == "1/1/0001 12:00:00 AM" || DateCreated == "") {
                    $('#ObjDebtAccountAttachmentEdit_DateCreated').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $('#ObjDebtAccountAttachmentEdit_DateCreated').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ViewDocument(Id) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("ViewDocument", "DataEntry")',
            data: { Id: Id},
            type: "POST",
            success: function (data) {
                debugger;
                if (data != "error") {
                    window.open(data);
                    hideLoadingImage();
                }
                else {
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function BatchDebtAccountSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Your Batch DebtAccount Info Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }



</script>
