﻿@model CRFView.Adapters.Collections.DataEntry.DataEntry.ViewModels.BatchDebtAccountFilterListVM
@{
    Layout = null;
}


<style>
    #tblDataEntry_wrapper .row:first-child {
        overflow-x: auto;
    }
</style>

<div>
    <table id="tblDataEntry" class="table table-bordered table-hover grid" border="1" style="width:2000px !important;">

        <thead>
            <tr>
                <th class="no-sort">Edit</th>
                <th>Batch Id</th>
                <th>Id</th>
                <th>Client Code</th>
                <th>Account No</th>
                <th>Debtor Name</th>
                <th>Address Line1</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
                <th>Phone No</th>
                <th>Tot Asg Amt</th>
                <th>Error</th>
                <th>Error/Warning Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.ObjBatchDebtAccount)
            {

                <tr>
                    <td>
                        <button onclick="ShowDetails(@i.BatchDebtAccountId,true)" class="btn btn-default btn-icon btn-pure">
                            <i class="icon wb-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>@i.BatchId</td>
                    <td>@i.BatchDebtAccountId</td>
                    <td>@i.ClientCode</td>
                    <td>@i.AccountNo</td>
                    <td>@i.DebtorName</td>
                    <td>@i.AddressLine1</td>
                    <td>@i.City</td>
                    <td>@i.State</td>
                    <td>@i.PostalCode</td>
                    <td>@i.PhoneNo</td>
                    <td>@String.Format("{0:C}", i.TotAsgAmt)</td>
                    <td>@i.IsError</td>
                    <td>@i.ErrorDescription</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script type="text/javascript">



    function ShowDetails(BatchDebtAccountId, IsEdit) {
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("GetBatchDebtAccountDetails", "DataEntry")',
            data: { BatchDebtAccountId: BatchDebtAccountId, IsEdit: IsEdit  },
            type: "POST",
            success: function (data) {
                debugger;
                if (IsEdit == true) {
                    $('#myModalEditBatchDebtAccount .modal-content').html(data);
                    $('#myModalEditBatchDebtAccount').modal("show");
                    makeDatatable('tblDataEntryDocuments');
                }
                else {
                $('#myModalAddBatchDebtAccount .modal-content').html(data);
                    $('#myModalAddBatchDebtAccount').modal("show");
                    makeDatatable('tblDataEntryDocumentsAdd');
                }
            

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                var ReferalDate = $('#obj_BatchDebtAccountEdit_ReferalDate').val();
                if (ReferalDate == "01/01/01" || ReferalDate == "1/1/0001 12:00:00 AM" || ReferalDate == "") {
                    $('#obj_BatchDebtAccountEdit_ReferalDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $('#obj_BatchDebtAccountEdit_ReferalDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }

                var LastServiceDate = $('#obj_BatchDebtAccountEdit_LastServiceDate').val();
                if (LastServiceDate == "01/01/01" || LastServiceDate == "1/1/0001 12:00:00 AM" || LastServiceDate == "") {
                    $('#obj_BatchDebtAccountEdit_LastServiceDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');
                }
                else {
                    $('#obj_BatchDebtAccountEdit_LastServiceDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }

                var LastPaymentDate = $('#obj_BatchDebtAccountEdit_LastPaymentDate').val();
                if (LastPaymentDate == "01/01/01" || LastPaymentDate == "1/1/0001 12:00:00 AM" || LastPaymentDate == "") {
                    $('#obj_BatchDebtAccountEdit_LastPaymentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');
                }
                else {
                    $('#obj_BatchDebtAccountEdit_LastPaymentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }

                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function LoadDebtAccountListByBatchId(BatchId) {
        debugger;
            showLoadingImage();
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $.ajax({
                url: '@Url.Action("LoadDebtAccountListByBatchId", "DataEntry")',
                data: { BatchId: BatchId },
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblDataEntry');
                    hideLoadingImage();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }


        @*

        function AddActiveClass_WorkCard(ActiveList, ActiveTab)
        {
            debugger;
            var current = document.getElementById(ActiveList);
            current.className += " active";
            var currentTab = document.getElementById(ActiveTab);
            currentTab.className += " active";
        }


        function RemoveActiveClass_WorkCard() {
            var IdList = ["MainInfo",
                            "Notes",
                            "ActionHistory",
                            "Ledger",
                            "Addresses",
                            "Letter",
                            "CreditReport",
                            "Misc",
                             "Documents",
                            "Forwarding",
                            "SmallClaims",
                            "TabMainInfo",
                            "TabActionHistory",
                            "TabLedger",
                            "TabAddresses",
                            "TabLetters",
                            "TabCreditReport",
                            "TabMisc",
                            "TabDocuments",
                            "TabForwarding",
                            "TabSmallClaims"];
            $.each(IdList, function (idx, name) {
                if ($("#" + name).length) {
                    var element = document.getElementById(name);
                    element.classList.remove("active");
                }
            });
        }*@
    </script>

