﻿@model CRFView.Adapters.Collections.DataEntry.DataEntry.ViewModels.DocumentVM
@{
    Layout = null;
}
<style>
    .lt {
        text-align: left;
    }
</style>

<form id="FormEditDocument">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            Account Document
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>

    <div class="modal-body">

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Document</lable>
            </div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.ObjDebtAccountAttachmentEdit.DateCreated, "{0:MM/dd/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Document Type</lable>
            </div>
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.ddlDocumentType, Model.DocumentTypeList, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3 lt">
                <lable>Additional Note</lable>
            </div>
            <div class="col-xs-6">
                @Html.TextAreaFor(m => m.ObjDebtAccountAttachmentEdit.DocumentDescription, new { @class = "form-control", rows = "6" })
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div class="col-xs-3">

            </div>
            <div class="col-xs-3">
                @*<div class="file-upload">
                        <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" />
                    </div>*@
                <div class="fileupload-btn-wrapper">
                    <button type="button" class="btn btn-dark"><i class="icon wb-upload"></i> Browse Doc</button>
                    <input id="uploadFile" name="uploadFile" type="file" accept=".doc,.docx,.pdf,.txt" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 form-group NopaddingLR">
            <div id="uploadedFileName" class="col-xs-12">
            </div>
        </div>

    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.BatchDebtAccountId)
        @Html.HiddenFor(m => m.DocumentType)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.IsEdit)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnDeleteDocument" value="Delete" class="btn btn-primary pull-left" onclick="DeleteDocument(@Model.Id)" />
            <input type="button" id="btnSaveDocument" value="Save" class="btn btn-primary" onclick="SaveDocument();" />
            <input type="button" value="Cancel" id="CancelModalDocument" class="btn btn-primary" onclick="CancelEditDocument()" />
        </div>
    </div>
</form>





<script>


    function CancelEditDocument() {
        debugger;
        $("#myModalEditDocument").modal("hide");
           var Edit = '@Model.IsEdit';
            if(Edit == 'True') {
                Edit = true;
        }
        if (Edit == 'False') {
            Edit = false;
        }
        ShowDetails(@Model.BatchDebtAccountId, Edit);
    }

    $('#uploadFile').change(function (e) {
        debugger;
        var fileName = e.target.files[0].name;
        if (fileName.search(/[<>'\+\"\/;`%,#$&@@]/) > 0) {
            alert('please upload the file without special characters');
            //$(':input[type="submit"]').prop('disabled', true);
            $('#btnSaveDocument').prop('disabled', true);
            return false;
        }
        else {
            //alert('The file "' + fileName + '" has been selected.');
            //$(':input[type="submit"]').prop('disabled', false);
            $('#btnSaveDocument').prop('disabled', false);
            $("#uploadedFileName").empty();
            $("#uploadedFileName").append(fileName);
        }
    });

    function SaveDocument()
    {
        debugger;

            var formData = new FormData();
            var file = document.getElementById("uploadFile").files[0];
            if (document.getElementById('uploadFile').value !== '')
            {
            formData.append("uploadFile", file);
            $.ajax({
                url: '@Url.Action("SaveDocument", "DataEntry")',
                type: "POST",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == true) {
                        SaveDocumentInputs();
                    }
                    if(data==false)
                    {
                        alert("Something went wrong");
                    }
                    console.log(data);
                },
                fail: function (error) {
                    alert("Something went wrong fail function(error)");
                }
            });
            }
            else
            {
                SaveDocumentInputs();
            }
    }

    function SaveDocumentInputs()
    {
        debugger;

        showLoadingImage();
        var DebtAccountId = @Model.BatchDebtAccountId;
        var DocumentType = $("#ddlDocumentType option:selected").text();
        $("#DocumentType").val(DocumentType);
        $.ajax({
            url: '@Url.Action("UpdateDocumentInputs", "DataEntry")',
            data: $('#FormEditDocument').serialize(),
            type: "POST",
            success: function (data) {
                var Edit = '@Model.IsEdit';
                    if(Edit == 'True') {
                        Edit = true;
                    }
                    if (Edit == 'False') {
                        Edit = false;
                    }
                $("#myModalEditDocument").modal("hide");
                ShowDetails(@Model.BatchDebtAccountId, Edit);
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                if (data == 1) {

                    DocumentUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == -1){
                    alert("User Session Expired. Log In Again.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditDocument").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function DocumentUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Document Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function DeleteDocument(Id)
    {
        debugger;

        showLoadingImage();
        $.ajax({
            url: '@Url.Action("DeleteDocument", "DataEntry")',
            data: {Id:Id},
            type: "POST",
            dataType: 'json',
            success: function (data) {
                debugger;
                 var Edit = '@Model.IsEdit';
                    if(Edit == 'True') {
                        Edit = true;
                    }
                    if (Edit == 'False') {
                        Edit = false;
                    }
                $("#myModalEditDocument").modal("hide");
                ShowDetails(@Model.BatchDebtAccountId, Edit);
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == true) {
                    DocumentDeletePopup();
                    hideLoadingImage();
                }
                else {
                    $('#errorMsg').show();
                    $("#myModalEditDocument").modal("hide");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
                $("#myModalEditDocument").modal("show");
            }
        });
    }


    function DocumentDeletePopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Document Details Has Been Deleted.",
            type: "success",
            //showDoneButton: true,
            //closeOnDone: true,
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>




