﻿@model CRFView.Adapters.Collections.DataEntry.DataEntry.ViewModels.BatchDebtAccountVM
@{
    Layout = null;
}

<style>
    .NopaddingLR {
        padding-right: 10px !important;
        padding-left: 0px !important;
    }
</style>

<form id="FormEditBatchDebtAccountInfo">
    <div class="modal-header">
        <h3 class="Details-Heading" style="margin-top: 15px;">
            <label>New Account Entry</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">

        <div class="col-xs-12 form-group ">
            <div class="col-xs-2">
                <lable>Client</lable>
            </div>
            <div class="col-xs-7">
                @Html.DropDownListFor(m => m.ddlServiceCodes, new SelectList(Model.ServiceCodesList, "Name", "Code"), "--Select--", new { @class = "form-control", @onchange = "ServiceCodesEditddlChange(this.value)"})
            </div>

            <div class="col-xs-1">
                <lable>Batch</lable>
            </div>
            <div class="col-xs-2">
                @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.BatchId, new { @class = "form-control", style = "display:inline;", @readonly = true })
            </div>
        </div>


        <div class="col-xs-12 form-group ">
            <div class="col-xs-2">
                <lable>Client Info</lable>
            </div>
            <div class="col-xs-10" style="font-size: larger;">
                @Html.DisplayFor(m => m.lblClientInfo, new { @class = "form-control", style = "display:inline;" })
            </div>
        </div>

        <div class="col-xs-12 form-group ">
            <div class="col-xs-2">
                <lable>New Bus Var</lable>
            </div>
            <div class="col-xs-10" style="font-size: larger;">
                @Html.DisplayFor(m => m.lblMiscVar, new { @class = "form-control", style = "display:inline;" })
            </div>
            <br />
            <br />
        </div>

        <div class="nav-tabs-horizontal" data-plugin="tabs" style="padding-left:40px;">
            <ul class="nav nav-tabs" role="tablist">
                <li id="MainInfo" class="nav-item active" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabEditMainInfo" aria-controls="TabMainInfo" role="tab" aria-selected="false">Main Info</a></li>
                <li id="AdditionalAddresses" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabEditAdditionalAddresses" aria-controls="TabEditAdditionalAddresses" role="tab" aria-selected="false">Additional Addresses</a></li>
                <li id="Documents" class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#TabEditDocument" aria-controls="TabEditDocument" role="tab" aria-selected="false">Documents</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="TabEditMainInfo" role="tabpanel">
                <br />
                <div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Ref #</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.AccountNo, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Date Assigned</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.ReferalDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Region#</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.BranchNum, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Last Charge</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.LastServiceDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Debtor Name</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.DebtorName, new { @class = "form-control", style = "width: 125 %;" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Last Payment</lable>
                                </div>
                                <div class="col-xs-4">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.LastPaymentDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Contact</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.ContactName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Total Due</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.TotAsgAmt, new { @onblur = "formatCurrency(this)", @class = "form-control", Value = String.Format("{0:C}", Model.obj_BatchDebtAccountEdit.TotAsgAmt) })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Address</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.AddressLine1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-4 checkbox-sm" style="white-space: nowrap; ">
                                    @Html.CheckBoxFor(m => m.chkRate)
                                    &nbsp;
                                    <lable>Special Rate</lable>
                                </div>
                                <div class="col-xs-5" id="divEditRate" style="@(Model.chkRate == false ? "display:none" : "display:block")">
                                    @Html.DropDownListFor(m => m.ddlCommRateId, Model.CommRateIdList, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable></lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.AddressLine2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6" id="divExchRate" style="@(ViewBag.divExchRate == "Show divExchRate" ? "display:block" : "display:none")">
                                <div class="col-xs-4">
                                    <lable>Exch Rate</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.ExchangeRate, new { @class = "form-control", Value = "0", @type = "number", @min = "0" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>City</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.City, new { @class = "form-control" })
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>State</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.State, new { @class = "form-control" })
                                </div>
                                <div class="col-xs-1">
                                    <lable>Zip</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PostalCode, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", @style = "width:150%;" })
                                </div>
                            </div>
                            <div class="col-xs-6"  style="display:none;">
                                <div class="col-xs-4">
                                    <lable>Agent Code</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.ClientAgentCode, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Ph 1</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PhoneNo, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })

                                </div>
                                <div class="col-xs-1" style="margin-left: -20px;">
                                    <lable>Ext</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PhoneNoExt, new { @class = "form-control", @style = "width:165%;" })
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Ph 2</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PhoneNo2, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-xs-6">
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Ph 3</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.Cell, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-xs-6">

                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkEstAudit)
                                    &nbsp;
                                    <lable>Est/Audit</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkRapidRebate)
                                    &nbsp;
                                    <lable>Rapid Rebate</lable>
                                </div>


                            </div>
                        </div>


                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Fax</lable>
                                </div>
                                <div class="col-xs-5">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.Fax, new { @onblur = "formatFax(this)", @maxlength = "10", @class = "form-control" })
                                </div>

                            </div>
                            <div class="col-xs-6">

                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkInternational)
                                    &nbsp;
                                    <lable>International</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkSkip)
                                    &nbsp;
                                    <lable>Skip</lable>
                                </div>


                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Email</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.Email, new { @class = "form-control", style = "width: 125 %;" })
                                </div>

                            </div>
                            <div class="col-xs-6">

                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkJudgment)
                                    &nbsp;
                                    <lable>Judgment</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkSecondary)
                                    &nbsp;
                                    <lable>Secondary</lable>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>SS#</lable>
                                </div>
                                <div class="col-xs-5">
                                    @*@Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.TaxId, new
                                           {
                                               @onblur = "formatSSN(this)",
                                               @maxlength = "9",
                                               @class = "form-control",
                                               style = "display:inline;text-align: center;",
                                               Value = string.IsNullOrEmpty(Model.obj_BatchDebtAccountEdit.TaxId) ? "" :
                                         Model.obj_BatchDebtAccountEdit.TaxId.Contains("-") ? Model.obj_BatchDebtAccountEdit.TaxId :
                                       String.Format("{0}-{1}-{2}"
                            , Model.obj_BatchDebtAccountEdit.TaxId.Substring(0, 3)
                             , Model.obj_BatchDebtAccountEdit.TaxId.Substring(3, 4)
                                 , Model.obj_BatchDebtAccountEdit.TaxId.Substring(5, Model.obj_BatchDebtAccountEdit.TaxId.Length - 6))
                                           })*@

                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.TaxId, new
                                   {
                                       @onblur = "formatSSN(this)",
                                       @maxlength = "9",
                                       @class = "form-control",
                                       style = "display:inline;"})

                                    @*@Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.TaxId, new { @class = "form-control" })*@
                                </div>

                            </div>
                            <div class="col-xs-6">

                                <div class="col-xs-6 checkbox-sm">
                                    @Html.CheckBoxFor(m => m.chkNoCollectionFee)
                                    &nbsp;
                                    <lable>No Collection Fee</lable>
                                </div>
                                <div class="col-xs-6 checkbox-sm" id="divTenDayContactPlan" style="white-space: nowrap; @(ViewBag.divTenDayContactPlan == "Hide divTenDayContactPlan" ? "display:none" : "display:block")">
                                    @Html.CheckBoxFor(m => m.chkTenDayContactPlan)
                                    &nbsp;
                                    <lable>10 Day Contact Plan</lable>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="col-xs-6">
                                <div class="col-xs-4">
                                    <lable>Misc Note</lable>
                                </div>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.AccountNote, new { @class = "form-control" })
                                </div>
                            </div>                           

                        </div>

                    </div>

                </div>
            </div>

            <div class="tab-pane" id="TabEditAdditionalAddresses" role="tabpanel">
                <br />
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <fieldset class="customFieldset">
                            <legend>Address 2</legend>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Contact</lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.ContactName_2, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Address</lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.AddressLine1_2, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable></lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.AddressLine2_2, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>City</lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.City_2, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <lable>State</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.State_2, new { @class = "form-control", style = "width: 150%;" })
                                </div>
                                <div class="col-xs-1" style="margin-left: 15px;">
                                    <lable>Zip</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PostalCode_2, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "width: 170%;" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Ph 1</lable>
                                    </div>
                                    <div class="col-xs-5">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PhoneNo_2, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })

                                    </div>
                                    <div class="col-xs-1" style="margin-left: -20px;">
                                        <lable>Ext</lable>
                                    </div>
                                    <div class="col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PhoneNoExt_2, new { @class = "form-control", @style = "width:165%;" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Ph 2</lable>
                                    </div>
                                    <div class="col-xs-5">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.Cell_2, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })
                                    </div>

                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Email</lable>
                                    </div>
                                    <div class="col-xs-8">
                                        
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.Email_2, new { @class = "form-control" })
                                    </div>

                            </div>
                        </fieldset>
                    </div>

                    <div class="col-xs-6">
                        <fieldset class="customFieldset">
                            <legend>Address 3</legend>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Contact</lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.ContactName_3, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Address</lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.AddressLine1_3, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable></lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.AddressLine2_3, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>City</lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.City_3, new { @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                <div class="col-xs-4">
                                    <lable>State</lable>
                                </div>
                                <div class="col-xs-2">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.State_3, new { @class = "form-control", style = "width: 150%;" })
                                </div>
                                <div class="col-xs-1" style="margin-left: 15px;">
                                    <lable>Zip</lable>
                                </div>
                                <div class="col-xs-3">
                                    @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PostalCode_3, new { @onblur = "formatZip(this)", @maxlength = "9", @class = "form-control", style = "width: 170%;" })
                                </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Ph 1</lable>
                                    </div>
                                    <div class="col-xs-5">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PhoneNo_3, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })

                                    </div>
                                    <div class="col-xs-1" style="margin-left: -20px;">
                                        <lable>Ext</lable>
                                    </div>
                                    <div class="col-xs-2">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.PhoneNoExt_3, new { @class = "form-control", @style = "width:165%;" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Ph 2</lable>
                                    </div>
                                    <div class="col-xs-5">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.Cell_3, new { @onblur = "formatPhone(this)", @maxlength = "10", @class = "form-control" })
                                    </div>
                            </div>

                            <div class="col-xs-12 form-group">
                                    <div class="col-xs-4">
                                        <lable>Email</lable>
                                    </div>
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(m => m.obj_BatchDebtAccountEdit.Email_3, new { @class = "form-control" })
                                    </div>
                            </div>
                        </fieldset>
                    </div>
                </div>


            </div>

            <div class="tab-pane" id="TabEditDocument" role="tabpanel">
                <br />
                <div class="col-xs-12">
                    <br />
                    <input type="button" id="btnNewDocuments" class="btn btn-primary pull-left" value="New Document" onclick="AddDocument()">
           
                    <br />
                    <br />
                    <div id="tableDataEntryDocumentsDiv">
                        <table id="tblDataEntryDocuments" class="table table-bordered dataTable table-hover grid " border="1">
                            <thead>
                                <tr>
                                    <th class="no-sort" style="width: 30px;">Edit</th>
                                    <th style="width: 30px;">View</th>
                                    <th style="width: 162px;">Date Created</th>
                                    <th style="width: 120px;">User Code</th>
                                    <th style="width: 135px;">Document Type</th>
                                    <th>Document Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model.obj_DebtAccountAttachment)
                                {
                                    <tr>
                                        <td>
                                            <span class="input-icon">
                                                <input type="button" id="btnShowDocuments" value="" onclick="ShowDocumentDetails(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-edit" aria-hidden="true"></i>
                                            </span>
                                             
                                      </td>
                                        <td>
                                            <span class="input-icon">
                                                <input type="button" onclick="ViewDocument(@i.Id)" class="btn btn-default btn-icon btn-pure">
                                                <i class="icon wb-eye" aria-hidden="true"></i>
                                            </span>
</td>
                                        <td>@i.DateCreated</td>
                                        <td>@i.UserCode</td>
                                        <td>@i.DocumentType</td>
                                        <td>@i.DocumentDescription</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <div id="hiddenFields">
        @Html.HiddenFor(m => m.BatchDebtAccountId)
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.UniqueId)
        @Html.HiddenFor(m => m.BatchId)
        @Html.HiddenFor(m => m.ContractId)
        @Html.HiddenFor(m => m.BranchBox)
        @Html.HiddenFor(m => m.IsIntlClient) 
        @Html.HiddenFor(m => m.IsTenDayContactPlan)
        @Html.HiddenFor(m=>m.ddlServiceCodes)
    </div>

    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnDeleteBatchDebtAccount" value="Delete" class="btn btn-primary" style="float:left" onclick="DeleteBatchDebtAccount()" />
            <input type="button" id="btnUpdateBatchDebtAccount" value="Save" class="btn btn-primary" onclick="UpdateBatchDebtAccount()" />
            <input type="button" value="Cancel" id="btnCancelBatchDebtAccount" class="btn btn-primary" data-dismiss="modal" />
        </div>
    </div>
</form>

<script>
    function formatZip(zipfield) {
        var zip = zipfield.value.replace(/[^0-9]/g, '');
        $(zipfield).val(zip.replace(/^(\d{5})(\d{4})+$/, "$1-$2"));
    }

    $("[name='chkRate']").click(function () {
        debugger;
        var chkRate = $(this).val();

        if (this.checked) {
            $('#divEditRate').show();
        }
        else {
            $('#divEditRate').hide();
        }
    });

    function ServiceCodesEditddlChange(UniqueId) {
        debugger;
        $("#UniqueId").val(UniqueId);
        $("#ddlServiceCodes").val(UniqueId);

        var txtTotAsgAmt = document.getElementById("obj_BatchDebtAccountEdit_TotAsgAmt");
        var TotAsgAmt = txtTotAsgAmt.value;
        TotAsgAmt = TotAsgAmt.replace("$", "");
        TotAsgAmt = TotAsgAmt.replace(",", "");
        if (isNaN(TotAsgAmt)) {
            alert('TotAsgAmt is invalid.');
            txtTotAsgAmt.focus();
            hideLoadingImage();
            return false;
        }
    
        $("#obj_BatchDebtAccountEdit_TotAsgAmt").val(TotAsgAmt);

        var data = $('#FormEditBatchDebtAccountInfo').serialize();
       
        $.ajax({
            url: '@Url.Action("GetServiceCodesEditddlDetails", "DataEntry")',
            //data: { UniqueId: UniqueId }, 
            data: data,
            success: function (data) {
                debugger;
                if (data) {


                    $('#myModalEditBatchDebtAccount .modal-content').html(data);
                    $('#myModalEditBatchDebtAccount').modal("show");

                    //To set Current Date
                    var date = new Date();
                    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                    var ReferalDate = $('#obj_BatchDebtAccountEdit_ReferalDate').val();
                    if (ReferalDate == "01/01/01" || ReferalDate == "1/1/0001 12:00:00 AM" || ReferalDate == "") {
                        $('#obj_BatchDebtAccountEdit_ReferalDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                    }
                    else {
                        $('#obj_BatchDebtAccountEdit_ReferalDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    }

                    var LastServiceDate = $('#obj_BatchDebtAccountEdit_LastServiceDate').val();
                    if (LastServiceDate == "01/01/01" || LastServiceDate == "1/1/0001 12:00:00 AM" || LastServiceDate == "") {
                        $('#obj_BatchDebtAccountEdit_LastServiceDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');
                    }
                    else {
                        $('#obj_BatchDebtAccountEdit_LastServiceDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    }

                    var LastPaymentDate = $('#obj_BatchDebtAccountEdit_LastPaymentDate').val();
                    if (LastPaymentDate == "01/01/01" || LastPaymentDate == "1/1/0001 12:00:00 AM" || LastPaymentDate == "") {
                        $('#obj_BatchDebtAccountEdit_LastPaymentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');
                    }
                    else {
                        $('#obj_BatchDebtAccountEdit_LastPaymentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                    }

                }
                else {
                    $('#errorMsg').show();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
            }
        });
    }


    function UpdateBatchDebtAccount() {
        debugger;

        showLoadingImage();

        var ServiceCodesId = $("#ddlServiceCodes").val();

        if (ServiceCodesId < 0 || ServiceCodesId == "") {
            alert('Please Select Client.');
            hideLoadingImage();
            return false;
        }

        //var BatchId = $("#ddlBatchId").val();

        //if (BatchId < 0 || BatchId == "") {
        //    alert('Please BatchId.');
        //    hideLoadingImage();
        //    return false;
        //}

        var txtDebtorName = document.getElementById("obj_BatchDebtAccountEdit_DebtorName");

        if (txtDebtorName.value == "" || txtDebtorName.value == null) {
            alert("Please enter Debtor Name.");
            txtDebtorName.focus();
            hideLoadingImage();
            return false;
        }

        var txtAddressLine1 = document.getElementById("obj_BatchDebtAccountEdit_AddressLine1");

        if (txtAddressLine1.value == "" || txtAddressLine1.value == null) {
            alert("Please enter Address.");
            txtAddressLine1.focus();
            hideLoadingImage();
            return false;
        }

        var txtCity = document.getElementById("obj_BatchDebtAccountEdit_City");

        if (txtCity.value == "" || txtCity.value == null) {
            alert("Please enter City.");
            txtCity.focus();
            hideLoadingImage();
            return false;
        }

        var txtState = document.getElementById("obj_BatchDebtAccountEdit_State");

        if (txtState.value == "" || txtState.value == null) {
            alert("Please enter State.");
            txtState.focus();
            hideLoadingImage();
            return false;
        }

        var BranchBox = $("#BranchBox").val();
        var txtBranchNum = document.getElementById("obj_BatchDebtAccountEdit_BranchNum");
        if (BranchBox  == "True" && txtBranchNum.value.length < 1)
        {
            alert("Region#/Branch# is required on this client");
            txtBranchNum.focus();
            hideLoadingImage();
            return false;
        }

        var txtLastServiceDate = document.getElementById("obj_BatchDebtAccountEdit_LastServiceDate");
        var txtLastPaymentDate = document.getElementById("obj_BatchDebtAccountEdit_LastPaymentDate");
        var txtReferalDate = document.getElementById("obj_BatchDebtAccountEdit_ReferalDate");

        if (txtReferalDate.value == "" || txtReferalDate.value == null) {
            alert("Please enter Date Assign.");
            txtReferalDate.focus();
            hideLoadingImage();
            return false;
        }

        if (txtLastServiceDate.value.length < 1 && txtLastPaymentDate.value.length < 1) {
            alert("Please enter Last Chg or Last Pay Date.");
            txtLastServiceDate.focus();
            hideLoadingImage();
            return false;
        }

        if (txtLastServiceDate.value.length > 1) {
            var t1 = txtLastServiceDate.value;
            var t2 = txtReferalDate.value;

            var one_day = 1000 * 60 * 60 * 24;

            var x = t1.split("/");

            var y = t2.split("/");

           // var date1 = new Date(x[2], (x[1] - 1), x[0]);

            //var date2 = new Date(y[2], (y[1] - 1), y[0]);
            var date1 = new Date(parseInt(x[2]), (parseInt(x[0]) - 1), parseInt(x[1]));
            var date2 = new Date(parseInt(y[2]), (parseInt(y[0]) - 1), parseInt(y[1]));


            var month1 = x[1] - 1;
            var month2 = y[1] - 1;

            var diffDays = Math.ceil((date2.getTime() - date1.getTime()) / (one_day));

            if (diffDays < 32)
            {
                alert("The Last Charge Date must be 31 days or older than the Date Assigned.");
                txtLastServiceDate.focus();
                hideLoadingImage();
                return false;
            }
        }

        if (txtLastPaymentDate.value.length > 1) {
            var t1 = txtLastPaymentDate.value;
            var t2 = txtReferalDate.value;

            var one_day = 1000 * 60 * 60 * 24;

            var x = t1.split("/");

            var y = t2.split("/");

            //var date1 = new Date(x[2], (x[1] - 1), x[0]);

            //var date2 = new Date(y[2], (y[1] - 1), y[0]);

            var date1 = new Date(parseInt(x[2]), (parseInt(x[0]) - 1), parseInt(x[1]));
            var date2 = new Date(parseInt(y[2]), (parseInt(y[0]) - 1), parseInt(y[1]));


            var month1 = x[1] - 1;
            var month2 = y[1] - 1;

            var diffDays = Math.ceil((date2.getTime() - date1.getTime()) / (one_day));

            if (diffDays < 32) {
                alert("The Last Payment Date must be 31 days or older than the Date Assigned.");
                txtLastPaymentDate.focus();
                hideLoadingImage();
                return false;
            }
        }

        var txtTotAsgAmt = document.getElementById("obj_BatchDebtAccountEdit_TotAsgAmt");
        var TotAsgAmt = txtTotAsgAmt.value;
        TotAsgAmt = TotAsgAmt.replace("$", "");
        TotAsgAmt = TotAsgAmt.replace(",", "");
        if (isNaN(TotAsgAmt)) {
            alert('TotAsgAmt is invalid.');
            txtTotAsgAmt.focus();
            hideLoadingImage();
            return false;
        }
        debugger;
        if (TotAsgAmt <= 0) {
            alert('TotAsgAmt is required.');
            txtTotAsgAmt.focus();
            hideLoadingImage();
            return false;
        }

        $("#obj_BatchDebtAccountEdit_TotAsgAmt").val(TotAsgAmt);

        debugger;
        var data = $('#FormEditBatchDebtAccountInfo').serialize();
    
        $.ajax({
            url: '@Url.Action("UpdateBatchDebtAccountInfo", "DataEntry")',
            data: data,
            type: "POST",
            success: function (data) {
                debugger;
                var BatchId = @Model.obj_BatchDebtAccountEdit.BatchId;
                LoadDebtAccountListByBatchId(BatchId);

                $("#myModalEditBatchDebtAccount").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == 1) {
                    debugger;
                    BatchDebtAccountUpdatedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditBatchDebtAccount").modal("hide");
                hideLoadingImage();
            }
        });
    }

    function BatchDebtAccountUpdatedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Updated!",
            text: "Your Batch DebtAccount  Info Details Has Been Saved.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function AddDocument()
    {
        debugger;
        showLoadingImage();
        var BatchDebtAccountId = @Model.BatchDebtAccountId;
        $.ajax({
            url: '@Url.Action("AddDocument", "DataEntry")',
            data: { BatchDebtAccountId: BatchDebtAccountId},
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModalEditBatchDebtAccount').modal("hide");
                $('#myModalAddDocument .modal-content').html(data);
                $('#myModalAddDocument').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#ObjDebtAccountAttachment_DateCreated').datepicker({ format: 'mm/dd/yyyy'}).datepicker('setDate', today);

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ShowDocumentDetails(DebtDocumentId) {
        debugger;
        showLoadingImage();
        var BatchDebtAccountId = @Model.BatchDebtAccountId;
        $.ajax({
            url: '@Url.Action("GetDocumentDetails", "DataEntry")',
            data: { DebtDocumentId: DebtDocumentId ,BatchDebtAccountId: BatchDebtAccountId},
            type: "POST",
            success: function(data) {
                debugger;
                $('#myModalAddBatchDebtAccount').modal("hide");
                $('#myModalEditBatchDebtAccount').modal("hide");
                $('#myModalEditDocument .modal-content').html(data);
                $('#myModalEditDocument').modal("show");

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

                var DateCreated = $('#ObjDebtAccountAttachmentEdit_DateCreated').val();

                if (DateCreated == "01/01/01" || DateCreated == "1/1/0001 12:00:00 AM" || DateCreated == "") {
                    $('#ObjDebtAccountAttachmentEdit_DateCreated').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                }
                else {
                    $('#ObjDebtAccountAttachmentEdit_DateCreated').datepicker({ format: 'mm/dd/yyyy' }).datepicker();
                }

                hideLoadingImage();
            },
            fail: function(error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function ViewDocument(Id) {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("ViewDocument", "DataEntry")',
            data: { Id: Id},
            type: "POST",
            success: function (data) {
                debugger;
                if (data != "error") {
                    window.open(data);
                    hideLoadingImage();
                }
                else {
                    hideLoadingImage();
                }
                return false;
            },
            fail: function (error) {
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }

    function DeleteBatchDebtAccount() {
        debugger;
        var BatchDebtAccountId = @Model.BatchDebtAccountId;
        $.ajax({

            url: '@Url.Action("DeleteBatchDebtAccount", "DataEntry")',
            data: { BatchDebtAccountId: BatchDebtAccountId },
            type: "POST",
            success: function (data) {
                debugger;
                 var BatchId = @Model.obj_BatchDebtAccountEdit.BatchId;
                LoadDebtAccountListByBatchId(BatchId);
                $("#myModalEditBatchDebtAccount").modal("hide");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                if (data == 1) {
                    debugger;
                    BatchDebtAccountDeletedSuccessPopup();
                    hideLoadingImage();
                }
                else if (data == 0) {
                    alert("Error.");
                    hideLoadingImage();
                }
            },
            fail: function (error) {
                $('#errorMsg').show();
                $("#myModalEditBatchDebtAccount").modal("hide");
                hideLoadingImage();
            }
        })
    }

    function BatchDebtAccountDeletedSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Your Batch DebtAccount  Info Details Has Been Deleted.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }
</script>
