﻿@model CRFView.Adapters.Collections.DataEntry.DataEntry.ViewModels.FilterVM
@{
    Layout = null;
}

<style>


</style>

<form id="FormFilter">
    <div class="modal-header">
        <h3 class="Details-Heading">
            <label>New Account Filter</label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 10px;">
                <span aria-hidden="true">×</span>
            </button>
        </h3>
    </div>
    <div class="modal-body" style="text-align:left">

            <div class="col-xs-12 form-group ">
                <div class="col-xs-3">
                    <lable>My Open Batches</lable>
                </div>
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.FilterObj.ddlBatchId, Model.BatchIdList , new { @class = "form-control"})
                </div>
                <div class="col-xs-1"> 
                </div>
                <div class="col-xs-3">
                    <input type="button" id="btnEditAccountCreateNewBatch" value="Create New Batch" onclick="CreateNewBatch()">
                </div>
            </div>

        <div class="col-xs-12 form-group ">
            <div class="col-xs-3">
                <lable>By Name</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.FilterObj.DebtorName, new { @class = "form-control" })
            </div>
            <div class="col-xs-1"> 
            </div>
            <div class="col-xs-3">
                <input type="button" id="btnEditAccountDeleteBatch" value="Delete This Batch" onclick="DeleteBatch()" style="background : red;">
            </div>
        </div>

        <div class="col-xs-12 form-group ">
            <div class="col-xs-3">
                <lable>By Account Number</lable>
            </div>
            <div class="col-xs-5">
                @Html.TextBoxFor(m => m.FilterObj.AccountNumber, new { @class = "form-control"})
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-3">
                <input type="button" id="btnEditAccountReleaseBatch" value="Release This Batch" onclick="ReleaseBatch()">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:20px;">
            <input type="button" id="btnsave" value="Search" class="btn btn-primary" onclick="filter()" />
            <input type="button" value="Cancel" id="CancelModal" class="btn btn-primary" data-dismiss="modal" onclick="CloseModal()"/>
        </div>
    </div>

</form>

<script>
 
    function CloseModal() {
        $('#myModal').modal("hide");
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }

    function filter() {
        debugger;

            showLoadingImage();
            $('#myModal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $.ajax({
                url: '@Url.Action("GetFilterResult", "DataEntry")',
                data: $('#FormFilter').serialize(),
                type: "POST",
                success: function (data) {
                    $('#list').html(data);
                    makeDatatable('tblDataEntry');
                    hideLoadingImage();
                },
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
    }


    function CreateNewBatch() {
        debugger;
        showLoadingImage();
        $('#myModal').modal("hide");
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        $.ajax({
            url: '@Url.Action("CreateNewBatch", "DataEntry")',         
            success: function (data) {
                debugger;
                CreateNewBatchSuccessPopup();
             
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) { 
                hideLoadingImage();
                $('#errorMsg').show();
            }


        });
    }

    function CreateNewBatchSuccessPopup() {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "New Batch Created Successfully.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }


    function ReleaseBatch() {
        debugger;
        showLoadingImage();
        var BatchId = $("#FilterObj_ddlBatchId").val();
        $('#myModal').modal("hide");
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("ReleaseBatch", "DataEntry")',        
            data: { BatchId: BatchId },
            success: function (data) {
                if (data == 1)
                {
                    ReleaseBatchSuccessPopup(BatchId);
                }
                else
                {
                    ReleaseBatchErrorPopup(BatchId);
                    //alert("Unable to Release Batch - "+BatchId+", Please Fix Errors");
                }
             
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show"); 
                hideLoadingImage();
            },
            fail: function (error) { 
                hideLoadingImage();
                $('#errorMsg').show();
            }
        });
    }


    function ReleaseBatchSuccessPopup(BatchId) {
        debugger;
        swal({
            title: "Successfully Added!",
            text: "Batch - " + BatchId + " Released Successfully.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function ReleaseBatchErrorPopup(BatchId) {
        debugger;
        swal({
            title: "Error!",
            text: "Unable to Release Batch - " + BatchId + ", Please Fix Errors.",
            type: "error",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

    function DeleteBatch() {
        debugger;
        showLoadingImage();
        var BatchId = $("#FilterObj_ddlBatchId").val();
        $('#myModal').modal("hide");
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        swal({
            title: "Are you sure?",
            text: "You want to delete the batch - " + BatchId,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Yes, delete it!',
            closeOnConfirm: false
        }, function (IsConfirm) {
            if(IsConfirm){
            $.ajax({
                url: '@Url.Action("DeleteBatch", "DataEntry")',
                data: { BatchId: BatchId },
                success: function (data) {
                    debugger;
                    if (data) {
                        DeleteBatchSuccessPopup(BatchId);
                    }
                    $('#myModal .modal-content').html(data);
                    $('#myModal').modal("show"); 
                    hideLoadingImage();
                },
                async: false,  // To call controller method synchronously
                fail: function (error) {
                    hideLoadingImage();
                    $('#errorMsg').show();
                }
            });
            //.done(function (data) {
            //    swal("Canceled!", "Your order was successfully canceled!", "success");
            //})
            //.error(function (data) {
            //    swal("Oops", "We couldn't connect to the server!", "error");
            //});
            }
            else
            { 
                $('#myModal').modal("show");
                hideLoadingImage();
            }
        });
    }

    function DeleteBatchSuccessPopup(BatchId) {
        debugger;
        swal({
            title: "Successfully Deleted!",
            text: "Batch - " + BatchId + " Deleted Successfully.",
            type: "success",
            showCancelButton: true,
            cancelButtonText: "OK",
            showConfirmButton: false,
            closeOnConfirm: false,
            closeOnCancel: false
        });
    }

</script>
