﻿@model CRFView.Adapters.Collections.DataEntry.DataEntry.ViewModels.BatchDebtAccountFilterListVM
@{
    Layout = null;
}

<div>
    <h3 class="page-header" style="margin-top:-50px;">Data Entry</h3>
    <hr />
    <div class="panel-body">
        @{Html.RenderPartial("~/Views/Shared/_MsgDiv.cshtml");}
        <div style="padding-bottom:45px">
            <div id="divAdd">
                <button type="button" id="btnAdd" class="btn btn-primary pull-left" onclick="AddBatchDebtAccount();"><i class=""></i>Add</button>
            </div>
            <div id="divFilter">
                <button type="button" id="btnFilter" class="btn btn-primary pull-left" onclick="FilterBatchDebtAccount();" style="margin-left: 10px;"><i class=""></i>Back to Filter</button>
            </div>

                </div>
        <div id="list">
            @{Html.RenderPartial("~/Views/CRFViewCollections/DataEntry/DataEntry/_BatchDebtAccountList.cshtml");} 
           </div>

        <div id="EditBatchDebtAccount">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>



<div class="modal modal-primary fade" id="myModalAddBatchDebtAccount" role="dialog">
    <div class="modal-dialog " style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditBatchDebtAccount" role="dialog">
    <div class="modal-dialog " style="width:900px !important">

        <!-- Modal content-->
        <div class="modal-content" style="width:900px !important">

        </div>

    </div>
</div>


<div class="modal modal-primary fade" id="myModalAddDocument" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>

<div class="modal modal-primary fade" id="myModalEditDocument" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>

    </div>
</div>


<script type="text/javascript">

    function OnPartialLoad() {
    }

    function FilterBatchDebtAccount() {
        debugger;
        showLoadingImage();
        $.ajax({
            url: '@Url.Action("ShowFilterModal", "DataEntry")',
            success: function (data) {
                $('#myModal .modal-content').html(data);
                $('#myModal').modal("show");
                hideLoadingImage();
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }

    function AddBatchDebtAccount() {
        debugger;
        showLoadingImage();

        $.ajax({
            url: '@Url.Action("ShowAddBatchDebtAccountModal", "DataEntry")',
            success: function (data) {
                debugger;
                $('#myModalAddBatchDebtAccount .modal-content').html(data);
                $('#myModalAddBatchDebtAccount').modal("show");

                makeDatatable('tblDataEntryDocumentsAdd');

                //To set Current Date
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#obj_BatchDebtAccount_ReferalDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', today);
                //$('#obj_BatchDebtAccount_LastServiceDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                //$('#obj_BatchDebtAccount_LastPaymentDate').datepicker({ format: 'mm/dd/yy' }).datepicker('setDate', today);
                $('#obj_BatchDebtAccount_LastServiceDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');
                $('#obj_BatchDebtAccount_LastPaymentDate').datepicker({ format: 'mm/dd/yyyy' }).datepicker('setDate', '');

                hideLoadingImage();
               // makeDatatable('tblDataEntryDoc');
                
            },
            fail: function (error) {
                $('#errorMsg').show();
                hideLoadingImage();
            }
        });
    }


</script>

